USE [branco]
GO
/****** Object:  StoredProcedure [dbo].[cn_Ativo]    Script Date: 7/31/2025 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cn_Ativo] (	@pPakage				VARCHAR(200),
									@pDescricao				VARCHAR(50)) AS

-----consulta ativo (TODOS)
IF @pPAKAGE IN ('sp_Ativo','sp_Consumidor','sp_Matricula', 'sp_Usuario','sp_Centro_Custo','sp_Conglomerado','sp_Tipo','sp_Modelo', 'sp_Conta')
BEGIN
	SELECT	DISTINCT VWAT.Id_Ativo AS Id_Ativo,
			VWAT.Nr_Ativo AS Nr_Ativo,
			AT.Nm_Ativo_Tipo AS Tipo,
			COG.Nm_Conglomerado AS Nm_Conglomerado,
			CO.Nm_Consumidor AS Nm_Consumidor,
			(SELECT RIGHT(CONVERT(VARCHAR,Dt_Lote,106),8) FROM Lote WHERE Id_Lote IN (SELECT MAX(Id_Lote) FROM Lote WHERE Id_Ativo = VWAT.Id_Ativo)) AS Dt_Lote,
			(SELECT Total FROM Lote WHERE Id_Lote IN (SELECT MAX(Id_Lote) FROM Lote WHERE Id_Ativo = VWAT.Id_Ativo)) AS Total,
			dbo.Fu_Link_HTTP ('Ativo.aspx',VWAT.Id_Ativo,'RAIZ') AS Link,
			dbo.Fu_Link_HTTP ('Usuario_Perfil.aspx',US.Id_Usuario,'RAIZ') + '&ID_Voltar=true' AS Periodo,
			'Grid_Deletar.png' AS Lixeira
	FROM	vw_Ativo VWAT	INNER JOIN Conglomerado COG ON (VWAT.Id_Conglomerado = COG.Id_Conglomerado)
							INNER JOIN Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = VWAT.Id_Ativo_Tipo)
							LEFT JOIN Lote LT ON (LT.Id_Ativo = VWAT.Id_Ativo)
							LEFT JOIN vw_Alocacao_Ativo_Consumidor VWATCO ON (VWAT.Id_Ativo = VWATCO.Id_Ativo)
							LEFT JOIN vw_Consumidor CO ON (CO.Id_Consumidor = VWATCO.Id_Consumidor)
							LEFT JOIN Ativo_Modelo AM ON (AM.Id_Ativo_Modelo = VWAT.Id_Ativo_Modelo)
							LEFT JOIN Centro_Custo CC ON (CC.Id_Centro_Custo = VWATCO.Id_Centro_Custo)
							LEFT JOIN vw_Usuario US ON (US.Id_Consumidor =  CO.Id_Consumidor)
	WHERE	(@pPAKAGE = 'sp_Ativo' AND VWAT.Nr_Ativo LIKE '%'+@pDescricao+'%')
			OR (@pPAKAGE = 'sp_Consumidor' AND CO.Nm_Consumidor LIKE '%'+@pDescricao+'%')
			OR (@pPAKAGE = 'sp_Matricula' AND CO.Matricula LIKE '%'+@pDescricao+'%')
			OR (@pPAKAGE = 'sp_Usuario' AND US.Nm_Usuario LIKE '%'+@pDescricao+'%')
			OR (@pPAKAGE = 'sp_Centro_Custo' AND CC.Cd_Centro_Custo LIKE '%'+@pDescricao+'%')
			OR (@pPAKAGE = 'sp_Conglomerado' AND COG.Nm_Conglomerado LIKE '%'+@pDescricao+'%')
			OR (@pPAKAGE = 'sp_Tipo' AND AT.Nm_Ativo_Tipo LIKE '%'+@pDescricao+'%')
			OR (@pPAKAGE = 'sp_Modelo' AND AM.Nm_Ativo_Modelo LIKE '%'+@pDescricao+'%')
			OR (@pPAKAGE = 'sp_Conta' AND LT.DC_Nr_Nota_Fiscal LIKE '%'+@pDescricao+'%')
			OR @pDescricao IS NULL
	ORDER BY VWAT.Nr_Ativo
END

-----consulta ativo (VAGO)
IF @pPAKAGE ='sp_Ativo_Sem_Usuario'
BEGIN
	SELECT	DISTINCT VWAT.Id_Ativo AS Id_Ativo,
			VWAT.Nr_Ativo AS Nr_Ativo,
			AT.Nm_Ativo_Tipo AS Tipo,
			COG.Nm_Conglomerado AS Nm_Conglomerado,
			'' AS Nm_Consumidor,
			(SELECT RIGHT(CONVERT(VARCHAR,Dt_Lote,106),8) FROM Lote WHERE Id_Lote IN (SELECT MAX(Id_Lote) FROM Lote WHERE Id_Ativo = VWAT.Id_Ativo)) AS Dt_Lote,
			(SELECT Total FROM Lote WHERE Id_Lote IN (SELECT MAX(Id_Lote) FROM Lote WHERE Id_Ativo = VWAT.Id_Ativo)) AS Total,
			dbo.Fu_Link_HTTP ('Ativo.aspx',VWAT.Id_Ativo,'RAIZ') AS Link,
			NULL AS Periodo,
			'Grid_Deletar.png' AS Lixeira
	FROM	vw_Ativo VWAT	INNER JOIN Conglomerado COG ON (VWAT.Id_Conglomerado = COG.Id_Conglomerado)
							INNER JOIN Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = VWAT.Id_Ativo_Tipo) 
							LEFT JOIN Ativo_Modelo AM ON (AM.Id_Ativo_Modelo = VWAT.Id_Ativo_Modelo)
	WHERE	(@pPAKAGE = 'sp_Ativo_Sem_Usuario' AND VWAT.Nr_Ativo LIKE '%'+@pDescricao+'%')
			OR (@pPAKAGE = 'sp_Ativo_Sem_Usuario' AND COG.Nm_Conglomerado LIKE '%'+@pDescricao+'%')
			OR (@pPAKAGE = 'sp_Ativo_Sem_Usuario' AND AT.Nm_Ativo_Tipo LIKE '%'+@pDescricao+'%')
			OR (@pPAKAGE = 'sp_Ativo_Sem_Usuario' AND AM.Nm_Ativo_Modelo LIKE '%'+@pDescricao+'%')
			OR @pDescricao IS NULL
			AND NOT EXISTS(SELECT * FROM vw_Alocacao_Ativo_Consumidor WHERE Id_Ativo = VWAT.Id_Ativo)
	ORDER BY VWAT.Nr_Ativo
END

-----consulta ativo (LIXEIRA)
IF @pPAKAGE ='sp_Lixeira'
BEGIN
	SELECT	DISTINCT VWAT.Id_Ativo AS Id_Ativo,
			VWAT.Nr_Ativo AS Nr_Ativo,
			AT.Nm_Ativo_Tipo AS Tipo,
			COG.Nm_Conglomerado AS Nm_Conglomerado,
			CO.Nm_Consumidor AS Nm_Consumidor,
			(SELECT RIGHT(CONVERT(VARCHAR,Dt_Lote,106),8) FROM Lote WHERE Id_Lote IN (SELECT MAX(Id_Lote) FROM Lote WHERE Id_Ativo = VWAT.Id_Ativo)) AS Dt_Lote,
			(SELECT Total FROM Lote WHERE Id_Lote IN (SELECT MAX(Id_Lote) FROM Lote WHERE Id_Ativo = VWAT.Id_Ativo)) AS Total,
			dbo.Fu_Link_HTTP ('Ativo.aspx',VWAT.Id_Ativo,'RAIZ') AS Link,
			dbo.Fu_Link_HTTP ('Usuario_Perfil.aspx',US.Id_Usuario,'RAIZ') + '&ID_Voltar=true' AS Periodo,
			'Grid_Inserir.png' AS Lixeira
	FROM	dbo.vw_Ativo_Desativado VWAT INNER JOIN Conglomerado COG ON (VWAT.Id_Conglomerado = COG.Id_Conglomerado)
							INNER JOIN Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = VWAT.Id_Ativo_Tipo) 
							LEFT JOIN vw_Alocacao_Ativo_Consumidor VWATCO ON (VWAT.Id_Ativo = VWATCO.Id_Ativo)
							LEFT JOIN vw_Consumidor CO ON (CO.Id_Consumidor = VWATCO.Id_Consumidor)
							LEFT JOIN Ativo_Modelo AM ON (AM.Id_Ativo_Modelo = VWAT.Id_Ativo_Modelo)
							LEFT JOIN Centro_Custo CC ON (CC.Id_Centro_Custo = VWATCO.Id_Centro_Custo)
							LEFT JOIN vw_Usuario US ON (US.Id_Consumidor =  CO.Id_Consumidor)
	WHERE	VWAT.Nr_Ativo LIKE '%'+@pDescricao+'%' OR @pDescricao IS NULL 
	ORDER BY VWAT.Nr_Ativo
END

-----consulta ativo (DADOS COMPLEMENTO)
IF @pPAKAGE ='sp_Dados_Complemento'
BEGIN
	SELECT	DISTINCT VWAT.Id_Ativo AS Id_Ativo,
			VWAT.Nr_Ativo AS Nr_Ativo,
			AT.Nm_Ativo_Tipo AS Tipo,
			COG.Nm_Conglomerado AS Nm_Conglomerado,
			CO.Nm_Consumidor AS Nm_Consumidor,
			(SELECT RIGHT(CONVERT(VARCHAR,Dt_Lote,106),8) FROM Lote WHERE Id_Lote IN (SELECT MAX(Id_Lote) FROM Lote WHERE Id_Ativo = VWAT.Id_Ativo)) AS Dt_Lote,
			(SELECT Total FROM Lote WHERE Id_Lote IN (SELECT MAX(Id_Lote) FROM Lote WHERE Id_Ativo = VWAT.Id_Ativo)) AS Total,
			dbo.Fu_Link_HTTP ('Ativo.aspx',VWAT.Id_Ativo,'RAIZ') AS Link,
			NULL AS Periodo,
			'Grid_Deletar.png' AS Lixeira
	FROM	vw_Ativo VWAT	INNER JOIN Conglomerado COG ON (VWAT.Id_Conglomerado = COG.Id_Conglomerado)
							INNER JOIN Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = VWAT.Id_Ativo_Tipo) 
							LEFT JOIN Ativo_Modelo AM ON (AM.Id_Ativo_Modelo = VWAT.Id_Ativo_Modelo)
							LEFT JOIN vw_Alocacao_Ativo_Consumidor VWATCO ON (VWAT.Id_Ativo = VWATCO.Id_Ativo)
							LEFT JOIN vw_Consumidor CO ON (CO.Id_Consumidor = VWATCO.Id_Consumidor)
	WHERE	(@pPAKAGE = 'sp_Dados_Complemento' AND VWAT.Ativo_Complemento LIKE '%'+@pDescricao+'%')
			OR @pDescricao IS NULL
	ORDER BY VWAT.Nr_Ativo
END
GO
