USE [branco]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Rateio_fixo_ebt_SNU]    Script Date: 7/31/2025 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[cn_T_Rateio_fixo_ebt_SNU] (@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS
	
	SELECT  
			
			AT.Nm_Ativo_Tipo AS Tipo,
			CO.Nm_Conglomerado AS Conglomerado,
			A.Nr_Ativo_Tabela AS Telefone,
			FA.Nr_Fatura AS Conta,
			'00/00/0000' Vencimento,
			'R$ 0,00' 'Valor Juros',
			'R$ 0,00' 'Valor Multa',
			RI.Valor_Fatura AS [Valor Consumo],
			RI.Valor_Fatura AS [Valor Total],
			FA.Nr_Fatura AS Arquivo,
			' ' 'Referencia',
			C.Nm_Consumidor AS Usuario,
			CC.Cd_Centro_Custo AS CC,
			CC.Nm_Centro_Custo AS [Descricao CC]
			INTO #Temp_Export
	FROM	Rateio_Item RI	INNER JOIN vw_Ativo A ON (RI.Id_Ativo = A.Id_Ativo)
							INNER JOIN Conglomerado CO ON (CO.Id_Conglomerado = A.Id_Conglomerado)
							INNER JOIN Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo)
							LEFT JOIN vw_Consumidor C ON (RI.Id_Consumidor = C.Id_Consumidor)
							LEFT JOIN vw_Filial F ON (F.Id_Filial = RI.Id_Filial)
							LEFT JOIN vw_Usuario US ON C.Id_Consumidor = US.Id_Consumidor
							INNER JOIN vw_Centro_Custo CC ON (RI.Id_Centro_Custo = CC.Id_Centro_Custo)
							INNER JOIN Rl_Rateio_Fatura RF ON (RF.Id_Rateio = RI.Id_Rateio)
							INNER JOIN Fatura FA ON (RF.Id_Fatura = FA.Id_Fatura)
	WHERE   SUBSTRING(CONVERT(VARCHAR(6),FA.Dt_Lote,112),1,6) >= @pDt_LoteDe and CO.Nm_Conglomerado = 'EMBRATEL - SNU DDN'
	ORDER BY FA.Nr_Fatura
	
-----exportacao
IF @pPakage = 'sp_Rateio_Fixo_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Rateio_Fixo'
BEGIN
	SELECT * FROM #Temp_Export
END
GO
