USE [branco]
GO
/****** Object:  StoredProcedure [dbo].[pa_Usuario_Grupo]    Script Date: 7/31/2025 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Usuario_Grupo] (	@pPakage				VARCHAR(200),
											@pId_Usuario_Grupo		INT			= NULL,
											@pNm_Usuario_Grupo		VARCHAR(50)	= NULL,
											@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Usuario_Grupo WHERE Id_Usuario_Grupo = @pId_Usuario_Grupo)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Usuario_Grupo 
			SET		Nm_Usuario_Grupo = @pNm_Usuario_Grupo
			WHERE	Id_Usuario_Grupo = @pId_Usuario_Grupo
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Usuario_Grupo (	Nm_Usuario_Grupo) 
			VALUES(	@pNm_Usuario_Grupo)
		END
	END
END

-----desativa resgistro de grupo de usuario
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		-----deleta registro em cascata
		DELETE FROM Rl_Usuario_Grupo_Si_Tela
		WHERE Id_Usuario_Grupo = @pId_Usuario_Grupo

		DELETE FROM	Usuario_Grupo  
		WHERE Id_Usuario_Grupo = @pId_Usuario_Grupo
	END
END

-----desativa resgistro relacionamento de grupo de usuario
IF @pPAKAGE = 'sp_SE_RL'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		-----deleta registro em cascata
		DELETE FROM Rl_Usuario_Grupo_Si_Tela
		WHERE Id_Usuario_Grupo = @pId_Usuario_Grupo
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Usuario_Grupo,'') AS Id_Usuario_Grupo,
			ISNULL(Nm_Usuario_Grupo,'') AS Nm_Usuario_Grupo
	FROM	Usuario_Grupo
	WHERE	Id_Usuario_Grupo = @pId_Usuario_Grupo
END

-----retorna relacionamento de usuario grupo com tela do sistema
IF @pPAKAGE = 'sd_SL_Rl_Usuario_Grupo_Si_Tela'
BEGIN
	SELECT	DISTINCT ISNULL(TEL.Id_Tela,'')	AS Id_Tela,
			MN.Nm_Menu + '-' + ISNULL(TEL.Nm_Tela,'') AS Nm_Tela
	FROM	Rl_Usuario_Grupo_Si_Tela USU INNER JOIN Si_Tela	TEL ON (USU.Id_Tela = TEL.Id_Tela)
										INNER JOIN dbo.Si_Menu MN ON (MN.Id_Menu = TEL.Id_Menu)
	WHERE	USU.Id_Usuario_Grupo = @pId_Usuario_Grupo
	ORDER BY Nm_Tela
END







GO
