USE [branco]
GO
/****** Object:  StoredProcedure [dbo].[pa_Ativo_Tipo_Sub_Grupo]    Script Date: 7/31/2025 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[pa_Ativo_Tipo_Sub_Grupo] (	@pPakage				VARCHAR(200),
													@pId_Ativo_Tipo_Sub_Grupo				INT			= NULL,
													@pNm_Ativo_Tipo_Sub_Grupo				VARCHAR(50)	= NULL,
													@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Ativo_Tipo_Sub_Grupo WHERE Id_Ativo_Tipo_Sub_Grupo = @pId_Ativo_Tipo_Sub_Grupo)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Ativo_Tipo_Sub_Grupo 
			SET		Nm_Ativo_Tipo_Sub_Grupo = @pNm_Ativo_Tipo_Sub_Grupo
			WHERE	Id_Ativo_Tipo_Sub_Grupo = @pId_Ativo_Tipo_Sub_Grupo
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Ativo_Tipo_Sub_Grupo (	Nm_Ativo_Tipo_Sub_Grupo,
								Fl_Desativado) 
			VALUES(	@pNm_Ativo_Tipo_Sub_Grupo,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Ativo_Tipo_Sub_Grupo 
		SET		Fl_Desativado = 1 
		WHERE	Id_Ativo_Tipo_Sub_Grupo = @pId_Ativo_Tipo_Sub_Grupo
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Ativo_Tipo_Sub_Grupo,'') AS Id_Ativo_Tipo_Sub_Grupo,
			ISNULL(Nm_Ativo_Tipo_Sub_Grupo,'') AS Nm_Ativo_Tipo_Sub_Grupo
	FROM	vw_Ativo_Tipo_Sub_Grupo
	WHERE	Id_Ativo_Tipo_Sub_Grupo = @pId_Ativo_Tipo_Sub_Grupo
END
GO
