USE [branco]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Log_Geral]    Script Date: 7/31/2025 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cn_T_Log_Geral] (@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS
	
		select 

log.Id_Usuario,
C.Nm_Consumidor,
log.Data_Hora,
Log.Acao_Executada

into #Temp_Export
from Log_Geral as LOG

inner join Usuario as U on u.Id_Usuario = log.Id_Usuario
inner join consumidor as C on c.Id_Consumidor = u.Id_Consumidor


order by log.Data_Hora desc
	

-----exportacao
IF @pPakage = 'sp_Inventario_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Inventario'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grafrico
IF @pPakage = 'sp_Inventario_Grafico'
BEGIN
	SELECT * FROM #Temp_Export
	--GROUP BY Tipo 
END
GO
