USE [branco]
GO
/****** Object:  StoredProcedure [dbo].[pa_Consumidor_Unidade]    Script Date: 7/31/2025 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Consumidor_Unidade] (	@pPakage				VARCHAR(200),
												@pId_Consumidor_Unidade	INT				= NULL,
												@pId_Consumidor			INT				= NULL,
												@pNm_Unidade			VARCHAR(100)	= NULL,
												@pCNPJ					VARCHAR(20)		= NULL,
												@pIE					VARCHAR(20)		= NULL,
												@pData_Ativacao			DATETIME		= NULL,
												@pObservacao			VARCHAR(800)	= NULL,
												@pEntrega_Contato		VARCHAR(100)	= NULL,
												@pEntrega_Endereco		VARCHAR(600)	= NULL,
												@pEntrega_Telefone		VARCHAR(50)		= NULL,
												@pFaturamento_Contato	VARCHAR(100)	= NULL,
												@pFaturamento_Endereco	VARCHAR(600)	= NULL,
												@pFaturamento_CNPJ		VARCHAR(20)		= NULL,
												@pFaturamento_IE		VARCHAR(20)		= NULL,
												@pFaturamento_Email		VARCHAR(100)	= NULL,
												@pFaturamento_Telefone	VARCHAR(50)		= NULL,
												@pMatricula				VARCHAR(100)	= NULL,
												@pId_Conglomerado		VARCHAR(100)	= NULL,
												@pArray					VARCHAR(MAX)	= NULL,
												@pId_Usuario_Permissao	INT				= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Consumidor_Unidade WHERE Id_Consumidor = @pId_Consumidor)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Consumidor_Unidade
			SET		Nm_Unidade				= @pNm_Unidade,
					CNPJ					= @pCNPJ,
					IE						= @pIE,
					Data_Ativacao			= @pData_Ativacao,
					Observacao				= @pObservacao,
					Entrega_Contato			= @pEntrega_Contato,
					Entrega_Endereco		= @pEntrega_Endereco,
					Entrega_Telefone		= @pEntrega_Telefone,
					Faturamento_Contato		= @pFaturamento_Contato,
					Faturamento_Endereco	= @pFaturamento_Endereco,
					Faturamento_CNPJ		= @pFaturamento_CNPJ,
					Faturamento_IE			= @pFaturamento_IE,
					Faturamento_Email		= @pFaturamento_Email,
					Faturamento_Telefone	= @pFaturamento_Telefone,
					Matricula				= @pMatricula,
					Id_Conglomerado			= @pId_Conglomerado
			WHERE	Id_Consumidor = @pId_Consumidor
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Consumidor_Unidade 
			VALUES(	@pId_Consumidor,
					@pNm_Unidade,
					@pCNPJ,
					@pIE,
					@pData_Ativacao,
					@pObservacao,
					@pEntrega_Contato,
					@pEntrega_Endereco,
					@pEntrega_Telefone,
					@pFaturamento_Contato,
					@pFaturamento_Endereco,
					@pFaturamento_CNPJ,
					@pFaturamento_IE,
					@pFaturamento_Email,
					@pFaturamento_Telefone,
					@pMatricula,
					@pId_Conglomerado)
		END
	END
	
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2 OR  dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
	BEGIN
		-----grava registro
		IF NOT @pArray = ''
		BEGIN
			-----declare variavel
			DECLARE @Array VARCHAR(MAX)
			DECLARE @S VARCHAR(10)
			DECLARE @vSQL VARCHAR(8000)

			-----limpa tebela
			DELETE FROM Consumidor_Unidade_Fornecedor WHERE Id_Consumidor_Unidade = @pId_Consumidor_Unidade
			
			SELECT @Array = @pArray
			IF LEN(@Array) > 0 SET @Array = @Array + ',' 
			WHILE LEN(@Array) > 0
			BEGIN		
				SELECT @S = LTRIM(SUBSTRING(@Array, 1, CHARINDEX(',', @Array) - 1))
				SET @vSQL = 'INSERT INTO Consumidor_Unidade_Fornecedor(Id_Consumidor_Unidade, Id_Consumidor_Fornecedor) VALUES (' + CONVERT(VARCHAR, @pId_Consumidor_Unidade) + ',' + @S + ')'
				EXEC (@vSQL)

				SELECT @Array = SUBSTRING(@Array, CHARINDEX(',', @Array) + 1, LEN(@Array))
			END
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		DELETE FROM Consumidor_Unidade WHERE Id_Consumidor = @pId_Consumidor
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Consumidor_Unidade,'')	AS Id_Consumidor_Unidade,
			ISNULL(Id_Consumidor,'')			AS Id_Consumidor,
			ISNULL(Nm_Unidade,'')				AS Nm_Unidade,
			ISNULL(CNPJ,'')						AS CNPJ,
			ISNULL(IE,'')						AS IE,
			ISNULL(Data_Ativacao,'')			AS Data_Ativacao,
			ISNULL(Observacao,'')				AS Observacao,
			ISNULL(Entrega_Contato,'')			AS Entrega_Contato,
			ISNULL(Entrega_Endereco,'')			AS Entrega_Endereco,
			ISNULL(Entrega_Telefone,'')			AS Entrega_Telefone,
			ISNULL(Faturamento_Contato,'')		AS Faturamento_Contato,
			ISNULL(Faturamento_Endereco,'')		AS Faturamento_Endereco,
			ISNULL(Faturamento_CNPJ,'')			AS Faturamento_CNPJ,
			ISNULL(Faturamento_IE,'')			AS Faturamento_IE,
			ISNULL(Faturamento_Email,'')		AS Faturamento_Email,
			ISNULL(Faturamento_Telefone,'')		AS Faturamento_Telefone,
			ISNULL(Matricula,'')				AS Matricula,
			ISNULL(Id_Conglomerado,'')			AS Id_Conglomerado
	FROM	Consumidor_Unidade
	WHERE	Id_Consumidor = @pId_Consumidor
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID_Solicitacao_Unidade'
BEGIN
	SELECT	ISNULL(Id_Consumidor_Unidade,'')	AS Id_Consumidor_Unidade,
			ISNULL(Id_Consumidor,'')			AS Id_Consumidor,
			ISNULL(Nm_Unidade,'')				AS Nm_Unidade,
			ISNULL(CNPJ,'')						AS CNPJ,
			ISNULL(IE,'')						AS IE,
			ISNULL(Data_Ativacao,'')			AS Data_Ativacao,
			ISNULL(Observacao,'')				AS Observacao,
			ISNULL(Entrega_Contato,'')			AS Entrega_Contato,
			ISNULL(Entrega_Endereco,'')			AS Entrega_Endereco,
			ISNULL(Entrega_Telefone,'')			AS Entrega_Telefone,
			ISNULL(Faturamento_Contato,'')		AS Faturamento_Contato,
			ISNULL(Faturamento_Endereco,'')		AS Faturamento_Endereco,
			ISNULL(Faturamento_CNPJ,'')			AS Faturamento_CNPJ,
			ISNULL(Faturamento_IE,'')			AS Faturamento_IE,
			ISNULL(Faturamento_Email,'')		AS Faturamento_Email,
			ISNULL(Faturamento_Telefone,'')		AS Faturamento_Telefone,
			ISNULL(Matricula,'')				AS Matricula,
			ISNULL(Id_Conglomerado,'')			AS Id_Conglomerado
	FROM	Consumidor_Unidade
	WHERE	Id_Consumidor_Unidade = @pId_Consumidor_Unidade
END

-----atuliza endereco pela solicitacao
IF @pPAKAGE = 'sp_SM_Solicitacao_Unidade'
BEGIN
	UPDATE	Consumidor_Unidade
	SET		CNPJ					= @pCNPJ,
			IE						= @pIE,
			Observacao				= @pObservacao,
			Entrega_Contato			= @pEntrega_Contato,
			Entrega_Endereco		= @pEntrega_Endereco,
			Entrega_Telefone		= @pEntrega_Telefone,
			Faturamento_Contato		= @pFaturamento_Contato,
			Faturamento_Endereco	= @pFaturamento_Endereco,
			Faturamento_CNPJ		= @pFaturamento_CNPJ,
			Faturamento_IE			= @pFaturamento_IE,
			Faturamento_Email		= @pFaturamento_Email,
			Faturamento_Telefone	= @pFaturamento_Telefone
	WHERE	Id_Consumidor_Unidade = @pId_Consumidor_Unidade
END

-----atuliza matricula pela solicitacao
IF @pPAKAGE = 'sp_SM_Solicitacao_Unidade_Matricula'
BEGIN
	UPDATE	Consumidor_Unidade
	SET		Matricula = @pMatricula
	WHERE	Id_Consumidor_Unidade = @pId_Consumidor_Unidade
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_Unidade_Fornecedor'
BEGIN
	SELECT	ISNULL(EC.Id_Consumidor_Fornecedor,'')	AS Id_Consumidor,
			ISNULL(C.Nm_Consumidor,'')				AS Nm_Consumidor
	FROM	Consumidor_Unidade_Fornecedor EC INNER JOIN vw_Consumidor C ON (EC.Id_Consumidor_Fornecedor = C.Id_Consumidor)
	WHERE	EC.Id_Consumidor_Unidade = @pId_Consumidor_Unidade
END
GO
