USE [branco]
GO
/****** Object:  StoredProcedure [dbo].[pa_Centro_Custo]    Script Date: 7/31/2025 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Centro_Custo] (	@pPakage				VARCHAR(200),  
											@pId_Centro_Custo		INT			OUT,  
											@pCd_Centro_Custo		VARCHAR(50)	= NULL,  
											@pNm_Centro_Custo		VARCHAR(50)	= NULL,  
											@pId_Usuario_Permissao	INT			= NULL) AS  
-----insere ou atualiza registro  
IF @pPAKAGE = 'sp_SM'  
BEGIN  
	IF EXISTS (SELECT * FROM Centro_Custo WHERE Id_Centro_Custo = @pId_Centro_Custo)  
	BEGIN  
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2  
		BEGIN  
			UPDATE	Centro_Custo   
			SET		Cd_Centro_Custo = @pCd_Centro_Custo,  
					Nm_Centro_Custo = @pNm_Centro_Custo  
			WHERE	Id_Centro_Custo = @pId_Centro_Custo  
		END  
	END  
	ELSE  
	BEGIN  
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2  
		BEGIN  
			IF NOT EXISTS(SELECT * FROM Centro_Custo WHERE Cd_Centro_Custo = @pCd_Centro_Custo)  
			BEGIN  
				INSERT INTO Centro_Custo (	Cd_Centro_Custo,  
											Nm_Centro_Custo,  
											Fl_Desativado)   
				VALUES(	@pCd_Centro_Custo,  
						@pNm_Centro_Custo,  
						0)  
				-----retorna id   
				SELECT @pId_Centro_Custo = MAX(Id_Centro_Custo) FROM Centro_Custo  
			END  
			ELSE  
			BEGIN  
				SELECT @pId_Centro_Custo =	0  
			END   
		END  
		ELSE  
		BEGIN  
			SELECT @pId_Centro_Custo =	0  
		END  
	END  
END  
  
-----desativa resgistro  
IF @pPAKAGE = 'sp_SE'  
BEGIN  
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2  
	BEGIN  
		UPDATE	Centro_Custo   
		SET		Fl_Desativado = 1   
		WHERE	Id_Centro_Custo = @pId_Centro_Custo  
	END  
END  
  
-----consulta pelo ID do registro  
IF @pPAKAGE = 'sp_SL_ID'  
BEGIN  
	SELECT	ISNULL(Id_Centro_Custo,'') AS Id_Centro_Custo,  
			ISNULL(Cd_Centro_Custo,'') AS Cd_Centro_Custo,  
			ISNULL(Nm_Centro_Custo,'') AS Nm_Centro_Custo,
            ISNULL(Fl_Desativado,'')   AS Fl_Desativado   
	FROM	Centro_Custo  
	WHERE	Id_Centro_Custo = @pId_Centro_Custo  
END
GO
