USE [branco]
GO
/****** Object:  StoredProcedure [dbo].[pa_InventarioLote]    Script Date: 7/31/2025 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_InventarioLote](@pPakage     VARCHAR(200),  
          @pId_Consumidor    INT   OUT,  
          @pNm_Consumidor    VARCHAR(50) = NULL,  
          @pId_Consumidor_Tipo  INT   = NULL,  
          @pMatricula     VARCHAR(120)= NULL,  
          @pEMail      VARCHAR(50) = NULL,  
          @pEMail_Copia    VARCHAR(50) = NULL,  
          @pFl_Nao_Envia_EMail  INT   = NULL,  
          @pId_Empresa_Contratada  INT   = NULL,  
          @pId_Cargo     INT   = NULL,  
          @pId_Filial     INT   = NULL,  
          @pId_Centro_Custo   INT   = NULL,  
          @pId_Departamento   INT   = NULL,  
          @pId_Setor     INT   = NULL,  
          @pId_Secao     INT   = NULL,  
          @pId_Consumidor_Status  INT   = NULL,  
          @pMatricula_Chefia   VARCHAR(20) = NULL,  
          @pId_Usuario_Permissao  INT   = NULL,  
          @pId_Usuario    INT   OUT,  
          @pNm_Usuario    VARCHAR(50) = NULL,   
          @pSenha      VARCHAR(50) = NULL,  
          @pId_Idioma     INT   = NULL,  
          @pId_Usuario_Grupo   INT   = NULL,  
          @pId_Usuario_Perfil   INT   = NULL,  
          @pId_Usuario_Perfil_Acesso INT   = NULL,  
          @pIncluir     INT   = NULL,  
          @pAlterar     INT   = NULL,  
          @pExcluir     INT   = NULL,  
          @pDetalhamento_Conta  INT   = NULL,  
          @pDetalhamento_Contato  INT   = NULL,  
          @pFl_Desativado    INT   = NULL) AS  
  
IF NOT EXISTS (SELECT 1 FROM Usuario WHERE Id_Usuario = @pId_Usuario)
BEGIN 
	SELECT @pId_Usuario = Id_Usuario FROM Usuario WHERE Id_Consumidor = @pId_Consumidor
END

IF @pPAKAGE = 'sp_SM'  
BEGIN  
DECLARE @id_consumidor_table TABLE(ID INT)  
  
 IF EXISTS (SELECT * FROM Consumidor WHERE Id_Consumidor = @pId_Consumidor)  
 BEGIN  
 UPDATE Consumidor   
    SET  Nm_Consumidor   = @pNm_Consumidor,  
      Id_Consumidor_Tipo  = @pId_Consumidor_Tipo,  
      Matricula    = @pMatricula,  
      EMail     = @pEMail,  
      EMail_Copia    = @pEMail_Copia,  
      Fl_Nao_Envia_EMail  = @pFl_Nao_Envia_EMail,  
      Id_Empresa_Contratada = @pId_Empresa_Contratada,  
      Id_Cargo    = @pId_Cargo,  
      Id_Filial    = @pId_Filial,  
      Id_Centro_Custo   = @pId_Centro_Custo,  
      Id_Departamento   = @pId_Departamento,  
      Id_Setor    = @pId_Setor,  
      Id_Secao    = @pId_Secao,  
      Id_Consumidor_Status = @pId_Consumidor_Status,  
      Matricula_Chefia  = @pMatricula_Chefia,  
      Fl_Desativado   = 2  
    WHERE Id_Consumidor = @pId_Consumidor  
  
    UPDATE Usuario   
   SET  Nm_Usuario     = @pNm_Usuario,   
     --Senha      = @pSenha,  
     Id_Consumidor    = @pId_Consumidor,  
     Id_Idioma     = @pId_Idioma,  
     Id_Usuario_Grupo   = @pId_Usuario_Grupo,  
     Id_Usuario_Perfil   = @pId_Usuario_Perfil,  
     Id_Usuario_Perfil_Acesso = @pId_Usuario_Perfil_Acesso,  
     Incluir      = @pIncluir,  
     Alterar      = @pAlterar,  
     Excluir      = @pExcluir,  
     Detalhamento_Conta   = @pDetalhamento_Conta,  
     Detalhamento_Contato  = @pDetalhamento_Contato,  
     Fl_Desativado    = @pFl_Desativado  
   WHERE Id_Usuario = @pId_Usuario  
     
  END  
  ELSE  
  BEGIN  
  INSERT INTO Consumidor (Nm_Consumidor,  
      Id_Consumidor_Tipo,  
      Matricula,  
      EMail,  
      EMail_Copia,  
      Fl_Nao_Envia_EMail,  
      Id_Empresa_Contratada,  
      Id_Cargo,  
      Id_Filial,  
      Id_Centro_Custo,  
      Id_Departamento,  
      Id_Setor,  
      Id_Secao,  
      Id_Consumidor_Status,  
      Matricula_Chefia,  
      Fl_Desativado)  
      OUTPUT INSERTED.Id_Consumidor INTO @id_consumidor_table(ID)  
      VALUES( @pNm_Consumidor,  
        @pId_Consumidor_Tipo,  
        @pMatricula,  
        @pEMail,  
        @pEMail_Copia,  
        @pFl_Nao_Envia_EMail,  
        @pId_Empresa_Contratada,  
        @pId_Cargo,  
        @pId_Filial,  
        @pId_Centro_Custo,  
        @pId_Departamento,  
        @pId_Setor,  
        @pId_Secao,  
        @pId_Consumidor_Status,  
        @pMatricula_Chefia,  
        2)  
      -----retorna id   
      SELECT @pId_Consumidor = MAX(Id_Consumidor) FROM Consumidor      
  INSERT INTO Usuario  
  VALUES( @pNm_Usuario,  
        (SELECT TOP 1 Nm_Holding FROM Holding ),  
        (SELECT ID FROM @id_consumidor_table),  
        @pId_Idioma,  
        @pId_Usuario_Grupo,  
        @pId_Usuario_Perfil,  
        @pId_Usuario_Perfil_Acesso,  
        @pIncluir,  
        @pAlterar,  
        @pExcluir,  
        @pDetalhamento_Conta,  
        @pDetalhamento_Contato,  
        @pFl_Desativado)  
      -----retorna id   
      SELECT @pId_Usuario = MAX(Id_Usuario) FROM Usuario  
      SELECT @pId_Usuario = 0  
END  
END
GO
