USE [branco]
GO
/****** Object:  StoredProcedure [dbo].[pa_si_Dados_Tendencia_Geral]    Script Date: 7/31/2025 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_si_Dados_Tendencia_Geral] (	@pPAKAGE			VARCHAR(200),
														@pId_Usuario		INT			= NULL,
														@pMes				VARCHAR(10)	= NULL,
														@pGrupoTipoAtivo	VARCHAR(50)	= NULL) AS
--DROP TABLE #Ano_Fiscal

--DROP TABLE #T_Consumo_Dados_APP
--DROP TABLE #T_Consumo_Dados_Operadora
--DROP TABLE #T_Consumo_Voz_Operadora 
--DROP TABLE #T_Consumo_Voz_Dados
--DROP TABLE #Filtro

--declare @pPAKAGE VARCHAR(200)
--declare @pId_Usuario INT	
--declare @pMes VARCHAR(10)
--declare @pGrupoTipoAtivo VARCHAR(50)

--set @pGrupoTipoAtivo = 'Telefonia_Movel'
--set @pPAKAGE = 'Dados_Moveis'
--set @pId_Usuario = 1143 --select * from usuario where nm_usuario like '%cbritto%'
--set @pMes = '201812'

-----ano fiscal
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
IF @pPakage = 'sp_Ano_Fiscal'
BEGIN
	SELECT	CONVERT(VARCHAR,YEAR(GETDATE()) - (CASE WHEN MONTH(GETDATE()) > = (SELECT TOP 1 MES FROM Si_Ano_Fiscal WHERE ANO = 1) THEN CASE WHEN ANO = 0 THEN -1 ELSE 0 END ELSE ANO END)) + '/' + Mes   AS Mes,
			CASE WHEN EXISTS(SELECT * FROM Lote WHERE Dt_Lote = (SELECT CONVERT(VARCHAR,YEAR(GETDATE()) - (CASE WHEN MONTH(GETDATE()) > = (SELECT TOP 1 MES FROM Si_Ano_Fiscal WHERE ANO = 1) THEN CASE WHEN ANO = 0 THEN -1 ELSE 0 END ELSE ANO END))) + '/' + Mes + '/01') THEN 'TRUE' ELSE 'FALSE' END AS Mostrar 
	FROM	Si_Ano_Fiscal
	ORDER BY Id
END

-----ano fiscal mais mes corrente sem fazer ligacao com o lote
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
IF @pPakage = 'sp_Ano_Trafego_Dados'
BEGIN
	SELECT	CONVERT(VARCHAR,YEAR(GETDATE()) - (CASE WHEN MONTH(GETDATE()) > = (SELECT TOP 1 MES FROM Si_Ano_Fiscal WHERE ANO = 1) THEN CASE WHEN ANO = 0 THEN -1 ELSE 0 END ELSE ANO END)) + '/' + Mes   AS Mes,
			CASE WHEN CONVERT(DATETIME, CONVERT(VARCHAR,YEAR(GETDATE()) - (CASE WHEN MONTH(GETDATE()) > = (SELECT TOP 1 MES FROM Si_Ano_Fiscal WHERE ANO = 1) THEN CASE WHEN ANO = 0 THEN -1 ELSE 0 END ELSE ANO END)) + '/' + Mes + '/01') <= GETDATE() THEN 'TRUE' ELSE 'FALSE' END AS Mostrar
	FROM	Si_Ano_Fiscal
	ORDER BY Id
END

-----dados default cockpit
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
IF @pPAKAGE = 'cockpit'
BEGIN
	-----monta mes para consulta
	DECLARE @vMesConsulta AS VARCHAR(10)
	DECLARE @vMesDE AS VARCHAR(10)
	DECLARE @vMesATE AS VARCHAR(10)

	SELECT	CONVERT(VARCHAR,YEAR(GETDATE()) - (CASE WHEN MONTH(GETDATE()) > = (SELECT TOP 1 MES FROM Si_Ano_Fiscal WHERE ANO = 1) THEN CASE WHEN ANO = 0 THEN -1 ELSE 0 END ELSE ANO END)) + '/' + Mes   AS Mes,
			CASE WHEN EXISTS(SELECT * FROM Lote WHERE Dt_Lote = (SELECT CONVERT(VARCHAR,YEAR(GETDATE()) - (CASE WHEN MONTH(GETDATE()) > = (SELECT TOP 1 MES FROM Si_Ano_Fiscal WHERE ANO = 1) THEN CASE WHEN ANO = 0 THEN -1 ELSE 0 END ELSE ANO END))) + '/' + Mes + '/01') THEN 'TRUE' ELSE 'FALSE' END AS Mostrar 
			INTO #Ano_Fiscal
	FROM	Si_Ano_Fiscal
	ORDER BY Id

	IF @pMes IS NULL
	BEGIN	
		SELECT @vMesConsulta = MAX(Mes) + '/01' FROM #Ano_Fiscal WHERE Mostrar = 'TRUE'
		SELECT @vMesDE = MIN(Mes) + '/01' FROM #Ano_Fiscal
		SELECT @vMesATE = MAX(Mes) + '/01' FROM #Ano_Fiscal
	END 
	ELSE
	BEGIN
		SELECT @vMesConsulta = @pMes + '/01'
		SELECT @vMesDE = MIN(Mes) + '/01' FROM #Ano_Fiscal
		SELECT @vMesATE = MAX(Mes) + '/01' FROM #Ano_Fiscal
	END
END

-----gestor de filial, centro custo e departamento - 4,5,6,7,8
-----cockpit (Telefonia_Fixa e Telefonia_Movel)
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
	IF @pPAKAGE = 'cockpit' AND EXISTS(SELECT Id_Usuario_Perfil_Acesso 
											FROM Usuario WHERE Id_Usuario = @pId_Usuario
											AND Id_Usuario_Perfil_Acesso IN (4,5,6,7,8))
							AND (@pGrupoTipoAtivo = 'Telefonia_Fixa' OR @pGrupoTipoAtivo = 'Telefonia_Movel')
	BEGIN

		-----monta dados
		SELECT * INTO #T_Dados FROM dbo.fu_Dados_Tendencia_Geral(@pId_Usuario, @vMesDE, @vMesATE, @pGrupoTipoAtivo)
		SELECT * INTO #T_Dados_Marcacao FROM dbo.fu_Dados_Tendencia_Apontamento(@pId_Usuario, @vMesDE, @vMesATE, @pGrupoTipoAtivo)
		
		SELECT	'Detalhamento' AS Grupo,
				Id_Lote AS ID_Filtro,
				CONVERT(VARCHAR,Id_Centro_Custo) AS Filtro,
				SUBSTRING(CONVERT(VARCHAR(10),Dt_Lote,110),1,2) + '/' + SUBSTRING(CONVERT(VARCHAR(10),Dt_Lote,110),9,2) AS Dt_Lote,
				Nr_Ativo,
				Nm_Conglomerado,
				Nm_Ativo_Tipo,
				Nm_Consumidor,
				Nm_Usuario,
				Nm_Filial,
				Cd_Centro_Custo,
				Nm_Departamento,
				Nm_Setor,
				Nm_Secao,
				Total_Sem_Auditoria,
				Total_Cobrado,
				Final_Semana,
				Fora_Horario,
				Dentro_Horario,
				Total,
				Id_Consumidor,
				Valor_Politica,
				Custo_Fixo,
				Trafego,
				Marcado,
				Periodo,
				Dt_Lote AS Lote,
				null Dt_Visita, 
				null Dt_Fechamento, 
				null Dt_Exportacao, 
				'0' Total_Marcado, 
				null Data_Ativacao, 
				null Data_Desativacao,
				'0' AS UsuarioVisitaramNaoConcluiramMes,
				'0' AS ValorTotalRetornoMarcacaoMes,
				Id_Filial,
				Id_Departamento,
				Id_Setor,
				Id_Secao
		FROM	#T_Dados T 
		WHERE	T.Periodo = 2
				AND NOT EXISTS(SELECT * FROM Estoque_Consumidor WHERE Id_Consumidor = T.Id_Consumidor)
		UNION ALL
		SELECT	DISTINCT 'Filial' AS Grupo,Id_Filial AS ID_Filtro,Nm_Filial AS Filtro, null Dt_Lote,'0' Nr_Ativo,'0' Nm_Conglomerado,'0' Nm_Ativo_Tipo,'0' Nm_Consumidor,'0' Nm_Usuario,'0' Nm_Filial,'0' Cd_Centro_Custo,'0' Nm_Departamento,'0' Nm_Setor,'0' Nm_Secao,'0' Total_Sem_Auditoria,'0' Total_Cobrado,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,'0' Total,'0' QTD_Comp,'0' Valor_Politica,'0' Custo_Fixo,'0' Trafego,'0' Marcado,'0' Periodo, null Lote, null Dt_Visita, null Dt_Fechamento, null Dt_Exportacao, '0' Total_Marcado, null Data_Ativacao, null Data_Desativacao, '0' AS UsuarioVisitaramNaoConcluiramMes, '0' AS ValorTotalRetornoMarcacaoMes,'0' Id_Filial,'0' Id_Departamento,'0' Id_Setor,'0' Id_Secao
		FROM	#T_Dados WHERE NOT Id_Filial IS NULL
		UNION ALL
		SELECT	DISTINCT 'Departamento' AS Grupo, Id_Departamento AS ID_Filtro, Nm_Departamento AS Filtro, null Dt_Lote,'0' Nr_Ativo,'0' Nm_Conglomerado,'0' Nm_Ativo_Tipo,'0' Nm_Consumidor,'0' Nm_Usuario,'0' Nm_Filial,'0' Cd_Centro_Custo,'0' Nm_Departamento,'0' Nm_Setor,'0' Nm_Secao,'0' Total_Sem_Auditoria,'0' Total_Cobrado,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,'0' Total,'0' QTD_Comp,'0' Valor_Politica,'0' Custo_Fixo,'0' Trafego,'0' Marcado,'0' Periodo, null Lote, null Dt_Visita, null Dt_Fechamento, null Dt_Exportacao, '0' Total_Marcado, null Data_Ativacao, null Data_Desativacao, '0' AS UsuarioVisitaramNaoConcluiramMes, '0' AS ValorTotalRetornoMarcacaoMes,'0' Id_Filial,'0' Id_Departamento,'0' Id_Setor,'0' Id_Secao
		FROM	#T_Dados WHERE NOT Id_Departamento IS NULL
		UNION ALL
		SELECT	DISTINCT 'Centro_Custo' AS Grupo,Id_Centro_Custo AS ID_Filtro, Cd_Centro_Custo AS Filtro, null Dt_Lote,'0' Nr_Ativo,'0' Nm_Conglomerado,'0' Nm_Ativo_Tipo,'0' Nm_Consumidor,'0' Nm_Usuario,'0' Nm_Filial,'0' Cd_Centro_Custo,'0' Nm_Departamento,'0' Nm_Setor,'0' Nm_Secao,'0' Total_Sem_Auditoria,'0' Total_Cobrado,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,'0' Total,'0' QTD_Comp,'0' Valor_Politica,'0' Custo_Fixo,'0' Trafego,'0' Marcado,'0' Periodo, null Lote, null Dt_Visita, null Dt_Fechamento, null Dt_Exportacao, '0' Total_Marcado, null Data_Ativacao, null Data_Desativacao, '0' AS UsuarioVisitaramNaoConcluiramMes, '0' AS ValorTotalRetornoMarcacaoMes,'0' Id_Filial,'0' Id_Departamento,'0' Id_Setor,'0' Id_Secao
		FROM	#T_Dados WHERE NOT Id_Centro_Custo IS NULL
		UNION ALL
		SELECT	DISTINCT 'Setor' AS Grupo, Id_Setor AS ID_Filtro,Nm_Setor AS Filtro, null Dt_Lote,'0' Nr_Ativo,'0' Nm_Conglomerado,'0' Nm_Ativo_Tipo,'0' Nm_Consumidor,'0' Nm_Usuario,'0' Nm_Filial,'0' Cd_Centro_Custo,'0' Nm_Departamento,'0' Nm_Setor,'0' Nm_Secao,'0' Total_Sem_Auditoria,'0' Total_Cobrado,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,'0' Total,'0' QTD_Comp,'0' Valor_Politica,'0' Custo_Fixo,'0' Trafego,'0' Marcado,'0' Periodo, null Lote, null Dt_Visita, null Dt_Fechamento, null Dt_Exportacao, '0' Total_Marcado, null Data_Ativacao, null Data_Desativacao, '0' AS UsuarioVisitaramNaoConcluiramMes, '0' AS ValorTotalRetornoMarcacaoMes,'0' Id_Filial,'0' Id_Departamento,'0' Id_Setor,'0' Id_Secao
		FROM	#T_Dados WHERE NOT Id_Setor IS NULL
		UNION ALL
		SELECT	DISTINCT 'Secao' AS Grupo, Id_Secao AS ID_Filtro,Nm_Secao AS Filtro, null Dt_Lote,'0' Nr_Ativo,'0' Nm_Conglomerado,'0' Nm_Ativo_Tipo,'0' Nm_Consumidor,'0' Nm_Usuario,'0' Nm_Filial,'0' Cd_Centro_Custo,'0' Nm_Departamento,'0' Nm_Setor,'0' Nm_Secao,'0' Total_Sem_Auditoria,'0' Total_Cobrado,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,'0' Total,'0' QTD_Comp,'0' Valor_Politica,'0' Custo_Fixo,'0' Trafego,'0' Marcado,'0' Periodo, null Lote, null Dt_Visita, null Dt_Fechamento, null Dt_Exportacao, '0' Total_Marcado, null Data_Ativacao, null Data_Desativacao, '0' AS UsuarioVisitaramNaoConcluiramMes, '0' AS ValorTotalRetornoMarcacaoMes,'0' Id_Filial,'0' Id_Departamento,'0' Id_Setor,'0' Id_Secao
		FROM	#T_Dados WHERE NOT Id_Secao IS NULL
		UNION ALL
		SELECT	DISTINCT	 
				'Apontamento' AS Grupo, 
				'0' AS ID_Filtro,
				CONVERT(VARCHAR,Id_Centro_Custo) AS Filtro,
				SUBSTRING(CONVERT(VARCHAR(10),Dt_Lote,110),1,2) + '/' + SUBSTRING(CONVERT(VARCHAR(10),Dt_Lote,110),9,2) AS Dt_Lote,
				Nr_Ativo,
				'0' Nm_Conglomerado,
				'0' Nm_Ativo_Tipo,
				Nm_Consumidor,
				'0' Nm_Usuario,
				Nm_Filial,
				Cd_Centro_Custo,
				Nm_Departamento,
				Nm_Setor,
				Nm_Secao,
				'0' Total_Sem_Auditoria,
				'0' Total_Cobrado,
				'0' Final_Semana,
				'0' Fora_Horario,
				'0' Dentro_Horario,
				'0' Total,
				'0' QTD_Comp,
				'0' Valor_Politica,
				'0' Custo_Fixo,
				'0' Trafego,
				'0' Marcado,
				'0' Periodo,
				Dt_Lote Lote,
				Dt_Visita,
				Dt_Fechamento,
				Dt_Exportacao,
				Total_Marcado,
				Data_Ativacao,
				Data_Desativacao,
				------------
				(	SELECT	ISNULL(SUM(SUBQuery.QTD),0) AS QTD
					FROM (	SELECT	ISNULL(
											COUNT(*)
											-
											((	SELECT	COUNT(*) FROM #T_Dados_Marcacao 
												WHERE	Id_Lote = TD.Id_Lote
														AND Id_Usuario = TD.Id_Usuario
														AND NOT Dt_Fechamento IS NULL))
									,0) AS QTD
							FROM	#T_Dados TD
							WHERE	TD.Dt_Lote = T.Dt_Lote
									AND TD.Nr_Ativo = T.Nr_Ativo
									AND TD.Periodo = 2
									AND TD.Id_Consumidor = T.Id_Consumidor
							GROUP BY Id_Lote, Nr_Ativo, Id_Usuario) SUBQuery) AS UsuarioVisitaramNaoConcluiramMes,
				------------
				(	SELECT	ISNULL(CAST(SUM(Total_Marcado) AS DECIMAL(13,2)),0)
					FROM	#T_Dados_Marcacao
					WHERE	NOT Dt_Fechamento IS NULL
							AND Dt_Lote = T.Dt_Lote
							AND Nr_Ativo = T.Nr_Ativo) AS ValorTotalRetornoMarcacaoMes,
				Id_Filial,
				Id_Departamento,
				Id_Setor,
				Id_Secao
		FROM	#T_Dados_Marcacao T
	END

-----gestor de filial, centro custo e departamento - 4,5,6,7,8
-----cockpit (Link Dados)
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
IF @pPAKAGE = 'cockpit' AND EXISTS(SELECT Id_Usuario_Perfil_Acesso 
										FROM Usuario WHERE Id_Usuario = @pId_Usuario
										AND Id_Usuario_Perfil_Acesso IN (4,5,6,7,8))
						AND (@pGrupoTipoAtivo = 'Link_Dados')
BEGIN
	-------4	Filial
	-------5	Centro de Custo
	-------6	Departamento
	-------7	Setor

	-----monta dados
	SELECT * INTO #T_Dados_Link FROM dbo.fu_Dados_Tendencia_Geral(@pId_Usuario, @vMesDE, @vMesATE, @pGrupoTipoAtivo)

	SELECT	'Detalhamento' AS Grupo,
			Id_Lote AS ID_Filtro,
			'0' AS Filtro,
			SUBSTRING(CONVERT(VARCHAR(10),Dt_Lote,110),1,2) + '/' + SUBSTRING(CONVERT(VARCHAR(10),Dt_Lote,110),9,2) AS Dt_Lote,
			Nr_Ativo,
			Nm_Conglomerado,
			Nm_Ativo_Tipo,
			Nm_Consumidor,
			Nm_Usuario,
			Nm_Filial,
			Cd_Centro_Custo,
			Nm_Departamento,
			Nm_Setor,
			Nm_Secao,
			Total_Sem_Auditoria,
			Total_Cobrado,
			Final_Semana,
			Fora_Horario,
			Dentro_Horario,
			Total,
			Id_Consumidor,
			Valor_Politica,
			Custo_Fixo,
			Trafego,
			Marcado,
			Periodo,
			Dt_Lote AS Lote,
			Id_Filial,
			Id_Departamento,
			Id_Setor,
			Id_Secao
	FROM	#T_Dados_Link T 
	WHERE	T.Periodo = 2
			AND NOT EXISTS(SELECT * FROM Estoque_Consumidor WHERE Id_Consumidor = T.Id_Consumidor)
	UNION ALL
	SELECT	DISTINCT 'Filial' AS Grupo,Id_Filial AS ID_Filtro,Nm_Filial AS Filtro, null Dt_Lote,'0' Nr_Ativo,'0' Nm_Conglomerado,'0' Nm_Ativo_Tipo,'0' Nm_Consumidor,'0' Nm_Usuario,'0' Nm_Filial,'0' Cd_Centro_Custo,'0' Nm_Departamento,'0' Nm_Setor,'0' Nm_Secao,'0' Total_Sem_Auditoria,'0' Total_Cobrado,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,'0' Total,'0' QTD_Comp,'0' Valor_Politica,'0' Custo_Fixo,'0' Trafego,'0' Marcado,'0' Periodo, null Lote,'0' Id_Filial,'0' Id_Departamento,'0' Id_Setor,'0' Id_Secao
	FROM	#T_Dados_Link 
	UNION ALL
	SELECT	DISTINCT 'Departamento' AS Grupo, Id_Departamento AS ID_Filtro, Nm_Departamento AS Filtro, null Dt_Lote,'0' Nr_Ativo,'0' Nm_Conglomerado,'0' Nm_Ativo_Tipo,'0' Nm_Consumidor,'0' Nm_Usuario,'0' Nm_Filial,'0' Cd_Centro_Custo,'0' Nm_Departamento,'0' Nm_Setor,'0' Nm_Secao,'0' Total_Sem_Auditoria,'0' Total_Cobrado,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,'0' Total,'0' QTD_Comp,'0' Valor_Politica,'0' Custo_Fixo,'0' Trafego,'0' Marcado,'0' Periodo, null Lote,'0' Id_Filial,'0' Id_Departamento,'0' Id_Setor,'0' Id_Secao
	FROM	#T_Dados_Link
	UNION ALL
	SELECT	DISTINCT 'Centro_Custo' AS Grupo,Id_Centro_Custo AS ID_Filtro, Cd_Centro_Custo AS Filtro, null Dt_Lote,'0' Nr_Ativo,'0' Nm_Conglomerado,'0' Nm_Ativo_Tipo,'0' Nm_Consumidor,'0' Nm_Usuario,'0' Nm_Filial,'0' Cd_Centro_Custo,'0' Nm_Departamento,'0' Nm_Setor,'0' Nm_Secao,'0' Total_Sem_Auditoria,'0' Total_Cobrado,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,'0' Total,'0' QTD_Comp,'0' Valor_Politica,'0' Custo_Fixo,'0' Trafego,'0' Marcado,'0' Periodo, null Lote,'0' Id_Filial,'0' Id_Departamento,'0' Id_Setor,'0' Id_Secao
	FROM	#T_Dados_Link
	UNION ALL
	SELECT	DISTINCT 'Setor' AS Grupo, Id_Setor AS ID_Filtro,Nm_Setor AS Filtro, null Dt_Lote,'0' Nr_Ativo,'0' Nm_Conglomerado,'0' Nm_Ativo_Tipo,'0' Nm_Consumidor,'0' Nm_Usuario,'0' Nm_Filial,'0' Cd_Centro_Custo,'0' Nm_Departamento,'0' Nm_Setor,'0' Nm_Secao,'0' Total_Sem_Auditoria,'0' Total_Cobrado,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,'0' Total,'0' QTD_Comp,'0' Valor_Politica,'0' Custo_Fixo,'0' Trafego,'0' Marcado,'0' Periodo, null Lote,'0' Id_Filial,'0' Id_Departamento,'0' Id_Setor,'0' Id_Secao
	FROM	#T_Dados_Link
	UNION ALL
	SELECT	DISTINCT 'Secao' AS Grupo, Id_Secao AS ID_Filtro,Nm_Secao AS Filtro, null Dt_Lote,'0' Nr_Ativo,'0' Nm_Conglomerado,'0' Nm_Ativo_Tipo,'0' Nm_Consumidor,'0' Nm_Usuario,'0' Nm_Filial,'0' Cd_Centro_Custo,'0' Nm_Departamento,'0' Nm_Setor,'0' Nm_Secao,'0' Total_Sem_Auditoria,'0' Total_Cobrado,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,'0' Total,'0' QTD_Comp,'0' Valor_Politica,'0' Custo_Fixo,'0' Trafego,'0' Marcado,'0' Periodo, null Lote,'0' Id_Filial,'0' Id_Departamento,'0' Id_Setor,'0' Id_Secao
	FROM	#T_Dados_Link
END

-----gestor de filial, centro custo e departamento - 4,5,6,7,8
-----cockpit (Equimento)
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
IF @pPAKAGE = 'cockpit' AND EXISTS(SELECT Id_Usuario_Perfil_Acesso 
										FROM Usuario WHERE Id_Usuario = @pId_Usuario
										AND Id_Usuario_Perfil_Acesso IN (4,5,6,7,8))
						AND (@pGrupoTipoAtivo = 'Equipamento')
BEGIN
	-------4	Filial
	-------5	Centro de Custo
	-------6	Departamento
	-------7	Setor

	-----monta dados
	SELECT * INTO #T_Dados_Equipamento FROM dbo.fu_Dados_Tendencia_Geral(@pId_Usuario, @vMesDE, @vMesATE, @pGrupoTipoAtivo)
	SELECT * INTO #T_Dados_Marcacao_Equipamento FROM dbo.fu_Dados_Tendencia_Apontamento(@pId_Usuario, @vMesDE, @vMesATE, @pGrupoTipoAtivo)
	
	SELECT	'Detalhamento' AS Grupo,
			Id_Lote AS ID_Filtro,
			'0' AS Filtro,
			SUBSTRING(CONVERT(VARCHAR(10),Dt_Lote,110),1,2) + '/' + SUBSTRING(CONVERT(VARCHAR(10),Dt_Lote,110),9,2) AS Dt_Lote,
			Nr_Ativo,
			Nm_Conglomerado,
			Nm_Ativo_Tipo,
			Nm_Consumidor,
			Nm_Usuario,
			Nm_Filial,
			Cd_Centro_Custo,
			Nm_Departamento,
			Nm_Setor,
			Nm_Secao,
			Total_Sem_Auditoria,
			Total_Cobrado,
			Final_Semana,
			Fora_Horario,
			Dentro_Horario,
			Total,
			Id_Consumidor,
			Valor_Politica,
			Custo_Fixo,
			Trafego,
			Marcado,
			Periodo,
			Dt_Lote AS Lote,
			null Dt_Visita, 
			null Dt_Fechamento, 
			null Dt_Exportacao, 
			'0' Total_Marcado, 
			null Data_Ativacao, 
			null Data_Desativacao,
			'0' AS UsuarioVisitaramNaoConcluiramMes,
			'0' AS ValorTotalRetornoMarcacaoMes,
			Id_Filial,
			Id_Departamento,
			Id_Setor,
			Id_Secao
	FROM	#T_Dados_Equipamento T 
	WHERE	T.Periodo = 2
			AND NOT EXISTS(SELECT * FROM Estoque_Consumidor WHERE Id_Consumidor = T.Id_Consumidor)
	UNION ALL
	SELECT	DISTINCT 'Filial' AS Grupo,Id_Filial AS ID_Filtro,Nm_Filial AS Filtro, null Dt_Lote,'0' Nr_Ativo,'0' Nm_Conglomerado,'0' Nm_Ativo_Tipo,'0' Nm_Consumidor,'0' Nm_Usuario,'0' Nm_Filial,'0' Cd_Centro_Custo,'0' Nm_Departamento,'0' Nm_Setor,'0' Nm_Secao,'0' Total_Sem_Auditoria,'0' Total_Cobrado,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,'0' Total,'0' QTD_Comp,'0' Valor_Politica,'0' Custo_Fixo,'0' Trafego,'0' Marcado,'0' Periodo, null Lote, null Dt_Visita, null Dt_Fechamento, null Dt_Exportacao, '0' Total_Marcado, null Data_Ativacao, null Data_Desativacao, '0' AS UsuarioVisitaramNaoConcluiramMes, '0' AS ValorTotalRetornoMarcacaoMes,'0' Id_Filial,'0' Id_Departamento,'0' Id_Setor,'0' Id_Secao
	FROM	#T_Dados_Equipamento 
	UNION ALL
	SELECT	DISTINCT 'Departamento' AS Grupo, Id_Departamento AS ID_Filtro, Nm_Departamento AS Filtro, null Dt_Lote,'0' Nr_Ativo,'0' Nm_Conglomerado,'0' Nm_Ativo_Tipo,'0' Nm_Consumidor,'0' Nm_Usuario,'0' Nm_Filial,'0' Cd_Centro_Custo,'0' Nm_Departamento,'0' Nm_Setor,'0' Nm_Secao,'0' Total_Sem_Auditoria,'0' Total_Cobrado,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,'0' Total,'0' QTD_Comp,'0' Valor_Politica,'0' Custo_Fixo,'0' Trafego,'0' Marcado,'0' Periodo, null Lote, null Dt_Visita, null Dt_Fechamento, null Dt_Exportacao, '0' Total_Marcado, null Data_Ativacao, null Data_Desativacao, '0' AS UsuarioVisitaramNaoConcluiramMes, '0' AS ValorTotalRetornoMarcacaoMes,'0' Id_Filial,'0' Id_Departamento,'0' Id_Setor,'0' Id_Secao
	FROM	#T_Dados_Equipamento
	UNION ALL
	SELECT	DISTINCT 'Centro_Custo' AS Grupo,Id_Centro_Custo AS ID_Filtro, Cd_Centro_Custo AS Filtro, null Dt_Lote,'0' Nr_Ativo,'0' Nm_Conglomerado,'0' Nm_Ativo_Tipo,'0' Nm_Consumidor,'0' Nm_Usuario,'0' Nm_Filial,'0' Cd_Centro_Custo,'0' Nm_Departamento,'0' Nm_Setor,'0' Nm_Secao,'0' Total_Sem_Auditoria,'0' Total_Cobrado,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,'0' Total,'0' QTD_Comp,'0' Valor_Politica,'0' Custo_Fixo,'0' Trafego,'0' Marcado,'0' Periodo, null Lote, null Dt_Visita, null Dt_Fechamento, null Dt_Exportacao, '0' Total_Marcado, null Data_Ativacao, null Data_Desativacao, '0' AS UsuarioVisitaramNaoConcluiramMes, '0' AS ValorTotalRetornoMarcacaoMes,'0' Id_Filial,'0' Id_Departamento,'0' Id_Setor,'0' Id_Secao
	FROM	#T_Dados_Equipamento
	UNION ALL
	SELECT	DISTINCT 'Setor' AS Grupo, Id_Setor AS ID_Filtro,Nm_Setor AS Filtro, null Dt_Lote,'0' Nr_Ativo,'0' Nm_Conglomerado,'0' Nm_Ativo_Tipo,'0' Nm_Consumidor,'0' Nm_Usuario,'0' Nm_Filial,'0' Cd_Centro_Custo,'0' Nm_Departamento,'0' Nm_Setor,'0' Nm_Secao,'0' Total_Sem_Auditoria,'0' Total_Cobrado,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,'0' Total,'0' QTD_Comp,'0' Valor_Politica,'0' Custo_Fixo,'0' Trafego,'0' Marcado,'0' Periodo, null Lote, null Dt_Visita, null Dt_Fechamento, null Dt_Exportacao, '0' Total_Marcado, null Data_Ativacao, null Data_Desativacao, '0' AS UsuarioVisitaramNaoConcluiramMes, '0' AS ValorTotalRetornoMarcacaoMes,'0' Id_Filial,'0' Id_Departamento,'0' Id_Setor,'0' Id_Secao
	FROM	#T_Dados_Equipamento
	UNION ALL
	SELECT	DISTINCT 'Secao' AS Grupo, Id_Secao AS ID_Filtro,Nm_Secao AS Filtro, null Dt_Lote,'0' Nr_Ativo,'0' Nm_Conglomerado,'0' Nm_Ativo_Tipo,'0' Nm_Consumidor,'0' Nm_Usuario,'0' Nm_Filial,'0' Cd_Centro_Custo,'0' Nm_Departamento,'0' Nm_Setor,'0' Nm_Secao,'0' Total_Sem_Auditoria,'0' Total_Cobrado,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,'0' Total,'0' QTD_Comp,'0' Valor_Politica,'0' Custo_Fixo,'0' Trafego,'0' Marcado,'0' Periodo, null Lote, null Dt_Visita, null Dt_Fechamento, null Dt_Exportacao, '0' Total_Marcado, null Data_Ativacao, null Data_Desativacao, '0' AS UsuarioVisitaramNaoConcluiramMes, '0' AS ValorTotalRetornoMarcacaoMes,'0' Id_Filial,'0' Id_Departamento,'0' Id_Setor,'0' Id_Secao
	FROM	#T_Dados_Equipamento
	UNION ALL
	SELECT	DISTINCT	 
			'Apontamento' AS Grupo, 
			'0' AS ID_Filtro,
			'0' AS Filtro,
			SUBSTRING(CONVERT(VARCHAR(10),Dt_Lote,110),1,2) + '/' + SUBSTRING(CONVERT(VARCHAR(10),Dt_Lote,110),9,2) AS Dt_Lote,
			Nr_Ativo,
			'0' Nm_Conglomerado,
			'0' Nm_Ativo_Tipo,
			Nm_Consumidor,
			'0' Nm_Usuario,
			Nm_Filial,
			Cd_Centro_Custo,
			Nm_Departamento,
			Nm_Setor,
			Nm_Secao,
			'0' Total_Sem_Auditoria,
			'0' Total_Cobrado,
			'0' Final_Semana,
			'0' Fora_Horario,
			'0' Dentro_Horario,
			'0' Total,
			'0' QTD_Comp,
			'0' Valor_Politica,
			'0' Custo_Fixo,
			'0' Trafego,
			'0' Marcado,
			'0' Periodo,
			Dt_Lote Lote,
			Dt_Visita,
			Dt_Fechamento,
			Dt_Exportacao,
			Total_Marcado,
			Data_Ativacao,
			Data_Desativacao,
			------------
			(	SELECT	ISNULL(SUM(SUBQuery.QTD),0) AS QTD
				FROM (	SELECT	ISNULL(
										COUNT(*)
										-
										((	SELECT	COUNT(*) FROM #T_Dados_Marcacao_Equipamento 
											WHERE	Id_Lote = TD.Id_Lote
													AND Id_Usuario = TD.Id_Usuario
													AND NOT Dt_Fechamento IS NULL))
								,0) AS QTD
						FROM	#T_Dados_Equipamento TD
						WHERE	TD.Dt_Lote = T.Dt_Lote
								AND TD.Nr_Ativo = T.Nr_Ativo
								AND TD.Periodo = 2
								AND TD.Id_Consumidor = T.Id_Consumidor
						GROUP BY Id_Lote, Nr_Ativo, Id_Usuario) SUBQuery) AS UsuarioVisitaramNaoConcluiramMes,
			------------
			(	SELECT	ISNULL(CAST(SUM(Total_Marcado) AS DECIMAL(13,2)),0)
				FROM	#T_Dados_Marcacao_Equipamento
				WHERE	NOT Dt_Fechamento IS NULL
						AND Dt_Lote = T.Dt_Lote
						AND Nr_Ativo = T.Nr_Ativo) AS ValorTotalRetornoMarcacaoMes,
			Id_Filial,
			Id_Departamento,
			Id_Setor,
			Id_Secao
	FROM	#T_Dados_Marcacao_Equipamento T
END

-----gestor de filial, centro custo e departamento - 4,5,6,7,8
-----cockpit (Trafego de Dados)
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
-----***********************************************************************************************************
IF @pPAKAGE = 'Dados_Moveis' AND EXISTS(SELECT Id_Usuario_Perfil_Acesso 
											FROM Usuario WHERE Id_Usuario = @pId_Usuario
											AND Id_Usuario_Perfil_Acesso IN (4,5,6,7,8))
							AND (@pGrupoTipoAtivo = 'Telefonia_Movel')
BEGIN
	-----monta dados
	SELECT * INTO #T_Consumo_Dados_APP FROM dbo.fu_Consumo_Dados_App(@pId_Usuario, CASE WHEN @pMes IS NULL THEN CONVERT(VARCHAR(6),GETDATE(),112) ELSE REPLACE(@pMes,'/','') END)
	SELECT * INTO #T_Consumo_Dados_Operadora FROM dbo.fu_Consumo_Dados_Operadora(@pId_Usuario, CASE WHEN @pMes IS NULL THEN CONVERT(VARCHAR(6),GETDATE(),112) ELSE REPLACE(@pMes,'/','') END, @pGrupoTipoAtivo)
	SELECT * INTO #T_Consumo_Voz_Operadora FROM dbo.fu_Consumo_Voz_Operadora(@pId_Usuario, CASE WHEN @pMes IS NULL THEN CONVERT(VARCHAR(6),GETDATE(),112) ELSE REPLACE(@pMes,'/','') END, @pGrupoTipoAtivo)
	SELECT * INTO #T_Consumo_Voz_Dados FROM fu_Consumo_Voz_Dados(@pId_Usuario, CASE WHEN @pMes IS NULL THEN CONVERT(VARCHAR(6),GETDATE(),112) ELSE REPLACE(@pMes,'/','') END, @pGrupoTipoAtivo)

	SELECT	DISTINCT 'Filial' AS Grupo,Id_Filial AS ID_Filtro,Nm_Filial AS Filtro,'0' Id_Aplicativo,'0' Id_Ativo,'0' Nr_Ativo,'0' Id_Conglomerado,'0' Nm_Conglomerado,'0' Id_Ativo_Tipo,'0' Nm_Ativo_Tipo,'0' Id_Consumidor,'0' Nm_Consumidor,'0' Id_Usuario,'0' Nm_Usuario,'0' Id_Filial,'0' Nm_Filial,'0' Id_Centro_Custo,'0' Cd_Centro_Custo,'0' Id_Departamento,'0' Nm_Departamento,'0' Id_Setor,'0' Nm_Setor,'0' Id_Secao,'0' Nm_Secao,'0' Liberacao_Usuario,'0' Final_Semana,'0' Fora_Horario,NULL Dentro_Horario,NULL Data,'0' Nm_Aplicativo,'0' Pacote_MB,'0' Corte_De,'0' Corte_Ate,'0' Consumo_Calculado,'0' Trafego_Operadora,'0' Mes_Utilizacao,'0' Trafego_Usuario,'0' Trafego_Usuario_Aplicativo,'0' Data_Det,'0' Hora_Det,'0' Consumo,'0' AS Voz,'0' AS Dados INTO #Filtro
	FROM	#T_Consumo_Dados_APP WHERE NOT Id_Filial IS NULL
	UNION ALL
	SELECT	DISTINCT 'Departamento' AS Grupo, Id_Departamento AS ID_Filtro, Nm_Departamento AS Filtro,'0' Id_Aplicativo,'0' Id_Ativo,'0' Nr_Ativo,'0' Id_Conglomerado,'0' Nm_Conglomerado,'0' Id_Ativo_Tipo,'0' Nm_Ativo_Tipo,'0' Id_Consumidor,'0' Nm_Consumidor,'0' Id_Usuario,'0' Nm_Usuario,'0' Id_Filial,'0' Nm_Filial,'0' Id_Centro_Custo,'0' Cd_Centro_Custo,'0' Id_Departamento,'0' Nm_Departamento,'0' Id_Setor,'0' Nm_Setor,'0' Id_Secao,'0' Nm_Secao,'0' Liberacao_Usuario,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,NULL Data,'0' Nm_Aplicativo,'0' Pacote_MB,'0' Corte_De,'0' Corte_Ate,'0' Consumo_Calculado,'0' Trafego_Operadora,'0' Mes_Utilizacao,'0' Trafego_Usuario,'0' Trafego_Usuario_Aplicativo,'0' Data_Det,'0' Hora_Det,'0' Consumo,'0' AS Voz,'0' AS Dados
	FROM	#T_Consumo_Dados_APP WHERE NOT Id_Departamento IS NULL
	UNION ALL
	SELECT	DISTINCT 'Centro_Custo' AS Grupo,Id_Centro_Custo AS ID_Filtro, Cd_Centro_Custo AS Filtro,'0' Id_Aplicativo,'0' Id_Ativo,'0' Nr_Ativo,'0' Id_Conglomerado,'0' Nm_Conglomerado,'0' Id_Ativo_Tipo,'0' Nm_Ativo_Tipo,'0' Id_Consumidor,'0' Nm_Consumidor,'0' Id_Usuario,'0' Nm_Usuario,'0' Id_Filial,'0' Nm_Filial,'0' Id_Centro_Custo,'0' Cd_Centro_Custo,'0' Id_Departamento,'0' Nm_Departamento,'0' Id_Setor,'0' Nm_Setor,'0' Id_Secao,'0' Nm_Secao,'0' Liberacao_Usuario,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,NULL Data,'0' Nm_Aplicativo,'0' Pacote_MB,'0' Corte_De,'0' Corte_Ate,'0' Consumo_Calculado,'0' Trafego_Operadora,'0' Mes_Utilizacao,'0' Trafego_Usuario,'0' Trafego_Usuario_Aplicativo,'0' Data_Det,'0' Hora_Det,'0' Consumo,'0' AS Voz,'0' AS Dados
	FROM	#T_Consumo_Dados_APP WHERE NOT Id_Centro_Custo IS NULL
	UNION ALL
	SELECT	DISTINCT 'Setor' AS Grupo, Id_Setor AS ID_Filtro,Nm_Setor AS Filtro,'0' Id_Aplicativo,'0' Id_Ativo,'0' Nr_Ativo,'0' Id_Conglomerado,'0' Nm_Conglomerado,'0' Id_Ativo_Tipo,'0' Nm_Ativo_Tipo,'0' Id_Consumidor,'0' Nm_Consumidor,'0' Id_Usuario,'0' Nm_Usuario,'0' Id_Filial,'0' Nm_Filial,'0' Id_Centro_Custo,'0' Cd_Centro_Custo,'0' Id_Departamento,'0' Nm_Departamento,'0' Id_Setor,'0' Nm_Setor,'0' Id_Secao,'0' Nm_Secao,'0' Liberacao_Usuario,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,NULL Data,'0' Nm_Aplicativo,'0' Pacote_MB,'0' Corte_De,'0' Corte_Ate,'0' Consumo_Calculado,'0' Trafego_Operadora,'0' Mes_Utilizacao,'0' Trafego_Usuario,'0' Trafego_Usuario_Aplicativo,'0' Data_Det,'0' Hora_Det,'0' Consumo,'0' AS Voz,'0' AS Dados
	FROM	#T_Consumo_Dados_APP WHERE NOT Id_Setor IS NULL
	UNION ALL
	SELECT	DISTINCT 'Secao' AS Grupo, Id_Secao AS ID_Filtro,Nm_Secao AS Filtro,'0' Id_Aplicativo,'0' Id_Ativo,'0' Nr_Ativo,'0' Id_Conglomerado,'0' Nm_Conglomerado,'0' Id_Ativo_Tipo,'0' Nm_Ativo_Tipo,'0' Id_Consumidor,'0' Nm_Consumidor,'0' Id_Usuario,'0' Nm_Usuario,'0' Id_Filial,'0' Nm_Filial,'0' Id_Centro_Custo,'0' Cd_Centro_Custo,'0' Id_Departamento,'0' Nm_Departamento,'0' Id_Setor,'0' Nm_Setor,'0' Id_Secao,'0' Nm_Secao,'0' Liberacao_Usuario,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,NULL Data,'0' Nm_Aplicativo,'0' Pacote_MB,'0' Corte_De,'0' Corte_Ate,'0' Consumo_Calculado,'0' Trafego_Operadora,'0' Mes_Utilizacao,'0' Trafego_Usuario,'0' Trafego_Usuario_Aplicativo,'0' Data_Det,'0' Hora_Det,'0' Consumo,'0' AS Voz,'0' AS Dados
	FROM	#T_Consumo_Dados_APP WHERE NOT Id_Secao IS NULL
	UNION ALL -------------------
	SELECT	DISTINCT 'Filial' AS Grupo,Id_Filial AS ID_Filtro,Nm_Filial AS Filtro,'0' Id_Aplicativo,'0' Id_Ativo,'0' Nr_Ativo,'0' Id_Conglomerado,'0' Nm_Conglomerado,'0' Id_Ativo_Tipo,'0' Nm_Ativo_Tipo,'0' Id_Consumidor,'0' Nm_Consumidor,'0' Id_Usuario,'0' Nm_Usuario,'0' Id_Filial,'0' Nm_Filial,'0' Id_Centro_Custo,'0' Cd_Centro_Custo,'0' Id_Departamento,'0' Nm_Departamento,'0' Id_Setor,'0' Nm_Setor,'0' Id_Secao,'0' Nm_Secao,'0' Liberacao_Usuario,'0' Final_Semana,'0' Fora_Horario,NULL Dentro_Horario,NULL Data,'0' Nm_Aplicativo,'0' Pacote_MB,'0' Corte_De,'0' Corte_Ate,'0' Consumo_Calculado,'0' Trafego_Operadora,'0' Mes_Utilizacao,'0' Trafego_Usuario,'0' Trafego_Usuario_Aplicativo,'0' Data_Det,'0' Hora_Det,'0' Consumo,'0' AS Voz,'0' AS Dados
	FROM	#T_Consumo_Dados_Operadora WHERE NOT Id_Filial IS NULL
	UNION ALL
	SELECT	DISTINCT 'Departamento' AS Grupo, Id_Departamento AS ID_Filtro, Nm_Departamento AS Filtro,'0' Id_Aplicativo,'0' Id_Ativo,'0' Nr_Ativo,'0' Id_Conglomerado,'0' Nm_Conglomerado,'0' Id_Ativo_Tipo,'0' Nm_Ativo_Tipo,'0' Id_Consumidor,'0' Nm_Consumidor,'0' Id_Usuario,'0' Nm_Usuario,'0' Id_Filial,'0' Nm_Filial,'0' Id_Centro_Custo,'0' Cd_Centro_Custo,'0' Id_Departamento,'0' Nm_Departamento,'0' Id_Setor,'0' Nm_Setor,'0' Id_Secao,'0' Nm_Secao,'0' Liberacao_Usuario,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,NULL Data,'0' Nm_Aplicativo,'0' Pacote_MB,'0' Corte_De,'0' Corte_Ate,'0' Consumo_Calculado,'0' Trafego_Operadora,'0' Mes_Utilizacao,'0' Trafego_Usuario,'0' Trafego_Usuario_Aplicativo,'0' Data_Det,'0' Hora_Det,'0' Consumo,'0' AS Voz,'0' AS Dados
	FROM	#T_Consumo_Dados_Operadora WHERE NOT Id_Departamento IS NULL
	UNION ALL
	SELECT	DISTINCT 'Centro_Custo' AS Grupo,Id_Centro_Custo AS ID_Filtro, Cd_Centro_Custo AS Filtro,'0' Id_Aplicativo,'0' Id_Ativo,'0' Nr_Ativo,'0' Id_Conglomerado,'0' Nm_Conglomerado,'0' Id_Ativo_Tipo,'0' Nm_Ativo_Tipo,'0' Id_Consumidor,'0' Nm_Consumidor,'0' Id_Usuario,'0' Nm_Usuario,'0' Id_Filial,'0' Nm_Filial,'0' Id_Centro_Custo,'0' Cd_Centro_Custo,'0' Id_Departamento,'0' Nm_Departamento,'0' Id_Setor,'0' Nm_Setor,'0' Id_Secao,'0' Nm_Secao,'0' Liberacao_Usuario,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,NULL Data,'0' Nm_Aplicativo,'0' Pacote_MB,'0' Corte_De,'0' Corte_Ate,'0' Consumo_Calculado,'0' Trafego_Operadora,'0' Mes_Utilizacao,'0' Trafego_Usuario,'0' Trafego_Usuario_Aplicativo,'0' Data_Det,'0' Hora_Det,'0' Consumo,'0' AS Voz,'0' AS Dados
	FROM	#T_Consumo_Dados_Operadora WHERE NOT Id_Centro_Custo IS NULL
	UNION ALL
	SELECT	DISTINCT 'Setor' AS Grupo, Id_Setor AS ID_Filtro,Nm_Setor AS Filtro,'0' Id_Aplicativo,'0' Id_Ativo,'0' Nr_Ativo,'0' Id_Conglomerado,'0' Nm_Conglomerado,'0' Id_Ativo_Tipo,'0' Nm_Ativo_Tipo,'0' Id_Consumidor,'0' Nm_Consumidor,'0' Id_Usuario,'0' Nm_Usuario,'0' Id_Filial,'0' Nm_Filial,'0' Id_Centro_Custo,'0' Cd_Centro_Custo,'0' Id_Departamento,'0' Nm_Departamento,'0' Id_Setor,'0' Nm_Setor,'0' Id_Secao,'0' Nm_Secao,'0' Liberacao_Usuario,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,NULL Data,'0' Nm_Aplicativo,'0' Pacote_MB,'0' Corte_De,'0' Corte_Ate,'0' Consumo_Calculado,'0' Trafego_Operadora,'0' Mes_Utilizacao,'0' Trafego_Usuario,'0' Trafego_Usuario_Aplicativo,'0' Data_Det,'0' Hora_Det,'0' Consumo,'0' AS Voz,'0' AS Dados
	FROM	#T_Consumo_Dados_Operadora WHERE NOT Id_Setor IS NULL
	UNION ALL
	SELECT	DISTINCT 'Secao' AS Grupo, Id_Secao AS ID_Filtro,Nm_Secao AS Filtro,'0' Id_Aplicativo,'0' Id_Ativo,'0' Nr_Ativo,'0' Id_Conglomerado,'0' Nm_Conglomerado,'0' Id_Ativo_Tipo,'0' Nm_Ativo_Tipo,'0' Id_Consumidor,'0' Nm_Consumidor,'0' Id_Usuario,'0' Nm_Usuario,'0' Id_Filial,'0' Nm_Filial,'0' Id_Centro_Custo,'0' Cd_Centro_Custo,'0' Id_Departamento,'0' Nm_Departamento,'0' Id_Setor,'0' Nm_Setor,'0' Id_Secao,'0' Nm_Secao,'0' Liberacao_Usuario,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,NULL Data,'0' Nm_Aplicativo,'0' Pacote_MB,'0' Corte_De,'0' Corte_Ate,'0' Consumo_Calculado,'0' Trafego_Operadora,'0' Mes_Utilizacao,'0' Trafego_Usuario,'0' Trafego_Usuario_Aplicativo,'0' Data_Det,'0' Hora_Det,'0' Consumo,'0' AS Voz,'0' AS Dados
	FROM	#T_Consumo_Dados_Operadora WHERE NOT Id_Secao IS NULL
	UNION ALL -------------------
	SELECT	DISTINCT 'Filial' AS Grupo,Id_Filial AS ID_Filtro,Nm_Filial AS Filtro,'0' Id_Aplicativo,'0' Id_Ativo,'0' Nr_Ativo,'0' Id_Conglomerado,'0' Nm_Conglomerado,'0' Id_Ativo_Tipo,'0' Nm_Ativo_Tipo,'0' Id_Consumidor,'0' Nm_Consumidor,'0' Id_Usuario,'0' Nm_Usuario,'0' Id_Filial,'0' Nm_Filial,'0' Id_Centro_Custo,'0' Cd_Centro_Custo,'0' Id_Departamento,'0' Nm_Departamento,'0' Id_Setor,'0' Nm_Setor,'0' Id_Secao,'0' Nm_Secao,'0' Liberacao_Usuario,'0' Final_Semana,'0' Fora_Horario,NULL Dentro_Horario,NULL Data,'0' Nm_Aplicativo,'0' Pacote_MB,'0' Corte_De,'0' Corte_Ate,'0' Consumo_Calculado,'0' Trafego_Operadora,'0' Mes_Utilizacao,'0' Trafego_Usuario,'0' Trafego_Usuario_Aplicativo,'0' Data_Det,'0' Hora_Det,'0' Consumo,'0' AS Voz,'0' AS Dados
	FROM	#T_Consumo_Voz_Operadora WHERE NOT Id_Filial IS NULL
	UNION ALL
	SELECT	DISTINCT 'Departamento' AS Grupo, Id_Departamento AS ID_Filtro, Nm_Departamento AS Filtro,'0' Id_Aplicativo,'0' Id_Ativo,'0' Nr_Ativo,'0' Id_Conglomerado,'0' Nm_Conglomerado,'0' Id_Ativo_Tipo,'0' Nm_Ativo_Tipo,'0' Id_Consumidor,'0' Nm_Consumidor,'0' Id_Usuario,'0' Nm_Usuario,'0' Id_Filial,'0' Nm_Filial,'0' Id_Centro_Custo,'0' Cd_Centro_Custo,'0' Id_Departamento,'0' Nm_Departamento,'0' Id_Setor,'0' Nm_Setor,'0' Id_Secao,'0' Nm_Secao,'0' Liberacao_Usuario,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,NULL Data,'0' Nm_Aplicativo,'0' Pacote_MB,'0' Corte_De,'0' Corte_Ate,'0' Consumo_Calculado,'0' Trafego_Operadora,'0' Mes_Utilizacao,'0' Trafego_Usuario,'0' Trafego_Usuario_Aplicativo,'0' Data_Det,'0' Hora_Det,'0' Consumo,'0' AS Voz,'0' AS Dados
	FROM	#T_Consumo_Voz_Operadora WHERE NOT Id_Departamento IS NULL
	UNION ALL
	SELECT	DISTINCT 'Centro_Custo' AS Grupo,Id_Centro_Custo AS ID_Filtro, Cd_Centro_Custo AS Filtro,'0' Id_Aplicativo,'0' Id_Ativo,'0' Nr_Ativo,'0' Id_Conglomerado,'0' Nm_Conglomerado,'0' Id_Ativo_Tipo,'0' Nm_Ativo_Tipo,'0' Id_Consumidor,'0' Nm_Consumidor,'0' Id_Usuario,'0' Nm_Usuario,'0' Id_Filial,'0' Nm_Filial,'0' Id_Centro_Custo,'0' Cd_Centro_Custo,'0' Id_Departamento,'0' Nm_Departamento,'0' Id_Setor,'0' Nm_Setor,'0' Id_Secao,'0' Nm_Secao,'0' Liberacao_Usuario,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,NULL Data,'0' Nm_Aplicativo,'0' Pacote_MB,'0' Corte_De,'0' Corte_Ate,'0' Consumo_Calculado,'0' Trafego_Operadora,'0' Mes_Utilizacao,'0' Trafego_Usuario,'0' Trafego_Usuario_Aplicativo,'0' Data_Det,'0' Hora_Det,'0' Consumo,'0' AS Voz,'0' AS Dados
	FROM	#T_Consumo_Voz_Operadora WHERE NOT Id_Centro_Custo IS NULL
	UNION ALL
	SELECT	DISTINCT 'Setor' AS Grupo, Id_Setor AS ID_Filtro,Nm_Setor AS Filtro,'0' Id_Aplicativo,'0' Id_Ativo,'0' Nr_Ativo,'0' Id_Conglomerado,'0' Nm_Conglomerado,'0' Id_Ativo_Tipo,'0' Nm_Ativo_Tipo,'0' Id_Consumidor,'0' Nm_Consumidor,'0' Id_Usuario,'0' Nm_Usuario,'0' Id_Filial,'0' Nm_Filial,'0' Id_Centro_Custo,'0' Cd_Centro_Custo,'0' Id_Departamento,'0' Nm_Departamento,'0' Id_Setor,'0' Nm_Setor,'0' Id_Secao,'0' Nm_Secao,'0' Liberacao_Usuario,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,NULL Data,'0' Nm_Aplicativo,'0' Pacote_MB,'0' Corte_De,'0' Corte_Ate,'0' Consumo_Calculado,'0' Trafego_Operadora,'0' Mes_Utilizacao,'0' Trafego_Usuario,'0' Trafego_Usuario_Aplicativo,'0' Data_Det,'0' Hora_Det,'0' Consumo,'0' AS Voz,'0' AS Dados
	FROM	#T_Consumo_Voz_Operadora WHERE NOT Id_Setor IS NULL
	UNION ALL
	SELECT	DISTINCT 'Secao' AS Grupo, Id_Secao AS ID_Filtro,Nm_Secao AS Filtro,'0' Id_Aplicativo,'0' Id_Ativo,'0' Nr_Ativo,'0' Id_Conglomerado,'0' Nm_Conglomerado,'0' Id_Ativo_Tipo,'0' Nm_Ativo_Tipo,'0' Id_Consumidor,'0' Nm_Consumidor,'0' Id_Usuario,'0' Nm_Usuario,'0' Id_Filial,'0' Nm_Filial,'0' Id_Centro_Custo,'0' Cd_Centro_Custo,'0' Id_Departamento,'0' Nm_Departamento,'0' Id_Setor,'0' Nm_Setor,'0' Id_Secao,'0' Nm_Secao,'0' Liberacao_Usuario,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,NULL Data,'0' Nm_Aplicativo,'0' Pacote_MB,'0' Corte_De,'0' Corte_Ate,'0' Consumo_Calculado,'0' Trafego_Operadora,'0' Mes_Utilizacao,'0' Trafego_Usuario,'0' Trafego_Usuario_Aplicativo,'0' Data_Det,'0' Hora_Det,'0' Consumo,'0' AS Voz,'0' AS Dados
	FROM	#T_Consumo_Voz_Operadora WHERE NOT Id_Secao IS NULL
	UNION ALL -------------------
	SELECT	DISTINCT 'Filial' AS Grupo,Id_Filial AS ID_Filtro,Nm_Filial AS Filtro,'0' Id_Aplicativo,'0' Id_Ativo,'0' Nr_Ativo,'0' Id_Conglomerado,'0' Nm_Conglomerado,'0' Id_Ativo_Tipo,'0' Nm_Ativo_Tipo,'0' Id_Consumidor,'0' Nm_Consumidor,'0' Id_Usuario,'0' Nm_Usuario,'0' Id_Filial,'0' Nm_Filial,'0' Id_Centro_Custo,'0' Cd_Centro_Custo,'0' Id_Departamento,'0' Nm_Departamento,'0' Id_Setor,'0' Nm_Setor,'0' Id_Secao,'0' Nm_Secao,'0' Liberacao_Usuario,'0' Final_Semana,'0' Fora_Horario,NULL Dentro_Horario,NULL Data,'0' Nm_Aplicativo,'0' Pacote_MB,'0' Corte_De,'0' Corte_Ate,'0' Consumo_Calculado,'0' Trafego_Operadora,'0' Mes_Utilizacao,'0' Trafego_Usuario,'0' Trafego_Usuario_Aplicativo,'0' Data_Det,'0' Hora_Det,'0' Consumo,'0' AS Voz,'0' AS Dados
	FROM	#T_Consumo_Voz_Dados WHERE NOT Id_Filial IS NULL
	UNION ALL
	SELECT	DISTINCT 'Departamento' AS Grupo, Id_Departamento AS ID_Filtro, Nm_Departamento AS Filtro,'0' Id_Aplicativo,'0' Id_Ativo,'0' Nr_Ativo,'0' Id_Conglomerado,'0' Nm_Conglomerado,'0' Id_Ativo_Tipo,'0' Nm_Ativo_Tipo,'0' Id_Consumidor,'0' Nm_Consumidor,'0' Id_Usuario,'0' Nm_Usuario,'0' Id_Filial,'0' Nm_Filial,'0' Id_Centro_Custo,'0' Cd_Centro_Custo,'0' Id_Departamento,'0' Nm_Departamento,'0' Id_Setor,'0' Nm_Setor,'0' Id_Secao,'0' Nm_Secao,'0' Liberacao_Usuario,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,NULL Data,'0' Nm_Aplicativo,'0' Pacote_MB,'0' Corte_De,'0' Corte_Ate,'0' Consumo_Calculado,'0' Trafego_Operadora,'0' Mes_Utilizacao,'0' Trafego_Usuario,'0' Trafego_Usuario_Aplicativo,'0' Data_Det,'0' Hora_Det,'0' Consumo,'0' AS Voz,'0' AS Dados
	FROM	#T_Consumo_Voz_Dados WHERE NOT Id_Departamento IS NULL
	UNION ALL
	SELECT	DISTINCT 'Centro_Custo' AS Grupo,Id_Centro_Custo AS ID_Filtro, Cd_Centro_Custo AS Filtro,'0' Id_Aplicativo,'0' Id_Ativo,'0' Nr_Ativo,'0' Id_Conglomerado,'0' Nm_Conglomerado,'0' Id_Ativo_Tipo,'0' Nm_Ativo_Tipo,'0' Id_Consumidor,'0' Nm_Consumidor,'0' Id_Usuario,'0' Nm_Usuario,'0' Id_Filial,'0' Nm_Filial,'0' Id_Centro_Custo,'0' Cd_Centro_Custo,'0' Id_Departamento,'0' Nm_Departamento,'0' Id_Setor,'0' Nm_Setor,'0' Id_Secao,'0' Nm_Secao,'0' Liberacao_Usuario,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,NULL Data,'0' Nm_Aplicativo,'0' Pacote_MB,'0' Corte_De,'0' Corte_Ate,'0' Consumo_Calculado,'0' Trafego_Operadora,'0' Mes_Utilizacao,'0' Trafego_Usuario,'0' Trafego_Usuario_Aplicativo,'0' Data_Det,'0' Hora_Det,'0' Consumo,'0' AS Voz,'0' AS Dados
	FROM	#T_Consumo_Voz_Dados WHERE NOT Id_Centro_Custo IS NULL
	UNION ALL
	SELECT	DISTINCT 'Setor' AS Grupo, Id_Setor AS ID_Filtro,Nm_Setor AS Filtro,'0' Id_Aplicativo,'0' Id_Ativo,'0' Nr_Ativo,'0' Id_Conglomerado,'0' Nm_Conglomerado,'0' Id_Ativo_Tipo,'0' Nm_Ativo_Tipo,'0' Id_Consumidor,'0' Nm_Consumidor,'0' Id_Usuario,'0' Nm_Usuario,'0' Id_Filial,'0' Nm_Filial,'0' Id_Centro_Custo,'0' Cd_Centro_Custo,'0' Id_Departamento,'0' Nm_Departamento,'0' Id_Setor,'0' Nm_Setor,'0' Id_Secao,'0' Nm_Secao,'0' Liberacao_Usuario,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,NULL Data,'0' Nm_Aplicativo,'0' Pacote_MB,'0' Corte_De,'0' Corte_Ate,'0' Consumo_Calculado,'0' Trafego_Operadora,'0' Mes_Utilizacao,'0' Trafego_Usuario,'0' Trafego_Usuario_Aplicativo,'0' Data_Det,'0' Hora_Det,'0' Consumo,'0' AS Voz,'0' AS Dados
	FROM	#T_Consumo_Voz_Dados WHERE NOT Id_Setor IS NULL
	UNION ALL
	SELECT	DISTINCT 'Secao' AS Grupo, Id_Secao AS ID_Filtro,Nm_Secao AS Filtro,'0' Id_Aplicativo,'0' Id_Ativo,'0' Nr_Ativo,'0' Id_Conglomerado,'0' Nm_Conglomerado,'0' Id_Ativo_Tipo,'0' Nm_Ativo_Tipo,'0' Id_Consumidor,'0' Nm_Consumidor,'0' Id_Usuario,'0' Nm_Usuario,'0' Id_Filial,'0' Nm_Filial,'0' Id_Centro_Custo,'0' Cd_Centro_Custo,'0' Id_Departamento,'0' Nm_Departamento,'0' Id_Setor,'0' Nm_Setor,'0' Id_Secao,'0' Nm_Secao,'0' Liberacao_Usuario,'0' Final_Semana,'0' Fora_Horario,'0' Dentro_Horario,NULL Data,'0' Nm_Aplicativo,'0' Pacote_MB,'0' Corte_De,'0' Corte_Ate,'0' Consumo_Calculado,'0' Trafego_Operadora,'0' Mes_Utilizacao,'0' Trafego_Usuario,'0' Trafego_Usuario_Aplicativo,'0' Data_Det,'0' Hora_Det,'0' Consumo,'0' AS Voz,'0' AS Dados
	FROM	#T_Consumo_Voz_Dados WHERE NOT Id_Secao IS NULL
	
	-------fu_Consumo_Dados_App
	SELECT	Registro AS Grupo,
			'0' AS ID_Filtro,
			'0' AS Filtro,
			Id_Aplicativo,
			Id_Ativo,
			Nr_Ativo,
			Id_Conglomerado,
			Nm_Conglomerado,
			Id_Ativo_Tipo,
			Nm_Ativo_Tipo,
			Id_Consumidor,
			Nm_Consumidor,
			Id_Usuario,
			Nm_Usuario,
			Id_Filial ,
			Nm_Filial,
			Id_Centro_Custo,
			Cd_Centro_Custo,
			Id_Departamento,
			Nm_Departamento,
			Id_Setor,
			Nm_Setor,
			Id_Secao,
			Nm_Secao,
			'0',
			Final_Semana,
			Fora_Horario,
			Dentro_Horario,
			Data,
			Nm_Aplicativo,	
			Pacote_MB,
			Corte_De, 
			Corte_Ate,
			Consumo_Calculado,
			'0' AS Trafego_Operadora,
			'0' AS Mes_Utilizacao,
			
			CAST((((SELECT SUM(Consumo_Calculado) FROM #T_Consumo_Dados_APP WHERE Id_Ativo = T.Id_Ativo) 
				/ (SELECT SUM(Consumo_Calculado) FROM #T_Consumo_Dados_APP)) * 100) AS DECIMAL(10,2)) Trafego_Usuario,
			
			CAST((((SELECT SUM(Consumo_Calculado) FROM #T_Consumo_Dados_APP WHERE Id_Ativo = T.Id_Ativo AND Id_Aplicativo = T.Id_Aplicativo) 
				/ (SELECT SUM(Consumo_Calculado) FROM #T_Consumo_Dados_APP WHERE Id_Ativo = T.Id_Ativo)) * 100) AS DECIMAL(10,2)) Trafego_Usuario_Aplicativo,
			
			'0' AS Data_Det,
			'0' AS Hora_Det,
			'0'	AS Consumo,
			'0' AS Voz, 
			'0' AS Dados
	FROM	#T_Consumo_Dados_APP T 
	WHERE	NOT EXISTS(SELECT * FROM Estoque_Consumidor WHERE Id_Consumidor = T.Id_Consumidor)
	UNION ALL
	-----fu_Consumo_Dados_Operadora
	SELECT	Registro AS Grupo, --0
			'0' AS ID_Filtro, --1
			'0' AS Filtro, --2
			'0' AS Id_Aplicativo, --3
			Id_Ativo, --4
			Nr_Ativo, --5
			'0' AS Id_Conglomerado, --6
			Nm_Conglomerado, --7
			Id_Ativo_Tipo, --8
			Nm_Ativo_Tipo, --9
			Id_Consumidor, --10
			Nm_Consumidor, --11
			Id_Usuario, --12
			Nm_Usuario, --13
			Id_Filial, --14
			Nm_Filial, --15
			Id_Centro_Custo, --16
			Cd_Centro_Custo, --17
			Id_Departamento, --18
			Nm_Departamento, --19
			Id_Setor, --20
			Nm_Setor, --21
			Id_Secao, --22
			Nm_Secao, --23
			'0' AS Liberacao_Usuario, --24
			'0' AS Final_Semana, --24
			'0' AS Fora_Horario, --25
			'0' AS Dentro_Horario, --27
			Data_Completa AS Data, --28
			'0' AS Nm_Aplicativo, --29
			'0' AS Pacote_MB, --30
			'0' AS Corte_De, --31
			'0' AS Corte_Ate, --32
			'0' AS Consumo_Calculado, --33
			'0' AS Trafego_Operadora, --34
			'0' AS Mes_Utilizacao, --35
			'0' AS Trafego_Usuario, --36
			'0' AS Trafego_Usuario_Aplicativo, --37
			Data_Det, --38
			Hora_Det, --39
			Consumo, --40
			(SELECT MAX(Dia_Ano) + 1 FROM #T_Consumo_Dados_Operadora) - Dia_Ano AS Voz, --41
			'0' AS Dados --42
	FROM	#T_Consumo_Dados_Operadora T 
	WHERE	NOT EXISTS(SELECT * FROM Estoque_Consumidor WHERE Id_Consumidor = T.Id_Consumidor)
			AND ((SELECT MAX(Dia_Ano) + 1 FROM #T_Consumo_Dados_Operadora) - T.Dia_Ano) <= 30
	UNION ALL
	-----fu_Consumo_Voz_Operadora
	SELECT	Registro AS Grupo,
			'0' AS ID_Filtro,
			'0' AS Filtro,
			'0' AS Id_Aplicativo,
			Id_Ativo,
			Nr_Ativo,
			'0' AS Id_Conglomerado,
			Nm_Conglomerado,
			Id_Ativo_Tipo,
			Nm_Ativo_Tipo,
			Id_Consumidor,
			Nm_Consumidor,
			Id_Usuario,
			Nm_Usuario,
			Id_Filial ,
			Nm_Filial,
			Id_Centro_Custo,
			Cd_Centro_Custo,
			Id_Departamento,
			Nm_Departamento,
			Id_Setor,
			Nm_Setor,
			Id_Secao,
			Nm_Secao,
			'0' AS Liberacao_Usuario,
			'0' AS Final_Semana,
			'0' AS Fora_Horario,
			'0' AS Dentro_Horario,
			Data_Completa AS Data,
			'0' AS Nm_Aplicativo,	
			'0' AS Pacote_MB,
			'0' AS Corte_De, 
			'0' AS Corte_Ate,
			'0' AS Consumo_Calculado,
			'0' AS Trafego_Operadora,
			'0' AS  Mes_Utilizacao,
			'0' AS  Trafego_Usuario,
			'0' AS  Trafego_Usuario_Aplicativo,
			Data_Det, --38
			Hora_Det, --39
			Consumo, --40
			(SELECT MAX(Dia_Ano) + 1 FROM #T_Consumo_Voz_Operadora) - Dia_Ano AS Voz, --41
			Dia_Ano AS Dados --42
	FROM	#T_Consumo_Voz_Operadora T 
	WHERE	NOT EXISTS(SELECT * FROM Estoque_Consumidor WHERE Id_Consumidor = T.Id_Consumidor)
			AND ((SELECT MAX(Dia_Ano) + 1 FROM #T_Consumo_Voz_Operadora) - T.Dia_Ano) <= 30
	UNION ALL
	-----fu_Consumo_Voz_Dados
	SELECT	Registro AS Grupo,
			'0' AS ID_Filtro,
			'0' AS Filtro,
			'0' AS Id_Aplicativo,
			Id_Ativo,
			Nr_Ativo,
			'0' AS Id_Conglomerado,
			Nm_Conglomerado,
			Id_Ativo_Tipo,
			Nm_Ativo_Tipo,
			Id_Consumidor,
			Nm_Consumidor,
			Id_Usuario,
			Nm_Usuario,
			Id_Filial ,
			Nm_Filial,
			Id_Centro_Custo,
			Cd_Centro_Custo,
			Id_Departamento,
			Nm_Departamento,
			Id_Setor,
			Nm_Setor,
			Id_Secao,
			Nm_Secao,
			'0' AS Liberacao_Usuario,
			'0' AS Final_Semana,
			'0' AS Fora_Horario,
			'0' AS Dentro_Horario,
			'' AS Data,
			'0' AS Nm_Aplicativo,	
			'0' AS Pacote_MB,
			'0' AS Corte_De, 
			'0' AS Corte_Ate,
			'0' AS Consumo_Calculado,
			'0' AS Trafego_Operadora,
			'0' AS Mes_Utilizacao,
			'0' AS Trafego_Usuario,
			'0' AS Trafego_Usuario_Aplicativo,
			'' AS Data_Det,
			'0' AS Hora_Det,
			'0' AS Consumo, 
			Voz, 
			Dados
	FROM	#T_Consumo_Voz_Dados T 
	WHERE	NOT EXISTS(SELECT * FROM Estoque_Consumidor WHERE Id_Consumidor = T.Id_Consumidor)
	UNION ALL
	SELECT DISTINCT * FROM #Filtro
END
GO
