USE [branco]
GO
/****** Object:  StoredProcedure [dbo].[pa_Estoque]    Script Date: 7/31/2025 10:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[pa_Estoque] (	@pPakage				VARCHAR(200),
								@pId_Consumidor			INT				= NULL,
								@pNr_Ativo				VARCHAR(50)		= NULL,
								@pNr_Pedido				VARCHAR(50)		= NULL,
								@pNr_Nota_Fiscal		VARCHAR(50)		= NULL,
								@pId_Aparelho			INT				= NULL,
								@pId_Ativo				INT				= NULL,
								@pObservacao			VARCHAR(300)	= NULL,
								@pId_Usuario_Permissao	INT				= NUll) AS
-----manutencao no aparelho em solicitacao
IF @pPAKAGE = 'sp_Manutencao_Solicitacao_Pedido'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
	BEGIN
		-----captura id da nota fiscal
		DECLARE @vId_Estoque_Nota_Fiscal INT
		SELECT @vId_Estoque_Nota_Fiscal = Id_Estoque_Nota_Fiscal FROM Estoque_Nota_Fiscal WHERE Nr_Nota_Fiscal = @pNr_Nota_Fiscal

		UPDATE	Estoque_Aparelho
		SET		Nr_Aparelho = CASE WHEN NOT @vId_Estoque_Nota_Fiscal IS NULL AND NOT EXISTS(SELECT * FROM Estoque_Aparelho WHERE Nr_Aparelho = @pNr_Ativo) THEN @pNr_Ativo 
									WHEN NOT @vId_Estoque_Nota_Fiscal IS NULL AND EXISTS(SELECT * FROM Estoque_Aparelho WHERE Nr_Aparelho = @pNr_Ativo) THEN 'Duplicado_' + @pNr_Ativo 
									ELSE @pNr_Ativo END ,
				Nr_Pedido = @pNr_Pedido,
				Dt_Pedido = CASE WHEN (SELECT Nr_Pedido FROM Estoque_Aparelho WHERE Id_Aparelho = @pId_Aparelho) IS NULL THEN  GETDATE() ELSE Dt_Pedido END,
				Id_Estoque_Nota_Fiscal = @vId_Estoque_Nota_Fiscal,
				Id_Aparelho_Tipo = CASE WHEN NOT @vId_Estoque_Nota_Fiscal IS NULL AND NOT EXISTS(SELECT * FROM Estoque_Aparelho WHERE Nr_Aparelho = @pNr_Ativo) THEN 1 ELSE 3 END
		WHERE	Id_Aparelho = @pId_Aparelho
	END
END

-----envia equipamento do estoque para assistencia
IF @pPAKAGE = 'sp_Manutencao_Estoque_Assistencia'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
	BEGIN
		UPDATE	Estoque_Aparelho
		SET		Id_Aparelho_Tipo = 2
		WHERE	Id_Aparelho = @pId_Aparelho
	END
END

-----envia equipamento da assistencia para estoque
IF @pPAKAGE = 'sp_Manutencao_Assistencia_Estoque'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
	BEGIN
		UPDATE	Estoque_Aparelho
		SET		Id_Aparelho_Tipo = 1
		WHERE	Id_Aparelho = @pId_Aparelho
	END
END

-----envia equipamento da devolucao para estoque
IF @pPAKAGE = 'sp_Manutencao_Devolucao_Estoque'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
	BEGIN
		UPDATE	Estoque_Aparelho
		SET		Id_Aparelho_Tipo = 1
		WHERE	Id_Aparelho = @pId_Aparelho
	END
END

-----envia equipamento do estoque para devolucao
IF @pPAKAGE = 'sp_Manutencao_Estoque_Devolucao'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
	BEGIN
		UPDATE	Estoque_Aparelho
		SET		Id_Aparelho_Tipo = 4,
				Observacao = @pObservacao
		WHERE	Id_Aparelho = @pId_Aparelho
	END
END

-----lista usuario de estoque
IF @pPAKAGE = 'sp_Consumidor'
BEGIN
	SELECT	EC.Id_Consumidor	AS ID,
			C.Nm_Consumidor		AS Descricao
	FROM	Estoque_Consumidor EC INNER JOIN vw_Consumidor C ON (EC.Id_Consumidor = C.Id_Consumidor)
END

-----desativa aparelho
IF @pPAKAGE = 'sp_Desativa_Aparelho'
BEGIN
	UPDATE	Estoque_Aparelho
	SET		Fl_Desativado = 1,
			Id_Aparelho_Tipo = 4,
			Observacao = @pObservacao
	WHERE	Id_Aparelho = @pId_Aparelho
END

-----desativa aparelho
IF @pPAKAGE = 'sp_Reativa_Aparelho'
BEGIN
	UPDATE	Estoque_Aparelho
	SET		Fl_Desativado = 0,
			Id_Aparelho_Tipo = 1
	WHERE	Id_Aparelho = @pId_Aparelho
END

-----retira usuario estoque do ativo
IF @pPAKAGE = 'sp_Retira_Usuario_Estoque'
BEGIN
	DELETE FROM Rl_Consumidor_Ativo
	WHERE	Id_Consumidor IN (SELECT Id_Consumidor FROM dbo.Estoque_Consumidor)
			AND Id_Ativo = 	@pId_Ativo
END

-----retorna dados para correio
IF @pPAKAGE = 'sd_SL_Correio'
BEGIN
	SELECT	DISTINCT 
			ISNULL(CO.Nm_Consumidor,'') AS Nm_Consumidor,
			ISNULL(EE.Nm_Estoque_Endereco_Entrega,'') AS Nm_Estoque_Endereco_Entrega
	FROM	vw_Estoque_Aparelho EA	INNER JOIN Estoque_Endereco_Entrega EE ON (EE.Id_Estoque_Endereco_Entrega = EA.Id_Estoque_Endereco_Entrega)
									LEFT JOIN Rl_Estoque_Aparelho_Ativo REA ON (EA.Id_Aparelho = REA.Id_Aparelho)
									LEFT JOIN vw_Alocacao_Ativo_Consumidor AAC ON (REA.Id_Ativo = AAC.Id_Ativo)
									LEFT JOIN vw_Consumidor CO ON (CO.Id_Consumidor = AAC.Id_Consumidor)
	WHERE	EA.Id_Aparelho = @pId_Aparelho
END

-----manutencao no aparelho em estoque
IF @pPAKAGE = 'sp_Manutencao_Estoque' 
BEGIN--1
	DECLARE @v_Id_Ativo AS INT
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2 
	BEGIN --2
		IF @pNr_Ativo IS NULL AND NOT @pId_Ativo IS NULL 
		BEGIN --3
			DELETE FROM Rl_Estoque_Aparelho_Ativo WHERE Id_Ativo = @pId_Ativo AND Id_Aparelho = @pId_Aparelho
		END
		ELSE
		BEGIN
			-----busca id do ativo
			SET @v_Id_Ativo = 0
			SELECT	@v_Id_Ativo = Id_Ativo 
			FROM	vw_Ativo A	
			WHERE	A.Nr_Ativo = @pNr_Ativo
					AND A.Id_Conglomerado IN (	SELECT	Id_Conglomerado 
												FROM	Estoque_Aparelho 
												WHERE	Id_Aparelho = @pId_Aparelho)
		
			IF EXISTS(SELECT * FROM vw_Ativo WHERE Id_Ativo = @v_Id_Ativo) AND NOT EXISTS(SELECT * FROM Rl_Estoque_Aparelho_Ativo WHERE Id_Aparelho = @pId_Aparelho AND Id_Ativo = @v_Id_Ativo)
			BEGIN --5
				INSERT INTO Rl_Estoque_Aparelho_Ativo
				VALUES(@pId_Aparelho, @v_Id_Ativo)

				-----atualiza dados (ativo)
				UPDATE	Ativo
				SET		Id_Ativo_Tipo = CASE WHEN EA.Id_Ativo_Tipo IS NULL THEN A.Id_Ativo_Tipo ELSE EA.Id_Ativo_Tipo END,
						Id_Ativo_Modelo = EA.Id_Ativo_Modelo
				FROM	Ativo A INNER JOIN Rl_Estoque_Aparelho_Ativo EAA ON (A.Id_Ativo = EAA.Id_Ativo)
								INNER JOIN Estoque_Aparelho EA ON (EA.Id_Aparelho = EAA.Id_Aparelho)
				WHERE	EA.Id_Aparelho = @pId_Aparelho
				
				-----ativo parametro
				IF EXISTS(SELECT * FROM Ativo_Parametro WHERE Id_Ativo = @v_Id_Ativo)
				BEGIN --6
					UPDATE	Ativo_Parametro 
					SET		Dt_Termino_Garantia = ENF.Dt_Nota_Fiscal,
							Id_Ativo_Fr_Aquisicao = ENF.Id_Ativo_Fr_Aquisicao,
							Vr_Fr_Aquisicao = ENF.Vr_Fr_Aquisicao,
							Dt_Ini_Fr_Aquisicao = ENF.Dt_Inicio_Fr_Aquisicao,
							Qtd_Mes_Residuo_Fr_Aquisicao = ENF.Qtd_Mes_Residuo_Fr_Aquisicao
					FROM	Ativo_Parametro AP	INNER JOIN Rl_Estoque_Aparelho_Ativo EAA ON (AP.Id_Ativo = EAA.Id_Ativo)
												INNER JOIN Estoque_Aparelho EA ON (EA.Id_Aparelho = EAA.Id_Aparelho)
												INNER JOIN Estoque_Nota_Fiscal ENF ON (ENF.Id_Estoque_Nota_Fiscal = EA.Id_Estoque_Nota_Fiscal)
					WHERE	EA.Id_Aparelho = @pId_Aparelho
				END
				ELSE
				BEGIN
					INSERT INTO Ativo_Parametro (Id_Ativo,Id_Ativo_Fr_Aquisicao,Dt_Ini_Fr_Aquisicao,Vr_Fr_Aquisicao,Qtd_Mes_Residuo_Fr_Aquisicao,Dt_Termino_Garantia,Rateio_Conglomerado,Id_Tronco_Grupo,Id_Conglomerado,Id_Contrato)
					SELECT	@v_Id_Ativo,
							ENF.Id_Ativo_Fr_Aquisicao,
							ENF.Dt_Nota_Fiscal,
							ENF.Vr_Fr_Aquisicao,
							ENF.Qtd_Mes_Residuo_Fr_Aquisicao,
							ENF.Dt_Inicio_Fr_Aquisicao,
							NULL,
							NULL,
							NULL,
							NULL
					FROM	Ativo_Parametro AP	INNER JOIN Rl_Estoque_Aparelho_Ativo EAA ON (AP.Id_Ativo = EAA.Id_Ativo)
												INNER JOIN Estoque_Aparelho EA ON (EA.Id_Aparelho = EAA.Id_Aparelho)
												INNER JOIN Estoque_Nota_Fiscal ENF ON (ENF.Id_Estoque_Nota_Fiscal = EA.Id_Estoque_Nota_Fiscal)
					WHERE	EA.Id_Aparelho = @pId_Aparelho
				END --6
			END --5
		END --3
	END	--2
END --1

--*******************************************************************************************************************

--1 estoque
--2 assistencia
--3 solicitacao
--4 devolucao
--5 descarte

IF @pPAKAGE = 'sp_Estoque'-----------------------------------------------------------------------------------
BEGIN
	-----aparelho
	SELECT	EA.Nr_Aparelho			AS Nr_Aparelho,
			AT.Nm_Ativo_Tipo		AS Nm_Aparelho_Tipo,
			AM.Descricao			AS Nm_Ativo_Modelo,
			C.Nm_Conglomerado		AS Nm_Conglomerado,
			NULL					AS Nr_Ativo,
			EA.Id_Aparelho			AS Id_Aparelho,
			NULL					AS Id_Ativo,
			dbo.Fu_Link_HTTP ('Aparelho.aspx',EA.Id_Aparelho,'RAIZ') AS Link,
			'1'						AS Usuario,
			ISNULL(EAS.Nm_Estoque_Aparelho_Status,'') AS Nm_Estoque_Aparelho_Status,
			EA.Observacao 
	FROM	vw_Estoque_Aparelho EA	INNER JOIN vw_Conglomerado C ON (C.Id_Conglomerado = EA.Id_Conglomerado)
									LEFT JOIN vw_Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = EA.Id_Ativo_Tipo)
									LEFT JOIN vw_Ativo_Modelo_Fabricante AM ON (AM.Id_Ativo_Modelo = EA.Id_Ativo_Modelo)
									LEFT JOIN vw_Estoque_Aparelho_Status EAS ON (EAS.Id_Estoque_Aparelho_Status = EA.Id_Estoque_Aparelho_Status)
	WHERE	NOT EXISTS(	SELECT	* 
						FROM	Rl_Estoque_Aparelho_Ativo R INNER JOIN vw_Ativo A ON R.Id_Ativo = A.Id_Ativo 
						WHERE	Id_Aparelho = EA.Id_Aparelho)
			AND Id_Consumidor = @pId_Consumidor
			AND EA.Id_Aparelho_Tipo = 1 --(estoque)
			AND EA.Fl_Desativado = 0
			AND (EA.Nr_Aparelho LIKE '%' + @pNr_Ativo + '%' OR @pNr_Ativo IS NULL)
			AND (AT.Id_Ativo_Tipo = @pId_Aparelho OR @pId_Aparelho IS NULL)
	UNION ALL		
	-----aparelho + linha
	SELECT	EA.Nr_Aparelho				AS Nr_Aparelho,
			AT.Nm_Ativo_Tipo			AS Nm_Aparelho_Tipo,
			AM.Descricao				AS Nm_Ativo_Modelo,
			C.Nm_Conglomerado			AS Nm_Conglomerado,
			A.Nr_Ativo					AS Nr_Ativo,
			EA.Id_Aparelho				AS Id_Aparelho,
			A.Id_Ativo					AS Id_Ativo,
			dbo.Fu_Link_HTTP ('Aparelho.aspx',EA.Id_Aparelho,'RAIZ') AS Link,
			CASE WHEN EXISTS(SELECT * FROM Rl_Consumidor_Ativo RCA INNER JOIN vw_Consumidor C ON RCA.Id_Consumidor = C.Id_Consumidor
							WHERE Id_Ativo = A.Id_Ativo AND NOT RCA.Id_Consumidor = @pId_Consumidor) 
				THEN '2' ELSE '1' END AS Usuario,
			ISNULL(EAS.Nm_Estoque_Aparelho_Status,'') AS Nm_Estoque_Aparelho_Status,
			EA.Observacao
	FROM	vw_Estoque_Aparelho EA	INNER JOIN Rl_Estoque_Aparelho_Ativo REA ON (EA.Id_Aparelho = REA.Id_Aparelho)
									INNER JOIN vw_Conglomerado C ON (C.Id_Conglomerado = EA.Id_Conglomerado)
									INNER JOIN vw_Ativo A ON (REA.Id_Ativo = A.Id_Ativo)
									LEFT JOIN vw_Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = EA.Id_Ativo_Tipo)
									LEFT JOIN vw_Ativo_Modelo_Fabricante AM ON (AM.Id_Ativo_Modelo = EA.Id_Ativo_Modelo)
									LEFT JOIN vw_Estoque_Aparelho_Status EAS ON (EAS.Id_Estoque_Aparelho_Status = EA.Id_Estoque_Aparelho_Status)
	WHERE	A.Id_Ativo IN (	SELECT Id_Ativo FROM Rl_Consumidor_Ativo WHERE Id_Consumidor  = @pId_Consumidor)
			AND EA.Id_Aparelho_Tipo = 1 --(estoque)
			AND EA.Fl_Desativado = 0
			AND (EA.Nr_Aparelho LIKE '%' + @pNr_Ativo + '%' OR @pNr_Ativo IS NULL)
			AND (AT.Id_Ativo_Tipo = @pId_Aparelho OR @pId_Aparelho IS NULL)
	ORDER BY Nr_Ativo desc, Nm_Ativo_Modelo asc
END

IF @pPAKAGE = 'sp_Ativo' -----------------------------------------------------------------------------------
BEGIN
	SELECT	NULL				AS Nr_Aparelho,
			AT.Nm_Ativo_Tipo	AS Nm_Aparelho_Tipo,
			AM.Descricao		AS Nm_Ativo_Modelo,
			C.Nm_Conglomerado	AS Nm_Conglomerado,
			A.Nr_Ativo			AS Nr_Ativo,
			NULL				AS Id_Aparelho,
			A.Id_Ativo			AS Id_Ativo,
			dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'RAIZ') AS Link,
			CASE WHEN EXISTS(SELECT * FROM Rl_Consumidor_Ativo  RCA INNER JOIN vw_Consumidor C ON RCA.Id_Consumidor = C.Id_Consumidor
							WHERE Id_Ativo = A.Id_Ativo AND NOT RCA.Id_Consumidor = @pId_Consumidor) 
				THEN '2' ELSE '1' END AS Usuario,
			ISNULL(AST.Nm_Ativo_Status,'')	AS Status_Aparelho,
			ISNULL(A.Localidade,'') AS Dt_Suspensao,
			(SELECT CONVERT(VARCHAR(10),MIN(L.Dt_Lote), 103)  		
			FROM	Lote L INNER JOIN Lote_Log_Criacao LLC ON L.Id_Lote = LLC.Id_Lote
			WHERE	LLC.Id_Consumidor = @pId_Consumidor
					AND L.Id_Ativo = A.Id_Ativo
					AND LLC.Id_Lote >	ISNULL((SELECT	MAX(SL.Id_Lote) 
												FROM	Lote SL INNER JOIN Lote_Log_Criacao SLLC ON SL.Id_Lote = SLLC.Id_Lote
												WHERE	NOT SLLC.Id_Consumidor = @pId_Consumidor
														AND SL.Id_Ativo = A.Id_Ativo), 0)) AS Tempo_Parado,
			(SELECT MIN(L.Dt_Lote)  		
			FROM	Lote L INNER JOIN Lote_Log_Criacao LLC ON L.Id_Lote = LLC.Id_Lote
			WHERE	LLC.Id_Consumidor = @pId_Consumidor
					AND L.Id_Ativo = A.Id_Ativo
					AND LLC.Id_Lote >	ISNULL((SELECT	MAX(SL.Id_Lote) 
												FROM	Lote SL INNER JOIN Lote_Log_Criacao SLLC ON SL.Id_Lote = SLLC.Id_Lote
												WHERE	NOT SLLC.Id_Consumidor = @pId_Consumidor
														AND SL.Id_Ativo = A.Id_Ativo), 0)) AS Tempo_Parado_Ordenar
	FROM	vw_Ativo A	INNER JOIN vw_Conglomerado C ON (C.Id_Conglomerado = A.Id_Conglomerado)
						LEFT JOIN vw_Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo)
						LEFT JOIN vw_Ativo_Modelo_Fabricante AM ON (AM.Id_Ativo_Modelo = A.Id_Ativo_Modelo)
						LEFT JOIN vw_Ativo_Status AST ON (AST.Id_Ativo_Status = A.Id_Ativo_Status)
	WHERE	NOT EXISTS(SELECT * FROM Rl_Estoque_Aparelho_Ativo REA INNER JOIN Estoque_Aparelho EA ON REA.Id_Aparelho = EA.Id_Aparelho 
						WHERE EA.Id_Aparelho_Tipo IN (1,2) AND Id_Ativo = A.Id_Ativo) --ativo sem equipamento
			AND A.Id_Ativo IN (	SELECT Id_Ativo FROM Rl_Consumidor_Ativo
								WHERE Id_Consumidor = @pId_Consumidor)
			AND (A.Nr_Ativo LIKE '%' + @pNr_Ativo + '%' OR @pNr_Ativo IS NULL)
			AND (AT.Id_Ativo_Tipo = @pId_Aparelho OR @pId_Aparelho IS NULL)
	ORDER BY Tempo_Parado_Ordenar
END

IF @pPAKAGE = 'sp_Assistencia' -----------------------------------------------------------------------------------
BEGIN
	SELECT	EA.Nr_Aparelho			AS Nr_Aparelho,
			AT.Nm_Ativo_Tipo		AS Nm_Aparelho_Tipo,
			AM.Descricao			AS Nm_Ativo_Modelo,
			C.Nm_Conglomerado		AS Nm_Conglomerado,
			A.Nr_Ativo				AS Nr_Ativo,
			EA.Id_Aparelho			AS Id_Aparelho,
			A.Id_Ativo				AS Id_Ativo,
			dbo.Fu_Link_HTTP ('Aparelho.aspx',EA.Id_Aparelho,'RAIZ') AS Link,
			CASE WHEN EXISTS(SELECT * FROM Rl_Consumidor_Ativo WHERE Id_Ativo = A.Id_Ativo AND NOT Id_Consumidor = @pId_Consumidor) 
				THEN '2' ELSE '1' END AS Usuario			,
			EAS.Nm_Estoque_Aparelho_Status	AS Status_Aparelho				
	FROM	vw_Estoque_Aparelho EA	INNER JOIN vw_Conglomerado C ON (C.Id_Conglomerado = EA.Id_Conglomerado)
									LEFT JOIN vw_Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = EA.Id_Ativo_Tipo)
									LEFT JOIN vw_Ativo_Modelo_Fabricante AM ON (AM.Id_Ativo_Modelo = EA.Id_Ativo_Modelo)
									LEFT JOIN Rl_Estoque_Aparelho_Ativo REA ON (EA.Id_Aparelho = REA.Id_Aparelho)
									LEFT JOIN Ativo A ON (REA.Id_Ativo = A.Id_Ativo)
									LEFT JOIN vw_Estoque_Aparelho_Status EAS ON (EAS.Id_Estoque_Aparelho_Status = EA.Id_Estoque_Aparelho_Status)
	WHERE	Id_Consumidor = @pId_Consumidor
			AND EA.Id_Aparelho_Tipo = 2 --(assistencia)
			AND EA.Fl_Desativado = 0
			AND (EA.Nr_Aparelho LIKE '%' + @pNr_Ativo + '%' OR @pNr_Ativo IS NULL)
			AND (AT.Id_Ativo_Tipo = @pId_Aparelho OR @pId_Aparelho IS NULL)
	ORDER BY Nm_Aparelho_Tipo, Nr_Aparelho						
END

IF @pPAKAGE = 'sp_Solicitacao' -----------------------------------------------------------------------------------
BEGIN
	SELECT	EA.Nr_Aparelho				AS Nr_Aparelho,
			EA.Nr_Pedido				AS Nr_Pedido,
			ENF.Nr_Nota_Fiscal			AS Nr_Nota_Fiscal,
			EA.Id_Estoque_Nota_Fiscal	AS Id_Estoque_Nota_Fiscal,
			AT.Nm_Ativo_Tipo			AS Nm_Aparelho_Tipo,
			AM.Descricao				AS Nm_Ativo_Modelo,
			C.Nm_Conglomerado			AS Nm_Conglomerado,
			EA.Nr_Linha_Solicitacao		AS Nr_Ativo,
			EA.Id_Aparelho				AS Id_Aparelho,
			NULL						AS Id_Ativo,
			(SELECT TOP 1 DC_Nr_Nota_Fiscal  FROM Lote WHERE Id_Ativo IN (SELECT Id_Ativo FROM Ativo WHERE Nr_Ativo = EA.Nr_Linha_Solicitacao)) 
			AS DC_Nr_Nota_Fiscal,
			EA.Nr_Chamado AS Nr_Chamado,
			EAS.Nm_Estoque_Aparelho_Status,
			CONVERT(VARCHAR(10),EA.Dt_Chamado,103) AS Dt_Chamado
	FROM	vw_Estoque_Aparelho EA	INNER JOIN vw_Conglomerado C ON (C.Id_Conglomerado = EA.Id_Conglomerado)
									LEFT JOIN vw_Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = EA.Id_Ativo_Tipo)
									LEFT JOIN vw_Ativo_Modelo_Fabricante AM ON (AM.Id_Ativo_Modelo = EA.Id_Ativo_Modelo)
									LEFT JOIN vw_Estoque_Aparelho_Status EAS ON (EAS.Id_Estoque_Aparelho_Status = EA.Id_Estoque_Aparelho_Status)
									LEFT JOIN vw_Estoque_Nota_Fiscal ENF ON (ENF.Id_Estoque_Nota_Fiscal = EA.Id_Estoque_Nota_Fiscal)
	WHERE	NOT EXISTS(SELECT * FROM Rl_Estoque_Aparelho_Ativo WHERE Id_Aparelho = EA.Id_Aparelho)
			AND Id_Consumidor = @pId_Consumidor
			AND EA.Id_Aparelho_Tipo = 3 --(solicitacao)
			AND EA.Fl_Desativado = 0
			AND (EA.Nr_Aparelho LIKE '%' + @pNr_Ativo + '%' OR @pNr_Ativo IS NULL)
			AND (AT.Id_Ativo_Tipo = @pId_Aparelho OR @pId_Aparelho IS NULL)
	ORDER BY EA.Dt_Chamado
END

IF @pPAKAGE = 'sp_Devolucao' -----------------------------------------------------------------------------------
BEGIN
	SELECT	EA.Nr_Aparelho			AS Nr_Aparelho,
			AT.Nm_Ativo_Tipo		AS Nm_Aparelho_Tipo,
			AM.Descricao			AS Nm_Ativo_Modelo,
			C.Nm_Conglomerado		AS Nm_Conglomerado,
			A.Nr_Ativo				AS Nr_Ativo,
			EA.Id_Aparelho			AS Id_Aparelho,
			A.Id_Ativo				AS Id_Ativo,
			
			ISNULL((SELECT TOP 1 SCO.Nm_Consumidor FROM Rl_Consumidor_Ativo SRCA INNER JOIN Consumidor SCO ON (SRCA.Id_Consumidor = SCO.Id_Consumidor)
					WHERE Id_Ativo = A.Id_Ativo AND NOT SRCA.Id_Consumidor IN (SELECT Id_Consumidor FROM Estoque_Consumidor)), 'VAGO') 
			AS Consumidor,
			
			ISNULL((SELECT TOP 1 SCO.EMail FROM Rl_Consumidor_Ativo SRCA INNER JOIN Consumidor SCO ON (SRCA.Id_Consumidor = SCO.Id_Consumidor)
					WHERE Id_Ativo = A.Id_Ativo AND NOT SRCA.Id_Consumidor IN (SELECT Id_Consumidor FROM Estoque_Consumidor)), 'VAGO') 
			AS EMail_Consumidor,
			
			ISNULL((SELECT TOP 1 SCO.Matricula_Chefia FROM Rl_Consumidor_Ativo SRCA INNER JOIN Consumidor SCO ON (SRCA.Id_Consumidor = SCO.Id_Consumidor)
					WHERE Id_Ativo = A.Id_Ativo AND NOT SRCA.Id_Consumidor IN (SELECT Id_Consumidor FROM Estoque_Consumidor)), 'VAGO') 
			AS Matricula_Chefia,

			ISNULL((SELECT TOP 1 CASE WHEN SCO.Fl_Desativado = 0 THEN 'Ativo'
									WHEN SCO.Fl_Desativado = 1 THEN 'Desativado'
									WHEN SCO.Fl_Desativado = 2 THEN 'Cad. Manual' END  
					FROM Rl_Consumidor_Ativo SRCA INNER JOIN Consumidor SCO ON (SRCA.Id_Consumidor = SCO.Id_Consumidor)
					WHERE Id_Ativo = A.Id_Ativo), 'VAGO') 
			AS Status_Usuario,

			(SELECT TOP 1 US.Nm_Usuario FROM Rl_Consumidor_Ativo SRCA INNER JOIN Usuario US ON (SRCA.Id_Consumidor = US.Id_Consumidor)
			WHERE Id_Ativo = A.Id_Ativo) 
			AS Usuario,
						
			-----termo de desativacao
			'window.open(' + '''' + '../Termo/' + ISNULL(ATG.Termo_Desativacao,'') + '?Id_Ativo=' + CONVERT(VARCHAR,A.Id_Ativo) +	 
			'&Id_Consumidor=' + (SELECT TOP 1 CONVERT(VARCHAR,SCO.Id_Consumidor)  
								FROM Rl_Consumidor_Ativo SRCA INNER JOIN Consumidor SCO ON (SRCA.Id_Consumidor = SCO.Id_Consumidor)
								WHERE Id_Ativo = A.Id_Ativo) +
			'&Nm_Ativo_Tipo_Grupo=' + CONVERT(VARCHAR,ATG.Nm_Ativo_Tipo_Grupo) + '''' + ',' + '''' + '''' + ',' + '''' +
			'resizable=yes, menubar=no, scrollbars=yes,height=600, width=800, top=10, left=10' + '''' + ')'
			AS Termo_Devolucao
			
	FROM	vw_Estoque_Aparelho EA	INNER JOIN vw_Conglomerado C ON (C.Id_Conglomerado = EA.Id_Conglomerado)
									LEFT JOIN vw_Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = EA.Id_Ativo_Tipo)
									LEFT JOIN Ativo_Tipo_Grupo ATG ON AT.Id_Ativo_Tipo_Grupo  = ATG.Id_Ativo_Tipo_Grupo 
									LEFT JOIN vw_Ativo_Modelo_Fabricante AM ON (AM.Id_Ativo_Modelo = EA.Id_Ativo_Modelo)
									LEFT JOIN Rl_Estoque_Aparelho_Ativo REA ON (EA.Id_Aparelho = REA.Id_Aparelho)
									LEFT JOIN Ativo A ON (REA.Id_Ativo = A.Id_Ativo)
	WHERE	Id_Consumidor = @pId_Consumidor
			AND EA.Id_Aparelho_Tipo  = 4 --(devolucao)
			AND EA.Fl_Desativado = 0
			AND (EA.Nr_Aparelho LIKE '%' + @pNr_Ativo + '%' OR @pNr_Ativo IS NULL)
			AND (AT.Id_Ativo_Tipo = @pId_Aparelho OR @pId_Aparelho IS NULL)
	ORDER BY Nm_Ativo_Modelo	
END

IF @pPAKAGE = 'sp_Desativado' -----------------------------------------------------------------------------------
BEGIN
	SELECT	EA.Nr_Aparelho					AS Nr_Aparelho,
			AT.Nm_Ativo_Tipo				AS Nm_Aparelho_Tipo,
			AM.Descricao					AS Nm_Ativo_Modelo,
			C.Nm_Conglomerado				AS Nm_Conglomerado,
			NULL							AS Nr_Ativo,
			EA.Id_Aparelho					AS Id_Aparelho,
			NULL							AS Id_Ativo,
			NULL							AS Link,
			EAS.Nm_Estoque_Aparelho_Status	AS Status_Aparelho,
			EA.Observacao					AS Observacao,
			'window.open(' + '''' + '../PDF/Lista_PDF.aspx?pRegistro=' + CONVERT(VARCHAR(50), EA.Id_Aparelho) + '&pTabela=Estoque_Aparelho' + '''' + ',' + '''' + '''' + ',' + '''' + 'resizable=yes, menubar=no, scrollbars=no,height=260, width=590, top=10, left=10' + '''' + ')' AS PDF_Ativo
	FROM	Estoque_Aparelho EA		LEFT JOIN vw_Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = EA.Id_Ativo_Tipo)
									LEFT JOIN vw_Ativo_Modelo_Fabricante AM ON (AM.Id_Ativo_Modelo = EA.Id_Ativo_Modelo)
									LEFT JOIN vw_Estoque_Aparelho_Status EAS ON (EAS.Id_Estoque_Aparelho_Status = EA.Id_Estoque_Aparelho_Status)
									INNER JOIN vw_Conglomerado C ON (C.Id_Conglomerado = EA.Id_Conglomerado)
	WHERE	Id_Consumidor = @pId_Consumidor
			AND EA.Fl_Desativado = 1 --(desativado)
			AND (EA.Nr_Aparelho LIKE '%' + @pNr_Ativo + '%' OR @pNr_Ativo IS NULL)
			AND (AT.Id_Ativo_Tipo = @pId_Aparelho OR @pId_Aparelho IS NULL)
	ORDER BY Nm_Aparelho_Tipo, Nr_Aparelho
END

IF @pPAKAGE = 'sp_Email_Notificacao_Devolucao'-----------------------------------------------------------------------------------
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
	BEGIN
		INSERT INTO Mail_Caixa_Saida
		SELECT	7,
				CO.EMail,
				CO.EMail_Copia,
				'Número de sério - ' + EA.Nr_Aparelho + ' | Modelo - ' + ISNULL(AM.Descricao,'') + ' | Colaborador -' + CO.Nm_Consumidor, 
				GETDATE(),
				NULL,
				0,
				0,
				0
		FROM	vw_Estoque_Aparelho EA	INNER JOIN vw_Conglomerado C ON (C.Id_Conglomerado = EA.Id_Conglomerado)
										LEFT JOIN vw_Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = EA.Id_Ativo_Tipo)
										LEFT JOIN Ativo_Tipo_Grupo ATG ON AT.Id_Ativo_Tipo_Grupo  = ATG.Id_Ativo_Tipo_Grupo 
										LEFT JOIN vw_Ativo_Modelo_Fabricante AM ON (AM.Id_Ativo_Modelo = EA.Id_Ativo_Modelo)
										LEFT JOIN Rl_Estoque_Aparelho_Ativo REA ON (EA.Id_Aparelho = REA.Id_Aparelho)
										LEFT JOIN Ativo A ON (REA.Id_Ativo = A.Id_Ativo)
										LEFT JOIN Rl_Consumidor_Ativo SRCA ON (SRCA.Id_Ativo = A.Id_Ativo)
										LEFT JOIN vw_Consumidor CO ON (SRCA.Id_Consumidor = CO.Id_Consumidor)
		WHERE	EA.Id_Consumidor = @pId_Consumidor
				AND (AT.Id_Ativo_Tipo = @pId_Aparelho OR @pId_Aparelho IS NULL)
				AND EA.Id_Aparelho_Tipo  = 4
				AND EA.Fl_Desativado = 0
				AND NOT EMail IS NULL
	END
END
GO
