USE [Fortlev]
GO
/****** Object:  StoredProcedure [dbo].[cn_U_Volumetria_Custo]    Script Date: 7/31/2025 10:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cn_U_Volumetria_Custo] (	@pPakage					VARCHAR(200),
												@pPakage_Filtro				VARCHAR(200)	= NULL,
												@pId_Filtro_1				VARCHAR(MAX)	= NULL,
												@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
												@pId_Filtro_Usuario			INT				= NULL,
												@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
												@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
												@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
												@pDt_LoteDe					VARCHAR(6)		= NULL,
												@pDt_LoteAte				VARCHAR(6)		= NULL,
												@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS 

	SELECT  SUBSTRING(CONVERT(VARCHAR,L.Dt_Lote,112),1,6)	AS Lote,
			A.Nr_Ativo										AS Ativo,
			CN.Nm_Consumidor								AS Usuario,
			CN.Matricula									AS Matricula,
			FI.Nm_Filial									AS Filial,
			CC.Cd_Centro_Custo								AS CDC, 
			CO.Nm_Conglomerado								AS Conglomerado,
			BT.Nm_Bilhete_Descricao							AS Descricao,
			BT.Nm_Bilhete_Tipo								AS Tipo,
			B.DB_Tipo_Parametro								AS Classe, 
			CAST(SUM(B.DB_Consumo) AS DECIMAL(10,3))		AS Consumo,
			CAST(SUM(B.DB_Custo) AS DECIMAL(10,3))			AS Valor 
			INTO #Temp_Export
	FROM	vw_Ativo A INNER JOIN fu_Permissao_Consulta(	@pPakage_Filtro, 
															@pId_Filtro_1, 
															@pId_Filtro_Filial,
															@pId_Filtro_Usuario,
															@p_Id_Filtro_Centro_Custo,
															@p_Id_Filtro_Departamento,
															@p_Id_Filtro_Setor) FUA 
					ON (A.Id_Ativo = FUA.Id_Ativo_Filtro)
					INNER JOIN Ativo_Tipo ATP ON A.Id_Ativo_Tipo = ATP.Id_Ativo_Tipo
					INNER JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo) 
					INNER JOIN Conglomerado CO ON A.Id_Conglomerado = CO.Id_Conglomerado
					INNER JOIN Lote L ON A.Id_Ativo = L.Id_Ativo
					INNER JOIN vw_Bilhete B	ON B.Id_Lote = L.Id_Lote
					INNER JOIN Bilhete_Tipo BT ON BT.Id_Bilhete_Tipo = B.Id_Bilhete_Tipo
					LEFT JOIN Rl_Consumidor_Ativo RCA ON (RCA.Id_Ativo = A.Id_Ativo)
					LEFT JOIN Consumidor CN ON (CN.Id_Consumidor = RCA.Id_Consumidor)
					LEFT JOIN Filial FI ON (FI.Id_Filial = CN.Id_Filial)
					LEFT JOIN Centro_Custo CC ON (CC.Id_Centro_Custo = CN.Id_Centro_Custo)
	WHERE	SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) >= @pDt_LoteDe 
			AND	SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) <= @pDt_LoteAte
			AND (ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)
	GROUP BY	A.Nr_Ativo,
				CN.Nm_Consumidor,
				CN.Matricula,
				FI.Nm_Filial,
				CC.Cd_Centro_Custo, 
				CO.Nm_Conglomerado,
				SUBSTRING(CONVERT(VARCHAR,L.Dt_Lote,112),1,6),
				BT.Nm_Bilhete_Descricao,
				BT.Nm_Bilhete_Tipo,
				DB_Tipo_Parametro
	ORDER BY	Lote, 
				Ativo,
				Usuario,
				Conglomerado, 
				Descricao, 
				Tipo, 
				Classe

-----filtra gasto por tipo de bilhete para exportacao
IF @pPakage = 'sp_Volumetria_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----filtra gasto por tipo de bilhete
IF @pPakage = 'sp_Volumetria'
BEGIN
	SELECT * FROM #Temp_Export
END
GO
