USE [Fortlev]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Consumo_Dados_Horario]    Script Date: 7/31/2025 10:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_Consumo_Dados_Horario]	(	@pPakage					VARCHAR(200),
														@pPakage_Filtro				VARCHAR(200)	= NULL,
														@pId_Filtro_1				VARCHAR(MAX)	= NULL,
														@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
														@pId_Filtro_Usuario			INT				= NULL,
														@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
														@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
														@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
														@pDt_LoteDe					VARCHAR(6)		= NULL,
														@pDt_LoteAte				VARCHAR(6)		= NULL,
														@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS
SELECT	(SELECT TOP 1 C.Nm_Consumidor FROM vw_Alocacao_Ativo_Consumidor AC INNER JOIN vw_Consumidor C ON AC.Id_Consumidor = C.Id_Consumidor WHERE AC.Id_Ativo = A.Id_Ativo) AS Consumidor,
			A.Nr_Ativo				AS Ativo,
			AT.Nm_Ativo_Tipo		AS Tipo,
			CG.Nm_Conglomerado		AS Conglomerado,
			CAST(SUM(B.DB_Consumo) AS DECIMAL(10,2)) AS Total,
			CAST(SUM(CASE WHEN DATEPART(DW,DB_Data_Hora) IN (1,7) THEN B.DB_Consumo END) AS DECIMAL(10,2)) AS Final_Semana,
			CAST(SUM(CASE WHEN NOT DATEPART(DW,DB_Data_Hora) IN (1,7) AND (CONVERT(FLOAT,REPLACE(SUBSTRING(DB_Data_Hora,12,5),':','')) < 600 OR CONVERT(FLOAT,REPLACE(SUBSTRING(DB_Data_Hora,12,5),':','')) > 1800) THEN B.DB_Consumo END) AS DECIMAL(10,2)) AS Fora_Horario,
			CAST(SUM(CASE WHEN NOT DATEPART(DW,DB_Data_Hora) IN (1,7) AND (CONVERT(FLOAT,REPLACE(SUBSTRING(DB_Data_Hora,12,5),':','')) >= 600 AND CONVERT(FLOAT,REPLACE(SUBSTRING(DB_Data_Hora,12,5),':','')) <= 1800) THEN B.DB_Consumo END) AS DECIMAL(10,2)) AS Dentro_Horario
			INTO  #Temp_Export
	FROM	Lote L	INNER JOIN vw_Bilhete B ON L.Id_Lote = B.Id_Lote
					INNER JOIN Ativo A ON A.Id_Ativo = L.Id_Ativo
					INNER JOIN Ativo_Tipo AT ON A.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
					INNER JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = AT.Id_Ativo_Tipo_Grupo)
					INNER JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado 
	WHERE	(ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)
			AND (B.DB_Tipo_Parametro = 'DAT' OR B.DB_Tipo_Parametro = 'IDAT')
			AND	SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) = @pDt_LoteDe
	GROUP BY	A.Id_Ativo, 
				A.Nr_Ativo,
				AT.Nm_Ativo_Tipo,
				CG.Nm_Conglomerado

-----exportacao
IF @pPakage = 'sp_Consumo_Dados_Horario_Export'
BEGIN
	SELECT	Consumidor,
			Ativo,
			Tipo,
			Conglomerado,
			Total,
			ISNULL(Final_Semana, 0) AS Final_Semana,
			ISNULL(Fora_Horario, 0) AS Fora_Horario,
			ISNULL(Dentro_Horario, 0) AS Dentro_Horario
	FROM	#Temp_Export
	ORDER BY Total DESC
END

-----marcacao
IF @pPakage = 'sp_Consumo_Dados_Horario'
BEGIN
	SELECT	Consumidor,
			Ativo,
			Tipo,
			Conglomerado,
			Total,
			ISNULL(Final_Semana, 0) AS Final_Semana,
			ISNULL(Fora_Horario, 0) AS Fora_Horario,
			ISNULL(Dentro_Horario, 0) AS Dentro_Horario
	FROM	#Temp_Export
	ORDER BY Total DESC
END

-----grafrico
IF @pPakage = 'sp_Consumo_Dados_Horario_Grafico'
BEGIN
	SELECT 'Final de Semana (mb)' AS X, CAST(SUM(Final_Semana) AS DECIMAL(10,2)) AS Y FROM	#Temp_Export 
	UNION ALL
	SELECT 'Fora do Horário (mb)' AS X, CAST(SUM(Fora_Horario) AS DECIMAL(10,2)) AS Y FROM	#Temp_Export
	UNION ALL
	SELECT 'Dentro do Horário (mb)' AS X, CAST(SUM(Dentro_Horario) AS DECIMAL(10,2)) AS Y FROM	#Temp_Export
END
GO
