USE [Fortlev]
GO
/****** Object:  StoredProcedure [dbo].[pa_Mail_Sender]    Script Date: 7/31/2025 10:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_Mail_Sender] (@pPakage				VARCHAR(200),
										@pId_Usuario			INT			= NULL,
										@pTexto					VARCHAR(50) = NULL,
										@pId_Mail_Caixa_Siada	INT			= NULL) AS
-----retorna e-mail para envio
IF @pPAKAGE = 'sd_Reenviar'
BEGIN
	UPDATE	Mail_Caixa_Saida 
	SET		Fl_Enviado = 0,
			Id_Log_SQL = 0,
			Dt_Saida = NULL,
			Fl_QTD_Tentativa_Envio = 0
	WHERE	Id_Mail_Caixa_Siada = @pId_Mail_Caixa_Siada
END

-----caixa de entrada
IF @pPAKAGE = 'sd_Detalhamento'
BEGIN
	SELECT	ISNULL(EM.E_Mail_Destino,'') AS E_Mail_Destino,
			ISNULL(EM.E_Mail_Copia,'') AS E_Mail_Copia,
			MS.Assunto,
			ISNULL(MS.Texto_1,'') AS Texto_1, 
			ISNULL(MS.Texto_2,'') AS Texto_2,
			ISNULL(MS.Texto_3,'') AS Texto_3,
			ISNULL(MS.Texto_4,'') AS Texto_4,
			ISNULL(MS.Texto_5,'') AS Texto_5,
			ISNULL(EM.Texto_Adicional,'') AS Texto_Adicional
	FROM	Mail_Caixa_Saida EM LEFT JOIN Consumidor CO ON EM.E_Mail_Destino = CO.EMail
						LEFT JOIN Usuario US ON US.Id_Consumidor = CO.Id_Consumidor
						LEFT JOIN Mail_Sender MS ON MS.Id_Mail_Sender = EM.Id_Mail_Sender
	WHERE	EM.Id_Mail_Caixa_Siada = @pId_Mail_Caixa_Siada	
END

-----caixa de entrada
IF @pPAKAGE = 'sd_Caixa_Entrada'
BEGIN
	SELECT	EM.Id_Mail_Caixa_Siada,
			MS.Assunto,
			CASE WHEN EM.Texto_Adicional LIKE '%<%' THEN NULL ELSE SUBSTRING(EM.Texto_Adicional,1,20) END  AS Texto,
			CONVERT(VARCHAR,EM.Dt_Programacao, 103) AS Dt_Programacao,
			CONVERT(VARCHAR,EM.Dt_Saida, 103) AS Dt_Saida,
			dbo.Fu_Link_HTTP ('Detalhamento_Caixa_Entrada.aspx',EM.Id_Mail_Caixa_Siada,'Raiz') AS Link
	FROM	Mail_Caixa_Saida EM LEFT JOIN Consumidor CO ON (EM.E_Mail_Destino = CO.EMail OR EM.E_Mail_Copia = CO.EMail)
						LEFT JOIN Usuario US ON US.Id_Consumidor = CO.Id_Consumidor
						LEFT JOIN Mail_Sender MS ON MS.Id_Mail_Sender = EM.Id_Mail_Sender
	WHERE	Id_Usuario = @pId_Usuario
			AND (EM.Texto_Adicional LIKE '%' + @pTexto + '%' OR @pTexto IS NULL)
			AND (EM.Id_Mail_Sender = @pId_Mail_Caixa_Siada OR @pId_Mail_Caixa_Siada IS NULL)
	ORDER BY EM.Dt_Saida DESC	
END
GO
