USE [Fortlev]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Auditoria]    Script Date: 7/31/2025 10:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_Auditoria] (@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS

SELECT (DB_NAME()) as [Cliente], 
					  --Id_Auditoria_Resumo, 
					  Id_Auditoria_Item, 
					  --Id_Bilhete,
					  Ct.Nr_Contrato as [Número de Contrato], 
					  --AI.Id_Bilhete_Tipo, 
					  BT.Nm_Bilhete_Descricao, 
					  BT.Nm_Bilhete_Tipo, 
					  C.Nm_Conglomerado as [Conglomerado],
					  Fatura,
					  A.Nr_Ativo as [Ativo], 
					  DT_Lote,
					  AI.Unidade, 
					  QTD_Consumo, 
					  Valor_Cobrado as [Valor Cobrado], 
					  AI.Valor_Contrato as [Valor Contrato], 
					  Valor_Correto as [Valor Correto], 
					  Valor_Cobrado_A_Mais as [Valor Auditado], 
					  Total_Fatura as [Total Ativo] 
					  INTO #Temp_Export
    FROM Auditoria_Item AI
	INNER JOIN Bilhete_Tipo BT on AI.Id_Bilhete_Tipo = BT.Id_Bilhete_Tipo
	INNER JOIN Ativo A on A.Id_Ativo = AI.Id_Ativo
	INNER JOIN Contrato Ct on Ct.Id_Contrato = AI.Id_Contrato
	INNER JOIN Conglomerado C on C.Id_Conglomerado = AI.Id_Conglomerado

	WHERE DT_Lote = @pDt_LoteDe 
	and 
	C.Id_Conglomerado in (select Id_Conglomerado from Ativo where Id_Ativo_Tipo in (select Id_Ativo_Tipo from Ativo_Tipo where Id_Ativo_Tipo_Grupo = 1))
	
-----exportacao
IF @pPakage = 'sp_Auditoria_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Auditoria'
BEGIN
	SELECT * FROM #Temp_Export
END
GO
