USE [Fortlev]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Consumidor]    Script Date: 7/31/2025 10:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PRINT N'Refreshing Function [dbo].[fu_Consumo_Dados_App]...';

CREATE PROCEDURE [dbo].[cn_T_Consumidor] (@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS


SELECT	
			ISNULL(CO.Nm_Consumidor, 'Vazia')	AS Colaborador,
			ISNULL(CO.Matricula, 'Vazia')		AS Matricula,
			ISNULL(CO.EMail, 'Vazia')		AS Email,
			ISNULL(FI.Nm_Filial, 'Vazia')		AS Filial,
			ISNULL(CC.Cd_Centro_Custo, 'Vazia') AS CDC,
			ISNULL(DP.Nm_Departamento, 'Vazia') AS Departamento,
			ISNULL(ST.Nm_Setor, 'Vazia')		AS Setor
			INTO #Temp_Export
	FROM	Consumidor CO
								LEFT JOIN Filial FI ON (FI.Id_Filial = CO.Id_Filial) 
								LEFT JOIN Centro_Custo CC ON (CC.Id_Centro_Custo = CO.Id_Centro_Custo)
								LEFT JOIN Departamento DP ON (DP.Id_Departamento = CO.Id_Departamento)
								LEFT JOIN Setor ST ON (ST.Id_Setor = CO.Id_Setor)
								where Id_Consumidor_Tipo = 2


-----exportacao
IF @pPakage = 'sp_Inventario_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Inventario'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grafrico
IF @pPakage = 'sp_Inventario_Grafico'
BEGIN
	SELECT * FROM #Temp_Export
END
GO
