USE [Fortlev]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_plano_familia]    Script Date: 7/31/2025 10:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_plano_familia] (@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS
	
	SELECT  
		Co.Nm_Consumidor AS Usuario,
		Cc.Cd_Centro_Custo AS [Centro de Custo],
		l.DC_Nr_Nota_Fiscal as [CONTA],
		A.Nr_Ativo_Tabela AS Telefone,
		l.Total
		INTO #Temp_Export
	
	from lote L

			inner join vw_Ativo A on (l.Id_Ativo = a.Id_Ativo )
			inner join Rl_Consumidor_Ativo CA on (ca.Id_Ativo = a.Id_Ativo )
			inner join vw_Consumidor co on (co.Id_Consumidor = ca.Id_Consumidor)
			inner join Centro_Custo CC on (cc.Id_Centro_Custo = co.Id_Centro_Custo)
			inner join vw_Ativo_Complemento  vwA on ( a.Id_Ativo = vwa.Id_Ativo )
	WHERE   
	 SUBSTRING(CONVERT(VARCHAR(6),l.Dt_Lote,112),1,6) >= @pDt_LoteDe  and vwa.C11 = 'Familiar'
	 --l.Dt_Lote = @pDt_LoteDe and vwa.C3 = 'Familiar'
	--ORDER BY FA.Nr_Fatura
	
-----exportacao
IF @pPakage = 'sp_plano_familia'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'plano_familia'
BEGIN
	SELECT * FROM #Temp_Export
END
GO
