USE [Alpargatas]
GO
/****** Object:  StoredProcedure [dbo].[cn_Aproveitamento_Pacote]    Script Date: 7/31/2025 10:28:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cn_Aproveitamento_Pacote] (	@pPakage				VARCHAR(200),
													@pAtivo_Tipo_Grupo		VARCHAR(50)	= NULL,
													@pDt_LoteDe				VARCHAR(6)	= NULL) AS
------consulta volume de bilhete
IF @pPakage = 'sp_Aproveitamento'
BEGIN

	SELECT	DISTINCT
			'Pacote'						AS Aproveitamento,
			A.Nr_Ativo						AS Ativo,
			(SELECT	TOP 1 C1 
			FROM	vw_Ativo_Complemento
			WHERE	Id_Ativo =  A.Id_Ativo) AS Ativo_Complemento,
			ATP.Nm_Ativo_Tipo				AS Tipo,
			CO.Nm_Conglomerado				AS Conglomerado,
			(SELECT	TOP 1 C.Nm_Consumidor  
			FROM	vw_Consumidor C INNER JOIN vw_Alocacao_Ativo_Consumidor AAC ON C.Id_Consumidor = AAC.Id_Consumidor 
			WHERE	AAC.Id_Ativo = A.Id_Ativo) AS Usuario,
			AP.Descricao_PCT				AS Pacote,
			AP.Descricao_BLT				AS [Tráfego],
			(SELECT COUNT(*) FROM Bilhete WHERE Id_Lote = L.Id_Lote AND DB_Tipo_Parametro = AP.DB_Tipo_Parametro_BLT) AS Eventos,
			(SELECT ISNULL(SUM(DB_Consumo),0) FROM Bilhete WHERE Id_Lote = L.Id_Lote AND DB_Tipo_Parametro = AP.DB_Tipo_Parametro_BLT) AS Consumo
	FROM	vw_Bilhete B INNER JOIN Lote L ON L.Id_Lote = B.Id_Lote
						INNER JOIN vw_Ativo A ON A.Id_Ativo = B.Id_Ativo
						INNER JOIN Ativo_Tipo ATP ON A.Id_Ativo_Tipo = ATP.Id_Ativo_Tipo
						INNER JOIN Ativo_Tipo_Grupo ATG ON ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo
						INNER JOIN Conglomerado CO ON A.Id_Conglomerado = CO.Id_Conglomerado
						INNER JOIN Si_Aproveitamento AP ON B.DB_Tipo_Parametro = AP.DB_Tipo_Parametro_PCT
	WHERE	SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) = @pDt_LoteDe
			AND ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo
	UNION ALL
	SELECT	DISTINCT
			'Consumo'						AS Aproveitamento,
			A.Nr_Ativo						AS Ativo,
			(SELECT	TOP 1 C1 
			FROM	vw_Ativo_Complemento
			WHERE	Id_Ativo =  A.Id_Ativo) AS Ativo_Complemento, 
			ATP.Nm_Ativo_Tipo				AS Tipo,
			CO.Nm_Conglomerado				AS Conglomerado,
			(SELECT	TOP 1 C.Nm_Consumidor  
			FROM	vw_Consumidor C INNER JOIN vw_Alocacao_Ativo_Consumidor AAC ON C.Id_Consumidor = AAC.Id_Consumidor 
			WHERE	AAC.Id_Ativo = A.Id_Ativo) AS Usuario,
			''								AS Pacote,
			AP.Descricao_BLT				AS [Tráfego],
			COUNT(*)						AS Eventos,
			ISNULL(SUM(DB_Consumo),0)		AS Consumo
	FROM	vw_Bilhete B INNER JOIN Lote L ON L.Id_Lote = B.Id_Lote
						INNER JOIN vw_Ativo A ON A.Id_Ativo = B.Id_Ativo
						INNER JOIN Ativo_Tipo ATP ON A.Id_Ativo_Tipo = ATP.Id_Ativo_Tipo
						INNER JOIN Ativo_Tipo_Grupo ATG ON ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo
						INNER JOIN Conglomerado CO ON A.Id_Conglomerado = CO.Id_Conglomerado
						INNER JOIN Si_Aproveitamento AP ON B.DB_Tipo_Parametro = AP.DB_Tipo_Parametro_BLT
	WHERE	SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) = @pDt_LoteDe
			AND NOT EXISTS(SELECT * FROM vw_Bilhete WHERE Id_Lote = L.Id_Lote AND DB_Tipo_Parametro = AP.DB_Tipo_Parametro_PCT)
			AND ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo
	GROUP BY	L.Id_Lote, 
				A.Id_Ativo,
				A.Nr_Ativo, 
				ATP.Nm_Ativo_Tipo,
				CO.Nm_Conglomerado,
				AP.Descricao_PCT, 
				AP.Descricao_BLT, 
				AP.DB_Tipo_Parametro_BLT, 
				AP.DB_Tipo_Parametro_PCT
	ORDER BY	Aproveitamento,
				[Tráfego],
				Consumo,
				Eventos			
END
GO
