USE [Alpargatas]
GO
/****** Object:  StoredProcedure [dbo].[pa_Conglomerado]    Script Date: 7/31/2025 10:28:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Conglomerado] (	@pPakage				VARCHAR(200),
											@pId_Conglomerado		INT			= NULL,
											@pNm_Conglomerado		VARCHAR(50)	= NULL,
											@pContato				VARCHAR(50)	= NULL,
											@pTelefone				VARCHAR(20)	= NULL,
											@pCodigo_Operadora		VARCHAR(50)	= NULL,
											@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Conglomerado WHERE Id_Conglomerado = @pId_Conglomerado)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Conglomerado 
			SET		Nm_Conglomerado			= @pNm_Conglomerado,
					Contato					= @pContato,
					Conglomerado_Unidade	= @pTelefone,
					Codigo_Operadora		= @pCodigo_Operadora
			WHERE	Id_Conglomerado = @pId_Conglomerado
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Conglomerado (	Nm_Conglomerado,
										Contato,
										Conglomerado_Unidade,
										Codigo_Operadora,
										Fl_Desativado) 
			VALUES(	@pNm_Conglomerado,
					@pContato,
					@pTelefone,
					@pCodigo_Operadora,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Conglomerado 
		SET Fl_Desativado = 1 
		WHERE Id_Conglomerado = @pId_Conglomerado
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(CON.Id_Conglomerado,'')		AS Id_Conglomerado,
			ISNULL(CON.Nm_Conglomerado,'')		AS Nm_Conglomerado,
			ISNULL(CON.Contato,'')				AS Contato,
			ISNULL(CON.Conglomerado_Unidade,'')	AS Conglomerado_Unidade,
			ISNULL(CON.Codigo_Operadora,'')		AS Codigo_Operadora
	FROM	vw_Conglomerado CON
	WHERE	CON.Id_Conglomerado = @pId_Conglomerado
END
GO
