USE [Alpargatas]
GO
/****** Object:  StoredProcedure [dbo].[cg_bi_Valida_Importacao]    Script Date: 7/31/2025 10:28:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cg_bi_Valida_Importacao]
    (
    @pPakage				VARCHAR(200),
    @pId_Arquivo			INT,
    @pId_Ativo_Tipo			INT,
    @pId_Conglomerado		INT,
    @pDt_Lote				VARCHAR(6),
    @pDt_Liberacao_Lote		DATETIME,
    @pNumero_Nota_Fiscal	VARCHAR(50) = NULL)
AS

IF OBJECT_ID(N'tempdb..##T_Ativo') IS NOT NULL 
BEGIN
    DROP TABLE ##T_Ativo
END

IF @pPakage = 'sp_Valida_Bilhete'  
BEGIN
    -----cria tabela para retorno do shell  
    DECLARE  @TArquivo TABLE (Nm_Arquivo VARCHAR(8000))
    -----declare varivel  
    DECLARE @vPath_Arquivo VARCHAR(50)
    DECLARE @vExtensao_Arquivo VARCHAR(50)
    DECLARE @vContador INT
    DECLARE @vNm_Arquivo AS VARCHAR(8000)
    DECLARE @vCMD AS VARCHAR(8000)
    DECLARE @vNm_Arquivo_Carregado AS VARCHAR(8000)
    DECLARE @vNm_Banco AS VARCHAR(50)
    DECLARE @vPosicao_NF_Arquivo AS VARCHAR(10)
    DECLARE @NvCMD AS NVARCHAR(1000)
    DECLARE @TvNumero_Nota_Fiscal AS VARCHAR(50)
    DECLARE @v_SQL AS VARCHAR(8000)

    -----inicia variavel  
    SELECT @vPath_Arquivo = '',
        @vExtensao_Arquivo = '',
        @vContador = 0,
        @vNm_Arquivo = '',
        @vCMD = '',
        @vNm_Arquivo_Carregado = '',
        @vNm_Banco = '',
        @vPosicao_NF_Arquivo = '',
        @NvCMD = '',
        @TvNumero_Nota_Fiscal = NULL,
        @v_SQL = ''

    -------------------------------------------------------------------------------  
    -----captura path do diretorio  
    SELECT @vPath_Arquivo		= Path_Arquivo,
        @vExtensao_Arquivo	= Extensao_Arquivo
    FROM Cg_Bi_Arquivo
    WHERE	Id_Arquivo = @pId_Arquivo

    -------------------------------------------------------------------------------  
    -----carreta arquivos para tabela  
    DELETE @TArquivo
    SET @vCMD = 'DIR /B ' + @vPath_Arquivo + '\*.' + @vExtensao_Arquivo
    INSERT INTO @TArquivo
    EXEC master..xp_cmdshell @vCMD

    -----limpa campo null  
    DELETE @TArquivo WHERE Nm_Arquivo IS NULL

    -----valida se foi encontrado os arquivos  
    IF EXISTS(SELECT *
    FROM @TArquivo
    WHERE Nm_Arquivo LIKE '%' + @vExtensao_Arquivo + '%')  
  
	BEGIN
        SELECT @vContador = COUNT(Nm_Arquivo)
        FROM @TArquivo
        WHILE @vContador > 0  
		BEGIN
            -----captura nome do arquivo  
            SET @vNm_Arquivo = (SELECT TOP 1
                Nm_Arquivo
            FROM @TArquivo)

            -----verifica se nao foi numero nf por parametro e se deve ser pego no no do  
            -----arquivo  
            IF @pNumero_Nota_Fiscal IS NULL  
			BEGIN
                SELECT @vPosicao_NF_Arquivo = Posicao_NF_Arquivo
                FROM Cg_Bi_Arquivo
                WHERE	Id_Arquivo = @pId_Arquivo
                IF NOT @vPosicao_NF_Arquivo = '' OR NOT @vPosicao_NF_Arquivo IS NULL  
				BEGIN
                    SELECT @NvCMD = 	'SELECT @TvNumero_Nota_Fiscal = SUBSTRING(''' + @vNm_Arquivo +  
									''',' + @vPosicao_NF_Arquivo + ')'
                    EXEC Sp_executeSql @NvCMD, N'@TvNumero_Nota_Fiscal Varchar(10) Output', @TvNumero_Nota_Fiscal OUTPUT
                END
            END

            -----roda procedure que importa arquivo para banco  
            EXEC cg_bi_Importa @vNm_Arquivo, @pId_Arquivo

            -----valida arquivo  
            DECLARE @v_Nome_Campo_1 VARCHAR(50)

            SELECT @v_Nome_Campo_1 = Nm_Campo
            FROM Cg_Bi_Arquivo_Campo
            WHERE	Id_Campo_Bilhete	= 7 --*****mostra campo da tabela Cg_Bi_Si_Recepcao_Arquivo marcado como tipo (ativo)*****  
                AND Id_Arquivo		= @pId_Arquivo

            SELECT @v_SQL =   
			'SELECT COUNT(DISTINCT '	+ @v_Nome_Campo_1 + ') AS QTD INTO ##T_Ativo ' +  
			' FROM Cg_Bi_Si_Arquivo_Formatado AF' +  
			' WHERE  NOT EXISTS (SELECT Nr_Ativo FROM Ativo WHERE Id_Conglomerado =' + CONVERT(VARCHAR(10),@pId_Conglomerado) +  
			' AND NR_Ativo = AF.' + @v_Nome_Campo_1 	+ ')'

            EXEC(@v_SQL)

            IF EXISTS(SELECT *
            FROM ##T_Ativo
            WHERE QTD > 10)  
			BEGIN
                SELECT 1 AS Validacao
            END  
			ELSE  
			BEGIN
                SELECT 0 AS Validacao
            END

            SET @vContador = @vContador - 1

            -----limpa arquivo carregado  
            DELETE @TArquivo WHERE Nm_Arquivo = @vNm_Arquivo

            IF OBJECT_ID(N'tempdb..##T_Ativo') IS NOT NULL 
            BEGIN
                DROP TABLE ##T_Ativo
            END
        END
    END
END
GO
