USE [Alpargatas]
GO
/****** Object:  UserDefinedFunction [dbo].[fu_Exporta_RH]    Script Date: 7/31/2025 10:28:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fu_Exporta_RH] (@pPolitica	INT)

RETURNS @Bilhete_Filtro TABLE (	Id_Lote			FLOAT,
								Id_Consumidor	INT,
								Matricula		VARCHAR(20),
								Filial			VARCHAR(50),			
								Centro_Custo	VARCHAR(50),
								Dt_Exportacao	DATETIME,	
								Id_Ativo_Tipo	INT,
								Valor_Politica	NUMERIC(13,2),
								Total_Ligacao	NUMERIC(13,2),
								Total_Marcado	NUMERIC(13,2))   AS
BEGIN
	
	-----1 desconto sobre marcacao
	-----2 desconto automatico pela politica 

	IF @pPolitica = 1
	BEGIN
		INSERT INTO @Bilhete_Filtro
		SELECT	LT.Id_Lote,
				US.Id_Consumidor,
				ISNULL(CO.Matricula, 'NULO') AS Matricula,
				ISNULL(FI.Nm_Filial, 'NULO') AS Filial,
				ISNULL(CC.Cd_Centro_Custo, 'NULO') AS Centro_Custo,
				LM.Dt_Exportacao,
				AT.Id_Ativo_Tipo,
				PO.Valor_Politica,
				(SELECT Total FROM Lote WHERE Id_Lote = LT.Id_Lote) AS Total_Ligacao,
				(SUM(DB_Custo) + 
					CASE WHEN (SELECT TOP 1 Fl_Carga_Auditada FROM Si_KPI) = 2 THEN SUM(DB_Valor_Devolucao) ELSE 0 END
					) AS Total_Marcado
		FROM		Lote_Marcacao LM INNER JOIN Lote LT ON (LT.Id_Lote = LM.Id_Lote)
									INNER JOIN vw_Usuario US ON (US.Id_Usuario = LM.Id_Usuario)
									INNER JOIN vw_Ativo AT ON (AT.Id_Ativo = LT.Id_Ativo)
									LEFT JOIN Bilhete BI ON (LM.Id_Usuario = BI.Id_Usuario AND LT.Id_Lote = BI.Id_Lote)	
									LEFT JOIN vw_Consumidor CO ON (CO.Id_Consumidor = US.Id_Consumidor)
									LEFT JOIN Politica_Consumidor PO ON (PO.Id_Consumidor = CO.Id_Consumidor AND PO.Id_Ativo_Tipo = AT.Id_Ativo_Tipo)
									LEFT JOIN vw_Filial FI ON (FI.Id_Filial = CO.Id_Filial)
									LEFT JOIN vw_Centro_Custo CC ON (CC.Id_Centro_Custo = CO.Id_Centro_Custo)
		WHERE	NOT LM.Dt_Fechamento IS NULL
		GROUP BY	LT.Id_Lote,
					US.Id_Consumidor,
					CO.Matricula,
					FI.Id_Filial,
					FI.Nm_Filial,
					CC.Cd_Centro_Custo,
					LM.Dt_Exportacao,
					AT.Id_Ativo_Tipo,
					PO.Valor_Politica,
					PO.Marca_Ligacao
	END
	
	IF @pPolitica = 2
	BEGIN
		INSERT INTO @Bilhete_Filtro
		SELECT	LT.Id_Lote,
				US.Id_Consumidor,
				ISNULL(CO.Matricula, 'NULO') AS Matricula,
				ISNULL(FI.Nm_Filial, 'NULO') AS Filial,
				ISNULL(CC.Cd_Centro_Custo, 'NULO') AS Centro_Custo,
				LM.Dt_Exportacao,
				AT.Id_Ativo_Tipo,
				PO.Valor_Politica,
				LT.Trafego AS Total_Ligacao,
				LT.Trafego - PO.Valor_Politica AS Total_Marcado
		FROM	Lote LT	INNER JOIN vw_Ativo AT ON AT.Id_Ativo = LT.Id_Ativo
						INNER JOIN vw_Alocacao_Ativo_Consumidor AC ON AC.Id_Ativo = AT.Id_Ativo
						INNER JOIN vw_Consumidor CO ON AC.Id_Consumidor = CO.Id_Consumidor
						INNER JOIN vw_Usuario US ON US.Id_Consumidor = CO.Id_Consumidor
						INNER JOIN vw_Custo_Usuario UC ON UC.Id_Lote = LT.Id_Lote AND US.Id_Usuario = UC.Id_Usuario
						INNER JOIN Politica_Consumidor PO ON PO.Id_Consumidor = AC.Id_Consumidor AND PO.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
						LEFT JOIN Lote_Marcacao LM ON LT.Id_Lote = LM.Id_Lote AND LM.Id_Usuario = US.Id_Usuario
						LEFT JOIN vw_Filial FI ON (FI.Id_Filial = CO.Id_Filial)
						LEFT JOIN vw_Centro_Custo CC ON (CC.Id_Centro_Custo = CO.Id_Centro_Custo)
		WHERE	LM.Dt_Fechamento IS NULL
				AND	(LT.Dt_Lote >= DATEADD ( MONTH ,-3, (SELECT MAX(Dt_Lote) FROM Lote)) AND LT.Dt_Lote  <= DATEADD ( MONTH ,-1, (SELECT MAX(Dt_Lote) FROM Lote)))
				AND (NOT PO.Valor_Politica IS NULL AND PO.Marca_Ligacao = 2)
				AND NOT US.Fl_Desativado = 3
				AND UC.Total_Consumo > 0
	END	

	RETURN 
END
GO
