USE [Alpargatas]
GO
/****** Object:  UserDefinedFunction [dbo].[fu_Bilhete]    Script Date: 7/31/2025 10:28:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fu_Bilhete] (	@pId_Usuario_Consulta	INT,
									@pId_Usuario_Marcacao	INT,
									@pId_Lote				INT)

RETURNS @Bilhete_Filtro TABLE (	Id_Bilhete			FLOAT,
								Id_Ativo			INT,
								DB_Data_Hora		DATETIME,
								DB_Destino			VARCHAR(50),
								DB_Localidade		VARCHAR(50),
								Consumo_Formatado	VARCHAR(20),
								DB_Consumo			FLOAT,
								DB_Custo			NUMERIC(13,2),
								DB_Valor_Devolucao	NUMERIC(13,2),
								Id_Bilhete_Tipo		INT,
								Id_Lote				FLOAT,
								Id_Usuario			INT,
								DC_Tronco			INT,
								DC_Nr_Nota_Fiscal	VARCHAR(50) collate SQL_Latin1_General_CP1_CI_AS,
								Dt_Lote				DATETIME ,
								Nm_Usuario			VARCHAR(50) collate SQL_Latin1_General_CP1_CI_AS,
								DB_Tipo_Parametro	VARCHAR(50),
								DB_Operadora_Sainte	VARCHAR(50),
								Nm_Ativo_Tipo_Grupo VARCHAR(50))   AS
BEGIN
	DECLARE @v_Parametro INT
	SET @v_Parametro = 0
	
	-----verifica usuario para maracao
	IF NOT @pId_Usuario_Marcacao IS NULL 
	BEGIN
		SET @v_Parametro = 1
	END
	-----verifica usuario com permissao de visualizacao
	IF @v_Parametro = 0 AND 2 = (SELECT Detalhamento_Conta FROM Usuario WHERE Id_Usuario = @pId_Usuario_Consulta)
	BEGIN
		SET @v_Parametro = 2
	END
	-----verifica se ativo consultado pertence ao usuario	
	IF @v_Parametro = 0 AND EXISTS (SELECT	* 
									FROM	Rl_Consumidor_Ativo RAC INNER JOIN Usuario USU ON (RAC.Id_Consumidor = USU.Id_Consumidor)
									WHERE	RAC.Id_Ativo IN (SELECT Id_Ativo FROM Lote WHERE Id_Lote = @pId_Lote)
											AND USU.Id_Usuario = @pId_Usuario_Consulta)
	BEGIN
		SET @v_Parametro = 3
	END
	-----lista dados
	IF NOT @v_Parametro = 0
	BEGIN
		INSERT INTO @Bilhete_Filtro
		SELECT	DISTINCT BI.Id_Bilhete,
				BI.Id_Ativo,
				DB_Data_Hora,
				BI.DB_Destino,
				BI.DB_Localidade,
				BI.DB_Consumo_Formatado,
				BI.DB_Consumo,
				(BI.DB_Custo + 
					CASE WHEN (SELECT TOP 1 Fl_Carga_Auditada FROM Si_KPI) = 2 THEN BI.DB_Valor_Devolucao ELSE 0 END
					) AS DB_Custo,
				BI.DB_Valor_Devolucao,
				BI.Id_Bilhete_Tipo,
				BI.Id_Lote,
				BI.Id_Usuario,
				BI.Id_Tronco,
				BI.DC_Nr_Nota_Fiscal,
				LTO.Dt_Lote,
				USB.Nm_Usuario,
				BI.DB_Tipo_Parametro,
				BI.DB_Operadora_Sainte,
				ATG.Nm_Ativo_Tipo_Grupo
		FROM	vw_Bilhete BI	INNER JOIN Lote LTO ON (BI.Id_Lote = LTO.Id_Lote )
								INNER JOIN Bilhete_Tipo	BTP ON (BTP.Id_Bilhete_Tipo = BI.Id_Bilhete_Tipo)
								INNER JOIN Ativo AT ON AT.Id_Ativo = LTO.Id_Ativo 
								INNER JOIN Ativo_Tipo ATP ON ATP.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
								INNER JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo)
								LEFT JOIN Rl_Perfil_Ativo_Usuario RUA ON (RUA.Id_Ativo = LTO.Id_Ativo)
								LEFT JOIN Usuario USB ON (USB.Id_Usuario = BI.Id_Usuario)
		WHERE	BI.Id_Lote = @pId_Lote
				AND (
						(				
						(@v_Parametro = 3 AND RUA.Id_Usuario = @pId_Usuario_Consulta) 
						OR
						(@v_Parametro = 1 AND RUA.Id_Usuario = @pId_Usuario_Marcacao )
						AND (BI.DB_Data_Hora	BETWEEN RUA.Dt_Hr_Ativacao 
										AND ISNULL(RUA.Dt_Hr_Desativacao, DATEADD(MONTH,3,GETDATE()))
										OR RUA.Dt_Hr_Ativacao IS NULL)
						) or @v_Parametro = 2				
					)  
				AND (@pId_Usuario_Marcacao IS NULL OR 
					NOT BI.Id_Bilhete_Tipo IN (SELECT	RFB.Id_Bilhete_Tipo
												FROM	Rl_Filial_Bilhete_Tipo RFB INNER JOIN vw_Alocacao_Ativo_Consumidor VAAC
															ON (RFB.Id_Filial = VAAC.Id_Filial)
												WHERE	VAAC.Id_Ativo = LTO.Id_Ativo))
	END	
	RETURN 
END
GO
