USE [FVO_Alimentos]
GO
/****** Object:  UserDefinedFunction [dbo].[fu_Consumo_Dados_Operadora]    Script Date: 7/31/2025 10:51:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fu_Consumo_Dados_Operadora] (	@pId_Usuario		INT			= NULL,
													@pMesDE				VARCHAR(10)	= NULL,
													@pGrupoTipoAtivo	VARCHAR(50)	= NULL)
													
RETURNS @Dados TABLE (	Registro			VARCHAR(50),
						Id_Lote				INT,
						Dt_Lote				DATETIME,
						Id_Ativo			INT,
						Nr_Ativo			VARCHAR(50),
						Nm_Conglomerado		VARCHAR(50),
						Nm_Ativo_Tipo		VARCHAR(50),
						Id_Ativo_Tipo		INT,
						Nm_Ativo_Tipo_Grupo	VARCHAR(50),
						Nm_Consumidor		VARCHAR(50),
						Id_Consumidor		INT,
						Id_Usuario			INT,
						Nm_Usuario			VARCHAR(50),
						Id_Filial			INT,
						Nm_Filial			VARCHAR(50),
						Id_Centro_Custo		INT,
						Cd_Centro_Custo		VARCHAR(50),
						Id_Departamento		INT,
						Nm_Departamento		VARCHAR(50),
						Id_Setor			INT,
						Nm_Setor			VARCHAR(50),
						Id_Secao			INT,
						Nm_Secao			VARCHAR(50),
						Data_Completa		DATETIME,
						Data_Det			VARCHAR(50),
						Dia_Ano				INT,
						Hora_Det			VARCHAR(50),
						Consumo				FLOAT) AS
BEGIN

	--declare @pId_Usuario		INT			
	--declare @pMesDE				VARCHAR(10)	
	--declare @pMesATE			VARCHAR(10)	
	--declare @pGrupoTipoAtivo	VARCHAR(50)
	--set @pId_Usuario	= 5861			
	--set @pMesDE				= '201809'
	--set @pMesATE			= '201809'
	--set @pGrupoTipoAtivo = 'Telefonia_Movel'
	
	INSERT INTO @Dados
	SELECT		'Dados_Operadora' AS Registro,
				LT.Id_Lote,
				LT.Dt_Lote,
				AT.Id_Ativo,
				AT.Nr_Ativo,
				CG.Nm_Conglomerado,
				ATP.Nm_Ativo_Tipo,
				ATP.Id_Ativo_Tipo,
				ATG.Nm_Ativo_Tipo_Grupo,
				CO.Nm_Consumidor,
				CO.Id_Consumidor,
				US.Id_Usuario,
				US.Nm_Usuario,
				CO.Id_Filial,
				REPLACE(FI.Nm_Filial,'&','') AS Nm_Filial,
				CO.Id_Centro_Custo,
				REPLACE(CC.Cd_Centro_Custo,'&','') Cd_Centro_Custo,
				------------------------
				CO.Id_Departamento AS Id_Departamento,
				REPLACE(DP.Nm_Departamento,'&','') AS Nm_Departamento,
				---------------------------
				CO.Id_Setor  AS Id_Setor,
				REPLACE(ST.Nm_Setor,'&','') AS Nm_Setor,
				-------------------------
				CO.Id_Secao  AS Id_Secao,
				REPLACE(SC.Nm_Secao,'&','')  AS Nm_Secao,
				---------------
				CONVERT(VARCHAR(10),BT.DB_Data_Hora,120) AS Data_Completa,
				CONVERT(VARCHAR,DATEPART(DAY,BT.DB_Data_Hora)) + '/' + CONVERT(VARCHAR,DATEPART(MONTH,BT.DB_Data_Hora)) + '-' + CASE WHEN DATEPART(DW,BT.DB_Data_Hora) = 1 THEN 'Dom' WHEN DATEPART(DW,BT.DB_Data_Hora) = 2 THEN 'Seg' WHEN DATEPART(DW,BT.DB_Data_Hora) = 3 THEN 'Ter' WHEN DATEPART(DW,BT.DB_Data_Hora) = 4 THEN 'Qua' WHEN DATEPART(DW,BT.DB_Data_Hora) = 5 THEN 'Qui' WHEN DATEPART(DW,BT.DB_Data_Hora) = 6 THEN 'Sex' WHEN DATEPART(DW,BT.DB_Data_Hora) = 7 THEN 'Sab' END AS Data,
				DATEPART(dayofyear, BT.DB_Data_Hora) AS Dia_Ano,
				DATEPART(HOUR,BT.DB_Data_Hora) AS Hora,
				CAST(SUM(BT.DB_Consumo) AS DECIMAL(13,2))	AS Consumo
		FROM	vw_Alocacao_Ativo_Consumidor AAC	INNER JOIN vw_Filial FI ON FI.Id_Filial = AAC.Id_Filial
													INNER JOIN vw_Centro_Custo CC ON CC.Id_Centro_Custo = AAC.Id_Centro_Custo
													INNER JOIN Lote LT ON LT.Id_Ativo  = AAC.Id_Ativo
													INNER JOIN Bilhete BT ON LT.Id_Lote = BT.Id_Lote 
													INNER JOIN vw_Ativo AT ON AT.Id_Ativo = LT.Id_Ativo
													INNER JOIN vw_Ativo_Tipo ATP ON ATP.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
													INNER JOIN vw_Conglomerado CG ON CG.Id_Conglomerado = AT.Id_Conglomerado
													INNER JOIN Ativo_Tipo_Grupo ATG ON ATP.Id_Ativo_Tipo_Grupo = ATG.Id_Ativo_Tipo_Grupo
													INNER JOIN vw_Consumidor CO ON CO.Id_Consumidor = AAC.Id_Consumidor
													LEFT JOIN Usuario US ON US.Id_Consumidor = CO.Id_Consumidor
													LEFT JOIN Departamento DP ON DP.Id_Departamento = AAC.Id_Departamento
													LEFT JOIN Setor ST ON ST.Id_Setor = AAC.Id_Setor
													LEFT JOIN Secao SC ON SC.Id_Secao = AAC.Id_Secao
		WHERE	AAC.Id_Centro_Custo IN( SELECT	Id_Centro_Custo 
										FROM	(	SELECT	DISTINCT HFC.Id_Centro_Custo --4 Filial
													FROM	Rl_Perfil_Filial_Usuario RFU	INNER JOIN Usuario US ON US.Id_Usuario = RFU.Id_Usuario 
																							INNER JOIN Rl_Hi_Filial_Centro_Custo HFC ON RFU.Id_Filial = HFC.Id_Filial 
													WHERE	RFU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 4
													UNION ALL 
													SELECT	DISTINCT RCU.Id_Centro_Custo --5 Centro de Custo
													FROM	Rl_Perfil_Centro_Custo_Usuario RCU INNER JOIN Usuario US ON US.Id_Usuario = RCU.Id_Usuario
													WHERE	RCU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 5
													UNION ALL 
													SELECT	DISTINCT HCD.Id_Centro_Custo --6 Departamento  
													FROM	Rl_Perfil_Departamento_Usuario RDU	INNER JOIN Usuario US ON US.Id_Usuario = RDU.Id_Usuario
																								INNER JOIN Rl_Hi_Centro_Custo_Departamento HCD ON RDU.Id_Departamento = HCD.Id_Departamento
													WHERE	RDU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 6
													UNION ALL 
													SELECT	DISTINCT HCD.Id_Centro_Custo --7 Setor 
													FROM	Rl_Perfil_Setor_Usuario RSU INNER JOIN Usuario US ON US.Id_Usuario = RSU.Id_Usuario
																						INNER JOIN Rl_Hi_Departamento_Setor HDS ON RSU.Id_Setor = HDS.Id_Setor
																						INNER JOIN Rl_Hi_Centro_Custo_Departamento HCD ON HCD.Id_Departamento = HDS.Id_Departamento
													WHERE	RSU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 7
													UNION ALL 
													SELECT	DISTINCT HCD.Id_Centro_Custo --8 Secao 
													FROM	Rl_Perfil_Secao_Usuario RSS	INNER JOIN Usuario US ON US.Id_Usuario = RSS.Id_Usuario
																						INNER JOIN Rl_Hi_Setor_Secao HSS ON RSS.Id_Secao = HSS.Id_Secao
																						INNER JOIN Rl_Hi_Departamento_Setor HDS ON HSS.Id_Setor = HDS.Id_Setor
																						INNER JOIN Rl_Hi_Centro_Custo_Departamento HCD ON HCD.Id_Departamento = HDS.Id_Departamento
													WHERE	RSS.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 8) AS CDC)
				AND 
				(		--4 Filial
						(AAC.Id_Filial IN (	SELECT	RFU.Id_Filial
											FROM	Rl_Perfil_Filial_Usuario RFU INNER JOIN Usuario US ON US.Id_Usuario = RFU.Id_Usuario 
											WHERE	RFU.Id_Usuario = @pId_Usuario
													AND US.Id_Usuario_Perfil_Acesso = 4)
						OR NOT EXISTS
						(SELECT	RFU.Id_Filial
						FROM	Rl_Perfil_Filial_Usuario RFU INNER JOIN Usuario US ON US.Id_Usuario = RFU.Id_Usuario 
						WHERE	RFU.Id_Usuario = @pId_Usuario
								AND US.Id_Usuario_Perfil_Acesso = 4))
				AND
						--5 Centro de Custo
						(AAC.Id_Centro_Custo IN (	SELECT	RCU.Id_Centro_Custo 
													FROM	Rl_Perfil_Centro_Custo_Usuario RCU INNER JOIN Usuario US ON US.Id_Usuario = RCU.Id_Usuario
													WHERE	RCU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 5)
						OR NOT EXISTS
						(SELECT	RCU.Id_Centro_Custo 
						FROM	Rl_Perfil_Centro_Custo_Usuario RCU INNER JOIN Usuario US ON US.Id_Usuario = RCU.Id_Usuario
						WHERE	RCU.Id_Usuario = @pId_Usuario
								AND US.Id_Usuario_Perfil_Acesso = 5))
				AND
						--6 Departamento
						(AAC.Id_Departamento IN (	SELECT	RDU.Id_Departamento   
													FROM	Rl_Perfil_Departamento_Usuario RDU	INNER JOIN Usuario US ON US.Id_Usuario = RDU.Id_Usuario
													WHERE	RDU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 6)
						OR NOT EXISTS
						(SELECT	RDU.Id_Departamento   
						FROM	Rl_Perfil_Departamento_Usuario RDU	INNER JOIN Usuario US ON US.Id_Usuario = RDU.Id_Usuario
						WHERE	RDU.Id_Usuario = @pId_Usuario
								AND US.Id_Usuario_Perfil_Acesso = 6))
				AND
						 --7 Setor 
						(AAC.Id_Setor IN (	SELECT	RSU.Id_Setor
											FROM	Rl_Perfil_Setor_Usuario RSU INNER JOIN Usuario US ON US.Id_Usuario = RSU.Id_Usuario
											WHERE	RSU.Id_Usuario = @pId_Usuario
													AND US.Id_Usuario_Perfil_Acesso = 7)
						OR NOT EXISTS
						(SELECT	RDU.Id_Setor   
						FROM	Rl_Perfil_Setor_Usuario RDU	INNER JOIN Usuario US ON US.Id_Usuario = RDU.Id_Usuario
						WHERE	RDU.Id_Usuario = @pId_Usuario
								AND US.Id_Usuario_Perfil_Acesso = 6))
				AND
						--8 Secao
						(AAC.Id_Secao IN (	SELECT	DISTINCT RSS.Id_Secao  
											FROM	Rl_Perfil_Secao_Usuario RSS	INNER JOIN Usuario US ON US.Id_Usuario = RSS.Id_Usuario
											WHERE	RSS.Id_Usuario = @pId_Usuario
													AND US.Id_Usuario_Perfil_Acesso = 8)
						OR NOT EXISTS
						(SELECT	RSS.Id_Secao
						FROM	Rl_Perfil_Secao_Usuario RSS	INNER JOIN Usuario US ON US.Id_Usuario = RSS.Id_Usuario
						WHERE	RSS.Id_Usuario = @pId_Usuario
								AND US.Id_Usuario_Perfil_Acesso = 8))
				)
				AND CONVERT(VARCHAR(6),LT.Dt_Lote,112) = @pMesDE
				AND ATG.Nm_Ativo_Tipo_Grupo = @pGrupoTipoAtivo
				AND	BT.DB_Tipo_Parametro IN (SELECT DB_Tipo_Parametro_BLT  FROM Si_Aproveitamento)
		GROUP BY	LT.Id_Lote,
					LT.Dt_Lote,
					LT.Trafego,
					AT.Nr_Ativo,
					CG.Nm_Conglomerado,
					AT.Id_Ativo,
					AT.Id_Ativo_Tipo,
					ATP.Nm_Ativo_Tipo,
					ATP.Id_Ativo_Tipo, 
					ATG.Nm_Ativo_Tipo_Grupo,
					CO.Nm_Consumidor,
					CO.Id_Consumidor,
					US.Id_Usuario,
					US.Nm_Usuario,
					CO.Id_Filial,
					REPLACE(FI.Nm_Filial,'&',''),
					CO.Id_Centro_Custo,
					REPLACE(CC.Cd_Centro_Custo,'&',''),
					CO.Id_Departamento,
					REPLACE(DP.Nm_Departamento,'&',''),
					CO.Id_Setor,
					REPLACE(ST.Nm_Setor,'&',''),
					CO.Id_Secao,
					REPLACE(SC.Nm_Secao,'&',''),
					CONVERT(VARCHAR(10),BT.DB_Data_Hora,120),
					CONVERT(VARCHAR,DATEPART(DAY,BT.DB_Data_Hora)) + '/' + CONVERT(VARCHAR,DATEPART(MONTH,BT.DB_Data_Hora)) + '-' + CASE WHEN DATEPART(DW,BT.DB_Data_Hora) = 1 THEN 'Dom' WHEN DATEPART(DW,BT.DB_Data_Hora) = 2 THEN 'Seg' WHEN DATEPART(DW,BT.DB_Data_Hora) = 3 THEN 'Ter' WHEN DATEPART(DW,BT.DB_Data_Hora) = 4 THEN 'Qua' WHEN DATEPART(DW,BT.DB_Data_Hora) = 5 THEN 'Qui' WHEN DATEPART(DW,BT.DB_Data_Hora) = 6 THEN 'Sex' WHEN DATEPART(DW,BT.DB_Data_Hora) = 7 THEN 'Sab' END,
					DATEPART(dayofyear, BT.DB_Data_Hora),
					DATEPART(HOUR,BT.DB_Data_Hora)

	RETURN 
END
GO
