USE [Ipiranga]
GO
/****** Object:  UserDefinedFunction [dbo].[fu_Prazo_Incidente]    Script Date: 7/31/2025 10:52:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fu_Prazo_Incidente] (	@pData	DATETIME,
											@pPrazo	INT)

RETURNS @Bilhete_Filtro TABLE (Data_Vencimento DATETIME) AS
BEGIN

	IF @pPrazo < 24 
	BEGIN
		INSERT INTO @Bilhete_Filtro
		SELECT DATEADD(HH ,@pPrazo,@pData)
	END
	ELSE
	BEGIN
	
		DECLARE @DataCorrente DATETIME
		SELECT @DataCorrente = GETDATE()

		DECLARE @DiasMes TABLE (Data DATETIME, DiaSemana INT, Util INT)
		DECLARE @MesStart DATETIME
		DECLARE @MesEnd DATETIME
	   
		SELECT @MesStart = CONVERT(CHAR(04),YEAR(@DataCorrente)) + '/01/01'
		SELECT @MesEnd = DATEADD(DAY,-1,DATEADD(MONTH,1,CONVERT(CHAR(04),YEAR(@DataCorrente) + 1) + '/12/01'))

		WHILE @MesStart <= @MesEnd
		BEGIN
			INSERT INTO @DiasMes
			VALUES (@MesStart, DATEPART(DW,@MesStart), CASE WHEN DATEPART(DW,@MesStart) IN (1,7) THEN 2 
															WHEN EXISTS(SELECT * FROM Solicitacao_Data_Parada WHERE Data = @MesStart) THEN 2 
															ELSE 1 END)
			SET @MesStart = DATEADD(DAY,1,@MesStart)
		END

		INSERT INTO @Bilhete_Filtro
		SELECT	CONVERT(DATETIME,CONVERT(VARCHAR(10),Data,110) + ' ' + CONVERT(VARCHAR(10),@pData,108))
		FROM	(SELECT	ROW_NUMBER() OVER(ORDER BY DATA ASC) Dias,
						DATA 
				FROM	@DiasMes
				WHERE	Util = 1
						AND DATA > @pData) Calc
		WHERE	Dias = CASE WHEN @pPrazo = 24 THEN 1
							WHEN @pPrazo = 48 THEN 2
							WHEN @pPrazo = 72 THEN 3
							WHEN @pPrazo = 96 THEN 4
							WHEN @pPrazo = 120 THEN 5
							WHEN @pPrazo = 144 THEN 6
							WHEN @pPrazo = 168 THEN 7
							WHEN @pPrazo = 192 THEN 8
							WHEN @pPrazo = 216 THEN 9
							WHEN @pPrazo = 240 THEN 10
							WHEN @pPrazo = 264 THEN 11
							WHEN @pPrazo = 288 THEN 12
							WHEN @pPrazo = 312 THEN 13
							WHEN @pPrazo = 336 THEN 14
							WHEN @pPrazo = 360 THEN 15
							WHEN @pPrazo = 384 THEN 16
							WHEN @pPrazo = 408 THEN 17
							WHEN @pPrazo = 432 THEN 18
							WHEN @pPrazo = 456 THEN 19
							WHEN @pPrazo = 480 THEN 20
							WHEN @pPrazo = 504 THEN 21
							WHEN @pPrazo = 528 THEN 22
							WHEN @pPrazo = 552 THEN 23
							WHEN @pPrazo = 576 THEN 24
							WHEN @pPrazo = 600 THEN 25
							WHEN @pPrazo = 624 THEN 26
							WHEN @pPrazo = 648 THEN 27
							WHEN @pPrazo = 672 THEN 28
							WHEN @pPrazo = 696 THEN 29
							WHEN @pPrazo = 720 THEN 30 END
	END
	RETURN
END
GO
