USE [Ituran]
GO
/****** Object:  UserDefinedFunction [dbo].[Fu_Formata]    Script Date: 7/31/2025 10:52:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fu_Formata] (@pTexto VARCHAR(MAX)) 
RETURNS VARCHAR(10)
AS
BEGIN
	-----formata os campos de valor do bilhete 
	DECLARE @pTexto_Retorno AS VARCHAR(10)

	IF SUBSTRING(@pTexto,1,1) = '-'
	BEGIN
		SELECT	 @pTexto_Retorno =	'-' + CASE		WHEN LEN(REPLACE(@pTexto, '-','')) = 4 THEN SUBSTRING(REPLACE(@pTexto, '-',''),1,1) + '.' + SUBSTRING(REPLACE(@pTexto, '-',''),2,3)
													WHEN LEN(REPLACE(@pTexto, '-','')) = 5 THEN SUBSTRING(REPLACE(@pTexto, '-',''),1,2) + '.' + SUBSTRING(REPLACE(@pTexto, '-',''),3,3)
													WHEN LEN(REPLACE(@pTexto, '-','')) = 6 THEN SUBSTRING(REPLACE(@pTexto, '-',''),1,3) + '.' + SUBSTRING(REPLACE(@pTexto, '-',''),4,3)
													WHEN LEN(REPLACE(@pTexto, '-','')) = 7 THEN SUBSTRING(REPLACE(@pTexto, '-',''),1,1) + '.' + SUBSTRING(REPLACE(@pTexto, '-',''),2,3) + '.' + SUBSTRING(REPLACE(@pTexto, '-',''),5,3)
													WHEN LEN(REPLACE(@pTexto, '-','')) = 8 THEN SUBSTRING(REPLACE(@pTexto, '-',''),1,2) + '.' + SUBSTRING(REPLACE(@pTexto, '-',''),3,3) + '.' + SUBSTRING(REPLACE(@pTexto, '-',''),6,3)
													WHEN LEN(REPLACE(@pTexto, '-','')) = 9 THEN SUBSTRING(REPLACE(@pTexto, '-',''),1,3) + '.' + SUBSTRING(REPLACE(@pTexto, '-',''),4,3) + '.' + SUBSTRING(REPLACE(@pTexto, '-',''),7,3)
													WHEN LEN(REPLACE(@pTexto, '-','')) = 10 THEN SUBSTRING(REPLACE(@pTexto, '-',''),1,1) + '.' + SUBSTRING(REPLACE(@pTexto, '-',''),2,3) + '.' + SUBSTRING(REPLACE(@pTexto, '-',''),5,3) + '.' + SUBSTRING(REPLACE(@pTexto, '-',''),8,3)
													ELSE @pTexto
											END
	END
	ELSE
	BEGIN
		SELECT	@pTexto_Retorno =	CASE	WHEN LEN(@pTexto) = 4 THEN SUBSTRING(@pTexto,1,1) + '.' + SUBSTRING(@pTexto,2,3)
											WHEN LEN(@pTexto) = 5 THEN SUBSTRING(@pTexto,1,2) + '.' + SUBSTRING(@pTexto,3,3)
											WHEN LEN(@pTexto) = 6 THEN SUBSTRING(@pTexto,1,3) + '.' + SUBSTRING(@pTexto,4,3)
											WHEN LEN(@pTexto) = 7 THEN SUBSTRING(@pTexto,1,1) + '.' + SUBSTRING(@pTexto,2,3) + '.' + SUBSTRING(@pTexto,5,3)
											WHEN LEN(@pTexto) = 8 THEN SUBSTRING(@pTexto,1,2) + '.' + SUBSTRING(@pTexto,3,3) + '.' + SUBSTRING(@pTexto,6,3)
											WHEN LEN(@pTexto) = 9 THEN SUBSTRING(@pTexto,1,3) + '.' + SUBSTRING(@pTexto,4,3) + '.' + SUBSTRING(@pTexto,7,3)
											WHEN LEN(@pTexto) = 10 THEN SUBSTRING(@pTexto,1,1) + '.' + SUBSTRING(@pTexto,2,3) + '.' + SUBSTRING(@pTexto,5,3) + '.' + SUBSTRING(@pTexto,8,3)
											ELSE @pTexto
									END
	END
			
	RETURN ISNULL(@pTexto_Retorno,0)
	
END
GO
