USE [Bain]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Rateio_v]    Script Date: 7/31/2025 10:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_Rateio_v] (@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS
	
	SELECT  
			AT.Nm_Ativo_Tipo AS Tipo,
			CO.Nm_Conglomerado AS Conglomerado,
			FA.Nr_Fatura AS Conta,
			FA.Dt_Lote AS Lote,
			A.Nr_Ativo_Tabela AS Telefone,
			C.Nm_Consumidor AS Usuario,
			CC.Cd_Centro_Custo AS [Centro de Custo],
			RI.Valor_Fatura AS Consumo,
			RI.Valor_Rateado AS [Total Rateado],
			(SELECT SUM(Valor_Rateado) FROM Rateio_Item WHERE Id_Rateio = RI.Id_Rateio) AS [Total Conta]
			INTO #Temp_Export
	FROM	Rateio_Item RI	INNER JOIN vw_Ativo A ON (RI.Id_Ativo = A.Id_Ativo)
							INNER JOIN Conglomerado CO ON (CO.Id_Conglomerado = A.Id_Conglomerado)
							INNER JOIN Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo)
							LEFT JOIN vw_Consumidor C ON (RI.Id_Consumidor = C.Id_Consumidor)
							LEFT JOIN vw_Filial F ON (F.Id_Filial = RI.Id_Filial)
							LEFT JOIN vw_Usuario US ON C.Id_Consumidor = US.Id_Consumidor
							INNER JOIN vw_Centro_Custo CC ON (RI.Id_Centro_Custo = CC.Id_Centro_Custo)
							INNER JOIN Rl_Rateio_Fatura RF ON (RF.Id_Rateio = RI.Id_Rateio)
							INNER JOIN Fatura FA ON (RF.Id_Fatura = FA.Id_Fatura)
	WHERE   SUBSTRING(CONVERT(VARCHAR(6),FA.Dt_Lote,112),1,6) >= @pDt_LoteDe and CO.Nm_Conglomerado = 'Vivo'
	ORDER BY FA.Nr_Fatura
	
-----exportacao
IF @pPakage = 'sp_Rateio_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Rateio'
BEGIN
	SELECT * FROM #Temp_Export
END
GO
