USE [Bain]
GO
/****** Object:  StoredProcedure [dbo].[pa_Fatura_Parametro]    Script Date: 7/31/2025 10:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Fatura_Parametro] (	@pPakage				VARCHAR(200),
												@pId_Fatura_Parametro	INT			OUT,
												@pNm_Fatura_Parametro	VARCHAR(50)	= NULL,
												@pId_Contrato			INT			= NULL,
												@pConta_Contabil		VARCHAR(50)	= NULL,
												@pId_Ativo				INT			= NULL,
												@pCd_Centro_Custo		VARCHAR(20)	= NULL,
												@pId_Fatura_Tipo_Rateio	VARCHAR(50)	= NULL,
												@pRateia_Ativo_Padrao	INT			= NULL,
												@pRateio_Nota			INT			= NULL,
												@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Fatura_Parametro WHERE Id_Fatura_Parametro = @pId_Fatura_Parametro)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			-----limpa relacionamento de rateio caso tenha sido trocado o tipo do mesmo
			IF NOT @pId_Fatura_Tipo_Rateio = (SELECT Id_Fatura_Tipo_Rateio FROM Fatura_Parametro WHERE Id_Fatura_Parametro = @pId_Fatura_Parametro)
			BEGIN
				DELETE Rl_Ra_Fatura_Parametro_Conglomerado WHERE Id_Fatura_Parametro = @pId_Fatura_Parametro
				DELETE Rl_Ra_Fatura_Parametro_Filial WHERE Id_Fatura_Parametro = @pId_Fatura_Parametro
				DELETE Rl_Ra_Fatura_Parametro_Ativo WHERE Id_Fatura_Parametro = @pId_Fatura_Parametro
			END 

			UPDATE	Fatura_Parametro
			SET		Nm_Fatura_Parametro			= @pNm_Fatura_Parametro,
					Id_Contrato					= @pId_Contrato,
					Conta_Contabil				= @pConta_Contabil,
					Id_Ativo					= @pId_Ativo,
					Cd_Centro_Custo				= @pCd_Centro_Custo,
					Id_Fatura_Tipo_Rateio		= @pId_Fatura_Tipo_Rateio,
					Rateia_Ativo_Padrao			= @pRateia_Ativo_Padrao,
					Rateio_Nota					=@pRateio_Nota
			WHERE	Id_Fatura_Parametro = @pId_Fatura_Parametro
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Fatura_Parametro(Nm_Fatura_Parametro,
										Id_Contrato,
										Conta_Contabil,
										Id_Ativo,
										Cd_Centro_Custo,
										Id_Fatura_Tipo_Rateio,
										Rateia_Ativo_Padrao,
										Rateio_Nota) 
			VALUES(	@pNm_Fatura_Parametro,
					@pId_Contrato,
					@pConta_Contabil,
					@pId_Ativo,
					@pCd_Centro_Custo,
					@pId_Fatura_Tipo_Rateio,
					@pRateia_Ativo_Padrao,
					@pRateio_Nota)
			-----retorna id 
			SELECT @pId_Fatura_Parametro = MAX(Id_Fatura_Parametro) FROM Fatura_Parametro
		END
		ELSE
		BEGIN
			SELECT @pId_Fatura_Parametro =	0
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		DELETE dbo.Rl_Ra_Fatura_Parametro_Ativo
		WHERE	Id_Fatura_Parametro = @pId_Fatura_Parametro
		DELETE dbo.Rl_Ra_Fatura_Parametro_Conglomerado
		WHERE	Id_Fatura_Parametro = @pId_Fatura_Parametro
		DELETE dbo.Rl_Ra_Fatura_Parametro_Filial
		WHERE	Id_Fatura_Parametro = @pId_Fatura_Parametro
		DELETE dbo.Rl_Ra_Fatura_Parametro_Tronco_Grupo

		DELETE	Fatura_Parametro 
		WHERE	Id_Fatura_Parametro = @pId_Fatura_Parametro
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(FP.Id_Fatura_Parametro,'')					AS Id_Fatura_Parametro,
			ISNULL(FP.Nm_Fatura_Parametro,'')					AS Nm_Fatura_Parametro,
			ISNULL(FP.Id_Contrato,'')							AS Id_Contrato,
			ISNULL(FP.Conta_Contabil,'')						AS Conta_Contabil,
			ISNULL(FP.Id_Ativo,'')								AS Id_Ativo,
			ISNULL(AT.Nr_Ativo + ' - ' + C.Nm_Conglomerado,'')	AS Nr_Ativo,
			ISNULL(Cd_Centro_Custo,'')							AS Cd_Centro_Custo,
			ISNULL(Id_Fatura_Tipo_Rateio,'')					AS Id_Fatura_Tipo_Rateio,
			ISNULL(Rateia_Ativo_Padrao,'')						AS Rateia_Ativo_Padrao,
			ISNULL(Rateio_Nota,'')								AS Rateio_Nota
	FROM	Fatura_Parametro FP INNER JOIN vw_Ativo AT ON (FP.Id_Ativo = AT.Id_Ativo)
								INNER JOIN Conglomerado C ON (C.Id_Conglomerado = AT.Id_Conglomerado)
	WHERE	FP.Id_Fatura_Parametro = @pId_Fatura_Parametro
END

-----retorna tipo rateio (coglomerado)
IF @pPAKAGE = 'sp_Fatura_Tipo_Rateio_Conglomerado'
BEGIN
	SELECT	CON.Id_Conglomerado,
			CON.Nm_Conglomerado
	FROM	Rl_Ra_Fatura_Parametro_Conglomerado RFG INNER JOIN vw_Conglomerado CON ON (RFG.Id_Conglomerado = CON.Id_Conglomerado)
	WHERE	RFG.Id_Fatura_Parametro = @pId_Fatura_Parametro
	ORDER BY CON.Nm_Conglomerado
END  

-----retorna tipo rateio (filial)
IF @pPAKAGE = 'sp_Fatura_Tipo_Rateio_Filial'
BEGIN
	SELECT	FIL.Id_Filial,
			FIL.Nm_Filial
	FROM	Rl_Ra_Fatura_Parametro_Filial RFF INNER JOIN vw_Filial FIL ON (RFF.Id_Filial = Fil.Id_Filial)
	WHERE	RFF.Id_Fatura_Parametro = @pId_Fatura_Parametro
	ORDER BY FIL.Nm_Filial
END  

-----retorna tipo rateio (ativo)
IF @pPAKAGE = 'sp_Fatura_Tipo_Rateio_Ativo'
BEGIN
	SELECT	ATV.Id_Ativo,
			ATV.Nr_Ativo
	FROM	Rl_Ra_Fatura_Parametro_Ativo RFA INNER JOIN vw_Ativo ATV ON (RFA.Id_Ativo = ATV.Id_Ativo)
	WHERE	RFA.Id_Fatura_Parametro = @pId_Fatura_Parametro
	ORDER BY ATV.Nr_Ativo
END

-----retorna tipo rateio (tronco grupo)
IF @pPAKAGE = 'sp_Fatura_Tipo_Rateio_Tronco_Grupo'
BEGIN
	SELECT	TG.Id_Tronco_Grupo,
			TG.Nm_Tronco_Grupo
	FROM	Rl_Ra_Fatura_Parametro_Tronco_Grupo RFT INNER JOIN vw_Tronco_Grupo TG ON (RFT.Id_Tronco_Grupo = TG.Id_Tronco_Grupo)
	WHERE	RFT.Id_Fatura_Parametro = @pId_Fatura_Parametro
	ORDER BY TG.Nm_Tronco_Grupo
END
GO
