USE [Bain]
GO
/****** Object:  StoredProcedure [dbo].[pa_Setor]    Script Date: 7/31/2025 10:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Setor] (	@pPakage				VARCHAR(200),
									@pId_Setor				INT			OUT,
									@pCd_Setor				VARCHAR(20) = NULL,
									@pNm_Setor				VARCHAR(50)	= NULL,
									@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Setor WHERE Id_Setor = @pId_Setor)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Setor 
			SET		Cd_Setor = @pCd_Setor,
					Nm_Setor = @pNm_Setor
			WHERE	Id_Setor = @pId_Setor
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Setor (	Cd_Setor,
								Nm_Setor,
								Fl_Desativado) 
			VALUES(	@pCd_Setor,
					@pNm_Setor,
					0)
			-----retorna id 
			SELECT @pId_Setor = MAX(Id_Setor) FROM Setor
		END
		ELSE
		BEGIN
			SELECT @pId_Setor =	0
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Setor 
		SET		Fl_Desativado = 1 
		WHERE	Id_Setor = @pId_Setor
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Setor,'') AS Id_Setor,
			ISNULL(Cd_Setor,'') AS Cd_Setor,
			ISNULL(Nm_Setor,'') AS Nm_Setor
	FROM	vw_Setor
	WHERE	Id_Setor = @pId_Setor
END



GO
