USE [Bain]
GO
/****** Object:  StoredProcedure [dbo].[pa_DropList_Filtro]    Script Date: 7/31/2025 10:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_DropList_Filtro] (@pPakage	VARCHAR(200),
											@pFiltro_1	INT = NULL,
											@pFiltro_2	INT	= NULL) AS
-----filtra modelo pelo Id_Ativo_Tipo
IF @pPAKAGE = 'sp_Drop_Filtro_Ativo_Modelo_Id_Ativo_Tipo'
BEGIN
	SELECT	Id_Ativo_Modelo	AS ID,
			Nm_Ativo_Fabricante + ' ' + Nm_Ativo_Modelo	AS Descricao
	FROM	vw_Ativo_Modelo INNER JOIN vw_Ativo_Fabricante ON (vw_Ativo_Modelo.Id_Ativo_Fabricante = vw_Ativo_Fabricante.Id_Ativo_Fabricante)
	WHERE	Id_Ativo_Tipo = @pFiltro_1
	ORDER BY Nm_Ativo_Modelo
END

-----filtra solucao de incidente
IF @pPAKAGE = 'sp_Drop_Filtro_Solucao_Incidente'
BEGIN
	SELECT	Id_Solicitacao_Solucao	AS ID,
			Nm_Solicitacao_Solucao	AS Descricao
	FROM	vw_Solicitacao_Solucao SS	INNER JOIN Ativo_Tipo AT ON SS.Id_Ativo_Tipo = AT.Id_Ativo_Tipo  
	WHERE	AT.Id_Ativo_Tipo = @pFiltro_1
	ORDER BY Nm_Solicitacao_Solucao
END

-----filtra imagem do tipo de ativo
IF @pPAKAGE = 'sp_Drop_Filtro_Iamgem_Ativo_Tipo'
BEGIN
	SELECT	ATI.Id_Ativo_Tipo AS ID,
			ATI.Photo AS Descricao
	FROM	Ativo_Tipo_Imagem ATI
	WHERE	ATI.Id_Ativo_Tipo = @pFiltro_1
	ORDER BY Descricao
END

-----filtra solicitcao pelo Id_Ativo_Tipo (Usuario)
IF @pPAKAGE = 'sp_Drop_Solicitacao_Tipo_Id_Ativo_Tipo_Usuario'
BEGIN
	SELECT	Id_Solicitacao_Tipo	AS ID,
			Nm_Solicitacao_Tipo AS Descricao
	FROM	vw_Solicitacao_Tipo
	WHERE	Id_Ativo_Tipo = @pFiltro_1
			AND Id_Solicitacao_Permissao = 1
	ORDER BY Nm_Solicitacao_Tipo
END

-----filtra solicitcao pelo Id_Ativo_Tipo (Unidade)
IF @pPAKAGE = 'sp_Drop_Solicitacao_Tipo_Id_Ativo_Tipo_Unidade'
BEGIN
	SELECT	Id_Solicitacao_Tipo	AS ID,
			Nm_Solicitacao_Tipo AS Descricao
	FROM	vw_Solicitacao_Tipo
	WHERE	Id_Ativo_Tipo = @pFiltro_1
			AND Id_Solicitacao_Permissao = 2
	ORDER BY Nm_Solicitacao_Tipo
END

-----filtra solicitcao pelo Id_Ativo_Tipo (Roaming)
IF @pPAKAGE = 'sp_Drop_Solicitacao_Tipo_Id_Ativo_Tipo_Roaming'
BEGIN
	SELECT	Id_Solicitacao_Tipo	AS ID,
			Nm_Solicitacao_Tipo AS Descricao
	FROM	vw_Solicitacao_Tipo
	WHERE	Id_Ativo_Tipo = @pFiltro_1
			AND Id_Solicitacao_Permissao = 3
	ORDER BY Nm_Solicitacao_Tipo
END

-----filta acesso de perfil de usuario pelo Id_Usuario_Perfil
IF @pPAKAGE = 'sp_Drop_Filtro_Usuario_Perfil_Acesso_Id_Usuario_Perfil'
BEGIN
	SELECT	Id_Usuario_Perfil_Acesso	AS ID,
			Nm_Usuario_Perfil_Acesso	AS Descricao
	FROM	Si_Usuario_Perfil_Acesso 
	WHERE	Id_Usuario_Perfil = @pFiltro_1
	ORDER BY Nm_Usuario_Perfil_Acesso
END

-------filtra centro custo 
IF @pPAKAGE = 'sp_Drop_Filtro_Hierarquia_Centro_Custo'
BEGIN
	SELECT	DISTINCT ISNULL(CC.Id_Centro_Custo,'')	AS Id_Centro_Custo,
			ISNULL(CC.Cd_Centro_Custo,'')			AS Cd_Centro_Custo
	FROM	vw_Centro_Custo CC	INNER JOIN Rl_Hi_Filial_Centro_Custo RFC 
								ON (CC.Id_Centro_Custo = RFC.Id_Centro_Custo)
	WHERE	RFC.Id_Filial	= @pFiltro_1
	ORDER BY Cd_Centro_Custo
END

-------filtra departamento 
IF @pPAKAGE = 'sp_Drop_Filtro_Hierarquia_Departamento'
BEGIN
	SELECT	DISTINCT DEP.Id_Departamento	AS ID,
			DEP.Nm_Departamento	AS Descricao
	FROM	Rl_Hi_Filial_Centro_Custo RFC	INNER JOIN Rl_Hi_Centro_Custo_Departamento RCD
											ON (RFC.Id_Centro_Custo = RCD.Id_Centro_Custo)
											INNER JOIN vw_Departamento DEP
											ON (DEP.Id_Departamento = RCD.Id_Departamento)
	WHERE	RFC.Id_Centro_Custo = @pFiltro_1
	ORDER BY DEP.Nm_Departamento
END

-------filtra setor 
IF @pPAKAGE = 'sp_Drop_Filtro_Hierarquia_Setor'
BEGIN
	SELECT	DISTINCT ST.Id_Setor	AS ID,
			ST.Nm_Setor	AS Descricao
	FROM	Rl_Hi_Filial_Centro_Custo RFC	INNER JOIN Rl_Hi_Centro_Custo_Departamento RCD
											ON (RFC.Id_Centro_Custo = RCD.Id_Centro_Custo)
											INNER JOIN Rl_Hi_Departamento_Setor RDS
											ON (RDS.Id_Departamento = RCD.Id_Departamento)
											INNER JOIN vw_Setor ST
											ON (ST.Id_Setor = RDS.Id_Setor)
	WHERE	RDS.Id_Departamento = @pFiltro_1
	ORDER BY ST.Nm_Setor
END

-----filtra secao 
IF @pPAKAGE = 'sp_Drop_Filtro_Hierarquia_Secao'
BEGIN
	SELECT	DISTINCT SC.Id_Secao	AS ID,
			SC.Nm_Secao	AS Descricao
	FROM	Rl_Hi_Filial_Centro_Custo RFC	INNER JOIN Rl_Hi_Centro_Custo_Departamento RCD
											ON (RFC.Id_Centro_Custo = RCD.Id_Centro_Custo)
											INNER JOIN Rl_Hi_Departamento_Setor RDS
											ON (RDS.Id_Departamento = RCD.Id_Departamento)
											INNER JOIN Rl_Hi_Setor_Secao RSS
											ON (RSS.Id_Setor = RDS.Id_Setor)
											INNER JOIN vw_Secao SC
											ON (SC.Id_Secao = RSS.Id_Secao)
	WHERE	RSS.Id_Setor = @pFiltro_1
	ORDER BY SC.Nm_Secao
END

-------filtra consumidor que usuario pode visualizar
IF @pPAKAGE = 'sp_Drop_Filtro_Hierarquia_Consumidor'
BEGIN
	SELECT	DISTINCT CON.Id_Consumidor	AS ID,
			CON.Nm_Consumidor	AS Descricao
	FROM	vw_Consumidor CON INNER JOIN Rl_Perfil_Consumidor_Usuario RCU ON (CON.Id_Consumidor = RCU.Id_Consumidor)
	WHERE	RCU.Id_Usuario = @pFiltro_1
	ORDER BY CON.Nm_Consumidor
END

-----ativo tipo solicitacao (usuario)
IF @pPAKAGE = 'sp_Drop_Ativo_Tipo_Usuario'
BEGIN
	SELECT	Id_Ativo_Tipo	AS ID,
			Nm_Ativo_Tipo	AS Descricao,
			dbo.Fu_Link_HTTP ('Ativo_Tipo.aspx',Id_Ativo_Tipo,'Raiz') AS Link
	FROM	vw_Ativo_Tipo AT
	WHERE	(1 = (SELECT Id_Usuario_Grupo FROM Usuario WHERE Id_Usuario = @pFiltro_1) OR AT.Id_Ativo_Tipo IN (SELECT AT.Id_Ativo_Tipo FROM Rl_Perfil_Ativo_Usuario SR INNER JOIN Ativo AT ON SR.Id_Ativo = AT.Id_Ativo  WHERE SR.Id_Usuario = @pFiltro_1))
			AND EXISTS(SELECT * FROM Solicitacao_Tipo ST WHERE ST.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
																AND ST.Id_Solicitacao_Permissao = 1)
	ORDER BY Nm_Ativo_Tipo
END

-----ativo tipo solicitacao (sub grupo tipo)
IF @pPAKAGE = 'sp_Drop_Ativo_Tipo_Grupo_Tipo'
BEGIN
	SELECT	DISTINCT 
			ATGT.Id_Ativo_Tipo_Grupo_Tipo	AS ID,
			ATGT.Nm_Ativo_Tipo_Grupo_Tipo	AS Descricao,
			dbo.Fu_Link_HTTP ('Ativo_Tipo_Grupo_Tipo.aspx',ATGT.Id_Ativo_Tipo_Grupo_Tipo,'Raiz') AS Link
	FROM	vw_Ativo_Tipo AT INNER JOIN vw_Ativo_Tipo_Grupo_Tipo ATGT ON AT.Id_Ativo_Tipo_Grupo_Tipo = ATGT.Id_Ativo_Tipo_Grupo_Tipo
	WHERE	EXISTS(SELECT * FROM Solicitacao_Tipo ST WHERE ST.Id_Ativo_Tipo = AT.Id_Ativo_Tipo AND ST.Id_Solicitacao_Permissao = 2)
	ORDER BY Descricao
END

-----ativo tipo solicitacao (sub grupo)
IF @pPAKAGE = 'sp_Drop_Ativo_Tipo_Sub_Grupo'
BEGIN
	SELECT	DISTINCT 
			ATSG.Id_Ativo_Tipo_Sub_Grupo	AS ID,
			ATSG.Nm_Ativo_Tipo_Sub_Grupo	AS Descricao,
			dbo.Fu_Link_HTTP ('Ativo_Tipo_Sub_Grupo.aspx',ATSG.Id_Ativo_Tipo_Sub_Grupo,'Raiz') AS Link
	FROM	vw_Ativo_Tipo AT	INNER JOIN vw_Ativo_Tipo_Sub_Grupo ATSG ON AT.Id_Ativo_Tipo_Sub_Grupo = ATSG.Id_Ativo_Tipo_Sub_Grupo
								INNER JOIN vw_Ativo_Tipo_Grupo_Tipo ATGT ON AT.Id_Ativo_Tipo_Grupo_Tipo = ATGT.Id_Ativo_Tipo_Grupo_Tipo 
	WHERE	EXISTS(SELECT * FROM Solicitacao_Tipo ST WHERE ST.Id_Ativo_Tipo = AT.Id_Ativo_Tipo AND ST.Id_Solicitacao_Permissao = 2)
			AND AT.Id_Ativo_Tipo_Grupo_Tipo = @pFiltro_1
	ORDER BY Descricao
END

-----ativo tipo solicitacao (roaming)
IF @pPAKAGE = 'sp_Drop_Ativo_Tipo_Roaming'
BEGIN
	SELECT	Id_Ativo_Tipo	AS ID,
			Nm_Ativo_Tipo	AS Descricao,
			dbo.Fu_Link_HTTP ('Ativo_Tipo.aspx',Id_Ativo_Tipo,'Raiz') AS Link
	FROM	vw_Ativo_Tipo AT
	WHERE	(1 = (SELECT Id_Usuario_Grupo FROM Usuario WHERE Id_Usuario = @pFiltro_1) OR AT.Id_Ativo_Tipo IN (SELECT AT.Id_Ativo_Tipo FROM Rl_Perfil_Ativo_Usuario SR INNER JOIN Ativo AT ON SR.Id_Ativo = AT.Id_Ativo  WHERE Id_Usuario = @pFiltro_1))
			AND EXISTS(SELECT * FROM Solicitacao_Tipo ST WHERE ST.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
																AND ST.Id_Solicitacao_Permissao = 3)
	ORDER BY Nm_Ativo_Tipo
END

-----acesso da unidade por centro de custo
IF @pPAKAGE = 'sp_Acesso_Consumidor_Unidade'
BEGIN
	SELECT	Id_Consumidor_Unidade	AS ID,
			Nm_Unidade				AS Descricao,
			dbo.Fu_Link_HTTP ('Consumidor_Unidade.aspx',Id_Consumidor_Unidade,'Raiz') AS Link
	FROM	Consumidor_Unidade CD INNER JOIN Consumidor CO ON CD.Id_Consumidor = CO.Id_Consumidor
	WHERE	(1 = (SELECT Id_Usuario_Perfil FROM Usuario WHERE Id_Usuario = @pFiltro_1) OR CO.Id_Consumidor IN (SELECT Id_Consumidor FROM Rl_Perfil_Consumidor_Usuario WHERE Id_Usuario = @pFiltro_1))
			AND CD.Id_Conglomerado IS NULL
	ORDER BY Nm_Unidade
END

-----conglomerado do usuario ou administrador
IF @pPAKAGE = 'sp_Drop_Conglomerado_Solicitacao'
BEGIN
	SELECT	Id_Conglomerado	AS ID,
			Nm_Conglomerado	AS Descricao,
			dbo.Fu_Link_HTTP ('Conglomerado.aspx',Id_Conglomerado,'Raiz') AS Link
	FROM	vw_Conglomerado
	WHERE	Conglomerado_Unidade = 2
			AND (Id_Conglomerado IN (SELECT	Id_Conglomerado 
									FROM	Consumidor_Unidade 
									WHERE	Id_Consumidor IN (SELECT Id_Consumidor FROM Usuario WHERE Id_Usuario = @pFiltro_1))
				OR @pFiltro_1 IS NULL)
	ORDER BY Nm_Conglomerado
END

-----DropDown lista ativos para anexar no estoque aparelho
IF @pPAKAGE = 'sp_Drop_Filtro_Ativo_NovoAtivo_EstoqueAparelho'
BEGIN
	SELECT	a.Id_Ativo AS ID,
            a.Nr_Ativo AS Descricao
	FROM    Ativo a 
	WHERE a.Nr_Ativo LIKE '%' + CONVERT(VARCHAR(10), @pFiltro_1) + '%'
	  AND a.Id_Ativo not in (
	     SELECT Id_Ativo FROM Rl_Estoque_Aparelho_Ativo
	  )
	ORDER BY a.Nr_Ativo
END
GO
