USE [Bain]
GO
/****** Object:  StoredProcedure [dbo].[pa_Ativo_App_Trafego]    Script Date: 7/31/2025 10:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Ativo_App_Trafego] (	@pPakage		VARCHAR(200),
												@pNumero_Linha	VARCHAR(200)	= NULL,
												@pId_Ativo		INT				= NULL,
												@pString_Dados	VARCHAR(MAX)	= NULL,
												@pMes			INT				= NULL) AS
-----insere consumo de dados 
IF @pPAKAGE = 'sp_SM_Dados'
BEGIN
	DECLARE @V_Id_Ativo AS INT = 0
	DECLARE @T_App_Trafego AS TABLE(Texto VARCHAR(200))
	DECLARE @T_App_Nome AS TABLE(ID INT, Nome VARCHAR(200))
	DECLARE @T_App_Consumo AS TABLE(ID INT, Consumo FLOAT)
	DECLARE @T_App_Nome_Temp AS TABLE(ID INT, Nome VARCHAR(200))

	-----Primeria quebra por !
	INSERT INTO @T_App_Trafego
	SELECT Valor FROM dbo.fn_Split_String(REPLACE(@pString_Dados,'''','')	,'!')
	
	-----Monta Nome
	INSERT INTO @T_App_Nome
	SELECT	CASE WHEN SUBSTRING(Texto, 1, 4) = 'Nome' THEN SUBSTRING(Texto, 6, patindex('%;%', SUBSTRING(Texto, 6, LEN(Texto))) -1)
				ELSE SUBSTRING(Texto, 9, PATINDEX('%;%', SUBSTRING(Texto, 9, LEN(Texto))) -1)
				END AS ID,
			CASE WHEN SUBSTRING(Texto, 1, 4) = 'Nome' THEN SUBSTRING(SUBSTRING(Texto, 6, LEN(Texto)), (PATINDEX('%;%', SUBSTRING(Texto, 6, LEN(Texto))) + 1), LEN(texto))
				ELSE SUBSTRING(SUBSTRING(Texto, 9, LEN(Texto)), (PATINDEX('%;%', SUBSTRING(Texto, 9, LEN(Texto))) + 1), LEN(texto))
				END AS Nome_Consumo
	FROM	@T_App_Trafego
	WHERE	SUBSTRING(Texto, 1, 4) = 'Nome'

	-----Monta Consumo
	INSERT INTO @T_App_Consumo
	SELECT	DISTINCT
			CASE WHEN SUBSTRING(Texto, 1, 4) = 'Nome' THEN SUBSTRING(Texto, 6, patindex('%;%', SUBSTRING(Texto, 6, LEN(Texto))) -1)
				ELSE SUBSTRING(Texto, 9, PATINDEX('%;%', SUBSTRING(Texto, 9, LEN(Texto))) -1)
				END AS ID,
			REPLACE(CASE WHEN SUBSTRING(Texto, 1, 4) = 'Nome' THEN SUBSTRING(SUBSTRING(Texto, 6, LEN(Texto)), (PATINDEX('%;%', SUBSTRING(Texto, 6, LEN(Texto))) + 1), LEN(texto))
					ELSE SUBSTRING(SUBSTRING(Texto, 9, LEN(Texto)), (PATINDEX('%;%', SUBSTRING(Texto, 9, LEN(Texto))) + 1), LEN(texto))
					END, ',','.') AS Nome_Consumo
	FROM	@T_App_Trafego
	WHERE	SUBSTRING(Texto, 1, 7) = 'Consumo'
	
	-----trata registro para gravacao
	DELETE FROM @T_App_Nome WHERE ID <= 0
	DELETE FROM @T_App_Consumo WHERE ID <= 0
	
	INSERT INTO @T_App_Nome_Temp
	SELECT	ID, (SELECT TOP 1 Nome FROM @T_App_Nome WHERE ID = APP.ID)
	FROM	@T_App_Nome APP
	GROUP BY  ID HAVING COUNT(*) > 1

	DELETE FROM @T_App_Nome WHERE ID IN (SELECT ID FROM @T_App_Nome GROUP BY  ID HAVING COUNT(*) > 1)

	INSERT INTO @T_App_Nome
	SELECT * FROM @T_App_Nome_Temp
				
	-----Grava Registro
	SELECT @V_Id_Ativo = Id_Ativo FROM Ativo WHERE Nr_Ativo = @pNumero_Linha 

	-----limpa dados do ativo 
	DELETE FROM Ativo_App_Trafego_Aplicativo WHERE Id_Ativo = @V_Id_Ativo
		
	-----grava registro existente
	INSERT INTO Ativo_App_Trafego_Aplicativo
	SELECT	1,
			@V_Id_Ativo,
			GETDATE(),
			N.ID,
			N.Nome,
			C.Consumo,
			C.Consumo
	FROM	@T_App_Nome N INNER JOIN @T_App_Consumo C ON N.ID = C.ID
END

-------lista dados e consumo
IF @pPAKAGE = 'sp_Lista_Dados'
BEGIN
	SELECT	Id_Aplicativo,
			AAT.Pacote_MB,
			AAT.Corte_De, 
			AAT.Corte_Ate, 
			SUM(Consumo_Calculado) AS Consumo_Calculado,
			(SELECT	SUM(Consumo_Calculado) AS Consumo_Calculado
			FROM	Ativo_App_Trafego_Aplicativo SAATA	INNER JOIN Ativo_App_Trafego SAAT ON SAATA.Id_Ativo = SAAT.Id_Ativo
														INNER JOIN Ativo SAT ON SAT.Id_Ativo = SAAT.Id_Ativo 
			WHERE	SAT.Nr_Ativo = AT.Nr_Ativo) AS Consumo_Total
	FROM	Ativo_App_Trafego_Aplicativo AATA	INNER JOIN Ativo_App_Trafego AAT ON AATA.Id_Ativo = AAT.Id_Ativo
												INNER JOIN Ativo AT ON AT.Id_Ativo = AAT.Id_Ativo 
	WHERE	AT.Nr_Ativo = @pNumero_Linha
	GROUP BY	Id_Aplicativo,
				AT.Nr_Ativo,
				AAT.Pacote_MB,
				AAT.Corte_De, 
				AAT.Corte_Ate
	ORDER BY Consumo_Calculado
END

-------lista meses que possue consumo
IF @pPAKAGE = 'sp_Lista_Mes'
BEGIN
	SELECT	DISTINCT CONVERT(VARCHAR(6), Data, 112) AS Codigo,
			CONVERT(VARCHAR(7), Data, 111) AS Descricao
	FROM	Ativo_App_Trafego_Aplicativo AATA	INNER JOIN Ativo_App_Trafego AAT ON AATA.Id_Ativo = AAT.Id_Ativo
												INNER JOIN Ativo AT on AT.Id_Ativo = AAT.Id_Ativo 
	WHERE	AT.Nr_Ativo = @pNumero_Linha
END
GO
