USE [Bain]
GO
/****** Object:  StoredProcedure [dbo].[pa_Politica_Consumidor]    Script Date: 7/31/2025 10:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Politica_Consumidor] (@pPAKAGE				VARCHAR(200),
												@pId_Consumidor			INT				= NULL,
												@pId_Ativo_Tipo			INT				= NULL,
												@pNm_Consumidor			VARCHAR(50)		= NULL,
												@pValor_Politica		NUMERIC(13,2)	= NULL,
												@pMarca_Ligacao			INT				= NULL,
												@pId_Lote				FLOAT			= NULL,
												@pId_Usuario_Permissao	INT				= NULL) AS
-----consulta polita de consumidor
IF @pPAKAGE = 'sp_Consulta_Politica'
BEGIN
	SELECT	PC.Id_Consumidor,
			CO.Nm_Consumidor,
			PC.Valor_Politica,
			CASE WHEN PC.Marca_Ligacao = 2 THEN 'True' ELSE 'False' END AS Marca_Ligacao,
			PC.Id_Ativo_Tipo,
			CASE WHEN PC.Id_Ativo_Tipo IS NULL THEN 'True' ELSE 'False' END AS Enabled_Tipo,
			AT.Nm_Ativo_Tipo
	FROM	Politica_Consumidor PC	INNER JOIN vw_Consumidor CO ON PC.Id_Consumidor = CO.Id_Consumidor
									LEFT JOIN vw_Usuario U ON U.Id_Consumidor = CO.Id_Consumidor
									LEFT JOIN vw_Ativo_Tipo AT ON AT.Id_Ativo_Tipo = PC.Id_Ativo_Tipo
	WHERE	(CO.Nm_Consumidor LIKE '%'+@pNm_Consumidor+'%'  OR @pNm_Consumidor IS NULL)
			OR (U.Nm_Usuario LIKE '%'+@pNm_Consumidor+'%'  OR @pNm_Consumidor IS NULL)
	ORDER BY CO.Nm_Consumidor
END

-----consulta polita de consumidor
IF @pPAKAGE = 'sp_Lista_Ativo_Sem_Politica'
BEGIN
	SELECT	'Grid_Add.png'		AS Lista,
			A.Nr_Ativo			AS Ativo,
			C.Nm_Consumidor 	AS Consumidor,
			C.Id_Consumidor, 
			ATP.Id_Ativo_Tipo
	FROM	vw_Ativo A	INNER JOIN Rl_Consumidor_Ativo RCA ON A.Id_Ativo = RCA.Id_Ativo 
						INNER JOIN vw_Consumidor C ON C.Id_Consumidor = RCA.Id_Consumidor
						INNER JOIN Ativo_Tipo ATP ON A.Id_Ativo_Tipo = ATP.Id_Ativo_Tipo
	WHERE	NOT EXISTS(SELECT * FROM Politica_Consumidor WHERE Id_Consumidor = C.Id_Consumidor AND Id_Ativo_Tipo = A.Id_Ativo_Tipo)
			AND EXISTS(SELECT * FROM Rl_Consumidor_Ativo WHERE Id_Ativo = A.Id_Ativo)
			AND NOT EXISTS(SELECT * FROM vw_Ativo_Consumidor  WHERE Id_Ativo = A.Id_Ativo AND Id_Consumidor in (SELECT Id_Consumidor FROM Estoque_Consumidor))			
			AND ATP.Id_Ativo_Tipo = @pId_Ativo_Tipo
	ORDER BY A.Nr_Ativo
END

-----atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS(SELECT * FROM Politica_Consumidor WHERE Id_Consumidor = @pId_Consumidor 
				AND (Id_Ativo_Tipo = @pId_Ativo_Tipo OR ISNULL(Id_Ativo_Tipo,0) = ISNULL(@pId_Ativo_Tipo,0) OR (Id_Ativo_Tipo IS NULL AND NOT EXISTS(SELECT * FROM Politica_Consumidor WHERE Id_Consumidor = @pId_Consumidor AND Id_Ativo_Tipo = @pId_Ativo_Tipo)))
				)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Politica_Consumidor 
			SET		Id_Ativo_Tipo = @pId_Ativo_Tipo,
					Valor_Politica = @pValor_Politica,
					Marca_Ligacao = @pMarca_Ligacao
			WHERE	Id_Consumidor = @pId_Consumidor
					AND (Id_Ativo_Tipo = @pId_Ativo_Tipo OR ISNULL(Id_Ativo_Tipo,0) = ISNULL(@pId_Ativo_Tipo,0) OR (Id_Ativo_Tipo IS NULL AND NOT EXISTS(SELECT * FROM Politica_Consumidor WHERE Id_Consumidor = @pId_Consumidor AND Id_Ativo_Tipo = @pId_Ativo_Tipo)))
		END
	END
END

-----insere primeira politica 
IF @pPAKAGE = 'sp_Insere_Politica'
BEGIN
	IF NOT EXISTS (SELECT * FROM Politica_Consumidor WHERE Id_Consumidor = @pId_Consumidor)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Politica_Consumidor (	Id_Consumidor,
												Id_Ativo_Tipo,
												Valor_Politica,
												Marca_Ligacao)
			VALUES(	@pId_Consumidor,
					@pId_Ativo_Tipo,
					(CASE WHEN @pValor_Politica IS NULL THEN 0 ELSE @pValor_Politica END),
					1)
		END
	END
END

-----insere mais politicas 
IF @pPAKAGE = 'sp_Insere_Politica_Ativo_Tipo'
BEGIN
	IF NOT EXISTS (SELECT * FROM Politica_Consumidor WHERE Id_Consumidor = @pId_Consumidor AND Id_Ativo_Tipo IS NULL)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Politica_Consumidor (	Id_Consumidor,
												Id_Ativo_Tipo,
												Valor_Politica,
												Marca_Ligacao)
			VALUES(	@pId_Consumidor,
					@pId_Ativo_Tipo,
					(CASE WHEN @pValor_Politica IS NULL THEN 0 ELSE @pValor_Politica END) ,
					1)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		DELETE	Politica_Consumidor 
		WHERE	Id_Consumidor = @pId_Consumidor	
				AND (Id_Ativo_Tipo = @pId_Ativo_Tipo OR ISNULL(Id_Ativo_Tipo,0) = ISNULL(@pId_Ativo_Tipo,0) OR (Id_Ativo_Tipo IS NULL AND NOT EXISTS(SELECT * FROM Politica_Consumidor WHERE Id_Consumidor = @pId_Consumidor and Id_Ativo_Tipo = @pId_Ativo_Tipo)))
	END
END

-----consulta valor da politica totalizado por consumidor
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(SUM(Valor_Politica),0)	AS Valor_Politica
	FROM	Politica_Consumidor
	WHERE	Id_Consumidor = @pId_Consumidor
END

---consulta politica para marcacao
IF @pPAKAGE = 'sp_SL_Marcacao'
BEGIN
	SELECT	ISNULL(Valor_Politica,0) AS Valor_Politica,
			Marca_Ligacao
	FROM	Politica_Consumidor
	WHERE	Id_Consumidor IN (SELECT Id_Consumidor FROM Usuario WHERE Id_Usuario = @pId_Consumidor)
			AND Id_Ativo_Tipo IN (SELECT Id_Ativo_Tipo FROM vw_Ativo WHERE Id_Ativo IN (SELECT Id_Ativo FROM Lote WHERE Id_Lote = @pId_Lote))
END

-----exporta polita de consumidor
IF @pPAKAGE = 'sp_Exporta_Politica'
BEGIN
	SELECT	DISTINCT CO.Nm_Consumidor AS Usuario,
			CO.Matricula,
			U.Nm_Usuario AS Login_User,
			AT.Nr_Ativo AS Linha,
			PC.Valor_Politica AS Orcamento,
			ATP.Nm_Ativo_Tipo As Tipo
	FROM	Rl_Consumidor_Ativo RA	INNER JOIN vw_Consumidor CO ON CO.Id_Consumidor = RA.Id_Consumidor
									INNER JOIN vw_Ativo AT ON AT.Id_Ativo = RA.Id_Ativo
									INNER JOIN Ativo_Tipo ATP ON AT.Id_Ativo_Tipo = ATP.Id_Ativo_Tipo
									INNER JOIN vw_Usuario U ON U.Id_Consumidor = CO.Id_Consumidor
									LEFT JOIN Politica_Consumidor PC ON PC.Id_Consumidor = CO.Id_Consumidor AND AT.Id_Ativo_Tipo = PC.Id_Ativo_Tipo
	ORDER BY CO.Nm_Consumidor
END
GO
