USE [Bombril]
GO
/****** Object:  StoredProcedure [dbo].[pa_Departamento]    Script Date: 7/31/2025 10:32:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Departamento] (	@pPakage				VARCHAR(200),
											@pId_Departamento		INT			OUT,
											@pCd_Departamento		VARCHAR(20)	= NULL,
											@pNm_Departamento		VARCHAR(50)	= NULL,
											@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Departamento WHERE Id_Departamento = @pId_Departamento)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Departamento 
			SET		Cd_Departamento	= @pCd_Departamento,
					Nm_Departamento	= @pNm_Departamento
			WHERE	Id_Departamento = @pId_Departamento
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Departamento (	Cd_Departamento,
										Nm_Departamento,
										Fl_Desativado) 
			VALUES(	@pCd_Departamento,
					@pNm_Departamento,
					0)

			-----retorna id 
			SELECT @pId_Departamento = MAX(Id_Departamento) FROM Departamento
		END
		ELSE
		BEGIN
			SELECT @pId_Departamento =	0
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Departamento 
		SET		Fl_Desativado = 1 
		WHERE	Id_Departamento = @pId_Departamento
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Departamento,'') AS Id_Departamento,
			ISNULL(Cd_Departamento,'') AS Cd_Departamento,
			ISNULL(Nm_Departamento,'') AS Nm_Departamento
	FROM	vw_Departamento
	WHERE	Id_Departamento = @pId_Departamento
END



GO
