USE [Bombril]
GO
/****** Object:  StoredProcedure [dbo].[pa_Bilhete_Tipo]    Script Date: 7/31/2025 10:32:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[pa_Bilhete_Tipo] ( @pPakage     VARCHAR(200) = NULL,    
           @pId_Bilhete_Tipo   INT    = NULL,    
           @pId_Conglomerado   INT    = NULL,    
           @pNm_Bilhete_Tipo   VARCHAR(50)  = NULL,    
           @pNm_Bilhete_Descricao  VARCHAR(50)  = NULL,    
           @pUnidade     INT    = NULL,    
           @pTipo_Descricao   INT    = NULL,    
           @pId_Usuario_Permissao  INT    = NULL) AS    
-----insere ou atualiza registro    
IF @pPAKAGE = 'sp_SM'    
BEGIN    
 IF EXISTS (SELECT * FROM Bilhete_Tipo WHERE Id_Bilhete_Tipo = @pId_Bilhete_Tipo)    
 BEGIN    
  IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2    
  BEGIN    
   UPDATE Bilhete_Tipo     
   SET  Id_Conglomerado   = @pId_Conglomerado,    
     Nm_Bilhete_Tipo   = @pNm_Bilhete_Tipo,    
     Nm_Bilhete_Descricao = @pNm_Bilhete_Descricao,    
     Unidade     = @pUnidade,    
     Tipo_Descricao   = @pTipo_Descricao,    
     Fl_Desativado   = 0     
   WHERE Id_Bilhete_Tipo = @pId_Bilhete_Tipo    
  END    
 END    
 ELSE    
 BEGIN    
  IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2    
  BEGIN    
   INSERT INTO Bilhete_Tipo     
   VALUES( @pId_Conglomerado,    
     @pNm_Bilhete_Tipo,    
     @pNm_Bilhete_Descricao,    
     @pUnidade,    
     @pTipo_Descricao,    
     0)    
  END    
 END    
END    
    
-----desativa resgistro    
IF @pPAKAGE = 'sp_SE'    
BEGIN    
 IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2    
 BEGIN    
  UPDATE Bilhete_Tipo     
  SET  Fl_Desativado = 1     
  WHERE Id_Bilhete_Tipo = @pId_Bilhete_Tipo    
 END    
END    
    
-----consulta pelo ID do registro    
IF @pPAKAGE = 'sp_SL_ID'    
BEGIN    
 SELECT ISNULL(BI.Id_Bilhete_Tipo,'')   AS Id_Bilhete_Tipo,    
   ISNULL(BI.Id_Conglomerado,'')   AS Id_Conglomerado,    
   iSNULL(BI.Nm_Bilhete_Tipo,'')   AS Nm_Bilhete_Tipo,    
   ISNULL(BI.Nm_Bilhete_Descricao,'')  AS Nm_Bilhete_Descricao,    
   ISNULL(BI.Unidade,0)     AS Unidade,    
   ISNULL(BI.Tipo_Descricao,'')   AS Tipo_Descricao    
 FROM vw_Bilhete_Tipo BI    
 WHERE Id_Bilhete_Tipo = @pId_Bilhete_Tipo    
END    
  
-----consulta pelo ID do registro    
IF @pPAKAGE = 'sp_SL_ID'    
BEGIN    
 SELECT ISNULL(BI.Id_Bilhete_Tipo,'')   AS Id_Bilhete_Tipo,    
   ISNULL(BI.Id_Conglomerado,'')   AS Id_Conglomerado,    
   iSNULL(BI.Nm_Bilhete_Tipo,'')   AS Nm_Bilhete_Tipo,    
   ISNULL(BI.Nm_Bilhete_Descricao,'')  AS Nm_Bilhete_Descricao,    
   ISNULL(BI.Unidade,0)     AS Unidade,    
   ISNULL(BI.Tipo_Descricao,'')   AS Tipo_Descricao    
 FROM vw_Bilhete_Tipo BI    
 WHERE Id_Bilhete_Tipo = @pId_Bilhete_Tipo    
END    
  
-----Popular DropDownList          
IF @pPAKAGE = 'sp_Drop_Bilhete'          
BEGIN       
  SELECT  
    ISNULL(BI.Id_Bilhete_Tipo,'')   AS ID,  
    iSNULL(BI.Nm_Bilhete_Tipo,'')   AS Nm_Bilhete_Tipo  
  FROM vw_Bilhete_Tipo BI 
  WHERE Id_Conglomerado = @pId_Conglomerado OR @pId_Conglomerado IS NULL
  ORDER BY Nm_Bilhete_Tipo    
END 
GO
