USE [Bombril]
GO
/****** Object:  StoredProcedure [dbo].[pa_Filial]    Script Date: 7/31/2025 10:32:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Filial] (	@pPakage						VARCHAR(200),
									@pId_Filial						INT				OUT,
									@pNm_Filial						VARCHAR(50)		= NULL,
									@pCNPJ							VARCHAR(50)		= NULL,
									@pEndereco						VARCHAR(300)	= NULL,
									@pId_Empresa					INT				= NULL,
									@pHi_Departamento				INT				= NULL,
									@pHi_Setor						INT				= NULL,
									@pHi_Secao						INT				= NULL,
									@pRl_Id_Bilhete_Tipo			VARCHAR(8000)	= NULL,
									@pId_Usuario_Permissao			INT				= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Filial WHERE Id_Filial = @pId_Filial)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Filial 
			SET		Nm_Filial					= @pNm_Filial, 
					CNPJ						= @pCNPJ,
					Endereco					= @pEndereco,
					Id_Empresa					= @pId_Empresa,
					Hi_Departamento				= @pHi_Departamento,
					Hi_Setor					= @pHi_Setor,
					Hi_Secao					= @pHi_Secao
			WHERE	Id_Filial = @pId_Filial
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Filial (Nm_Filial,
								Cd_Filial,
								CNPJ,
								Endereco,
								Id_Empresa,
								Hi_Departamento,
								Hi_Setor,
								Hi_Secao,
								Fl_Desativado) 
			VALUES(	@pNm_Filial,
					NULL,
					@pCNPJ,
					@pEndereco,
					@pId_Empresa,
					@pHi_Departamento,
					@pHi_Setor,
					@pHi_Secao,
					0)
			-----retorna id 
			SELECT @pId_Filial = MAX(Id_Filial) FROM Filial
		END
		ELSE
		BEGIN
			SELECT	@pId_Filial = 0
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Filial 
		SET Fl_Desativado = 1 
		WHERE Id_Filial = @pId_Filial
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Filial,'')					AS Id_Filial,
			ISNULL(Nm_Filial,'')					AS Nm_Filial,
			ISNULL(CNPJ,'')							AS CNPJ,
			ISNULL(Endereco,'')						AS Endereco,
			ISNULL(Id_Empresa,'')					AS Id_Empresa,
			ISNULL(Hi_Departamento,'')				AS Hi_Departamento,
			ISNULL(Hi_Setor,'')						AS Hi_Setor,
			ISNULL(Hi_Secao,'')						AS Hi_Secao
	FROM	vw_Filial
	WHERE	Id_Filial = @pId_Filial
END

-----retorna relacionamento de filial com bilhete_tipo
IF @pPAKAGE = 'sd_SL_RL_Filial_Bilhete_Tipo'
BEGIN
	SELECT	DISTINCT ISNULL(BTP.Id_Bilhete_Tipo,'')	AS ID_Bilhete_Tipo,
			ISNULL(BTP.Nm_Bilhete_Tipo,'')			AS Nm_Bilhete_Tipo
	FROM	vw_Filial FIL	INNER JOIN Rl_Filial_Bilhete_Tipo	RFT ON (FIL.Id_Filial = RFT.Id_Filial)
							INNER JOIN vw_Bilhete_Tipo			BTP ON (BTP.Id_Bilhete_Tipo = RFT.Id_Bilhete_Tipo)
	WHERE	RFT.Id_Filial	= @pId_Filial  
	ORDER BY Nm_Bilhete_Tipo
END





GO
