USE [Bombril]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Orcamento]    Script Date: 7/31/2025 10:32:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_Orcamento] (@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS
SELECT	DISTINCT CO.Nm_Consumidor	AS Consumidor,
			CO.Matricula				AS Matricula,
			U.Nm_Usuario				AS Usuario,
			AT.Nr_Ativo					AS Ativo,
			PC.Valor_Politica			AS Orcamento,
			ATP.Nm_Ativo_Tipo			AS Tipo 
			INTO #Temp_Export
	FROM	Rl_Consumidor_Ativo RA	INNER JOIN vw_Consumidor CO ON CO.Id_Consumidor = RA.Id_Consumidor
									INNER JOIN vw_Ativo AT ON AT.Id_Ativo = RA.Id_Ativo
									INNER JOIN Ativo_Tipo ATP ON AT.Id_Ativo_Tipo = ATP.Id_Ativo_Tipo
									INNER JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo) 
									INNER JOIN vw_Usuario U ON U.Id_Consumidor = CO.Id_Consumidor
									LEFT JOIN Politica_Consumidor PC ON PC.Id_Consumidor = CO.Id_Consumidor AND AT.Id_Ativo_Tipo = PC.Id_Ativo_Tipo
	WHERE	(ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)								
	ORDER BY CO.Nm_Consumidor


-----exportacao
IF @pPakage = 'sp_Orcamento_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Orcamento'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grafrico
IF @pPakage = 'sp_Orcamento_Grafico'
BEGIN
	SELECT	Tipo		AS X,
			SUM(Valor)	AS Y
	FROM	(SELECT 	CASE WHEN Orcamento IS NULL THEN 'Sem Conta' ELSE 'Cota' END AS Tipo,
						1 AS Valor 
			FROM	#Temp_Export) S_T
	GROUP BY Tipo
END
GO
