USE [Bombril]
GO
/****** Object:  StoredProcedure [dbo].[pa_Fatura_Nota_Fiscal]    Script Date: 7/31/2025 10:32:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Fatura_Nota_Fiscal](  
    @pPakage VARCHAR(200),  
    @pId_Fatura INT = NULL, 
    @pId_Centro_Custo INT = NULL,  
    @pNr_Nota_Fiscal VARCHAR(200) = NULL,  
    @pVr_Nota_Fiscal NUMERIC(10,4) = NULL,  
    @pPct_Nota_Fiscal NUMERIC(10,4) = NULL,  
    @pId_Usuario_Permissao INT = NULL  
)  
AS  
  
IF @pPakage = 'sp_Drop_Fatura'             
BEGIN  
    SELECT  
        Id_Fatura AS ID,  
        Nm_Fatura AS Descricao  
    FROM Fatura  
    ORDER BY Nm_Fatura  
END  
  
-----centro_custo             
IF @pPAKAGE = 'sp_Drop_Centro_Custo'             
BEGIN   
    SELECT Id_Centro_Custo AS ID,   
        Nm_Centro_Custo AS Descricao   
    FROM Centro_Custo 
    WHERE Fl_Desativado = 0 
    ORDER BY Descricao   
END  
 
IF @pPakage = 'sp_Fatura'             
BEGIN  
    SELECT  
        F.Id_Fatura AS Id_Fatura,  
        F.Nr_Fatura AS Nr_Fatura,  
        F.Dt_Lote AS Dt_Lote,  
        F.Vr_Fatura AS Vr_Fatura,  
        FP.Nm_Fatura_Parametro AS Nm_Fatura_Parametro  
    FROM Fatura F  
        INNER JOIN Fatura_Parametro FP ON F.Id_Fatura_Parametro = FP.Id_Fatura_Parametro  
    WHERE F.Id_Fatura = @pId_Fatura  
END  
 
IF @pPakage = 'sp_Centro_custo'             
BEGIN  
    SELECT  
        Id_Centro_Custo, 
        Nm_Centro_Custo,  
        Cd_Centro_Custo 
    FROM Centro_Custo  
    WHERE Id_Centro_Custo = @pId_Centro_Custo 
        AND Fl_Desativado = 0  
END  
  
IF @pPakage = 'sp_SM'  
BEGIN  
    IF EXISTS (SELECT 1 FROM Nota_Fiscal_Fatura  
    WHERE Nr_Nota_Fiscal LIKE @pNr_Nota_Fiscal)        
 BEGIN  
        IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2        
        BEGIN  
            UPDATE Nota_Fiscal_Fatura  
            SET    
                Nr_Nota_Fiscal = @pNr_Nota_Fiscal,        
                Id_Fatura = @pId_Fatura,              
                Pct_Nota_Fiscal = @pPct_Nota_Fiscal, 
                Id_Centro_Custo = @pId_Centro_Custo   
        WHERE   
            Nr_Nota_Fiscal LIKE @pNr_Nota_Fiscal  
        END  
    END  
    ELSE  
        IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2  
        BEGIN  
        INSERT INTO Nota_Fiscal_Fatura(  
            Id_Fatura,  
            Nr_Nota_Fiscal,  
            Pct_Nota_Fiscal, 
            Id_Centro_Custo 
        )  
        VALUES(  
            @pId_Fatura,  
            @pNr_Nota_Fiscal,  
            @pPct_Nota_Fiscal, 
            @pId_Centro_Custo 
        )  
    END  
END
GO
