USE [Bombril]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Custo_Conta_Operadora]    Script Date: 7/31/2025 10:32:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cn_T_Custo_Conta_Operadora] (	@pPakage					VARCHAR(200),
												@pPakage_Filtro				VARCHAR(200)	= NULL,
												@pId_Filtro_1				VARCHAR(MAX)	= NULL,
												@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
												@pId_Filtro_Usuario			INT				= NULL,
												@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
												@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
												@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
												@pDt_LoteDe					VARCHAR(6)		= NULL,
												@pDt_LoteAte				VARCHAR(6)		= NULL,
												@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS
DECLARE @SQL AS VARCHAR(8000)
	DECLARE @CALC_DATA AS INT 
	DECLARE @ATE AS INT
	DECLARE @Filtro_Pivot AS VARCHAR(8000)

	-----monta intervalo de data
	SET @ATE = CONVERT(INT,@pDt_LoteAte)
	SET @CALC_DATA = CONVERT(INT,@pDt_LoteDe)

	SET @Filtro_Pivot = '[' + @pDt_LoteDe + '],'

	WHILE @CALC_DATA < @ATE
	BEGIN
		
		IF SUBSTRING(CONVERT(VARCHAR,@CALC_DATA),5,2) = '12'
		SET @CALC_DATA = @CALC_DATA + 88
	
		SET @CALC_DATA = @CALC_DATA + 1
		SET @Filtro_Pivot = @Filtro_Pivot + '[' + CONVERT(VARCHAR(6), @CALC_DATA) + '],'
	END	
	SET @Filtro_Pivot = SUBSTRING(@Filtro_Pivot, 1, LEN(@Filtro_Pivot) - 1)

	-----filtra dados
 
			select 
 SUBSTRING(CONVERT(VARCHAR(6),l.Dt_Lote,112),1,6) as Lote
,DC_Nr_Nota_Fiscal  + ' / ' + C.Nm_Conglomerado as [Conta / Operadora] --+ ' / ' + at.Nm_Ativo_Tipo as operadora
,sum(l.total) as Total
INTO #Temp_Export
from Lote L
inner join ativo A on a.Id_Ativo = l.Id_Ativo
inner join Conglomerado C on c.Id_Conglomerado = a.Id_Conglomerado
inner join Ativo_Tipo AT on at.Id_Ativo_Tipo = a.Id_Ativo_Tipo

	
	WHERE	SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) >= @pDt_LoteDe 
			AND SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) <= @pDt_LoteAte
			--AND (ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)
			group by DC_Nr_Nota_Fiscal, l.Dt_Lote,  c.Nm_Conglomerado, at.Nm_Ativo_Tipo 
		
-----exportacao
IF @pPakage = 'sp_Lote_Mes_Export'
BEGIN
	-----monta consulta
	SET @SQL = 	'SELECT	*	
				FROM #Temp_Export
				PIVOT (SUM(Total) FOR Lote IN (' + @Filtro_Pivot +
				')) Retorno'

	EXEC (@SQL)
END

-----grid
IF @pPakage = 'sp_Lote_Mes'
BEGIN
	-----monta consulta
	SET @SQL = 	'SELECT *
				FROM #Temp_Export
				PIVOT (SUM(Total) FOR Lote IN (' + @Filtro_Pivot +
				')) Retorno'

	EXEC (@SQL)
END

-----grafrico
IF @pPakage = 'sp_Lote_Mes_Grafico'
BEGIN
	-----monta intervalo de data
	SET @ATE = CONVERT(INT,@pDt_LoteAte)
	SET @CALC_DATA = CONVERT(INT,@pDt_LoteDe)

	SET @Filtro_Pivot = '[' + @pDt_LoteDe + '],'

	WHILE @CALC_DATA < @ATE
	BEGIN
		SET @CALC_DATA = @CALC_DATA + 1
		SET @Filtro_Pivot = @Filtro_Pivot + '[' + CONVERT(VARCHAR(6), @CALC_DATA) + '],'

		IF SUBSTRING(CONVERT(VARCHAR,@CALC_DATA),4,2) = '12'
		SET @CALC_DATA = @CALC_DATA + 88
	END	
	SET @Filtro_Pivot = SUBSTRING(@Filtro_Pivot, 1, LEN(@Filtro_Pivot) - 1)

	-----filtra dados
	SELECT	SUBSTRING(CONVERT(VARCHAR(6),LT.Dt_Lote,112),1,6) AS X,					
			CAST(SUM(LT.Total_Lote) AS DECIMAL(10,2)) AS Y --INTO #Temp_Grafico
	FROM	vw_Custo_Usuario LT INNER JOIN Ativo AT ON (AT.Id_Ativo = LT.Id_Ativo)
								INNER JOIN Ativo_Tipo ATP ON (ATP.Id_Ativo_Tipo = AT.Id_Ativo_Tipo)
								INNER JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo) 
	WHERE	SUBSTRING(CONVERT(VARCHAR(6),LT.Dt_Lote,112),1,6) >= @pDt_LoteDe 
			AND	SUBSTRING(CONVERT(VARCHAR(6),LT.Dt_Lote,112),1,6) <= @pDt_LoteAte
			AND (ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)
	GROUP BY SUBSTRING(CONVERT(VARCHAR(6),LT.Dt_Lote,112),1,6)
	ORDER BY X
END
GO
