USE [Bombril]
GO
/****** Object:  StoredProcedure [dbo].[pa_Ativo_Vago]    Script Date: 7/31/2025 10:32:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Ativo_Vago] (	@pPAKAGE				VARCHAR(200),
										@pId_Ativo				INT			= NULL,
										@pId_Consumidor			INT			= NULL,
										@pNr_Ativo				VARCHAR(50)	= NULL,
										@pDescricao				VARCHAR(50)	= NULL,
										@pId_Usuario_Permissao	INT			= NULL) AS

-----consulta ativo vago
IF @pPAKAGE = 'sp_Consulta_Ativo_Vago'
BEGIN
	SELECT	AT.Nr_Ativo,
			AT.Id_Ativo,
			(SELECT RIGHT(CONVERT(VARCHAR,Dt_Lote,106),8) FROM Lote WHERE Id_Lote IN (SELECT MAX(Id_Lote) FROM Lote WHERE Id_Ativo = AT.Id_Ativo)) AS Dt_Lote
	FROM	vw_Ativo AT
	WHERE	NOT EXISTS(SELECT * FROM Rl_Consumidor_Ativo WHERE Id_Ativo = AT.Id_Ativo)
			AND (AT.Nr_Ativo LIKE '%'+ @pNr_Ativo + '%' OR @pNr_Ativo IS NULL)
	ORDER BY AT.Nr_Ativo
END

-----consulta inventario pra backup
IF @pPAKAGE = 'sp_Inventario_Backup'
BEGIN
	SELECT	AT.Nr_Ativo,
			CO.Nm_Consumidor,
			CO.MAtricula,
			CG.Nm_Conglomerado,
			ATP.Nm_Ativo_Tipo,
			AT.Id_Ativo,
			CO.Id_Consumidor,
			AT.Id_Conglomerado,
			AT.Id_Ativo_Tipo
	FROM	vw_Ativo AT INNER JOIN vw_Alocacao_Ativo_Consumidor AAC ON AAC.Id_Ativo = AT.Id_Ativo
						INNER JOIN Consumidor CO ON CO.Id_Consumidor = AAC.Id_Consumidor
						INNER JOIN Conglomerado CG ON CG.Id_Conglomerado = AT.Id_Conglomerado
						INNER JOIN Ativo_Tipo ATP ON ATP.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
END

-----monta colaborador
IF @pPAKAGE = 'sp_Consulta_Ativo_Vago'
BEGIN
	SELECT	AT.Nr_Ativo,
			AT.Id_Ativo,
			(SELECT RIGHT(CONVERT(VARCHAR,Dt_Lote,106),8) FROM Lote WHERE Id_Lote IN (SELECT MAX(Id_Lote) FROM Lote WHERE Id_Ativo = AT.Id_Ativo)) AS Dt_Lote
	FROM	vw_Ativo AT
	WHERE	NOT EXISTS(SELECT * FROM Rl_Consumidor_Ativo WHERE Id_Ativo = AT.Id_Ativo)
			AND (AT.Nr_Ativo LIKE '%'+ @pNr_Ativo + '%' OR @pNr_Ativo IS NULL)
	ORDER BY AT.Nr_Ativo
END

-----desativa resgistro
IF @pPAKAGE = 'sp_Desativa'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Ativo 
		SET		Fl_Desativado	= 1,
				Dt_Desativacao	= GETDATE()	
		WHERE	Id_Ativo = @pId_Ativo
	END
END

-----monta relacionamento
IF @pPAKAGE = 'sp_Relacionamento'
BEGIN
	-----limpa tabela de relaciomanto
	DELETE FROM Rl_Consumidor_Ativo WHERE Id_Ativo = @pId_Ativo
	
	INSERT INTO Rl_Consumidor_Ativo(Id_Ativo,Id_Consumidor)
	VALUES (@pId_Ativo, @pId_Consumidor)

	-----limpa tabela de relacionamento de usurio com ativo
	DECLARE @v_Id_Ativo AS INT
	DECLARE @v_Id_Usuario AS INT

	DECLARE CurItens CURSOR FOR
	SELECT Id_Ativo, Id_Usuario FROM Rl_Perfil_Ativo_Usuario RAU 
	WHERE NOT EXISTS(SELECT * FROM Rl_Consumidor_Ativo RCA
					WHERE RCA.Id_Ativo = RAU.Id_Ativo AND RCA.Id_Consumidor IN (SELECT Id_Consumidor FROM Usuario WHERE Id_Usuario = RAU.Id_Usuario))

	OPEN CurItens
	FETCH NEXT FROM CurItens INTO @v_Id_Ativo, @v_Id_Usuario
	-----corre tabela
	WHILE @@FETCH_STATUS = 0
	BEGIN
		DELETE FROM Rl_Perfil_Ativo_Usuario WHERE Id_Ativo = @v_Id_Ativo AND Id_Usuario = @v_Id_Usuario

	FETCH NEXT FROM CurItens INTO @v_Id_Ativo, @v_Id_Usuario
	END
	CLOSE CurItens
	DEALLOCATE CurItens

	-----pede o de acordo novamente ao usuario
	UPDATE	Usuario
	SET		Fl_Desativado = 3 
	FROM	Usuario 
	WHERE	Id_Usuario IN (SELECT Id_Usuario FROM Rl_Perfil_Ativo_Usuario WHERE Id_Ativo = @pId_Ativo)

	-----verifica e retira politica de uso caso o ativo tenha mudo de tipo
	DECLARE @v_Id_Consumidor INT
	DECLARE @v_Id_Ativo_Tipo INT

	SELECT  @v_Id_Consumidor = P.Id_Consumidor,
			@v_Id_Ativo_Tipo = P.Id_Ativo_Tipo
	FROM	Politica_Consumidor P INNER JOIN Rl_Consumidor_Ativo R ON P.Id_Consumidor = R.Id_Consumidor
	WHERE	NOT EXISTS(	SELECT	* 
						FROM	Rl_Consumidor_Ativo SR INNER JOIN Ativo SA ON SR.Id_Ativo = SA.Id_Ativo	
						WHERE	SR.Id_Ativo = @pId_Ativo
								AND SR.Id_Consumidor = P.Id_Consumidor
								AND SA.Id_Ativo_Tipo = P.Id_Ativo_Tipo)
			AND R.Id_Ativo = @pId_Ativo

	DELETE FROM Politica_Consumidor WHERE  Id_Consumidor = @v_Id_Consumidor AND Id_Ativo_Tipo = @v_Id_Ativo_Tipo

	-----verifica e retira politica de uso caso o usuario tenha mudado de ativo
	DECLARE @Limpa_Plitica VARCHAR(MAX)
	SET @Limpa_Plitica = ' '

	SELECT  @Limpa_Plitica = @Limpa_Plitica + 
			' DELETE FROM Politica_Consumidor WHERE Id_Consumidor = ' + CONVERT(VARCHAR,Id_Consumidor) + ' AND Id_Ativo_Tipo = ' + CONVERT(VARCHAR,Id_Ativo_Tipo)
	FROM	Politica_Consumidor P
	WHERE	NOT EXISTS (SELECT	* 
						FROM	Rl_Consumidor_Ativo SR INNER JOIN Ativo SA ON SR.Id_Ativo = SA.Id_Ativo	 
						WHERE	SR.Id_Consumidor = P.Id_Consumidor
								AND SA.Id_Ativo_Tipo = P.Id_Ativo_Tipo)
END 
GO
