USE [Bombril]
GO
/****** Object:  StoredProcedure [dbo].[pa_Solicitacao_Solucao]    Script Date: 7/31/2025 10:32:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_Solicitacao_Solucao] (	@pPakage					VARCHAR(200),
													@pId_Solicitacao_Solucao	INT			= NULL,
													@pId_Ativo_Tipo				INT			= NULL,
													@pNm_Solicitacao_Solucao	VARCHAR(50)	= NULL,
													@pId_Usuario_Permissao		INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Solicitacao_Solucao WHERE Id_Solicitacao_Solucao = @pId_Solicitacao_Solucao)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Solicitacao_Solucao 
			SET		Nm_Solicitacao_Solucao	= @pNm_Solicitacao_Solucao,
					Id_Ativo_Tipo			= @pId_Ativo_Tipo
			WHERE	Id_Solicitacao_Solucao = @pId_Solicitacao_Solucao
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Solicitacao_Solucao (	Nm_Solicitacao_Solucao,
												Id_Ativo_Tipo,
												Fl_Desativado) 
			VALUES(	@pNm_Solicitacao_Solucao,
					@pId_Ativo_Tipo,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Solicitacao_Solucao 
		SET		Fl_Desativado = 1 
		WHERE	Id_Solicitacao_Solucao = @pId_Solicitacao_Solucao
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Solicitacao_Solucao,'')	AS Id_Solicitacao_Solucao,
			ISNULL(Nm_Solicitacao_Solucao,'')	AS Nm_Solicitacao_Solucao,
			ISNULL(Id_Ativo_Tipo,'')			AS Id_Ativo_Tipo
	FROM	vw_Solicitacao_Solucao
	WHERE	Id_Solicitacao_Solucao = @pId_Solicitacao_Solucao
END
GO
