USE [Bombril]
GO
/****** Object:  StoredProcedure [dbo].[pa_Servico]    Script Date: 7/31/2025 10:32:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Servico] (@pPakage				VARCHAR(200),
									@pId_Servico			INT			= NULL,
									@pNm_Servico			VARCHAR(50)	= NULL,
									@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Servico WHERE Id_Servico = @pId_Servico)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Servico 
			SET		Nm_Servico = @pNm_Servico
			WHERE	Id_Servico = @pId_Servico
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Servico (	Nm_Servico,
									Fl_Desativado) 
			VALUES(	@pNm_Servico,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Servico 
		SET		Fl_Desativado = 1 
		WHERE	Id_Servico = @pId_Servico
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Servico,'') AS Id_Servico,
			ISNULL(Nm_Servico,'') AS Nm_Servico
	FROM	vw_Servico
	WHERE	Id_Servico = @pId_Servico
END

GO
