USE [Auditoria]
GO
/****** Object:  StoredProcedure [dbo].[pa_Solicitacao_Tipo]    Script Date: 7/31/2025 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Solicitacao_Tipo] (@pPakage							VARCHAR(200),
											@pId_Solicitacao_Tipo				INT			= NULL,
											@pNm_Solicitacao_Tipo				VARCHAR(50)	= NULL,
											@pId_Ativo_Tipo						INT			= NULL,
											@pId_Solicitacao_SLA				INT			= NULL,
											@pId_Solicitcao_Fila_Atendimento	INT			= NULL,
											@pId_Solicitacao_Permissao			INT			= NULL,
											@pFl_Config_Caixa_Texto				VARCHAR(300)= NULL,
											@pId_Solicitacao_Unidade_Processo	INT			= NULL,
											@pId_Usuario_Permissao				INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Solicitacao_Tipo WHERE Id_Solicitacao_Tipo = @pId_Solicitacao_Tipo)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Solicitacao_Tipo 
			SET		Nm_Solicitacao_Tipo = @pNm_Solicitacao_Tipo,
					Id_Ativo_Tipo = @pId_Ativo_Tipo,
					Id_Solicitacao_SLA = @pId_Solicitacao_SLA,
					Id_Solicitcao_Fila_Atendimento = @pId_Solicitcao_Fila_Atendimento,
					Id_Solicitacao_Permissao = @pId_Solicitacao_Permissao,
					Fl_Config_Caixa_Texto = @pFl_Config_Caixa_Texto,
					Id_Solicitacao_Unidade_Processo = @pId_Solicitacao_Unidade_Processo
			WHERE	Id_Solicitacao_Tipo = @pId_Solicitacao_Tipo
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Solicitacao_Tipo (	Nm_Solicitacao_Tipo,
											Id_Ativo_Tipo,
											Id_Solicitacao_SLA,
											Id_Solicitcao_Fila_Atendimento,
											Id_Solicitacao_Permissao,
											Fl_Config_Caixa_Texto,
											Id_Solicitacao_Unidade_Processo,
											Fl_Desativado) 
			VALUES(	@pNm_Solicitacao_Tipo,
					@pId_Ativo_Tipo,
					@pId_Solicitacao_SLA,
					@pId_Solicitcao_Fila_Atendimento,
					@pId_Solicitacao_Permissao,
					@pFl_Config_Caixa_Texto,
					@pId_Solicitacao_Unidade_Processo,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	dbo.Solicitacao_Tipo
		SET		Fl_Desativado = 1 
		WHERE	Id_Solicitacao_Tipo = @pId_Solicitacao_Tipo
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Solicitacao_Tipo,'')				AS Id_Solicitacao_Tipo,
			ISNULL(Nm_Solicitacao_Tipo,'')				AS Nm_Solicitacao_Tipo,
			ISNULL(Id_Ativo_Tipo,0)						AS Id_Ativo_Tipo,
			ISNULL(Id_Solicitacao_SLA,0)				AS Id_Solicitacao_SLA,
			ISNULL(Id_Solicitcao_Fila_Atendimento,0)	AS Id_Solicitcao_Fila_Atendimento,
			ISNULL(Id_Solicitacao_Permissao,0)			AS Id_Solicitacao_Permissao,
			ISNULL(Fl_Config_Caixa_Texto,'')			AS Fl_Config_Caixa_Texto,
			ISNULL(Id_Solicitacao_Unidade_Processo,'')	AS Id_Solicitacao_Unidade_Processo
	FROM	vw_Solicitacao_Tipo
	WHERE	Id_Solicitacao_Tipo = @pId_Solicitacao_Tipo
END
GO
