USE [Auditoria]
GO
/****** Object:  StoredProcedure [dbo].[cn_Lote]    Script Date: 7/31/2025 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_Lote] (	@pPakage					VARCHAR(200),
									@pPakage_Filtro				VARCHAR(200),
									@pId_Filtro_1				VARCHAR(MAX)	= NULL,
									@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
									@pId_Filtro_Usuario			INT				= NULL,
									@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
									@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
									@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
									@pDt_LoteDe					VARCHAR(6)		= NULL,
									@pDt_LoteAte				VARCHAR(6)		= NULL,
									@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL,
									@pId_Usuario				INT				= NULL) AS
-----data lote
IF @pPakage = 'sp_Data_Lote'
BEGIN
	SELECT	DISTINCT SUBSTRING(CONVERT(VARCHAR,Dt_Lote,112),1,6) AS Codigo,
			CASE WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Lote,112),5,2) = '01' THEN 'Jan'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Lote,112),5,2) = '02' THEN 'Fev'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Lote,112),5,2) = '03' THEN 'Mar'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Lote,112),5,2) = '04' THEN 'Abr'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Lote,112),5,2) = '05' THEN 'Mai'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Lote,112),5,2) = '06' THEN 'Jun'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Lote,112),5,2) = '07' THEN 'Jul'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Lote,112),5,2) = '08' THEN 'Ago'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Lote,112),5,2) = '09' THEN 'Set'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Lote,112),5,2) = '10' THEN 'Out'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Lote,112),5,2) = '11' THEN 'Nov'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Lote,112),5,2) = '12' THEN 'Dez' END + ' ' +
			RIGHT(CONVERT(VARCHAR,Dt_Lote,106),4) AS Descricao,
			Dt_Lote
	FROM	Lote
	ORDER BY Dt_Lote
END

-----data emissao
IF @pPakage = 'sp_Data_Emissao'
BEGIN
	SELECT	DISTINCT SUBSTRING(CONVERT(VARCHAR,Dt_Emissao,112),1,6) AS Codigo,
			CASE WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Emissao,112),5,2) = '01' THEN 'Jan'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Emissao,112),5,2) = '02' THEN 'Fev'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Emissao,112),5,2) = '03' THEN 'Mar'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Emissao,112),5,2) = '04' THEN 'Abr'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Emissao,112),5,2) = '05' THEN 'Mai'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Emissao,112),5,2) = '06' THEN 'Jun'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Emissao,112),5,2) = '07' THEN 'Jul'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Emissao,112),5,2) = '08' THEN 'Ago'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Emissao,112),5,2) = '09' THEN 'Set'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Emissao,112),5,2) = '10' THEN 'Out'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Emissao,112),5,2) = '11' THEN 'Nov'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Emissao,112),5,2) = '12' THEN 'Dez' END + ' ' +
			RIGHT(CONVERT(VARCHAR,Dt_Emissao,106),4) AS Descricao,
			SUBSTRING(CONVERT(VARCHAR,Dt_Emissao,112),1,6) AS Dt_Lote
	FROM	Fatura
	WHERE Dt_Emissao IS NOT NULL
	ORDER BY SUBSTRING(CONVERT(VARCHAR,Dt_Emissao,112),1,6)
END

-----data vencimento
IF @pPakage = 'sp_Data_Vencimento'
BEGIN
	SELECT	DISTINCT SUBSTRING(CONVERT(VARCHAR,Dt_Vencimento,112),1,6) AS Codigo,
			CASE WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Vencimento,112),5,2) = '01' THEN 'Jan'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Vencimento,112),5,2) = '02' THEN 'Fev'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Vencimento,112),5,2) = '03' THEN 'Mar'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Vencimento,112),5,2) = '04' THEN 'Abr'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Vencimento,112),5,2) = '05' THEN 'Mai'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Vencimento,112),5,2) = '06' THEN 'Jun'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Vencimento,112),5,2) = '07' THEN 'Jul'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Vencimento,112),5,2) = '08' THEN 'Ago'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Vencimento,112),5,2) = '09' THEN 'Set'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Vencimento,112),5,2) = '10' THEN 'Out'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Vencimento,112),5,2) = '11' THEN 'Nov'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Vencimento,112),5,2) = '12' THEN 'Dez' END + ' ' +
			RIGHT(CONVERT(VARCHAR,Dt_Vencimento,106),4) AS Descricao,
			SUBSTRING(CONVERT(VARCHAR,Dt_Vencimento,112),1,6) AS Dt_Lote
	FROM	Fatura
	WHERE Dt_Vencimento IS NOT NULL
	ORDER BY SUBSTRING(CONVERT(VARCHAR,Dt_Vencimento,112),1,6)
END

-----consulta lote
IF @pPakage = 'sp_Lote'
BEGIN
	SELECT	'Marcacao.aspx?Id_Usuario=' + CONVERT(VARCHAR,ISNULL(@pId_Usuario,0)) + 
			'&Id_Usuario_Marcacao=' + CONVERT(VARCHAR,USU.Id_Usuario) + 
			'&Nm_Usuario=' + USU.Nm_Usuario + 
			'&Visualiza=1&Ativo=' + ATV.Nr_Ativo +
			'&Lote=' + CONVERT(VARCHAR,LTO.Id_Lote) + 
			'&DataLote=' + SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,112),1,6) +
			'&pImagem=' + CASE WHEN ATI.Imagem IS NULL THEN '~/Image/Grid_Conta_Marcacao.png' ELSE ATI.Imagem END
			AS Link,
			LTO.Id_Lote, 
			ATT.Id_Ativo_Tipo,	
			ATT.Nm_Ativo_Tipo,
			LTO.Id_Ativo,
			ATV.Nr_Ativo,		
			ISNULL(SUBSTRING(CON.Nm_Consumidor,1,27), '?')		AS Nm_Consumidor, 
			SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,7)		AS Dt_Lote,
			ISNULL(CONVERT(VARCHAR,LTM.Dt_Fechamento,120),'')	AS Dt_Fechamento,
			ISNULL(CONVERT(VARCHAR,LTM.Dt_Visita,120),'')		AS Dt_Visita,
			ISNULL(CONVERT(VARCHAR,LTM.Dt_Exportacao,120),'')	AS Dt_Exportacao
	FROM	vw_Lote LTO	INNER JOIN fu_Permissao_Consulta(	@pPakage_Filtro, 
															@pId_Filtro_1, 
															@pId_Filtro_Filial,
															@pId_Filtro_Usuario,
															@p_Id_Filtro_Centro_Custo,
															@p_Id_Filtro_Departamento,
															@p_Id_Filtro_Setor) FUA 
						ON (LTO.Id_Ativo = FUA.Id_Ativo_Filtro)
						INNER JOIN vw_Ativo							ATV	ON (ATV.Id_Ativo = LTO.Id_Ativo)
						INNER JOIN vw_Ativo_Tipo					ATT	ON (ATT.Id_Ativo_Tipo = ATV.Id_Ativo_Tipo)
						
						INNER JOIN Ativo_Tipo_Grupo					ATG ON (ATG.Id_Ativo_Tipo_Grupo = ATT.Id_Ativo_Tipo_Grupo) 
						
						LEFT JOIN Ativo_Tipo_Imagem					ATI ON (ATI.Id_Ativo_Tipo = ATT.Id_Ativo_Tipo)
						INNER JOIN vw_Alocacao_Ativo_Consumidor		AAC	ON (AAC.Id_Ativo = ATV.Id_Ativo )
						INNER JOIN vw_Consumidor					CON	ON (CON.Id_Consumidor = AAC.Id_Consumidor)
						INNER JOIN vw_Custo_Usuario					CUS ON (CUS.Id_Consumidor = AAC.Id_Consumidor AND CUS.Id_Lote = LTO.Id_Lote)
						LEFT JOIN Usuario							USU	ON (USU.Id_Consumidor = CON.Id_Consumidor)
						LEFT JOIN Lote_Marcacao						LTM	ON (LTM.Id_Lote = LTO.Id_Lote AND LTM.Id_Usuario = USU.Id_Usuario)
						
	WHERE	(SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,112),1,6) >= @pDt_LoteDe AND SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,112),1,6) <= @pDt_LoteAte)
			AND CUS.Total_Consumo > 0
			AND (ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)
			
	ORDER BY	ATT.Nm_Ativo_Tipo,
				LTO.Id_Ativo, 
				CON.Nm_Consumidor, 
				LTO.Dt_Lote	
END

-----lote marcacao
IF @pPakage = 'sp_Lote_Marcacao'
BEGIN
	DECLARE @v_Indice_A INT
	DECLARE @Tb_Template_A TABLE(Id				INT,
								Ativo_Tipo_1	VARCHAR(50), 
								Ativo_1			VARCHAR(50), 
								Dt_Lote_1		VARCHAR(10),
								Link_1			VARCHAR(300),
								Link_ADM_1		VARCHAR(300),
								Visible_1		VARCHAR(10),
								Imagem_1		VARCHAR(100),

								Ativo_Tipo_2	VARCHAR(50), 
								Ativo_2			VARCHAR(50), 
								Dt_Lote_2		VARCHAR(10),
								Link_2			VARCHAR(300),
								Link_ADM_2		VARCHAR(300),
								Visible_2		VARCHAR(10),
								Imagem_2		VARCHAR(100)
								)
	SET @v_Indice_A = 1

	SELECT	LTO.Id_Lote,
			'Marcacao/Marcacao.aspx?Visualiza=0&Ativo=' + ATV.Nr_Ativo + 
				'&Lote=' + CONVERT(VARCHAR,LTO.Id_Lote) + 
				'&DataLote=' + SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,112),1,6) + 
				'&pTela=true' + 
				'&pImagem=' + CASE WHEN ATI.Imagem IS NULL THEN '~/Img_Sistema/Tipo_Ativo/Default.png' ELSE ATI.Imagem END AS Link,
			
			'Marcacao.aspx?Visualiza=0&Ativo=' + ATV.Nr_Ativo + 
				'&Lote=' + CONVERT(VARCHAR,LTO.Id_Lote) + 
				'&DataLote=' + SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,112),1,6) + 
				'&pTela=true' + 
				'&pImagem=' + CASE WHEN ATI.Imagem IS NULL THEN '~/Img_Sistema/Tipo_Ativo/Default.png' ELSE ATI.Imagem END AS Link_ADM,	
				
			ATT.Nm_Ativo_Tipo,
			ATV.Nr_Ativo,		
			CASE WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 1 THEN 'Jan'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 2 THEN 'Fev'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 3 THEN 'Mar'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 4 THEN 'Abr'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 5 THEN 'Mai'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 6 THEN 'Jun'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 7 THEN 'Jul'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 8 THEN 'Ago'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 9 THEN 'Set'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 10 THEN 'Out'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 11 THEN 'Nov'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 12 THEN 'Dez' END + '/' + SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),7,4) AS Dt_Lote,
			CASE WHEN ATI.Imagem IS NULL THEN '~/Img_Sistema/Tipo_Ativo/Default.png' ELSE ATI.Imagem END AS Imagem
			INTO #Tb_Temp_Lote_A
	FROM	vw_Lote LTO INNER JOIN vw_Ativo							ATV	ON (ATV.Id_Ativo = LTO.Id_Ativo)
						INNER JOIN vw_Ativo_Tipo					ATT	ON (ATT.Id_Ativo_Tipo = ATV.Id_Ativo_Tipo)
						INNER JOIN Ativo_Tipo_Grupo					ATG ON (ATG.Id_Ativo_Tipo_Grupo = ATT.Id_Ativo_Tipo_Grupo) 
						LEFT JOIN Ativo_Tipo_Imagem					ATI ON (ATI.Id_Ativo_Tipo = ATT.Id_Ativo_Tipo)
						INNER JOIN vw_Alocacao_Ativo_Consumidor		AAC	ON (AAC.Id_Ativo = ATV.Id_Ativo)
						INNER JOIN vw_Consumidor					CON	ON (CON.Id_Consumidor = AAC.Id_Consumidor)
						LEFT JOIN vw_Usuario						USU	ON (USU.Id_Consumidor = CON.Id_Consumidor)
						LEFT JOIN Lote_Marcacao						LTM	ON (LTM.Id_Usuario = USU.Id_Usuario AND LTM.Id_Lote = LTO.Id_Lote)
						INNER JOIN vw_Custo_Usuario					CUS ON (CUS.Id_Usuario = USU.Id_Usuario AND CUS.Id_Lote = LTO.Id_Lote)
	WHERE	LTM.Dt_Fechamento IS NULL
			AND USU.Id_Usuario = @pId_Filtro_1
			AND CUS.Total_Consumo > 0
			AND (LTO.Id_Ativo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)
			 
	ORDER BY	ATT.Nm_Ativo_Tipo,
				ATV.Nr_Ativo,
				LTO.Dt_Lote

	WHILE (SELECT COUNT(*) FROM #Tb_Temp_Lote_A) > 0
	BEGIN
		-----1
		INSERT INTO @Tb_Template_A 
		SELECT	@v_Indice_A,Nm_Ativo_Tipo,Nr_Ativo,Dt_Lote,Link,Link_ADM,CASE WHEN NOT Nr_Ativo IS NULL THEN 'True' ELSE NULL END,Imagem,
				NULL,NULL,NULL,NULL,NULL,NULL,NULL
		FROM	#Tb_Temp_Lote_A WHERE Id_Lote = (SELECT TOP 1 Id_Lote FROM #Tb_Temp_Lote_A)
		DELETE FROM #Tb_Temp_Lote_A WHERE Id_Lote = (SELECT TOP 1 Id_Lote FROM #Tb_Temp_Lote_A)
		-----2
		UPDATE	@Tb_Template_A
		SET		Ativo_Tipo_2 = (SELECT Nm_Ativo_Tipo FROM #Tb_Temp_Lote_A WHERE Id_Lote = (SELECT TOP 1 Id_Lote FROM #Tb_Temp_Lote_A)),
				Ativo_2 = (SELECT Nr_Ativo FROM #Tb_Temp_Lote_A WHERE Id_Lote = (SELECT TOP 1 Id_Lote FROM #Tb_Temp_Lote_A)),
				Dt_Lote_2 = (SELECT Dt_Lote FROM #Tb_Temp_Lote_A WHERE Id_Lote = (SELECT TOP 1 Id_Lote FROM #Tb_Temp_Lote_A)),
				Link_2 = (SELECT Link FROM #Tb_Temp_Lote_A WHERE Id_Lote = (SELECT TOP 1 Id_Lote FROM #Tb_Temp_Lote_A)),
				Link_ADM_2 = (SELECT Link_ADM FROM #Tb_Temp_Lote_A WHERE Id_Lote = (SELECT TOP 1 Id_Lote FROM #Tb_Temp_Lote_A)),
				Visible_2 = (SELECT CASE WHEN NOT Id_Lote IS NULL THEN 'True' ELSE NULL END FROM #Tb_Temp_Lote_A WHERE Id_Lote = (SELECT TOP 1 Id_Lote FROM #Tb_Temp_Lote_A)),
				Imagem_2 = (SELECT Imagem FROM #Tb_Temp_Lote_A WHERE Id_Lote = (SELECT TOP 1 Id_Lote FROM #Tb_Temp_Lote_A))
		FROM	@Tb_Template_A
		WHERE	Id = @v_Indice_A
		DELETE FROM #Tb_Temp_Lote_A WHERE Id_Lote = (SELECT TOP 1 Id_Lote FROM #Tb_Temp_Lote_A)

		SET @v_Indice_A = @v_Indice_A + 1
	END
	UPDATE	@Tb_Template_A SET Visible_1 = 'False' WHERE Visible_1 IS NULL
	UPDATE	@Tb_Template_A SET Visible_2 = 'False' WHERE Visible_2 IS NULL

	SELECT * FROM @Tb_Template_A
END

-----ativo sob responsabilidade do colaborador
IF @pPakage = 'sp_Ativo_Responsabilidade'
BEGIN
	DECLARE @v_Indice_Ativo_A INT
	DECLARE @Tb_Template_Ativo_A TABLE(	Id					INT,
		
										Id_Ativo_1			VARCHAR(50),
										Ativo_Tipo_1		VARCHAR(50), 
										Ativo_1				VARCHAR(50),
										Valor_Politica_1	VARCHAR(50), 
										Visible_1			VARCHAR(10),
										Imagem_1			VARCHAR(100),
										Ativo_Grupo_1		VARCHAR(100),

										Id_Ativo_2			VARCHAR(50),
										Ativo_Tipo_2		VARCHAR(50), 
										Ativo_2				VARCHAR(50),
										Valor_Politica_2	VARCHAR(50), 
										Visible_2			VARCHAR(10),
										Imagem_2			VARCHAR(100),
										Ativo_Grupo_2		VARCHAR(100),
										
										Id_Ativo_3			VARCHAR(50),
										Ativo_Tipo_3		VARCHAR(50), 
										Ativo_3				VARCHAR(50),
										Valor_Politica_3	VARCHAR(50), 
										Visible_3			VARCHAR(10),
										Imagem_3			VARCHAR(100),
										Ativo_Grupo_3		VARCHAR(100))

	SET @v_Indice_Ativo_A = 1

	SELECT	ATV.Id_Ativo,
			ATV.Nr_Ativo,
			ATT.Nm_Ativo_Tipo,
			'R$' + CONVERT(VARCHAR,CAST(PC.Valor_Politica AS DECIMAL(10,2)))  AS Valor_Politica,
			CASE WHEN 	(SELECT COUNT(*)		
						FROM	vw_Lote SLTO INNER JOIN vw_Ativo						SATV ON (SATV.Id_Ativo = SLTO.Id_Ativo)
											INNER JOIN vw_Alocacao_Ativo_Consumidor		SAAC ON (SAAC.Id_Ativo = SATV.Id_Ativo)
											LEFT JOIN vw_Usuario						SUSU ON (SUSU.Id_Consumidor = SAAC.Id_Consumidor)
											LEFT JOIN Lote_Marcacao						SLTM ON (SLTM.Id_Usuario = SUSU.Id_Usuario AND SLTM.Id_Lote = SLTO.Id_Lote)
											INNER JOIN vw_Custo_Usuario					SCUS ON (SCUS.Id_Usuario = SUSU.Id_Usuario AND SCUS.Id_Lote = SLTO.Id_Lote)
						WHERE	SLTM.Dt_Fechamento IS NULL
								AND SUSU.Id_Usuario = @pId_Filtro_1
								AND SATV.Id_Ativo_Tipo = ATV.Id_Ativo_Tipo
								AND SCUS.Total_Consumo > 0) > 0 
			THEN
				-----tem mais que um lote
				CASE WHEN ATI.Imagem IS NULL THEN '~/Img_Sistema/Tipo_Ativo/Default.png' ELSE SUBSTRING(ATI.Photo,1, (PATINDEX('%.%',ATI.Photo)-1)) + '_MU.PNG' END
			ELSE
				-------não tem lote
				CASE WHEN ATI.Imagem IS NULL THEN '~/Img_Sistema/Tipo_Ativo/Default.png' ELSE ATI.Photo END
			END AS Photo,
			ATG.Nm_Ativo_Tipo_Grupo
			INTO #Tb_Temp_Ativo_A
	FROM	vw_Ativo ATV	INNER JOIN vw_Ativo_Tipo					ATT	ON (ATT.Id_Ativo_Tipo = ATV.Id_Ativo_Tipo)
							INNER JOIN Ativo_Tipo_Grupo					ATG ON (ATG.Id_Ativo_Tipo_Grupo = ATT.Id_Ativo_Tipo_Grupo) 
							INNER JOIN vw_Alocacao_Ativo_Consumidor		AAC	ON (AAC.Id_Ativo = ATV.Id_Ativo)
							LEFT JOIN Ativo_Tipo_Imagem					ATI ON (ATI.Id_Ativo_Tipo = ATT.Id_Ativo_Tipo)
							LEFT JOIN vw_Usuario						USU	ON (USU.Id_Consumidor = AAC.Id_Consumidor)
							LEFT JOIN Politica_Consumidor				PC	ON (PC.Id_Consumidor = AAC.Id_Consumidor AND PC.Id_Ativo_Tipo = ATT.Id_Ativo_Tipo)
							LEFT JOIN Rl_Perfil_Ativo_Usuario			RAU ON (RAU.Id_Ativo = ATV.Id_Ativo AND RAU.Id_Usuario = USU.Id_Usuario)
	WHERE	USU.Id_Usuario = @pId_Filtro_1
			AND (ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)
			AND (RAU.Dt_Hr_Desativacao IS NULL OR RAU.Dt_Hr_Desativacao >= GETDATE())							
	ORDER BY	ATT.Nm_Ativo_Tipo,
				ATV.Nr_Ativo

	WHILE (SELECT COUNT(*) FROM #Tb_Temp_Ativo_A) > 0
	BEGIN
		-----1
		INSERT INTO @Tb_Template_Ativo_A 
		SELECT	@v_Indice_Ativo_A,Id_Ativo,Nm_Ativo_Tipo,Nr_Ativo,Valor_Politica,CASE WHEN NOT Nr_Ativo IS NULL THEN 'True' ELSE NULL END,Photo,Nm_Ativo_Tipo_Grupo,
				NULL,NULL,NULL,NULL,NULL,NULL,NULL,
				NULL,NULL,NULL,NULL,NULL,NULL,NULL
		FROM	#Tb_Temp_Ativo_A WHERE Id_Ativo = (SELECT TOP 1 Id_Ativo FROM #Tb_Temp_Ativo_A)
		DELETE FROM #Tb_Temp_Ativo_A WHERE Id_Ativo = (SELECT TOP 1 Id_Ativo FROM #Tb_Temp_Ativo_A)

		-----2
		UPDATE	@Tb_Template_Ativo_A
		SET		Id_Ativo_2 = (SELECT Id_Ativo FROM #Tb_Temp_Ativo_A WHERE Id_Ativo = (SELECT TOP 1 Id_Ativo FROM #Tb_Temp_Ativo_A)),
				Ativo_Tipo_2 = (SELECT Nm_Ativo_Tipo FROM #Tb_Temp_Ativo_A WHERE Id_Ativo = (SELECT TOP 1 Id_Ativo FROM #Tb_Temp_Ativo_A)),
				Ativo_2 = (SELECT Nr_Ativo FROM #Tb_Temp_Ativo_A WHERE Id_Ativo = (SELECT TOP 1 Id_Ativo FROM #Tb_Temp_Ativo_A)),
				Valor_Politica_2 = (SELECT Valor_Politica FROM #Tb_Temp_Ativo_A WHERE Id_Ativo = (SELECT TOP 1 Id_Ativo FROM #Tb_Temp_Ativo_A)),
				Visible_2 = (SELECT CASE WHEN NOT Id_Ativo IS NULL THEN 'True' ELSE NULL END FROM #Tb_Temp_Ativo_A WHERE Id_Ativo = (SELECT TOP 1 Id_Ativo FROM #Tb_Temp_Ativo_A)),
				Imagem_2 = (SELECT Photo FROM #Tb_Temp_Ativo_A WHERE Id_Ativo = (SELECT TOP 1 Id_Ativo FROM #Tb_Temp_Ativo_A)),
				Ativo_Grupo_2 = (SELECT Nm_Ativo_Tipo_Grupo FROM #Tb_Temp_Ativo_A WHERE Id_Ativo = (SELECT TOP 1 Id_Ativo FROM #Tb_Temp_Ativo_A))
		FROM	@Tb_Template_Ativo_A
		WHERE	Id = @v_Indice_Ativo_A
		DELETE FROM #Tb_Temp_Ativo_A WHERE Id_Ativo = (SELECT TOP 1 Id_Ativo FROM #Tb_Temp_Ativo_A)

		-----3
		UPDATE	@Tb_Template_Ativo_A
		SET		Id_Ativo_3 = (SELECT Id_Ativo FROM #Tb_Temp_Ativo_A WHERE Id_Ativo = (SELECT TOP 1 Id_Ativo FROM #Tb_Temp_Ativo_A)),
				Ativo_Tipo_3 = (SELECT Nm_Ativo_Tipo FROM #Tb_Temp_Ativo_A WHERE Id_Ativo = (SELECT TOP 1 Id_Ativo FROM #Tb_Temp_Ativo_A)),
				Ativo_3 = (SELECT Nr_Ativo FROM #Tb_Temp_Ativo_A WHERE Id_Ativo = (SELECT TOP 1 Id_Ativo FROM #Tb_Temp_Ativo_A)),
				Valor_Politica_3 = (SELECT Valor_Politica FROM #Tb_Temp_Ativo_A WHERE Id_Ativo = (SELECT TOP 1 Id_Ativo FROM #Tb_Temp_Ativo_A)),
				Visible_3 = (SELECT CASE WHEN NOT Id_Ativo IS NULL THEN 'True' ELSE NULL END FROM #Tb_Temp_Ativo_A WHERE Id_Ativo = (SELECT TOP 1 Id_Ativo FROM #Tb_Temp_Ativo_A)),
				Imagem_3 = (SELECT Photo FROM #Tb_Temp_Ativo_A WHERE Id_Ativo = (SELECT TOP 1 Id_Ativo FROM #Tb_Temp_Ativo_A)),
				Ativo_Grupo_3 = (SELECT Nm_Ativo_Tipo_Grupo FROM #Tb_Temp_Ativo_A WHERE Id_Ativo = (SELECT TOP 1 Id_Ativo FROM #Tb_Temp_Ativo_A))
		FROM	@Tb_Template_Ativo_A
		WHERE	Id = @v_Indice_Ativo_A
		DELETE FROM #Tb_Temp_Ativo_A WHERE Id_Ativo = (SELECT TOP 1 Id_Ativo FROM #Tb_Temp_Ativo_A)

		SET @v_Indice_Ativo_A = @v_Indice_Ativo_A + 1
	END
	UPDATE	@Tb_Template_Ativo_A SET Visible_1 = 'False' WHERE Visible_1 IS NULL
	UPDATE	@Tb_Template_Ativo_A SET Visible_2 = 'False' WHERE Visible_2 IS NULL
	UPDATE	@Tb_Template_Ativo_A SET Visible_3 = 'False' WHERE Visible_3 IS NULL

	SELECT * FROM @Tb_Template_Ativo_A
END

-----ativo sob responsabilidade do colaborador para (app)
IF @pPakage = 'sp_Ativo_Responsabilidade_APP'
BEGIN
	SELECT	CONVERT(VARCHAR(10),ATV.Id_Ativo) AS Id_Ativo,
			ATV.Nr_Ativo,
			ATT.Nm_Ativo_Tipo,
			CG.Nm_Conglomerado,

			CASE	WHEN 	(SELECT COUNT(*)		
							FROM	vw_Lote SLTO INNER JOIN vw_Ativo						SATV ON (SATV.Id_Ativo = SLTO.Id_Ativo)
												INNER JOIN vw_Alocacao_Ativo_Consumidor		SAAC ON (SAAC.Id_Ativo = SATV.Id_Ativo)
												LEFT JOIN vw_Usuario						SUSU ON (SUSU.Id_Consumidor = SAAC.Id_Consumidor)
												LEFT JOIN Lote_Marcacao						SLTM ON (SLTM.Id_Usuario = SUSU.Id_Usuario AND SLTM.Id_Lote = SLTO.Id_Lote)
												INNER JOIN vw_Custo_Usuario					SCUS ON (SCUS.Id_Usuario = SUSU.Id_Usuario AND SCUS.Id_Lote = SLTO.Id_Lote)
							WHERE	SLTM.Dt_Fechamento IS NULL
									AND SUSU.Id_Usuario = @pId_Filtro_1
									AND SATV.Id_Ativo_Tipo = ATV.Id_Ativo_Tipo
									AND SCUS.Total_Consumo > 0) = 0 
					THEN
					-----não tem lote
					CASE WHEN ATI.Imagem IS NULL THEN 'default' ELSE LOWER(REPLACE(SUBSTRING(ATI.Photo,26,LEN(ATI.Photo)),'.png','')) END
						WHEN 	(SELECT COUNT(*)		
								FROM	vw_Lote SLTO INNER JOIN vw_Ativo						SATV ON (SATV.Id_Ativo = SLTO.Id_Ativo)
													INNER JOIN vw_Alocacao_Ativo_Consumidor		SAAC ON (SAAC.Id_Ativo = SATV.Id_Ativo)
													LEFT JOIN vw_Usuario						SUSU ON (SUSU.Id_Consumidor = SAAC.Id_Consumidor)
													LEFT JOIN Lote_Marcacao						SLTM ON (SLTM.Id_Usuario = SUSU.Id_Usuario AND SLTM.Id_Lote = SLTO.Id_Lote)
													INNER JOIN vw_Custo_Usuario					SCUS ON (SCUS.Id_Usuario = SUSU.Id_Usuario AND SCUS.Id_Lote = SLTO.Id_Lote)
								WHERE	SLTM.Dt_Fechamento IS NULL
										AND SUSU.Id_Usuario = @pId_Filtro_1
										AND SATV.Id_Ativo_Tipo = ATV.Id_Ativo_Tipo
										AND SCUS.Total_Consumo > 0) = 1 
							THEN
								-----tem um lote								
								CASE WHEN ATI.Imagem IS NULL THEN 'default' ELSE LOWER(REPLACE(SUBSTRING(ATI.Photo,26,LEN(ATI.Photo)),'.png','')  + '_CN') END
							ELSE
								-----tem mais que um lote
								CASE WHEN ATI.Imagem IS NULL THEN 'default' ELSE LOWER(REPLACE(SUBSTRING(ATI.Photo,26,LEN(ATI.Photo)),'.png','')  + '_MU') END
			END AS Photo,

			ATG.Nm_Ativo_Tipo_Grupo
	FROM	vw_Ativo ATV	INNER JOIN vw_Ativo_Tipo					ATT	ON (ATT.Id_Ativo_Tipo = ATV.Id_Ativo_Tipo)
							INNER JOIN Ativo_Tipo_Grupo					ATG ON (ATG.Id_Ativo_Tipo_Grupo = ATT.Id_Ativo_Tipo_Grupo) 
							INNER JOIN Conglomerado						CG	ON (CG.Id_Conglomerado = ATV.Id_Conglomerado)
							INNER JOIN vw_Alocacao_Ativo_Consumidor		AAC	ON (AAC.Id_Ativo = ATV.Id_Ativo)
							LEFT JOIN Ativo_Tipo_Imagem					ATI ON (ATI.Id_Ativo_Tipo = ATT.Id_Ativo_Tipo)
							LEFT JOIN vw_Usuario						USU	ON (USU.Id_Consumidor = AAC.Id_Consumidor)
							LEFT JOIN Rl_Perfil_Ativo_Usuario			RAU ON (RAU.Id_Ativo = ATV.Id_Ativo AND RAU.Id_Usuario = USU.Id_Usuario)
	WHERE	USU.Id_Usuario = @pId_Filtro_1
			AND (ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)
			AND (RAU.Dt_Hr_Desativacao IS NULL OR RAU.Dt_Hr_Desativacao >= GETDATE())							
	ORDER BY	ATT.Nm_Ativo_Tipo,
				ATV.Nr_Ativo
END

-----lote marcacao para (app)
IF @pPakage = 'sp_Lote_Marcacao_APP'
BEGIN
	SELECT	LTO.Id_Lote,
			CASE WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 1 THEN 'Jan'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 2 THEN 'Fev'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 3 THEN 'Mar'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 4 THEN 'Abr'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 5 THEN 'Mai'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 6 THEN 'Jun'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 7 THEN 'Jul'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 8 THEN 'Ago'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 9 THEN 'Set'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 10 THEN 'Out'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 11 THEN 'Nov'
					WHEN SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),4,2) = 12 THEN 'Dez' END + '/' + SUBSTRING(CONVERT(VARCHAR,LTO.Dt_Lote,103),7,4) AS Dt_Lote
	FROM	vw_Lote LTO INNER JOIN vw_Ativo							ATV	ON (ATV.Id_Ativo = LTO.Id_Ativo)
						INNER JOIN vw_Alocacao_Ativo_Consumidor		AAC	ON (AAC.Id_Ativo = ATV.Id_Ativo)
						INNER JOIN vw_Consumidor					CON	ON (CON.Id_Consumidor = AAC.Id_Consumidor)
						LEFT JOIN vw_Usuario						USU	ON (USU.Id_Consumidor = CON.Id_Consumidor)
						LEFT JOIN Lote_Marcacao						LTM	ON (LTM.Id_Usuario = USU.Id_Usuario AND LTM.Id_Lote = LTO.Id_Lote)
						INNER JOIN vw_Custo_Usuario					CUS ON (CUS.Id_Usuario = USU.Id_Usuario AND CUS.Id_Lote = LTO.Id_Lote)
	WHERE	LTM.Dt_Fechamento IS NULL
			AND USU.Id_Usuario = @pId_Filtro_1
			AND CUS.Total_Consumo > 0
			AND ATV.Id_Ativo = CONVERT(INT,@pAtivo_Tipo_Grupo)
	ORDER BY	LTO.Dt_Lote
END

-----minha equipe
IF @pPakage = 'sp_Minha_Equipe'
BEGIN
	SELECT	Nm_Consumidor, Nr_Ativo,Nm_Ativo_Tipo
	FROM	vw_Consumidor C INNER JOIN Rl_Consumidor_Ativo RCA ON C.Id_Consumidor = RCA.Id_Consumidor
							INNER JOIN vw_Ativo A ON A.Id_Ativo = RCA.Id_Ativo
							INNER JOIN Ativo_Tipo AT ON A.Id_Ativo_Tipo = AT.Id_Ativo_Tipo 
	WHERE	Matricula_Chefia IN (	SELECT	C.Matricula  
									FROM	Usuario U INNER JOIN vw_Consumidor C ON C.Id_Consumidor = U.Id_Consumidor 
									WHERE	Id_Usuario = @pId_Filtro_1)
	ORDER BY Nm_Consumidor
END
GO
