USE [Auditoria]
GO
/****** Object:  StoredProcedure [dbo].[pa_Estoque_Aparelho_Status]    Script Date: 7/31/2025 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[pa_Estoque_Aparelho_Status] (	@pPakage						VARCHAR(200),
														@pId_Estoque_Aparelho_Status	INT			= NULL,
														@pNm_Estoque_Aparelho_Status	VARCHAR(50)	= NULL,
														@pId_Usuario_Permissao			INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN	
	IF EXISTS (SELECT * FROM Estoque_Aparelho_Status WHERE Id_Estoque_Aparelho_Status = @pId_Estoque_Aparelho_Status)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Estoque_Aparelho_Status 
			SET		Nm_Estoque_Aparelho_Status = @pNm_Estoque_Aparelho_Status
			WHERE	Id_Estoque_Aparelho_Status = @pId_Estoque_Aparelho_Status
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Estoque_Aparelho_Status (Nm_Estoque_Aparelho_Status, Fl_Desativado) 
			VALUES(	@pNm_Estoque_Aparelho_Status,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Estoque_Aparelho_Status 
		SET		Fl_Desativado = 1 
		WHERE	Id_Estoque_Aparelho_Status = @pId_Estoque_Aparelho_Status
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Estoque_Aparelho_Status,'') AS Id_Estoque_Aparelho_Status,
			ISNULL(Nm_Estoque_Aparelho_Status,'') AS Nm_Estoque_Aparelho_Status
	FROM	vw_Estoque_Aparelho_Status
	WHERE	Id_Estoque_Aparelho_Status = @pId_Estoque_Aparelho_Status
END
GO
