USE [Auditoria]
GO
/****** Object:  StoredProcedure [dbo].[pa_Auditoria_Status]    Script Date: 7/31/2025 10:30:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[pa_Auditoria_Status] (	@pPakage				VARCHAR(200),
												@pId_Auditoria_Status	INT			= NULL,
												@pNm_Auditoria_Status	VARCHAR(50)	= NULL,
												@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Auditoria_Status WHERE Id_Auditoria_Status = @pId_Auditoria_Status)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Auditoria_Status 
			SET		Nm_Auditoria_Status = @pNm_Auditoria_Status
			WHERE	Id_Auditoria_Status = @pId_Auditoria_Status
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Auditoria_Status (Nm_Auditoria_Status) 
			VALUES(	@pNm_Auditoria_Status)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		DELETE Auditoria_Status WHERE Id_Auditoria_Status = @pId_Auditoria_Status
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Auditoria_Status,'') AS Id_Auditoria_Status,
			ISNULL(Nm_Auditoria_Status,'') AS Nm_Auditoria_Status
	FROM	vw_Auditoria_Status
	WHERE	Id_Auditoria_Status = @pId_Auditoria_Status
END



GO
