USE [Ultragaz]
GO
/****** Object:  UserDefinedFunction [dbo].[Fu_Formata_Duracao]    Script Date: 7/31/2025 10:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fu_Formata_Duracao] (@pTexto VARCHAR(MAX)) 
RETURNS VARCHAR(50)
AS
BEGIN
	-----retira espaco em branco no campo
	DECLARE @pTexto_Retorno AS VARCHAR(50)
	SET @pTexto_Retorno = REPLACE(@pTexto,' ','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'-','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,';','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'_','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'+','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'=','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'|','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'\','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'{','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'}','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'<','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'>','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'?','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'[','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,']','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'(','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,')','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'!','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'@','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'#','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'$','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'%','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'&','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'*','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'q','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'w','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'e','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'r','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'t','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'y','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'u','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'i','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'o','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'p','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'a','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'s','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'d','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'f','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'g','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'h','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'j','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'k','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'l','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'z','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'x','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'c','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'v','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'b','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'n','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'m','')

	RETURN @pTexto_Retorno
END













GO
