USE [Souza_Lima]
GO
/****** Object:  StoredProcedure [dbo].[pa_Bilhete_Tipo_Manual]    Script Date: 7/31/2025 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Bilhete_Tipo_Manual] (@pPakage				VARCHAR(200),
												@pId_Bilhete_Tipo		VARCHAR(MAX)= NULL,
												@pId_Usuario_Permissao	INT			= NULL) AS

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(BT.Id_Bilhete_Tipo,'') AS Id_Bilhete_Tipo,
			ISNULL(BT.Nm_Bilhete_Tipo,'') AS Nm_Bilhete_Tipo
	FROM	Bilhete_Tipo BT INNER JOIN Bilhete_Manual_Tipo BM ON BT.Id_Bilhete_Tipo = BM.Id_Bilhete_Tipo
END

-----grava registro
IF @pPAKAGE = 'sp_Grava_Registro'
BEGIN
	-----declare variavel
	DECLARE @Array VARCHAR(MAX)
	DECLARE @S VARCHAR(10)
	DECLARE @vSQL VARCHAR(8000)

	-----limpa tebela
	DELETE FROM Bilhete_Manual_Tipo

	SELECT @Array = @pId_Bilhete_Tipo
	IF LEN(@Array) > 0 SET @Array = @Array + ',' 
	WHILE LEN(@Array) > 0
	BEGIN		
		SELECT @S = LTRIM(SUBSTRING(@Array, 1, CHARINDEX(',', @Array) - 1))
		SET @vSQL = 'INSERT INTO Bilhete_Manual_Tipo(Id_Bilhete_Tipo) VALUES (' + @S + ')'
		EXEC (@vSQL)

		SELECT @Array = SUBSTRING(@Array, CHARINDEX(',', @Array) + 1, LEN(@Array))
	END
END
GO
