USE [Souza_Lima]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Memoria_pgto]    Script Date: 7/31/2025 10:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_Memoria_pgto] (@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS
	
	SELECT 
	
			f.Dt_Vencimento as [VENCIMENTO DA FATURA],
			f.Dt_Emissao [DATA DA LIBERAÇÃO],
			'2021' as [ANO],
			at.Nm_Ativo_Tipo as [Tipo de Pagamento],
			CO.Nm_Conglomerado as [Fornecedor],
			ax.leg as [LEG],
			ax.req as [REQ],
			ax.oc as [OC],
			'' as [CT],
			ax.[VI/CG] as [VI/CG],
			ax.[Desc] as [DESCRIÇÃO PARA PAGTO],
			cast ((select sum(Valor_Rateado) from Rateio_Item where id_Rateio = r.id_Rateio and id_centro_custo = ri.id_centro_custo) as decimal (10,2) )as VALOR,
			ccc.atividade as [ATIVIDADE],
			--'' as [CONTABIL],
			ccc.contabil as  CONTABIL,
			cC.Nm_Centro_Custo AS CDC,
			ccc.Classificacao [CLASSIFICACAO],
			'' as NF,
			ccc.area as AREA,
			ccc.validador as VALIDADOR
			--f.Nr_Fatura,
			--f.dt_lote,

		INTO #Temp_Export	
	from rateio r 

					inner join Rateio_Item ri on r.Id_Rateio = ri.Id_Rateio
					inner join Rl_Rateio_Fatura rf on rf.Id_Rateio = r.Id_Rateio 
					inner join fatura f on f.Id_Fatura = rf.Id_Fatura 
					inner join ativo a on a.Id_Ativo = ri.Id_Ativo
					inner join Consumidor c on c.Id_Consumidor = ri.Id_Consumidor
					inner join Centro_Custo cc on cc.Id_Centro_Custo = ri.Id_Centro_Custo
					left join Centro_Custo_Complemento ccc on cc.Id_Centro_Custo = ccc.id_centro_Custo
					inner join Ativo_Tipo at on a.Id_Ativo_Tipo = at.Id_Ativo_Tipo
					inner join Conglomerado co on a.Id_Conglomerado = co.Id_Conglomerado
					left join ativo_auxilia ax on a.Id_Ativo = ax.Id_ativo
			
	WHERE   SUBSTRING(CONVERT(VARCHAR(6),F.Dt_Lote,112),1,6) >= @pDt_LoteDe 

	group by CC.nm_Centro_Custo , RI.Id_Centro_Custo, r.id_Rateio, f.Nr_Fatura,ccc.area, 
	f.dt_lote,f.Dt_Vencimento,f.Dt_Emissao,at.Nm_Ativo_Tipo,CO.Nm_Conglomerado,ccc.atividade,
	ccc.Classificacao,ccc.validador,ax.leg,ax.req,ax.oc,ax.[VI/CG],ax.[Desc], ccc.contabil

	ORDER BY F.Nr_Fatura
	--[cn_T_Memoria_pgto]
-----exportacao
IF @pPakage = 'sp_Rateio_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Rateio'
BEGIN
	SELECT * FROM #Temp_Export
END
GO
