USE [Souza_Lima]
GO
/****** Object:  StoredProcedure [dbo].[pa_Ativo_Porcentagem_Rateio]    Script Date: 7/31/2025 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Ativo_Porcentagem_Rateio] (	@pPakage				VARCHAR(200),
														@pId_Ativo				INT	= NULL,
														@pId_Centro_Custo		INT	= NULL,
														@pPorcentagem			INT	= NULL,
														@pId_Usuario_Permissao	INT	= NUll) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_Porcentagem_Rateio_Centro_Custo'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
	BEGIN
		UPDATE	Rl_Ativo_Centro_Custo
		SET		Porcentagem = @pPorcentagem
		WHERE	Id_Ativo			= @pId_Ativo
				AND	Id_Centro_Custo	= @pId_Centro_Custo
	END
END

-----retorna relacionamento de Ativo com Centro_Custo e porcentagem
IF @pPAKAGE = 'sd_SL_RL_Ativo_Centro_Custo_POrcentagem'
BEGIN
	SELECT	DISTINCT ISNULL(CC.Id_Centro_Custo,'')	AS Id_Centro_Custo,
			ISNULL(CC.Cd_Centro_Custo,'')			AS Cd_Centro_Custo,
			ISNULL(RAC.Porcentagem,'')				AS Porcentagem
	FROM	vw_Centro_Custo CC	INNER JOIN Rl_Ativo_Centro_Custo RAC ON (CC.Id_Centro_Custo = RAC.Id_Centro_Custo)
	WHERE	RAC.Id_Ativo = @pId_Ativo  
	ORDER BY Cd_Centro_Custo
END

GO
