USE [Souza_Lima]
GO
/****** Object:  StoredProcedure [dbo].[pa_si_Contrato_aprovacao]    Script Date: 7/31/2025 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  procedure  [dbo].[pa_si_Contrato_aprovacao] 

AS

Begin 

INSERT into [dbo].[Mail_Caixa_Saida] 
	
SELECT 
	'14',
	'amil@icontrolit.com.br',
	NULL,
	'O Contrato ' + nr_contrato + ' Está aguardando aprovação,',
	GETDATE()-1,
	null,
	'0',
	'0',
	'0'
	
		from Contrato

	where Id_Contrato_Status = 1

end
GO
