USE [Souza_Lima]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Linha_Desativa_Conta]    Script Date: 7/31/2025 10:41:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_Linha_Desativa_Conta] (	@pPakage					VARCHAR(200),
													@pPakage_Filtro				VARCHAR(200)	= NULL,
													@pId_Filtro_1				VARCHAR(MAX)	= NULL,
													@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
													@pId_Filtro_Usuario			INT				= NULL,
													@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
													@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
													@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
													@pDt_LoteDe					VARCHAR(6)		= NULL,
													@pDt_LoteAte				VARCHAR(6)		= NULL,
													@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS
SELECT	(SELECT MAX(DC_Nr_Nota_Fiscal) FROM Lote WHERE Id_Ativo = AT.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = AT.Id_Ativo)) AS Conta,
		(SELECT SUBSTRING(CONVERT(VARCHAR(10), MAX(Dt_Lote),103),4,7) FROM Lote WHERE Id_Ativo = AT.Id_Ativo) AS [Ultima_Conta],
		AT.Nr_Ativo				AS Ativo,
		(SELECT COUNT(*) FROM Rl_Consumidor_Ativo WHERE Id_Ativo = AT.Id_Ativo) AS Compartilhado,
		CG.Nm_Conglomerado		AS Conglomerado,
		ATS.Nm_Ativo_Status		AS [Status_Ativo],
		ATP.Nm_Ativo_Tipo		AS Tipo,
		RIGHT(CONVERT(VARCHAR,LT.Dt_Lote,106),8)	AS Lote,
		CAST(LT.TOTAL AS DECIMAL(10,2))				AS Valor,
		CONVERT(VARCHAR,Dt_Desativacao,103)			AS Desativacao,
		Observacao									AS Observacao INTO #Temp_Export
FROM	Ativo AT	INNER JOIN Conglomerado CG ON CG.Id_Conglomerado = AT.Id_Conglomerado
					INNER JOIN Ativo_Tipo ATP ON ATP.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
					INNER JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo)
					INNER JOIN Lote LT ON LT.Id_Ativo = AT.Id_Ativo
					LEFT JOIN Ativo_Status ATS ON AT.Id_Ativo_Status = ATS.Id_Ativo_Status
WHERE	AT.Fl_Desativado = 1
		AND (ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)
		AND SUBSTRING(CONVERT(VARCHAR(6),LT.Dt_Lote,112),1,6) >= @pDt_LoteDe
		AND SUBSTRING(CONVERT(VARCHAR(6),LT.Dt_Lote,112),1,6) <= @pDt_LoteAte

-----exportacao
IF @pPakage = 'sp_Linha_Desativa_Conta_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Linha_Desativa_Conta'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grafrico
IF @pPakage = 'sp_Linha_Desativas_Grafico'
BEGIN
	SELECT	Lote AS X, SUM(Valor) AS Y FROM	#Temp_Export GROUP BY Lote ORDER BY X
END
GO
