USE [Souza_Lima]
GO
/****** Object:  StoredProcedure [dbo].[pa_Fatura_Parametro_Campo]    Script Date: 7/31/2025 10:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Fatura_Parametro_Campo] ( @pPakage     VARCHAR(200),  
             @pId_Fatura_Parametro_Campo INT   = NULL,  
             @pNm_Fatura_Parametro_Campo VARCHAR(50) = NULL,  
             @pId_Fatura_Parametro  INT   = NULL,  
			 @pObservacao VARCHAR(1000) = NULL,
             @pSinal      INT   = NULL,     
             @pId_Usuario_Permissao  INT   = NULL) AS  
-----insere ou atualiza registro  
IF @pPAKAGE = 'sp_SM'  
BEGIN  
 IF EXISTS (SELECT * FROM Fatura_Parametro_Campo WHERE Id_Fatura_Parametro_Campo = @pId_Fatura_Parametro_Campo)  
 BEGIN  
  IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2  
  BEGIN  
   UPDATE Fatura_Parametro_Campo   
   SET  Nm_Fatura_Parametro_Campo = @pNm_Fatura_Parametro_Campo,  
     Id_Fatura_Parametro   = @pId_Fatura_Parametro,  
	 Observacao = 'Data Alteração - ' + FORMAT(GETDATE(), 'dd/MM/yyyy HH:mm') + ' - ' + @pObservacao + ') ' + ISNULL(Observacao,''),
     Sinal      = @pSinal  
   WHERE Id_Fatura_Parametro_Campo = @pId_Fatura_Parametro_Campo  
  END  
 END  
 ELSE  
 BEGIN  
  IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2  
  BEGIN  
   INSERT INTO Fatura_Parametro_Campo (Nm_Fatura_Parametro_Campo,  
            Id_Fatura_Parametro,  
            Sinal)   
   VALUES( @pNm_Fatura_Parametro_Campo,  
     @pId_Fatura_Parametro,  
     @pSinal)  
  END  
 END  
END  
  
-----desativa resgistro  
IF @pPAKAGE = 'sp_SE'  
BEGIN  
 IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2  
 BEGIN  
  DELETE Fatura_Parametro_Campo    
  WHERE Id_Fatura_Parametro_Campo = @pId_Fatura_Parametro_Campo  
 END  
END  
  
-----consulta pelo ID do registro  
IF @pPAKAGE = 'sp_SL_ID'  
BEGIN  
 SELECT ISNULL(Id_Fatura_Parametro_Campo,'') AS Id_Fatura_Parametro_Campo,  
   ISNULL(Nm_Fatura_Parametro_Campo,'') AS Nm_Fatura_Parametro_Campo,  
   ISNULL(Id_Fatura_Parametro,'')   AS Id_Fatura_Parametro,  
   ISNULL(Observacao,'') AS Observacao,
   ISNULL(Sinal,'')      AS Sinal  
 FROM Fatura_Parametro_Campo  
 WHERE Id_Fatura_Parametro_Campo = @pId_Fatura_Parametro_Campo  
END
GO
