USE [Fresenius]
GO
/****** Object:  UserDefinedFunction [dbo].[fu_Dados_Tendencia_Geral]    Script Date: 7/31/2025 10:50:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fu_Dados_Tendencia_Geral] (	@pId_Usuario		INT			= NULL,
													@pMesDE				VARCHAR(10)	= NULL,
													@pMesATE			VARCHAR(10)	= NULL,
													@pGrupoTipoAtivo	VARCHAR(50)	= NULL)
													
RETURNS @Dados TABLE (	Id_Lote				INT,
						Dt_Lote				DATETIME,
						Id_Ativo			INT,
						Nr_Ativo			VARCHAR(50),
						Nm_Conglomerado		VARCHAR(50),
						Nm_Ativo_Tipo		VARCHAR(50),
						Id_Ativo_Tipo		INT,
						Nm_Ativo_Tipo_Grupo	VARCHAR(50),
						Nm_Consumidor		VARCHAR(50),
						Id_Consumidor		INT,
						Id_Usuario			INT,
						Nm_Usuario			VARCHAR(50),
						Id_Filial			INT,
						Nm_Filial			VARCHAR(50),
						Id_Centro_Custo		INT,
						Cd_Centro_Custo		VARCHAR(50),
						Id_Departamento		INT,
						Nm_Departamento		VARCHAR(50),
						Id_Setor			INT,
						Nm_Setor			VARCHAR(50),
						Id_Secao			INT,
						Nm_Secao			VARCHAR(50),
						Total_Sem_Auditoria	FLOAT,
						Total_Cobrado		FLOAT,
						Total_Devolucao		FLOAT,
						Final_Semana		FLOAT,
						Fora_Horario		FLOAT,
						Dentro_Horario		FLOAT,
						Total				FLOAT,
						QTD_COMP			FLOAT,
						Valor_Politica		FLOAT,
						Custo_Fixo			FLOAT,
						Gestor				VARCHAR(50),
						Trafego				FLOAT,
						Marcado				FLOAT,
						Periodo				INT
						) AS
BEGIN

--declare @pId_Usuario		INT			
--declare @pMesDE				VARCHAR(10)	
--declare @pMesATE			VARCHAR(10)	
--declare @pGrupoTipoAtivo	VARCHAR(50)
--set @pId_Usuario	= 5861			
--set @pMesDE				= '20180901'
--set @pMesATE			= '20180901'
--set @pGrupoTipoAtivo = 'telefonia_movel'


	INSERT INTO @Dados
	SELECT		LT.Id_Lote,
				LT.Dt_Lote,
				AT.Id_Ativo,
				AT.Nr_Ativo,
				CG.Nm_Conglomerado,
				ATP.Nm_Ativo_Tipo,
				ATP.Id_Ativo_Tipo,
				ATG.Nm_Ativo_Tipo_Grupo,
				CO.Nm_Consumidor,
				CO.Id_Consumidor,
				US.Id_Usuario,
				US.Nm_Usuario,
				CO.Id_Filial,
				REPLACE(FI.Nm_Filial,'&','') AS Nm_Filial,
				CO.Id_Centro_Custo,
				REPLACE(CC.Cd_Centro_Custo,'&','') Cd_Centro_Custo,
				------------------------
				CO.Id_Departamento AS Id_Departamento,
				REPLACE(DP.Nm_Departamento,'&','') AS Nm_Departamento,
				---------------------------
				CO.Id_Setor  AS Id_Setor,
				REPLACE(ST.Nm_Setor,'&','') AS Nm_Setor,
				-------------------------
				CO.Id_Secao  AS Id_Secao,
				REPLACE(SC.Nm_Secao,'&','')  AS Id_Secao,
				---------------
				SUM(Total_Sem_Auditoria) / (SELECT COUNT(*) FROM vw_Alocacao_Ativo_Consumidor WHERE Id_Ativo = AT.Id_Ativo) AS Total_Sem_Auditoria,
				SUM(Total_Cobrado) / (SELECT COUNT(*) FROM vw_Alocacao_Ativo_Consumidor WHERE Id_Ativo = AT.Id_Ativo) AS Total_Devolucao,
				SUM(Total_Devolucao) / (SELECT COUNT(*) FROM vw_Alocacao_Ativo_Consumidor WHERE Id_Ativo = AT.Id_Ativo) AS Total_Devolucao,
				SUM(Total_Final_Semana) / (SELECT COUNT(*) FROM vw_Alocacao_Ativo_Consumidor WHERE Id_Ativo = AT.Id_Ativo) AS Final_Semana,
				SUM(Fora_Horario) / (SELECT COUNT(*) FROM vw_Alocacao_Ativo_Consumidor WHERE Id_Ativo = AT.Id_Ativo) AS Fora_Horario,
				SUM(Dentro_Horario) / (SELECT COUNT(*) FROM vw_Alocacao_Ativo_Consumidor WHERE Id_Ativo = AT.Id_Ativo) AS Dentro_Horario,
				---------------
				ISNULL((SUM(LT.Total)
					/ (SELECT COUNT(*) FROM vw_Alocacao_Ativo_Consumidor WHERE Id_Ativo = AT.Id_Ativo)),0)
				AS Total,
				---------------
				ISNULL((SELECT COUNT(*) FROM vw_Alocacao_Ativo_Consumidor WHERE Id_Ativo = AT.Id_Ativo),0) AS QTD_Comp,
				---------------
				PC.Valor_Politica,
				---------------
				(SELECT ISNULL(SUM(Custo),0) FROM Custo_Fixo_Item WHERE Id_Ativo_Tipo = AT.Id_Ativo_Tipo) AS Custo_Fixo,
				---------------
				CASE WHEN EXISTS(SELECT * FROM Consumidor WHERE Id_Consumidor = CO.Id_Consumidor 
								AND Matricula_Chefia IN (SELECT Matricula FROM Consumidor WHERE Id_Consumidor IN 
												(SELECT Id_Consumidor FROM Usuario WHERE Id_Usuario = @pId_Usuario)))
				THEN 'Imediato' ELSE '' END AS Gestor,
				CONVERT(VARCHAR,CAST(LT.Trafego AS DECIMAL(10,2))) AS Trafego,
				ISNULL((SELECT Total_Marcado FROM Lote_Marcacao WHERE Id_Lote = LT.Id_Lote AND Id_Usuario IN (SELECT Id_Usuario FROM Usuario WHERE Id_Consumidor = CO.Id_Consumidor)),0) AS Marcado,
				---------------
				CASE WHEN (	
						SELECT	COUNT(*)
						FROM	Bilhete_Data
						WHERE   Id_Lote = LT.Id_Lote
								AND (Menor >= RAU.Dt_Hr_Ativacao AND Maior <= ISNULL(RAU.Dt_Hr_Desativacao, DATEADD(DAY, +30,LT.Dt_Lote)))
						) = 0 THEN 1 ELSE 2 END AS Periodo

		FROM	vw_Alocacao_Ativo_Consumidor AAC	INNER JOIN vw_Filial FI ON FI.Id_Filial = AAC.Id_Filial
													INNER JOIN vw_Centro_Custo CC ON CC.Id_Centro_Custo = AAC.Id_Centro_Custo
													INNER JOIN Lote LT ON LT.Id_Ativo  = AAC.Id_Ativo
													INNER JOIN vw_Ativo AT ON AT.Id_Ativo = LT.Id_Ativo
													INNER JOIN vw_Ativo_Tipo ATP ON ATP.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
													INNER JOIN vw_Conglomerado CG ON CG.Id_Conglomerado = AT.Id_Conglomerado
													INNER JOIN Ativo_Tipo_Grupo ATG ON ATP.Id_Ativo_Tipo_Grupo = ATG.Id_Ativo_Tipo_Grupo
													INNER JOIN vw_Consumidor CO ON CO.Id_Consumidor = AAC.Id_Consumidor
													
													LEFT JOIN Usuario US ON US.Id_Consumidor = CO.Id_Consumidor
													LEFT JOIN Rl_Perfil_Ativo_Usuario RAU ON (RAU.Id_Usuario = US.Id_Usuario AND RAU.Id_Ativo = AT.Id_Ativo)
													LEFT JOIN Politica_Consumidor PC ON (PC.Id_Consumidor = CO.Id_Consumidor AND PC.Id_Ativo_Tipo = ATP.Id_Ativo_Tipo)
																										
													LEFT JOIN Departamento DP ON DP.Id_Departamento = AAC.Id_Departamento
													LEFT JOIN Setor ST ON ST.Id_Setor = AAC.Id_Setor
													LEFT JOIN Secao SC ON SC.Id_Secao = AAC.Id_Secao
		WHERE	AAC.Id_Centro_Custo IN( SELECT	Id_Centro_Custo 
										FROM	(	SELECT	DISTINCT HFC.Id_Centro_Custo --4 Filial
													FROM	Rl_Perfil_Filial_Usuario RFU	INNER JOIN Usuario US ON US.Id_Usuario = RFU.Id_Usuario 
																							INNER JOIN Rl_Hi_Filial_Centro_Custo HFC ON RFU.Id_Filial = HFC.Id_Filial 
													WHERE	RFU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 4
													UNION ALL 
													SELECT	DISTINCT RCU.Id_Centro_Custo --5 Centro de Custo
													FROM	Rl_Perfil_Centro_Custo_Usuario RCU INNER JOIN Usuario US ON US.Id_Usuario = RCU.Id_Usuario
													WHERE	RCU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 5
													UNION ALL 
													SELECT	DISTINCT HCD.Id_Centro_Custo --6 Departamento  
													FROM	Rl_Perfil_Departamento_Usuario RDU	INNER JOIN Usuario US ON US.Id_Usuario = RDU.Id_Usuario
																								INNER JOIN Rl_Hi_Centro_Custo_Departamento HCD ON RDU.Id_Departamento = HCD.Id_Departamento
													WHERE	RDU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 6
													UNION ALL 
													SELECT	DISTINCT HCD.Id_Centro_Custo --7 Setor 
													FROM	Rl_Perfil_Setor_Usuario RSU INNER JOIN Usuario US ON US.Id_Usuario = RSU.Id_Usuario
																						INNER JOIN Rl_Hi_Departamento_Setor HDS ON RSU.Id_Setor = HDS.Id_Setor
																						INNER JOIN Rl_Hi_Centro_Custo_Departamento HCD ON HCD.Id_Departamento = HDS.Id_Departamento
													WHERE	RSU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 7
													UNION ALL 
													SELECT	DISTINCT HCD.Id_Centro_Custo --8 Secao 
													FROM	Rl_Perfil_Secao_Usuario RSS	INNER JOIN Usuario US ON US.Id_Usuario = RSS.Id_Usuario
																						INNER JOIN Rl_Hi_Setor_Secao HSS ON RSS.Id_Secao = HSS.Id_Secao
																						INNER JOIN Rl_Hi_Departamento_Setor HDS ON HSS.Id_Setor = HDS.Id_Setor
																						INNER JOIN Rl_Hi_Centro_Custo_Departamento HCD ON HCD.Id_Departamento = HDS.Id_Departamento
													WHERE	RSS.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 8) AS CDC)
				AND 
				(		--4 Filial
						(AAC.Id_Filial IN (	SELECT	RFU.Id_Filial
											FROM	Rl_Perfil_Filial_Usuario RFU INNER JOIN Usuario US ON US.Id_Usuario = RFU.Id_Usuario 
											WHERE	RFU.Id_Usuario = @pId_Usuario
													AND US.Id_Usuario_Perfil_Acesso = 4)
						OR NOT EXISTS
						(SELECT	RFU.Id_Filial
						FROM	Rl_Perfil_Filial_Usuario RFU INNER JOIN Usuario US ON US.Id_Usuario = RFU.Id_Usuario 
						WHERE	RFU.Id_Usuario = @pId_Usuario
								AND US.Id_Usuario_Perfil_Acesso = 4))
				AND
						--5 Centro de Custo
						(AAC.Id_Centro_Custo IN (	SELECT	RCU.Id_Centro_Custo 
													FROM	Rl_Perfil_Centro_Custo_Usuario RCU INNER JOIN Usuario US ON US.Id_Usuario = RCU.Id_Usuario
													WHERE	RCU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 5)
						OR NOT EXISTS
						(SELECT	RCU.Id_Centro_Custo 
						FROM	Rl_Perfil_Centro_Custo_Usuario RCU INNER JOIN Usuario US ON US.Id_Usuario = RCU.Id_Usuario
						WHERE	RCU.Id_Usuario = @pId_Usuario
								AND US.Id_Usuario_Perfil_Acesso = 5))
				AND
						--6 Departamento
						(AAC.Id_Departamento IN (	SELECT	RDU.Id_Departamento   
													FROM	Rl_Perfil_Departamento_Usuario RDU	INNER JOIN Usuario US ON US.Id_Usuario = RDU.Id_Usuario
													WHERE	RDU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 6)
						OR NOT EXISTS
						(SELECT	RDU.Id_Departamento   
						FROM	Rl_Perfil_Departamento_Usuario RDU	INNER JOIN Usuario US ON US.Id_Usuario = RDU.Id_Usuario
						WHERE	RDU.Id_Usuario = @pId_Usuario
								AND US.Id_Usuario_Perfil_Acesso = 6))
				AND
						 --7 Setor 
						(AAC.Id_Setor IN (	SELECT	RSU.Id_Setor
											FROM	Rl_Perfil_Setor_Usuario RSU INNER JOIN Usuario US ON US.Id_Usuario = RSU.Id_Usuario
											WHERE	RSU.Id_Usuario = @pId_Usuario
													AND US.Id_Usuario_Perfil_Acesso = 7)
						OR NOT EXISTS
						(SELECT	RDU.Id_Setor   
						FROM	Rl_Perfil_Setor_Usuario RDU	INNER JOIN Usuario US ON US.Id_Usuario = RDU.Id_Usuario
						WHERE	RDU.Id_Usuario = @pId_Usuario
								AND US.Id_Usuario_Perfil_Acesso = 6))
				AND
						--8 Secao
						(AAC.Id_Secao IN (	SELECT	DISTINCT RSS.Id_Secao  
											FROM	Rl_Perfil_Secao_Usuario RSS	INNER JOIN Usuario US ON US.Id_Usuario = RSS.Id_Usuario
											WHERE	RSS.Id_Usuario = @pId_Usuario
													AND US.Id_Usuario_Perfil_Acesso = 8)
						OR NOT EXISTS
						(SELECT	RSS.Id_Secao
						FROM	Rl_Perfil_Secao_Usuario RSS	INNER JOIN Usuario US ON US.Id_Usuario = RSS.Id_Usuario
						WHERE	RSS.Id_Usuario = @pId_Usuario
								AND US.Id_Usuario_Perfil_Acesso = 8))
				)
				AND LT.Dt_Lote >= @pMesDE AND LT.Dt_Lote <= @pMesATE
				AND ATG.Nm_Ativo_Tipo_Grupo = @pGrupoTipoAtivo
		GROUP BY	LT.Id_Lote,
					LT.Dt_Lote,
					LT.Trafego,
					AT.Nr_Ativo,
					CG.Nm_Conglomerado,
					AT.Id_Ativo,
					AT.Id_Ativo_Tipo,
					ATP.Nm_Ativo_Tipo,
					ATP.Id_Ativo_Tipo, 
					ATG.Nm_Ativo_Tipo_Grupo,
					CO.Nm_Consumidor,
					CO.Id_Consumidor,
					US.Id_Usuario,
					US.Nm_Usuario,
					CO.Id_Filial,
					REPLACE(FI.Nm_Filial,'&',''),
					CO.Id_Centro_Custo,
					REPLACE(CC.Cd_Centro_Custo,'&',''),
					CO.Id_Departamento,
					REPLACE(DP.Nm_Departamento,'&',''),
					CO.Id_Setor,
					REPLACE(ST.Nm_Setor,'&',''),
					CO.Id_Secao,
					REPLACE(SC.Nm_Secao,'&',''),
					Valor_Politica,
					RAU.Dt_Hr_Ativacao, 
					RAU.Dt_Hr_Desativacao

	RETURN 
END
GO
