USE [Fresenius]
GO
/****** Object:  UserDefinedFunction [dbo].[fu_Consumo_Dados_App]    Script Date: 7/31/2025 10:50:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fu_Consumo_Dados_App] (	@pId_Usuario	INT			= NULL,
												@pMes			VARCHAR(10)	= NULL)

RETURNS @Dados TABLE (	Registro VARCHAR(50),
						Id_Aplicativo INT,
						Id_Ativo INT,
						Nr_Ativo VARCHAR(50),
						Id_Conglomerado INT,
						Nm_Conglomerado VARCHAR(50),
						Id_Ativo_Tipo INT,
						Nm_Ativo_Tipo VARCHAR(50),
						Id_Consumidor INT,
						Nm_Consumidor VARCHAR(50),
						Id_Usuario INT,
						Nm_Usuario VARCHAR(50),
						Id_Filial INT,
						Nm_Filial VARCHAR(50),
						Id_Centro_Custo INT,
						Cd_Centro_Custo VARCHAR(50),
						Id_Departamento INT,
						Nm_Departamento VARCHAR(50),
						Id_Setor INT,
						Nm_Setor VARCHAR(50),
						Id_Secao INT,
						Nm_Secao VARCHAR(50),
						Final_Semana INT,
						Fora_Horario INT,
						Dentro_Horario INT,
						Data DATETIME,
						Nm_Aplicativo VARCHAR(50),	
						Pacote_MB INT,
						Corte_De VARCHAR(2), 
						Corte_Ate VARCHAR(2),
						Consumo_Calculado DECIMAL(10,4)) AS
BEGIN
	INSERT INTO @Dados
	SELECT	'Dados_App' AS Registro,
			Id_Aplicativo,
			AT.Id_Ativo,
			AT.Nr_Ativo,
			CG.Id_Conglomerado,
			CG.Nm_Conglomerado,
			ATP.Id_Ativo_Tipo,
			ATP.Nm_Ativo_Tipo,
			CO.Id_Consumidor,
			CO.Nm_Consumidor,
			US.Id_Usuario,
			US.Nm_Usuario,
			CO.Id_Filial,
			REPLACE(FI.Nm_Filial,'&','') AS Nm_Filial,
			CO.Id_Centro_Custo,
			REPLACE(CC.Cd_Centro_Custo,'&','') Cd_Centro_Custo,
			------------------------
			(SELECT	TOP 1 SRCP.Id_Departamento
			FROM	Rl_Hi_Centro_Custo_Departamento SRCP
			WHERE	SRCP.Id_Centro_Custo = CO.Id_Centro_Custo) AS Id_Departamento,
			(SELECT	TOP 1 REPLACE(Nm_Departamento,'&','') 
			FROM	Rl_Hi_Centro_Custo_Departamento SRCP INNER JOIN Departamento SDP ON SDP.Id_Departamento = SRCP.Id_Departamento
			WHERE	SRCP.Id_Centro_Custo = CO.Id_Centro_Custo) AS Nm_Departamento,
			---------------------------
			(SELECT	TOP 1 SRDS.Id_Setor
			FROM	Rl_Hi_Centro_Custo_Departamento SRCP INNER JOIN Rl_Hi_Departamento_Setor SRDS ON SRDS.Id_Departamento = SRCP.Id_Departamento
			WHERE	SRCP.Id_Centro_Custo = CO.Id_Centro_Custo) AS Id_Setor,
			(SELECT	TOP 1 REPLACE(SST.Nm_Setor,'&','') 
			FROM	Rl_Hi_Centro_Custo_Departamento SRCP	INNER JOIN Rl_Hi_Departamento_Setor SRDS ON SRDS.Id_Departamento = SRCP.Id_Departamento
															INNER JOIN Setor SST ON SST.Id_Setor = SRDS.Id_Setor
			WHERE	SRCP.Id_Centro_Custo = CO.Id_Centro_Custo) AS Nm_Setor,
			-------------------------
			(SELECT	TOP 1 SRSS.Id_Secao
			FROM	Rl_Hi_Setor_Secao SRSS
			WHERE	SRSS.Id_Setor IN(	SELECT	SRDS.Id_Setor
										FROM	Rl_Hi_Centro_Custo_Departamento SRCP INNER JOIN Rl_Hi_Departamento_Setor SRDS ON SRDS.Id_Departamento = SRCP.Id_Departamento 
										WHERE	Id_Centro_Custo IN (CO.Id_Centro_Custo))) AS Id_Secao,
			(SELECT	TOP 1 REPLACE(SSC.Nm_Secao,'&','')
			FROM	Rl_Hi_Setor_Secao SRSS INNER JOIN Secao SSC ON SSC.Id_Secao = SRSS.Id_Secao
			WHERE	SRSS.Id_Setor IN (	SELECT	SRDS.Id_Setor
										FROM	Rl_Hi_Centro_Custo_Departamento SRCP INNER JOIN Rl_Hi_Departamento_Setor SRDS ON SRDS.Id_Departamento = SRCP.Id_Departamento 
										WHERE	Id_Centro_Custo IN (CO.Id_Centro_Custo))) AS Nm_Secao,
			-----atualiza final semana
			CASE WHEN DATEPART(DW,AATA.Data) IN (1,7) THEN 1 ELSE 0 END Final_Semana,
			-----atualiza fora horario
			CASE WHEN NOT DATEPART(DW,AATA.Data) IN (1,7) AND (CONVERT(FLOAT,REPLACE(CONVERT(VARCHAR(5), AATA.Data,108),':','')) < 600 or CONVERT(FLOAT,REPLACE(CONVERT(VARCHAR(5), AATA.Data,108),':','')) > 1800) THEN 1 ELSE 0 END Fora_Horario,
			-----atualiza dentro horario
			CASE WHEN NOT DATEPART(DW,AATA.Data) IN (1,7) AND (CONVERT(FLOAT,REPLACE(CONVERT(VARCHAR(5), AATA.Data,108),':','')) >= 600 AND CONVERT(FLOAT,REPLACE(CONVERT(VARCHAR(5), AATA.Data,108),':','')) <= 1800) THEN 1 ELSE 0 END Dentro_Horario,
			CONVERT(VARCHAR(12),AATA.Data,120) + ':00:00' AS Data,
			AATA.Nm_Aplicativo,	
			AAT.Pacote_MB,
			AAT.Corte_De, 
			AAT.Corte_Ate,
			SUM(Consumo_Calculado) Consumo_Calculado
	FROM	Ativo_App_Trafego_Aplicativo AATA	INNER JOIN Ativo_App_Trafego AAT ON AATA.Id_Ativo = AAT.Id_Ativo
												INNER JOIN vw_Ativo AT on AT.Id_Ativo = AAT.Id_Ativo
												INNER JOIN vw_Alocacao_Ativo_Consumidor AAC ON AAC.Id_Ativo = AATA.Id_Ativo
												INNER JOIN vw_Ativo_Tipo ATP ON ATP.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
												INNER JOIN vw_Conglomerado CG ON CG.Id_Conglomerado = AT.Id_Conglomerado
												INNER JOIN vw_Consumidor CO ON CO.Id_Consumidor = AAC.Id_Consumidor
												INNER JOIN Filial FI ON FI.Id_Filial = AAC.Id_Filial
												INNER JOIN Centro_Custo CC ON CC.Id_Centro_Custo = AAC.Id_Centro_Custo
												LEFT JOIN Usuario US ON US.Id_Consumidor = CO.Id_Consumidor
												LEFT JOIN Rl_Perfil_Ativo_Usuario RAU ON (RAU.Id_Usuario = US.Id_Usuario AND RAU.Id_Ativo = AT.Id_Ativo)
												LEFT JOIN Departamento DP ON DP.Id_Departamento = AAC.Id_Departamento
												LEFT JOIN Setor ST ON ST.Id_Setor = AAC.Id_Setor
												LEFT JOIN Secao SC ON SC.Id_Secao = AAC.Id_Secao
	WHERE	
			--Data > DATEADD(MONTH, -1, CONVERT(DATETIME,CONVERT(VARCHAR(6),@pMes) + RIGHT('00' + CONVERT(VARCHAR(2),AAT.Corte_De),2)))
			--AND Data < CONVERT(DATETIME,CONVERT(VARCHAR(6),@pMes) + RIGHT('00' + CONVERT(VARCHAR(2),AAT.Corte_Ate),2)) 			
			--AND 
				AAC.Id_Centro_Custo IN( SELECT	Id_Centro_Custo 
										FROM	(	SELECT	DISTINCT HFC.Id_Centro_Custo --4 Filial
													FROM	Rl_Perfil_Filial_Usuario RFU	INNER JOIN Usuario US ON US.Id_Usuario = RFU.Id_Usuario 
																							INNER JOIN Rl_Hi_Filial_Centro_Custo HFC ON RFU.Id_Filial = HFC.Id_Filial 
													WHERE	RFU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 4
													UNION ALL 
													SELECT	DISTINCT RCU.Id_Centro_Custo --5 Centro de Custo
													FROM	Rl_Perfil_Centro_Custo_Usuario RCU INNER JOIN Usuario US ON US.Id_Usuario = RCU.Id_Usuario
													WHERE	RCU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 5
													UNION ALL 
													SELECT	DISTINCT HCD.Id_Centro_Custo --6 Departamento  
													FROM	Rl_Perfil_Departamento_Usuario RDU	INNER JOIN Usuario US ON US.Id_Usuario = RDU.Id_Usuario
																								INNER JOIN Rl_Hi_Centro_Custo_Departamento HCD ON RDU.Id_Departamento = HCD.Id_Departamento
													WHERE	RDU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 6
													UNION ALL 
													SELECT	DISTINCT HCD.Id_Centro_Custo --7 Setor 
													FROM	Rl_Perfil_Setor_Usuario RSU INNER JOIN Usuario US ON US.Id_Usuario = RSU.Id_Usuario
																						INNER JOIN Rl_Hi_Departamento_Setor HDS ON RSU.Id_Setor = HDS.Id_Setor
																						INNER JOIN Rl_Hi_Centro_Custo_Departamento HCD ON HCD.Id_Departamento = HDS.Id_Departamento
													WHERE	RSU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 7
													UNION ALL 
													SELECT	DISTINCT HCD.Id_Centro_Custo --8 Secao 
													FROM	Rl_Perfil_Secao_Usuario RSS	INNER JOIN Usuario US ON US.Id_Usuario = RSS.Id_Usuario
																						INNER JOIN Rl_Hi_Setor_Secao HSS ON RSS.Id_Secao = HSS.Id_Secao
																						INNER JOIN Rl_Hi_Departamento_Setor HDS ON HSS.Id_Setor = HDS.Id_Setor
																						INNER JOIN Rl_Hi_Centro_Custo_Departamento HCD ON HCD.Id_Departamento = HDS.Id_Departamento
													WHERE	RSS.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 8) AS CDC)
				AND 
				(		--4 Filial
						(AAC.Id_Filial IN (	SELECT	RFU.Id_Filial
											FROM	Rl_Perfil_Filial_Usuario RFU INNER JOIN Usuario US ON US.Id_Usuario = RFU.Id_Usuario 
											WHERE	RFU.Id_Usuario = @pId_Usuario
													AND US.Id_Usuario_Perfil_Acesso = 4)
						OR NOT EXISTS
						(SELECT	RFU.Id_Filial
						FROM	Rl_Perfil_Filial_Usuario RFU INNER JOIN Usuario US ON US.Id_Usuario = RFU.Id_Usuario 
						WHERE	RFU.Id_Usuario = @pId_Usuario
								AND US.Id_Usuario_Perfil_Acesso = 4))
				AND
						--5 Centro de Custo
						(AAC.Id_Centro_Custo IN (	SELECT	RCU.Id_Centro_Custo 
													FROM	Rl_Perfil_Centro_Custo_Usuario RCU INNER JOIN Usuario US ON US.Id_Usuario = RCU.Id_Usuario
													WHERE	RCU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 5)
						OR NOT EXISTS
						(SELECT	RCU.Id_Centro_Custo 
						FROM	Rl_Perfil_Centro_Custo_Usuario RCU INNER JOIN Usuario US ON US.Id_Usuario = RCU.Id_Usuario
						WHERE	RCU.Id_Usuario = @pId_Usuario
								AND US.Id_Usuario_Perfil_Acesso = 5))
				AND
						--6 Departamento
						(AAC.Id_Departamento IN (	SELECT	RDU.Id_Departamento   
													FROM	Rl_Perfil_Departamento_Usuario RDU	INNER JOIN Usuario US ON US.Id_Usuario = RDU.Id_Usuario
													WHERE	RDU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 6)
						OR NOT EXISTS
						(SELECT	RDU.Id_Departamento   
						FROM	Rl_Perfil_Departamento_Usuario RDU	INNER JOIN Usuario US ON US.Id_Usuario = RDU.Id_Usuario
						WHERE	RDU.Id_Usuario = @pId_Usuario
								AND US.Id_Usuario_Perfil_Acesso = 6))
				AND
							--7 Setor 
						(AAC.Id_Setor IN (	SELECT	RSU.Id_Setor
											FROM	Rl_Perfil_Setor_Usuario RSU INNER JOIN Usuario US ON US.Id_Usuario = RSU.Id_Usuario
											WHERE	RSU.Id_Usuario = @pId_Usuario
													AND US.Id_Usuario_Perfil_Acesso = 7)
						OR NOT EXISTS
						(SELECT	RDU.Id_Departamento   
						FROM	Rl_Perfil_Departamento_Usuario RDU	INNER JOIN Usuario US ON US.Id_Usuario = RDU.Id_Usuario
						WHERE	RDU.Id_Usuario = @pId_Usuario
								AND US.Id_Usuario_Perfil_Acesso = 6))
				AND
						--8 Secao
						(AAC.Id_Secao IN (	SELECT	DISTINCT RSS.Id_Secao  
											FROM	Rl_Perfil_Secao_Usuario RSS	INNER JOIN Usuario US ON US.Id_Usuario = RSS.Id_Usuario
											WHERE	RSS.Id_Usuario = @pId_Usuario
													AND US.Id_Usuario_Perfil_Acesso = 8)
						OR NOT EXISTS
						(SELECT	RSS.Id_Secao
						FROM	Rl_Perfil_Secao_Usuario RSS	INNER JOIN Usuario US ON US.Id_Usuario = RSS.Id_Usuario
						WHERE	RSS.Id_Usuario = @pId_Usuario
								AND US.Id_Usuario_Perfil_Acesso = 8))
				)
		GROUP BY	Id_Aplicativo,
					AT.Id_Ativo,
					AT.Nr_Ativo,
					CG.Id_Conglomerado,
					CG.Nm_Conglomerado,
					ATP.Id_Ativo_Tipo,
					ATP.Nm_Ativo_Tipo,
					CO.Id_Consumidor,
					CO.Nm_Consumidor,
					US.Id_Usuario,
					US.Nm_Usuario,
					CO.Id_Filial,
					REPLACE(FI.Nm_Filial,'&',''),
					CO.Id_Centro_Custo,
					REPLACE(CC.Cd_Centro_Custo,'&',''),
					CASE WHEN DATEPART(DW,AATA.Data) IN (1,7) THEN 1 ELSE 0 END,
					-----atualiza fora horario
					CASE WHEN NOT DATEPART(DW,AATA.Data) IN (1,7) AND (CONVERT(FLOAT,REPLACE(CONVERT(VARCHAR(5), AATA.Data,108),':','')) < 600 or CONVERT(FLOAT,REPLACE(CONVERT(VARCHAR(5), AATA.Data,108),':','')) > 1800) THEN 1 ELSE 0 END,
					-----atualiza dentro horario
					CASE WHEN NOT DATEPART(DW,AATA.Data) IN (1,7) AND (CONVERT(FLOAT,REPLACE(CONVERT(VARCHAR(5), AATA.Data,108),':','')) >= 600 AND CONVERT(FLOAT,REPLACE(CONVERT(VARCHAR(5), AATA.Data,108),':','')) <= 1800) THEN 1 ELSE 0 END,
					CONVERT(VARCHAR(12),AATA.Data,120) + ':00:00',
					AATA.Nm_Aplicativo,	
					AAT.Pacote_MB,
					AAT.Corte_De, 
					AAT.Corte_Ate,
					AAT.Qtd_Mes

	RETURN 
END
GO
