USE [branco]
GO
/****** Object:  UserDefinedFunction [dbo].[Fu_Caracter_SQL]    Script Date: 7/31/2025 10:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fu_Caracter_SQL] (@pTexto VARCHAR(MAX)) 
RETURNS VARCHAR(MAX)
AS
BEGIN
	-----formata os campos tipo e descricao do bilhete 
	DECLARE @pTexto_Retorno AS VARCHAR(MAX)
	
	SET @pTexto_Retorno = REPLACE(@pTexto,'''','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'(','-')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,')','')

	RETURN @pTexto_Retorno
END












GO
