USE [branco]
GO
/****** Object:  UserDefinedFunction [dbo].[fu_Permissao_Consulta]    Script Date: 7/31/2025 10:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fu_Permissao_Consulta] (	@pPakage					VARCHAR(200),
												@p_Id_Filtro_1				VARCHAR(MAX),
												@p_Id_Filtro_Filial			VARCHAR(MAX),
												@p_Id_Filtro_Usuario		INT,
												@p_Id_Filtro_Centro_Custo	VARCHAR(MAX),
												@p_Id_Filtro_Departamento	VARCHAR(MAX),
												@p_Id_Filtro_Setor			VARCHAR(MAX))

RETURNS @Ativo_Filtro TABLE (Id_Ativo_Filtro INT) AS
BEGIN
	-----@p_Id_Filtro_Usuario busca prefil de acesso do usuario 
	DECLARE @pId_Usuario_Permissao_Acesso INT
	SELECT @pId_Usuario_Permissao_Acesso = Id_Usuario_Perfil_Acesso 
	FROM Usuario WHERE Id_Usuario = @p_Id_Filtro_Usuario

	-----monta conjunto para filtro
	IF NOT (SELECT LEFT(@pPakage,5)) = 'Desc_'
	BEGIN
		DECLARE @Array VARCHAR(MAX)
		DECLARE @S VARCHAR(10)		
		-----filtro principal (filtro o qual o usuario e gestor)
		DECLARE @pTabela TABLE (T_Id INT)
		-----filtro segundario de filial
		DECLARE @pTabela_Filial TABLE (T_Id INT)
		-----filtro auxiliar 
		DECLARE @pTabela_Centro_Custo TABLE (T_Id INT)
		DECLARE @pTabela_Departamento TABLE (T_Id INT)
		DECLARE @pTabela_Setor TABLE (T_Id INT)
		DECLARE @pTabela_Secao TABLE (T_Id INT)

		-----lista Filtro_1
		SELECT @Array = @p_Id_Filtro_1
		IF LEN(@Array) > 0 SET @Array = @Array + ',' 
		WHILE LEN(@Array) > 0
		BEGIN
			SELECT @S = LTRIM(SUBSTRING(@Array, 1, CHARINDEX(',', @Array) - 1))
			INSERT INTO @pTabela VALUES (@S)
			SELECT @Array = SUBSTRING(@Array, CHARINDEX(',', @Array) + 1, LEN(@Array))
		END

		-----lista Filtro_Filial
		SELECT @Array = @p_Id_Filtro_Filial
		IF LEN(@Array) > 0 SET @Array = @Array + ',' 
		WHILE LEN(@Array) > 0
		BEGIN
			SELECT @S = LTRIM(SUBSTRING(@Array, 1, CHARINDEX(',', @Array) - 1))
			INSERT INTO @pTabela_Filial VALUES (@S)
			SELECT @Array = SUBSTRING(@Array, CHARINDEX(',', @Array) + 1, LEN(@Array))
		END

		-----lista Filtro_Centro_Custo
		SELECT @Array = @p_Id_Filtro_Centro_Custo
		IF LEN(@Array) > 0 SET @Array = @Array + ',' 
		WHILE LEN(@Array) > 0
		BEGIN
			SELECT @S = LTRIM(SUBSTRING(@Array, 1, CHARINDEX(',', @Array) - 1))
			INSERT INTO @pTabela_Centro_Custo VALUES (@S)
			SELECT @Array = SUBSTRING(@Array, CHARINDEX(',', @Array) + 1, LEN(@Array))
		END

		-----lista Filtro_Departamento
		SELECT @Array = @p_Id_Filtro_Departamento
		IF LEN(@Array) > 0 SET @Array = @Array + ',' 
		WHILE LEN(@Array) > 0
		BEGIN
			SELECT @S = LTRIM(SUBSTRING(@Array, 1, CHARINDEX(',', @Array) - 1))
			INSERT INTO @pTabela_Departamento VALUES (@S)
			SELECT @Array = SUBSTRING(@Array, CHARINDEX(',', @Array) + 1, LEN(@Array))
		END		
		
		-----lista Filtro_Departamento
		SELECT @Array = @p_Id_Filtro_Departamento
		IF LEN(@Array) > 0 SET @Array = @Array + ',' 
		WHILE LEN(@Array) > 0
		BEGIN
			SELECT @S = LTRIM(SUBSTRING(@Array, 1, CHARINDEX(',', @Array) - 1))
			INSERT INTO @pTabela_Departamento VALUES (@S)
			SELECT @Array = SUBSTRING(@Array, CHARINDEX(',', @Array) + 1, LEN(@Array))
		END	

		-----lista Filtro_Setor
		SELECT @Array = @p_Id_Filtro_Setor
		IF LEN(@Array) > 0 SET @Array = @Array + ',' 
		WHILE LEN(@Array) > 0
		BEGIN
			SELECT @S = LTRIM(SUBSTRING(@Array, 1, CHARINDEX(',', @Array) - 1))
			INSERT INTO @pTabela_Setor VALUES (@S)
			SELECT @Array = SUBSTRING(@Array, CHARINDEX(',', @Array) + 1, LEN(@Array))
		END
	END

	-----************************************************************************************************
	-----************************************************************************************************

	-----filtra ativo de filial--------------------------------------------------------------------------
	IF @pPakage = 'Filial' AND @pId_Usuario_Permissao_Acesso = 1 OR @pPakage = 'Filial' AND @pId_Usuario_Permissao_Acesso = 4
	BEGIN
		DELETE FROM @Ativo_Filtro
		INSERT INTO @Ativo_Filtro (Id_Ativo_Filtro)
		SELECT	AAC.Id_Ativo
		FROM	vw_Alocacao_Ativo_Consumidor AAC
		WHERE	AAC.Id_Filial IN ( SELECT * FROM @pTabela )
		GROUP BY AAC.Id_Ativo
	END

	-----filtra ativo de centro de custo------------------------------------------------------------------
	IF @pPakage = 'Centro_Custo' AND @pId_Usuario_Permissao_Acesso in(1,4,5) --OR @pPakage = 'Centro_Custo' AND @pId_Usuario_Permissao_Acesso = 5
	BEGIN	
		DELETE FROM @Ativo_Filtro
		INSERT INTO @Ativo_Filtro (Id_Ativo_Filtro)
		SELECT	AAC.Id_Ativo
		FROM	vw_Alocacao_Ativo_Consumidor AAC
		WHERE	AAC.Id_Centro_Custo IN (SELECT * FROM @pTabela)
				AND (AAC.Id_Filial	IN ( SELECT * FROM @pTabela_Filial )
				OR ( @pId_Usuario_Permissao_Acesso	= 1 AND NOT EXISTS(SELECT * FROM @pTabela_Filial)
					 OR AAC.Id_Filial IN (	SELECT	Id_Filial 
											FROM	Rl_Perfil_Filial_Usuario 
											WHERE	Id_Usuario = @p_Id_Filtro_Usuario)))
		GROUP BY AAC.Id_Ativo
	END

	-----filtra ativo de departamento---------------------------------------------------------------------
	IF @pPakage = 'Departamento' AND @pId_Usuario_Permissao_Acesso in (1,4,5,6) --OR @pPakage = 'Departamento' AND @pId_Usuario_Permissao_Acesso = 6
	BEGIN
		DELETE FROM @Ativo_Filtro	
		INSERT INTO @Ativo_Filtro (Id_Ativo_Filtro)
		SELECT	AAC.Id_Ativo
		FROM	vw_Alocacao_Ativo_Consumidor AAC
		WHERE	AAC.Id_Departamento IN (SELECT * FROM @pTabela)
				AND (AAC.Id_Filial	IN ( SELECT * FROM @pTabela_Filial ) 
				AND AAC.Id_Centro_Custo IN ( SELECT * FROM @pTabela_Centro_Custo)
				OR ( @pId_Usuario_Permissao_Acesso = 1 AND NOT EXISTS(SELECT * FROM @pTabela_Filial)
					 OR AAC.Id_Filial IN (	SELECT	Id_Filial 
											FROM	Rl_Perfil_Filial_Usuario 
											WHERE	Id_Usuario = @p_Id_Filtro_Usuario)))
		GROUP BY AAC.Id_Ativo
	END

	-----filtra ativo de setor---------------------------------------------------------------------------
	IF @pPakage = 'Setor' AND @pId_Usuario_Permissao_Acesso in (1,4,5,6,7) --OR @pPakage = 'Setor' AND @pId_Usuario_Permissao_Acesso = 7
	BEGIN
		DELETE FROM @Ativo_Filtro	
		INSERT INTO @Ativo_Filtro (Id_Ativo_Filtro)
		SELECT	AAC.Id_Ativo
		FROM	vw_Alocacao_Ativo_Consumidor AAC
		WHERE	AAC.Id_Setor IN (SELECT * FROM @pTabela)
				AND (AAC.Id_Filial	IN ( SELECT * FROM @pTabela_Filial)
				AND AAC.Id_Centro_Custo IN ( SELECT * FROM @pTabela_Centro_Custo)
				AND AAC.Id_Departamento IN ( SELECT * FROM @pTabela_Departamento)
				OR ( @pId_Usuario_Permissao_Acesso = 1 AND NOT EXISTS(SELECT * FROM @pTabela_Filial)
					 OR AAC.Id_Filial IN (	SELECT	Id_Filial 
											FROM	Rl_Perfil_Filial_Usuario 
											WHERE	Id_Usuario = @p_Id_Filtro_Usuario)))
		GROUP BY AAC.Id_Ativo
	END

	-----filtra ativo de secao--------------------------------------------------------------------------
	IF @pPakage = 'Secao' AND @pId_Usuario_Permissao_Acesso in (1,4,5,6,7,8) --OR  @pPakage = 'Secao' AND @pId_Usuario_Permissao_Acesso = 8
	BEGIN
		DELETE FROM @Ativo_Filtro
		INSERT INTO @Ativo_Filtro (Id_Ativo_Filtro)
		SELECT	AAC.Id_Ativo
		FROM	vw_Alocacao_Ativo_Consumidor AAC
		WHERE	AAC.Id_Secao IN (SELECT * FROM @pTabela)
				AND (AAC.Id_Filial IN ( SELECT * FROM @pTabela_Filial )
				AND AAC.Id_Centro_Custo IN ( SELECT * FROM @pTabela_Centro_Custo)
				AND AAC.Id_Departamento IN ( SELECT * FROM @pTabela_Departamento)
				AND AAC.Id_Setor IN ( SELECT * FROM @pTabela_Setor)
				OR (@pId_Usuario_Permissao_Acesso = 1 AND NOT EXISTS(SELECT * FROM @pTabela_Filial)
					 OR AAC.Id_Filial IN (	SELECT	Id_Filial 
											FROM	Rl_Perfil_Filial_Usuario 
											WHERE	Id_Usuario = @p_Id_Filtro_Usuario)))
		GROUP BY AAC.Id_Ativo
	END

	-----filtra ativo de consumidor--------------------------------------------------------------------
	IF @pPakage = 'Consumidor' --AND @pId_Usuario_Permissao_Acesso = 1 OR @pId_Usuario_Permissao_Acesso = 3 OR @pId_Usuario_Permissao_Acesso = 9
	BEGIN
		DELETE FROM @Ativo_Filtro
		INSERT INTO @Ativo_Filtro (Id_Ativo_Filtro)
		SELECT	AAC.Id_Ativo
		FROM	vw_Alocacao_Ativo_Consumidor AAC
		WHERE	AAC.Id_Consumidor IN ( SELECT * FROM @pTabela )
				AND (AAC.Id_Filial	IN ( SELECT * FROM @pTabela_Filial )
				OR ( @pId_Usuario_Permissao_Acesso = 1 AND NOT EXISTS(SELECT * FROM @pTabela_Filial)
					 OR AAC.Id_Filial IN (	SELECT	Id_Filial 
											FROM	Rl_Perfil_Filial_Usuario 
											WHERE	Id_Usuario = @p_Id_Filtro_Usuario)))
		GROUP BY AAC.Id_Ativo
	END
	IF @pPakage = 'Desc_Consumidor'
	BEGIN
		DELETE FROM @Ativo_Filtro
		INSERT INTO @Ativo_Filtro (Id_Ativo_Filtro)
		SELECT	AAC.Id_Ativo
		FROM	vw_Alocacao_Ativo_Consumidor AAC 
				INNER JOIN vw_Consumidor CO ON (AAC.Id_Consumidor = CO.Id_Consumidor)
		WHERE	((@pId_Usuario_Permissao_Acesso = 1 )
				OR	(AAC.Id_Consumidor IN (	SELECT Id_Consumidor
												FROM (	SELECT Id_Consumidor FROM Rl_Perfil_Consumidor_Usuario WHERE Id_Usuario = @p_Id_Filtro_Usuario
														UNION
														SELECT DISTINCT Id_Consumidor FROM vw_Consumidor WHERE Id_Filial IN (SELECT Id_Filial FROM Rl_Perfil_Filial_Usuario WHERE 4 = @pId_Usuario_Permissao_Acesso AND Id_Usuario = @p_Id_Filtro_Usuario)
														UNION
														SELECT DISTINCT Id_Consumidor FROM vw_Consumidor WHERE Id_Centro_Custo IN (SELECT Id_Centro_Custo FROM Rl_Perfil_Centro_Custo_Usuario WHERE 5 = @pId_Usuario_Permissao_Acesso AND Id_Usuario = @p_Id_Filtro_Usuario)
														UNION
														SELECT DISTINCT Id_Consumidor FROM vw_Consumidor WHERE Id_Departamento IN (SELECT Id_Departamento FROM Rl_Perfil_Departamento_Usuario WHERE 6 = @pId_Usuario_Permissao_Acesso AND Id_Usuario = @p_Id_Filtro_Usuario)
														UNION
														SELECT DISTINCT Id_Consumidor FROM vw_Consumidor WHERE Id_Setor IN (SELECT Id_Setor FROM Rl_Perfil_Setor_Usuario WHERE 7 = @pId_Usuario_Permissao_Acesso AND Id_Usuario = @p_Id_Filtro_Usuario)
														UNION
														SELECT DISTINCT Id_Consumidor FROM vw_Consumidor WHERE Id_Secao IN (SELECT Id_Secao FROM Rl_Perfil_Secao_Usuario WHERE 8 = @pId_Usuario_Permissao_Acesso AND Id_Usuario = @p_Id_Filtro_Usuario)) Valida_Permissao)
					))
				AND CO.Nm_Consumidor LIKE '%' + @p_Id_Filtro_1 + '%'
		GROUP BY AAC.Id_Ativo
	END

	-------------------------------------------------------------------------------------
	-----filtro para lote usuario
	-------------------------------------------------------------------------------------
	-----filtra ativo de usuario
	IF @pPakage = 'Usuario'
	BEGIN
		INSERT INTO @Ativo_Filtro (Id_Ativo_Filtro)		
		SELECT	AAC.Id_Ativo
		FROM	vw_Alocacao_Ativo_Consumidor AAC
		WHERE	AAC.Id_Consumidor IN (	SELECT	Id_Consumidor 
										FROM	Usuario 
										WHERE	Id_Usuario IN ( SELECT * FROM @pTabela ))
		GROUP BY AAC.Id_Ativo
	END

	RETURN 
END

GO
