USE [branco]
GO
/****** Object:  UserDefinedFunction [dbo].[Fu_Link_HTTP]    Script Date: 7/31/2025 10:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fu_Link_HTTP] (	@pPagina	AS VARCHAR(50),
										@pID		AS VARCHAR(10),
										@pRaiz		AS VARCHAR(4)) 
RETURNS VARCHAR(8000)
AS
BEGIN
	DECLARE @pTexto_Retorno AS VARCHAR(8000)
		
	SELECT	@pTexto_Retorno = CASE WHEN @pRaiz = 'RAIZ' THEN '../' ELSE '' END + Link + 
			CASE WHEN @pID = 'NULL' THEN '' ELSE '?ID=' + @pID END
	FROM	Si_Tela
	WHERE	Pagina = @pPagina

	RETURN @pTexto_Retorno
END










GO
