USE [K2A]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Log_Consumidor]    Script Date: 7/31/2025 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   PROCEDURE [dbo].[cn_T_Log_Consumidor] (@pPakage					VARCHAR(200),
											@pPakage_Filtro				VARCHAR(200)	= NULL,
											@pId_Filtro_1				VARCHAR(MAX)	= NULL,
											@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
											@pId_Filtro_Usuario			INT				= NULL,
											@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
											@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
											@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
											@pDt_LoteDe					VARCHAR(6)		= NULL,
											@pDt_LoteAte				VARCHAR(6)		= NULL,
											@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS

	select 

altera.Id_Consumidor,
altera.Matricula as  [ Matricula] ,
altera.Nm_Consumidor as [Nome Consumidor] ,
altera.Nm_Usuario as [Nome de Usuario],
f1.Nm_Filial as [Filial De],
cc1.Cd_Centro_Custo as [ Centro Custo De],
f2.Nm_Filial as [Filial Para],
cc2.Cd_Centro_Custo as  [Centro Custo Para],

altera.Dt_Alteracao as [ Data alteracao]

--into #Temp_Export
--select * 
from Log_Alteracao_Cadastro_Consumidor altera

inner join Centro_Custo as CC1 on cc1.Id_Centro_Custo = altera.Cd_Centro_Custo_De
inner join Centro_Custo CC2 on cc2.Id_Centro_Custo = altera.Cd_Centro_Custo_Para
inner join Filial as F1 on f1.Id_Filial = altera.Nm_Filial_De
inner join Filial as F2 on f2.Id_Filial  = altera.Nm_Filial_Para





WHERE	(substring(convert(varchar, altera.Dt_Alteracao, 105),7,4)+substring(convert(varchar, altera.Dt_Alteracao, 105),4,2)) = @pDt_LoteDe
--where altera.Dt_Alteracao > '2022-01-01'
--order by altera.Dt_Alteracao desc 
	
-----exportacao
IF @pPakage = 'sp_Estoque_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Estoque'
BEGIN
	SELECT * FROM #Temp_Export
END
GO
