USE [K2A]
GO
/****** Object:  StoredProcedure [dbo].[cg_inv_Importar]    Script Date: 7/31/2025 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cg_inv_Importar] AS
BEGIN
	--------------------------------------------------------------------------------------------------------------------
	--------------------------------------------------------------------------------------------------------------------
	-----monta estrutura
	-----aborta carga caso encontre problema com algum dos campos obrigatorios
	--------------------------------------------------------------------------------------------------------------------
	--------------------------------------------------------------------------------------------------------------------
	DECLARE @v_Valida_Campo_Obrigatorio VARCHAR(100)
	SET @v_Valida_Campo_Obrigatorio = 'CARGA OK'

	IF EXISTS(SELECT * FROM Cg_INV_Arquivo_Temp WHERE REPLACE(Linha,' ', '') = '' OR Linha IS NULL)
		SET @v_Valida_Campo_Obrigatorio = 'Coluna Linha em branco'
	
	IF EXISTS(SELECT * FROM Cg_INV_Arquivo_Temp WHERE REPLACE(Tipo,' ', '') = '' OR Tipo IS NULL) 
		SET @v_Valida_Campo_Obrigatorio = 'Coluna Tipo em branco'
	
	IF EXISTS(SELECT * FROM Cg_INV_Arquivo_Temp WHERE REPLACE(Conglomerado,' ', '') = '' OR Conglomerado IS NULL) 
		SET @v_Valida_Campo_Obrigatorio = 'Coluna Conglomerado em branco'

	IF EXISTS(SELECT * FROM Cg_INV_Arquivo_Temp WHERE LEN(Linha) > 50) 
		SET @v_Valida_Campo_Obrigatorio = 'Estouro de caracter na coluna Linha'
	
	IF EXISTS(SELECT * FROM Cg_INV_Arquivo_Temp WHERE LEN(Conglomerado) > 50) 
		SET @v_Valida_Campo_Obrigatorio = 'Estouro de caracter na coluna Conglomerado'
		
	IF EXISTS(SELECT * FROM Cg_INV_Arquivo_Temp WHERE LEN(Tipo) > 50) 
		SET @v_Valida_Campo_Obrigatorio = 'Estouro de caracter na coluna Tipo'		

	IF EXISTS(SELECT * FROM Cg_INV_Arquivo_Temp WHERE LEN(Matricula) > 20) 
		SET @v_Valida_Campo_Obrigatorio = 'Estouro de caracter na coluna Matricula'
		
	IF EXISTS(SELECT * FROM Cg_INV_Arquivo_Temp WHERE LEN(Observacao) > 8000) 
		SET @v_Valida_Campo_Obrigatorio = 'Estouro de caracter na coluna Observação'
		
	IF EXISTS(SELECT * FROM Cg_INV_Arquivo_Temp WHERE LEN(Data_Suspensao) > 10) 
		SET @v_Valida_Campo_Obrigatorio = 'Estouro de caracter na coluna Data Suspensão'
	
	IF EXISTS(SELECT * FROM Cg_INV_Arquivo_Temp WHERE ISDATE(Data_Suspensao) = 0 AND NOT Data_Suspensao = '') 
		SET @v_Valida_Campo_Obrigatorio = 'Data Inválida na coluna Data Suspensão'		
		
	IF EXISTS(SELECT * FROM Cg_INV_Arquivo_Temp WHERE LEN(Modelo) > 50) 
		SET @v_Valida_Campo_Obrigatorio = 'Estouro de caracter na coluna Modelo'				

	IF @v_Valida_Campo_Obrigatorio = 'CARGA OK' 
	BEGIN
		DECLARE @v_CHIP INT
		SET @v_CHIP = 0
		-----valida caso linha so tenha chip no cadastro de ativo complemento
		IF (SELECT COUNT(AT.Id_Ativo_Tipo) FROM Cg_INV_Arquivo_Temp IAV INNER JOIN Ativo_Tipo AT ON IAV.Tipo = AT.Nm_Ativo_Tipo) > 1
		BEGIN
			SET @v_CHIP = 1
		END 
	
		-----atuliza chip
		IF @v_CHIP = 0 
		BEGIN
			UPDATE	Ativo
			SET		Ativo_Complemento = 'CHIP¶' + IAV.CHIP
			FROM	Cg_INV_Arquivo_Temp IAV INNER JOIN Ativo A ON IAV.Linha = A.Nr_Ativo
		END 

		-----atualiza data de suspensao e observacao
		UPDATE	Ativo
		SET		-----suspensao
				Localidade = CASE WHEN IAV.Data_Suspensao IS NULL OR LTRIM(RTRIM(IAV.Data_Suspensao)) = '' THEN A.Localidade ELSE IAV.Data_Suspensao END,
				-----observacao
				Observacao = CASE WHEN IAV.Observacao IS NULL OR LTRIM(RTRIM(IAV.Observacao)) = '' THEN A.Observacao ELSE SUBSTRING(ISNULL(A.Observacao,'') + ' - ' + IAV.Observacao,1,8000) END,
				-----status
				Id_Ativo_Status = (SELECT TOP 1 Id_Ativo_Status FROM Ativo_Status WHERE Nm_Ativo_Status = IAV.Status_Ativo),
				-----modelo
				Id_Ativo_Modelo = (SELECT TOP 1 Id_Ativo_Modelo FROM Ativo_Modelo WHERE Nm_Ativo_Modelo = IAV.Modelo AND Id_Ativo_Tipo IN (SELECT SAT.Id_Ativo_Tipo FROM Cg_INV_Arquivo_Temp SIAV INNER JOIN Ativo_Tipo SAT ON SIAV.Tipo = SAT.Nm_Ativo_Tipo))
		FROM	Cg_INV_Arquivo_Temp IAV INNER JOIN Ativo A ON IAV.Linha = A.Nr_Ativo

		-----insere novo ativo	
		INSERT INTO ATIVO
		SELECT	DISTINCT Linha,
				NULL,
				(SELECT TOP 1 Id_Ativo_Tipo FROM Ativo_Tipo WHERE Nm_Ativo_Tipo = IAV.Tipo),
				(SELECT TOP 1 Id_Conglomerado FROM Conglomerado WHERE Nm_Conglomerado = IAV.Conglomerado),
				(SELECT TOP 1 Id_Ativo_Modelo FROM Ativo_Modelo WHERE Nm_Ativo_Modelo = IAV.Modelo),
				NULL,
				GETDATE(),
				IAV.Data_Suspensao,
				IAV.Observacao,
				'CHIP¶' + IAV.CHIP,
				(SELECT TOP 1 Id_Ativo_Status FROM Ativo_Status WHERE Nm_Ativo_Status = IAV.Status_Ativo),
				0
		FROM	Cg_INV_Arquivo_Temp IAV
		WHERE	NOT EXISTS(SELECT * FROM ATIVO WHERE NR_ATIVO = IAV.Linha AND Id_Conglomerado IN (SELECT Id_Conglomerado FROM Conglomerado WHERE Nm_Conglomerado = IAV.Conglomerado))

		-----lipa todo vinculo do ativo com o colaborador
		DELETE FROM Rl_Consumidor_Ativo WHERE Id_Ativo IN (SELECT Id_Ativo FROM Ativo WHERE Nr_Ativo IN (SELECT Linha FROM Cg_INV_Arquivo_Temp))

		-----vicula ativo ao consumidor
		INSERT INTO Rl_Consumidor_Ativo
		SELECT	DISTINCT C.Id_Consumidor, A.Id_Ativo
		FROM	Cg_INV_Arquivo_Temp IAV	INNER JOIN Ativo A ON (A.Nr_Ativo = IAV.Linha)
										INNER JOIN Consumidor C ON (C.Matricula = IAV.Matricula)
		WHERE	NOT EXISTS(SELECT * FROM Rl_Consumidor_Ativo WHERE Id_Consumidor = C.Id_Consumidor AND Id_Ativo = A.Id_Ativo)
				AND A.Id_Conglomerado IN (SELECT Id_Conglomerado FROM Conglomerado WHERE Nm_Conglomerado = IAV.Conglomerado)
				
		-----vicula ativo ao usuario
		INSERT INTO Rl_Perfil_Ativo_Usuario
		SELECT	RCA.Id_Ativo,
				CONVERT(DATETIME, '2000/01/01'),
				NULL,
				USU.Id_Usuario 
		FROM	Rl_Consumidor_Ativo RCA INNER JOIN Usuario USU ON (RCA.Id_Consumidor = USU.Id_Consumidor)
		WHERE	NOT EXISTS(SELECT * FROM Rl_Perfil_Ativo_Usuario WHERE Id_Ativo = RCA.Id_Ativo AND Id_Usuario = USU.Id_Usuario)
		
		-----desativa ativo no sistema
		UPDATE	Ativo
		SET		Fl_Desativado = 1
		FROM	Cg_INV_Arquivo_Temp IAV	INNER JOIN Ativo A ON (A.Nr_Ativo = IAV.Linha)
		WHERE	IAV.Status_Ativo = 'Cancelado'
		
		-----ativa ativo no sistema
		UPDATE	Ativo
		SET		Fl_Desativado = 0
		FROM	Cg_INV_Arquivo_Temp IAV	INNER JOIN Ativo A ON (A.Nr_Ativo = IAV.Linha)
		WHERE	IAV.Status_Ativo = 'Ativado'
		
	END
	-----passa status da carga
	SELECT @v_Valida_Campo_Obrigatorio AS Status_Carga
END
GO
