USE [K2A]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_MAPA_FATURAS_Universal_venc]    Script Date: 7/31/2025 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_MAPA_FATURAS_Universal_venc]

								(	@pPakage					VARCHAR(200),
									@pPakage_Filtro				VARCHAR(200)	= NULL,
									@pId_Filtro_1				VARCHAR(MAX)	= NULL,
									@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
									@pId_Filtro_Usuario			INT				= NULL,
									@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
									@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
									@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
									@pDt_LoteDe					VARCHAR(6)		= NULL,
									@pDt_LoteAte				VARCHAR(6)		= NULL,
									@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS

--vencimento
-- 1. Bases a excluir
DECLARE @Excluidos TABLE (DbName SYSNAME)
INSERT INTO @Excluidos VALUES 
 ('Tempdb'), ('master'), ('model'), ('msdb'), 
 ('K2A'), ('Auditoria'), ('Ativvus_Login'), ('Branco'), 
 ('Cliente_modelo'), ('DBA_MOVTI'), ('icdev');

-- 2. Bases válidas
DECLARE @Databases TABLE (DbName SYSNAME)
INSERT INTO @Databases (DbName)
SELECT name FROM sys.databases
WHERE state_desc = 'ONLINE'
  AND name NOT IN (SELECT DbName FROM @Excluidos);

-- 3. Parâmetro de lote e datas (por vencimento)
DECLARE @Lote NVARCHAR(10) = @pDt_LoteDe;
DECLARE @DataInicio DATE = CONVERT(DATE, @Lote + '01', 112);
DECLARE @DataFim DATE = EOMONTH(@DataInicio);

IF OBJECT_ID('tempdb..#Resultados') IS NOT NULL DROP TABLE #Resultados;
CREATE TABLE #Resultados (
    Cliente SYSNAME,
    [Cod. Conta] NVARCHAR(100),
    [Nome da Fatura] NVARCHAR(255),
    [Operadora] NVARCHAR(100),
    [Lote] NVARCHAR(20),
    [Dt. Emissao] DATETIME,
    [Dt. Vencimento] DATETIME,
    [Valor Fatura] DECIMAL(18,2),
    [Nota Fiscal] NVARCHAR(100),
    Pedido NVARCHAR(100),
    Ref NVARCHAR(100),
    Req NVARCHAR(100),
    Provisao NVARCHAR(100),
    Observacao NVARCHAR(MAX),
    Id_Empresa INT,
    Dia_Vencimento INT,
    Id_Contrato INT,
    Descricao NVARCHAR(255),
    [Lote_Cancelamento] DATETIME,
    [Status Fatura] NVARCHAR(20),
    [Tem Anexo PDF] NVARCHAR(3)
);

-- 4. Loop sobre bases
DECLARE @DbName SYSNAME, @Sql NVARCHAR(MAX);
DECLARE db_cursor CURSOR FOR SELECT DbName FROM @Databases;
OPEN db_cursor;
FETCH NEXT FROM db_cursor INTO @DbName;
WHILE @@FETCH_STATUS = 0
BEGIN
    SET @Sql = N'
    INSERT INTO #Resultados
    SELECT
        ''' + @DbName + ''', F.Nr_Fatura, F.Nm_Fatura, CG.Nm_Conglomerado, 
        CONVERT(VARCHAR(6), F.Dt_Vencimento, 112),
        F.Dt_Emissao, F.Dt_Vencimento, F.Vr_Fatura, F.Nota_Fiscal,
        F.Pedido, F.Ref, F.Req, F.Provisao, F.Observacao,
        FPC.Id_Empresa, FPC.Dia_Vencimento, FPC.Id_Contrato, FPC.Descricao, 
        FPC.Lote_Cancelamento,
        ''Gerada'',
        CASE WHEN AP.Id_Registro_Tabela IS NOT NULL THEN ''Sim'' ELSE ''Não'' END
    FROM [' + @DbName + '].dbo.Fatura F
    INNER JOIN [' + @DbName + '].dbo.Fatura_Parametro FP ON F.Id_Fatura_Parametro = FP.Id_Fatura_Parametro
    INNER JOIN [' + @DbName + '].dbo.Ativo A ON FP.Id_Ativo = A.Id_Ativo
    INNER JOIN [' + @DbName + '].dbo.Conglomerado CG ON A.Id_Conglomerado = CG.Id_Conglomerado
    LEFT JOIN [' + @DbName + '].dbo.Fatura_Plano_Conta FPC ON F.Nr_Fatura = FPC.Nr_Plano_Conta
    LEFT JOIN [' + @DbName + '].dbo.Arquivo_PDF AP ON AP.Id_Registro_Tabela = F.Id_Fatura AND AP.Tabela_Registro = ''Fatura''
    WHERE F.Dt_Vencimento >= @DataInicio AND F.Dt_Vencimento <= @DataFim
      AND (FPC.Lote_Cancelamento IS NULL OR FPC.Lote_Cancelamento > @DataFim)

    UNION

    SELECT
        ''' + @DbName + ''', FPC.Nr_Plano_Conta, NULL, CG.Nm_Conglomerado, 
        CONVERT(VARCHAR(6), @DataInicio, 112), -- Lote fixo por parâmetro
        NULL, NULL, NULL, NULL,
        NULL, NULL, NULL, NULL, NULL,
        FPC.Id_Empresa, FPC.Dia_Vencimento, FPC.Id_Contrato, FPC.Descricao, 
        FPC.Lote_Cancelamento,
        ''Não Gerada'', ''Não''
    FROM [' + @DbName + '].dbo.Fatura_Plano_Conta FPC
    INNER JOIN [' + @DbName + '].dbo.Conglomerado CG ON FPC.Id_Conglomerado = CG.Id_Conglomerado
    WHERE NOT EXISTS (
        SELECT 1 FROM [' + @DbName + '].dbo.Fatura F
        WHERE F.Nr_Fatura = FPC.Nr_Plano_Conta
          AND F.Dt_Vencimento >= @DataInicio AND F.Dt_Vencimento <= @DataFim
    )
      AND (FPC.Lote_Cancelamento IS NULL OR FPC.Lote_Cancelamento > @DataFim)
    ';
    EXEC sp_executesql @Sql, 
        N'@DataInicio DATE, @DataFim DATE', 
        @DataInicio = @DataInicio, @DataFim = @DataFim;
    FETCH NEXT FROM db_cursor INTO @DbName;
END
CLOSE db_cursor; DEALLOCATE db_cursor;
			
-----exportacao
IF @pPakage = 'sp_Mapa_Export'
BEGIN
SELECT 
    Cliente,
    CONCAT('''', [Cod. Conta]) AS [Cod. Conta],
    [Nome da Fatura],
    [Operadora],
    [Lote],
    [Dt. Emissao],
    [Dt. Vencimento],
    [Valor Fatura],
    [Nota Fiscal],
    Pedido,
    Ref,
    Req,
    Provisao,
    Observacao,
    Id_Empresa,
    Dia_Vencimento,
    Id_Contrato,
    Descricao,
    [Lote_Cancelamento],
    [Status Fatura],
    [Tem Anexo PDF]
FROM #Resultados;

END

-----grid
IF @pPakage = 'sp_Mapa_Mes'
BEGIN
SELECT 
    Cliente,
    CONCAT('''', [Cod. Conta]) AS [Cod. Conta],
    [Nome da Fatura],
    [Operadora],
    [Lote],
    [Dt. Emissao],
    [Dt. Vencimento],
    [Valor Fatura],
    [Nota Fiscal],
    Pedido,
    Ref,
    Req,
    Provisao,
    Observacao,
    Id_Empresa,
    Dia_Vencimento,
    Id_Contrato,
    Descricao,
    [Lote_Cancelamento],
    [Status Fatura],
    [Tem Anexo PDF]
FROM #Resultados;

END

-----grafrico
IF @pPakage = 'sp_Mapa_Grafico'
BEGIN
SELECT 
    Cliente,
    CONCAT('''', [Cod. Conta]) AS [Cod. Conta],
    [Nome da Fatura],
    [Operadora],
    [Lote],
    [Dt. Emissao],
    [Dt. Vencimento],
    [Valor Fatura],
    [Nota Fiscal],
    Pedido,
    Ref,
    Req,
    Provisao,
    Observacao,
    Id_Empresa,
    Dia_Vencimento,
    Id_Contrato,
    Descricao,
    [Lote_Cancelamento],
    [Status Fatura],
    [Tem Anexo PDF]
FROM #Resultados;

END
GO
