USE [K2A]
GO
/****** Object:  StoredProcedure [dbo].[cn_Fornecedor_Unidade]    Script Date: 7/31/2025 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[cn_Fornecedor_Unidade] (	@pPakage				VARCHAR(200),
												@pId_Conglomerado		INT			= NULL) AS
------consulta volume de bilhete
IF @pPakage = 'sp_Fornecedor_Unidade'
	BEGIN
		SELECT	A.Nr_Ativo AS Ativo,
			AT.Nm_Ativo_Tipo AS Tipo,
			CUN.Nm_Unidade AS Unidade,
			ISNULL(CUN.Entrega_Endereco, '') AS Endereco,
			ISNULL(CUN.Entrega_Contato, '') AS Contato,
			ISNULL(CUN.Entrega_Telefone, '') AS Telefone,
			CASE WHEN A.Fl_Desativado = 0 THEN 'Ativo'  ELSE 'Desativado' END AS STS,
			A.Observacao
	FROM	Ativo A		INNER JOIN Ativo_Tipo AT ON A.Id_Ativo_Tipo = AT.Id_Ativo_Tipo 
						INNER JOIN Rl_Consumidor_Ativo RA ON RA.Id_Ativo = A.Id_Ativo
						INNER JOIN Consumidor C ON C.Id_Consumidor = RA.Id_Consumidor
						INNER JOIN Consumidor_Unidade CUN ON CUN.Id_Consumidor = C.Id_Consumidor  
	WHERE	A.Id_Conglomerado = @pId_Conglomerado
END
GO
