USE [Odontoprev]
GO
/****** Object:  StoredProcedure [dbo].[cn_Detalhamento_Bilhete]    Script Date: 7/31/2025 10:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cn_Detalhamento_Bilhete] (	@pPakage				VARCHAR(200),
													@pAtivo_Tipo_Grupo		VARCHAR(50)	= NULL,
													@pId_Conglomerado		INT			= NULL,
													@pDt_LoteDe				VARCHAR(6)	= NULL,
													@pDt_LoteAte			VARCHAR(6)	= NULL) AS
------consulta detalhamento de bilhete
IF @pPakage = 'sp_Detalhamento'
BEGIN
	SELECT	(SELECT TOP 1 C.Nm_Consumidor FROM Rl_Consumidor_Ativo SR INNER JOIN vw_Consumidor C ON SR.Id_Consumidor = C.Id_Consumidor 
			WHERE Id_Ativo = A.Id_Ativo) AS Colaborador,

			(SELECT TOP 1 C.Matricula FROM Rl_Consumidor_Ativo SR INNER JOIN vw_Consumidor C ON SR.Id_Consumidor = C.Id_Consumidor 
			WHERE Id_Ativo = A.Id_Ativo) AS Matricula,

			(SELECT TOP 1 SFI.Nm_Filial FROM Rl_Consumidor_Ativo SR INNER JOIN vw_Consumidor C ON SR.Id_Consumidor = C.Id_Consumidor
																INNER JOIN Filial SFI ON C.Id_Filial = SFI.Id_Filial 
			WHERE Id_Ativo = A.Id_Ativo) AS Filial,

			(SELECT TOP 1 SCC.Cd_Centro_Custo FROM Rl_Consumidor_Ativo SR INNER JOIN vw_Consumidor C ON SR.Id_Consumidor = C.Id_Consumidor
																INNER JOIN Centro_Custo SCC ON C.Id_Centro_Custo = SCC.Id_Centro_Custo 
			WHERE Id_Ativo = A.Id_Ativo) AS CDC,

			(SELECT TOP 1 SDP.Nm_Departamento FROM Rl_Consumidor_Ativo SR INNER JOIN vw_Consumidor C ON SR.Id_Consumidor = C.Id_Consumidor
																INNER JOIN Departamento SDP ON C.Id_Departamento = SDP.Id_Departamento 
			WHERE Id_Ativo = A.Id_Ativo) AS Departamento,
	
			(SELECT TOP 1 SST.Nm_Setor FROM Rl_Consumidor_Ativo SR INNER JOIN vw_Consumidor C ON SR.Id_Consumidor = C.Id_Consumidor
																INNER JOIN Setor SST ON C.Id_Setor = SST.Id_Setor 
			WHERE Id_Ativo = A.Id_Ativo) AS Setor,

			(SELECT TOP 1 SSC.Nm_Secao FROM Rl_Consumidor_Ativo SR INNER JOIN vw_Consumidor C ON SR.Id_Consumidor = C.Id_Consumidor
																INNER JOIN Secao SSC ON C.Id_Secao = SSC.Id_Secao 
			WHERE Id_Ativo = A.Id_Ativo) AS Secao,

			A.Nr_Ativo							AS Ativo,
			ATP.Nm_Ativo_Tipo					AS Tipo_Ativo,
			CO.Nm_Conglomerado					AS Conglomerado,
			B.DB_Destino						AS Destino,
			B.DB_Data_Hora						AS Data_Hora,
			B.Nm_Bilhete_Tipo					AS Tipo,
			B.Nm_Bilhete_Descricao				AS Descricao,
			B.DB_Tipo_Parametro					AS Grupo,
			B.DB_Consumo						As Consumo_Decimal,
			B.DB_Consumo_Formatado				AS Consumo,
			B.DB_Custo							AS Custo,
			B.DB_Custo_Cobrado					AS Custo_Cobrado,
			B.DB_Valor_Devolucao				AS Valor_Auditoria,
			(B.DB_Custo + B.DB_Valor_Devolucao) AS Valor_Final,
			ISNULL(B.DC_Nr_Nota_Fiscal, '')		AS Conta,
			ISNULL(TR.Nm_Tronco,'')				AS Tronco,
			CASE WHEN A.Fl_Desativado = 1 THEN 'Desativada' ELSE 'Ativa' END Status_Ativo,

			----atualiza dentro horario
			CASE WHEN (CONVERT(FLOAT,REPLACE(CONVERT(VARCHAR(5),RIGHT( B.DB_Data_Hora,8)),':','')) >= 600 AND CONVERT(FLOAT,REPLACE(CONVERT(VARCHAR(5),RIGHT( B.DB_Data_Hora,8)),':','')) <= 1800)
						AND NOT B.DB_Tipo_Parametro IN (SELECT DB_Tipo_Parametro FROM Si_Desmarca_Bilhete)
						AND NOT DATEPART(DW,B.DB_Data_Hora) IN (1,7) THEN 'S' ELSE 'N' END AS Dentro_Horario,

			-----atualiza fora horario
			CASE WHEN (CONVERT(FLOAT,REPLACE(CONVERT(VARCHAR(5),RIGHT( B.DB_Data_Hora,8)),':','')) < 600 OR CONVERT(FLOAT,REPLACE(CONVERT(VARCHAR(5),RIGHT( B.DB_Data_Hora,8)),':','')) > 1800)
						AND NOT B.DB_Tipo_Parametro IN (SELECT DB_Tipo_Parametro FROM Si_Desmarca_Bilhete)
						AND NOT DATEPART(DW,B.DB_Data_Hora) IN (1,7) THEN 'S' ELSE 'N' END AS Fora_Horario,

			-----atualiza final semana
			CASE WHEN (DATEPART(DW,B.DB_Data_Hora) IN (1,7) AND NOT B.DB_Tipo_Parametro IN (SELECT DB_Tipo_Parametro FROM Si_Desmarca_Bilhete)) THEN 'S' ELSE 'N' END Final_Semana
			
	FROM	vw_Bilhete B INNER JOIN Lote L ON B.Id_Lote = L.Id_Lote
						INNER JOIN Ativo A ON L.Id_Ativo = A.Id_Ativo
						INNER JOIN Ativo_Tipo ATP ON A.Id_Ativo_Tipo = ATP.Id_Ativo_Tipo
						INNER JOIN Ativo_Tipo_Grupo ATG ON ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo
						INNER JOIN Conglomerado CO ON A.Id_Conglomerado = CO.Id_Conglomerado	 
						LEFT JOIN Tronco TR ON TR.Id_Tronco = B.Id_Tronco 
	WHERE	SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) >= @pDt_LoteDe --'201506' 
			 AND SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) <= @pDt_LoteAte --'201506' 
			 AND ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo--'Telefonia_Movel' 
			 AND (CO.Id_Conglomerado = @pId_Conglomerado OR @pId_Conglomerado IS NULL)
	ORDER BY Ativo, Data_Hora
END
GO
