USE [Odontoprev]
GO
/****** Object:  StoredProcedure [dbo].[pa_Pesquisar]    Script Date: 7/31/2025 10:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Pesquisar] (	@pPakage	VARCHAR(200),
										@pDescricao	VARCHAR(50) = NULL) AS
IF @pPAKAGE = 'sp_Pesquisar'
BEGIN
	-----captura texto entre aspas
	--declare @pDescricao	VARCHAR(50) 
	--set @pDescricao = 'andreia dutra "consumidor"'
		
	DECLARE @v_Texto_descricao VARCHAR(50)
	DECLARE @v_Texto_full VARCHAR(50)
	DECLARE @v_Texto_p1 VARCHAR(50)
	DECLARE @v_Texto_ok VARCHAR(50)
	SET @v_Texto_ok = NULL

	IF PATINDEX('%"%',@pDescricao) > 0 
	BEGIN
		SET @v_Texto_full = @pDescricao
		SELECT @v_Texto_p1 = SUBSTRING(@v_Texto_full, (PATINDEX('%"%',@v_Texto_full) + 1) ,LEN(@v_Texto_full))
		
		IF PATINDEX('%"%',@v_Texto_p1) > 0 
		BEGIN
			SELECT @v_Texto_ok = SUBSTRING(@v_Texto_p1, 1, (PATINDEX('%"%',@v_Texto_p1) - 1))
			SET @v_Texto_descricao = REPLACE(REPLACE(@pDescricao, '"'+@v_Texto_ok+'"',''),' ', '%')
		END
		ELSE
		BEGIN
			SET @v_Texto_descricao = @pDescricao
		END
	END
	ELSE
	BEGIN
		SET @v_Texto_descricao = @pDescricao
	END 

	print(REPLACE(@v_Texto_descricao, ' ', '%'))


	SELECT * FROM vw_Pesquisa_Consumidor_Ativo WHERE Pesquisa LIKE '%'+ REPLACE(@v_Texto_descricao, ' ', '%') +'%' AND (campo LIKE '%'+ REPLACE(@v_Texto_ok,'','%') +'%' OR @v_Texto_ok IS NULL)
	UNION ALL
	SELECT * FROM vw_Pesquisa_Campo_Cadastro WHERE Pesquisa LIKE '%'+ REPLACE(@v_Texto_descricao, ' ', '%') +'%' AND (campo LIKE '%'+ REPLACE(@v_Texto_ok,'','%') +'%' OR @v_Texto_ok IS NULL)
	UNION ALL
	SELECT * FROM vw_Pesquisa_Descricao_Cadastro WHERE Pesquisa LIKE '%'+ REPLACE(@v_Texto_descricao, ' ', '%') +'%' AND (campo LIKE '%'+ REPLACE(@v_Texto_ok,'','%') +'%' OR @v_Texto_ok IS NULL)
END
GO
