USE [Odontoprev]
GO
/****** Object:  StoredProcedure [dbo].[pa_Contrato_SLA_Servico]    Script Date: 7/31/2025 10:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Contrato_SLA_Servico]
  (
  @pPakage     VARCHAR(200) = NULL,
  @pId_Contrato_SLA_Servico INT    = NULL,
  @pId_Contrato    INT    = NULL,
  @pDescricao     VARCHAR(8000) = NULL,
  @pTipo_Servico    VARCHAR(50)  = NULL,
  @pVr_SLA_Servico   NUMERIC(10,4) = NULL,
  @pId_Usuario_Permissao  INT    = NULL,
  @pId_Operadora INT  =  NULL,
  @pId_Contrato_Indice INT = NULL
)
AS
-----insere ou atualiza registro     
IF @pPAKAGE = 'sp_SM'  
BEGIN
  IF EXISTS (SELECT 1 FROM Contrato_SLA_Servico WHERE Id_Contrato_SLA_Servico = @pId_Contrato_SLA_Servico)     
  BEGIN
    IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2   
    BEGIN
      INSERT INTO Log_Alteracao_Contrato_SLA_Servico (
        Id_Contrato_SLA_Servico,
        Id_Contrato,
        Descricao,
        Tipo_Servico,
        Vr_SLA_Servico,
        Fl_Desativado,
        Id_Operadora,
        Id_Contrato_Indice,
        Dt_Alteracao)
      SELECT 
        Id_Contrato_SLA_Servico,
        Id_Contrato,
        Descricao,
        Tipo_Servico,
        Vr_SLA_Servico,
        Fl_Desativado,
        Id_Operadora,
        Id_Contrato_Indice,
        GETDATE()
      FROM Contrato_SLA_Servico
      WHERE Id_Contrato_SLA_Servico = @pId_Contrato_SLA_Servico

      UPDATE Contrato_SLA_Servico      
        SET  Id_Contrato    = @pId_Contrato,     
        Descricao    = @pDescricao,     
        Tipo_Servico   = @pTipo_Servico,     
        Vr_SLA_Servico   = @pVr_SLA_Servico,   
        Id_Operadora = @pId_Operadora,   
        Id_Contrato_Indice = @pId_Contrato_Indice   
        WHERE Id_Contrato_SLA_Servico = @pId_Contrato_SLA_Servico
    END
  END     
  ELSE     
  BEGIN
    IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2     
    BEGIN
      INSERT INTO Contrato_SLA_Servico
      VALUES( @pId_Contrato,
        @pDescricao,
        @pTipo_Servico,
        @pVr_SLA_Servico,
        0,
        @pId_Operadora,
        @pId_Contrato_Indice)
    END
  END
END

-----desativa resgistro     
IF @pPAKAGE = 'sp_SE'     
BEGIN
  IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2     
 BEGIN
    UPDATE Contrato_SLA_Servico      
  SET  Fl_Desativado = 1      
  WHERE Id_Contrato_SLA_Servico = @pId_Contrato_SLA_Servico
  END
END

-----consulta pelo ID do registro     
IF @pPAKAGE = 'sp_SL_ID'     
BEGIN
  SELECT ISNULL(Id_Contrato_SLA_Servico, '') AS Id_Contrato_SLA_Servico,
    ISNULL(Id_Contrato,'')    AS Id_Contrato,
    ISNULL(Descricao,'')    AS Descricao,
    ISNULL(Tipo_Servico,'')    AS Tipo_Servico,
    ISNULL(Vr_SLA_Servico,0)   AS Vr_SLA_Servico
  FROM vw_Contrato_SLA_Servico
  WHERE Id_Contrato_SLA_Servico = @pId_Contrato_SLA_Servico
END

-----consulta pelo ID do registro V2
IF @pPAKAGE = 'sp_SL_ID_V2'     
BEGIN
  SELECT TOP 1
    ISNULL(Id_Contrato_SLA_Servico, '') AS Id_Contrato_SLA_Servico,
    ISNULL(CSA.Id_Contrato,'')    AS Id_Contrato,
    ISNULL(CSA.Descricao,'')    AS Descricao,
    ISNULL(CSA.Id_Operadora,'')    AS Id_Operadora,
    ISNULL(BT.Id_Bilhete_Tipo,'')    AS Id_Tipo_Servico,
    ISNULL(Vr_SLA_Servico,0)   AS Vr_SLA_Servico,
    ISNULL(Id_Contrato_Indice,'')   AS Id_Contrato_Indice
  FROM Contrato_SLA_Servico CSA
    LEFT JOIN Bilhete_Tipo BT ON CSA.Tipo_Servico LIKE BT.Nm_Bilhete_Tipo AND CSA.Id_Operadora = BT.Id_Conglomerado
  WHERE Id_Contrato_SLA_Servico = @pId_Contrato_SLA_Servico
END

-----consulta log de alteracções  pelo ID do registro V2
IF @pPAKAGE = 'sp_SL_HIS_ID'     
BEGIN
  SELECT TOP 1
    ISNULL(Id_Contrato_SLA_Servico, '') AS Id_Contrato_SLA_Servico,
    ISNULL(CONVERT(VARCHAR(20),C.Nr_Contrato) +'-'+ C.Descricao ,'')    AS Contrato,
    ISNULL(CSA.Descricao,'')    AS Descricao,
    ISNULL(CG.Nm_Conglomerado,'')    AS Operadora,
    ISNULL(CSA.Tipo_Servico,'')    AS Tipo_Servico,
    ISNULL(Vr_SLA_Servico,0)   AS Vr_SLA_Servico,
    ISNULL(CI.Nm_Contrato_Indice,'')   AS Contrato_Indice,
    FORMAT(CSA.Dt_Alteracao, 'dd/MM/yyyy HH:mm:ss') AS Dt_Alteracao
  FROM Log_Alteracao_Contrato_SLA_Servico CSA
    LEFT JOIN Contrato C ON CSA.Id_Contrato = C.Id_Contrato
    LEFT JOIN Contrato_Indice CI ON CSA.Id_Contrato_Indice = CI.Id_Contrato_Indice
    LEFT JOIN Conglomerado CG ON CSA.Id_Operadora = CG.Id_Conglomerado
    LEFT JOIN Bilhete_Tipo BT ON CSA.Tipo_Servico LIKE BT.Nm_Bilhete_Tipo AND CSA.Id_Operadora = BT.Id_Conglomerado
  WHERE Id_Contrato_SLA_Servico = @pId_Contrato_SLA_Servico
  ORDER BY Dt_Alteracao DESC
END
GO
