USE [Odontoprev]
GO
/****** Object:  StoredProcedure [dbo].[pa_si_Template]    Script Date: 7/31/2025 10:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_si_Template] (@pPakage				VARCHAR(200),
										@pId_Template			INT			= NULL,
										@pId_Usuario			INT			= NULL,
										@pId_Ativo_Tipo_Grupo	INT			= NULL) AS
-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(ST.Id_Template,'')			AS Id_Template,
			ISNULL(ST.Nm_Template,'')			AS Nm_Template,
			ISNULL(ST.Nm_Procedure,'')			AS Nm_Procedure,
			ISNULL(ST.Nm_Pakage_Consulta,'')	AS Nm_Pakage_Consulta,
			ISNULL(ST.Nm_Pakage_Export,'')		AS Nm_Pakage_Export,
			ISNULL(ST.Nm_Pakage_Grafico,'')		AS Nm_Pakage_Grafico,
			ISNULL(ST.Tipo_Grafico,1)			AS Tipo_Grafico,
			ISNULL(ST.Dt_Lote,1)				AS Dt_Lote
	FROM	si_Template ST INNER JOIN Rl_Usuario_Grupo_Si_Template RUT ON ST.Id_Template = RUT.Id_Template
	WHERE	ST.Id_Template = @pId_Template
END

-----consulta pelo  do usuario grupo
IF @pPAKAGE = 'sp_Lista_Relario_liberado'
BEGIN
	DECLARE @v_Indice INT
	DECLARE @Tb_Template TABLE(	Id				INT,
								Id_Template_1	INT, 
								Nm_Template_1	VARCHAR(50), 
								Link_1			VARCHAR(200),
								Visible_1		VARCHAR(10),
								Id_Template_2	INT, 
								Nm_Template_2	VARCHAR(50), 
								Link_2			VARCHAR(200),
								Visible_2		VARCHAR(10))
								
	SET @v_Indice = 1
	
	SELECT	ISNULL(ST.Id_Template,'')					AS Id_Template,
			'          ' + ISNULL(ST.Nm_Template,'')	AS Nm_Template,
			ISNULL(ST.Nm_Procedure,'')					AS Nm_Procedure,
			ISNULL(ST.Nm_Pakage_Consulta,'')			AS Nm_Pakage_Consulta,
			ISNULL(ST.Nm_Pakage_Export,'')				AS Nm_Pakage_Export,
			ISNULL(ST.Nm_Pakage_Grafico,'')				AS Nm_Pakage_Grafico,
			ISNULL(ST.Dt_Lote,1)						AS Dt_Lote,
			dbo.Fu_Link_HTTP ('Template_Consulta.aspx',ST.Id_Template,'RAIZ') + '&pTela=true' AS Link  INTO #Tb_Temp
	FROM	si_Template ST INNER JOIN Rl_Usuario_Grupo_Si_Template RUT ON ST.Id_Template = RUT.Id_Template
	WHERE	RUT.Id_Usuario_Grupo = (SELECT Id_Usuario_Grupo FROM Usuario WHERE Id_Usuario = @pId_Usuario)
			AND (ST.Id_Ativo_Tipo_Grupo = @pId_Ativo_Tipo_Grupo OR @pId_Ativo_Tipo_Grupo IS NULL)

	WHILE (SELECT COUNT(*) FROM #Tb_Temp) > 0
	BEGIN
		-----1
		INSERT INTO @Tb_Template 
		SELECT	@v_Indice,Id_Template,Nm_Template,Link,CASE WHEN NOT Id_Template IS NULL THEN 'True' ELSE NULL END ,
				NULL,NULL,NULL,NULL
		FROM	#Tb_Temp WHERE Id_Template = (SELECT TOP 1 Id_Template FROM #Tb_Temp)
		DELETE FROM #Tb_Temp WHERE Id_Template = (SELECT TOP 1 Id_Template FROM #Tb_Temp)
		-----2
		UPDATE	@Tb_Template
		SET		Id_Template_2 = (SELECT Id_Template FROM #Tb_Temp WHERE Id_Template = (SELECT TOP 1 Id_Template FROM #Tb_Temp)),
				Nm_Template_2 = (SELECT Nm_Template FROM #Tb_Temp WHERE Id_Template = (SELECT TOP 1 Id_Template FROM #Tb_Temp)),
				Link_2 = (SELECT Link FROM #Tb_Temp WHERE Id_Template = (SELECT TOP 1 Id_Template FROM #Tb_Temp)),
				Visible_2 = (SELECT CASE WHEN NOT Id_Template IS NULL THEN 'True' ELSE NULL END FROM #Tb_Temp WHERE Id_Template = (SELECT TOP 1 Id_Template FROM #Tb_Temp))
		FROM	@Tb_Template
		WHERE	Id = @v_Indice
		DELETE FROM #Tb_Temp WHERE Id_Template = (SELECT TOP 1 Id_Template FROM #Tb_Temp)

		SET @v_Indice = @v_Indice + 1
	END
	UPDATE	@Tb_Template SET Visible_1 = 'False' WHERE Visible_1 IS NULL
	UPDATE	@Tb_Template SET Visible_2 = 'False' WHERE Visible_2 IS NULL

	SELECT * FROM @Tb_Template
END
GO
