USE [Ultragaz]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_NEXT_STA_COSN]    Script Date: 7/31/2025 10:42:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cn_T_NEXT_STA_COSN] (	@pPakage					VARCHAR(200),
												@pPakage_Filtro				VARCHAR(200)	= NULL,
												@pId_Filtro_1				VARCHAR(MAX)	= NULL,
												@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
												@pId_Filtro_Usuario			INT				= NULL,
												@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
												@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
												@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
												@pDt_LoteDe					VARCHAR(6)		= NULL,
												@pDt_LoteAte				VARCHAR(6)		= NULL,
												@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS
DECLARE @SQL AS VARCHAR(8000)
	DECLARE @CALC_DATA AS INT 
	DECLARE @ATE AS INT
	DECLARE @Filtro_Pivot AS VARCHAR(8000)

	-----monta intervalo de data
	SET @ATE = CONVERT(INT,@pDt_LoteAte)
	SET @CALC_DATA = CONVERT(INT,@pDt_LoteDe)

	SET @Filtro_Pivot = '[' + @pDt_LoteDe + '],'

	WHILE @CALC_DATA < @ATE
	BEGIN
		
		IF SUBSTRING(CONVERT(VARCHAR,@CALC_DATA),5,2) = '12'
		SET @CALC_DATA = @CALC_DATA + 88
	
		SET @CALC_DATA = @CALC_DATA + 1
		SET @Filtro_Pivot = @Filtro_Pivot + '[' + CONVERT(VARCHAR(6), @CALC_DATA) + '],'
	END	
	SET @Filtro_Pivot = SUBSTRING(@Filtro_Pivot, 1, LEN(@Filtro_Pivot) - 1)

	-----filtra dados


SELECT		atg.Nm_Ativo_Tipo_Grupo  AS [TORRE],
			C.Nm_Consumidor AS Usuario,
			CC.Cd_Centro_Custo AS [Centro de Custo],
			
			sum(CAST(RI.Valor_Rateado - RI.Valor_Fatura AS DECIMAL(10,2))) AS Encargos,
			CAST(RI.Valor_Rateado AS DECIMAL(10,2)) AS [Total],
			SUBSTRING(CONVERT(VARCHAR(6),FA.Dt_Lote,112),1,6) AS [REF.]
INTO #Temp_Export
FROM	Rateio_Item RI	left JOIN vw_Ativo A ON (RI.Id_Ativo = A.Id_Ativo)
							left JOIN Conglomerado CO ON (CO.Id_Conglomerado = A.Id_Conglomerado)
							left JOIN Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo)
							left JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = AT.Id_Ativo_Tipo_Grupo)
							LEFT JOIN vw_Consumidor C ON (RI.Id_Consumidor = C.Id_Consumidor)
							LEFT JOIN vw_Filial F ON (F.Id_Filial = RI.Id_Filial)
							LEFT JOIN vw_Usuario US ON C.Id_Consumidor = US.Id_Consumidor
							left JOIN vw_Centro_Custo CC ON (RI.Id_Centro_Custo = CC.Id_Centro_Custo)
							left JOIN Rl_Rateio_Fatura RF ON (RF.Id_Rateio = RI.Id_Rateio)
							left JOIN Fatura FA ON (RF.Id_Fatura = FA.Id_Fatura)
							left JOIN Rateio R ON R.Id_Rateio = RI.Id_Rateio
							left join Fatura_Plano_Conta FPC on fpc.Nr_Plano_Conta = FA.Nr_Fatura
							left join Empresa eps on eps.Id_Empresa = fpc.Id_Empresa

	
	WHERE	SUBSTRING(CONVERT(VARCHAR(6),FA.Dt_Lote,112),1,6) >= @pDt_LoteDe 
			AND SUBSTRING(CONVERT(VARCHAR(6),FA.Dt_Lote,112),1,6) <= @pDt_LoteAte
			--AND (ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)
			AND CC.Cd_Centro_Custo = '302114631' or  CC.Cd_Centro_Custo = '301114896' or  CC.Cd_Centro_Custo = '301114966' or  CC.Cd_Centro_Custo = '301114882'or  CC.Cd_Centro_Custo = '302114711'  or  CC.Cd_Centro_Custo = '302114731'




			group by atg.Nm_Ativo_Tipo_Grupo, C.Nm_Consumidor, CC.Cd_Centro_Custo, RI.Valor_Rateado, FA.Dt_Lote
		




-----exportacao
IF @pPakage = 'sp_Lote_Mes_Export'
BEGIN
	-----monta consulta
	SET @SQL = 	'SELECT	*	
				FROM #Temp_Export
				PIVOT (SUM(Total) FOR Lote IN (' + @Filtro_Pivot +
				')) Retorno'

	EXEC (@SQL)
END

-----grid
IF @pPakage = 'sp_Lote_Mes'
BEGIN
	-----monta consulta
	SET @SQL = 	'SELECT *
				FROM #Temp_Export
				PIVOT (SUM(Total) FOR Lote IN (' + @Filtro_Pivot +
				')) Retorno'

	EXEC (@SQL)
END

-----grafrico
IF @pPakage = 'sp_Lote_Mes_Grafico'
BEGIN
	-----monta intervalo de data
	SET @ATE = CONVERT(INT,@pDt_LoteAte)
	SET @CALC_DATA = CONVERT(INT,@pDt_LoteDe)

	SET @Filtro_Pivot = '[' + @pDt_LoteDe + '],'

	WHILE @CALC_DATA < @ATE
	BEGIN
		SET @CALC_DATA = @CALC_DATA + 1
		SET @Filtro_Pivot = @Filtro_Pivot + '[' + CONVERT(VARCHAR(6), @CALC_DATA) + '],'

		IF SUBSTRING(CONVERT(VARCHAR,@CALC_DATA),4,2) = '12'
		SET @CALC_DATA = @CALC_DATA + 88
	END	
	SET @Filtro_Pivot = SUBSTRING(@Filtro_Pivot, 1, LEN(@Filtro_Pivot) - 1)

	-----filtra dados
	SELECT	SUBSTRING(CONVERT(VARCHAR(6),LT.Dt_Lote,112),1,6) AS X,					
			CAST(SUM(LT.Total_Lote) AS DECIMAL(10,2)) AS Y --INTO #Temp_Grafico
	FROM	vw_Custo_Usuario LT INNER JOIN Ativo AT ON (AT.Id_Ativo = LT.Id_Ativo)
								INNER JOIN Ativo_Tipo ATP ON (ATP.Id_Ativo_Tipo = AT.Id_Ativo_Tipo)
								INNER JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo) 
	WHERE	SUBSTRING(CONVERT(VARCHAR(6),LT.Dt_Lote,112),1,6) >= @pDt_LoteDe 
			AND	SUBSTRING(CONVERT(VARCHAR(6),LT.Dt_Lote,112),1,6) <= @pDt_LoteAte
			AND (ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)
	GROUP BY SUBSTRING(CONVERT(VARCHAR(6),LT.Dt_Lote,112),1,6)
	ORDER BY X
END
GO
