USE [Ultragaz]
GO
/****** Object:  StoredProcedure [dbo].[cg_co_us_Importar]    Script Date: 7/31/2025 10:42:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cg_co_us_Importar] AS
BEGIN
	--******************************************************************************************************
	--******************************************************************************************************
	-------inicia carga
	--******************************************************************************************************
	--******************************************************************************************************
	-----verifica filial
	INSERT INTO Filial
	SELECT	DISTINCT 
			SUBSTRING(ISNULL(TRH.Codigo_Filial,''),1,20),
			SUBSTRING(ISNULL(TRH.Filial,ISNULL(TRH.Codigo_Filial,'')),1,50),
			'11111111111111',
			NULL,
			NULL,
			0,
			0,
			0,
			0 
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Filial WHERE Nm_Filial = SUBSTRING(TRH.Filial,1,50))
			AND NOT TRH.Filial = ''
			AND NOT TRH.Filial IS NULL

	-----verifica centro custo
	INSERT INTO Centro_Custo
	SELECT	DISTINCT
			SUBSTRING(ISNULL(TRH.Codigo_Centro_Custo,''),1,50), 
			SUBSTRING(ISNULL(TRH.Centro_Custo,ISNULL(TRH.Codigo_Centro_Custo,'')),1,50),
			0
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Centro_Custo WHERE Cd_Centro_Custo = SUBSTRING(TRH.Codigo_Centro_Custo,1,50))
			AND NOT TRH.Codigo_Centro_Custo = '' 
			AND NOT TRH.Codigo_Centro_Custo IS NULL

	-----verifica departamento
	INSERT INTO Departamento
	SELECT	DISTINCT
			SUBSTRING(ISNULL(TRH.Codigo_Departamento,''),1,20),
			SUBSTRING(ISNULL(TRH.Departamento,ISNULL(TRH.Codigo_Departamento,'')),1,50),
			0
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Departamento WHERE Nm_Departamento = SUBSTRING(TRH.Departamento,1,50))
			AND NOT TRH.Departamento = ''
			AND NOT TRH.Departamento IS NULL

	-----verifica setor
	INSERT INTO Setor
	SELECT	DISTINCT
			SUBSTRING(ISNULL(TRH.Codigo_Setor,''),1,20),
			SUBSTRING(ISNULL(TRH.Setor,ISNULL(TRH.Codigo_Setor,'')),1,50),
			0
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Setor WHERE Nm_Setor = SUBSTRING(TRH.Setor,1,50))
			AND NOT TRH.Setor = ''
			AND NOT TRH.Setor IS NULL

	-----verifica secao
	INSERT INTO Secao
	SELECT	DISTINCT
			SUBSTRING(ISNULL(TRH.Codigo_Secao,''),1,20),
			SUBSTRING(ISNULL(TRH.Secao,ISNULL(TRH.Codigo_Secao,'')),1,50),
			0
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Secao WHERE Nm_Secao = SUBSTRING(TRH.Secao,1,50))
			AND NOT TRH.Secao = ''
			AND NOT TRH.Secao IS NULL

	-----verifica tipo consumidor
	INSERT INTO Consumidor_Tipo
	SELECT	DISTINCT
			SUBSTRING(ISNULL(TRH.Tipo_Colaborador,''),1,50),
			0
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Consumidor_Tipo WHERE Nm_Consumidor_Tipo = SUBSTRING(TRH.Tipo_Colaborador,1,50))
			AND NOT TRH.Tipo_Colaborador = ''
			AND NOT TRH.Tipo_Colaborador IS NULL

	-----verifica status consumidor
	INSERT INTO Consumidor_Status
	SELECT	DISTINCT
			SUBSTRING(ISNULL(TRH.Status_Colaborador,''),1,50),
			0
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Consumidor_Status WHERE Nm_Consumidor_Status = SUBSTRING(TRH.Status_Colaborador,1,50))
			AND NOT TRH.Status_Colaborador = ''
			AND NOT TRH.Status_Colaborador IS NULL

	-----verifica cargo
	INSERT INTO Cargo
	SELECT	DISTINCT
			SUBSTRING(ISNULL(TRH.Codigo_Cargo ,''),1,20),
			SUBSTRING(ISNULL(TRH.Cargo,ISNULL(TRH.Codigo_Cargo ,'')),1,50),
			0
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Cargo WHERE Nm_Cargo = SUBSTRING(TRH.Cargo,1,50))
			AND NOT TRH.Cargo = ''
			AND NOT TRH.Cargo IS NULL

	-----verifica empresa contratdada
	INSERT INTO Empresa_Contratada
	SELECT	DISTINCT
			SUBSTRING(ISNULL(TRH.Empresa_Contratada,''),1,50),
			'11111111111111',
			NULL,
			NULL,
			0
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Empresa_Contratada WHERE Nm_Empresa_Contratada = SUBSTRING(TRH.Empresa_Contratada,1,50))
			AND NOT TRH.Empresa_Contratada = ''
			AND NOT TRH.Empresa_Contratada IS NULL

	IF EXISTS(SELECT * FROM dbo.Holding)
	BEGIN
		-----monta empresa
		INSERT INTO Empresa
		SELECT	DISTINCT
				SUBSTRING(ISNULL(TRH.Empresa,ISNULL(TRH.Empresa,'')),1,50),
				(SELECT TOP 1 Id_Holding FROM dbo.Holding),
				NULL,
				0 
		FROM	Cg_RH_Arquivo_Temp TRH
		WHERE	NOT EXISTS(SELECT * FROM Empresa WHERE Nm_Empresa = SUBSTRING(TRH.Empresa,1,50))
				AND NOT TRH.Empresa = ''
				AND NOT TRH.Empresa IS NULL

		-----monta hierarquia entre empresa e filial
		UPDATE	Filial
		SET		Id_Empresa = EM.Id_Empresa
		FROM	Cg_RH_Arquivo_Temp TRH	INNER JOIN Filial FIL ON(FIL.Nm_Filial = TRH.FilIal)
										INNER JOIN Empresa EM on (EM.Nm_Empresa = TRH.Empresa)
	END 

	--******************************************************************************************************
	--******************************************************************************************************
	-------Insere consumidor 
	--******************************************************************************************************
	--******************************************************************************************************

	-----verifica e insere novo consumidor
	INSERT INTO Consumidor
	SELECT	DISTINCT UPPER(SUBSTRING(TRH.Nome_Colaborador,1,50)),
			CT.Id_Consumidor_Tipo, 
			SUBSTRING(TRH.Matricula_Colaborador,1,20), 
			LOWER(SUBSTRING(TRH.E_Mail_Colaborador,1,50)),
			NULL,
			1,
			EC.Id_Empresa_Contratada,
			CG.Id_Cargo,
			FI.Id_Filial,
			CC.Id_Centro_Custo,
			DP.Id_Departamento,
			ST.Id_Setor,
			SC.Id_Secao,
			CS.Id_Consumidor_Status,
			SUBSTRING(Matricula_Chefia_Imediata,1,50),
			0  
	FROM	Cg_RH_Arquivo_Temp TRH	INNER JOIN Filial FI ON (FI.Nm_Filial = TRH.Filial)
									INNER JOIN Centro_Custo CC ON (CC.Cd_Centro_Custo = TRH.Codigo_Centro_Custo)
									LEFT JOIN Departamento DP ON (DP.Nm_Departamento = TRH.Departamento)
									LEFT JOIN Setor ST ON (ST.Nm_Setor = TRH.Setor)
									LEFT JOIN Secao SC ON (SC.Nm_Secao = TRH.Secao)
									LEFT JOIN Empresa_Contratada EC ON (EC.Nm_Empresa_Contratada = TRH.Empresa_Contratada)
									LEFT JOIN Consumidor_Tipo CT ON (CT.Nm_Consumidor_Tipo = TRH.Tipo_Colaborador)
									LEFT JOIN Consumidor_Status CS ON (CS.Nm_Consumidor_Status = TRH.Status_Colaborador)
									LEFT JOIN Cargo CG ON (CG.Nm_Cargo = TRH.Cargo)
	WHERE	NOT EXISTS(SELECT * FROM Consumidor WHERE Matricula = SUBSTRING(TRH.Matricula_Colaborador,1,20)) 
			AND NOT EXISTS(SELECT * FROM Usuario WHERE Nm_Usuario = SUBSTRING(TRH.Login_Colaborador,1,50))

	-----atualiza dados do usuario pela matricula
	UPDATE	Consumidor
	SET		Nm_Consumidor = UPPER(SUBSTRING(TRH.Nome_Colaborador,1,50)),
			EMail = CASE WHEN TRH.E_Mail_Colaborador IS NULL THEN EMail 
						ELSE CASE WHEN EXISTS(SELECT * FROM Consumidor WHERE EMail = TRH.E_Mail_Colaborador) THEN NULL ELSE LOWER(SUBSTRING(TRH.E_Mail_Colaborador,1,50)) END
					END, 
			Id_Consumidor_Tipo = CT.Id_Consumidor_Tipo,
			Id_Empresa_Contratada = EC.Id_Empresa_Contratada,
			Id_Cargo = CG.Id_Cargo,
			Id_Filial = FI.Id_Filial,
			Id_Centro_Custo = CC.Id_Centro_Custo,
			Id_Departamento = DP.Id_Departamento,
			Id_Setor = ST.Id_Setor,
			Id_Secao = SC.Id_Secao,
			Id_Consumidor_Status = CS.Id_Consumidor_Status,
			Matricula_Chefia = CASE WHEN Matricula_Chefia_Imediata IS NULL THEN Matricula_Chefia ELSE SUBSTRING(Matricula_Chefia_Imediata,1,50) END,
			Fl_Desativado = 0 
	FROM	Consumidor CO	INNER JOIN Cg_RH_Arquivo_Temp TRH ON (CO.Matricula = TRH.Matricula_Colaborador)
							INNER JOIN Filial FI ON (FI.Nm_Filial = TRH.Filial)
							INNER JOIN Centro_Custo CC ON (CC.Cd_Centro_Custo = TRH.Codigo_Centro_Custo)
							LEFT JOIN Departamento DP ON (DP.Nm_Departamento = TRH.Departamento)
							LEFT JOIN Setor ST ON (ST.Nm_Setor = TRH.Setor)
							LEFT JOIN Secao SC ON (SC.Nm_Secao = TRH.Secao)
							LEFT JOIN Empresa_Contratada EC ON (EC.Nm_Empresa_Contratada = TRH.Empresa_Contratada)
							LEFT JOIN Consumidor_Tipo CT ON (CT.Nm_Consumidor_Tipo = TRH.Tipo_Colaborador)
							LEFT JOIN Consumidor_Status CS ON (CS.Nm_Consumidor_Status = TRH.Status_Colaborador)
							LEFT JOIN Cargo CG ON (CG.Nm_Cargo = TRH.Cargo)
	WHERE	EXISTS(SELECT * FROM Consumidor WHERE Matricula = SUBSTRING(TRH.Matricula_Colaborador,1,50))

	-----desativa usuario demitidos 
	-----Obs. todos os usuarios demitidos devem ser retirados da lista de RH
	-----Usuarios inseridos pela lista de rh fica com seu fl_desativado = 0
	-----quando inserido pelo cadastro fica com seu fl_desativado = 2 assim o 
	-----sistema so ire dasbilitar usuarios com fl_desativado = 0
	-----Verifica flag paa executar a desativacao 
	UPDATE	Consumidor
	SET		Fl_Desativado = 1
	FROM	Consumidor CO	INNER JOIN vw_Filial FI ON CO.Id_Filial =  FI.Id_Filial
							INNER JOIN Empresa EP ON EP.Id_Empresa = FI.Id_Empresa
	WHERE	NOT EXISTS (SELECT * FROM Cg_RH_Arquivo_Temp WHERE Matricula_Colaborador = CO.Matricula)
			AND EP.Nm_Empresa IN (SELECT DISTINCT Empresa FROM Cg_RH_Arquivo_Temp)
			AND NOT EXISTS(SELECT * FROM Usuario WHERE Id_Consumidor = CO.Id_Consumidor AND Id_Usuario_Perfil = 1)
				AND CO.Fl_Desativado = 0

	-----verifica e atualiza consumidor existente
	SELECT	DISTINCT SUBSTRING(TRH.Login_Colaborador,1,50) AS Login_Colaborador,
			'BAIN' AS Senha, 
			CO.Id_Consumidor,
			1 AS Id_Idioma,2 AS Id_Usuario_Grupo,3 AS Id_Usuario_Perfil,9 AS Id_Usuario_Perfil_Acesso ,
			1 AS Incluir,1 AS Alterar,1 AS Excluir,1 AS Detalhamento_Conta, 1 AS Detalhamento_Contato, 3 AS Fl_Desativado, TRH.Empresa
			INTO #TEMP_Usuario
	FROM	Cg_RH_Arquivo_Temp TRH INNER JOIN Consumidor CO on (CO.Matricula = SUBSTRING(TRH.Matricula_Colaborador,1,20))
	WHERE	NOT TRH.Matricula_Colaborador = ''
			AND NOT TRH.Matricula_Colaborador IS NULL 
			AND NOT TRH.Login_Colaborador IS NULL
			AND NOT EXISTS (SELECT * FROM Usuario US WHERE US.Id_Consumidor = CO.Id_Consumidor)
			AND NOT EXISTS (SELECT * FROM Usuario US WHERE US.Nm_Usuario = SUBSTRING(TRH.Login_Colaborador,1,50))
			
	INSERT INTO	Usuario 
	SELECT	DISTINCT 
			TMP.Login_Colaborador + CASE WHEN UG.Nm_Usuario IS NULL THEN '' ELSE '_' + TMP.Empresa END,  
			TMP.Senha,
			TMP.Id_Consumidor,
			TMP.Id_Idioma,
			TMP.Id_Usuario_Grupo,
			TMP.Id_Usuario_Perfil,
			TMP.Id_Usuario_Perfil_Acesso,
			TMP.Incluir,
			TMP.Alterar,
			TMP.Excluir,
			TMP.Detalhamento_Conta,
			TMP.Detalhamento_Contato, 
			TMP.Fl_Desativado
	FROM	#TEMP_Usuario TMP LEFT JOIN Ativvus_Login..Usuario_Global UG ON TMP.Login_Colaborador = UG.Nm_Usuario 
																			AND TMP.Senha = UG.Senha
	WHERE	NOT EXISTS(SELECT TMP_1.Login_Colaborador FROM #TEMP_Usuario TMP_1
						WHERE TMP_1.Login_Colaborador = TMP.Login_Colaborador
						GROUP BY TMP_1.Login_Colaborador HAVING COUNT(*) > 1)
			AND NOT EXISTS(SELECT TMP_2.Id_Consumidor FROM #TEMP_Usuario TMP_2
							WHERE TMP_2.Id_Consumidor = TMP.id_consumidor
							GROUP BY TMP_2.Id_Consumidor HAVING COUNT(*) > 1)

	--******************************************************************************************************
	--******************************************************************************************************
	-------monta hierarquia
	--******************************************************************************************************
	--******************************************************************************************************
	
	-----monta hierarquia entre filial e centro de custo
	INSERT INTO Rl_Hi_Filial_Centro_Custo
	SELECT	DISTINCT
			FIL.Id_Filial,
			CC.Id_Centro_Custo 
	FROM	Cg_RH_Arquivo_Temp TRH	INNER JOIN Filial FIL ON(FIL.Nm_Filial = TRH.FilIal)
									INNER JOIN Centro_Custo CC on (CC.Cd_Centro_Custo = TRH.Codigo_Centro_Custo)
	WHERE	NOT EXISTS(SELECT * FROM Rl_Hi_Filial_Centro_Custo RFC WHERE RFC.Id_Filial = FIL.Id_Filial AND RFC.Id_Centro_Custo = CC.Id_Centro_Custo)
	GROUP BY FIL.Id_Filial,CC.Id_Centro_Custo

	-----monta hierarquia entre centro de custo e departamento
	INSERT INTO Rl_Hi_Centro_Custo_Departamento
	SELECT	DISTINCT
			CC.Id_Centro_Custo,
			DP.Id_Departamento
	FROM	Cg_RH_Arquivo_Temp TRH	INNER JOIN Centro_Custo CC on (CC.Cd_Centro_Custo = TRH.Codigo_Centro_Custo)
									INNER JOIN Departamento DP on (DP.Nm_Departamento = TRH.Departamento)
	WHERE	NOT EXISTS(SELECT * FROM Rl_Hi_Centro_Custo_Departamento RCD WHERE RCD.Id_Centro_Custo = CC.Id_Centro_Custo AND RCD.Id_Departamento = DP.Id_Departamento)
	GROUP BY CC.Id_Centro_Custo,DP.Id_Departamento

	-----monta hierarquia entre departamento e setor
	INSERT INTO Rl_Hi_Departamento_Setor
	SELECT	DISTINCT
			DP.Id_Departamento,
			ST.Id_Setor
	FROM	Cg_RH_Arquivo_Temp TRH	INNER JOIN Departamento DP ON (DP.Nm_Departamento = TRH.Departamento)
									INNER JOIN Setor ST ON (ST.Nm_Setor = TRH.Setor)
	WHERE	NOT EXISTS(SELECT * FROM Rl_Hi_Departamento_Setor RDS WHERE RDS.Id_Departamento = DP.Id_Departamento AND RDS.Id_Setor = ST.Id_Setor)
	GROUP BY DP.Id_Departamento,ST.Id_Setor

	-----monta hierarquia entre setor e secao
	INSERT INTO dbo.Rl_Hi_Setor_Secao
	SELECT	ST.Id_Setor,
			SC.Id_Secao
	FROM	Cg_RH_Arquivo_Temp TRH	INNER JOIN Setor ST ON (ST.Nm_Setor = TRH.Setor)
									INNER JOIN Secao SC ON (SC.Nm_Secao = TRH.Secao)
	WHERE	NOT EXISTS(SELECT * FROM Rl_Hi_Setor_Secao RSS WHERE RSS.Id_Setor = ST.Id_Setor AND RSS.Id_Secao = SC.Id_Secao)
	GROUP BY ST.Id_Setor, SC.Id_Secao
	

	--******************************************************************************************************
	--******************************************************************************************************
	-------monta usuario nao gestor
	--******************************************************************************************************
	--******************************************************************************************************

	-------libera consumidor para usuario de marcacao
	INSERT INTO Rl_Perfil_Filial_Usuario
	SELECT	DISTINCT C.Id_Filial,
			U.Id_Usuario
	FROM	Usuario U INNER JOIN vw_Consumidor C ON U.Id_Consumidor = C.Id_Consumidor 
	WHERE	NOT EXISTS(SELECT * FROM Rl_Perfil_Filial_Usuario RFU WHERE RFU.Id_Usuario = U.Id_Usuario AND RFU.Id_Filial = C.Id_Filial)
	
	INSERT INTO Rl_Perfil_Consumidor_Usuario
	SELECT	DISTINCT C.Id_Consumidor,
			U.Id_Usuario
	FROM	Usuario U INNER JOIN vw_Consumidor C ON U.Id_Consumidor = C.Id_Consumidor 
	WHERE	NOT EXISTS(SELECT * FROM Rl_Perfil_Consumidor_Usuario RCU WHERE RCU.Id_Usuario = U.Id_Usuario AND RCU.Id_Consumidor = C.Id_Consumidor)

	--******************************************************************************************************
	--******************************************************************************************************
	-------monta gestor
	--******************************************************************************************************
	--******************************************************************************************************
	-----filtar filial por centro de custo
	INSERT INTO Rl_Perfil_Filial_Usuario
	SELECT	DISTINCT Id_Filial, Id_Usuario
	FROM	(	SELECT	DISTINCT	-----centro de custo
						Id_Filial, (SELECT	DISTINCT SU.Id_Usuario
									FROM	Consumidor SC INNER JOIN Usuario SU ON SU.Id_Consumidor = SC.Id_Consumidor
									WHERE	SC.Email in (SELECT EMail FROM Consumidor GROUP BY EMail HAVING COUNT(*) = 1)
											AND SC.EMail = RH.Login_Centro_Custo) AS Id_Usuario
				FROM	Cg_RH_Arquivo_Temp RH INNER JOIN Filial F ON RH.Filial = F.Nm_Filial 
				WHERE	NOT Login_Centro_Custo IS NULL
				UNION ALL
				SELECT	DISTINCT	-----departamento
						Id_Filial, (SELECT	DISTINCT SU.Id_Usuario
									FROM	Consumidor SC INNER JOIN Usuario SU ON SU.Id_Consumidor = SC.Id_Consumidor
									WHERE	SC.Email in (SELECT EMail FROM Consumidor GROUP BY EMail HAVING COUNT(*) = 1)
											AND SC.EMail = RH.Login_Departamento) AS Id_Usuario
				FROM	Cg_RH_Arquivo_Temp RH INNER JOIN Filial F ON RH.Filial = F.Nm_Filial 
				WHERE	NOT Login_Departamento IS NULL
				UNION ALL
				SELECT	DISTINCT	-----setor
						Id_Filial, (SELECT	DISTINCT SU.Id_Usuario
									FROM	Consumidor SC INNER JOIN Usuario SU ON SU.Id_Consumidor = SC.Id_Consumidor
									WHERE	SC.Email in (SELECT EMail FROM Consumidor GROUP BY EMail HAVING COUNT(*) = 1)
											AND SC.EMail = RH.Login_Setor) AS Id_Usuario
				FROM	Cg_RH_Arquivo_Temp RH INNER JOIN Filial F ON RH.Filial = F.Nm_Filial 
				WHERE	NOT Login_Setor IS NULL
				UNION ALL
				SELECT	DISTINCT	-----secao
						Id_Filial, (SELECT	DISTINCT SU.Id_Usuario
									FROM	Consumidor SC INNER JOIN Usuario SU ON SU.Id_Consumidor = SC.Id_Consumidor
									WHERE	SC.Email in (SELECT EMail FROM Consumidor GROUP BY EMail HAVING COUNT(*) = 1)
											AND SC.EMail = RH.Login_Secao) AS Id_Usuario
				FROM	Cg_RH_Arquivo_Temp RH INNER JOIN Filial F ON RH.Filial = F.Nm_Filial 
				WHERE	NOT Login_Secao IS NULL
				) Filial
	WHERE	NOT EXISTS(SELECT * FROM Rl_Perfil_Filial_Usuario WHERE Id_Filial = Filial.Id_Filial AND Id_Usuario = Filial.Id_Usuario)
			AND NOT Id_Usuario IS NULL

	-----filtar por centro de custo
	IF NOT (SELECT DISTINCT Login_Centro_Custo FROM Cg_RH_Arquivo_Temp) IS NULL
	BEGIN
		INSERT INTO Rl_Perfil_Centro_Custo_Usuario
		SELECT	Id_Centro_Custo, Id_Usuario
		FROM	(	SELECT	DISTINCT
							Id_Centro_Custo, 
							(	SELECT	SU.Id_Usuario 
								FROM	Consumidor SC INNER JOIN Usuario SU ON SU.Id_Consumidor = SC.Id_Consumidor
								WHERE	SC.EMail = RH.Login_Centro_Custo
										AND (SELECT	COUNT(SU.Id_Usuario) 
											FROM	Consumidor SC INNER JOIN Usuario SU ON SU.Id_Consumidor = SC.Id_Consumidor
											WHERE	SC.EMail = RH.Login_Centro_Custo) = 1) AS Id_Usuario
					FROM	Cg_RH_Arquivo_Temp RH INNER JOIN Centro_Custo CC ON RH.Centro_Custo = CC.Cd_Centro_Custo 
					WHERE	NOT Login_Centro_Custo IS NULL
					) AS Centro_Custo
		WHERE	NOT EXISTS(SELECT * FROM Rl_Perfil_Centro_Custo_Usuario WHERE Id_Centro_Custo = Centro_Custo.Id_Centro_Custo AND Id_Usuario = Centro_Custo.Id_Usuario)
				AND NOT Centro_Custo.Id_Centro_Custo IS NULL AND NOT Centro_Custo.Id_Usuario IS NULL

		--desativa permissao para todos os gestores
		UPDATE	Usuario 
		SET		Id_Usuario_Perfil = 3, Id_Usuario_Perfil_Acesso = 9, Id_Usuario_grupo = 2
		WHERE	NOT Id_Usuario_Perfil_Acesso = 1
				AND Id_Usuario_Perfil_Acesso = 5

		--ativa todos os novos gestores
		UPDATE	Usuario
		SET		Id_Usuario_Perfil = 2, Id_Usuario_Perfil_Acesso = 5, Id_Usuario_grupo = 3
		FROM	Usuario U INNER JOIN Rl_Perfil_Centro_Custo_Usuario RU ON U.Id_Usuario = RU.Id_Usuario
	END 
	
	-----filtar por departamento
	IF NOT (SELECT DISTINCT Login_Departamento FROM Cg_RH_Arquivo_Temp) IS NULL
	BEGIN
		INSERT INTO Rl_Perfil_Departamento_Usuario
		SELECT	Id_Departamento, Id_Usuario
		FROM	(	SELECT	DISTINCT
							Id_Departamento, 
							(	SELECT	SU.Id_Usuario 
								FROM	Consumidor SC INNER JOIN Usuario SU ON SU.Id_Consumidor = SC.Id_Consumidor
								WHERE	SC.EMail = RH.Login_Centro_Custo
										AND (SELECT	COUNT(SU.Id_Usuario) 
											FROM	Consumidor SC INNER JOIN Usuario SU ON SU.Id_Consumidor = SC.Id_Consumidor
											WHERE	SC.EMail = RH.Login_Centro_Custo) = 1) AS Id_Usuario
					FROM	Cg_RH_Arquivo_Temp RH INNER JOIN Departamento DP ON RH.Departamento = DP.Nm_Departamento 
					WHERE	NOT Login_Centro_Custo IS NULL
					) AS Departamento
		WHERE	NOT EXISTS(SELECT * FROM Rl_Perfil_Departamento_Usuario WHERE Id_Departamento = Departamento.Id_Departamento AND Id_Usuario = Departamento.Id_Usuario)
				AND NOT Departamento.Id_Departamento IS NULL AND NOT Departamento.Id_Usuario IS NULL

		--desativa permissao para todos os gestores
		UPDATE	Usuario 
		SET		Id_Usuario_Perfil = 3, Id_Usuario_Perfil_Acesso = 9, Id_Usuario_grupo = 2
		WHERE	NOT Id_Usuario_Perfil_Acesso = 1
				AND Id_Usuario_Perfil_Acesso = 6

		--ativa todos os novos gestores
		UPDATE	Usuario
		SET		Id_Usuario_Perfil = 2, Id_Usuario_Perfil_Acesso = 6, Id_Usuario_grupo = 3
		FROM	Usuario U INNER JOIN Rl_Perfil_Centro_Custo_Usuario RU ON U.Id_Usuario = RU.Id_Usuario
	END 

	-----filtar por setor
	IF NOT (SELECT DISTINCT Login_Setor FROM Cg_RH_Arquivo_Temp) IS NULL
	BEGIN
		INSERT INTO Rl_Perfil_Setor_Usuario
		SELECT	Id_Setor, Id_Usuario
		FROM	(	SELECT	DISTINCT
							Id_Setor, 
							(	SELECT	SU.Id_Usuario 
								FROM	Consumidor SC INNER JOIN Usuario SU ON SU.Id_Consumidor = SC.Id_Consumidor
								WHERE	SC.EMail = RH.Login_Centro_Custo
										AND (SELECT	COUNT(SU.Id_Usuario) 
											FROM	Consumidor SC INNER JOIN Usuario SU ON SU.Id_Consumidor = SC.Id_Consumidor
											WHERE	SC.EMail = RH.Login_Centro_Custo) = 1) AS Id_Usuario
					FROM	Cg_RH_Arquivo_Temp RH INNER JOIN Setor ST ON RH.Setor = ST.Nm_Setor
					WHERE	NOT Login_Centro_Custo IS NULL
					) AS Setor
		WHERE	NOT EXISTS(SELECT * FROM Rl_Perfil_Setor_Usuario WHERE Id_Setor = Setor.Id_Setor AND Id_Usuario = Setor.Id_Usuario)
				AND NOT Setor.Id_Setor IS NULL AND NOT Setor.Id_Setor IS NULL

		--desativa permissao para todos os gestores
		UPDATE	Usuario 
		SET		Id_Usuario_Perfil = 3, Id_Usuario_Perfil_Acesso = 9, Id_Usuario_grupo = 2
		WHERE	NOT Id_Usuario_Perfil_Acesso = 1
				AND Id_Usuario_Perfil_Acesso = 7

		--ativa todos os novos gestores
		UPDATE	Usuario
		SET		Id_Usuario_Perfil = 2, Id_Usuario_Perfil_Acesso = 7, Id_Usuario_grupo = 3
		FROM	Usuario U INNER JOIN Rl_Perfil_Centro_Custo_Usuario RU ON U.Id_Usuario = RU.Id_Usuario
	END 

	-----filtar por secao
	IF NOT (SELECT DISTINCT Login_Secao FROM Cg_RH_Arquivo_Temp) IS NULL
	BEGIN
		INSERT INTO Rl_Perfil_Secao_Usuario
		SELECT	Id_Secao, Id_Usuario
		FROM	(	SELECT	DISTINCT
							Id_Secao, 
							(	SELECT	SU.Id_Usuario 
								FROM	Consumidor SC INNER JOIN Usuario SU ON SU.Id_Consumidor = SC.Id_Consumidor
								WHERE	SC.EMail = RH.Login_Centro_Custo
										AND (SELECT	COUNT(SU.Id_Usuario) 
											FROM	Consumidor SC INNER JOIN Usuario SU ON SU.Id_Consumidor = SC.Id_Consumidor
											WHERE	SC.EMail = RH.Login_Centro_Custo) = 1) AS Id_Usuario
					FROM	Cg_RH_Arquivo_Temp RH INNER JOIN Secao SC ON RH.Secao = SC.Nm_Secao
					WHERE	NOT Login_Centro_Custo IS NULL
					) AS Secao
		WHERE	NOT EXISTS(SELECT * FROM Rl_Perfil_Secao_Usuario WHERE Id_Secao = Secao.Id_Secao AND Id_Usuario = Secao.Id_Usuario)
				AND NOT Secao.Id_Secao IS NULL AND NOT Secao.Id_Secao IS NULL

		--desativa permissao para todos os gestores
		UPDATE	Usuario 
		SET		Id_Usuario_Perfil = 3, Id_Usuario_Perfil_Acesso = 9, Id_Usuario_grupo = 2
		WHERE	NOT Id_Usuario_Perfil_Acesso = 1
				AND Id_Usuario_Perfil_Acesso = 8

		--ativa todos os novos gestores
		UPDATE	Usuario
		SET		Id_Usuario_Perfil = 2, Id_Usuario_Perfil_Acesso = 8, Id_Usuario_grupo = 3
		FROM	Usuario U INNER JOIN Rl_Perfil_Centro_Custo_Usuario RU ON U.Id_Usuario = RU.Id_Usuario
	END
END
GO
