USE [Ultragaz]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Rateio_Fixo_Novo]    Script Date: 7/31/2025 10:42:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_Rateio_Fixo_Novo] 
(
    @pPakage					VARCHAR(200),
    @pPakage_Filtro				VARCHAR(200)	= NULL,
    @pId_Filtro_1				VARCHAR(MAX)	= NULL,
    @pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
    @pId_Filtro_Usuario			INT				= NULL,
    @p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
    @p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
    @p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
    @pDt_LoteDe					VARCHAR(6)		= NULL,
    @pDt_LoteAte				VARCHAR(6)		= NULL,
    @pAtivo_Tipo_Grupo			VARCHAR(50)		= 'Telefonia_Fixa'
) 
AS

WITH AggregatedNotaFiscal AS (
    SELECT
        Id_Fatura,
        Nr_Nota_Fiscal,
        SUM(Pct_Nota_Fiscal) AS Total_Pct_Nota_Fiscal,
        Id_Filial,
        Id_Ativo
    FROM Nota_Fiscal_Fatura
    GROUP BY Id_Fatura, Nr_Nota_Fiscal, Id_Filial, Id_Ativo
)
SELECT 
    CO.Nm_Conglomerado as [Conglomerado],
    FA.Nr_Fatura AS Conta,
    '343304' AS [Conta Contábil],
    F.Cd_Filial as [Filial],
    'G21102' AS [UC (Centro de Custo)],
    ISNULL(NFF.Nr_Nota_Fiscal,'Não possui NF cadastrada') AS [Número NF],
    CASE 
        WHEN FA.Nr_Fatura in ('000496454528','000489274080','8002024778') AND EXISTS (
            SELECT 1 
            FROM AggregatedNotaFiscal nf 
            WHERE nf.Nr_Nota_Fiscal = NFF.Nr_Nota_Fiscal 
            GROUP BY nf.Nr_Nota_Fiscal
            HAVING COUNT(DISTINCT nf.Id_Filial) > 1
        ) THEN COALESCE(NFF.Total_Pct_Nota_Fiscal, RI.Valor_Rateado)
        ELSE RI.Valor_Rateado
    END AS [Valor NF],
    FA.Vr_Fatura,
    FA.Dt_Lote AS [Ref],
    FA.Dt_Emissao AS [Dt. Emissão],
    FA.Dt_Vencimento AS [Dt. Vencimento]
INTO #Temp_Export
FROM	
    Rateio_Item RI	    
    LEFT JOIN Ativo A ON (RI.Id_Ativo = A.Id_Ativo)
    LEFT JOIN Conglomerado CO ON (CO.Id_Conglomerado = A.Id_Conglomerado)
    LEFT JOIN Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo)
    LEFT JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = AT.Id_Ativo_Tipo_Grupo)
    LEFT JOIN Rl_Rateio_Fatura RF ON (RF.Id_Rateio = RI.Id_Rateio)
    LEFT JOIN Fatura FA ON (RF.Id_Fatura = FA.Id_Fatura)
    LEFT JOIN Rateio R ON R.Id_Rateio = RI.Id_Rateio
    LEFT JOIN Fatura_Plano_Conta FPC ON fpc.Nr_Plano_Conta = FA.Nr_Fatura
    LEFT JOIN AggregatedNotaFiscal NFF ON NFF.Id_Fatura = FA.Id_Fatura
    LEFT JOIN Filial F ON (F.Id_Filial = RI.Id_Filial)
WHERE  
    Nr_Fatura IN (
        SELECT Nr_Fatura 
        FROM Fatura 
        WHERE Id_Fatura_Parametro IN (
            SELECT Id_Fatura_Parametro 
            FROM Fatura_Parametro 
            WHERE Id_Ativo IN (
                SELECT Id_Ativo 
                FROM Ativo 
                WHERE Id_Ativo_Tipo IN (
                    SELECT Id_Ativo_Tipo 
                    FROM Ativo_Tipo 
                    WHERE Id_Ativo_Tipo_Grupo IN (2,8)
                )
            )
        )
    ) 
    AND SUBSTRING(CONVERT(VARCHAR(6),FA.Dt_Lote,112),1,6) = @pDt_LoteDe
    AND RI.Id_Conglomerado NOT IN (31)
    AND (F.Id_Filial = NFF.Id_Filial OR NFF.Id_Filial IS NULL)
    AND (NFF.Id_Ativo = RI.Id_Ativo OR NFF.Id_Ativo IS NULL)
GROUP BY 
    CO.Nm_Conglomerado, FA.Nr_Fatura, F.Cd_Filial, NFF.Nr_Nota_Fiscal, 
    COALESCE(NFF.Total_Pct_Nota_Fiscal, RI.Valor_Rateado), FA.Vr_Fatura, 
    RI.Valor_Rateado, FA.Dt_Lote, FA.Dt_Emissao, FA.Dt_Vencimento;


-- Exportação
IF @pPakage = 'sp_Rateio_Export'
BEGIN
    SELECT 
        MAX(Conglomerado) AS [Conglomerado],
        Conta, 
        MAX([Conta Contábil]) AS [Conta Contábil], 
        Filial, 
        MAX([UC (Centro de Custo)]) AS [UC (Centro de Custo)], 
        MAX([Número NF]) AS [Número NF], 
        SUM([Valor NF]) AS [Valor],  
        MAX(Vr_Fatura) AS Vr_Fatura,
        MAX([Ref]) AS [Ref],
        MAX([Dt. Emissão]) AS [Dt. Emissão],
        MAX([Dt. Vencimento]) AS [Dt. Vencimento]
    FROM #Temp_Export
    GROUP BY Conta, Filial, [UC (Centro de Custo)], [Número NF]
    ORDER BY [Conglomerado], Conta
END

-- Grid
IF @pPakage = 'sp_Rateio'
BEGIN
    SELECT 
        MAX(Conglomerado) AS [Conglomerado],
        Conta, 
        MAX([Conta Contábil]) AS [Conta Contábil], 
        Filial, 
        MAX([UC (Centro de Custo)]) AS [UC (Centro de Custo)], 
        MAX([Número NF]) AS [Número NF], 
        SUM([Valor NF]) AS [Valor],  
        MAX(Vr_Fatura) AS Vr_Fatura,
        MAX([Ref]) AS [Ref],
        MAX([Dt. Emissão]) AS [Dt. Emissão],
        MAX([Dt. Vencimento]) AS [Dt. Vencimento]
    FROM #Temp_Export
    GROUP BY Conta, Filial, [UC (Centro de Custo)], [Número NF]
    ORDER BY [Conglomerado], Conta
END
GO
