USE [Ultragaz]
GO
/****** Object:  StoredProcedure [dbo].[pa_Fatura]    Script Date: 7/31/2025 10:42:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_Fatura] (	@pPakage				VARCHAR(200),
									@pId_Fatura				INT				= NULL,
									@pId_Fatura_Parametro	INT				= NULL,
									@pNr_Fatura				VARCHAR(50)		= NULL,
									@pNm_Fatura				VARCHAR(50)		= NULL,
									@pDt_Lote				VARCHAR(6)		= NULL,
									@pDt_Emissao			DATETIME		= NULL,
									@pDt_Vencimento			DATETIME		= NULL,
									@pVr_Fatura				NUMERIC(13,2)	= NULL,
									@pNm_Campo				VARCHAR(MAX)	= NULL,
									@pId_Conglomerado		INT				= NULL,		
									@pId_Usuario_Permissao	INT				= NULL,
									@pNota_Fiscal			VARCHAR(250)	= NULL,
									@pPedido				VARCHAR(250)	= NULL,
									@pRef					VARCHAR(200)	= NULL,
									@pReq					VARCHAR(150)	= NULL,
									@pProvisao               INT             = NULL,
									@pObservacao             VARCHAR(100)    = NULL) AS
-----cria variavel
DECLARE @SQLXML VARCHAR(MAX)





	-----Adiciona o email para quem receberá a notificação


--INSERT INTO Mail_Caixa_Saida
--		VALUES (9,
--				'rafaela.menezes@prestadores.uhgbrasil.com.br',
--				'teste@icontrolit.com.br',
--				'Fatura Recebida ' + (select Nm_Conglomerado  from Conglomerado where Id_Conglomerado = @pId_Conglomerado) + ' Lote Mes ' + @pDt_Lote,
--				'2020-01-01',
--				NULL,
--				0,
--				0,
--				0)

-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Fatura WHERE Id_Fatura = @pId_Fatura)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Fatura
			SET		Id_Fatura_Parametro	= @pId_Fatura_Parametro,
					Nr_Fatura			= @pNr_Fatura,
					Nm_Fatura			= @pNm_Fatura,
					Dt_Lote				= @pDt_Lote,
					Dt_Emissao			= @pDt_Emissao,
					Dt_Vencimento		= @pDt_Vencimento,
					Vr_Fatura			= @pVr_Fatura,
					Nm_Campo			= @pNm_Campo,
					Nota_Fiscal			= @pNota_Fiscal,
					Pedido				= @pPedido,
					Ref					= @pRef,
					Req					= @pReq,
					Provisao            = @pProvisao,
					Observacao          = @pObservacao
			WHERE	Id_Fatura = @pId_Fatura
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Fatura(	Id_Fatura_Parametro,
								Nr_Fatura,
								Nm_Fatura,
								Dt_Lote,
								Dt_Emissao,
								Dt_Vencimento,
								Vr_Fatura,
								Nm_Campo,
								Nota_Fiscal,
								Pedido,
								Ref,
								Req,
								Provisao,
								Observacao) 
			VALUES(	@pId_Fatura_Parametro,
					@pNr_Fatura,
					@pNm_Fatura,
					@pDt_Lote,
					@pDt_Emissao,
					@pDt_Vencimento,
					@pVr_Fatura,
					@pNm_Campo,
					@pNota_Fiscal,
					@pPedido,
					@pRef,
					@pReq,
					@pProvisao,
					@pObservacao)
			
			-----captura (id_fatura)
			DECLARE @vId_Fatura As INT
			SELECT @vId_Fatura = ISNULL(MAX(Id_Fatura), 1) FROM Fatura

			-----insere bilhete de ativo padrao
			IF EXISTS (	SELECT	Nm_Fatura_Parametro_Campo 
						FROM	Fatura_Parametro_Campo 
						WHERE	Id_Fatura_Parametro = @pId_Fatura_Parametro
								AND Sinal = 1)
			BEGIN
				-----captura (id_ativo)
				DECLARE @v_Id_Ativo AS INT
				SELECT @v_Id_Ativo = Id_Ativo FROM Fatura_Parametro WHERE Id_Fatura_Parametro = @pId_Fatura_Parametro

				-----busca conglomerado
				DECLARE @v_Id_Conglomerado AS INT
				SELECT	@v_Id_Conglomerado = Id_Conglomerado
				FROM	Ativo
				WHERE	Id_Ativo = @v_Id_Ativo			
				
				-----valida bilhete tipo para inserir novo
				IF NOT EXISTS (SELECT * FROM Bilhete_Tipo
								WHERE Nm_Bilhete_Tipo IN (	SELECT Nm_Fatura_Parametro_Campo 
															FROM Fatura_Parametro_Campo 
															WHERE Id_Fatura_Parametro = @pId_Fatura_Parametro))
				BEGIN
					INSERT INTO Bilhete_Tipo
					SELECT	@v_Id_Conglomerado,
							Nm_Fatura_Parametro_Campo,
							NULL,
							1,
							1,
							0
					FROM	Fatura_Parametro_Campo
					WHERE	Id_Fatura_Parametro = @pId_Fatura_Parametro
							AND Sinal IN (1)
				END
				-----cria lote captura (Id_Lote)
				DECLARE @v_Id_Lote AS FLOAT
				SELECT @v_Id_Lote = ISNULL(MAX(Id_Lote) + 1, 1) FROM Lote
				-----insere lote
				INSERT INTO Lote (	Id_Lote,
									Id_Ativo,
									Dt_Lote,
									Dt_Liberacao_Lote,
									Total,
									Total_Sem_Auditoria,
									Total_Cobrado,
									Total_Devolucao,
									Total_Final_Semana,
									Fora_Horario,
									Dentro_Horario,
									Trafego,
									DC_Nr_Nota_Fiscal)
				VALUES(	@v_Id_Lote,
						@v_Id_Ativo,
						CONVERT(DATETIME, @pDt_Lote + '01'),
						GETDATE(),
						0,
						0,
						0,
						0,
						0,
						0,
						0,
						0,
						@pNr_Fatura)

				-----cria bilhete
				-----captura (Id_Bilhete)
				DECLARE @v_Id_Bilhete AS FLOAT
				SELECT @v_Id_Bilhete = ISNULL(MAX(Id_Bilhete), 1) FROM Bilhete

				-----insere bilhete
				SET @SQLXML = ''
				SELECT	@SQLXML = @SQLXML + 'SELECT DISTINCT ' + '''' + Nm_Fatura_Parametro_Campo + '''' + ' AS Nm_Fatura_Parametro_Campo' + ',' + 
						'tab.col.value(' + '''' + './'+  Nm_Fatura_Parametro_Campo + '[1]'+'''' + ',' + '''' + 'VARCHAR(800)' + '''' + ') AS Descricao ' + 
						'FROM Fatura F CROSS APPLY Nm_Campo.nodes(' + '''' + '/dados' + '''' + ') AS tab(col) ' +
						'INNER JOIN Fatura_Parametro_Campo FPC on FPC.Id_Fatura_Parametro = F.Id_Fatura_Parametro ' +
						'WHERE F.Id_Fatura = ' + CONVERT(VARCHAR,@vId_Fatura) +  ' ' +
						'AND FPC.SINAL IN (1) ' +
						' UNION '
				FROM Fatura_Parametro_Campo
				WHERE Id_Fatura_Parametro = @pId_Fatura_Parametro

				IF NOT @SQLXML = ''
				BEGIN
					SELECT @SQLXML = SUBSTRING(@SQLXML,1,(LEN(@SQLXML) - 5))
					CREATE TABLE #Temp (Nm_Fatura_Parametro_Campo VARCHAR(50), Valor VARCHAR(800))
					INSERT INTO #Temp
					EXEC(@SQLXML)
				END

				INSERT INTO Bilhete 
				SELECT	(@v_Id_Bilhete + (row_number() over (order by id_bilhete_tipo))),
						@v_Id_Ativo,
						GETDATE(),
						'Auto Insert',
						1,
						T.Valor,
						BT.Id_Bilhete_Tipo,
						@v_Id_Lote,
						NULL,
						T.Valor,
						NULL,
						@pNr_Fatura,
						NULL,
						'FAT',
						0
				FROM	#Temp T INNER JOIN Bilhete_Tipo BT ON (T.Nm_Fatura_Parametro_Campo = BT.Nm_Bilhete_Tipo)
			END
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		IF NOT EXISTS(SELECT * FROM Rl_Rateio_Fatura WHERE Id_Fatura = @pId_Fatura)
		BEGIN
			IF NOT EXISTS(SELECT Id_Fatura FROM Rl_Rateio_Fatura WHERE Id_Fatura = @pId_Fatura)
			BEGIN
				-----deleta lote
				SELECT	Id_lote INTO #TempLote
				FROM	Lote LT INNER JOIN Fatura FT ON (LT.DC_Nr_Nota_Fiscal = FT.Nr_Fatura)
				WHERE	LT.Id_Ativo IN (SELECT Id_Ativo FROM Fatura_Parametro WHERE Id_Fatura_Parametro = FT.Id_Fatura_Parametro)
						AND FT.Id_Fatura = @pId_Fatura
				DELETE FROM Bilhete WHERE Id_Lote IN (SELECT Id_Lote FROM #TempLote)
				DELETE FROM Bilhete_Data WHERE Id_Lote IN (SELECT Id_Lote FROM #TempLote)
				DELETE FROM Lote_Log_Criacao WHERE Id_Lote IN (SELECT Id_Lote FROM #TempLote)
				DELETE FROM Lote_Marcacao WHERE Id_Lote IN (SELECT Id_Lote FROM #TempLote)
				DELETE FROM Lote WHERE Id_Lote IN (SELECT Id_Lote FROM #TempLote)
				-----deleta fatura
				DELETE	Fatura 
				WHERE	Id_Fatura = @pId_Fatura
			END
		END		
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Fatura,'')			AS Id_Fatura,
			ISNULL(Id_Fatura_Parametro,'')	AS Id_Fatura_Parametro,
			ISNULL(Nr_Fatura,'')			AS Nr_Fatura,
			ISNULL(Nm_Fatura,'')			AS Nm_Fatura,
			ISNULL(Dt_Lote,'')				AS Dt_Lote,
			ISNULL(Dt_Emissao,'')			AS Dt_Emissao,
			ISNULL(Dt_Vencimento,'')		AS Dt_Vencimento,
			ISNULL(Vr_Fatura,'')			AS Vr_Fatura,
			ISNULL(Nota_Fiscal,'')			AS Nota_Fiscal,
			ISNULL(Pedido,'')				AS Pedido,
			ISNULL(Ref,'')					AS Ref,
			ISNULL(Req,'')					AS Req,
			ISNULL(Provisao,'')             AS Provisao,
			ISNULL(Observacao,'')           AS Observacao    
	FROM	Fatura
	WHERE	Id_Fatura = @pId_Fatura
END

-----consulta campo fatura (insert)
IF @pPAKAGE = 'sp_SL_Campo_Insert'
BEGIN
	SELECT	ISNULL(Nm_Fatura_Parametro_Campo,' ') AS Nm_Fatura_Parametro_Campo,
			'' AS Descricao
	FROM	Fatura_Parametro_Campo
	WHERE	Id_Fatura_Parametro = @pId_Fatura_Parametro
END

-----consulta campo de fatura
IF @pPAKAGE = 'sp_SL_Dados_Fatura'
BEGIN
	SET @SQLXML = ''
	SELECT	@SQLXML = @SQLXML + 'SELECT DISTINCT ' + '''' + Nm_Fatura_Parametro_Campo + '''' + ' AS Nm_Fatura_Parametro_Campo' + ',' + 
			'tab.col.value(' + '''' + './'+  Nm_Fatura_Parametro_Campo + '[1]'+'''' + ',' + '''' + 'VARCHAR(800)' + '''' + ') AS Descricao ' + 
			'FROM Fatura F CROSS APPLY Nm_Campo.nodes(' + '''' + '/dados' + '''' + ') AS tab(col) ' +
			'INNER JOIN Fatura_Parametro_Campo FPC on FPC.Id_Fatura_Parametro = F.Id_Fatura_Parametro ' +
			'WHERE F.Id_Fatura = ' + CONVERT(VARCHAR,@pId_Fatura) + ' UNION '
	FROM Fatura_Parametro_Campo
	WHERE Id_Fatura_Parametro = @pId_Fatura_Parametro

	IF NOT @SQLXML = ''
	BEGIN
		SELECT @SQLXML = SUBSTRING(@SQLXML,1,(LEN(@SQLXML) - 5))
		EXEC(@SQLXML)
	END
	ELSE	
	BEGIN
		SELECT	ISNULL(Nm_Fatura_Parametro_Campo,' ') AS Nm_Fatura_Parametro_Campo,
				'' AS Descricao
		FROM	Fatura_Parametro_Campo
		WHERE	Id_Fatura_Parametro = @pId_Fatura_Parametro
	END
END

-----consulta fatura para conferencia e recepcao
IF @pPAKAGE = 'sp_SL_Conferencia_Recepcao'
BEGIN
	SELECT	LT.DC_Nr_Nota_Fiscal AS Fatura,
			SUM(LT.Total) AS Valor
	FROM	Lote LT INNER JOIN Ativo AT ON (AT.Id_Ativo = LT.Id_Ativo)
	WHERE	LT.Dt_Lote = CONVERT(DATETIME, @pDt_Lote + '01')
			AND AT.Id_Conglomerado = @pId_Conglomerado
			AND NOT EXISTS(SELECT * FROM Fatura FT WHERE Dt_lote = @pDt_Lote AND FT.Nr_Fatura = LT.DC_Nr_Nota_Fiscal)
	--		AND NOT LT.Id_Ativo = (SELECT Id_Ativo FROM Fatura_Parametro WHERE Id_Fatura_Parametro = @pId_Fatura_Parametro)
	GROUP BY LT.DC_Nr_Nota_Fiscal
	ORDER BY LT.DC_Nr_Nota_Fiscal
END

-----insere fatura da conferencia
IF @pPAKAGE = 'sp_SL_Insert_Fatura_Conferencia'
BEGIN
	DECLARE @vNm_Fatura VARCHAR(50)
	SET @vNm_Fatura = (SELECT Nm_Fatura_Parametro FROM Fatura_Parametro WHERE Id_Fatura_Parametro = @pId_Fatura_Parametro) +
						+ ' ' + @pDt_Lote + ' NF - ' + @pNr_Fatura
		
	INSERT INTO Fatura(	Id_Fatura_Parametro,
						Nr_Fatura,
						Nm_Fatura,
						Dt_Lote,
						Dt_Emissao,
						Dt_Vencimento,
						Vr_Fatura,
						Nm_Campo) 
	VALUES(	@pId_Fatura_Parametro,
			@pNr_Fatura,
			@vNm_Fatura,
			@pDt_Lote,
			@pDt_Emissao,
			@pDt_Vencimento,
			@pVr_Fatura,
			@pNm_Campo)
END
GO
