USE [Ultragaz]
GO
/****** Object:  StoredProcedure [dbo].[pa_Tronco_Grupo]    Script Date: 7/31/2025 10:42:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Tronco_Grupo] (	@pPakage				VARCHAR(200),
											@pId_Tronco_Grupo		INT			= NULL,
											@pNm_Tronco_Grupo		VARCHAR(50)	= NULL,
											@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Tronco_Grupo WHERE Id_Tronco_Grupo = @pId_Tronco_Grupo)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Tronco_Grupo 
			SET		Nm_Tronco_Grupo = @pNm_Tronco_Grupo
			WHERE	Id_Tronco_Grupo = @pId_Tronco_Grupo
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Tronco_Grupo (	Nm_Tronco_Grupo,
										Fl_Desativado) 
			VALUES(	@pNm_Tronco_Grupo,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Tronco_Grupo 
		SET		Fl_Desativado = 1 
		WHERE	Id_Tronco_Grupo = @pId_Tronco_Grupo
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Tronco_Grupo,'') AS Id_Tronco_Grupo,
			ISNULL(Nm_Tronco_Grupo,'') AS Nm_Tronco_Grupo
	FROM	vw_Tronco_Grupo
	WHERE	Id_Tronco_Grupo = @pId_Tronco_Grupo
END




GO
