USE [Ultragaz]
GO
/****** Object:  StoredProcedure [dbo].[cg_co_us_Gera_Importacao]    Script Date: 7/31/2025 10:42:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cg_co_us_Gera_Importacao](	@pPakage			VARCHAR(200),
													@pId_Campo			INT,
													@pCampo_Arquivo		VARCHAR(50),
													@pColuna_Fixo		VARCHAR(50),
													@pImportacao		VARCHAR(50)) AS
--declare @pPakage			VARCHAR(200)
--declare @pId_Campo			INT
--declare @pCampo_Arquivo		VARCHAR(50)
--declare @pColuna_Fixo		VARCHAR(50)
--declare @pImportacao		VARCHAR(50)

--set @pPakage = 'sp_Valida_Importar'
--set @pId_Campo = null	
--set  @pCampo_Arquivo = null
--set @pColuna_Fixo = null
--set @pImportacao='usuario'


-----monta variaveis de importacao
DECLARE @TArquivo TABLE (Nm_Arquivo VARCHAR(8000)) 
DECLARE @result TABLE (Campo VARCHAR(300))
DECLARE @frase VARCHAR(max)
DECLARE @delimitador VARCHAR(max) = ';'
DECLARE @parte VARCHAR(8000)
DECLARE	@sql VARCHAR(8000)
DECLARE @contador INT = 1
DECLARE @vPath_Arquivo VARCHAR(50)
DECLARE @vExtensao_Arquivo VARCHAR(50)
DECLARE @vcmd AS VARCHAR(8000)
DECLARE @vNm_Arquivo AS VARCHAR(8000)

-------------------------------------------------------------------------------
-----captura path do diretorio
SELECT	@vPath_Arquivo		= Path_Arquivo,
		@vExtensao_Arquivo	= Extensao_Arquivo
FROM	Cg_Bi_Arquivo
WHERE	Importacao = @pImportacao

-----verifica existencia de diretorio
SET @vcmd = 'CD ' + @vPath_Arquivo + '\Arquivo_Carregado'
INSERT INTO @TArquivo
EXEC master..xp_cmdshell @vCMD

DELETE @TArquivo WHERE Nm_Arquivo IS NULL

IF EXISTS(SELECT * FROM @TArquivo)
BEGIN
	SET @vCMD = 'MD ' + @vPath_Arquivo + '\Arquivo_Carregado'
	EXEC master..xp_cmdshell @vCMD, NO_OUTPUT 
END

-----carreta arquivos para tabela
DELETE @TArquivo
SET @vCMD = 'DIR /B ' + @vPath_Arquivo + '\*.' + @vExtensao_Arquivo
INSERT INTO @TArquivo
EXEC master..xp_cmdshell @vCMD

-----limpa campo null
DELETE @TArquivo WHERE Nm_Arquivo IS NULL

-----captura nome do arquivo
SET @vNm_Arquivo = (SELECT TOP 1 Nm_Arquivo FROM @TArquivo)

-----drop table de importacao
IF EXISTS (	SELECT name FROM sysobjects WHERE name = 'Cg_Tmp_Import' AND type = 'U')
BEGIN	
	DROP TABLE Cg_Tmp_Import
END 

-------------------------------------------------------------------------------

-----monta campo da importacao do usuario
IF @pPakage = 'sp_Monta_Campo'
BEGIN
	-----cria table para armazenar dados temporariamente
	IF EXISTS (	SELECT name FROM sysobjects WHERE name = 'Cg_Tmp_Import' AND type = 'U')
		DROP TABLE Cg_Tmp_Import
	
	CREATE TABLE Cg_Tmp_Import (Linha VARCHAR(8000))

	-----busca cabecario
	SELECT	@sql = 'BULK INSERT Cg_Tmp_Import' +
					 ' FROM ' + '''' + @vPath_Arquivo + '\' + @vNm_Arquivo + '''' +
					 ' WITH (FIRSTROW = 1,' + 
							'LASTROW = 1,' +
							'ROWTERMINATOR = ''' + '\n' + '''' + ',' +
							'DATAFILETYPE = ''' + 'widechar' + '''' + ',' +
							'CODEPAGE = '''+ 'ACP' +''''+')'	
	
	EXEC(@sql)

	SELECT @frase = Linha FROM Cg_Tmp_Import
		
	WHILE CHARINDEX(@delimitador,@frase,0) <> 0
	BEGIN
		SELECT @parte=RTRIM(LTRIM(SUBSTRING(@frase,1,CHARINDEX(@delimitador,@frase,0)-1))),
				@frase=RTRIM(LTRIM(SUBSTRING(@frase,CHARINDEX(@delimitador,@frase,0)+LEN(@delimitador),LEN(@frase))))
		IF LEN(@parte) > 0
		BEGIN
			INSERT INTO @result SELECT @parte
		END
		ELSE
		BEGIN
			INSERT INTO @result VALUES('Coluna_' + CONVERT(VARCHAR,@contador))
			SET @contador = @contador +1
		END
	END
	IF LEN(@frase) > 0
	BEGIN
		INSERT INTO @result SELECT @frase
	END

	-----limpa campo caso tenhaoutro cobeçario
	UPDATE	cg_Bi_Arquivo_Campo_Importacao
	SET		Campo_Arquivo = NULL 
	FROM	cg_Bi_Arquivo_Campo_Importacao ACI
	WHERE	NOT EXISTS(SELECT * FROM @result WHERE Campo = ACI.Campo_Arquivo)
	
	------lista campo
	SELECT	Id_Campo,
			Campo,
			Vazio + CASE WHEN Vazio = 'Sim' AND Campo_Arquivo IS NULL THEN '*' 
						WHEN NOT Campo_Arquivo IS NULL THEN '(ok)' 
						ELSE '' END AS Vazio,
			Coluna_Fixo, 
			Tamanho,
			Descricao,
			'' AS Observacao,
			'' AS Quantidade
	FROM	cg_Bi_Arquivo_Campo_Importacao
	WHERE	Importacao = @pImportacao
END

-----salva campo de usuario no template
IF @pPAKAGE = 'sp_Drop_Campo_Usuario'
BEGIN
	SELECT	Id_Campo	AS ID,
			Campo		AS Descricao
	FROM	cg_Bi_Arquivo_Campo_Importacao
	WHERE	Importacao = @pImportacao
END

-----salva campo de usuario no template (Limpar)
IF @pPAKAGE = 'sp_SM_Campo_Usuario_Limpar'
BEGIN
	UPDATE	cg_Bi_Arquivo_Campo_Importacao
	SET		Campo_Arquivo = null
	WHERE	Importacao = @pImportacao
END

-----salva campo de usuario no template (Gravar)
IF @pPAKAGE = 'sp_SM_Campo_Usuario'
BEGIN
	UPDATE	cg_Bi_Arquivo_Campo_Importacao
	SET		Campo_Arquivo = @pCampo_Arquivo
	WHERE	Importacao = @pImportacao
			AND Id_Campo = @pId_Campo
END

-----salva campo fixo 
IF @pPAKAGE = 'sp_SM_Campo_Fixo'
BEGIN
	UPDATE	cg_Bi_Arquivo_Campo_Importacao
	SET		Coluna_Fixo = @pColuna_Fixo
	WHERE	Importacao = @pImportacao
			AND Id_Campo = @pId_Campo													
END

-----monta coluna do arquivo importado
IF @pPakage = 'sp_Coluna_Arquivo'
BEGIN
	-----cria table para armazenar dados temporariamente
	IF EXISTS (	SELECT name FROM sysobjects WHERE name = 'Cg_Tmp_Import' AND type = 'U')
		DROP TABLE Cg_Tmp_Import
	
	CREATE TABLE Cg_Tmp_Import (Linha VARCHAR(8000))

	-----busca cabecario
	SELECT	@sql = 'BULK INSERT Cg_Tmp_Import' +
					 ' FROM ' + '''' + @vPath_Arquivo + '\' + @vNm_Arquivo + '''' +
					 ' WITH (FIRSTROW = 1,' + 
							'LASTROW = 1,' +
							'ROWTERMINATOR = ''' + '\n' + '''' + ',' +
							'DATAFILETYPE = ''' + 'widechar' + '''' + ',' +
							'CODEPAGE = '''+ 'ACP' +''''+')'	
	EXEC(@sql)

	SELECT @frase = Linha FROM Cg_Tmp_Import
		
	WHILE CHARINDEX(@delimitador,@frase,0) <> 0
	BEGIN
		SELECT @parte=RTRIM(LTRIM(SUBSTRING(@frase,1,CHARINDEX(@delimitador,@frase,0)-1))),
				@frase=RTRIM(LTRIM(SUBSTRING(@frase,CHARINDEX(@delimitador,@frase,0)+LEN(@delimitador),LEN(@frase))))
		IF LEN(@parte) > 0
		BEGIN
			INSERT INTO @result SELECT @parte
		END
		ELSE
		BEGIN
			INSERT INTO @result VALUES('Coluna_' + CONVERT(VARCHAR,@contador))
			SET @contador = @contador +1
		END
	END
	IF LEN(@frase) > 0
	BEGIN
		INSERT INTO @result SELECT @frase
	END

	-----lista campo
	SELECT	Campo,
			(SELECT Id_Campo 
			FROM	cg_Bi_Arquivo_Campo_Importacao 
			WHERE	Campo_Arquivo = A.Campo 
					AND Importacao = @pImportacao) AS Campo_Arquivo
	FROM	@result A
END

-----monta coluna do arquivo importado
IF @pPakage = 'sp_Valida_Importar'
BEGIN
	-----cria table para armazenar dados temporariamente
	IF EXISTS (SELECT name FROM sysobjects WHERE name = 'Cg_Tmp_Import' AND type = 'U')
	BEGIN	
		DROP TABLE Cg_Tmp_Import
	END 
	
	CREATE TABLE Cg_Tmp_Import (Linha VARCHAR(8000))

	-----busca cabecario
	SELECT	@sql = 'BULK INSERT Cg_Tmp_Import' +
					 ' FROM ' + '''' + @vPath_Arquivo + '\' + @vNm_Arquivo + ''''+
					 ' WITH (FIRSTROW = 1,' + 
							'LASTROW = 1,' +
							'ROWTERMINATOR = ''' + '\n' + '''' + ',' +
							'DATAFILETYPE = ''' + 'widechar' + '''' + ',' +
							'CODEPAGE = '''+ 'ACP' +''''+')'	
	EXEC(@sql)

	SELECT @frase = Linha FROM Cg_Tmp_Import
		
	WHILE CHARINDEX(@delimitador,@frase,0) <> 0
	BEGIN
		SELECT @parte=RTRIM(LTRIM(SUBSTRING(@frase,1,CHARINDEX(@delimitador,@frase,0)-1))),
				@frase=RTRIM(LTRIM(SUBSTRING(@frase,CHARINDEX(@delimitador,@frase,0)+LEN(@delimitador),LEN(@frase))))
		IF LEN(@parte) > 0
		BEGIN
			INSERT INTO @result SELECT @parte
		END
		ELSE
		BEGIN
			INSERT INTO @result VALUES('Coluna_' + CONVERT(VARCHAR,@contador))
			SET @contador = @contador +1
		END
	END
	IF LEN(@frase) > 0
	BEGIN
		INSERT INTO @result SELECT @frase
	END

	-----cria table para importar
	SET @sql = 'CREATE TABLE Cg_Tmp_Import ( '
	SELECT	@sql = @sql + '[' + Campo + ']' + ' VARCHAR(300),'
	FROM	@result A
	SET @sql = SUBSTRING(@sql, 1 , LEN(@sql)-1) + ')'
	
	-----cria table para armazenar dados temporariamente
	IF EXISTS (	SELECT name FROM sysobjects WHERE name = 'Cg_Tmp_Import' AND type = 'U')
	BEGIN	
		DROP TABLE Cg_Tmp_Import
	END
	EXEC(@sql)
	
	-----busca cabecario
	SELECT	@sql =	 'BULK INSERT Cg_Tmp_Import' +
					 ' FROM ' + '''' + @vPath_Arquivo + '\' + @vNm_Arquivo + ''''+
					 ' WITH (FIRSTROW = 2,' + 
							'FIELDTERMINATOR = ' + '''' + ';' + '''' + ',' +
							'ROWTERMINATOR = ''' + '\n' + '''' + ',' +
							'DATAFILETYPE = ''' + 'widechar' + '''' + ',' +
							'CODEPAGE = '''+ 'ACP' +''''+')'
	EXEC(@sql)
	
	-----transfere dados para template
	SET @sql = 'SELECT '
	
	SELECT	@sql = @sql +
			CASE WHEN NOT Campo_Arquivo IS NULL THEN '[' + Campo_Arquivo + '] AS ' + Campo + ', '
				WHEN Campo_Arquivo IS NULL AND NOT Coluna_Fixo IS NULL 
					AND EXISTS (SELECT * FROM cg_Bi_Arquivo_Campo_Importacao WHERE Importacao = @pImportacao AND Campo = CI.Coluna_Fixo) 
					THEN '[' + (	SELECT	Campo_Arquivo 
									FROM	cg_Bi_Arquivo_Campo_Importacao 
									WHERE	Importacao = @pImportacao
											AND Campo = CI.Coluna_Fixo) + ']' + ' AS ' + Campo  + ', '
				WHEN Campo_Arquivo IS NULL AND NOT Coluna_Fixo IS NULL  THEN '''' + Coluna_Fixo + '''' + ' AS ' + Campo  + ', '
				WHEN Campo_Arquivo IS NULL AND Coluna_Fixo IS NULL THEN 'NULL AS ' + Campo  + ', ' 
			END
	FROM	cg_Bi_Arquivo_Campo_Importacao CI
	WHERE	Importacao = @pImportacao

	SET @sql = SUBSTRING(@sql, 1 , LEN(@sql)-1) + ' FROM Cg_Tmp_Import'

	DELETE FROM Cg_RH_Arquivo_Temp	
	INSERT INTO Cg_RH_Arquivo_Temp
	EXEC(@sql)

	-----------------------------------------------------------------------------------------------------------
	-----convert email para miniculo
	UPDATE Cg_RH_Arquivo_Temp SET E_Mail_Colaborador = LOWER(E_Mail_Colaborador)
	
	-----configura centro de custo em branco
	--IF EXISTS(SELECT * FROM Cg_RH_Arquivo_Temp WHERE REPLACE(Codigo_Centro_Custo,' ', '') = '' OR Codigo_Centro_Custo IS NULL)
	--	UPDATE Cg_RH_Arquivo_Temp SET Codigo_Centro_Custo = Centro_Custo
	
	-----configura centro de custo em branco
	--IF EXISTS(SELECT * FROM Cg_RH_Arquivo_Temp WHERE REPLACE(Centro_Custo,' ', '') = '' OR Centro_Custo IS NULL)
	--	UPDATE Cg_RH_Arquivo_Temp SET Centro_Custo = Codigo_Centro_Custo 

	-----configura login de usuario em branco
	IF EXISTS(SELECT * FROM Cg_RH_Arquivo_Temp WHERE REPLACE(Login_Colaborador,' ', '') = '' OR Login_Colaborador IS NULL)
		UPDATE	Cg_RH_Arquivo_Temp
		SET		Login_Colaborador = CASE WHEN (REPLACE(E_Mail_Colaborador,' ', '') = '' OR E_Mail_Colaborador IS NULL) THEN Matricula_Colaborador ELSE SUBSTRING(E_Mail_Colaborador, 1, (PATINDEX('%@%', E_Mail_Colaborador) - 1)) END
		FROM	Cg_RH_Arquivo_Temp 
		WHERE	(REPLACE(Login_Colaborador,' ', '') = '' OR Login_Colaborador IS NULL)

	-----------------------------------------------------------------------------------------------------------		
	-----monta observacao
	DECLARE @v_Valida_Campo_Obrigatorio TABLE(Campo VARCHAR(100), Observacao VARCHAR(100))
	INSERT INTO @v_Valida_Campo_Obrigatorio
	SELECT Campo, '' FROM cg_Bi_Arquivo_Campo_Importacao WHERE Importacao = @pImportacao
	
	IF EXISTS(SELECT * FROM Cg_RH_Arquivo_Temp WHERE REPLACE(Nome_Colaborador,' ', '') = '' OR Nome_Colaborador IS NULL)
		UPDATE @v_Valida_Campo_Obrigatorio SET Observacao = Observacao + '(Nome_Colaborador em branco)' WHERE Campo = 'Nome_Colaborador'
	
	IF EXISTS(SELECT * FROM Cg_RH_Arquivo_Temp WHERE REPLACE(Tipo_Colaborador,' ', '') = '' OR Tipo_Colaborador IS NULL)
		UPDATE @v_Valida_Campo_Obrigatorio SET Observacao = Observacao + '(Tipo_Colaborador em branco)' WHERE Campo = 'Tipo_Colaborador'
	
	IF EXISTS(SELECT * FROM Cg_RH_Arquivo_Temp WHERE REPLACE(Matricula_Colaborador,' ', '') = '' OR Matricula_Colaborador IS NULL)
		UPDATE @v_Valida_Campo_Obrigatorio SET Observacao = Observacao + '(Matricula_Colaborador em branco)' WHERE Campo = 'Matricula_Colaborador'
	
	IF EXISTS(SELECT * FROM Cg_RH_Arquivo_Temp WHERE REPLACE(Empresa,' ', '') = '' OR Empresa IS NULL)
		UPDATE @v_Valida_Campo_Obrigatorio SET Observacao = Observacao + '(Empresa em branco)' WHERE Campo = 'Empresa'

	IF EXISTS(SELECT * FROM Cg_RH_Arquivo_Temp WHERE REPLACE(Filial,' ', '') = '' OR Filial IS NULL)
		UPDATE @v_Valida_Campo_Obrigatorio SET Observacao = Observacao + '(Filial em branco)' WHERE Campo = 'Filial'

	IF EXISTS(SELECT * FROM Cg_RH_Arquivo_Temp WHERE REPLACE(Codigo_Centro_Custo,' ', '') = '' OR Codigo_Centro_Custo IS NULL)
		UPDATE @v_Valida_Campo_Obrigatorio SET Observacao = Observacao + '(Codigo_Centro_Custo em branco)' WHERE Campo = 'Codigo_Centro_Custo'
	
	IF EXISTS(SELECT * FROM Cg_RH_Arquivo_Temp WHERE REPLACE(Centro_Custo,' ', '') = '' OR Centro_Custo IS NULL)
		UPDATE @v_Valida_Campo_Obrigatorio SET Observacao = Observacao + '(Centro_Custo em branco)' WHERE Campo = 'Centro_Custo'
	
	IF EXISTS(SELECT * FROM Cg_RH_Arquivo_Temp WHERE REPLACE(Status_Colaborador,' ', '') = '' OR Status_Colaborador IS NULL)
		UPDATE @v_Valida_Campo_Obrigatorio SET Observacao = Observacao + '(Status_Colaborador em branco)' WHERE Campo = 'Status_Colaborador'
		
	IF EXISTS(SELECT Matricula_Colaborador FROM Cg_RH_Arquivo_Temp GROUP BY Matricula_Colaborador HAVING COUNT(Matricula_Colaborador) > 1)
		UPDATE @v_Valida_Campo_Obrigatorio SET Observacao = Observacao + '(Informacao duplicada na coluna Matricula_Colaborador) - ' + (SELECT TOP 1 Matricula_Colaborador FROM Cg_RH_Arquivo_Temp GROUP BY Matricula_Colaborador HAVING COUNT(Matricula_Colaborador) > 1)
		WHERE Campo = 'Matricula_Colaborador'
	
	IF (SELECT COUNT(*) FROM @v_Valida_Campo_Obrigatorio WHERE NOT Observacao = '') = 0
		UPDATE @v_Valida_Campo_Obrigatorio SET Observacao = Observacao + '(Validacao OK)' WHERE Campo = 'Nome_Colaborador'

	-----------------------------------------------------------------------------------------------------------		
	-----monta quantidade de inserções e desativações	
	DECLARE @v_Valida_Campo_Quantidade TABLE(Campo VARCHAR(100), Quantidade VARCHAR(100))

	-----insere colaborador
	INSERT INTO @v_Valida_Campo_Quantidade
	SELECT	'Nome_Colaborador',  'Inserções ou Atualizações (' + CONVERT(VARCHAR,COUNT(*)) + ')' 
	FROM	Cg_RH_Arquivo_Temp TRH	
	WHERE	NOT EXISTS(SELECT * FROM Consumidor WHERE Matricula = TRH.Matricula_Colaborador) 
			AND NOT EXISTS(SELECT * FROM Usuario WHERE Nm_Usuario = TRH.Login_Colaborador)
	
	-----desativa colaborador
	INSERT INTO @v_Valida_Campo_Quantidade
	SELECT	'Matricula_Colaborador',  'Desativação (' + CONVERT(VARCHAR,COUNT(*)) + ')' 
	FROM	Consumidor CO	INNER JOIN vw_Filial FI ON CO.Id_Filial =  FI.Id_Filial
							INNER JOIN Empresa EP ON EP.Id_Empresa = FI.Id_Empresa
	WHERE	NOT EXISTS (SELECT * FROM Cg_RH_Arquivo_Temp WHERE Matricula_Colaborador = CO.Matricula)
			AND EP.Nm_Empresa IN (SELECT DISTINCT Empresa FROM Cg_RH_Arquivo_Temp)
			AND NOT EXISTS(SELECT * FROM Usuario WHERE Id_Consumidor = CO.Id_Consumidor AND Id_Usuario_Perfil = 1)
			AND CO.Fl_Desativado = 0

	-----insere tipo colaborador
	INSERT INTO @v_Valida_Campo_Quantidade
	SELECT	'Tipo_Colaborador',  '(Inserções ou Atualizações - ' + CONVERT(VARCHAR,COUNT(DISTINCT Tipo_Colaborador)) + ')' 
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Consumidor_Tipo WHERE Nm_Consumidor_Tipo = SUBSTRING(TRH.Tipo_Colaborador,1,50))
			AND NOT TRH.Tipo_Colaborador = ''
			AND NOT TRH.Tipo_Colaborador IS NULL

	-----insere cargo
	INSERT INTO @v_Valida_Campo_Quantidade
	SELECT	'Cargo',  '(Inserções ou Atualizações - ' + CONVERT(VARCHAR,COUNT(DISTINCT Cargo)) + ')' 
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Cargo WHERE Nm_Cargo = SUBSTRING(TRH.Cargo,1,50))
			AND NOT TRH.Cargo = ''
			AND NOT TRH.Cargo IS NULL

	-----insere filial
	INSERT INTO @v_Valida_Campo_Quantidade
	SELECT	'Filial',  '(Inserções ou Atualizações - ' + CONVERT(VARCHAR,COUNT(DISTINCT Filial)) + ')' 
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Filial WHERE Nm_Filial = SUBSTRING(TRH.Filial,1,50))
			AND NOT TRH.Filial = ''
			AND NOT TRH.Filial IS NULL

	-----insere centro de custo
	INSERT INTO @v_Valida_Campo_Quantidade
	SELECT	'Centro_Custo',  '(Inserções ou Atualizações - ' + CONVERT(VARCHAR,COUNT(DISTINCT Centro_Custo)) + ')'
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Centro_Custo WHERE Cd_Centro_Custo = SUBSTRING(TRH.Codigo_Centro_Custo,1,50))
			AND NOT TRH.Codigo_Centro_Custo = '' 
			AND NOT TRH.Codigo_Centro_Custo IS NULL

	-----insere departamento
	INSERT INTO @v_Valida_Campo_Quantidade
	SELECT	'Departamento',  '(Inserções ou Atualizações - ' + CONVERT(VARCHAR,COUNT(DISTINCT Departamento)) + ')'
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Departamento WHERE Nm_Departamento = SUBSTRING(TRH.Departamento,1,50))
			AND NOT TRH.Departamento = ''
			AND NOT TRH.Departamento IS NULL

	-----insere setor
	INSERT INTO @v_Valida_Campo_Quantidade
	SELECT	'Setor',  '(Inserções ou Atualizações - ' + CONVERT(VARCHAR,COUNT(DISTINCT Setor)) + ')'
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Setor WHERE Nm_Setor = SUBSTRING(TRH.Setor,1,50))
			AND NOT TRH.Setor = ''
			AND NOT TRH.Setor IS NULL

	-----insere secao
	INSERT INTO @v_Valida_Campo_Quantidade
	SELECT	'secao',  '(Inserções ou Atualizações - ' + CONVERT(VARCHAR,COUNT( DISTINCT Secao)) + ')'
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Secao WHERE Nm_Secao = SUBSTRING(TRH.Secao,1,50))
			AND NOT TRH.Secao = ''
			AND NOT TRH.Secao IS NULL

	-----insere status colaborador
	INSERT INTO @v_Valida_Campo_Quantidade
	SELECT	'Status_Colaborador',  '(Inserções ou Atualizações - ' + CONVERT(VARCHAR,COUNT(DISTINCT Status_Colaborador)) + ')'
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Consumidor_Status WHERE Nm_Consumidor_Status = SUBSTRING(TRH.Status_Colaborador,1,50))
			AND NOT TRH.Status_Colaborador = ''
			AND NOT TRH.Status_Colaborador IS NULL

	-----insere empresa
	INSERT INTO @v_Valida_Campo_Quantidade
	SELECT	'Empresa',  '(Inserções ou Atualizações - ' + CONVERT(VARCHAR,COUNT(DISTINCT Empresa)) + ')'
		FROM	Cg_RH_Arquivo_Temp TRH
		WHERE	NOT EXISTS(SELECT * FROM Empresa WHERE Nm_Empresa = SUBSTRING(TRH.Empresa,1,50))
				AND NOT TRH.Empresa = ''
				AND NOT TRH.Empresa IS NULL
	-----------------------------------------------------------------------------------------------------------	
	-----lista validacao da base
	SELECT	DISTINCT
			Id_Campo,
			I.Campo,
			Vazio + CASE WHEN Vazio = 'Sim' AND Campo_Arquivo IS NULL THEN '*' 
						WHEN NOT Campo_Arquivo IS NULL THEN '(ok)' 
						ELSE '' END AS Vazio,
			Coluna_Fixo, 
			Tamanho,
			Descricao,
			ISNULL((SELECT TOP 1 Observacao FROM  @v_Valida_Campo_Obrigatorio WHERE Campo = I.Campo), '') AS Observacao,
			ISNULL((SELECT TOP 1 Quantidade FROM @v_Valida_Campo_Quantidade WHERE Campo = I.Campo), '') AS Quantidade
	FROM	cg_Bi_Arquivo_Campo_Importacao I
	
	-----carrega arquivo para o sistema 
	--IF @pCampo_Arquivo = 'carregar'
	--BEGIN
	--	--EXEC dbo.cg_co_us_Importar
	--END
END 

-----monta coluna do arquivo importado
IF @pPakage = 'sp_Lista_10_Registros'
BEGIN
	SELECT	DISTINCT
			'Filial ------------------------------------------------------------------------------------------------' AS Tipo,
			SUBSTRING(ISNULL(TRH.Filial,ISNULL(TRH.Codigo_Filial,'')),1,50) AS Dados
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Filial WHERE Nm_Filial = SUBSTRING(TRH.Filial,1,50))
			AND NOT TRH.Filial = ''
			AND NOT TRH.Filial IS NULL
	UNION ALL ------------------------------------------------------------------------------------------------------
	SELECT	DISTINCT
			'Centro_Custo  -----------------------------------------------------------------------------------------' AS Tipo,
			SUBSTRING(ISNULL(TRH.Codigo_Centro_Custo,''),1,50) AS Dados 
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Centro_Custo WHERE Cd_Centro_Custo = SUBSTRING(TRH.Codigo_Centro_Custo,1,50))
			AND NOT TRH.Codigo_Centro_Custo = '' 
			AND NOT TRH.Codigo_Centro_Custo IS NULL
	UNION ALL ------------------------------------------------------------------------------------------------------
	SELECT	DISTINCT
			'Departamento ------------------------------------------------------------------------------------------' AS Tipo,
			SUBSTRING(ISNULL(TRH.Codigo_Departamento,''),1,20) AS Dados 
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Departamento WHERE Nm_Departamento = SUBSTRING(TRH.Departamento,1,50))
			AND NOT TRH.Departamento = ''
			AND NOT TRH.Departamento IS NULL
	UNION ALL ------------------------------------------------------------------------------------------------------
	SELECT	DISTINCT
			'Setor -------------------------------------------------------------------------------------------------' AS Tipo,
			SUBSTRING(ISNULL(TRH.Codigo_Setor,''),1,20) AS Dados
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Setor WHERE Nm_Setor = SUBSTRING(TRH.Setor,1,50))
			AND NOT TRH.Setor = ''
			AND NOT TRH.Setor IS NULL
	UNION ALL ------------------------------------------------------------------------------------------------------
	SELECT	DISTINCT
			'Secao -------------------------------------------------------------------------------------------------' AS Tipo,
			SUBSTRING(ISNULL(TRH.Codigo_Secao,''),1,20) AS Dados
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Secao WHERE Nm_Secao = SUBSTRING(TRH.Secao,1,50))
			AND NOT TRH.Secao = ''
			AND NOT TRH.Secao IS NULL
	UNION ALL ------------------------------------------------------------------------------------------------------
	SELECT	DISTINCT
			'Consumidor_Tipo ---------------------------------------------------------------------------------------' AS Tipo,
			SUBSTRING(ISNULL(TRH.Tipo_Colaborador,''),1,50) AS Dados
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Consumidor_Tipo WHERE Nm_Consumidor_Tipo = SUBSTRING(TRH.Tipo_Colaborador,1,50))
			AND NOT TRH.Tipo_Colaborador = ''
			AND NOT TRH.Tipo_Colaborador IS NULL
	UNION ALL ------------------------------------------------------------------------------------------------------
	SELECT	DISTINCT
			'Consumidor_Status -------------------------------------------------------------------------------------' AS Tipo,
			SUBSTRING(ISNULL(TRH.Status_Colaborador,''),1,50) AS Dados
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Consumidor_Status WHERE Nm_Consumidor_Status = SUBSTRING(TRH.Status_Colaborador,1,50))
			AND NOT TRH.Status_Colaborador = ''
			AND NOT TRH.Status_Colaborador IS NULL
	UNION ALL ------------------------------------------------------------------------------------------------------
	SELECT	DISTINCT
			'Cargo -------------------------------------------------------------------------------------------------' AS Tipo,
			SUBSTRING(ISNULL(TRH.Codigo_Cargo ,''),1,20) AS Dados
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Cargo WHERE Nm_Cargo = SUBSTRING(TRH.Cargo,1,50))
			AND NOT TRH.Cargo = ''
			AND NOT TRH.Cargo IS NULL
	UNION ALL ------------------------------------------------------------------------------------------------------
	SELECT	DISTINCT
			'Empresa_Contratada -------------------------------------------------------------------------------------' AS Tipo,
			SUBSTRING(ISNULL(TRH.Empresa_Contratada,''),1,50) AS Dados 
	FROM	Cg_RH_Arquivo_Temp TRH
	WHERE	NOT EXISTS(SELECT * FROM Empresa_Contratada WHERE Nm_Empresa_Contratada = SUBSTRING(TRH.Empresa_Contratada,1,50))
			AND NOT TRH.Empresa_Contratada = ''
			AND NOT TRH.Empresa_Contratada IS NULL
	UNION ALL ------------------------------------------------------------------------------------------------------
	SELECT	DISTINCT
			'INSERT_Consumidor -------------------------------------------------------------------------------------' AS Tipo, 
			UPPER(SUBSTRING(TRH.Nome_Colaborador,1,50)) AS Dados
	FROM	Cg_RH_Arquivo_Temp TRH	INNER JOIN Filial FI ON (FI.Nm_Filial = TRH.Filial)
									INNER JOIN Centro_Custo CC ON (CC.Cd_Centro_Custo = TRH.Codigo_Centro_Custo)
									LEFT JOIN Departamento DP ON (DP.Nm_Departamento = TRH.Departamento)
									LEFT JOIN Setor ST ON (ST.Nm_Setor = TRH.Setor)
									LEFT JOIN Secao SC ON (SC.Nm_Secao = TRH.Secao)
									LEFT JOIN Empresa_Contratada EC ON (EC.Nm_Empresa_Contratada = TRH.Empresa_Contratada)
									LEFT JOIN Consumidor_Tipo CT ON (CT.Nm_Consumidor_Tipo = TRH.Tipo_Colaborador)
									LEFT JOIN Consumidor_Status CS ON (CS.Nm_Consumidor_Status = TRH.Status_Colaborador)
									LEFT JOIN Cargo CG ON (CG.Nm_Cargo = TRH.Cargo)
	WHERE	NOT EXISTS(SELECT * FROM Consumidor WHERE Matricula = SUBSTRING(TRH.Matricula_Colaborador,1,20)) 
			AND NOT EXISTS(SELECT * FROM Usuario WHERE Nm_Usuario = SUBSTRING(TRH.Login_Colaborador,1,50))
	UNION ALL ------------------------------------------------------------------------------------------------------
	SELECT	DISTINCT
			'DELETE_Consumidor -------------------------------------------------------------------------------------' AS Tipo,
			CO.Nm_Consumidor AS Dados
	FROM	Consumidor CO	INNER JOIN vw_Filial FI ON CO.Id_Filial =  FI.Id_Filial
							INNER JOIN Empresa EP ON EP.Id_Empresa = FI.Id_Empresa
	WHERE	NOT EXISTS (SELECT * FROM Cg_RH_Arquivo_Temp WHERE Matricula_Colaborador = CO.Matricula)
			AND EP.Nm_Empresa IN (SELECT DISTINCT Empresa FROM Cg_RH_Arquivo_Temp)
			AND NOT EXISTS(SELECT * FROM Usuario WHERE Id_Consumidor = CO.Id_Consumidor AND Id_Usuario_Perfil = 1)
				AND CO.Fl_Desativado = 0
END

-----lista arquivo de rh do sistema
IF @pPakage = 'sp_Arquivo_RH_Sistema'
BEGIN
	SELECT	LTRIM(RTRIM(REPLACE(REPLACE(CO.Nm_Consumidor,',','.'),';','.'))) AS Nome,
			LTRIM(RTRIM(REPLACE(REPLACE(CT.Nm_Consumidor_Tipo,',','.'),';','.'))) AS Tipo,
			LTRIM(RTRIM(REPLACE(REPLACE(CO.Matricula,',','.'),';','.'))) AS Matricula,
			LTRIM(RTRIM(REPLACE(REPLACE(CO.EMail,',','.'),';','.'))) AS E_Mail,
			LTRIM(RTRIM(REPLACE(REPLACE(EC.Nm_Empresa_Contratada,',','.'),';','.'))) AS Empresa_Contratada,
			LTRIM(RTRIM(REPLACE(REPLACE(CG.Cd_Cargo,',','.'),';','.'))) AS Cod_Cargo,
			LTRIM(RTRIM(REPLACE(REPLACE(CG.Nm_Cargo,',','.'),';','.'))) AS Cargo,
			'' AS Cod_Empresa, -----codigo da empresa (ainda não tem na tabela)
			LTRIM(RTRIM(REPLACE(REPLACE(EP.Nm_Empresa,',','.'),';','.'))) AS Empresa,
			LTRIM(RTRIM(REPLACE(REPLACE(FI.Cd_Filial,',','.'),';','.'))) AS Cod_Filial,
			LTRIM(RTRIM(REPLACE(REPLACE(FI.Nm_Filial,',','.'),';','.'))) AS Filial,
			LTRIM(RTRIM(REPLACE(REPLACE(CC.Cd_Centro_Custo,',','.'),';','.'))) AS Cod_Centro_Custo,
			LTRIM(RTRIM(REPLACE(REPLACE(CC.Nm_Centro_Custo,',','.'),';','.'))) AS Centro_Custo,
			LTRIM(RTRIM(REPLACE(REPLACE(DP.Cd_Departamento,',','.'),';','.'))) AS Cod_Departamento,
			LTRIM(RTRIM(REPLACE(REPLACE(DP.Nm_Departamento,',','.'),';','.'))) AS Departamento,
			LTRIM(RTRIM(REPLACE(REPLACE(ST.Cd_Setor,',','.'),';','.'))) AS Cod_Setor,
			LTRIM(RTRIM(REPLACE(REPLACE(ST.Nm_Setor,',','.'),';','.'))) AS Setor,
			LTRIM(RTRIM(REPLACE(REPLACE(SC.Cd_Secao,',','.'),';','.'))) AS Cod_Secao,
			LTRIM(RTRIM(REPLACE(REPLACE(SC.Nm_Secao,',','.'),';','.'))) AS Secao,
			LTRIM(RTRIM(REPLACE(REPLACE(CS.NM_Consumidor_Status,',','.'),';','.'))) AS Status_User,
			LTRIM(RTRIM(REPLACE(REPLACE(US.Nm_Usuario,',','.'),';','.'))) AS Login,
			LTRIM(RTRIM(REPLACE(REPLACE(CO.Matricula_Chefia,',','.'),';','.'))) AS Matricula_Chefia_Imediata,
			'' AS Login_Centro_Custo,
			'' AS Login_Departamento,
			'' AS Login_Setor,
			'' AS Login_Secao
	FROM	vw_Consumidor CO	INNER JOIN Filial FI on CO.Id_Filial = FI.Id_Filial
								INNER JOIN Centro_Custo CC on CO.Id_Centro_Custo = CC.Id_Centro_Custo 
								------
								LEFT JOIN Empresa EP ON EP.Id_Empresa = FI.Id_Empresa 
								LEFT JOIN Empresa_Contratada EC ON EC.Id_Empresa_Contratada = CO.Id_Empresa_Contratada 
								LEFT JOIN Cargo CG on CO.Id_Cargo = CG.Id_Cargo
								LEFT JOIN Departamento DP on DP.Id_Departamento = CO.Id_Departamento
								LEFT JOIN Setor ST on CO.Id_Setor = ST.Id_Setor 
								LEFT JOIN Secao SC on CO.Id_Secao = SC.Id_Secao
								LEFT JOIN Consumidor_Tipo CT on CO.Id_Consumidor_Tipo = CT.Id_Consumidor_Tipo 
								LEFT JOIN Usuario US on CO.Id_Consumidor = US.Id_Consumidor
								LEFT JOIN Si_Usuario_Perfil_Acesso UPA ON UPA.Id_Usuario_Perfil_Acesso = US.Id_Usuario_Perfil_Acesso 
								LEFT JOIN Consumidor_Status CS ON CS.Id_Consumidor_Status = CO.Id_Consumidor_Status
END
GO
