USE [Ultragaz]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Inventario_Geral]    Script Date: 7/31/2025 10:42:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PRINT N'Refreshing Function [dbo].[fu_Consumo_Dados_App]...';



CREATE PROCEDURE [dbo].[cn_T_Inventario_Geral] (@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS



SELECT	(SELECT MAX(DC_Nr_Nota_Fiscal) FROM Lote WHERE Id_Ativo = AT.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = AT.Id_Ativo)) AS Conta,
			(SELECT SUBSTRING(CONVERT(VARCHAR(10), MAX(Dt_Lote),103),4,7) FROM Lote WHERE Id_Ativo = AT.Id_Ativo) AS [Ultima_Conta],
			AT.Nr_Ativo				AS Ativo_Virtual,
			AT.Nr_Ativo_Tabela		AS Ativo,
			Nm_Ativo_Fabricante		AS Fabricante,
			Nm_Ativo_Modelo			AS Modelo,
			AST.Nm_Ativo_Status		AS [Status_Ativo],
			CO.Nm_Conglomerado		AS Conglomerado,
			ATP.Nm_Ativo_Tipo		AS Tipo,		
			at.numero_Sim_card		AS CHIP, 
			at.Plano_Contrato		as PLANO,
			at.valor_contrato		As [Valor_contrato],

			(SELECT	TOP 1 ENF.Nr_Nota_Fiscal
			FROM	Rl_Estoque_Aparelho_Ativo SREA INNER JOIN Estoque_Aparelho SEA ON SREA.Id_Aparelho = SEA.Id_Aparelho
													INNER JOIN Estoque_Nota_Fiscal ENF ON ENF.Id_Estoque_Nota_Fiscal = SEA.Id_Estoque_Nota_Fiscal
			WHERE	SREA.Id_Ativo = AT.Id_Ativo AND SEA.Id_Aparelho_Tipo = 1) AS Nota_Fiscal_Apa,

			(SELECT	TOP 1 SEA.Nr_Aparelho
			FROM	Rl_Estoque_Aparelho_Ativo SREA INNER JOIN Estoque_Aparelho SEA ON SREA.Id_Aparelho = SEA.Id_Aparelho
			WHERE	SREA.Id_Ativo = AT.Id_Ativo AND SEA.Id_Aparelho_Tipo = 1) AS Aparelho,
			
			(select top(1) c.Nm_Consumidor from Rl_Perfil_Ativo_Usuario RLAU
			inner join usuario  U  on u.Id_Usuario =  RLAU.Id_Usuario
			inner join Consumidor C on c.Id_Consumidor = u.Id_Consumidor
			where Dt_Hr_Desativacao is null and RLAU.Id_Ativo = AT.Id_Ativo
			order by Dt_Hr_Ativacao desc) AS Consumidor,
			
			
			(select top(1) c.Matricula from Rl_Perfil_Ativo_Usuario RLAU
			inner join usuario  U  on u.Id_Usuario =  RLAU.Id_Usuario
			inner join Consumidor C on c.Id_Consumidor = u.Id_Consumidor
			where Dt_Hr_Desativacao is null and RLAU.Id_Ativo = AT.Id_Ativo
			order by Dt_Hr_Ativacao desc) AS Matricula,

			

			(select top(1) u.Nm_Usuario from Rl_Perfil_Ativo_Usuario RLAU
			inner join usuario  U  on u.Id_Usuario =  RLAU.Id_Usuario
			inner join Consumidor C on c.Id_Consumidor = u.Id_Consumidor
			where Dt_Hr_Desativacao is null and RLAU.Id_Ativo = AT.Id_Ativo
			order by Dt_Hr_Ativacao desc) AS Usuario,
			
			(select top(1) c.EMail from Rl_Perfil_Ativo_Usuario RLAU
			inner join usuario  U  on u.Id_Usuario =  RLAU.Id_Usuario
			inner join Consumidor C on c.Id_Consumidor = u.Id_Consumidor
			where Dt_Hr_Desativacao is null and RLAU.Id_Ativo = AT.Id_Ativo
			order by Dt_Hr_Ativacao desc) AS Email,

						(select top(1) f.Nm_Filial from Rl_Perfil_Ativo_Usuario RLAU
			inner join usuario  U  on u.Id_Usuario =  RLAU.Id_Usuario
			inner join Consumidor C on c.Id_Consumidor = u.Id_Consumidor
			inner join filial F on f.Id_Filial = c.Id_Filial
			where Dt_Hr_Desativacao is null and RLAU.Id_Ativo = AT.Id_Ativo
			order by Dt_Hr_Ativacao desc) AS Filial,

						(select top(1) cc.Cd_Centro_Custo from Rl_Perfil_Ativo_Usuario RLAU
			inner join usuario  U  on u.Id_Usuario =  RLAU.Id_Usuario
			inner join Consumidor C on c.Id_Consumidor = u.Id_Consumidor
			inner join Centro_Custo cc on cc.Id_Centro_Custo = c.Id_Centro_Custo
			where Dt_Hr_Desativacao is null and RLAU.Id_Ativo = AT.Id_Ativo
			order by Dt_Hr_Ativacao desc) AS [Cód. CDC],

			(select top(1) cc.Nm_Centro_Custo from Rl_Perfil_Ativo_Usuario RLAU
			inner join usuario  U  on u.Id_Usuario =  RLAU.Id_Usuario
			inner join Consumidor C on c.Id_Consumidor = u.Id_Consumidor
			inner join Centro_Custo cc on cc.Id_Centro_Custo = c.Id_Centro_Custo
			where Dt_Hr_Desativacao is null and RLAU.Id_Ativo = AT.Id_Ativo
			order by Dt_Hr_Ativacao desc) AS [Nome CDC],
		
			AT.Localidade			AS [Data_Suspensao],
			AT.Observacao			AS Observacao
			INTO #Temp_Export
	FROM	vw_Ativo AT	INNER JOIN vw_Conglomerado CO ON AT.Id_Conglomerado = CO.Id_Conglomerado
						INNER JOIN vw_Ativo_Tipo ATP ON ATP.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
						INNER JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo)
						LEFT JOIN Ativo_Status AST ON (AT.Id_Ativo_Status = AST.Id_Ativo_Status)
						LEFT JOIN vw_Ativo_Complemento AC ON (AC.Id_Ativo = AT.Id_Ativo)
						LEFT JOIN vw_Ativo_Modelo AM ON AM.Id_Ativo_Modelo = AT.ID_Ativo_Modelo
						LEFT JOIN vw_Ativo_Fabricante AF ON (AM.Id_Ativo_Fabricante = AF.Id_Ativo_Fabricante)
	ORDER BY Conglomerado

-----exportacao
IF @pPakage = 'sp_Inventario_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Inventario'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grafrico
IF @pPakage = 'sp_Inventario_Grafico'
BEGIN
	SELECT	Tipo		AS X,
			COUNT(*)	AS Y 
	FROM	#Temp_Export
	GROUP BY Tipo 
END
GO
