USE [Ultragaz]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Rateio_Movel_Novo_Lanc]    Script Date: 7/31/2025 10:42:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_Rateio_Movel_Novo_Lanc]
    (
    @pPakage					VARCHAR(200) = 'sp_Rateio',
    @pPakage_Filtro				VARCHAR(200)	= 'Consumidor',
    @pId_Filtro_1				VARCHAR(MAX)	= NULL,
    @pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
    @pId_Filtro_Usuario			INT				= 4636,
    @p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
    @p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
    @p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
    @pDt_LoteDe					VARCHAR(6)		= '202312',
    @pDt_LoteAte				VARCHAR(6)		= NULL,
    @pAtivo_Tipo_Grupo			VARCHAR(50)		= 'Telefonia_Movel') AS 
	 
	SELECT 
	CO.Nm_Conglomerado as [Conglomerado],
	FA.Nr_Fatura AS Conta,
	FA.Dt_Lote AS [Ref],
    FA.Dt_Emissao AS [Dt. Emissão],
    FA.Dt_Vencimento AS [Dt. Vencimento],
	'343304' AS [Conta Contábil],
	  CASE
      WHEN FPC.Id_Empresa in (1,4) THEN '30001'
      WHEN FPC.Id_Empresa = 2 THEN '34001'
      ELSE F.Cd_Filial
	  END as [Filial],
    'G41718' AS [UC (Centro de Custo)],
	ISNULL(NFF.Nr_Nota_Fiscal,'Não possui NF cadastrada') AS [Número NF],
    NFF.Pct_Nota_Fiscal AS [Valor NF],
	FA.Vr_Fatura

INTO #Temp_Export
FROM Rateio_Item RI left JOIN vw_Ativo A ON (RI.Id_Ativo = A.Id_Ativo)
    left JOIN Conglomerado CO ON (CO.Id_Conglomerado = A.Id_Conglomerado)
    left JOIN Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo)
    left JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = AT.Id_Ativo_Tipo_Grupo)
    LEFT JOIN vw_Consumidor C ON (RI.Id_Consumidor = C.Id_Consumidor)
    LEFT JOIN vw_Usuario US ON C.Id_Consumidor = US.Id_Consumidor
    left JOIN vw_Centro_Custo CC ON (RI.Id_Centro_Custo = CC.Id_Centro_Custo)
    left JOIN Rl_Rateio_Fatura RF ON (RF.Id_Rateio = RI.Id_Rateio)
    left JOIN Fatura FA ON (RF.Id_Fatura = FA.Id_Fatura)
    left JOIN Rateio R ON R.Id_Rateio = RI.Id_Rateio
    left join Fatura_Plano_Conta FPC on fpc.Nr_Plano_Conta = FA.Nr_Fatura
    left join Nota_Fiscal_Fatura NFF ON NFF.Id_Fatura = FA.Id_Fatura
	LEFT JOIN vw_Filial F ON (F.Id_Filial = NFF.Id_Filial)
where  
 	Nr_Fatura in (select Nr_Fatura from Fatura where Id_Fatura_Parametro in 
				(select Id_Fatura_Parametro from Fatura_Parametro where Id_Ativo in 
					(select Id_Ativo from Ativo where Id_Ativo_Tipo in (Select Id_Ativo_Tipo from Ativo_Tipo where Id_Ativo_Tipo_Grupo = 1)))) 
					and
					SUBSTRING(CONVERT(VARCHAR(6),FA.Dt_Lote,112),1,6) = @pDt_LoteDe

					and (F.Id_Filial = NFF.Id_Filial or NFF.Id_Filial is null)


ORDER BY FA.Nr_Fatura, R.Id_Rateio    
	 
-----exportacao 
IF @pPakage = 'sp_Rateio_Export' 
BEGIN
    SELECT
	MAX(Conglomerado) as [Conglomerado],
	Conta, 
	MAX(Ref) as [Ref],
	MAX([Dt. Emissão]) as [Dt. Emissão],
	MAX([Dt. Vencimento]) as [Dt. Vencimento],
		   MAX([Conta Contábil]) as [Conta Contábil], 
		   MAX(Filial) as Filial, 
		   MAX([UC (Centro de Custo)]) as [UC (Centro de Custo)], 
		   ([Número NF]) as [Número NF], 
		   MAX([Valor NF]) as [Valor NF], 
		   MAX(Vr_Fatura) as [Valor Fatura]

    FROM #Temp_Export
	GROUP BY [Número NF], Conta

END 
 
-----grid 
IF @pPakage = 'sp_Rateio' 
BEGIN
    SELECT
	MAX(Conglomerado) as [Conglomerado],
	Conta, 
MAX(Ref) as [Ref],
	MAX([Dt. Emissão]) as [Dt. Emissão],
	MAX([Dt. Vencimento]) as [Dt. Vencimento],
		   MAX([Conta Contábil]) as [Conta Contábil], 
		   MAX(Filial) as Filial, 
		   MAX([UC (Centro de Custo)]) as [UC (Centro de Custo)], 
		   ([Número NF]) as [Número NF], 
		   MAX([Valor NF]) as [Valor NF], 
		   MAX(Vr_Fatura) as [Valor Fatura]

    FROM #Temp_Export
	GROUP BY [Número NF], Conta
END
GO
