USE [Ultragaz]
GO
/****** Object:  StoredProcedure [dbo].[cg_bi_Gera_Importacao]    Script Date: 7/31/2025 10:42:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cg_bi_Gera_Importacao] (	@pPakage				VARCHAR(200),
												@pId_Arquivo			INT,
												@pId_Ativo_Tipo			INT,
												@pId_Conglomerado		INT,
												@pDt_Lote				VARCHAR(6),
												@pDt_Liberacao_Lote		DATETIME,
												@pNumero_Nota_Fiscal	VARCHAR(50) = NULL) AS

-------------------------------------------------------------------------------
--DECLARE @pId_Arquivo			INT
--DECLARE @pId_Ativo_Tipo			INT
--DECLARE @pId_Conglomerado		INT
--DECLARE @pDt_Lote				VARCHAR(6)
--DECLARE @pDt_Liberacao_Lote		DATETIME
--DECLARE @pNumero_Nota_Fiscal	VARCHAR(50)
--DECLARE @pPakage VARCHAR(200)
--SET @pId_Arquivo = 5			--SELECT * FROM Cg_Bi_Arquivo
--SET @pId_Ativo_Tipo  = 1		--SELECT * FROM Ativo_Tipo
--SET @pId_Conglomerado = 1		--SELECT * FROM Conglomerado
--SET @pDt_Lote = '201301'
--SET @pDt_Liberacao_Lote = getdate()
--SET @pNumero_Nota_Fiscal = NULL
--SET @pPakage = 'sp_Carga_Bilhete'
-------------------------------------------------------------------------------

IF @pPakage = 'sp_Carga_Completada'
BEGIN
	SELECT	C.Nm_Conglomerado, 
			COUNT(B.Id_Bilhete) AS QTD,
			SUM(B.DB_Custo_Cobrado) AS Valor
	FROM	Bilhete B INNER JOIN Lote L	ON B.Id_Lote = L.Id_lote
					INNER JOIN Ativo A ON L.Id_Ativo = A.Id_Ativo
					INNER JOIN Conglomerado C ON C.Id_Conglomerado = A.Id_Conglomerado
	WHERE	SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) = @pDt_Lote
	GROUP BY C.Nm_Conglomerado
	ORDER BY C.Nm_Conglomerado
END

IF @pPakage = 'sp_Carga_Bilhete'
BEGIN

	-----Adiciona o email para quem receberá a notificação


--INSERT INTO Mail_Caixa_Saida
--		VALUES (9,
--				'teste@icontrolit.com.br',
--				NULL,
--				'Carga realizada da Operadora ' + (select Nm_Conglomerado  from Conglomerado where Id_Conglomerado = @pId_Conglomerado) + ' Lote Mes ' + @pDt_Lote,
--				'2020-01-01',
--				NULL,
--				0,
--				0,
--				0)


	-----cria tabela para retorno do shell
	DECLARE  @TArquivo TABLE (Nm_Arquivo VARCHAR(8000)) 
	-----declare varivel
	DECLARE @vPath_Arquivo VARCHAR(50)
	DECLARE @vExtensao_Arquivo VARCHAR(50)
	DECLARE @vContador INT
	DECLARE @vNm_Arquivo AS VARCHAR(8000)
	DECLARE @vCMD AS VARCHAR(8000)
	DECLARE @vNm_Arquivo_Carregado AS VARCHAR(8000)
	DECLARE @vNm_Banco AS VARCHAR(50)
	DECLARE @vPosicao_NF_Arquivo AS VARCHAR(10)
	DECLARE @NvCMD AS NVARCHAR(1000)
	DECLARE @TvNumero_Nota_Fiscal AS VARCHAR(50)

	-----inicia variavel
	SELECT	@vPath_Arquivo = '',
			@vExtensao_Arquivo = '',
			@vContador = 0,
			@vNm_Arquivo = '',
			@vCMD = '',
			@vNm_Arquivo_Carregado = '',
			@vNm_Banco = '',
			@vPosicao_NF_Arquivo = '',
			@NvCMD = '',
			@TvNumero_Nota_Fiscal = NULL
	-------------------------------------------------------------------------------
	-----captura path do diretorio
	SELECT	@vPath_Arquivo		= Path_Arquivo,
			@vExtensao_Arquivo	= Extensao_Arquivo
	FROM	Cg_Bi_Arquivo
	WHERE	Id_Arquivo = @pId_Arquivo

	-------------------------------------------------------------------------------
	-----verifica existencia de diretorio
	DELETE @TArquivo
	SET @vCMD = 'CD ' + @vPath_Arquivo + '\Arquivo_Carregado'
	INSERT INTO @TArquivo
	EXEC master..xp_cmdshell @vCMD

	DELETE @TArquivo WHERE Nm_Arquivo IS NULL

	IF EXISTS(SELECT * FROM @TArquivo)
	BEGIN
		SET @vCMD = 'MD ' + @vPath_Arquivo + '\Arquivo_Carregado'
		EXEC master..xp_cmdshell @vCMD, NO_OUTPUT 
	END
	-------------------------------------------------------------------------------
	-----carreta arquivos para tabela
	DELETE @TArquivo
	SET @vCMD = 'DIR /B ' + @vPath_Arquivo + '\*.' + @vExtensao_Arquivo
	INSERT INTO @TArquivo
	EXEC master..xp_cmdshell @vCMD

	-----limpa campo null
	DELETE @TArquivo WHERE Nm_Arquivo IS NULL

	-----valida se foi encontrado os arquivos
	IF EXISTS(SELECT * FROM @TArquivo WHERE Nm_Arquivo LIKE '%' + @vExtensao_Arquivo + '%')

	BEGIN
		SELECT @vContador = COUNT(Nm_Arquivo) FROM @TArquivo
		WHILE @vContador > 0
		BEGIN
			-----captura nome do arquivo
			SET @vNm_Arquivo = (SELECT TOP 1 Nm_Arquivo FROM @TArquivo)

			-----verifica se nao foi numero nf por parametro e se deve ser pego no no do
			-----arquivo
			IF @pNumero_Nota_Fiscal IS NULL
			BEGIN
				SELECT	@vPosicao_NF_Arquivo = Posicao_NF_Arquivo
				FROM	Cg_Bi_Arquivo 
				WHERE	Id_Arquivo = @pId_Arquivo
				IF NOT @vPosicao_NF_Arquivo = '' OR NOT @vPosicao_NF_Arquivo IS NULL
				BEGIN
					SELECT @NvCMD = 	'SELECT @TvNumero_Nota_Fiscal = SUBSTRING(''' + @vNm_Arquivo +
									''',' + @vPosicao_NF_Arquivo + ')'
					EXEC Sp_executeSql @NvCMD, N'@TvNumero_Nota_Fiscal Varchar(10) Output', @TvNumero_Nota_Fiscal OUTPUT
				END
			END 

			-----roda procedure que importa arquivo para banco
			EXEC cg_bi_Importa @vNm_Arquivo, @pId_Arquivo

			-----roda procedure que formata dados e trata critica
			EXEC cg_bi_Critica	@pId_Arquivo, @pId_Ativo_Tipo, @pId_Conglomerado

			-----roda procedure que inclui bilhete
			EXEC cg_bi_Carga_Bilhete	@pId_Arquivo,
										@pDt_Lote,
										@pDt_Liberacao_Lote,
										@TvNumero_Nota_Fiscal

			SET @vContador = @vContador - 1
			
			-----renomeia arquivo carregado e joga em outra pasta
			SET @vNm_Arquivo_Carregado = CONVERT(VARCHAR, GETDATE(),112) + REPLACE(CONVERT(VARCHAR, GETDATE(),108),':','') + @vNm_Arquivo
			SET @vCMD = 'REN ' + '"' + @vPath_Arquivo + '\' + @vNm_Arquivo + '"' + ' ' + '"' + @vNm_Arquivo_Carregado + '"'
			EXEC master..xp_cmdshell @vCMD , NO_OUTPUT

			SET @vCMD = 'MOVE ' + '"' + @vPath_Arquivo + '\' + @vNm_Arquivo_Carregado + '"' + ' ' + '"' + @vPath_Arquivo + '\Arquivo_Carregado' + '"'	
			EXEC master..xp_cmdshell @vCMD , NO_OUTPUT
			-----limpa arquivo carregado
			DELETE @TArquivo WHERE Nm_Arquivo = @vNm_Arquivo
		END
		
		-----limpa arquivo de log do banco
		SET @vNm_Banco = DB_NAME()
		--EXEC sp_dboption 'GUA', 'trunc. log on chkpt.' 
		--ALTER DATABASE GUA SET recovery simple
		--BACKUP LOG GUA WITH truncate_only 
		DBCC SHRINKDATABASE (@vNm_Banco, 10)
	END
END
GO
