USE [Ultragaz]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Rateio_Movel_Novo]    Script Date: 7/31/2025 10:42:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_Rateio_Movel_Novo]
    (
    @pPakage					VARCHAR(200) = 'sp_Rateio',
    @pPakage_Filtro				VARCHAR(200)	= 'Consumidor',
    @pId_Filtro_1				VARCHAR(MAX)	= NULL,
    @pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
    @pId_Filtro_Usuario			INT				= 4636,
    @p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
    @p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
    @p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
    @pDt_LoteDe					VARCHAR(6)		= '202312',
    @pDt_LoteAte				VARCHAR(6)		= NULL,
    @pAtivo_Tipo_Grupo			VARCHAR(50)		= 'Telefonia_Movel') AS 
	 
	SELECT 
    FA.Nr_Fatura AS Fatura,
	    FA.Dt_Lote AS [Ref],
    FA.Dt_Emissao AS [Dt. Emissão],
    FA.Dt_Vencimento AS [Dt. Vencimento],
    A.Nr_Ativo_Tabela AS Ativo,
	CO.Nm_Conglomerado AS Fornecedor,
	AT.Nm_Ativo_Tipo AS Tipo,
    C.Nm_Consumidor AS [Usuário],
	F.Cd_Filial as [Filial],
    CC.Cd_Centro_Custo AS [UC (Centro de Custo)],
    CAST(RI.Valor_Rateado AS DECIMAL(10,2)) AS [Total]

INTO #Temp_Export

FROM Rateio_Item RI left JOIN vw_Ativo A ON (RI.Id_Ativo = A.Id_Ativo)
    left JOIN Conglomerado CO ON (CO.Id_Conglomerado = A.Id_Conglomerado)
    left JOIN Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo)
    left JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = AT.Id_Ativo_Tipo_Grupo)
    LEFT JOIN vw_Consumidor C ON (RI.Id_Consumidor = C.Id_Consumidor)
    LEFT JOIN vw_Filial F ON (F.Id_Filial = RI.Id_Filial)
    LEFT JOIN vw_Usuario US ON C.Id_Consumidor = US.Id_Consumidor
    left JOIN vw_Centro_Custo CC ON (RI.Id_Centro_Custo = CC.Id_Centro_Custo)
    left JOIN Rl_Rateio_Fatura RF ON (RF.Id_Rateio = RI.Id_Rateio)
    left JOIN Fatura FA ON (RF.Id_Fatura = FA.Id_Fatura)
    left JOIN Rateio R ON R.Id_Rateio = RI.Id_Rateio
    left join Fatura_Plano_Conta FPC on fpc.Nr_Plano_Conta = FA.Nr_Fatura
    left join Empresa eps on eps.Id_Empresa = fpc.Id_Empresa
    left join Nota_Fiscal_Fatura NFF ON NFF.Id_Fatura = FA.Id_Fatura AND NFF.Id_Centro_Custo = CC.Id_Centro_Custo
where  
 
			SUBSTRING(CONVERT(VARCHAR(6),FA.Dt_Lote,112),1,6) = @pDt_LoteDe
    AND ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo

ORDER BY FA.Nr_Fatura, R.Id_Rateio    
	 
-----exportacao 
IF @pPakage = 'sp_Rateio_Export' 
BEGIN
BEGIN
WITH UserData AS (
    SELECT
        FA.Nr_Fatura AS Fatura,
		    FA.Dt_Lote AS [Ref],
    FA.Dt_Emissao AS [Dt. Emissão],
    FA.Dt_Vencimento AS [Dt. Vencimento],
        A.Nr_Ativo_Tabela AS Ativo,
        CO.Nm_Conglomerado AS Fornecedor,
        AT.Nm_Ativo_Tipo AS Tipo,
        C.Nm_Consumidor AS [Usuário],
        F.Cd_Filial as [Filial],
        CC.Cd_Centro_Custo AS [UC (Centro de Custo)],
        CAST(RI.Valor_Rateado AS DECIMAL(10,2)) AS [Total]
    FROM Rateio_Item RI
    LEFT JOIN vw_Ativo A ON RI.Id_Ativo = A.Id_Ativo
    LEFT JOIN Conglomerado CO ON CO.Id_Conglomerado = A.Id_Conglomerado
    LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
	left JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = AT.Id_Ativo_Tipo_Grupo)
    LEFT JOIN vw_Consumidor C ON RI.Id_Consumidor = C.Id_Consumidor
    LEFT JOIN vw_Filial F ON F.Id_Filial = RI.Id_Filial
    LEFT JOIN vw_Centro_Custo CC ON RI.Id_Centro_Custo = CC.Id_Centro_Custo
    left JOIN Rl_Rateio_Fatura RF ON (RF.Id_Rateio = RI.Id_Rateio)
    left JOIN Fatura FA ON (RF.Id_Fatura = FA.Id_Fatura)
    WHERE SUBSTRING(CONVERT(VARCHAR(6), FA.Dt_Lote, 112), 1, 6) = @pDt_LoteDe
      AND ATG.Nm_Ativo_Tipo_Grupo = 'Telefonia_Movel'
),
CalcSums AS (
    SELECT
        Fatura,
        SUM(CASE WHEN [Usuário] NOT IN ('A Validar', 'ESTOQUE', 'Infraestrutura Filial', 'Não Identificado', 'Pendente Usuario', 'Uso Inventario Celular') THEN [Total] ELSE 0 END) AS ActiveUserSum,
        SUM(CASE WHEN [Usuário] IN ('A Validar', 'ESTOQUE', 'Infraestrutura Filial', 'Não Identificado', 'Pendente Usuario', 'Uso Inventario Celular') THEN [Total] ELSE 0 END) AS InactiveUserSum
    FROM UserData
    GROUP BY Fatura
),
ExclusivityCheck AS (
    SELECT
        Fatura,
        MIN([Usuário]) AS MinUser,
        MAX([Usuário]) AS MaxUser,
        COUNT(DISTINCT [Usuário]) AS UserCount
    FROM UserData
    GROUP BY Fatura
)
-- Cálculo final aplicando as regras de rateio e filtragem
SELECT
    u.Fatura,
	u.[Ref],
	u.[Dt. Emissão],
	u.[Dt. Vencimento],
    u.Ativo,
    u.Fornecedor,
    u.Tipo,
    u.[Usuário],
    u.Filial,
    u.[UC (Centro de Custo)],
    CASE
        WHEN u.[Usuário] NOT IN ('A Validar', 'ESTOQUE', 'Infraestrutura Filial', 'Não Identificado', 'Pendente Usuario', 'Uso Inventario Celular') THEN
            u.Total + (u.Total / NULLIF(s.ActiveUserSum, 0) * s.InactiveUserSum)
        ELSE
            u.Total
    END AS [Valor Corrigido]
FROM UserData u
JOIN CalcSums s ON u.Fatura = s.Fatura
JOIN ExclusivityCheck e ON e.Fatura = u.Fatura
WHERE NOT (
    u.[Usuário] IN ('A Validar', 'ESTOQUE', 'Infraestrutura Filial', 'Não Identificado', 'Pendente Usuario', 'Uso Inventario Celular')
    AND e.UserCount > 1
)
ORDER BY u.Fatura, u.Ativo;

END

END 
 
-----grid 
IF @pPakage = 'sp_Rateio' 
BEGIN
WITH UserData AS (
    SELECT
        FA.Nr_Fatura AS Fatura,
		    FA.Dt_Lote AS [Ref],
    FA.Dt_Emissao AS [Dt. Emissão],
    FA.Dt_Vencimento AS [Dt. Vencimento],
        A.Nr_Ativo_Tabela AS Ativo,
        CO.Nm_Conglomerado AS Fornecedor,
        AT.Nm_Ativo_Tipo AS Tipo,
        C.Nm_Consumidor AS [Usuário],
        F.Cd_Filial as [Filial],
        CC.Cd_Centro_Custo AS [UC (Centro de Custo)],
        CAST(RI.Valor_Rateado AS DECIMAL(10,2)) AS [Total]
    FROM Rateio_Item RI
    LEFT JOIN vw_Ativo A ON RI.Id_Ativo = A.Id_Ativo
    LEFT JOIN Conglomerado CO ON CO.Id_Conglomerado = A.Id_Conglomerado
    LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
	left JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = AT.Id_Ativo_Tipo_Grupo)
    LEFT JOIN vw_Consumidor C ON RI.Id_Consumidor = C.Id_Consumidor
    LEFT JOIN vw_Filial F ON F.Id_Filial = RI.Id_Filial
    LEFT JOIN vw_Centro_Custo CC ON RI.Id_Centro_Custo = CC.Id_Centro_Custo
    left JOIN Rl_Rateio_Fatura RF ON (RF.Id_Rateio = RI.Id_Rateio)
    left JOIN Fatura FA ON (RF.Id_Fatura = FA.Id_Fatura)
    WHERE SUBSTRING(CONVERT(VARCHAR(6), FA.Dt_Lote, 112), 1, 6) = @pDt_LoteDe
      AND ATG.Nm_Ativo_Tipo_Grupo = 'Telefonia_Movel'
),
CalcSums AS (
    SELECT
        Fatura,
        SUM(CASE WHEN [Usuário] NOT IN ('A Validar', 'ESTOQUE', 'Infraestrutura Filial', 'Não Identificado', 'Pendente Usuario', 'Uso Inventario Celular') THEN [Total] ELSE 0 END) AS ActiveUserSum,
        SUM(CASE WHEN [Usuário] IN ('A Validar', 'ESTOQUE', 'Infraestrutura Filial', 'Não Identificado', 'Pendente Usuario', 'Uso Inventario Celular') THEN [Total] ELSE 0 END) AS InactiveUserSum
    FROM UserData
    GROUP BY Fatura
),
ExclusivityCheck AS (
    SELECT
        Fatura,
        MIN([Usuário]) AS MinUser,
        MAX([Usuário]) AS MaxUser,
        COUNT(DISTINCT [Usuário]) AS UserCount
    FROM UserData
    GROUP BY Fatura
)
-- Cálculo final aplicando as regras de rateio e filtragem
SELECT
    u.Fatura,
	u.[Ref],
	u.[Dt. Emissão],
	u.[Dt. Vencimento],
    u.Ativo,
    u.Fornecedor,
    u.Tipo,
    u.[Usuário],
    u.Filial,
    u.[UC (Centro de Custo)],
    CASE
        WHEN u.[Usuário] NOT IN ('A Validar', 'ESTOQUE', 'Infraestrutura Filial', 'Não Identificado', 'Pendente Usuario', 'Uso Inventario Celular') THEN
            u.Total + (u.Total / NULLIF(s.ActiveUserSum, 0) * s.InactiveUserSum)
        ELSE
            u.Total
    END AS [Valor Corrigido]
FROM UserData u
JOIN CalcSums s ON u.Fatura = s.Fatura
JOIN ExclusivityCheck e ON e.Fatura = u.Fatura
WHERE NOT (
    u.[Usuário] IN ('A Validar', 'ESTOQUE', 'Infraestrutura Filial', 'Não Identificado', 'Pendente Usuario', 'Uso Inventario Celular')
    AND e.UserCount > 1
)
ORDER BY u.Fatura, u.Ativo;

END
GO
