USE [Ultragaz]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Rateio_0800_Novo]    Script Date: 7/31/2025 10:42:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_Rateio_0800_Novo]
    (
    @pPakage					VARCHAR(200) = 'sp_Rateio',
    @pPakage_Filtro				VARCHAR(200)	= 'Consumidor',
    @pId_Filtro_1				VARCHAR(MAX)	= NULL,
    @pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
    @pId_Filtro_Usuario			INT				= 4636,
    @p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
    @p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
    @p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
    @pDt_LoteDe					VARCHAR(6)		= '202312',
    @pDt_LoteAte				VARCHAR(6)		= NULL,
    @pAtivo_Tipo_Grupo			VARCHAR(50)		= 'Telefonia_Fixa') AS 


	
SELECT FA.Nr_Fatura as [Fatura],
	   '343304' AS [Conta Contábil],
	   RLMMNF.Cd_Filial_Nota_Fiscal as [Filial],
	   CASE
			WHEN RLMMNF.Cd_Filial_Nota_Fiscal like '34%' THEN 'G41718'
			ELSE RLMMNF.Uc_Filial_Nota_Fiscal 
	   END AS [UC (Centro de Custo)],
	   NFF.Nr_Nota_Fiscal as [Número NF],
	   (NFF.Pct_Nota_Fiscal * RLMMNF.Pct_Filial_Nota_Fiscal) / 100 AS [Valor NF],
	   Fa.Dt_Lote as [Ref],
	   Fa.Dt_Emissao as [Dt. Emissão],
	   Fa.Dt_Vencimento as [Dt. Vencimento],
	   FA.Vr_Fatura as [Valor Fatura]
	   INTO #Temp_Export
	   FROM Rl_Mm_Filial_Nota_Fiscal RLMMNF
			CROSS JOIN Nota_Fiscal_Fatura NFF
			LEFT JOIN Fatura FA on FA.Id_Fatura = NFF.Id_Fatura	
			where SUBSTRING(CONVERT(VARCHAR(6),FA.Dt_Lote,112),1,6) = @pDt_LoteDe
			and FA.Id_Fatura_Parametro in (25)

-----exportacao 
IF @pPakage = 'sp_Rateio_Export' 
BEGIN
    SELECT *
    FROM #Temp_Export

END 
 
-----grid 
IF @pPakage = 'sp_Rateio' 
BEGIN
	    SELECT *
    FROM #Temp_Export
END

GO
