USE [Ultragaz]
GO
/****** Object:  StoredProcedure [dbo].[pa_Bilhete_Historico_Resumo]    Script Date: 7/31/2025 10:42:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Bilhete_Historico_Resumo] (	@pPakage			AS VARCHAR(200),
														@pId_Lote			AS FLOAT			= NULL,
														@pId_Usuario		AS INT				= NULL,
														@pTotal_Ligacao		AS NUMERIC(13,2)	= NULL,
														@pValor_Politica	AS NUMERIC(13,2)	= NULL,
														@pValor_Marcado		AS NUMERIC(13,2)	= NULL,
														@pValor_Particular	AS NUMERIC(13,2)	= NULL) AS
IF @pPakage = 'sp_Grava_Historico'
BEGIN
	------grava resumo das marcacoes
	INSERT INTO dbo.Bilhete_Historico_Resumo
	VALUES(	GETDATE(),
			@pId_Lote,
			@pId_Usuario,
			@pTotal_Ligacao,
			@pValor_Politica,
			@pValor_Marcado,
			@pValor_Particular)
	
	------garva bilhetes exportados
	INSERT INTO dbo.Bilhete_Historico_Marcacao
	SELECT	GETDATE(),
			B.*
	FROM	Bilhete B
	WHERE	B.Id_Usuario = @pId_Usuario
			AND B.Id_Lote = @pId_Lote
END
GO
