USE [Ultragaz]
GO
/****** Object:  StoredProcedure [dbo].[pa_Log_Geral]    Script Date: 7/31/2025 10:42:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_Log_Geral](	
									@pId_Usuario				VARCHAR(100)            = NULL,
									@pData_Hora					DATETIME				= NULL,
									@pAcao_Executada			VARCHAR(200)			= NULL) AS

-----cria variavel
DECLARE @SQLXML VARCHAR(MAX)


-----insere ou atualiza registro
INSERT INTO Log_Geral(Id_Usuario,
						Data_Hora,
						Acao_Executada)





		VALUES (@pId_Usuario,
				@pData_Hora,
				@pAcao_Executada)
GO
