USE [Ituran]
GO
/****** Object:  StoredProcedure [dbo].[cn_App_Monitora_Dados]    Script Date: 7/31/2025 10:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_App_Monitora_Dados] (	@pPakage				VARCHAR(200),
												@pMes					VARCHAR(7)	= NULL,
												@pId_Conglomerado		INT			= NULL,
												@pId_Ativo				INT			= NULL,
												@pNr_Ativo				VARCHAR(50)	= NULL,
												@pCorteDe				INT			= NULL,
												@pCorteAte				INT			= NULL,
												@pPacoteMB				INT			= NULL,
												@pQtdMes				INT			= NULL,
												@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS(SELECT * FROM Ativo WHERE Nr_Ativo = @pNr_Ativo)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			DELETE Ativo_App_Trafego WHERE	Id_Ativo IN (SELECT Id_Ativo FROM Ativo WHERE Nr_Ativo = @pNr_Ativo)

			INSERT INTO Ativo_App_Trafego 
			VALUES(	(SELECT Id_Ativo FROM Ativo WHERE Nr_Ativo = @pNr_Ativo),
					@pPacoteMB,
					@pCorteDe,
					@pCorteAte,
					ISNULL(@pQtdMes,0))
		END
	END
	ELSE
	BEGIN
		IF EXISTS(SELECT * FROM Lote WHERE DC_Nr_Nota_Fiscal = @pNr_Ativo)
		BEGIN
			DELETE Ativo_App_Trafego WHERE	Id_Ativo IN (SELECT Id_Ativo FROM Lote WHERE DC_Nr_Nota_Fiscal = @pNr_Ativo)

			INSERT INTO Ativo_App_Trafego
			SELECT	Id_Ativo, @pPacoteMB, @pCorteDe, @pCorteAte, ISNULL(@pQtdMes,0)
			FROM	LOTE 
			WHERE	DC_Nr_Nota_Fiscal = @pNr_Ativo
		END
	END 
END
-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		DELETE	Ativo_App_Trafego WHERE	Id_Ativo = @pId_Ativo
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(AT.Id_Ativo,'') AS Id_Ativo,
			ISNULL(AT.Nr_Ativo,'') AS Nr_Ativo,
			ISNULL(AAT.Corte_De,'') AS Corte_De,
			ISNULL(AAT.Corte_Ate, 0) AS Corte_Ate,
			ISNULL(AAT.Pacote_MB, '') AS Pacote_MB,
			ISNULL(AAT.Qtd_Mes, '') AS Qtd_Mes
	FROM	Ativo_App_Trafego AAT INNER JOIN Ativo AT ON AAT.Id_Ativo = AT.Id_Ativo
	WHERE	AT.Id_Ativo = @pId_Ativo
END
GO
