USE [Ituran]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Devolucao]    Script Date: 7/31/2025 10:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_Devolucao] (@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS
--1 estoque
	--2 assistencia
	--3 solicitacao
	--4 devolucao
	--5 descarte

	SELECT	EA.Nr_Aparelho			AS Aparelho,
			AT.Nm_Ativo_Tipo		AS Tipo,
			AM.Descricao			AS Modelo,
			C.Nm_Conglomerado		AS Conglomerado,
			A.Nr_Ativo				AS Ativo,
			ISNULL((SELECT TOP 1 SCO.Nm_Consumidor FROM Rl_Consumidor_Ativo SRCA INNER JOIN Consumidor SCO ON (SRCA.Id_Consumidor = SCO.Id_Consumidor)
					WHERE Id_Ativo = A.Id_Ativo), 'VAGO') 
			AS Consumidor,
			ISNULL((SELECT TOP 1 SCO.EMail FROM Rl_Consumidor_Ativo SRCA INNER JOIN Consumidor SCO ON (SRCA.Id_Consumidor = SCO.Id_Consumidor)
					WHERE Id_Ativo = A.Id_Ativo), 'VAGO') 
			AS EMail,
			ISNULL((SELECT TOP 1 SCO.Matricula_Chefia FROM Rl_Consumidor_Ativo SRCA INNER JOIN Consumidor SCO ON (SRCA.Id_Consumidor = SCO.Id_Consumidor)
					WHERE Id_Ativo = A.Id_Ativo), 'VAGO') 
			AS Chefia,
			ISNULL((SELECT TOP 1 SCC.Cd_Centro_Custo
					FROM Rl_Consumidor_Ativo SRCA	INNER JOIN Consumidor SCO ON (SRCA.Id_Consumidor = SCO.Id_Consumidor)
													INNER JOIN Centro_Custo SCC ON (SCC.Id_Centro_Custo = SCO.Id_Centro_Custo )
					WHERE Id_Ativo = A.Id_Ativo), 'VAGO') 
			AS CDC,
			ISNULL((SELECT TOP 1 CASE WHEN SCO.Fl_Desativado = 0 THEN 'Ativo'
									WHEN SCO.Fl_Desativado = 1 THEN 'Desativado'
									WHEN SCO.Fl_Desativado = 2 THEN 'Cad. Manual' END  
					FROM Rl_Consumidor_Ativo SRCA INNER JOIN Consumidor SCO ON (SRCA.Id_Consumidor = SCO.Id_Consumidor)
					WHERE Id_Ativo = A.Id_Ativo), 'VAGO') 
			AS [Status_Usuario],
			(SELECT TOP 1 US.Nm_Usuario FROM Rl_Consumidor_Ativo SRCA INNER JOIN Usuario US ON (SRCA.Id_Consumidor = US.Id_Consumidor)
			WHERE Id_Ativo = A.Id_Ativo) 
			AS Usuario
			INTO #Temp_Export
	FROM	vw_Estoque_Aparelho EA	INNER JOIN vw_Conglomerado C ON (C.Id_Conglomerado = EA.Id_Conglomerado)
									LEFT JOIN vw_Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = EA.Id_Ativo_Tipo)
									LEFT JOIN Ativo_Tipo_Grupo ATG ON AT.Id_Ativo_Tipo_Grupo  = ATG.Id_Ativo_Tipo_Grupo 
									LEFT JOIN vw_Ativo_Modelo_Fabricante AM ON (AM.Id_Ativo_Modelo = EA.Id_Ativo_Modelo)
									LEFT JOIN Rl_Estoque_Aparelho_Ativo REA ON (EA.Id_Aparelho = REA.Id_Aparelho)
									LEFT JOIN Ativo A ON (REA.Id_Ativo = A.Id_Ativo)
	WHERE	EA.Id_Aparelho_Tipo  = 4 --(devolucao)
			AND EA.Fl_Desativado = 0
			AND (ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)
			--AND Id_Consumidor IN (SELECT Id_Consumidor FROM Estoque_Consumidor)
	ORDER BY Tipo, Nr_Aparelho	
	
-----exportacao
IF @pPakage = 'sp_Devolucao_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Devolucao'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grafrico
IF @pPakage = 'sp_Devolucao_Grafico'
BEGIN
	SELECT	Tipo		AS X,
			COUNT(*)	AS Y 
	FROM	#Temp_Export
	GROUP BY Tipo 
END
GO
