USE [Ituran]
GO
/****** Object:  StoredProcedure [dbo].[pa_Solicitacao_SLA]    Script Date: 7/31/2025 10:36:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_Solicitacao_SLA] (@pPakage				VARCHAR(200),
											@pId_Solicitacao_SLA	INT			= NULL,
											@pNm_Solicitacao_SLA	VARCHAR(50)	= NULL,
											@pQTDHoras				INT			= NULL,
											@pEmail					VARCHAR(50)	= NULL,
											@pId_Usuario_Permissao	INT			= NULL) AS
											
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Solicitacao_SLA WHERE Id_Solicitacao_SLA = @pId_Solicitacao_SLA)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Solicitacao_SLA 
			SET		Nm_Solicitacao_SLA = @pNm_Solicitacao_SLA,
					Horas = @pQTDHoras,
					Email_2_Nivel = @pEmail
			WHERE	Id_Solicitacao_SLA = @pId_Solicitacao_SLA
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Solicitacao_SLA (	Nm_Solicitacao_SLA,
											Horas,
											Email_2_Nivel,
											Fl_Desativado) 
			VALUES(	@pNm_Solicitacao_SLA,
					@pQTDHoras,
					@pEmail,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	dbo.Solicitacao_SLA 
		SET		Fl_Desativado = 1 
		WHERE	Id_Solicitacao_SLA = @pId_Solicitacao_SLA
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Solicitacao_SLA,'')	AS Id_Solicitacao_SLA,
			ISNULL(Nm_Solicitacao_SLA,'')	AS Nm_Solicitacao_SLA,
			ISNULL(Horas,0)					AS Horas,
			ISNULL(Email_2_Nivel,'')		AS Email_2_Nivel
	FROM	vw_Solicitacao_SLA
	WHERE	Id_Solicitacao_SLA = @pId_Solicitacao_SLA
END
GO
