USE [Ituran]
GO
/****** Object:  StoredProcedure [dbo].[pa_Rateio_Custo_Fixo]    Script Date: 7/31/2025 10:36:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pa_Rateio_Custo_Fixo] (	@pPakage				VARCHAR(200),
												@pDt_Lote				VARCHAR(6)  = NULL,
												@pId_Fatura_Parametro	INT			= NULL) AS

-----rateio custo fixo
IF @pPAKAGE = 'sp_Rateio_Custo_Fixo'
BEGIN
	IF NOT EXISTS(SELECT * FROM Rateio 
					WHERE Id_Fatura_Parametro = @pId_Fatura_Parametro AND Dt_Lote = @pDt_Lote + '01')
	BEGIN
		DECLARE @V_Id_Fatura AS INT
		DECLARE @V_Id_Rateio AS INT

		-----monta base pra custo fixo
		SELECT	A.Id_Ativo,
				A.Id_Conglomerado,
				CFI.Id_Ativo_Tipo,
				AAC.Id_Consumidor,
				AAC.Id_Filial,
				AAC.Id_Centro_Custo,
				CFI.Custo INTO #Temp_Rateio
		FROM	Lote L INNER JOIN vw_Alocacao_Ativo_Consumidor AAC ON AAC.Id_Ativo = L.Id_Ativo
						INNER JOIN Ativo A ON L.Id_Ativo = A.Id_Ativo 
						INNER JOIN Custo_Fixo_Item CFI ON CFI.Id_Ativo_Tipo = A.Id_Ativo_Tipo
		WHERE	L.DT_Lote = @pDt_Lote + '01'

		-----cria fatura
		INSERT INTO Fatura
		SELECT	@pId_Fatura_Parametro,
				@pDt_Lote,
				'Fatura de Custo Fixo - ' + @pDt_Lote,
				@pDt_Lote,
				NULL,
				NULL,
				(SELECT SUM(Custo) FROM #Temp_Rateio),
				NULL
		SELECT @V_Id_Fatura = MAX(Id_Fatura) FROM Fatura

		-----cria rateio
		DECLARE @Vnm_Custo_fixo VARCHAR(8000)
		SET @Vnm_Custo_fixo = ''

		SELECT	@Vnm_Custo_Fixo =	@Vnm_Custo_Fixo + ' / ' + 
									CF.Nm_Custo_Fixo + ' - ' + 
									AT.Nm_Ativo_Tipo + ' - ' + 
									CONVERT(VARCHAR,CFI.Custo) 
		FROM	Custo_Fixo CF INNER JOIN Custo_Fixo_Item CFI ON CF.Id_Custo_Fixo = CFI.Id_Custo_Fixo
								INNER JOIN Ativo_Tipo AT ON CFI.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
		
		INSERT INTO Rateio
		SELECT 'Rateio - Fatura Custo Fixo - ' + @pDt_Lote,
				GETDATE(),
				@pDt_Lote + '01',
				(SELECT SUM(Custo) FROM #Temp_Rateio),
				(SELECT SUM(Custo) FROM #Temp_Rateio),
				@pId_Fatura_Parametro,
				'Rateio dos custos fixos  ' + @Vnm_Custo_fixo
		SELECT @V_Id_Rateio = MAX(Id_Rateio) FROM Rateio

		-----amarra rateio a fatura 
		INSERT INTO Rl_Rateio_Fatura
		VALUES(@V_Id_Rateio, @V_Id_Fatura)

		-----cria item de rateio
		INSERT INTO Rateio_Item
		SELECT	@V_Id_Rateio,
				Id_Ativo,
				Id_Conglomerado,
				Id_Consumidor,
				Id_Filial,
				Id_Centro_Custo,
				0,
				SUM(Custo),
				SUM(Custo),
				(SELECT SUM(Custo) FROM #Temp_Rateio)
		FROM	#Temp_Rateio
		GROUP BY	Id_Ativo,
					Id_Conglomerado,
					Id_Consumidor,
					Id_Filial,
					Id_Centro_Custo
	END
END
GO
