USE [Ituran]
GO
/****** Object:  StoredProcedure [dbo].[pa_Consumidor_Status]    Script Date: 7/31/2025 10:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Consumidor_Status] (	@pPakage				VARCHAR(200),
												@pId_Consumidor_Status	INT			= NULL,
												@pNm_Consumidor_Status	VARCHAR(50)	= NULL,
												@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Consumidor_Status WHERE Id_Consumidor_Status = @pId_Consumidor_Status)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Consumidor_Status 
			SET		Nm_Consumidor_Status = @pNm_Consumidor_Status
			WHERE	Id_Consumidor_Status = @pId_Consumidor_Status
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Consumidor_Status (	Nm_Consumidor_Status,
											Fl_Desativado) 
			VALUES(	@pNm_Consumidor_Status,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Consumidor_Status 
		SET		Fl_Desativado = 1 
		WHERE	Id_Consumidor_Status = @pId_Consumidor_Status
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Consumidor_Status,'') AS Id_Consumidor_Status,
			ISNULL(Nm_Consumidor_Status,'') AS Nm_Consumidor_Status
	FROM	vw_Consumidor_Status
	WHERE	Id_Consumidor_Status = @pId_Consumidor_Status
END
GO
