USE [Ituran]
GO
/****** Object:  StoredProcedure [dbo].[pa_Relacionamento]    Script Date: 7/31/2025 10:36:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_Relacionamento] (	@pPAKAGE	VARCHAR(200),
											@pChave		INT,
											@pRelacao	VARCHAR(MAX) = NULL) AS
-----monta relacionamento
DECLARE @Array VARCHAR(MAX)
DECLARE @S VARCHAR(10)
DECLARE @vSQL VARCHAR(8000)
DECLARE @vTabela VARCHAR(50)
DECLARE @vId_Chave VARCHAR(50)
DECLARE @vId_OS VARCHAR(50)

-----retorna dados na tabela de relacionamento de fatura parametro com conglomerado
IF @pPAKAGE = 'sp_Fatura_Tipo_Rateio_Conglomerado'
BEGIN
	SET @vTabela = 'Rl_Ra_Fatura_Parametro_Conglomerado'
	SET @vId_Chave = 'Id_Fatura_Parametro'
	SET @vId_OS = 'Id_Conglomerado'
END

-----retorna dados na tabela de relacionamento de fatura parametro com filial
IF @pPAKAGE = 'sp_Fatura_Tipo_Rateio_Filial'
BEGIN
	SET @vTabela = 'Rl_Ra_Fatura_Parametro_Filial'
	SET @vId_Chave = 'Id_Fatura_Parametro'
	SET @vId_OS = 'Id_Filial'
END

-----retorna dados na tabela de relacionamento de fatura parametro com ativo
IF @pPAKAGE = 'sp_Fatura_Tipo_Rateio_Ativo'
BEGIN
	SET @vTabela = 'Rl_Ra_Fatura_Parametro_Ativo'
	SET @vId_Chave = 'Id_Fatura_Parametro'
	SET @vId_OS = 'Id_Ativo'
END

-----retorna dados na tabela de relacionamento de fatura parametro com tronco grupo
IF @pPAKAGE = 'sp_Fatura_Tipo_Rateio_Tronco_Grupo'
BEGIN
	SET @vTabela = 'Rl_Ra_Fatura_Parametro_Tronco_Grupo'
	SET @vId_Chave = 'Id_Fatura_Parametro'
	SET @vId_OS = 'Id_Tronco_Grupo'
END

-----retorna dados na tabela de relacionamento de ativo com centro de custo
IF @pPAKAGE = 'sp_SM_RL_Ativo_Centro_Custo'
BEGIN
	SET @vTabela = 'Rl_Ativo_Centro_Custo'
	SET @vId_Chave = 'Id_Ativo'
	SET @vId_OS = 'Id_Centro_Custo'
END

-----retorna dados na tabela de relacionamento de dinamico consulta com usuario
IF @pPAKAGE = 'sp_SM_RL_Si_Dinamico_Consulta_Usuario'
BEGIN
	SET @vTabela = 'Rl_Si_Dinamico_Consulta_Usuario'
	SET @vId_Chave = 'Id_Dinamico_Consulta'
	SET @vId_OS = 'Id_Usuario'
END

-----retorna dados na tabela de relacionamento de grupo de usuario com tela do sistema
IF @pPAKAGE = 'sp_SM_RL_Ususario_Grupo_Si_Tela'
BEGIN
	SET @vTabela = 'Rl_Usuario_Grupo_Si_Tela'
	SET @vId_Chave = 'Id_Usuario_Grupo'
	SET @vId_OS = 'Id_Tela'
END

-----retorna dados na tabela de relacionamento de filial com bilhete_tipo
IF @pPAKAGE = 'sp_SM_RL_Filial_Bilhete_Tipo'
BEGIN
	SET @vTabela = 'Rl_Filial_Bilhete_Tipo'
	SET @vId_Chave = 'Id_Filial'
	SET @vId_OS = 'Id_Bilhete_Tipo'
END

-----retorna dados na tabela de relacionamento de filial com centro de custo
IF @pPAKAGE = 'sp_SM_RL_FILIAL_CENTRO_CUSTO'
BEGIN
	SET @vTabela = 'Rl_Hi_Filial_Centro_Custo'
	SET @vId_Chave = 'Id_Filial'
	SET @vId_OS = 'Id_Centro_Custo'	
END

-----retorna dados na tabela de relacionamento de centro de custo com departamento
IF @pPAKAGE = 'sp_SM_RL_CENTRO_CUSTO_DEPARTAMENTO'
BEGIN
	SET @vTabela = 'Rl_Hi_Centro_Custo_Departamento'
	SET @vId_Chave = 'Id_Centro_Custo'
	SET @vId_OS = 'Id_Departamento'	
END

-----retorna dados na tabela de relacionamento de departamento com setor
IF @pPAKAGE = 'sp_SM_RL_DEPARTAMENTO_SETOR'
BEGIN
	SET @vTabela = 'Rl_Hi_Departamento_Setor'
	SET @vId_Chave = 'Id_Departamento'
	SET @vId_OS = 'Id_Setor'
END

-----retorna dados na tabela de relacionamento de setor com secao
IF @pPAKAGE = 'sp_SM_RL_SETOR_SECAO'
BEGIN
	SET @vTabela = 'Rl_Hi_Setor_Secao'
	SET @vId_Chave = 'Id_Setor'
	SET @vId_OS = 'Id_Secao'
END

-----------------------------------------------------------------------------------------------------------------
-----insere dados na tabela de relacionamento de filial com centro de custo
IF @pPAKAGE = 'sp_Rl_Hi_Filial_Centro_Custo_Insere'
BEGIN
	SET @vTabela = 'Rl_Hi_Filial_Centro_Custo'
	SET @vId_Chave = 'Id_Centro_Custo'
	SET @vId_OS = 'Id_Filial'
END

-----insere dados na tabela de relacionamento de centro de custo com departamento
IF @pPAKAGE = 'sp_Rl_Hi_Centro_Custo_Departamento_Insere'
BEGIN
	SET @vTabela = 'Rl_Hi_Centro_Custo_Departamento'
	SET @vId_Chave = 'Id_Departamento'
	SET @vId_OS = 'Id_Centro_Custo'
END

-----insere dados na tabela de relacionamento de departamento com setor
IF @pPAKAGE = 'sp_Rl_Hi_Departamento_Setor_Insere'
BEGIN
	SET @vTabela = 'Rl_Hi_Departamento_Setor'
	SET @vId_Chave = 'Id_Setor'
	SET @vId_OS = 'Id_Departamento'
END

-----insere dados na tabela de relacionamento de setor com secao
IF @pPAKAGE = 'sp_Rl_Hi_Setor_Secao_Insere'
BEGIN
	SET @vTabela = 'Rl_Hi_Setor_Secao'
	SET @vId_Chave = 'Id_Secao'
	SET @vId_OS = 'Id_Setor'
END

-----insere dados na tabela de relacionamento de perfil de usuario com filial
IF @pPAKAGE = 'sp_Perfil_Acesso_Filial_Insere'
BEGIN
	SET @vTabela = 'Rl_Perfil_Filial_Usuario'
	SET @vId_Chave = 'Id_Usuario'
	SET @vId_OS = 'Id_Filial'
END

-----insere dados na tabela de relacionamento de perfil de usuario com centro de custo
IF @pPAKAGE = 'sp_Perfil_Acesso_Centro_Custo_Insere'
BEGIN
	SET @vTabela = 'Rl_Perfil_Centro_Custo_Usuario'
	SET @vId_Chave = 'Id_Usuario'
	SET @vId_OS = 'Id_Centro_Custo'
END

-----insere dados na tabela de relacionamento de perfil de usuario com departamento
IF @pPAKAGE = 'sp_Perfil_Acesso_Departamento_Insere'
BEGIN
	SET @vTabela = 'Rl_Perfil_Departamento_Usuario'
	SET @vId_Chave = 'Id_Usuario'
	SET @vId_OS = 'Id_Departamento'
END

-----insere dados na tabela de relacionamento de perfil de usuario com setor
IF @pPAKAGE = 'sp_Perfil_Acesso_Setor_Insere'
BEGIN
	SET @vTabela = 'Rl_Perfil_Setor_Usuario'
	SET @vId_Chave = 'Id_Usuario'
	SET @vId_OS = 'Id_Setor'
END

-----insere dados na tabela de relacionamento de perfil de usuario com secao
IF @pPAKAGE = 'sp_Perfil_Acesso_Secao_Insere'
BEGIN
	SET @vTabela = 'Rl_Perfil_Secao_Usuario'
	SET @vId_Chave = 'Id_Usuario'
	SET @vId_OS = 'Id_Secao'
END

-----insere dados na tabela de relacionamento de perfil de usuario com empresa de servico
IF @pPAKAGE = 'sp_Perfil_Acesso_Conglomerado_Insere'
BEGIN
	SET @vTabela = 'Rl_Perfil_Conglomerado_Usuario'
	SET @vId_Chave = 'Id_Usuario'
	SET @vId_OS = 'Id_Conglomerado'
END

-----insere dados na tabela de relacionamento de perfil de usuario com consumidor
IF @pPAKAGE = 'sp_Perfil_Acesso_Consumidor_Insere'
BEGIN
	SET @vTabela = 'Rl_Perfil_Consumidor_Usuario'
	SET @vId_Chave = 'Id_Usuario'
	SET @vId_OS = 'Id_Consumidor'
END

-----insere dados na tabela de relacionamento de usuario com fila de atendimento de incidente
IF @pPAKAGE = 'sp_Rl_Hi_Usuario_Fila_Atendimento_Insere'
BEGIN
	SET @vTabela = 'Rl_Solicitacao_Fila_Atendimento_Usuario'
	SET @vId_Chave = 'Id_Solicitacao_Fila_Atendimento'
	SET @vId_OS = 'Id_Usuario'
END

-----insere dados na tabela de relacionamento de usuario com permissao de solicitacao de atendimento de incidente
IF @pPAKAGE = 'sp_Rl_Usuario_Solictacao_Permissao_Insere'
BEGIN
	SET @vTabela = 'Rl_Usuario_Solicitacao_Permissao'
	SET @vId_Chave = 'Id_Usuario'
	SET @vId_OS = 'Id_Solicitacao_Permissao'
END

-----******************************************************************************
-----insere dados na tabela de relaciomanto
-----limpa tabela de relaciomanto
CREATE TABLE #Tp_Retorno_Relacionamento (T_Qtde INT)

SET  @vSQL =	'DELETE FROM ' + @vTabela + ' ' +
				'WHERE '+ @vId_Chave + ' = ' + CONVERT(VARCHAR(10),@pChave)
EXEC (@vSQL)

SELECT @Array = @pRelacao
IF LEN(@Array) > 0 SET @Array = @Array + ',' 
WHILE LEN(@Array) > 0
BEGIN
	SELECT @S = LTRIM(SUBSTRING(@Array, 1, CHARINDEX(',', @Array) - 1))
	
	SET  @vSQL =	'SELECT	COUNT(*) ' +
					'FROM ' +	@vTabela + ' ' + 
					'WHERE ' +	@vId_OS + ' = ' +  @S + ' AND ' + @vId_Chave + ' = ' + CONVERT(VARCHAR(10),@pChave)
	INSERT INTO #Tp_Retorno_Relacionamento (T_Qtde)
	EXEC(@vSQL)

	IF (SELECT COUNT(T_Qtde) FROM #Tp_Retorno_Relacionamento) > 0
	BEGIN
	
		SET @vSQL = 'IF NOT EXISTS (SELECT * FROM ' + @vTabela + ' WHERE ' + @vId_Chave + ' = ' + CONVERT(VARCHAR(10),@pChave) + ' AND ' + @vId_OS + ' = ' + @S + ')' +
					' BEGIN ' +
					'INSERT INTO ' + @vTabela + '(' + @vId_Chave + ',' + @vId_OS + ')' + 
					'VALUES (' + CONVERT(VARCHAR(10),@pChave) + ',' + @S + ')' +
					' END '
								
		EXEC (@vSQL)
	END
	SELECT @Array = SUBSTRING(@Array, CHARINDEX(',', @Array) + 1, LEN(@Array))
END

-----monta retorno hierarqui de consumidor
IF @pPAKAGE = 'sp_Cadastro_Hierarquia' 
BEGIN
	SELECT	DISTINCT
			CASE	WHEN @pRelacao = 'CENTRO_CUSTO' THEN FI.Id_Filial
					WHEN @pRelacao = 'DEPARTAMENTO' THEN CC.Id_Centro_Custo
					WHEN @pRelacao = 'SETOR' THEN DP.Id_Departamento
					WHEN @pRelacao = 'SECAO' THEN ST.Id_Setor END AS Codigo,
			CASE	WHEN @pRelacao = 'CENTRO_CUSTO' THEN FI.Nm_Filial
					WHEN @pRelacao = 'DEPARTAMENTO' THEN CC.Cd_Centro_Custo
					WHEN @pRelacao = 'SETOR' THEN DP.Nm_Departamento
					WHEN @pRelacao = 'SECAO' THEN ST.Nm_Setor END AS Descricao
	FROM	Rl_Hi_Filial_Centro_Custo RFC 
			LEFT JOIN Rl_Hi_Centro_Custo_Departamento RCD ON (RFC.Id_Centro_Custo = RCD.Id_Centro_Custo)
			LEFT JOIN Rl_Hi_Departamento_Setor RDS ON (RDS.Id_Departamento = RCD.Id_Departamento)
			LEFT JOIN Rl_Hi_Setor_Secao RSS ON (RSS.Id_Setor = RDS.Id_Setor)
			LEFT JOIN Filial FI ON (RFC.Id_Filial = FI.Id_Filial)
			LEFT JOIN Centro_Custo CC ON (RCD.Id_Centro_Custo = CC.Id_Centro_Custo)
			LEFT JOIN Departamento DP ON (RDS.Id_Departamento = DP.Id_Departamento)
			LEFT JOIN Setor ST ON (RSS.Id_Setor = ST.Id_Setor)
			LEFT JOIN Secao SC ON (RSS.Id_Secao = SC.Id_Secao)
	WHERE	(@pRelacao = 'CENTRO_CUSTO' AND RFC.Id_Centro_Custo = @pChave)
			OR (@pRelacao = 'DEPARTAMENTO' AND RCD.Id_Departamento = @pChave)
			OR (@pRelacao = 'SETOR' AND RDS.Id_Setor = @pChave)
			OR (@pRelacao = 'SECAO' AND RSS.Id_Secao = @pChave)
	ORDER BY Descricao
END

-----monta retorno hierarqui de usuario
IF @pPAKAGE = 'sp_Cadastro_Solicitacao_Permissao' 
BEGIN
	SELECT	SP.Id_Solicitacao_Permissao	AS Codigo,
			SP.Nm_Solicitacao_Permissao	AS Descricao
	FROM	Solicitacao_Permissao SP INNER JOIN Rl_Usuario_Solicitacao_Permissao RUSP ON SP.Id_Solicitacao_Permissao = RUSP.Id_Solicitacao_Permissao
	WHERE	RUSP.Id_Usuario = @pChave
END
GO
