USE [Ituran]
GO
/****** Object:  StoredProcedure [dbo].[cg_inv_Gera_Importacao]    Script Date: 7/31/2025 10:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cg_inv_Gera_Importacao](	@pPakage					VARCHAR(200),
												@pId_Arquivo				INT) AS
IF @pPakage = 'sp_Carga_Inventario'
BEGIN	
	-----cria tabela para retorno do shell
	DECLARE  @TArquivo TABLE (Nm_Arquivo VARCHAR(8000)) 
	-----declaracao de variaveis
	DECLARE @vPath_Arquivo VARCHAR(50)
	DECLARE @vExtensao_Arquivo VARCHAR(50)
	DECLARE @vContador INT
	DECLARE @vNm_Arquivo AS VARCHAR(8000)
	DECLARE @vNm_Arquivo_Carregado AS VARCHAR(8000)
	DECLARE @vCMD AS VARCHAR(8000)
	DECLARE @v_SQL AS VARCHAR(8000)

	-----inicia variavel
	SELECT	@vPath_Arquivo = '',
			@vExtensao_Arquivo = '',
			@vContador = 0,
			@vNm_Arquivo = '',
			@vNm_Arquivo_Carregado = '',
			@vCMD = '',
			@v_SQL = ''

	-------------------------------------------------------------------------------
	-----captura path do diretorio
	SELECT	@vPath_Arquivo		= Path_Arquivo,
			@vExtensao_Arquivo	= Extensao_Arquivo
	FROM	Cg_Bi_Arquivo
	WHERE	Id_Arquivo = @pId_Arquivo

	-------------------------------------------------------------------------------
	-----verifica existencia de diretorio
	DELETE @TArquivo
	SET @vCMD = 'CD ' + @vPath_Arquivo + '\Arquivo_Carregado'
	INSERT INTO @TArquivo
	EXEC master..xp_cmdshell @vCMD

	DELETE @TArquivo WHERE Nm_Arquivo IS NULL

	IF EXISTS(SELECT * FROM @TArquivo)
	BEGIN
		SET @vCMD = 'MD ' + @vPath_Arquivo + '\Arquivo_Carregado'
		EXEC master..xp_cmdshell @vCMD, NO_OUTPUT 
	END
	-------------------------------------------------------------------------------
	-----carreta arquivos para tabela
	DELETE @TArquivo
	SET @vCMD = 'DIR /B ' + @vPath_Arquivo + '\*.' + @vExtensao_Arquivo
	INSERT INTO @TArquivo
	EXEC master..xp_cmdshell @vCMD

	-----limpa campo null
	DELETE @TArquivo WHERE Nm_Arquivo IS NULL

	-----valida se foi encontrado os arquivos
	IF EXISTS(SELECT * FROM @TArquivo WHERE Nm_Arquivo LIKE '%' + @vExtensao_Arquivo + '%')
	BEGIN
		SELECT @vContador = COUNT(Nm_Arquivo) FROM @TArquivo
		WHILE @vContador > 0
		BEGIN
			-----captura nome do arquivo
			SET @vNm_Arquivo = (SELECT TOP 1 Nm_Arquivo FROM @TArquivo)

			-----roda procedure que importa arquivo para banco
			------------------------------------------------------------------------------------------------
			-----cria table para armazenar dados temporariamente
			IF EXISTS (	SELECT name FROM sysobjects WHERE name = 'Cg_INV_Arquivo_Temp' AND type = 'U')
			DROP TABLE Cg_INV_Arquivo_Temp

			CREATE TABLE Cg_INV_Arquivo_Temp (	Linha			VARCHAR(100),
												Tipo			VARCHAR(100),
												Conglomerado	VARCHAR(100),
												Chip			VARCHAR(100),
												Matricula		VARCHAR(100),
												Data_Suspensao	VARCHAR(100),
												Observacao		VARCHAR(8000),
												Status_Ativo	VARCHAR(100),
												Modelo			VARCHAR(100))

			-----carrega tabela com dados do arquivo csv temporaria
			SELECT	@v_SQL = 'BULK INSERT Cg_INV_Arquivo_Temp' +
							 ' FROM ' + '''' + Path_Arquivo + '\' + @vNm_Arquivo + ''''+
							 ' WITH (FIRSTROW = 1,' + 
									'FIELDTERMINATOR = ''' + ';' + '''' + ',' +
									'ROWTERMINATOR = ''' + '\n' + '''' + ',' +
									'DATAFILETYPE = ''' + 'widechar' + '''' + ',' +
									'CODEPAGE = '''+ 'ACP' +''''+')'	FROM	Cg_Bi_Arquivo
			WHERE	Id_Arquivo = @pId_Arquivo
			EXEC(@v_SQL)

			-----trata espaco em branco nas pontas
			SET @v_SQL = 'UPDATE [dbo].Cg_INV_Arquivo_Temp SET ' 
			SELECT	@v_SQL = @v_SQL + COLUNAS.NAME + ' = LTRIM(RTRIM('+ COLUNAS.NAME + ')),'
			FROM SYSOBJECTS AS TABELAS	INNER JOIN SYSCOLUMNS AS COLUNAS ON (TABELAS.ID = COLUNAS.ID)
										INNER JOIN SYSTYPES AS TIPOS ON (COLUNAS.xUSERTYPE = TIPOS.xUSERTYPE)
			WHERE TABELAS.NAME = 'Cg_INV_Arquivo_Temp'
			SET @v_SQL = SUBSTRING(@v_SQL, 1 , LEN(@v_SQL)-1) 
			PRINT(@v_SQL)
			EXEC(@v_SQL)

			EXEC dbo.cg_inv_Importar 
			-------------------------------------------------------------------------------------------------
			SET @vContador = @vContador - 1
			
			-----renomeia arquivo carregado e joga em outra pasta
			SET @vNm_Arquivo_Carregado = CONVERT(VARCHAR, GETDATE(),112) + REPLACE(CONVERT(VARCHAR, GETDATE(),108),':','') + @vNm_Arquivo
			SET @vCMD = 'REN ' + '"' + @vPath_Arquivo + '\' + @vNm_Arquivo + '"' + ' ' + '"' + @vNm_Arquivo_Carregado + '"'
			EXEC master..xp_cmdshell @vCMD , NO_OUTPUT

			SET @vCMD = 'MOVE ' + '"' + @vPath_Arquivo + '\' + @vNm_Arquivo_Carregado + '"' + ' ' + '"' + @vPath_Arquivo + '\Arquivo_Carregado' + '"'	
			EXEC master..xp_cmdshell @vCMD , NO_OUTPUT
			-----limpa arquivo carregado
			DELETE @TArquivo WHERE Nm_Arquivo = @vNm_Arquivo
		END		
	END
	ELSE
	BEGIN
		-----passa status da carga
		SELECT 'Arquivo de carga nao localizado' AS Status_Carga
	END	
END
GO
