USE [Ituran]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_LINHAS_SEM_TR]    Script Date: 7/31/2025 10:36:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cn_T_LINHAS_SEM_TR](@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS

	-----filtra dados
	
select distinct
Id_Registro_Tabela 

into #pdf
from arquivo_pdf

where Tabela_Registro = 'ativo'

select 
a.id_ativo as [ID Ativo],
a.Nr_Ativo as [Numero Linha],
c.Nm_Consumidor as [ Usuario],
cc.Nm_Centro_Custo as [Centro de Custo]

INTO #Temp_Export
from #pdf AS PDF

full outer join ativo as A on a.Id_Ativo = pdf.Id_Registro_Tabela 
full  join Rl_Consumidor_Ativo RLCA on rlca.Id_Ativo = a.Id_Ativo 
full join Consumidor C on c.Id_Consumidor = rlca.Id_Consumidor
inner join Centro_Custo  as CC on cc.Id_Centro_Custo = c.Id_Centro_Custo
inner join Ativo_Tipo as AT on at.Id_Ativo_Tipo = a.Id_Ativo_Tipo


where a.Fl_Desativado =0  and pdf.Id_Registro_Tabela is null and Nm_Consumidor is not null and cc.Nm_Centro_Custo is not null and at.Id_Ativo_Tipo_Grupo = 1

order by a.Id_Ativo

	


	
-----exportacao
IF @pPakage = 'sp_LINHAS_SEM_TR_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_LINHAS_SEM_TR'
BEGIN
	SELECT * FROM #Temp_Export
END
GO
