USE [Ituran]
GO
/****** Object:  StoredProcedure [dbo].[pa_si_Contrato_Sem_Vigencia]    Script Date: 7/31/2025 10:36:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  procedure  [dbo].[pa_si_Contrato_Sem_Vigencia] 

AS

Begin 

INSERT into [dbo].[Mail_Caixa_Saida] 
	
SELECT 
	'13',
	'amil@icontrolit.com.br',
	NULL,
	'O Contrato ' + nr_contrato + ' Encontra sem data Final de Vigencia, Revisar URGENTE',
	GETDATE()-1,
	null,
	'0',
	'0',
	'0'
	
		from Contrato

	where Dt_Fim_Vigencia is null

end
GO
