USE [Anima_Educacao]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_custo_ativo_2]    Script Date: 7/31/2025 10:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cn_T_custo_ativo_2] 	(@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS


	-----filtra dados
SELECT	LT.DC_Nr_Nota_Fiscal				AS Conta, 
		AT.Nr_Ativo							AS Ativo,
		CG.Nm_Conglomerado					AS Conglomerado,
		(SELECT COUNT(*) FROM Rl_Consumidor_Ativo SRL INNER JOIN vw_Consumidor SC ON SRL.Id_Consumidor = SC.Id_Consumidor WHERE SRL.Id_Ativo = AT.Id_Ativo) AS Compartilhado,
		CASE WHEN AT.Fl_Desativado = 0 THEN 'Ativo' ELSE 'Desativado' END AS [Status_Cadastro],
		ATP.Nm_Ativo_Tipo					AS Tipo,
		ISNULL(CO.Nm_Consumidor, 'Vazia')	AS Colaborador,
		ISNULL(CO.Matricula, 'Vazia')		AS Matricula,
		ISNULL(US.Nm_Usuario, 'Vazia')		AS Usuario,
		ISNULL(FI.Nm_Filial, 'Vazia')		AS Filial,
		ISNULL(CC.Cd_Centro_Custo, 'Vazia') AS CDC,
		ISNULL(DP.Nm_Departamento, 'Vazia') AS Departamento,
		ISNULL(ST.Nm_Setor, 'Vazia')		AS Setor,
		SUBSTRING(CONVERT(VARCHAR(6),LT.Dt_Lote,112),1,6)	AS Lote,
		ISNULL(CAST(LT.Total_Lote AS DECIMAL(10,2)),0)		AS Total
		INTO #Temp_Export
	FROM	vw_Custo_Usuario LT INNER JOIN Ativo AT ON (AT.Id_Ativo = LT.Id_Ativo)
								INNER JOIN Ativo_Tipo ATP ON (ATP.Id_Ativo_Tipo = AT.Id_Ativo_Tipo)
								INNER JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo) 
								INNER JOIN Conglomerado CG ON (CG.Id_Conglomerado = AT.Id_Conglomerado)
								LEFT JOIN Usuario US ON (LT.Id_Usuario = US.Id_Usuario)
								LEFT JOIN Consumidor CO ON (CO.Id_Consumidor = LT.Id_Consumidor)
								LEFT JOIN Filial FI ON (FI.Id_Filial = CO.Id_Filial) 
								LEFT JOIN Centro_Custo CC ON (CC.Id_Centro_Custo = CO.Id_Centro_Custo)
								LEFT JOIN Departamento DP ON (DP.Id_Departamento = CO.Id_Departamento)
								LEFT JOIN Setor ST ON (ST.Id_Setor = CO.Id_Setor)
	WHERE	
	--SUBSTRING(CONVERT(VARCHAR(6),LT.Dt_Lote,112),1,6) >= @pDt_LoteDe 
	--		AND SUBSTRING(CONVERT(VARCHAR(6),LT.Dt_Lote,112),1,6) <= @pDt_LoteAte
			--AND 
			(ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)

-----exportacao
IF @pPakage = 'sp_contrato_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Contrato'
BEGIN
	SELECT * FROM #Temp_Export
END
GO
