USE [Anima_Educacao]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Estoque]    Script Date: 7/31/2025 10:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_Estoque] (@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS
	
	SELECT	'Equipamento em Uso'	AS Localização,
			EA.Nr_Aparelho			AS Aparelho,
			AT.Nm_Ativo_Tipo		AS Tipo,
			AM.Descricao			AS Modelo,
			C.Nm_Conglomerado		AS Conglomerado,
			A.Nr_Ativo				AS Ativo,
			---------------------------------------
			(SELECT TOP 1 SC.Nm_Consumidor 
			FROM vw_Consumidor SC INNER JOIN Rl_Consumidor_Ativo SRC ON SC.Id_Consumidor = SRC.Id_Consumidor
			WHERE SRC.Id_Ativo = A.Id_Ativo
				AND EXISTS(SELECT * FROM Rl_Perfil_Ativo_Usuario SRAU INNER JOIN Usuario SU ON SRAU.Id_Usuario = SU.Id_Usuario 
							WHERE id_Ativo = A.Id_Ativo AND Dt_Hr_Desativacao IS NULL
									AND SU.Id_Consumidor = SC.Id_Consumidor)) AS Consumidor,

			(SELECT TOP 1 SC.Matricula 
			FROM vw_Consumidor SC INNER JOIN Rl_Consumidor_Ativo SRC ON SC.Id_Consumidor = SRC.Id_Consumidor
			WHERE SRC.Id_Ativo = A.Id_Ativo
				AND EXISTS(SELECT * FROM Rl_Perfil_Ativo_Usuario SRAU INNER JOIN Usuario SU ON SRAU.Id_Usuario = SU.Id_Usuario 
							WHERE id_Ativo = A.Id_Ativo AND Dt_Hr_Desativacao IS NULL
									AND SU.Id_Consumidor = SC.Id_Consumidor)) AS Matricula,
			---------------------------------------						
			ISNULL(EAS.Nm_Estoque_Aparelho_Status,'') AS Sts,
			NULL AS Suspensao,
			NULL AS Tempo,
			NULL AS Conta,
			NULL AS Chamado,
			NULL AS Data,
			NULL AS Pedido,
			ENF.Nr_Nota_Fiscal	AS NF,
			EA.Observacao
			INTO #Temp_Export
	FROM	vw_Estoque_Aparelho EA	INNER JOIN Rl_Estoque_Aparelho_Ativo REA ON (EA.Id_Aparelho = REA.Id_Aparelho)
									INNER JOIN vw_Conglomerado C ON (C.Id_Conglomerado = EA.Id_Conglomerado)
									INNER JOIN Ativo A ON (REA.Id_Ativo = A.Id_Ativo)
									LEFT JOIN vw_Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = EA.Id_Ativo_Tipo)
									LEFT JOIN vw_Ativo_Modelo_Fabricante AM ON (AM.Id_Ativo_Modelo = EA.Id_Ativo_Modelo)
									LEFT JOIN vw_Estoque_Aparelho_Status EAS ON (EAS.Id_Estoque_Aparelho_Status = EA.Id_Estoque_Aparelho_Status)
									LEFT JOIN vw_Estoque_Nota_Fiscal ENF ON (ENF.Id_Estoque_Nota_Fiscal = EA.Id_Estoque_Nota_Fiscal)
	WHERE	A.Id_Ativo IN (	SELECT	R.Id_Ativo 
							FROM	Rl_Consumidor_Ativo R	INNER JOIN vw_Ativo A ON R.Id_Ativo = A.Id_Ativo
															INNER JOIN vw_Consumidor C ON C.Id_Consumidor = R.Id_Consumidor 
							WHERE	NOT R.Id_Consumidor IN (SELECT Id_Consumidor FROM Estoque_Consumidor))
			--AND EA.Id_Aparelho_Tipo = 1 --(estoque)
			--AND EA.Fl_Desativado = 0
	UNION ALL -----aparelho
	SELECT	'Equipamento Estoque'	AS Tipo,
			EA.Nr_Aparelho			AS Nr_Aparelho,
			AT.Nm_Ativo_Tipo		AS Nm_Aparelho_Tipo,
			AM.Descricao			AS Nm_Ativo_Modelo,
			C.Nm_Conglomerado		AS Nm_Conglomerado,
			NULL					AS Nr_Ativo,
			''						AS Consumidor,
			''						AS Matricula,
			ISNULL(EAS.Nm_Estoque_Aparelho_Status,'') AS Status_Aparelho,
			NULL AS Dt_Suspensao,
			NULL AS Tempo_Parado,
			NULL AS Conta,
			NULL AS Nr_Chamado,
			NULL AS Dt_Chamado,
			NULL AS Nr_Pedido,
			ENF.Nr_Nota_Fiscal	AS Nr_Nota_Fiscal,
			EA.Observacao
	FROM	vw_Estoque_Aparelho EA	INNER JOIN vw_Conglomerado C ON (C.Id_Conglomerado = EA.Id_Conglomerado)
									LEFT JOIN vw_Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = EA.Id_Ativo_Tipo)
									LEFT JOIN vw_Ativo_Modelo_Fabricante AM ON (AM.Id_Ativo_Modelo = EA.Id_Ativo_Modelo)
									LEFT JOIN vw_Estoque_Aparelho_Status EAS ON (EAS.Id_Estoque_Aparelho_Status = EA.Id_Estoque_Aparelho_Status)
									LEFT JOIN vw_Estoque_Nota_Fiscal ENF ON (ENF.Id_Estoque_Nota_Fiscal = EA.Id_Estoque_Nota_Fiscal)
	WHERE	NOT EXISTS(	SELECT	* 
								FROM	Rl_Estoque_Aparelho_Ativo R INNER JOIN vw_Ativo A ON R.Id_Ativo = A.Id_Ativo 
								WHERE	Id_Aparelho = EA.Id_Aparelho)
			AND Id_Consumidor IN (SELECT Id_Consumidor FROM Estoque_Consumidor)
			AND EA.Id_Aparelho_Tipo = 1 --(estoque)
			AND EA.Fl_Desativado = 0
	UNION ALL -----aparelho + linha
	SELECT	'Equipamento com Linha Estoque'	AS Tipo,
			EA.Nr_Aparelho				AS Nr_Aparelho,
			AT.Nm_Ativo_Tipo			AS Nm_Aparelho_Tipo,
			AM.Descricao				AS Nm_Ativo_Modelo,
			C.Nm_Conglomerado			AS Nm_Conglomerado,
			A.Nr_Ativo					AS Nr_Ativo,
			''							AS Consumidor,
			''							AS Matricula,
			ISNULL(EAS.Nm_Estoque_Aparelho_Status,'') AS Status_Aparelho,
			NULL AS Dt_Suspensao,
			NULL AS Tempo_Parado,
			NULL AS Conta,
			NULL AS Nr_Chamado,
			NULL AS Dt_Chamado,
			NULL AS Nr_Pedido,
			ENF.Nr_Nota_Fiscal	AS Nr_Nota_Fiscal,
			EA.Observacao
	FROM	vw_Estoque_Aparelho EA	INNER JOIN Rl_Estoque_Aparelho_Ativo REA ON (EA.Id_Aparelho = REA.Id_Aparelho)
									INNER JOIN vw_Conglomerado C ON (C.Id_Conglomerado = EA.Id_Conglomerado)
									INNER JOIN vw_Ativo A ON (REA.Id_Ativo = A.Id_Ativo)
									LEFT JOIN vw_Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = EA.Id_Ativo_Tipo)
									LEFT JOIN vw_Ativo_Modelo_Fabricante AM ON (AM.Id_Ativo_Modelo = EA.Id_Ativo_Modelo)
									LEFT JOIN vw_Estoque_Aparelho_Status EAS ON (EAS.Id_Estoque_Aparelho_Status = EA.Id_Estoque_Aparelho_Status)
									LEFT JOIN vw_Estoque_Nota_Fiscal ENF ON (ENF.Id_Estoque_Nota_Fiscal = EA.Id_Estoque_Nota_Fiscal)
	WHERE	A.Id_Ativo IN (	SELECT Id_Ativo FROM Rl_Consumidor_Ativo WHERE Id_Consumidor IN (SELECT Id_Consumidor FROM Estoque_Consumidor))
			AND EA.Id_Aparelho_Tipo = 1 --(estoque)
			AND EA.Fl_Desativado = 0
	UNION ALL -----linha sem equipamento
	SELECT	'Ativo sem Equipamento'			AS Tipo,
			NULL				AS Nr_Aparelho,
			AT.Nm_Ativo_Tipo	AS Nm_Aparelho_Tipo,
			AM.Descricao		AS Nm_Ativo_Modelo,
			C.Nm_Conglomerado	AS Nm_Conglomerado,
			A.Nr_Ativo			AS Nr_Ativo,
			''					AS Consumidor,
			''					AS Matricula,
			ISNULL(AST.Nm_Ativo_Status,'')	AS Status_Aparelho,
			ISNULL(A.Localidade,'') AS Dt_Suspensao,
			(SELECT CONVERT(VARCHAR(10),MIN(L.Dt_Lote), 103)  		
			FROM	Lote L INNER JOIN Lote_Log_Criacao LLC ON L.Id_Lote = LLC.Id_Lote
			WHERE	LLC.Id_Consumidor IN (SELECT Id_Consumidor FROM Estoque_Consumidor)
					AND L.Id_Ativo = A.Id_Ativo
					AND LLC.Id_Lote >(	SELECT	MAX(SL.Id_Lote) 
										FROM	Lote SL INNER JOIN Lote_Log_Criacao SLLC ON SL.Id_Lote = SLLC.Id_Lote
										WHERE	NOT SLLC.Id_Consumidor IN (SELECT Id_Consumidor FROM Estoque_Consumidor)
												AND SL.Id_Ativo = A.Id_Ativo)) AS Tempo_Parado,
			NULL AS Conta,
			NULL AS Nr_Chamado,
			NULL AS Dt_Chamado,
			NULL AS Nr_Pedido,
			NULL AS Nr_Nota_Fiscal,
			A.Observacao
	FROM	vw_Ativo A	INNER JOIN vw_Conglomerado C ON (C.Id_Conglomerado = A.Id_Conglomerado)
						LEFT JOIN vw_Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo)
						LEFT JOIN vw_Ativo_Modelo_Fabricante AM ON (AM.Id_Ativo_Modelo = A.Id_Ativo_Modelo)
						LEFT JOIN vw_Ativo_Status AST ON (AST.Id_Ativo_Status = A.Id_Ativo_Status)
	WHERE	NOT EXISTS(SELECT * FROM Rl_Estoque_Aparelho_Ativo REA INNER JOIN Estoque_Aparelho EA ON REA.Id_Aparelho = EA.Id_Aparelho 
						WHERE EA.Id_Aparelho_Tipo IN (1,2) AND Id_Ativo = A.Id_Ativo) --ativo sem equipamento
			AND A.Id_Ativo IN (	SELECT Id_Ativo FROM Rl_Consumidor_Ativo WHERE Id_Consumidor IN (SELECT Id_Consumidor FROM Estoque_Consumidor))
	UNION ALL -----Assistencia
	SELECT	'Assistência'			AS Tipo,
			EA.Nr_Aparelho			AS Nr_Aparelho,
			AT.Nm_Ativo_Tipo		AS Nm_Aparelho_Tipo,
			AM.Descricao			AS Nm_Ativo_Modelo,
			C.Nm_Conglomerado		AS Nm_Conglomerado,
			A.Nr_Ativo				AS Nr_Ativo,
			''						AS Consumidor,
			''						AS Matricula,
			EAS.Nm_Estoque_Aparelho_Status	AS Status_Aparelho,
			NULL AS Dt_Suspensao,
			NULL AS Tempo_Parado,
			NULL AS Conta,
			NULL AS Nr_Chamado,
			NULL AS Dt_Chamado,
			NULL AS Nr_Pedido,
			ENF.Nr_Nota_Fiscal	AS Nr_Nota_Fiscal,
			EA.Observacao
	FROM	vw_Estoque_Aparelho EA	INNER JOIN vw_Conglomerado C ON (C.Id_Conglomerado = EA.Id_Conglomerado)
									LEFT JOIN vw_Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = EA.Id_Ativo_Tipo)
									LEFT JOIN vw_Ativo_Modelo_Fabricante AM ON (AM.Id_Ativo_Modelo = EA.Id_Ativo_Modelo)
									LEFT JOIN Rl_Estoque_Aparelho_Ativo REA ON (EA.Id_Aparelho = REA.Id_Aparelho)
									LEFT JOIN Ativo A ON (REA.Id_Ativo = A.Id_Ativo)
									LEFT JOIN vw_Estoque_Aparelho_Status EAS ON (EAS.Id_Estoque_Aparelho_Status = EA.Id_Estoque_Aparelho_Status)
									LEFT JOIN vw_Estoque_Nota_Fiscal ENF ON (ENF.Id_Estoque_Nota_Fiscal = EA.Id_Estoque_Nota_Fiscal)
	WHERE	Id_Consumidor IN (SELECT Id_Consumidor FROM Estoque_Consumidor)
			AND EA.Id_Aparelho_Tipo = 2 --(assistencia)
			AND EA.Fl_Desativado = 0
	UNION ALL -----Solicitacao
	SELECT	'Solicitação'			AS Tipo,
			EA.Nr_Aparelho			AS Nr_Aparelho,
			AT.Nm_Ativo_Tipo		AS Nm_Aparelho_Tipo,
			AM.Descricao			AS Nm_Ativo_Modelo,
			C.Nm_Conglomerado		AS Nm_Conglomerado,
			EA.Nr_Linha_Solicitacao	AS Nr_Ativo,
			''						AS Consumidor,
			''						AS Matricula,
			EAS.Nm_Estoque_Aparelho_Status	AS Status_Aparelho,
			NULL AS Dt_Suspensao,
			NULL AS Tempo_Parado,
			(SELECT TOP 1 DC_Nr_Nota_Fiscal  FROM Lote WHERE Id_Ativo IN (SELECT Id_Ativo FROM Ativo WHERE Nr_Ativo = EA.Nr_Linha_Solicitacao)) AS Conta,
			EA.Nr_Chamado AS Nr_Chamado,
			CONVERT(VARCHAR(10),EA.Dt_Chamado,103) AS Dt_Chamado,
			EA.Nr_Pedido				AS Nr_Pedido,
			ENF.Nr_Nota_Fiscal			AS Nr_Nota_Fiscal,
			EA.Observacao				AS Observacao
	FROM	vw_Estoque_Aparelho EA	INNER JOIN vw_Conglomerado C ON (C.Id_Conglomerado = EA.Id_Conglomerado)
									LEFT JOIN vw_Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = EA.Id_Ativo_Tipo)
									LEFT JOIN vw_Ativo_Modelo_Fabricante AM ON (AM.Id_Ativo_Modelo = EA.Id_Ativo_Modelo)
									LEFT JOIN vw_Estoque_Aparelho_Status EAS ON (EAS.Id_Estoque_Aparelho_Status = EA.Id_Estoque_Aparelho_Status)
									LEFT JOIN vw_Estoque_Nota_Fiscal ENF ON (ENF.Id_Estoque_Nota_Fiscal = EA.Id_Estoque_Nota_Fiscal)
	WHERE	NOT EXISTS(SELECT * FROM Rl_Estoque_Aparelho_Ativo WHERE Id_Aparelho = EA.Id_Aparelho)
			AND Id_Consumidor IN (SELECT Id_Consumidor FROM Estoque_Consumidor)
			AND EA.Id_Aparelho_Tipo = 3 --(solicitacao)
			AND EA.Fl_Desativado = 0
	UNION ALL -----desativado
	SELECT	'Desativado'			AS Tipo,
			EA.Nr_Aparelho			AS Nr_Aparelho,
			AT.Nm_Ativo_Tipo		AS Nm_Aparelho_Tipo,
			AM.Descricao			AS Nm_Ativo_Modelo,
			C.Nm_Conglomerado		AS Nm_Conglomerado,
			NULL					AS Nr_Ativo,
			''						AS Consumidor,
			''						AS Matricula,
			EAS.Nm_Estoque_Aparelho_Status	AS Status_Aparelho,
			NULL AS Dt_Suspensao,
			NULL AS Tempo_Parado,
			NULL AS Conta,
			NULL AS Nr_Chamado,
			NULL AS Dt_Chamado,
			NULL AS Nr_Pedido,
			ENF.Nr_Nota_Fiscal	AS Nr_Nota_Fiscal,
			EA.Observacao	AS Observacao 
	FROM	Estoque_Aparelho EA		LEFT JOIN vw_Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = EA.Id_Ativo_Tipo)
									LEFT JOIN vw_Ativo_Modelo_Fabricante AM ON (AM.Id_Ativo_Modelo = EA.Id_Ativo_Modelo)
									LEFT JOIN vw_Estoque_Aparelho_Status EAS ON (EAS.Id_Estoque_Aparelho_Status = EA.Id_Estoque_Aparelho_Status)
									INNER JOIN vw_Conglomerado C ON (C.Id_Conglomerado = EA.Id_Conglomerado)
									LEFT JOIN vw_Estoque_Nota_Fiscal ENF ON (ENF.Id_Estoque_Nota_Fiscal = EA.Id_Estoque_Nota_Fiscal)
	WHERE	EA.Fl_Desativado = 1 --(desativado)
	ORDER BY Localização, Aparelho
	
-----exportacao
IF @pPakage = 'sp_Estoque_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Estoque'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grafrico
--IF @pPakage = 'sp_Estoque_Grafico'
--BEGIN
--END
GO
