USE [Anima_Educacao]
GO
/****** Object:  StoredProcedure [dbo].[pa_Ativo_Parametro]    Script Date: 7/31/2025 10:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Ativo_Parametro] (@pPakage						VARCHAR(200),
											@pId_Ativo						INT				= NULL,
											@pDt_Termino_Garantia			DATETIME		= NULL,	
											@pId_Ativo_Fr_Aquisicao			INT				= NULL,
											@pDt_Ini_Fr_Aquisicao			DATETIME		= NULL,	
											@pVr_Fr_Aquisicao				NUMERIC(10,2)	= NULL,
											@pQtd_Mes_Residuo_Fr_Aquisicao	INT				= NULL,
											@pRateio_Conglomerado			INT				= NULL,
											@pId_Tronco_Grupo				INT				= NULL,
											@pId_Conglomerado				INT				= NULL,
											@pId_Contrato					INT				= NULL,
											@pId_Usuario_Permissao			INT				= NUll) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Ativo_Parametro WHERE Id_Ativo = @pId_Ativo)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Ativo_Parametro 
			SET		Dt_Termino_Garantia				= @pDt_Termino_Garantia,
					Id_Ativo_Fr_Aquisicao			= @pId_Ativo_Fr_Aquisicao,
					Dt_Ini_Fr_Aquisicao				= @pDt_Ini_Fr_Aquisicao,
					Vr_Fr_Aquisicao					= @pVr_Fr_Aquisicao,
					Qtd_Mes_Residuo_Fr_Aquisicao	= @pQtd_Mes_Residuo_Fr_Aquisicao,
					Rateio_Conglomerado				= @pRateio_Conglomerado,
					Id_Tronco_Grupo					= @pId_Tronco_Grupo,
					Id_Conglomerado					= @pId_Conglomerado,
					Id_Contrato						= @pId_Contrato
			WHERE	Id_Ativo = @pId_Ativo
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2 
		BEGIN
			INSERT INTO Ativo_Parametro (	Id_Ativo,
											Dt_Termino_Garantia,
											Id_Ativo_Fr_Aquisicao,
											Dt_Ini_Fr_Aquisicao,
											Vr_Fr_Aquisicao,
											Qtd_Mes_Residuo_Fr_Aquisicao,
											Rateio_Conglomerado,
											Id_Tronco_Grupo,
											Id_Conglomerado,
											Id_Contrato)
			VALUES(	@pId_Ativo,
					@pDt_Termino_Garantia,
					@pId_Ativo_Fr_Aquisicao,
					@pDt_Ini_Fr_Aquisicao,
					@pVr_Fr_Aquisicao,
					@pQtd_Mes_Residuo_Fr_Aquisicao,
					@pRateio_Conglomerado,
					@pId_Tronco_Grupo,
					@pId_Conglomerado,
					@pId_Contrato)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		-----limpa relacionamento
		DELETE	Rl_Ativo_Centro_Custo
		WHERE	Id_Ativo = @pId_Ativo
		-----limpa ativo parametro
		DELETE	Ativo_Parametro 
		WHERE	Id_Ativo = @pId_Ativo
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	
	-----insere dados caso na exista
	IF NOT EXISTS(SELECT * FROM Ativo_Parametro WHERE Id_Ativo = @pId_Ativo)
	BEGIN
		INSERT INTO Ativo_Parametro 
		SELECT TOP 1	@pId_Ativo,
						Id_Ativo_Fr_Aquisicao,
						NULL,
						NULL,
						NULL,
						NULL,
						NULL,
						NULL,
						NULL,
						NULL
		FROM dbo.Ativo_Fr_Aquisicao	
	END

	-----lista ativo parametro
	SELECT	ISNULL(AP.Id_Ativo,'')							AS Id_Ativo,
			ISNULL(AP.Dt_Termino_Garantia, '01/01/1900')	AS Dt_Termino_Garantia,
			ISNULL(AP.Id_Ativo_Fr_Aquisicao,'')			AS Id_Ativo_Fr_Aquisicao,
			ISNULL(AP.Dt_Ini_Fr_Aquisicao, '01/01/1900')	AS Dt_Ini_Fr_Aquisicao,
			ISNULL(AP.Vr_Fr_Aquisicao,0)					AS Vr_Fr_Aquisicao,
			ISNULL(AP.Qtd_Mes_Residuo_Fr_Aquisicao,'')		AS Qtd_Mes_Residuo_Fr_Aquisicao,
			ISNULL(AP.Rateio_Conglomerado, '')				AS Rateio_Conglomerado,
			ISNULL(AP.Id_Tronco_Grupo,'')					AS Id_Tronco_Grupo,
			ISNULL(AP.Id_Conglomerado,'')					AS Id_Conglomerado,
			CASE WHEN FP.Id_Contrato IS NULL THEN ISNULL(AP.Id_Contrato,'') ELSE FP.Id_Contrato END AS Id_Contrato,
			ISNULL(FP.Nr_Plano_Conta,'') AS Nr_Plano_Conta
	FROM	Ativo_Parametro AP LEFT JOIN Lote LT ON (AP.Id_Ativo = LT.Id_Ativo)
								LEFT JOIN Fatura_Plano_Conta FP ON (FP.Nr_Plano_Conta = LT.DC_Nr_Nota_Fiscal)
	WHERE	AP.Id_Ativo = @pId_Ativo
END

-----retorna relacionamento de Ativo com Centro_Custo
IF @pPAKAGE = 'sd_SL_RL_Ativo_Centro_Custo'
BEGIN
	SELECT	DISTINCT ISNULL(CC.Id_Centro_Custo,'')	AS Id_Centro_Custo,
			ISNULL(CC.Cd_Centro_Custo,'')			AS Cd_Centro_Custo
	FROM	vw_Centro_Custo CC	INNER JOIN Rl_Ativo_Centro_Custo RAC ON (CC.Id_Centro_Custo = RAC.Id_Centro_Custo)
	WHERE	RAC.Id_Ativo = @pId_Ativo  
	ORDER BY Cd_Centro_Custo
END

-----retorna relacionamento de Ativo com Centro_Custo e porcentagem
IF @pPAKAGE = 'sd_SL_RL_Ativo_Centro_Custo_Porcentagem'
BEGIN
	SELECT	DISTINCT ISNULL(CC.Id_Centro_Custo,'')	AS Id_Centro_Custo,
			ISNULL(CC.Cd_Centro_Custo,'')			AS Cd_Centro_Custo,
			ISNULL(RAC.Porcentagem,'')				AS Porcentagem
	FROM	vw_Centro_Custo CC	INNER JOIN Rl_Ativo_Centro_Custo RAC ON (CC.Id_Centro_Custo = RAC.Id_Centro_Custo)
	WHERE	RAC.Id_Ativo = @pId_Ativo  
	ORDER BY Cd_Centro_Custo
END
GO
