USE [Anima_Educacao]
GO
/****** Object:  StoredProcedure [dbo].[pa_si_Texto_Termo]    Script Date: 7/31/2025 10:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_si_Texto_Termo] (@pPakage	VARCHAR(200),
									@pPagina	VARCHAR(50)	= NULL) AS

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Caixa,'')	AS Caixa,
			ISNULL(Texto,'')	AS Texto
	FROM	Si_Texto_Termo
	WHERE	Pagina = @pPagina
END
GO
