USE [Kora_Saude]
GO
/****** Object:  UserDefinedFunction [dbo].[Fu_Formata_Data]    Script Date: 7/31/2025 10:54:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fu_Formata_Data] (@pTexto VARCHAR(MAX)) 
RETURNS VARCHAR(50)
AS
BEGIN
	-----formata os campos tipo e descricao do bilhete
	DECLARE @pTexto_Retorno AS VARCHAR(50)
	DECLARE @pTexto_Validacao AS VARCHAR(50)	

	SET @pTexto_Validacao = REPLACE(@pTexto,'/','')
	SET @pTexto_Validacao = REPLACE(@pTexto_Validacao,'-','')
	
	SELECT @pTexto_Retorno = Format.Data_Formatada
	FROM (			
		SELECT	TOP 1	SUBSTRING(@pTexto_Validacao, Posicao_2, Tamanho_2) + '/' +
						SUBSTRING(@pTexto_Validacao, Posicao_1, Tamanho_1) + '/' +
						SUBSTRING(@pTexto_Validacao, Posicao_3, Tamanho_3) AS Data_Formatada
		FROM	Si_Formato_Valida_Data
		WHERE	ISDATE(SUBSTRING(@pTexto_Validacao, Posicao_2, Tamanho_2) + '/' +
						SUBSTRING(@pTexto_Validacao, Posicao_1, Tamanho_1) + '/' +
						SUBSTRING(@pTexto_Validacao, Posicao_3, Tamanho_3)) = 1 
				AND LEN(@pTexto_Validacao)= (Tamanho_1 + Tamanho_2 + Tamanho_3)) Format

	IF @pTexto_Retorno IS NULL
		SET @pTexto_Retorno = '1900/01/01'		

	RETURN @pTexto_Retorno
END











GO
