USE [Ipiranga]
GO
/****** Object:  StoredProcedure [dbo].[cg_bi_Critica]    Script Date: 7/31/2025 10:35:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cg_bi_Critica] ( @pId_Arquivo   INT,   
          @pId_Ativo_Tipo   INT,  
          @pId_Conglomerado  INT) AS  
--**************************************************************************************  
--ATENCAO ESSA PROC SO PODE SER EXECUTADA UMA VEZ. SENAO TODO PROCESSO DEVE SER REFEITO.  
--**************************************************************************************  
  
-----declare variavel  
DECLARE @v_SQL VARCHAR(8000)  
DECLARE @v_Nome_Campo_1 VARCHAR(8000)  
DECLARE @v_Nome_Campo_2 VARCHAR(8000)  
DECLARE @v_Nome_Campo_3 VARCHAR(8000)  
DECLARE @v_Ativo VARCHAR(50)  
  
-----set varivel  
SELECT @v_SQL = ''  
SELECT @v_Nome_Campo_1 = ''  
SELECT @v_Nome_Campo_2 = ''  
SELECT @v_Nome_Campo_3 = ''  
SELECT @v_Ativo = ''  
  
--********************************************************************************  
-----inicia formatacao e concatenacao de campo  
--********************************************************************************  
-----formata e atualiza campo da tabela  
IF (SELECT COUNT(*) FROM Cg_Bi_Arquivo_Campo  
 WHERE Id_Arquivo = @pId_Arquivo  
   AND(Formata_Numerico = 1 OR Formata_Decimal = 1 OR Formata_Data = 1 or Formata_Texto =1)) > 0  
BEGIN  
 SELECT @v_SQL = 'UPDATE Cg_Bi_Si_Arquivo_Formatado SET '  
 SELECT @v_SQL = @v_SQL + CASE WHEN Formata_Numerico = 1 THEN Nm_Campo + ' = dbo.Fu_Formata_Numero('+ Nm_Campo +'),' ELSE '' END,    
   @v_SQL = @v_SQL + CASE WHEN Formata_Decimal = 1 THEN Nm_Campo + ' = dbo.Fu_Formata_Decimal('+ Nm_Campo +'),' ELSE '' END,   
   @v_SQL = @v_SQL + CASE WHEN Formata_Data = 1 THEN Nm_Campo + ' = dbo.Fu_Formata_Data('+ Nm_Campo +'),' ELSE '' END,   
   @v_SQL = @v_SQL + CASE WHEN Formata_Texto = 1 THEN Nm_Campo + ' = dbo.Fu_Formata_Texto('+ Nm_Campo +'),' ELSE '' END,  
   @v_SQL = @v_SQL + CASE WHEN Formata_Duracao = 1 THEN Nm_Campo + ' = dbo.Fu_Formata_Duracao('+ Nm_Campo +'),' ELSE '' END  
 FROM Cg_Bi_Arquivo_Campo  
 WHERE Id_Arquivo = @pId_Arquivo  
 -----repara script  
 SELECT @v_SQL = SUBSTRING(@v_SQL, 1, (LEN(@v_SQL)-1)) + ''  
 EXEC (@v_SQL)  
END  
  
-------concatena campo  
IF (SELECT COUNT(*) FROM Cg_Bi_Arquivo_Campo WHERE NOT Concatena IS NULL AND Id_Arquivo = @pId_Arquivo) > 0  
BEGIN  
 SELECT @v_SQL = 'UPDATE Cg_Bi_Si_Arquivo_Formatado SET '  
 SELECT @v_SQL = @v_SQL + Nm_Campo + ' = ' + 'ISNULL(' + Nm_Campo + ',' + '''' + '''' + ')' +  
     '+' + '''' + ' ' +  '''' + '+' +   
     'ISNULL(' + Concatena + ',' + '''' + '''' + ')' + ','   
 FROM Cg_Bi_Arquivo_Campo   
 WHERE Id_Arquivo = @pId_Arquivo  
   AND NOT Concatena IS NULL  
 -----repara script  
 SELECT @v_SQL = SUBSTRING(@v_SQL, 1, (LEN(@v_SQL)-1)) + ''  
  
 EXEC (@v_SQL)  
END  
  
--********************************************************************************  
-----inicia criacao de novo ativo  
--********************************************************************************  
-----zera varivel  
SELECT @v_Nome_Campo_1 = ''  
SELECT @v_Nome_Campo_2 = ''  
  
-----busca identificador do ativo   
SELECT @v_Nome_Campo_1 = Nm_Campo   
FROM Cg_Bi_Arquivo_Campo   
WHERE Id_Campo_Bilhete = 7 --*****mostra campo da tabela Cg_Bi_Si_Recepcao_Arquivo marcado como tipo (ativo)*****  
  AND Id_Arquivo  = @pId_Arquivo  
  
IF NOT @v_Nome_Campo_1 = ''  
BEGIN  
 -----busca identificador do ativo  
 SELECT @v_SQL =   
 'SELECT DISTINCT ' + @v_Nome_Campo_1 + ',' +  
      '''' + 'Criado na Carga' + '''' + ',' +  
      CONVERT(VARCHAR(10),@pId_Ativo_Tipo) + ',' +  
      CONVERT(VARCHAR(10),@pId_Conglomerado) + ',' +  
      'NULL'    + ',' +  
      'NULL'    + ',' +  
      'GETDATE()'   + ',' +  
      'NULL'    + ',' +  
      '''' + 'Criado na Carga' + '''' + ',' +  
      'NULL'    + ',' +  
      'NULL'    + ',' +  
      '0'     +  
 ' FROM Cg_Bi_Si_Arquivo_Formatado AF' +  
 ' WHERE  NOT EXISTS (SELECT Nr_Ativo FROM Ativo WHERE Id_Conglomerado =' + CONVERT(VARCHAR(10),@pId_Conglomerado) +  
 ' AND NR_Ativo = AF.' + @v_Nome_Campo_1  + ')'   
  
 INSERT INTO Ativo(Nr_Ativo, Finalidade,Id_Ativo_Tipo, Id_Conglomerado, Id_Ativo_Modelo, Localidade, Dt_Ativacao,Dt_Desativacao, Observacao, Ativo_Complemento, Id_Ativo_Status, Fl_Desativado)   
 EXEC (@v_SQL)  
  
 -----atualiza o ativo com o id_ativo  
 SELECT @v_SQL =   
 'UPDATE Cg_Bi_Si_Arquivo_Formatado ' +  
 'SET ' + @v_Nome_Campo_1 + ' = ' + 'AT.Id_Ativo ' +  
 'FROM Ativo AT INNER JOIN Cg_Bi_Si_Arquivo_Formatado CG ON (AT.Nr_Ativo = ' + 'CG.' + @v_Nome_Campo_1 + ') ' +  
 'WHERE AT.Id_Conglomerado = ' + CONVERT(VARCHAR(10),@pId_Conglomerado)  
 EXEC (@v_SQL)  
END  
  
--********************************************************************************  
-----inicia criacao de novo tipo de bilhete  
--********************************************************************************  
-----zera varivel  
SELECT @v_Nome_Campo_1 = ''  
SELECT @v_Nome_Campo_2 = ''  
SELECT @v_Nome_Campo_3 = ''  
  
-----busca identificador de tipo e descricao do bilhete  
  
--*****mostra campo da tabela Cg_Bi_Si_Recepcao_Arquivo marcado como tipo*****  
SELECT @v_Nome_Campo_1 = Nm_Campo FROM Cg_Bi_Arquivo_Campo WHERE Id_Campo_Bilhete = 8 AND Id_Arquivo = @pId_Arquivo  
  
--*****mostra campo da tabela Cg_Bi_Si_Recepcao_Arquivo marcado como descricao*****  
SELECT @v_Nome_Campo_2 = Nm_Campo FROM Cg_Bi_Arquivo_Campo WHERE Id_Campo_Bilhete = 9 AND Id_Arquivo = @pId_Arquivo  
  
--*****mostra campo da tabela Cg_Bi_Si_Recepcao_Arquivo marcado como duracao*****  
SELECT @v_Nome_Campo_3 = Nm_Campo FROM Cg_Bi_Arquivo_Campo WHERE Id_Campo_Bilhete = 3 AND Id_Arquivo = @pId_Arquivo  
  
IF NOT @v_Nome_Campo_1 = ''  
BEGIN  
 -----busca tipo bilhete nao cadastrado  
 SELECT @v_SQL =   
 'SELECT DISTINCT ' + CONVERT(VARCHAR(10),@pId_Conglomerado) + ','  
      + 'ISNULL(' + @v_Nome_Campo_1 + ', ' + '''' + '''' + '),'  
      + 'ISNULL(' + @v_Nome_Campo_2 + ', ' + '''' + '''' + '),'  
      + 'CASE WHEN ISNUMERIC(' + @v_Nome_Campo_3 + ') = 0 THEN 1 ELSE 2 END' + ','  
      + CASE WHEN @v_Nome_Campo_1 = '' THEN '2' ELSE '1' END + ','  
      + '0' + ' ' +  
 'FROM Cg_Bi_Si_Arquivo_Formatado AF ' +  
 'WHERE NOT EXISTS ( SELECT * FROM Bilhete_Tipo WHERE Nm_Bilhete_Tipo = AF.' + @v_Nome_Campo_1 + ' ' +  
 'AND Nm_Bilhete_Descricao = AF.' + @v_Nome_Campo_2 + ' ' +  
 'AND Id_Conglomerado = ' + CONVERT(VARCHAR,@pId_Conglomerado) + ')'  
  
 INSERT INTO Bilhete_Tipo  
 EXEC (@v_SQL)  
  
 ---------atualiza Id_Bilhete_Tipo na tabela Cg_Bi_Si_Arquivo_Formatado  
 SELECT @v_SQL =   
 'UPDATE Cg_Bi_Si_Arquivo_Formatado ' +   
 'SET ' + @v_Nome_Campo_1 + '= BT.Id_Bilhete_Tipo ' +  
 'FROM Bilhete_Tipo BT INNER JOIN Cg_Bi_Si_Arquivo_Formatado CG ' +   
 'ON ( BT.Nm_Bilhete_Tipo = ISNULL(CG.' + @v_Nome_Campo_1 + ',' + '''' + '''' + ')' +   
 CASE WHEN @v_Nome_Campo_2 = '' THEN '' ELSE ' AND BT.Nm_Bilhete_Descricao = ISNULL(CG.' + @v_Nome_Campo_2 + ',' + '''' + '''' + ')' END + ' ' +  
 'AND BT.Id_Conglomerado = ' + CONVERT(VARCHAR,@pId_Conglomerado) + ')'  
   
 EXEC (@v_SQL)  
END   
  
--********************************************************************************  
-----inicia criacao de novo tronco  
--********************************************************************************  
-----zera varivel  
SELECT @v_Nome_Campo_1 = ''  
SELECT @v_Nome_Campo_2 = ''  
  
-----busca identificador do tronco  
SELECT @v_Nome_Campo_1 = Nm_Campo   
FROM Cg_Bi_Arquivo_Campo   
WHERE Id_Campo_Bilhete = 5 --*****mostra campo da tabela Cg_Bi_Si_Recepcao_Arquivo marcado como tronco******  
  AND Id_Arquivo  = @pId_Arquivo  
  
IF NOT @v_Nome_Campo_1 = ''  
BEGIN  
 -----busca tronco nao cadastrado  
 SELECT @v_SQL =   
 'SELECT DISTINCT ' + @v_Nome_Campo_1       + ','  
      + CONVERT(VARCHAR(10),@pId_Conglomerado) + ','  
      + 'NULL'         + ','  
      + '0'          + ' ' +  
 'FROM Cg_Bi_Si_Arquivo_Formatado ' +  
 'WHERE NOT ' + @v_Nome_Campo_1 + ' IN (SELECT Nm_Tronco FROM Tronco ' +   
 'WHERE Id_Conglomerado = ' + CONVERT(VARCHAR(10),@pId_Conglomerado)  + ' ) ' + ' ' +  
 'GROUP BY ' + @v_Nome_Campo_1  
  
 INSERT INTO Tronco  
 EXEC (@v_SQL)  
  
 ---------atualiza Id_Tronco na tabela Cg_Bi_Si_Arquivo_Formatado  
 SELECT @v_SQL =   
 'UPDATE Cg_Bi_Si_Arquivo_Formatado ' +   
 'SET ' + @v_Nome_Campo_1 + '= TR.Id_Tronco ' +  
 'FROM Tronco TR INNER JOIN Cg_Bi_Si_Arquivo_Formatado CG ' +   
 'ON (TR.Nm_Tronco = CG.' + @v_Nome_Campo_1 +   
 ' AND TR.Id_Conglomerado = ' + + CONVERT(VARCHAR(10),@pId_Conglomerado) + ')'  
   
 EXEC (@v_SQL)  
END
GO
