USE [Ipiranga]
GO
/****** Object:  StoredProcedure [dbo].[pa_Contrato_SLA_Operacao]    Script Date: 7/31/2025 10:35:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Contrato_SLA_Operacao] (	@pPakage					VARCHAR(200)	= NULL,
													@pId_Contrato_SLA_Operacao	INT				= NULL,
													@pId_Contrato				INT				= NULL,
													@pDescricao					VARCHAR(8000)	= NULL,
													@pPrazo_Dias				INT				= NULL,
													@pVr_SLA_Operacao			NUMERIC(10,2)	= NULL,
													@pId_Usuario_Permissao		INT				= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Contrato_SLA_Operacao WHERE Id_Contrato_SLA_Operacao = @pId_Contrato_SLA_Operacao)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Contrato_SLA_Operacao 
			SET		Id_Contrato		= @pId_Contrato,
					Descricao		= @pDescricao,
					Prazo_Dias		= @pPrazo_Dias,
					Vr_SLA_Operacao	= @pVr_SLA_Operacao
			WHERE	Id_Contrato_SLA_Operacao = @pId_Contrato_SLA_Operacao
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Contrato_SLA_Operacao (	Id_Contrato,
												Descricao,
												Prazo_Dias,
												Vr_SLA_Operacao,
												Fl_Desativado) 
			VALUES(	@pId_Contrato,
					@pDescricao,
					@pPrazo_Dias,
					@pVr_SLA_Operacao,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Contrato_SLA_Operacao 
		SET		Fl_Desativado = 1 
		WHERE	Id_Contrato_SLA_Operacao = @pId_Contrato_SLA_Operacao
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Contrato_SLA_Operacao, '')	AS Id_Contrato_SLA_Operacao,
			ISNULL(Id_Contrato,'')					AS Id_Contrato,
			ISNULL(Descricao,'')					AS Descricao,
			ISNULL(Prazo_Dias,'')					AS Prazo_Dias,
			ISNULL(Vr_SLA_Operacao,0)				AS Vr_SLA_Operacao
	FROM	vw_Contrato_SLA_Operacao
	WHERE	Id_Contrato_SLA_Operacao = @pId_Contrato_SLA_Operacao
END









GO
