USE [Ipiranga]
GO
/****** Object:  StoredProcedure [dbo].[pa_Arquivo_PDF]    Script Date: 7/31/2025 10:35:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_Arquivo_PDF] (@pPakage    VARCHAR(200),    
          @pId_Arquivo_PDF  INT    = NULL,    
          @pNm_Arquivo_PDF  VARCHAR(250) = NULL,    
          @pTabela_Registro  VARCHAR(250) = NULL,    
          @pId_Registro_Tabela INT    = NULL,    
          @pTamanho    FLOAT   = NULL,    
          @pArquivo    IMAGE   = NULL,    
          @pId_Usuario_Permissao INT    = NULL) AS    
-----insere ou atualiza registro    
IF @pPAKAGE = 'sp_SM'    
BEGIN    
 INSERT INTO Arquivo_PDF (Nm_Arquivo_PDF,    
       Tabela_Registro,    
       Id_Registro_Tabela,    
       Arquivo,    
       Tamanho)     
 VALUES( @pNm_Arquivo_PDF,    
   @pTabela_Registro,    
   @pId_Registro_Tabela,    
   @pArquivo,    
   @pTamanho)    
END    
    
-----desativa resgistro    
IF @pPAKAGE = 'sp_SE'    
BEGIN    
 IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2    
 BEGIN    
  DELETE Arquivo_PDF    
  WHERE Tabela_Registro = @pTabela_Registro     
    AND Id_Registro_Tabela = @pId_Registro_Tabela    
    AND Id_Arquivo_PDF = @pId_Arquivo_PDF    
 END    
END    
    
-----consulta pelo ID do registro    
IF @pPAKAGE = 'sp_SL_ID'    
BEGIN    
 SELECT Id_Arquivo_PDF,    
   Nm_Arquivo_PDF,    
   Tabela_Registro,    
   Id_Registro_Tabela,    
   Arquivo,    
   Tamanho,    
   '../PDF/View_PDF.aspx?pTabela=' + Tabela_Registro + '&pRegistro=' + CONVERT(VARCHAR,Id_Registro_Tabela) + '&pId_Arquivo_PDF=' + CONVERT(VARCHAR,Id_Arquivo_PDF) AS Link    
 FROM Arquivo_PDF    
 WHERE Tabela_Registro = @pTabela_Registro     
   AND Id_Registro_Tabela = @pId_Registro_Tabela    
END    
    
-----view do pdf    
IF @pPAKAGE = 'sp_View_PDF'    
BEGIN    
 SELECT Id_Arquivo_PDF,    
   Nm_Arquivo_PDF,    
   Tabela_Registro,    
   Id_Registro_Tabela,    
   Arquivo,    
   Tamanho    
 FROM Arquivo_PDF    
 WHERE Tabela_Registro = @pTabela_Registro     
   AND Id_Registro_Tabela = @pId_Registro_Tabela    
   AND Id_Arquivo_PDF = @pId_Arquivo_PDF    
 
 UPDATE Arquivo_PDF 
 SET Download = 1 
 WHERE Tabela_Registro = @pTabela_Registro     
   AND Id_Registro_Tabela = @pId_Registro_Tabela    
   AND Id_Arquivo_PDF = @pId_Arquivo_PDF  
END

-----consulta pelo ID do registro    
IF @pPAKAGE = 'sp_SL_ID_Dw'    
BEGIN    
 SELECT Download    
 FROM Arquivo_PDF    
 WHERE Tabela_Registro = @pTabela_Registro     
   AND Id_Registro_Tabela = @pId_Registro_Tabela    
END 
-----insere um novo registro de acesso por usuario e arquivo
IF @pPAKAGE = 'sp_SM_PDF_User'
BEGIN
    IF NOT EXISTS (
        SELECT 1
        FROM Arquivo_PDF_Acesso_Usuario
        WHERE Id = @pId_Arquivo_PDF
        AND Id_Usuario = @pId_Usuario_Permissao
    )
    BEGIN
        INSERT INTO Arquivo_PDF_Acesso_Usuario (
            [Id],
            [Id_Usuario],
            [Data_Acesso]
        )
        VALUES(
           @pId_Arquivo_PDF,
           @pId_Usuario_Permissao,
           GETDATE()
        )
    END
END
GO
