USE [Papaiz]
GO
/****** Object:  StoredProcedure [dbo].[cn_Volumetria_Custo]    Script Date: 7/31/2025 10:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_Volumetria_Custo] (	@pPakage				VARCHAR(200),
												@pAtivo_Tipo_Grupo		VARCHAR(50)	= NULL,
												@pId_Conglomerado		INT			= NULL,
												@pDt_LoteDe				VARCHAR(6)	= NULL,
												@pDt_LoteAte			VARCHAR(6)	= NULL) AS
------consulta volume de bilhete
IF @pPakage = 'sp_Volumetria'
BEGIN
	DECLARE @SQL_Query VARCHAR(MAX)
	DECLARE @SQL_Campo VARCHAR(MAX)
	SET @SQL_Query = ''
	SET @SQL_Campo = ''

	SELECT	@SQL_Campo = @SQL_Campo +
			' SUM(CASE WHEN B.DB_Tipo_Parametro IN ( ' + 
														SUBSTRING(
															 (SELECT TOP 1 COALESCE((	SELECT	'''' + DB_Tipo_Parametro + '''' + ',' AS [text()]
																						FROM Si_Volumetria
																						WHERE	Nm_Ativo_Tipo_Grupo = SV.Nm_Ativo_Tipo_Grupo
																								AND Grupo = SV.Grupo
																						FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '' ) AS Campo)
															,1,LEN(		 (SELECT TOP 1 COALESCE((	SELECT	'''' + DB_Tipo_Parametro + '''' + ',' AS [text()]
																						FROM Si_Volumetria
																						WHERE	Nm_Ativo_Tipo_Grupo = SV.Nm_Ativo_Tipo_Grupo
																								AND Grupo = SV.Grupo
																						FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '' ) AS Campo)) -1)
			+ ') THEN (B.DB_Custo + B.DB_Valor_Devolucao) ELSE 0 END)' 
			+ ' AS [' + Grupo + '], '
	FROM	Si_Volumetria SV
	WHERE	Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo
	GROUP BY Nm_Ativo_Tipo_Grupo,Grupo	
		
	
	SET @SQL_Query = 
					'SELECT	SUBSTRING(CONVERT(VARCHAR,L.Dt_Lote,112),1,6) AS Lote,
							T.Nm_Tronco Tronco,
							L.Dc_Nr_Nota_Fiscal as Conta,
							A.Nr_Ativo AS Ativo,
							ATP.Nm_Ativo_Tipo AS Tipo,
							(SELECT TOP 1 SC.Nm_Consumidor 
 FROM Rl_Perfil_Ativo_Usuario RPAU
 INNER JOIN Usuario U ON RPAU.Id_Usuario = U.Id_Usuario
 INNER JOIN Consumidor SC ON U.Id_Consumidor = SC.Id_Consumidor
 WHERE RPAU.Id_Ativo = A.Id_Ativo AND RPAU.Dt_hr_Desativacao IS NULL) AS Consumidor,
							(SELECT TOP 1 SC.Matricula 
 FROM Rl_Perfil_Ativo_Usuario RPAU
 INNER JOIN Usuario U ON RPAU.Id_Usuario = U.Id_Usuario
 INNER JOIN Consumidor SC ON U.Id_Consumidor = SC.Id_Consumidor
 WHERE RPAU.Id_Ativo = A.Id_Ativo AND RPAU.Dt_hr_Desativacao IS NULL) AS Matricula,
(SELECT TOP 1 SCC.Cd_Centro_Custo 
 FROM Rl_Perfil_Ativo_Usuario RPAU
 INNER JOIN Usuario U ON RPAU.Id_Usuario = U.Id_Usuario
 INNER JOIN Consumidor SC ON U.Id_Consumidor = SC.Id_Consumidor
 INNER JOIN Centro_Custo SCC ON SC.Id_Centro_Custo = SCC.Id_Centro_Custo
 WHERE RPAU.Id_Ativo = A.Id_Ativo AND RPAU.Dt_hr_Desativacao IS NULL) AS CDC,

							CO.Nm_Conglomerado Operadora,
							SUM(B.DB_Custo) AS Total_Sistema,  
							SUM(B.DB_Custo_Cobrado) AS Total_Cobrado, 
							SUM(B.DB_Valor_Devolucao) AS Total_Devolucao, '
						
						+ @SQL_Campo +

						' (SELECT (SUM(SB.DB_Custo) + SUM(SB.DB_Valor_Devolucao)) FROM vw_Bilhete SB WHERE SB.Id_Lote = L.Id_Lote AND NOT SB.DB_Tipo_Parametro IN (SELECT DB_Tipo_Parametro FROM Si_Volumetria)) AS Outros ' 
				
				+ 'FROM	Ativo A		INNER JOIN Ativo_Tipo ATP ON A.Id_Ativo_Tipo = ATP.Id_Ativo_Tipo
									INNER JOIN Ativo_Tipo_Grupo ATG ON ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo
									INNER JOIN Conglomerado CO ON A.Id_Conglomerado = CO.Id_Conglomerado
									INNER JOIN Lote L ON A.Id_Ativo = L.Id_Ativo
									INNER JOIN Bilhete B ON B.Id_Lote = L.Id_Lote
									LEFT JOIN Tronco T ON T.Id_Tronco = B.Id_Tronco ' +


				'WHERE	SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) >= ' + '''' + @pDt_LoteDe + '''' + 
						' AND SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) <=' + '''' + @pDt_LoteAte + '''' + 
						' AND ATG.Nm_Ativo_Tipo_Grupo = ' + '''' + CONVERT(VARCHAR(50),@pAtivo_Tipo_Grupo) + '''' + 
						' AND CO.Id_Conglomerado = ' + CONVERT(VARCHAR(10),@pId_Conglomerado) +
						 
				' GROUP BY	L.Id_Lote,
							SUBSTRING(CONVERT(VARCHAR,L.Dt_Lote,112),1,6),
							T.Nm_Tronco,
							L.Dc_Nr_Nota_Fiscal,
							A.Id_Ativo,
							A.Nr_Ativo,
							ATP.Nm_Ativo_Tipo,
							CO.Nm_Conglomerado
				ORDER BY	Lote,L.Dc_Nr_Nota_Fiscal,Ativo,Tipo  '

	EXEC(@SQL_Query)
END
GO
