USE [Papaiz]
GO
/****** Object:  StoredProcedure [dbo].[pa_Bilhete_Parametro]    Script Date: 7/31/2025 10:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Bilhete_Parametro] (	@pPakage					VARCHAR(200),
												@pId_Bilhete_Parametro		INT			= NULL,
												@pTipo_Bilhete_Parametro	CHAR(4)		= NULL,
												@pNm_Bilhete_Parametro		VARCHAR(50)	= NULL,
												@pId_Usuario_Permissao		INT			= NULL) AS

-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Bilhete_Parametro WHERE Id_Bilhete_Parametro = @pId_Bilhete_Parametro)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Bilhete_Parametro 
			SET		Tipo_Bilhete_Parametro	= @pTipo_Bilhete_Parametro,
					Nm_Bilhete_Parametro	= @pNm_Bilhete_Parametro
			WHERE	Id_Bilhete_Parametro = @pId_Bilhete_Parametro
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Bilhete_Parametro 
			VALUES(	@pTipo_Bilhete_Parametro,
					@pNm_Bilhete_Parametro,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Bilhete_Parametro 
		SET		Fl_Desativado = 1 
		WHERE	Id_Bilhete_Parametro = @pId_Bilhete_Parametro
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Bilhete_Parametro,'') AS Id_Bilhete_Parametro,
			ISNULL(Tipo_Bilhete_Parametro,'') AS Tipo_Bilhete_Parametro,
			ISNULL(Nm_Bilhete_Parametro,'') AS Nm_Bilhete_Parametro	
	FROM	vw_Bilhete_Parametro
	WHERE	Id_Bilhete_Parametro = @pId_Bilhete_Parametro
END
GO
