USE [Papaiz]
GO
/****** Object:  StoredProcedure [dbo].[pa_Alerta]    Script Date: 7/31/2025 10:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_Alerta] (	@pPakage		AS VARCHAR(200),
									@pFiltro_1		AS VARCHAR(50)) AS

------alerta de falta de termo de uso
IF @pPakage = 'sp_Termo'
BEGIN
	SELECT	CASE WHEN Dt_Ativacao IS NULL THEN 1 ELSE 2 END AS Flag_Alerta 
	FROM	vw_Ativo
	WHERE	Nr_Ativo = @pFiltro_1
END

------alertas programados
IF @pPakage = 'sp_Alerta_Programado'
BEGIN
	SELECT	Texto_Adicional AS Observacao,
			CONVERT(VARCHAR(10), Dt_Programacao, 103) AS Data_Alerta,E_Mail_Destino
	FROM	Mail_Caixa_Saida 
	WHERE	Id_Mail_Sender = 5
			AND Dt_Saida IS NULL
			AND Fl_Enviado = 0
			AND E_Mail_Destino = (SELECT EMail FROM Consumidor WHERE Id_Consumidor IN (SELECT Id_Consumidor FROM Usuario WHERE Id_Usuario = @pFiltro_1))
END
GO
