USE [Papaiz]
GO
/****** Object:  StoredProcedure [dbo].[pa_Estoque_Consumidor]    Script Date: 7/31/2025 10:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Estoque_Consumidor] (	@pPakage					VARCHAR(200),
													@pId_Consumidor			VARCHAR(MAX)= NULL,
													@pId_Usuario_Permissao	INT			= NULL) AS

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(C.Id_Consumidor,'') AS Id_Consumidor,
			ISNULL(C.Nm_Consumidor,'') AS Nm_Consumidor
	FROM	Estoque_Consumidor EC INNER JOIN vw_Consumidor C ON (EC.Id_Consumidor = C.Id_Consumidor)
END

-----grava registro
IF @pPAKAGE = 'sp_Grava_Registro'
BEGIN
	-----declare variavel
	DECLARE @Array VARCHAR(MAX)
	DECLARE @S VARCHAR(10)
	DECLARE @vSQL VARCHAR(8000)

	-----limpa tebela
	DELETE FROM Estoque_Consumidor

	SELECT @Array = @pId_Consumidor
	IF LEN(@Array) > 0 SET @Array = @Array + ',' 
	WHILE LEN(@Array) > 0
	BEGIN		
		SELECT @S = LTRIM(SUBSTRING(@Array, 1, CHARINDEX(',', @Array) - 1))
		SET @vSQL = 'INSERT INTO Estoque_Consumidor(Id_Consumidor) VALUES (' + @S + ')'
		EXEC (@vSQL)

		SELECT @Array = SUBSTRING(@Array, CHARINDEX(',', @Array) + 1, LEN(@Array))
	END
END
GO
