USE [Papaiz]
GO
/****** Object:  StoredProcedure [dbo].[pa_Bilhete_Manual]    Script Date: 7/31/2025 10:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Bilhete_Manual] (	@pPakage				VARCHAR(200),
											@pNr_Ativo				VARCHAR(50)		= NULL,
											@pValor					NUMERIC(13,2)	= NULL,					
											@pDataLote				VARCHAR(6)		= NULL,
											@pData					DATETIME		= NULL,
											@pNotaFiscal			VARCHAR(50)		= NULL,
											@pIdTipoBilhete			INT				= NULL,
											@pIdBilhete				INT				= NULL,
											@pId_Usuario_Permissao	INT				= NULL) AS
-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(BT.Id_Bilhete_Tipo,'') AS Id_Bilhete_Tipo,
			ISNULL(BT.Nm_Bilhete_Tipo,'') AS Nm_Bilhete_Tipo
	FROM	Bilhete_Tipo BT INNER JOIN Bilhete_Manual_Tipo BM ON BT.Id_Bilhete_Tipo = BM.Id_Bilhete_Tipo
END

-----atualiza registro
IF @pPAKAGE = 'sp_Lista_Bilhete'
BEGIN
	SELECT	A.Nr_Ativo,
			CAST(B.DB_Custo AS DECIMAL(10,2)) AS DB_Custo,
			SUBSTRING(CONVERT(VARCHAR(10), L.DT_LOTE,103), 7,4) + '/' +  SUBSTRING(CONVERT(VARCHAR(10), L.DT_LOTE,103), 4,2) AS Dt_Lote,
			CONVERT(VARCHAR(10), B.DB_Data_Hora,103) AS Data,
			B.DC_Nr_Nota_Fiscal,
			B.Id_Bilhete_Tipo,
			B.Id_Bilhete
	FROM	Bilhete B	INNER JOIN Ativo A ON A.Id_Ativo = B.Id_Ativo
						INNER JOIN Lote L ON L.Id_Lote = B.Id_Lote
	WHERE	Id_Bilhete = @pIdBilhete
END

-----atualiza registro
IF @pPAKAGE = 'sp_SM_Alteracao'
BEGIN
	IF NOT @pIdBilhete IS NULL
	BEGIN
		-----bilhete
		UPDATE	Bilhete
		SET		DB_Custo = @pValor,
				DB_Custo_Cobrado = @pValor,
				Id_Bilhete_Tipo = @pIdTipoBilhete,
				DC_Nr_Nota_Fiscal = @pNotaFiscal
		WHERE	Id_Bilhete = @pIdBilhete

		-----lote
		UPDATE	Lote
		SET		DC_Nr_Nota_Fiscal = @pNotaFiscal
		WHERE	Id_Lote IN (SELECT TOP 1 Id_Lote FROM Bilhete WHERE Id_Bilhete = @pIdBilhete)
	END
END

-----insere registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
	BEGIN
		DECLARE @v_Validacao VARCHAR(100) 
		SET	@v_Validacao = 'Validacao OK'

		-----valida se numero do ativo esta cadastrado
		IF (SELECT COUNT(*) AS Valida FROM vw_ATivo WHERE Nr_Ativo = @pNr_Ativo) = 0
		BEGIN
			SET @v_Validacao = 'Ativo Invalido'
		END

		-----valida se tipo de bilhete esta cadastrado
		IF (SELECT COUNT(*) AS Valida FROM Bilhete_Tipo WHERE Id_Bilhete_Tipo = @pIdTipoBilhete) = 0
		BEGIN
			SET @v_Validacao = 'Tipo do Bilhete Invalido'
		END 

		-----valida data 
		IF CONVERT(DATETIME,CONVERT(VARCHAR,@pData, 110)) > GETDATE()
		BEGIN
			SET @v_Validacao = 'Data do bilhete deve ser menor que a data de hoje'
		END

		-----valida se conglomerado do ativo e igual ao conglomerado do tipo do bilhete
		IF NOT EXISTS(	SELECT * FROM vw_ATivo 
						WHERE	Nr_Ativo = @pNr_Ativo
								AND Id_Conglomerado IN (SELECT Id_Conglomerado FROM Bilhete_Tipo WHERE Id_Bilhete_Tipo = @pIdTipoBilhete))
		BEGIN
			SET @v_Validacao = 'Conglomerado nao bate com o ativo ou a linha esta desativada'
		END
		
		IF @v_Validacao = 'Validacao OK' 
		BEGIN
			DECLARE @vIdLote AS FLOAT
			DECLARE @vIdAtivo AS INT
			DECLARE @vIdBilhete AS FLOAT

			SELECT @vIdLote = ISNULL(MAX(Id_Lote),0) + 1 FROM Lote
			SELECT @vIdAtivo = Id_Ativo FROM vw_ATivo WHERE Nr_Ativo = @pNr_Ativo
			SELECT @vIdBilhete = ISNULL(MAX(Id_Bilhete),0) + 1 FROM Bilhete

			-----insere lote (verifica se ja existe lote para o ativo)
			IF EXISTS(SELECT * FROM LOTE WHERE Id_Ativo = @vIdAtivo
											AND Dt_Lote = CONVERT(DATETIME, @pDataLote + '01' )
											AND DC_Nr_Nota_Fiscal = @pNotaFiscal)
			BEGIN
				SELECT	TOP 1 @vIdLote  = Id_Lote
				FROM	LOTE 
				WHERE	Id_Ativo = @vIdAtivo
						AND Dt_Lote = CONVERT(DATETIME, @pDataLote + '01' )
						AND DC_Nr_Nota_Fiscal = @pNotaFiscal
			END
			ELSE
			BEGIN
				INSERT INTO Lote 
				VALUES(	@vIdLote,
						@vIdAtivo,
						CONVERT(DATETIME, @pDataLote + '01' ),
						GETDATE(),
						0,
						0,
						0,
						0,
						0,
						0,
						0,
						0,
						@pNotaFiscal)

				-----insere lote log
				INSERT INTO Lote_Log_Criacao
				SELECT	(SELECT ISNULL(MAX(Id_Lote_Log_Criacao),0) FROM Lote_Log_Criacao) + ROW_NUMBER() OVER(ORDER BY RAC.Id_Consumidor ASC),
						@vIdLote,
						RAC.Id_Consumidor,
						CO.Id_Filial,
						CO.Id_Centro_Custo,
						CO.Id_Departamento,
						CO.Id_Setor,
						CO.Id_Secao
				FROM	dbo.Rl_Consumidor_Ativo RAC INNER JOIN vw_Consumidor CO ON RAC.Id_Consumidor = CO.Id_Consumidor
				WHERE	Id_Ativo IN (SELECT Id_Ativo FROM vw_ATivo WHERE Nr_Ativo = @pNr_Ativo)
			END
			
			-----insere bilhete
			INSERT INTO Bilhete
			VALUES (@vIdBilhete,
					@vIdAtivo,
					CONVERT(DATETIME,CONVERT(VARCHAR,@pData, 110)),
					'9999999999',
					'1',
					@pValor,
					@pIdTipoBilhete,
					@vIdLote,
					NULL,
					@pValor,
					NULL,
					@pNotaFiscal,
					NULL,
					'MAN',
					0)

			-----carrega tabela para agrupar e filtrar data do bilhete
			INSERT INTO Bilhete_Data
			SELECT	L.Id_Lote,
					MIN(B.DB_Data_Hora) AS Menor,
					MAX(B.DB_Data_Hora) AS Maior
			FROM	Bilhete B INNER JOIN Lote L ON B.Id_Lote = L.Id_Lote
			WHERE	 B.DB_Custo > 0
					and not exists(select * from Bilhete_Data where Id_Lote = l.Id_Lote)
			GROUP BY L.Id_Lote

			-----passa status da carga
			SELECT @v_Validacao AS Status_Carga
		END
		ELSE
		BEGIN
			-----passa status da carga
			SELECT @v_Validacao AS Status_Carga	
		END
	END 
END

-----atualiza registro
IF @pPAKAGE = 'sp_Deletar_Bilhete'
BEGIN
	-----captura id_lote
	DECLARE @vId_Lote AS INT
	SELECT @vId_Lote = Id_Lote FROM Bilhete WHERE Id_Bilhete = @pIdBilhete
	-----limpa bilhete
	DELETE FROM	Bilhete WHERE Id_Bilhete = @pIdBilhete
	IF EXISTS(SELECT * FROM Bilhete WHERE Id_Bilhete = @pIdBilhete)
	BEGIN
		DELETE FROM Lote_Log_Criacao WHERE Id_Lote = @vId_Lote
		DELETE FROM Bilhete_Data WHERE Id_Lote = @vId_Lote
		DELETE FROM Lote WHERE Id_Lote = @vId_Lote
	END
END
GO
