USE [Papaiz]
GO
/****** Object:  StoredProcedure [dbo].[pa_Lixeira]    Script Date: 7/31/2025 10:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Lixeira] (	@pPakage	VARCHAR(200),
										@pId					INT	= NULL,
										@pId_Usuario_Permissao	INT = NULL) AS
IF @pPAKAGE = 'Ativo'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Ativo 
		SET		Fl_Desativado	= 0,
				Observacao	= '* Ativação - Usuário - ' + (SELECT Nm_Usuario FROM Usuario WHERE Id_Usuario = @pId_Usuario_Permissao) + ' | Data Alteração - ' + CONVERT(VARCHAR,GETDATE(),103) + '* ' + Observacao 
		WHERE	Id_Ativo = @pId
	END
END

IF @pPAKAGE = 'Consumidor'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Consumidor SET Fl_Desativado = 2 WHERE Id_Consumidor = @pId
		UPDATE Usuario SET Fl_Desativado = 2 
		WHERE Id_Usuario IN (SELECT Id_Usuario FROM Usuario Where Id_Consumidor = @pId)
	END
END

IF @pPAKAGE = 'Tronco'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Tronco SET Fl_Desativado = 0 WHERE Id_Tronco = @pId
	END
END

IF @pPAKAGE = 'Tronco_Grupo'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Tronco_Grupo SET Fl_Desativado = 0 WHERE	Id_Tronco_Grupo = @pId
	END
END

IF @pPAKAGE = 'Consumidor_Tipo'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Consumidor_Tipo SET Fl_Desativado = 0 WHERE	Id_Consumidor_Tipo = @pId
	END
END

IF @pPAKAGE = 'Consumidor_Status'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Consumidor_Status SET Fl_Desativado = 0 WHERE	Id_Consumidor_Status = @pId
	END
END

IF @pPAKAGE = 'Ativo_Status'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Ativo_Status SET Fl_Desativado = 0 WHERE Id_Ativo_Status = @pId
	END
END

IF @pPAKAGE = 'Contrato_Status'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Contrato_Status SET Fl_Desativado = 0 WHERE Id_Contrato_Status = @pId
	END
END

IF @pPAKAGE = 'Contrato_Aditivo'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Contrato_Aditivo SET Fl_Desativado = 0 WHERE Id_Contrato_Aditivo = @pId
	END
END

IF @pPAKAGE = 'Contrato_SLA_Operacao'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Contrato_SLA_Operacao SET Fl_Desativado = 0 WHERE Id_Contrato_SLA_Operacao = @pId
	END
END

IF @pPAKAGE = 'Contrato_SLA_Servico'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Contrato_SLA_Servico SET Fl_Desativado = 0 WHERE Id_Contrato_SLA_Servico = @pId
	END
END

IF @pPAKAGE = 'Cargo'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Cargo SET Fl_Desativado = 0 WHERE Id_Cargo = @pId
	END
END

IF @pPAKAGE = 'Ativo_Fabricante'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Ativo_Fabricante SET Fl_Desativado = 0 WHERE Id_Ativo_Fabricante = @pId
	END
END

IF @pPAKAGE = 'Ativo_Modelo'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Ativo_Modelo SET Fl_Desativado = 0 WHERE Id_Ativo_Fabricante = @pId
	END
END

IF @pPAKAGE = 'Ativo_Tipo'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Ativo_Tipo SET Fl_Desativado = 0 WHERE Id_Ativo_Tipo = @pId
	END
END

IF @pPAKAGE = 'Holding'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Holding SET Fl_Desativado = 0 WHERE Id_Holding = @pId
	END
END

IF @pPAKAGE = 'Conglomerado'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Conglomerado SET Fl_Desativado = 0 WHERE Id_Conglomerado = @pId
	END
END

IF @pPAKAGE = 'Empresa_Contratada'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Empresa_Contratada SET Fl_Desativado = 0 WHERE Id_Empresa_Contratada = @pId
	END
END

IF @pPAKAGE = 'Empresa'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Empresa SET Fl_Desativado = 0 WHERE Id_Empresa = @pId
	END
END

IF @pPAKAGE = 'Filial'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Filial SET Fl_Desativado = 0 WHERE Id_Filial = @pId
	END
END

IF @pPAKAGE = 'Bilhete_Tipo'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Bilhete_Tipo SET Fl_Desativado = 0 WHERE Id_Bilhete_Tipo = @pId
	END
END

IF @pPAKAGE = 'Centro_Custo'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Centro_Custo SET Fl_Desativado = 0 WHERE Id_Centro_Custo = @pId
	END
END

IF @pPAKAGE = 'Departamento'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Departamento SET Fl_Desativado = 0 WHERE Id_Departamento = @pId
	END
END

IF @pPAKAGE = 'Setor'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Setor SET Fl_Desativado = 0 WHERE Id_Setor = @pId
	END
END

IF @pPAKAGE = 'Secao'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Secao SET Fl_Desativado = 0 WHERE Id_Secao = @pId
	END
END

IF @pPAKAGE = 'Ativo_Fr_Aquisicao'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Ativo_Fr_Aquisicao SET Fl_Desativado = 0 WHERE Id_Ativo_Fr_Aquisicao = @pId
	END
END

IF @pPAKAGE = 'Contrato'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Contrato SET Fl_Desativado = 0 WHERE Id_Contrato = @pId
	END
END

IF @pPAKAGE = 'Servico'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Servico SET Fl_Desativado = 0 WHERE Id_Servico = @pId
	END
END
GO
