USE [Papaiz]
GO
/****** Object:  StoredProcedure [dbo].[pa_Usuario]    Script Date: 7/31/2025 10:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_Usuario] (@pPakage					VARCHAR(200),
									@pId_Usuario				INT			OUT,
									@pNm_Usuario				VARCHAR(50)	= NULL, 
									@pSenha						VARCHAR(50)	= NULL,
									@pId_Consumidor				INT			= NULL,
									@pId_Idioma					INT			= NULL,
									@pId_Usuario_Grupo			INT			= NULL,
									@pId_Usuario_Perfil			INT			= NULL,
									@pId_Usuario_Perfil_Acesso	INT			= NULL,
									@pIncluir					INT			= NULL,
									@pAlterar					INT			= NULL,
									@pExcluir					INT			= NULL,
									@pDetalhamento_Conta		INT			= NULL,
									@pDetalhamento_Contato		INT			= NULL,
									@pFl_Desativado				INT			= NULL,
									@pId_Usuario_Permissao		INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN	
	IF EXISTS (SELECT * FROM Usuario WHERE Id_Usuario = @pId_Usuario)
	BEGIN
			-----limpa perfil de acesso anterior do usuario
			IF NOT EXISTS(SELECT * FROM Usuario WHERE Id_Usuario = @pId_Usuario AND Id_Usuario_Perfil_Acesso = @pId_Usuario_Perfil_Acesso)
			BEGIN
				DELETE FROM Rl_Perfil_Centro_Custo_Usuario WHERE Id_Usuario = @pId_Usuario
				DELETE FROM Rl_Perfil_Departamento_Usuario WHERE Id_Usuario = @pId_Usuario
				DELETE FROM Rl_Perfil_Conglomerado_Usuario WHERE Id_Usuario = @pId_Usuario
				DELETE FROM Rl_Perfil_Secao_Usuario WHERE Id_Usuario = @pId_Usuario
				DELETE FROM Rl_Perfil_Setor_Usuario WHERE Id_Usuario = @pId_Usuario
			END

			UPDATE	Usuario 
			SET		Nm_Usuario					= @pNm_Usuario, 
					--Senha						= @pSenha,
					Id_Consumidor				= @pId_Consumidor,
					Id_Idioma					= @pId_Idioma,
					Id_Usuario_Grupo			= @pId_Usuario_Grupo,
					Id_Usuario_Perfil			= @pId_Usuario_Perfil,
					Id_Usuario_Perfil_Acesso	= @pId_Usuario_Perfil_Acesso,
					Incluir						= @pIncluir,
					Alterar						= @pAlterar,
					Excluir						= @pExcluir,
					Detalhamento_Conta			= @pDetalhamento_Conta,
					Detalhamento_Contato		= @pDetalhamento_Contato,
					Fl_Desativado				= @pFl_Desativado
			WHERE	Id_Usuario = @pId_Usuario
	END
	ELSE
	BEGIN
		IF NOT EXISTS(SELECT * FROM Ativvus_Login..Usuario_Global WHERE Nm_Usuario = @pNm_Usuario AND SENHA = (SELECT TOP 1 Nm_Holding FROM Holding ))
		BEGIN			
				INSERT INTO Usuario  
				VALUES(	@pNm_Usuario,
						(SELECT TOP 1 Nm_Holding FROM Holding ),
						@pId_Consumidor,
						@pId_Idioma,
						@pId_Usuario_Grupo,
						@pId_Usuario_Perfil,
						@pId_Usuario_Perfil_Acesso,
						@pIncluir,
						@pAlterar,
						@pExcluir,
						@pDetalhamento_Conta,
						@pDetalhamento_Contato,
						@pFl_Desativado)
				-----retorna id 
				SELECT @pId_Usuario = MAX(Id_Usuario) FROM Usuario
				SELECT @pId_Usuario = 0
		END
		ELSE
		BEGIN
			SELECT @pId_Usuario = 999
		END
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(USU.Id_Usuario,'')				AS Id_Usuario,
			ISNULL(USU.Nm_Usuario,'')				AS Nm_Usuario,
			ISNULL(USU.Senha,'')					AS Senha,
			ISNULL(USU.Id_Consumidor,'')			AS Id_Consumidor,
			ISNULL(CON.Nm_Consumidor,'')			AS Nm_Consumidor,
			ISNULL(USU.Id_Idioma,'')				AS Id_Idioma,
			ISNULL(USU.Id_Usuario_Grupo,'')			AS Id_Usuario_Grupo,
			ISNULL(USU.Id_Usuario_Perfil,'')		AS Id_Usuario_Perfil,
			ISNULL(USU.Id_Usuario_Perfil_Acesso,'')	AS Id_Usuario_Perfil_Acesso,
			ISNULL(USU.Incluir,'')					AS Incluir,
			ISNULL(USU.Alterar,'')					AS Alterar,
			ISNULL(USU.Excluir,'')					AS Excluir,
			ISNULL(USU.Detalhamento_Conta,'')		AS Detalhamento_Conta,
			ISNULL(USU.Detalhamento_Contato,'')		AS Detalhamento_Contato,
			ISNULL(USU.Fl_Desativado,'')			AS Fl_Desativado
	FROM	Usuario USU INNER JOIN vw_Consumidor CON ON (USU.Id_Consumidor = CON.Id_Consumidor)
	WHERE	Id_Usuario = @pId_Usuario
END

-----usuario_perfil_acesso
IF @pPAKAGE = 'sp_SL_Usuario_Perfil_Acesso'
BEGIN
	SELECT	Id_Usuario_Perfil_Acesso,
			Nm_Usuario_Perfil_Acesso
	FROM	Si_Usuario_Perfil_Acesso
	WHERE	Id_Usuario_Perfil = @pId_Usuario_Perfil
	ORDER BY Nm_Usuario_Perfil_Acesso
END

-----reinicia senha adria
IF @pPAKAGE = 'sp_Reiniciar_Senha'
BEGIN
	UPDATE	Usuario
	SET		Senha = (SELECT TOP 1 Nm_Holding FROM Holding ),
			Fl_Desativado = 3
	WHERE	Id_Usuario = @pId_Usuario
END
GO
