USE [Papaiz]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_valida_alocacao]    Script Date: 7/31/2025 10:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[cn_T_valida_alocacao]

								(	@pPakage					VARCHAR(200),
									@pPakage_Filtro				VARCHAR(200)	= NULL,
									@pId_Filtro_1				VARCHAR(MAX)	= NULL,
									@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
									@pId_Filtro_Usuario			INT				= NULL,
									@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
									@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
									@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
									@pDt_LoteDe					VARCHAR(6)		= NULL,
									@pDt_LoteAte				VARCHAR(6)		= NULL,
									@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS

	


select

ca.Id_Ativo,
a.Nr_Ativo,
at.Nm_Ativo_Tipo,
co.Nm_Conglomerado,
c.Nm_Consumidor,
c.Matricula,
PAU.Dt_Hr_Ativacao,
PAU.Dt_Hr_Desativacao,
A.Id_Ativo_Status,
a.Fl_Desativado


into #TBTMP


from Rl_Consumidor_Ativo as CA

full outer join Rl_Perfil_Ativo_Usuario PAU on pau.Id_Ativo = ca.Id_Ativo
inner join Consumidor C on c.Id_Consumidor = ca.Id_Consumidor
inner join ativo  A on A.Id_Ativo = ca.Id_Ativo
inner join Ativo_Tipo at on at.Id_Ativo_Tipo = a.Id_Ativo_Tipo
inner join Conglomerado Co on co.Id_Conglomerado = a.Id_Conglomerado


			
-----exportacao
IF @pPakage = 'sp_Mapa_Export'
BEGIN
	SELECT * FROM #TBTMP
END

-----grid
IF @pPakage = 'sp_Mapa_Mes'
BEGIN
	SELECT * FROM #TBTMP
END

-----grafrico
IF @pPakage = 'sp_Mapa_Grafico'
BEGIN
	SELECT * FROM #TBTMP
END
GO
