USE [Papaiz]
GO
/****** Object:  StoredProcedure [dbo].[pa_si_Contrato_Vencido]    Script Date: 7/31/2025 10:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  procedure  [dbo].[pa_si_Contrato_Vencido] 

AS

Begin 

INSERT into [dbo].[Mail_Caixa_Saida] 
	
SELECT 
	'11',
	'amil@icontrolit.com.br',
	NULL,
	'Contrato Vencido ' + Nr_Contrato + ' encerramento em ' + convert (varchar, Dt_Fim_Vigencia,101  ),
	GETDATE()-1,
	null,
	'0',
	'0',
	'0'
	
	from Contrato
	where Dt_Fim_Vigencia <= CONVERT (date, GETDATE()) and Id_Contrato_Status >= 3

end
GO
