USE [Papaiz]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_NEXT_STA]    Script Date: 7/31/2025 10:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_NEXT_STA] (@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS
	
	SELECT	atg.Nm_Ativo_Tipo_Grupo  AS [TORRE],
			FA.Nr_Fatura AS Conta,
			CO.Nm_Conglomerado AS OPERADORA,
			A.Nr_Ativo_Tabela AS ORIGEM,
			AT.NM_ATIVO_TIPO AS [TIPO],
			C.Nm_Consumidor AS Usuario,
			CC.Cd_Centro_Custo AS [Centro de Custo],
			CC.Nm_Centro_Custo AS [Descricao Centro de Custo],
			RI.Valor_Fatura AS [Seriços],
			CAST(RI.Valor_Rateado - RI.Valor_Fatura AS DECIMAL(10,2)) AS Encargos,
			CAST(RI.Valor_Rateado AS DECIMAL(10,2)) AS [Total],
			SUBSTRING(CONVERT(VARCHAR(6),FA.Dt_Lote,112),1,6) AS [REF.]

			INTO #Temp_Export
	FROM	Rateio_Item RI	left JOIN vw_Ativo A ON (RI.Id_Ativo = A.Id_Ativo)
							left JOIN Conglomerado CO ON (CO.Id_Conglomerado = A.Id_Conglomerado)
							left JOIN Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo)
							left JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = AT.Id_Ativo_Tipo_Grupo)
							LEFT JOIN vw_Consumidor C ON (RI.Id_Consumidor = C.Id_Consumidor)
							LEFT JOIN vw_Filial F ON (F.Id_Filial = RI.Id_Filial)
							LEFT JOIN vw_Usuario US ON C.Id_Consumidor = US.Id_Consumidor
							left JOIN vw_Centro_Custo CC ON (RI.Id_Centro_Custo = CC.Id_Centro_Custo)
							left JOIN Rl_Rateio_Fatura RF ON (RF.Id_Rateio = RI.Id_Rateio)
							left JOIN Fatura FA ON (RF.Id_Fatura = FA.Id_Fatura)
							left JOIN Rateio R ON R.Id_Rateio = RI.Id_Rateio
							left join Fatura_Plano_Conta FPC on fpc.Nr_Plano_Conta = FA.Nr_Fatura
							left join Empresa eps on eps.Id_Empresa = fpc.Id_Empresa


			WHERE	 SUBSTRING(CONVERT(VARCHAR(6),FA.Dt_Lote,112),1,6) = @pDt_LoteDe 
			AND CC.Cd_Centro_Custo = '302114631' or  CC.Cd_Centro_Custo = '301114896' or  CC.Cd_Centro_Custo = '301114966' or  CC.Cd_Centro_Custo = '301114882'or  CC.Cd_Centro_Custo = '302114711'  or  CC.Cd_Centro_Custo = '302114731'



	
	ORDER BY FA.Nr_Fatura, R.Id_Rateio   
	
-----exportacao
IF @pPakage = 'sp_Rateio_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Rateio'
BEGIN
	SELECT * FROM #Temp_Export
END
GO
