USE [Papaiz]
GO
/****** Object:  StoredProcedure [dbo].[pa_Manutencao_Lote]    Script Date: 7/31/2025 10:40:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_Manutencao_Lote] (@pPakage				VARCHAR(200),
											@pNm_Usuario			VARCHAR(50)	= NULL,
											@pDt_Lote				VARCHAR(6)	= NULL,
											@pId_Lote_Marcacao		FLOAT		= NULL,	
											@pDt_Visita				INT			= NULL,
											@pDt_Fechamento			INT			= NULL,			
											@pDt_Exportacao			INT			= NULL,
											@pId_Usuario_Permissao	INT			= NULL) AS

-----lista lote de consumidor
IF @pPAKAGE = 'sp_SL_Lote_Marcacao'
BEGIN
	-----verifica se nao existe lote marcacao e o cria 
	INSERT INTO Lote_Marcacao		
	SELECT	((SELECT ISNULL(MAX(Id_Lote_Marcacao), 1) FROM Lote_Marcacao) + ROW_NUMBER() OVER(ORDER BY L.Id_lote DESC)),
			L.Id_Lote,
			U.Id_Usuario,
			NULL,
			GETDATE(),
			NULL,
			NULL,
			0,
			1, --desconto manual
			NULL 
	FROM	vw_Alocacao_Ativo_Consumidor AC INNER JOIN Lote L ON AC.Id_Ativo = L.Id_Ativo
											INNER JOIN Usuario U ON U.Id_Consumidor = AC.Id_Consumidor 
	WHERE	SUBSTRING(CONVERT(VARCHAR,L.Dt_Lote,112),1,6) = @pDt_Lote
			AND U.Nm_Usuario = @pNm_Usuario
			AND NOT EXISTS(SELECT * FROM Lote_Marcacao WHERE Id_Usuario = U.Id_Usuario AND Id_Lote = L.Id_Lote)

	-----lista lote		
	SELECT 	LM.Id_Lote_Marcacao,
			AT.Nr_Ativo,
			CASE WHEN Dt_Visita IS NULL THEN 0 ELSE 1 END AS Dt_Visita,
			CASE WHEN Dt_Fechamento IS NULL THEN 0 ELSE 1 END AS Dt_Fechado,
			CASE WHEN Dt_Exportacao IS NULL THEN 0 ELSE 1 END AS Dt_Exportado
	FROM	Lote_Marcacao LM	INNER JOIN Lote LT			ON (LM.Id_Lote = LT.Id_Lote)
								INNER JOIN vw_Usuario US	ON (US.Id_Usuario = LM.Id_Usuario)
								INNER JOIN vw_Ativo AT		ON (AT.Id_Ativo = LT.Id_Ativo)
	WHERE	US.Nm_Usuario = @pNm_Usuario 
			AND SUBSTRING(CONVERT(VARCHAR,LT.Dt_Lote,112),1,6) = @pDt_Lote
			AND EXISTS(SELECT * FROM vw_Custo_Usuario WHERE Id_Lote = LT.Id_Lote AND Id_Usuario = US.Id_Usuario AND Total_Consumo > 0)

END 

-----muda status do lote marcacao
IF @pPAKAGE = 'sp_SM_Lote_Marcacao'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
	BEGIN
		-----atuliza flag dos bilhetes
		UPDATE	Bilhete
		SET		Id_Usuario = NULL 
		FROM	Bilhete B INNER JOIN Lote_Marcacao LM ON (B.Id_Lote = LM.Id_Lote AND B.Id_Usuario = LM.Id_Usuario)
		WHERE	LM.Id_Lote_Marcacao = @pId_Lote_Marcacao

		-----atualiza status do lote
		UPDATE	Lote_Marcacao
		SET		Dt_Fechamento = CASE WHEN @pDt_Fechamento IS NULL THEN NULL ELSE GETDATE() END,
				Dt_Visita  = CASE WHEN @pDt_Visita IS NULL THEN NULL ELSE GETDATE() END,
				Dt_Exportacao = CASE WHEN @pDt_Exportacao IS NULL THEN NULL ELSE GETDATE() END,
				Total_Marcado = 0
		WHERE	Id_Lote_Marcacao = @pId_Lote_Marcacao
	END
END

-----indica status atual do lote
IF @pPAKAGE = 'sp_Status_Atual'
BEGIN
	SELECT 	CASE WHEN Dt_Fechamento IS NULL THEN 0 ELSE 1 END AS Dt_Fechamento,
			CASE WHEN Dt_Visita IS NULL THEN 0 ELSE 1 END AS Dt_Visita,
			CASE WHEN Dt_Exportacao IS NULL THEN 0 ELSE 1 END AS Dt_Exportacao
	FROM	Lote_Marcacao LM
	WHERE	LM.Id_Lote_Marcacao = @pId_Lote_Marcacao
END
GO
