USE [Fresenius]
GO
/****** Object:  StoredProcedure [dbo].[pa_Ativo_Fabricante]    Script Date: 7/31/2025 10:34:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Ativo_Fabricante] (	@pPakage				VARCHAR(200),
												@pId_Ativo_Fabricante	INT			= NULL,
												@pNm_Ativo_Fabricante	VARCHAR(50)	= NULL,
												@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Ativo_Fabricante WHERE Id_Ativo_Fabricante = @pId_Ativo_Fabricante)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Ativo_Fabricante 
			SET		Nm_Ativo_Fabricante = @pNm_Ativo_Fabricante
			WHERE	Id_Ativo_Fabricante = @pId_Ativo_Fabricante
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Ativo_Fabricante (	Nm_Ativo_Fabricante,
											Fl_Desativado) 
			VALUES(	@pNm_Ativo_Fabricante,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Ativo_Fabricante 
		SET		Fl_Desativado = 1 
		WHERE	Id_Ativo_Fabricante = @pId_Ativo_Fabricante
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Ativo_Fabricante,'') AS Id_Ativo_Fabricante,
			ISNULL(Nm_Ativo_Fabricante,'') AS Nm_Ativo_Fabricante
	FROM	vw_Ativo_Fabricante
	WHERE	Id_Ativo_Fabricante = @pId_Ativo_Fabricante
END



GO
