USE [Fresenius]
GO
/****** Object:  StoredProcedure [dbo].[cn_Usuario_Consumidor]    Script Date: 7/31/2025 10:34:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cn_Usuario_Consumidor] (	@pPakage				VARCHAR(200))AS
-----consulta ativo (TODOS)
IF @pPAKAGE IN ('sp_Usuario_Consumidor')
BEGIN
	select *
	from Consumidor inner join 
	Usuario on 
	Usuario.Id_Consumidor =
	Consumidor.Id_Consumidor 
	order by 
	Consumidor.Id_Consumidor 
	desc
END
GO
