USE [Fresenius]
GO
/****** Object:  StoredProcedure [dbo].[pa_Secao]    Script Date: 7/31/2025 10:34:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Secao] (	@pPakage				VARCHAR(200),
									@pId_Secao				INT			OUT,
									@pCd_Secao				VARCHAR(20)	= NULL,
									@pNm_Secao				VARCHAR(50)	= NULL,
									@pId_Usuario_Permissao	INT			= MULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Secao WHERE Id_Secao = @pId_Secao)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Secao 
			SET		Cd_Secao = @pCd_Secao,
					Nm_Secao = @pNm_Secao
			WHERE	Id_Secao = @pId_Secao
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Secao (	Cd_Secao,
								Nm_Secao,
								Fl_Desativado) 
			VALUES(	@pCd_Secao,
					@pNm_Secao,
					0)
			-----retorna id 
			SELECT @pId_Secao = MAX(Id_Secao) FROM Secao
		END
		ELSE
		BEGIN
			SELECT @pId_Secao =	0
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Secao 
		SET		Fl_Desativado = 1 
		WHERE	Id_Secao = @pId_Secao
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Secao,'') AS Id_Secao,
			ISNULL(Cd_Secao,'') AS Cd_Secao,
			ISNULL(Nm_Secao,'') AS Nm_Secao
	FROM	vw_Secao
	WHERE	Id_Secao = @pId_Secao
END


GO
