USE [Fresenius]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Suspensao]    Script Date: 7/31/2025 10:34:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_Suspensao] (@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS
SELECT	(SELECT MAX(DC_Nr_Nota_Fiscal) FROM Lote WHERE Id_Ativo = AT.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = AT.Id_Ativo)) AS Conta,
			(SELECT SUBSTRING(CONVERT(VARCHAR(10), MAX(Dt_Lote),103),4,7) FROM Lote WHERE Id_Ativo = AT.Id_Ativo) AS [Ultima_Conta],
			AT.Nr_Ativo				AS Ativo,
			(SELECT COUNT(*) FROM Rl_Consumidor_Ativo WHERE Id_Ativo = AT.Id_Ativo) AS Compartilhado,
			AC.C1					AS ID,
			AST.Nm_Ativo_Status		AS [Status_Ativo],
			CO.Nm_Conglomerado		AS Conglomerado,
			ATP.Nm_Ativo_Tipo		AS Tipo,
			C.Nm_Consumidor			AS Consumidor,
			C.Matricula				AS Matricula,
			Localidade				AS [Data_Suspensao]
			INTO #Temp_Export
	FROM	Ativo AT	INNER JOIN vw_Conglomerado CO ON AT.Id_Conglomerado = CO.Id_Conglomerado
						INNER JOIN vw_Ativo_Tipo ATP ON ATP.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
						INNER JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo)
						LEFT JOIN Ativo_Status AST ON (AT.Id_Ativo_Status = AST.Id_Ativo_Status)
						LEFT JOIN vw_Ativo_Complemento AC ON (AC.Id_Ativo = AT.Id_Ativo)
						LEFT JOIN Rl_Consumidor_Ativo CA ON AT.Id_Ativo = CA.Id_Ativo
						LEFT JOIN vw_Consumidor C ON C.Id_Consumidor = CA.Id_Consumidor
						LEFT JOIN vw_Usuario US ON US.Id_Consumidor = C.Id_Consumidor
						LEFT JOIN Rl_Perfil_Ativo_Usuario RPU ON RPU.Id_Usuario = US.Id_Usuario AND RPU.Id_Ativo = AT.Id_Ativo
	WHERE	(ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)
			AND (CONVERT(DATETIME, SUBSTRING(Localidade,7,4)+'/'+SUBSTRING(Localidade,4,2)+'/'+SUBSTRING(Localidade,1,2)) < GETDATE()
				OR AT.Fl_Desativado = 1)
	ORDER BY Conglomerado, Ativo

-----exportacao
IF @pPakage = 'sp_Suspensao_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Suspensao'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grafrico
IF @pPakage = 'sp_Suspensao_Grafico'
BEGIN
	SELECT	Conglomerado	AS X,
			COUNT(*)		AS Y 
	FROM	#Temp_Export
	GROUP BY Conglomerado 
END
GO
