USE [Fresenius]
GO
/****** Object:  StoredProcedure [dbo].[pa_Empresa]    Script Date: 7/31/2025 10:34:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Empresa] (	@pPakage				VARCHAR(200),
										@pId_Empresa			INT			= NULL,
										@pNm_Empresa			VARCHAR(50)	= NULL,
										@pId_Holding			INT			= NULL,
										@pCNPJ					VARCHAR(50)	= NULL,
										@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Empresa WHERE Id_Empresa = @pId_Empresa)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Empresa 
			SET		Nm_Empresa	= @pNm_Empresa,
					Id_Holding	= @pId_Holding,
					CNPJ		= @pCNPJ
			WHERE	Id_Empresa = @pId_Empresa
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Empresa (	Nm_Empresa,
									Id_Holding,
									CNPJ,
									Fl_Desativado) 
			VALUES(	@pNm_Empresa,
					@pId_Holding,
					@pCNPJ,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Empresa 
		SET Fl_Desativado = 1 
		WHERE Id_Empresa = @pId_Empresa
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Empresa,'')	AS Id_Empresa,
			ISNULL(Nm_Empresa,'')	AS Nm_Empresa,
			ISNULL(Id_Holding,'')	AS Id_Holding,
			ISNULL(CNPJ,'')			AS CNPJ
	FROM	vw_Empresa
	WHERE	Id_Empresa = @pId_Empresa
END

GO
