USE [Souza_Lima]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Split_String]    Script Date: 7/31/2025 10:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[fn_Split_String] (	@String		NVARCHAR(MAX), 
											@Delimiter	CHAR(1))  RETURNS @OUTPUT TABLE(Indice INT, Valor NVARCHAR(MAX))
BEGIN 
    DECLARE @Start INT, @End INT, @Contador INT
    SELECT @Start = 1, @Contador = 0,  @End = CHARINDEX(@Delimiter, @String)
	 
    WHILE @Start < LEN(@String) + 1 BEGIN 
        IF @End = 0  
        SET @End = LEN(@String) + 1
       
        INSERT INTO @OUTPUT (Indice, Valor)  
        VALUES(@Contador, SUBSTRING(@String, @Start, @End - @Start)) 
        SET @Start = @End + 1 
        SET @End = CHARINDEX(@Delimiter, @String, @Start)

		SET @Contador = @Contador + 1
    END 
    RETURN 
END
GO
