USE [Souza_Lima]
GO
/****** Object:  UserDefinedFunction [dbo].[fu_Dados_Tendencia_Apontamento]    Script Date: 7/31/2025 10:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fu_Dados_Tendencia_Apontamento] (	@pId_Usuario		INT			= NULL,
														@pMesDE				VARCHAR(10)	= NULL,
														@pMesATE			VARCHAR(10)	= NULL,
														@pGrupoTipoAtivo	VARCHAR(50)	= NULL)

RETURNS @Dados TABLE (	Id_Usuario			INT,
						Id_Consumidor		INT,
						Nm_Consumidor		VARCHAR(50),
						Nr_Ativo			VARCHAR(50),
						Id_Lote				INT,
						Dt_Lote				DATETIME,
						Dt_Visita			DATETIME,
						Dt_Fechamento		DATETIME,
						Dt_Exportacao		DATETIME,
						Total_Marcado		FLOAT,
						Data_Ativacao		VARCHAR(20),
						Data_Desativacao	VARCHAR(20),
						Id_Filial			INT,
						Nm_Filial			VARCHAR(50),
						Id_Centro_Custo		INT,
						Cd_Centro_Custo		VARCHAR(50),
						Id_Departamento		INT,
						Nm_Departamento		VARCHAR(50),
						Id_Setor			INT,
						Nm_Setor			VARCHAR(50),
						Id_Secao			INT,
						Nm_Secao			VARCHAR(50)) AS
BEGIN

	INSERT INTO @Dados
	SELECT	LM.Id_Usuario,
			CO.Id_Consumidor,
			CO.Nm_Consumidor,
			AT.Nr_Ativo,
			LT.Id_Lote,
			LT.Dt_Lote,
			Dt_Visita,
			Dt_Fechamento,
			Dt_Exportacao,
			Total_Marcado,
			CONVERT(VARCHAR, RAU.Dt_Hr_Ativacao, 120) AS Data_Ativacao,
			CONVERT(VARCHAR, RAU.Dt_Hr_Desativacao, 120) AS Data_Desativacao,
			------------------------
			CO.Id_Filial,
			REPLACE(FI.Nm_Filial,'&','') AS Nm_Filial,
			CO.Id_Centro_Custo,
			REPLACE(CC.Cd_Centro_Custo,'&','') Cd_Centro_Custo,
			------------------------
			(SELECT	TOP 1 SRCP.Id_Departamento
			FROM	Rl_Hi_Centro_Custo_Departamento SRCP
			WHERE	SRCP.Id_Centro_Custo = CO.Id_Centro_Custo) AS Id_Departamento,
			(SELECT	TOP 1 REPLACE(Nm_Departamento,'&','') 
			FROM	Rl_Hi_Centro_Custo_Departamento SRCP INNER JOIN Departamento SDP ON SDP.Id_Departamento = SRCP.Id_Departamento
			WHERE	SRCP.Id_Centro_Custo = CO.Id_Centro_Custo) AS Nm_Departamento,
			---------------------------
			(SELECT	TOP 1 SRDS.Id_Setor
			FROM	Rl_Hi_Centro_Custo_Departamento SRCP INNER JOIN Rl_Hi_Departamento_Setor SRDS ON SRDS.Id_Departamento = SRCP.Id_Departamento
			WHERE	SRCP.Id_Centro_Custo = CO.Id_Centro_Custo) AS Id_Setor,
			(SELECT	TOP 1 REPLACE(SST.Nm_Setor,'&','') 
			FROM	Rl_Hi_Centro_Custo_Departamento SRCP	INNER JOIN Rl_Hi_Departamento_Setor SRDS ON SRDS.Id_Departamento = SRCP.Id_Departamento
															INNER JOIN Setor SST ON SST.Id_Setor = SRDS.Id_Setor
			WHERE	SRCP.Id_Centro_Custo = CO.Id_Centro_Custo) AS Nm_Setor,
			-------------------------
			(SELECT	TOP 1 SRSS.Id_Secao
			FROM	Rl_Hi_Setor_Secao SRSS
			WHERE	SRSS.Id_Setor IN(	SELECT	SRDS.Id_Setor
										FROM	Rl_Hi_Centro_Custo_Departamento SRCP INNER JOIN Rl_Hi_Departamento_Setor SRDS ON SRDS.Id_Departamento = SRCP.Id_Departamento 
										WHERE	Id_Centro_Custo IN (CO.Id_Centro_Custo))) AS Id_Secao,
			(SELECT	TOP 1 REPLACE(SSC.Nm_Secao,'&','')
			FROM	Rl_Hi_Setor_Secao SRSS INNER JOIN Secao SSC ON SSC.Id_Secao = SRSS.Id_Secao
			WHERE	SRSS.Id_Setor IN (	SELECT	SRDS.Id_Setor
										FROM	Rl_Hi_Centro_Custo_Departamento SRCP INNER JOIN Rl_Hi_Departamento_Setor SRDS ON SRDS.Id_Departamento = SRCP.Id_Departamento 
										WHERE	Id_Centro_Custo IN (CO.Id_Centro_Custo))) AS Nm_Secao	
	FROM	vw_Alocacao_Ativo_Consumidor AAC	INNER JOIN vw_Filial FI ON FI.Id_Filial = AAC.Id_Filial
												INNER JOIN vw_Centro_Custo CC ON CC.Id_Centro_Custo = AAC.Id_Centro_Custo
												INNER JOIN Lote LT ON LT.Id_Ativo  = AAC.Id_Ativo
												INNER JOIN vw_Ativo AT ON AT.Id_Ativo = LT.Id_Ativo
												INNER JOIN vw_Ativo_Tipo ATP ON ATP.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
												INNER JOIN vw_Conglomerado CG ON CG.Id_Conglomerado = AT.Id_Conglomerado
												INNER JOIN Ativo_Tipo_Grupo ATG ON ATP.Id_Ativo_Tipo_Grupo = ATG.Id_Ativo_Tipo_Grupo
												INNER JOIN vw_Consumidor CO ON CO.Id_Consumidor = AAC.Id_Consumidor
													
												LEFT JOIN Usuario US ON US.Id_Consumidor = CO.Id_Consumidor
												LEFT JOIN Rl_Perfil_Ativo_Usuario RAU ON (RAU.Id_Usuario = US.Id_Usuario AND RAU.Id_Ativo = AT.Id_Ativo)
												LEFT JOIN Politica_Consumidor PC ON (PC.Id_Consumidor = CO.Id_Consumidor AND PC.Id_Ativo_Tipo = ATP.Id_Ativo_Tipo)
																										
												LEFT JOIN Departamento DP ON DP.Id_Departamento = AAC.Id_Departamento
												LEFT JOIN Setor ST ON ST.Id_Setor = AAC.Id_Setor
												LEFT JOIN Secao SC ON SC.Id_Secao = AAC.Id_Secao
												LEFT JOIN Lote_Marcacao LM ON (LM.Id_Usuario = US.Id_Usuario AND LM.Id_Lote = LT.Id_Lote)
		WHERE	AAC.Id_Centro_Custo IN( SELECT	Id_Centro_Custo 
										FROM	(	SELECT	DISTINCT HFC.Id_Centro_Custo --4 Filial
													FROM	Rl_Perfil_Filial_Usuario RFU	INNER JOIN Usuario US ON US.Id_Usuario = RFU.Id_Usuario 
																							INNER JOIN Rl_Hi_Filial_Centro_Custo HFC ON RFU.Id_Filial = HFC.Id_Filial 
													WHERE	RFU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 4
													UNION ALL 
													SELECT	DISTINCT RCU.Id_Centro_Custo --5 Centro de Custo
													FROM	Rl_Perfil_Centro_Custo_Usuario RCU INNER JOIN Usuario US ON US.Id_Usuario = RCU.Id_Usuario
													WHERE	RCU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 5
													UNION ALL 
													SELECT	DISTINCT HCD.Id_Centro_Custo --6 Departamento  
													FROM	Rl_Perfil_Departamento_Usuario RDU	INNER JOIN Usuario US ON US.Id_Usuario = RDU.Id_Usuario
																								INNER JOIN Rl_Hi_Centro_Custo_Departamento HCD ON RDU.Id_Departamento = HCD.Id_Departamento
													WHERE	RDU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 6
													UNION ALL 
													SELECT	DISTINCT HCD.Id_Centro_Custo --7 Setor 
													FROM	Rl_Perfil_Setor_Usuario RSU INNER JOIN Usuario US ON US.Id_Usuario = RSU.Id_Usuario
																						INNER JOIN Rl_Hi_Departamento_Setor HDS ON RSU.Id_Setor = HDS.Id_Setor
																						INNER JOIN Rl_Hi_Centro_Custo_Departamento HCD ON HCD.Id_Departamento = HDS.Id_Departamento
													WHERE	RSU.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 7
													UNION ALL 
													SELECT	DISTINCT HCD.Id_Centro_Custo --8 Secao 
													FROM	Rl_Perfil_Secao_Usuario RSS	INNER JOIN Usuario US ON US.Id_Usuario = RSS.Id_Usuario
																						INNER JOIN Rl_Hi_Setor_Secao HSS ON RSS.Id_Secao = HSS.Id_Secao
																						INNER JOIN Rl_Hi_Departamento_Setor HDS ON HSS.Id_Setor = HDS.Id_Setor
																						INNER JOIN Rl_Hi_Centro_Custo_Departamento HCD ON HCD.Id_Departamento = HDS.Id_Departamento
													WHERE	RSS.Id_Usuario = @pId_Usuario
															AND US.Id_Usuario_Perfil_Acesso = 8) AS CDC)
			AND LT.Dt_Lote >= @pMesDE AND LT.Dt_Lote <= @pMesATE
			AND ATG.Nm_Ativo_Tipo_Grupo = @pGrupoTipoAtivo
			AND SUBSTRING(CONVERT(VARCHAR,LT.Dt_Lote,112),1,6) BETWEEN SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,1,RAU.Dt_Hr_Ativacao) ,112),1,6)
			AND ISNULL(SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,1,RAU.Dt_Hr_Desativacao) ,112),1,6), (SELECT SUBSTRING(CONVERT(VARCHAR,DATEADD(MONTH,1,GETDATE()),112),1,6)))

	RETURN

END
GO
