USE [Anima_Educacao]
GO
/****** Object:  UserDefinedFunction [dbo].[Fu_Convert_Hora_Decimal]    Script Date: 7/31/2025 10:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fu_Convert_Hora_Decimal] (@pTexto AS DATETIME) 
RETURNS VARCHAR(8000)
AS
BEGIN
	DECLARE @pTexto_Retorno VARCHAR(8000)
	SET @pTexto_Retorno = CAST(CONVERT(FLOAT,@pTexto) *24 *60 AS DECIMAL(20,12))
	RETURN @pTexto_Retorno
END
GO
