USE [Kinross]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_rateio_custo]    Script Date: 7/31/2025 10:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[cn_T_rateio_custo] (	@pPakage					VARCHAR(200),
												@pPakage_Filtro				VARCHAR(200)	= NULL,
												@pId_Filtro_1				VARCHAR(MAX)	= NULL,
												@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
												@pId_Filtro_Usuario			INT				= NULL,
												@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
												@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
												@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
												@pDt_LoteDe					VARCHAR(6)		= NULL,
												@pDt_LoteAte				VARCHAR(6)		= NULL,
												@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS
DECLARE @SQL AS VARCHAR(8000)
	DECLARE @CALC_DATA AS INT 
	DECLARE @ATE AS INT
	DECLARE @Filtro_Pivot AS VARCHAR(8000)

	-----monta intervalo de data
	SET @ATE = CONVERT(INT,@pDt_LoteAte)
	SET @CALC_DATA = CONVERT(INT,@pDt_LoteDe)

	SET @Filtro_Pivot = '[' + @pDt_LoteDe + '],'

	WHILE @CALC_DATA < @ATE
	BEGIN
		
		IF SUBSTRING(CONVERT(VARCHAR,@CALC_DATA),5,2) = '12'
		SET @CALC_DATA = @CALC_DATA + 88
	
		SET @CALC_DATA = @CALC_DATA + 1
		SET @Filtro_Pivot = @Filtro_Pivot + '[' + CONVERT(VARCHAR(6), @CALC_DATA) + '],'
	END	
	SET @Filtro_Pivot = SUBSTRING(@Filtro_Pivot, 1, LEN(@Filtro_Pivot) - 1)

	-----filtra dados
 
 select 


a.Id_Ativo as ID_ATIVO
,AT.Nm_Ativo_Tipo AS Tipo
,C.Nm_Conglomerado AS Conglomerado
,l.DC_Nr_Nota_Fiscal  AS Conta
,SUBSTRING(CONVERT(VARCHAR(6),l.Dt_Lote,112),1,6) as Lote
,a.nr_ativo as Telefone
--,con.Nm_Consumidor  as Usuario
,con.Nm_Consumidor  as Usuario
,sum(l.total) as Consumo	
,sum(l.total)AS [Total Rateado]

,vac.C8 as 'PLANO'




--INTO #Temp_Export


from Lote L
inner join ativo A on a.Id_Ativo = l.Id_Ativo
inner join Conglomerado C on c.Id_Conglomerado = a.Id_Conglomerado
inner join Ativo_Tipo AT on at.Id_Ativo_Tipo = a.Id_Ativo_Tipo
left JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = AT.Id_Ativo_Tipo_Grupo)

full outer join Rl_Perfil_Ativo_Usuario as RLAU on RLAU.Id_Ativo = l.Id_Ativo 
inner join Usuario  as u on u.Id_Usuario = rlau.Id_Usuario
inner join Consumidor as CON on con.Id_Consumidor = u.Id_Consumidor
inner join Centro_Custo as CC on CC.Id_Centro_Custo = con.Id_Centro_Custo
left join  vw_Ativo_Complemento vAC on a.Id_Ativo = vac.Id_Ativo

	
	WHERE	SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) = @pDt_LoteDe
			--AND SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) <= '202210'
			and C.Nm_Conglomerado = 'claro'
			and rlau.Dt_Hr_Desativacao is null
			AND (ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)
			group by DC_Nr_Nota_Fiscal, l.Dt_Lote,  c.Nm_Conglomerado, at.Nm_Ativo_Tipo , a.Nr_Ativo , a.Id_Ativo, AT.Nm_Ativo_Tipo, C.Nm_Conglomerado,l.DC_Nr_Nota_Fiscal,con.Nm_Consumidor,vac.C8
		
	
		







-----exportacao
IF @pPakage = 'sp_Lote_Mes_Export'
BEGIN
	-----monta consulta
	SET @SQL = 	'SELECT	*	
				FROM #Temp_Export
				PIVOT (SUM(Total) FOR Lote IN (' + @Filtro_Pivot +
				')) Retorno'

	EXEC (@SQL)
END

-----grid
IF @pPakage = 'sp_Lote_Mes'
BEGIN
	-----monta consulta
	SET @SQL = 	'SELECT *
				FROM #Temp_Export
				PIVOT (SUM(Total) FOR Lote IN (' + @Filtro_Pivot +
				')) Retorno'

	EXEC (@SQL)
END

-----grafrico
IF @pPakage = 'sp_Lote_Mes_Grafico'
BEGIN
	-----monta intervalo de data
	SET @ATE = CONVERT(INT,@pDt_LoteAte)
	SET @CALC_DATA = CONVERT(INT,@pDt_LoteDe)

	SET @Filtro_Pivot = '[' + @pDt_LoteDe + '],'

	WHILE @CALC_DATA < @ATE
	BEGIN
		SET @CALC_DATA = @CALC_DATA + 1
		SET @Filtro_Pivot = @Filtro_Pivot + '[' + CONVERT(VARCHAR(6), @CALC_DATA) + '],'

		IF SUBSTRING(CONVERT(VARCHAR,@CALC_DATA),4,2) = '12'
		SET @CALC_DATA = @CALC_DATA + 88
	END	
	SET @Filtro_Pivot = SUBSTRING(@Filtro_Pivot, 1, LEN(@Filtro_Pivot) - 1)

	-----filtra dados
	SELECT	SUBSTRING(CONVERT(VARCHAR(6),LT.Dt_Lote,112),1,6) AS X,					
			CAST(SUM(LT.Total_Lote) AS DECIMAL(10,2)) AS Y --INTO #Temp_Grafico
	FROM	vw_Custo_Usuario LT INNER JOIN Ativo AT ON (AT.Id_Ativo = LT.Id_Ativo)
								INNER JOIN Ativo_Tipo ATP ON (ATP.Id_Ativo_Tipo = AT.Id_Ativo_Tipo)
								INNER JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo) 
	WHERE	SUBSTRING(CONVERT(VARCHAR(6),LT.Dt_Lote,112),1,6) >= @pDt_LoteDe 
			AND	SUBSTRING(CONVERT(VARCHAR(6),LT.Dt_Lote,112),1,6) <= @pDt_LoteAte
			AND (ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)
	GROUP BY SUBSTRING(CONVERT(VARCHAR(6),LT.Dt_Lote,112),1,6)
	ORDER BY X
END
GO
