USE [Kinross]
GO
/****** Object:  StoredProcedure [dbo].[pa_Solicitacao_Fila_Atendimento]    Script Date: 7/31/2025 10:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[pa_Solicitacao_Fila_Atendimento] (	@pPakage							VARCHAR(200),
															@pId_Solicitacao_Fila_Atendimento	INT			OUT,
															@pNm_Solicitacao_Fila_Atendimento	VARCHAR(50)	= NULL,
															@pId_Usuario_Permissao				INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Solicitacao_Fila_Atendimento WHERE Id_Solicitacao_Fila_Atendimento = @pId_Solicitacao_Fila_Atendimento)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Solicitacao_Fila_Atendimento 
			SET		Nm_Solicitacao_Fila_Atendimento	= @pNm_Solicitacao_Fila_Atendimento
			WHERE	Id_Solicitacao_Fila_Atendimento = @pId_Solicitacao_Fila_Atendimento
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Solicitacao_Fila_Atendimento (	Nm_Solicitacao_Fila_Atendimento,
														Fl_Desativado) 
			VALUES(	@pNm_Solicitacao_Fila_Atendimento,
					0)

			-----retorna id 
			SELECT @pId_Solicitacao_Fila_Atendimento = MAX(Id_Solicitacao_Fila_Atendimento) FROM Solicitacao_Fila_Atendimento
		END
		ELSE
		BEGIN
			SELECT @pId_Solicitacao_Fila_Atendimento =	0
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Solicitacao_Fila_Atendimento 
		SET		Fl_Desativado = 1 
		WHERE	Id_Solicitacao_Fila_Atendimento = @pId_Solicitacao_Fila_Atendimento
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Solicitacao_Fila_Atendimento,'') AS Id_Solicitacao_Fila_Atendimento,
			ISNULL(Nm_Solicitacao_Fila_Atendimento,'') AS Nm_Solicitacao_Fila_Atendimento
	FROM	vw_Solicitacao_Fila_Atendimento
	WHERE	Id_Solicitacao_Fila_Atendimento = @pId_Solicitacao_Fila_Atendimento
END

-----retorna relacionamento de usuario com fila de atendimento
IF @pPAKAGE = 'sd_SL_Rl_Usuario_Fila_Atendimento'
BEGIN
	SELECT	DISTINCT ISNULL(USU.Id_Usuario,'')	AS Id_Usuario,
			ISNULL(USU.Nm_Usuario,'') AS Nm_Usuario
	FROM	dbo.Rl_Solicitacao_Fila_Atendimento_Usuario RSF INNER JOIN dbo.Usuario	USU ON (USU.Id_Usuario = RSF.Id_Usuario)
	WHERE	RSF.Id_Solicitacao_Fila_Atendimento = @pId_Solicitacao_Fila_Atendimento
	ORDER BY Nm_Usuario
END

GO
