USE [Kinross]
GO
/****** Object:  StoredProcedure [dbo].[pa_Ativo_Status]    Script Date: 7/31/2025 10:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Ativo_Status] (	@pPakage				VARCHAR(200),
											@pId_Ativo_Status		INT			= NULL,
											@pNm_Ativo_Status		VARCHAR(50)	= NULL,
											@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN	
	IF EXISTS (SELECT * FROM Ativo_Status WHERE Id_Ativo_Status = @pId_Ativo_Status)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Ativo_Status 
			SET		Nm_Ativo_Status = @pNm_Ativo_Status
			WHERE	Id_Ativo_Status = @pId_Ativo_Status
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Ativo_Status (	Nm_Ativo_Status,
										Fl_Desativado) 
			VALUES(	@pNm_Ativo_Status,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Ativo_Status 
		SET		Fl_Desativado = 1 
		WHERE	Id_Ativo_Status = @pId_Ativo_Status
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Ativo_Status,'') AS Id_Ativo_Status,
			ISNULL(Nm_Ativo_Status,'') AS Nm_Ativo_Status
	FROM	vw_Ativo_Status
	WHERE	Id_Ativo_Status = @pId_Ativo_Status
END
GO
