USE [Odontoprev]
GO
/****** Object:  UserDefinedFunction [dbo].[Fu_Formata_Decimal]    Script Date: 7/31/2025 10:55:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fu_Formata_Decimal] (@pTexto VARCHAR(MAX)) 
RETURNS VARCHAR(50)
AS
BEGIN
	-----formata os campos de valor do bilhete 
	DECLARE @pTexto_Retorno AS VARCHAR(50)
	
	SET @pTexto_Retorno = REPLACE(@pTexto,'(','-')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,')','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'.','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,',','.')
		
	RETURN @pTexto_Retorno
END












GO
