USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[sp_AtualizarObservacaoAtivo]    Script Date: 7/31/2025 10:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AtualizarObservacaoAtivo]
    @Id_Ativo INT = NULL,
    @TipoSolicitacao NVARCHAR(100) = NULL,
    @RequestNumber NVARCHAR(50) = NULL,
    @WorkOrderNumber NVARCHAR(50) = NULL,
    @AdditionalInformation NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Gerar o conteúdo formatado para Observacao
    DECLARE @formattedAdditionalInformation NVARCHAR(MAX);
    SET @formattedAdditionalInformation = 
        @TipoSolicitacao + ' - Data de Alteração: ' + CONVERT(VARCHAR(10), GETDATE(), 103) + 
        ' | ' + @RequestNumber + ' / ' + @WorkOrderNumber + ' | ' + ISNULL(@AdditionalInformation, '');

    -- Atualizar Observacao na tabela Ativo para o Id_Ativo específico
    UPDATE dbo.Ativo
    SET Observacao = @formattedAdditionalInformation
    WHERE Id_Ativo = @Id_Ativo;

END;
GO
