USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[cn_Consumidor]    Script Date: 7/31/2025 10:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_Consumidor] (	@pPakage			VARCHAR(200),
										@pDescricao			VARCHAR(50)) AS

-----consulta consumidor pelo nome ou pelo centro custo
IF @pPAKAGE IN ('sp_Consumidor','sp_Matricula','sp_Cargo','sp_Usuario','sp_Filial','sp_Centro_Custo')
BEGIN
	SELECT	VWCON.Id_Consumidor	AS ID,
			VWCON.Nm_Consumidor	AS Descricao,
			dbo.Fu_Link_HTTP ('Consumidor.aspx',VWCON.Id_Consumidor,'RAIZ') AS Link,
			'Grid_Deletar.png' AS FlagDesativado,
			dbo.Fu_Link_HTTP ('Usuario.aspx',VWUSU.Id_Usuario,'RAIZ') +'&Bt_Voltar=False' AS Link_Usuario,
			VWUSU.Nm_Usuario
	FROM	vw_Consumidor VWCON LEFT JOIN Filial FI ON (FI.Id_Filial = VWCON.Id_Filial)
								LEFT JOIN Centro_Custo CC ON (CC.Id_Centro_Custo = VWCON.Id_Centro_Custo)
								LEFT JOIN Usuario VWUSU	ON (VWUSU.Id_Consumidor = VWCON.Id_Consumidor)
								LEFT JOIN Cargo CG ON (VWCON.Id_CArgo = CG.Id_Cargo)
	WHERE	(@pPAKAGE = 'sp_Consumidor' AND Nm_Consumidor LIKE '%'+@pDescricao+'%') 
			OR (@pPAKAGE = 'sp_Matricula' AND Matricula LIKE '%'+@pDescricao+'%')
			OR (@pPAKAGE = 'sp_Cargo' AND CG.Nm_Cargo LIKE '%'+@pDescricao+'%')
			OR (@pPAKAGE = 'sp_Usuario' AND Nm_Usuario LIKE '%'+@pDescricao+'%')
			OR (@pPAKAGE = 'sp_Filial' AND FI.Nm_Filial LIKE '%'+@pDescricao+'%')
			OR (@pPAKAGE = 'sp_Centro_Custo' AND CC.Cd_Centro_Custo LIKE '%'+@pDescricao+'%')
			OR @pDescricao IS NULL
	ORDER BY VWCON.Nm_Consumidor
END

-----consulta consumidor pelo nome ou pelo centro custo desativado
IF @pPAKAGE = 'sp_Lixeira'
BEGIN
	SELECT	CON.Id_Consumidor	AS ID,
			CON.Nm_Consumidor	AS Descricao,
			dbo.Fu_Link_HTTP ('Consumidor.aspx',CON.Id_Consumidor,'RAIZ') AS Link,
			'Grid_Inserir.png' AS FlagDesativado,
			dbo.Fu_Link_HTTP ('Usuario.aspx',VWUSU.Id_Usuario,'RAIZ') +'&Bt_Voltar=False' AS Link_Usuario,
			VWUSU.Nm_Usuario
	FROM	Consumidor CON	LEFT JOIN Centro_Custo CC	ON (CC.Id_Centro_Custo = CON.Id_Centro_Custo)
							LEFT JOIN Usuario VWUSU	ON (VWUSU.Id_Consumidor = CON.Id_Consumidor)
	WHERE	CON.Fl_Desativado = 1
			AND (Nm_Consumidor LIKE '%'+@pDescricao+'%' OR @pDescricao IS NULL)
	ORDER BY CON.Nm_Consumidor
END
GO
