USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[pa_Ativo_Tipo_Grupo_Tipo]    Script Date: 7/31/2025 10:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[pa_Ativo_Tipo_Grupo_Tipo] (	@pPakage				VARCHAR(200),
													@pId_Ativo_Tipo_Grupo_Tipo				INT			= NULL,
													@pNm_Ativo_Tipo_Grupo_Tipo				VARCHAR(50)	= NULL,
													@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Ativo_Tipo_Grupo_Tipo WHERE Id_Ativo_Tipo_Grupo_Tipo = @pId_Ativo_Tipo_Grupo_Tipo)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Ativo_Tipo_Grupo_Tipo 
			SET		Nm_Ativo_Tipo_Grupo_Tipo = @pNm_Ativo_Tipo_Grupo_Tipo
			WHERE	Id_Ativo_Tipo_Grupo_Tipo = @pId_Ativo_Tipo_Grupo_Tipo
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Ativo_Tipo_Grupo_Tipo (	Nm_Ativo_Tipo_Grupo_Tipo,
								Fl_Desativado) 
			VALUES(	@pNm_Ativo_Tipo_Grupo_Tipo,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Ativo_Tipo_Grupo_Tipo 
		SET		Fl_Desativado = 1 
		WHERE	Id_Ativo_Tipo_Grupo_Tipo = @pId_Ativo_Tipo_Grupo_Tipo
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Ativo_Tipo_Grupo_Tipo,'') AS Id_Ativo_Tipo_Grupo_Tipo,
			ISNULL(Nm_Ativo_Tipo_Grupo_Tipo,'') AS Nm_Ativo_Tipo_Grupo_Tipo
	FROM	vw_Ativo_Tipo_Grupo_Tipo
	WHERE	Id_Ativo_Tipo_Grupo_Tipo = @pId_Ativo_Tipo_Grupo_Tipo
END
GO
