USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[pa_Estoque_Endereco_Entrega]    Script Date: 7/31/2025 10:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Estoque_Endereco_Entrega] (	@pPakage						VARCHAR(200),
														@pId_Estoque_Endereco_Entrega	INT			= NULL,
														@pNm_Estoque_Endereco_Entrega	VARCHAR(300)= NULL,
														@pId_Usuario_Permissao			INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Estoque_Endereco_Entrega WHERE Id_Estoque_Endereco_Entrega = @pId_Estoque_Endereco_Entrega)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Estoque_Endereco_Entrega 
			SET		Nm_Estoque_Endereco_Entrega = @pNm_Estoque_Endereco_Entrega
			WHERE	Id_Estoque_Endereco_Entrega = @pId_Estoque_Endereco_Entrega
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Estoque_Endereco_Entrega (Nm_Estoque_Endereco_Entrega) 
			VALUES(@pNm_Estoque_Endereco_Entrega)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		DELETE	Estoque_Endereco_Entrega 
		WHERE	Id_Estoque_Endereco_Entrega = @pId_Estoque_Endereco_Entrega
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Estoque_Endereco_Entrega,'') AS Id_Estoque_Endereco_Entrega,
			ISNULL(Nm_Estoque_Endereco_Entrega,'') AS Nm_Estoque_Endereco_Entrega
	FROM	Estoque_Endereco_Entrega
	WHERE	Id_Estoque_Endereco_Entrega = @pId_Estoque_Endereco_Entrega
END



GO
