USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[pa_Custo_Fixo_Item]    Script Date: 7/31/2025 10:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Custo_Fixo_Item] (	@pPAKAGE				VARCHAR(200),
												@pId_Custo_Fixo_Item	INT				= NULL,
												@pId_Custo_Fixo			INT				= NULL,
												@pId_Ativo_Tipo			INT				= NULL,
												@pId_Conglomerado		INT				= NULL,
												@pValor					NUMERIC(13,2)	= NULL,
												@pId_Lote				FLOAT			= NULL,
												@pId_Usuario_Permissao	INT				= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Custo_Fixo_Item WHERE Id_Custo_Fixo_Item = @pId_Custo_Fixo_Item)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Custo_Fixo_Item 
			SET		Id_Custo_Fixo	= @pId_Custo_Fixo,
					Id_Ativo_Tipo	= @pId_Ativo_Tipo,
					Id_Conglomerado	= @pId_Conglomerado,
					Custo			= @pValor
			WHERE	Id_Custo_Fixo_Item = @pId_Custo_Fixo_Item
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			IF NOT EXISTS(SELECT * FROM Custo_Fixo_Item WHERE Id_Custo_Fixo = @pId_Custo_Fixo AND Id_Ativo_Tipo = @pId_Ativo_Tipo AND Id_Conglomerado = @pId_Conglomerado)
			BEGIN
				INSERT INTO Custo_Fixo_Item
				VALUES(	@pId_Custo_Fixo,
						@pId_Ativo_Tipo,
						@pId_Conglomerado,
						@pValor)
			END
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		DELETE FROM Custo_Fixo_Item WHERE Id_Custo_Fixo_Item = @pId_Custo_Fixo_Item
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Custo_Fixo_Item,'')	AS Id_Custo_Fixo_Item,
			ISNULL(Id_Custo_Fixo,'')		AS Id_Custo_Fixo,
			ISNULL(Id_Ativo_Tipo,'')		AS Id_Ativo_Tipo,
			ISNULL(Id_Conglomerado,'')		AS Id_Conglomerado,
			ISNULL(Custo,0)					AS Custo
	FROM	Custo_Fixo_Item
	WHERE	Id_Custo_Fixo_Item = @pId_Custo_Fixo_Item
END

-----consulta custo fixo
IF @pPAKAGE = 'sp_Custo_Fixo'
BEGIN
	SELECT	ISNULL(SUM(Custo),0) AS Custo
	FROM	Lote L	INNER JOIN Ativo A ON L.Id_Ativo = A.Id_Ativo
					INNER JOIN Custo_Fixo_Item CF ON  CF.Id_Ativo_Tipo = A.Id_Ativo_Tipo AND CF.Id_Conglomerado = A.Id_Conglomerado
	WHERE	L.Id_Lote = @pId_Lote
END

-----detalhamento custo fixo
IF @pPakage = 'sp_Detalhamento_Custo_Fixo'
BEGIN
	SELECT	CF.Nm_Custo_Fixo,
			CFI.Custo
	FROM	Custo_Fixo CF INNER JOIN Custo_Fixo_Item CFI ON CF.Id_Custo_Fixo = CFI.Id_Custo_Fixo
	WHERE	Id_Ativo_Tipo IN (SELECT Id_Ativo_Tipo FROM Ativo
								WHERE Id_Ativo IN (SELECT Id_Ativo FROM Lote WHERE Id_Lote = @pId_Lote))
END 
GO
