USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Reconciliacao_VII]    Script Date: 7/31/2025 10:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cn_T_Reconciliacao_VII] (@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS



 SELECT 
        CO.Nm_Conglomerado AS Operadora,
        AT.Nr_Ativo AS [Linha Inventário],
        ATP.Nm_Ativo_Tipo AS [Tipo Inventário],
        ISNULL(C.Nm_Consumidor,'Sem atrelamento de consumidor') as [Nome]
    INTO #Temp_Export
    FROM vw_Ativo AT
    INNER JOIN vw_Conglomerado CO ON AT.Id_Conglomerado = CO.Id_Conglomerado
    INNER JOIN vw_Ativo_Tipo ATP ON ATP.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
    INNER JOIN Ativo_Tipo_Grupo ATG ON ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo
    LEFT JOIN Ativo_Status AST ON AT.Id_Ativo_Status = AST.Id_Ativo_Status
    LEFT JOIN vw_Ativo_Complemento AC ON AC.Id_Ativo = AT.Id_Ativo
    LEFT JOIN vw_Ativo_Modelo AM ON AM.Id_Ativo_Modelo = AT.ID_Ativo_Modelo
    LEFT JOIN vw_Ativo_Fabricante AF ON AM.Id_Ativo_Fabricante = AF.Id_Ativo_Fabricante
    LEFT JOIN Rl_Consumidor_Ativo RCA ON AT.Id_Ativo = RCA.Id_Ativo
    LEFT JOIN dbo.Consumidor C ON RCA.Id_Consumidor = C.Id_Consumidor
    WHERE (ATG.Nm_Ativo_Tipo_Grupo = 'Telefonia_Movel') 
      AND (AT.Id_Ativo NOT IN (SELECT Id_Ativo FROM Rl_Consumidor_Ativo)  or C.Id_Consumidor in (158761,152199,
152201,
152202,
152203,
152204,
152205,
152206,
152207,
152208,
152209,
152210,
152211,
152212,
152213,
152214,
152215,
152216,
152217,
152218,
152219,
152220,
152221,
152222,
152223,
152224,
152225,
152226,
152227,
152228,
152229,
152230,
152231,
152232,
152233,
152234,
152235,
152236,
152237,
152238,
152239,
152240,
152241,
152242,
152243,
152244,
152245,
152246,
152247,
152248,
152249,
152250,
152251,
152252,
152253,
152254,
152255,
152256,
152257,
152258,
152259,
152260,
152261,
152262,
152263,
152264,
152265,
152266,
152267,
152268,
152269,
152270,
152271,
152272,
152273,
152274,
152275,
152276,
152277,
152278,
152279,
152280,
152281,
152282,
152283,
152284,
152285,
152286,
152287,
152288,
152289,
152290,
152291,
152292,
152293,
152294,
152295,
152296,
152297,
152298,
152299,
152300,
152301,
152302,
152303,
152304,
152305,
152306,
152307,
152308,
152309,
152310,
152311,
152312,
152313,
152314,
152315,
152316,
152317,
152318,
152319,
152320,
152321,
152322,
152323,
152324,
152325,
152326,
152327,
152328,
152329,
152330,
152331,
152332,
152333,
152334,
152335,
152336,
152337,
152338,
152339,
152340,
152341,
152342,
152343,
152344,
152345,
152346,
152347,
152348,
152349,
152350,
152351,
152352,
152353,
152354,
152355,
152356,
152357,
152358,
152359,
152360,
152361,
152362,
152363,
152364,
152365,
152366,
152367,
152368,
152369,
152370,
152371,
152372,
152373,
152374,
152375,
152376,
152377,
152378,
152379,
152380,
152381,
152382,
152383,
152384,
152385,
152386,
152387,
152388,
152389,
152390,
152391,
152392,
152393,
152394,
152395,
152396,
152397,
152398,
152399,
152400,
152401,
152402,
152403,
152404,
152405,
152406,
152407,
152408,
152409,
152410,
152411,
152412,
152413,
152414,
152415,
152416,
152417,
152418,
152419,
152420,
152421,
152422,
152423,
152424,
152425,
152426,
152427,
152428,
152429,
152430,
152431,
152432,
152433,
152434,
152435,
152436,
152437,
152438,
152439,
152440,
152441,
152442,
152443,
152444,
152445,
152446,
152447,
152448,
152449,
152450,
152451,
152452,
152453,
152454,
152455,
152456,
152457,
152458,
152459,
152460,
152461,
152462,
152463,
152464,
152465,
152466,
152467,
152468,
152469,
152470,
152471,
152472,
152473,
152474,
152475,
152476,
152477,
152478,
152479,
152480,
152481,
152482,
152483,
152484,
152485,
152486,
152487,
152488,
152489,
152490,
152491,
152492,
152493,
152494,
152495,
152496,
152497,
152498,
152499,
152500,
152501,
152502,
152503,
152504,
152505,
152506,
152507,
152508,
152509,
152510,
152511,
152512,
152513,
152514,
152515,
152516,
152517,
152518,
152519,
152520,
152521,
152522,
152523,
152524,
152525,
152526,
152527,
152528,
152529,
152530,
152531,
152532,
152533,
152534,
152535,
152536,
152537,
152538,
152539,
152540,
152541,
152542,
152543,
152544,
152545,
152546,
152547,
152548,
152549,
152550,
152551,
152552,
152553,
152554,
152555,
152556,
152557,
152558,
152559,
152560,
152561,
152562,
152563,
152564,
152565,
152566,
152567,
152568,
152569,
152570,
152571,
152572,
152573,
152574,
152575,
152576,
152577,
152578,
152579,
152580,
152581,
152582,
152583,
152584,
152585,
152586,
152587,
152588,
152589,
152590,
152591,
152592,
152593,
152594,
152595,
152596,
152597,
152598,
152599,
152600,
152601,
152602,
152603,
152604,
152605,
152606,
152607,
152608,
152609,
152610,
152611,
152612,
152613,
152614,
152615,
152616,
152617,
152618,
152619,
152620,
152621,
152622,
152623,
152624,
152625,
152626,
152627,
152628,
152629,
152630,
152631,
152632,
152633,
152634,
152635,
152636,
152637,
152638,
152639,
152640,
152641,
152642,
152643,
152644,
152645,
152646,
152647,
152648,
152649,
152650,
152651,
152652,
152653,
152654,
152655,
152656,
152657,
152658,
152659,
152660,
152661,
152662,
152663,
152664,
152665,
152666,
152667,
152668,
152669,
152670,
152671,
152672,
152673,
152674,
152675,
152676,
152677,
152678,
152679,
152680,
152681,
152682,
152683,
152684,
152685,
152686,
152687,
152688,
152689,
152690,
152691,
152692,
152693,
152694,
152695,
152696,
152697,
152698,
152699,
152700,
152701,
152702,
152703,
152704,
152705,
152706,
152707,
152708,
152709,
152710,
152711,
152712,
152713,
152714,
152715,
152716,
152717,
152718,
152719,
152720,
152721,
152722,
152723,
152724,
152725,
152726,
152727,
152728,
152729,
152730,
152731,
152732,
152733,
152734,
152735,
152736,
152737,
152738,
152739,
152740,
152741,
152742,
152743,
152744,
152745,
152746,
152747,
152748,
152749,
152750,
152751,
152752,
152753,
152754,
152755,
152756,
152757,
152758,
152759,
152760,
152761,
152762,
152763,
152764,
152765,
152766,
152767,
152768,
152769,
152770,
152771,
152772,
152773,
152774,
152775,
152776,
152777,
152778,
152779,
152780,
152781,
152782,
152783,
152784,
152785,
152786,
152787,
152788,
152789,
152790,
152791,
152792,
152793,
152794,
152795,
152796,
152797,
152798,
152799,
152800,
152801,
152802,
152803,
152804,
152805,
152806,
152807,
152808,
152809,
152810,
152811,
152812,
152813,
152814,
152815,
152816,
152817,
152818,
152819,
152820,
152821,
152822,
152823,
152824,
152825,
152826,
152827,
152828,
152829,
152830,
152831,
152832,
152833,
152834,
152835,
152836,
152837,
152838,
152839,
152840,
152841,
152842,
152843,
152844,
152845,
152846,
152847,
152848,
152849,
152850,
152851,
152852,
152853,
152854,
152855,
152856,
152857,
152858,
152859,
152860,
152861,
152862,
152863,
152864,
152865,
152866,
152867,
152868,
152869,
152870,
152871,
152872,
152873,
152874,
152875,
152876,
152877,
152878,
152879,
152880,
152881,
152882,
152883,
152884,
152885,
152886,
152887,
152888,
152889,
152890,
152891,
152892,
152893,
152894,
152895,
152896,
152897,
152898,
152899,
152900,
152901,
152902,
152903,
152904,
152905,
152906,
152907,
152908,
152909,
152910,
152911,
152912,
152913,
152914,
152915,
152916,
152917,
152918,
152919,
152920,
152921,
152922,
152923,
152924,
152925,
152926,
152927,
152928,
152929,
152930,
152931,
152932,
152933,
152934,
152935,
152936,
152937,
152938,
152939,
152940,
152941,
152942,
152943,
152944,
152945,
152946,
152947,
152948,
152949,
152950,
152951,
152952,
152953,
152954,
152955,
152956,
152957,
152958,
152959,
152960,
152961,
152962,
152963,
152964,
152965,
152966,
152967,
152968,
152969,
152970,
152971,
152972,
152973,
152974,
152975,
152976,
152977,
152978,
152979,
152980,
152981,
152982,
152983,
152984,
152985,
152986,
152987,
152988,
152989,
152990,
152991,
152992,
152993,
152994,
152995,
152996,
152997,
152998,
152999,
153000,
153001,
153002,
153003,
153004,
153005,
153006,
153007,
153008,
153009,
153010,
153011,
153012,
153013,
153014,
153015,
153016,
153017,
153018,
153019,
153020,
153021,
153022,
153023,
153024,
153025,
153026,
153027,
153028,
153029,
153030,
153031,
153032,
153033,
153034,
153035,
153036,
153037,
153038,
153039,
153040,
153041,
153042,
153043,
153044,
153045,
153046,
153047,
153048,
153049,
153050,
153051,
153052,
153053,
153054,
153055,
153056,
153057,
153058,
153059,
153060,
153061,
153062,
153063,
153064,
153065,
153066,
153067,
153068,
153069,
153070,
153071,
153072,
153073,
153074,
153075,
153076,
153077,
153078,
153079,
153080,
153081,
153082,
153083,
153084,
153085,
153086,
153087,
153088,
153089,
153090,
153091,
153092,
153093,
153094,
153095,
153096,
153097,
153098,
153099,
153100,
153101,
153102,
153103,
153104,
153105,
153106,
153107,
153108,
153109,
153110,
153111,
153112,
153113,
153114,
153115,
153116,
153117,
153118,
153119,
153120,
153121,
153122,
153123,
153124,
153125,
153126,
153127,
153128,
153129,
153130,
153131,
153132,
153133,
153134,
153135,
153136,
153137,
153138,
153139,
153140,
153141,
153142,
153143,
153144,
153145,
153146,
153147,
153148,
153149,
153150,
153151,
153152,
153153,
153154,
153155,
153156,
153157,
153158,
153159,
153160,
153161,
153162,
153163,
153164,
153165,
153166,
153167,
153168,
153169,
153170,
153171,
153172,
153173,
153174,
153175,
153176,
153177,
153178,
153179,
153180,
153181,
153182,
153183,
153184,
153185,
153186,
153187,
153188,
153189,
153190,
153191,
153192,
153193,
153194,
153195,
153196,
153197,
153198,
153199,
153200,
153201,
153202,
153203,
153204,
153205,
153206,
153207,
153208,
153209,
153210,
153211,
153212,
153213,
153214,
153215,
153216,
153217,
153218,
153219,
153220,
153221,
153222,
153223,
153224,
153225,
153226,
153227,
153228,
153229,
153230,
153231,
153232,
153233,
153234,
153235,
153236,
153237,
153238,
153239,
153240,
153241,
153242,
153243,
153244,
153245,
153246,
153247,
153248,
153249,
153250,
153251,
153252,
153253,
153254,
153255,
153256,
153257,
153258,
153259,
153260,
153261,
153262,
153263,
153264,
153265,
153266,
153267,
153268,
153269,
153270,
153271,
153272,
153273,
153274,
153275,
153276,
153277,
153278,
153279,
153280,
153281,
153282,
153283,
153284,
153285,
153286,
153287,
153288,
153289,
153290,
153291,
153292,
153293,
153294,
153295,
153296,
153297,
153298,
153299,
153300,
153301,
153302,
153303,
153304,
153305,
153306,
153307,
153308,
153309,
153310,
153311,
153312,
153313,
153314,
153315,
153316,
153317,
153318,
153319,
153320,
153321,
153322,
153323,
153324,
153325,
153326,
153327,
153328,
153329,
153330,
153331,
153332,
153333,
153334,
153335,
153336,
153337,
153338,
153339,
153340,
153341,
153342,
153343,
153344,
153345,
153346,
153347,
153348,
153349,
153350,
153351,
153352,
153353,
153354,
153355,
153356,
153357,
153358,
153359,
153360,
153361,
153362,
153363,
153364,
153365,
153366,
153367,
153368,
153369,
153370,
153371,
153372,
153373,
153374,
153375,
153376,
153377,
153378,
153379,
153380,
153381,
153382,
153383,
153384,
153385,
153386,
153387,
153388,
153389,
153390,
153391,
153392,
153393,
153394,
153395,
153396,
153397,
153398,
153399,
153400,
153401,
153402,
153403,
153404,
153405,
153406,
153407,
153408,
153409,
153410,
153411,
153412,
153413,
153414,
153415,
153416,
153417,
153418,
153419,
153420,
153421,
153422,
153423,
153424,
153425,
153426,
153427,
153428,
153429,
153430,
153431,
153432,
153433,
153434,
153435,
153436,
153437,
153438,
153439,
153440,
153441,
153442,
153443,
153444,
153445,
153446,
153447,
153448,
153449,
153450,
153451,
153452,
153453,
153454,
153455,
153456,
153457,
153458,
153459,
153460,
153461,
153462,
153463,
153464,
153465,
153466,
153467,
153468,
153469,
153470,
153471,
153472,
153473,
153474,
153475,
153476,
153477,
153478,
153479,
153480,
153481,
153482,
153483,
153484,
153485,
153486,
153487,
153488,
153489,
153490,
153491,
153492,
153493,
153494,
153495,
153496,
153497,
153498,
153499,
153500,
153501,
153502,
153503,
153504,
153505,
153506,
153507,
153508,
153509,
153510,
153511,
153512,
153513,
153514,
153515,
153516,
153517,
153518,
153519,
153520,
153521,
153522,
153523,
153524,
153525,
153526,
153527,
153528,
153529,
153530,
153531,
153532,
153533,
153534,
153535,
153536,
153537,
153538,
153539,
153540,
153541,
153542,
153543,
153544,
153545,
153546,
153547,
153548,
153549,
153550,
153551,
153552,
153553,
153554,
153555,
153556,
153557,
153558,
153559,
153560,
153561,
153562,
153563,
153564,
153565,
153566,
153567,
153568,
153569,
153570,
153571,
153572,
153573,
153574,
153575,
153576,
153577,
153578,
153579,
153580,
153581,
153582,
153583,
153584,
153585,
153586,
153587,
153588,
153589,
153590,
153591,
153592,
153593,
153594,
153595,
153596,
153597,
153598,
153599,
153600,
153601,
153602,
153603,
153604,
153605,
153606,
153607,
153608,
153609,
153610,
153611,
153612,
153613,
153614,
153615,
153616,
153617,
153618,
153619,
153620,
153621,
153622,
153623,
153624,
153625,
153626,
153627,
153628,
153629,
153630,
153631,
153632,
153633,
153634,
153635,
153636,
153637,
153638,
153639,
153640,
153641,
153642,
153643,
153644,
153645,
153646,
153647,
153648,
153649,
153650,
153651,
153652,
153653,
153654,
153655,
153656,
153657,
153658,
153659,
153660,
153661,
153662,
153663,
153664,
153665,
153666,
153667,
153668,
153669,
153670,
153671,
153672,
153673,
153674,
153675,
153676,
153677,
153678,
153679,
153680,
153681,
153682,
153683,
153684,
153685,
153686,
153687,
153688,
153689,
153690,
153691,
153692,
153693,
153694,
153695,
153696,
153697,
153698,
153699,
153700,
153701,
153702,
153703,
153704,
153705,
153706,
153707,
153708,
153709,
153710,
153711,
153712,
153713,
153714,
153715,
153716,
153717,
153718,
153719,
153720,
153721,
153722,
153723,
153724,
153725,
153726,
153727,
153728,
153729,
153730,
153731,
153732,
153733,
153734,
153735,
153736,
153737,
153738,
153739,
153740,
153741,
153742,
153743,
153744,
153745,
153746,
153747,
153748,
153749,
153750,
153751,
153752,
153753,
153754,
153755,
153756,
153757,
153758,
153759,
153760,
153761,
153762,
153763,
153764,
153765,
153766,
153767,
153768,
153769,
153770,
153771,
153772,
153773,
153774,
153775,
153776,
153777,
153778,
153779,
153780,
153781,
153782,
153783,
153784,
153785,
153786,
153787,
153788,
153789,
153790,
153791,
153792,
153793,
153794,
153795,
153796,
153797,
153798,
153799,
153800,
153801,
153802,
153803,
153804,
153805,
153806,
153807,
153808,
153809,
153810,
153811,
153812,
153813,
153814,
153815,
153816,
153817,
153818,
153819,
153820,
153821,
153822,
153823,
153824,
153825,
153826,
153827,
153828,
153829,
153830,
153831,
153832,
153833,
153834,
153835,
153836,
153837,
153838,
153839,
153840,
153841,
153842,
153843,
153844,
153845,
153846,
153847,
153848,
153849,
153850,
153851,
153852,
153853,
153854,
153855,
153856,
153857,
153858,
153859,
153860,
153861,
153862,
153863,
153864,
153865,
153866,
153867,
153868,
153869,
153870,
153871,
153872,
153873,
153874,
153875,
153876,
153877,
153878,
153879,
153880,
153881,
153882,
153883,
153884,
153885,
153886,
153887,
153888,
153889,
153890,
153891,
153892,
153893,
153894,
153895,
153896,
153897,
153898,
153899,
153900,
153901,
153902,
153903,
153904,
153905,
153906,
153907,
153908,
153909,
153910,
153911,
153912,
153913,
153914,
153915,
153916,
153917,
153918,
153919,
153920,
153921,
153922,
153923,
153924,
153925,
153926,
153927,
153928,
153929,
153930,
153931,
153932,
153933,
153934,
153935,
153936,
153937,
153938,
153939,
153940,
153941,
153942,
153943,
153944,
153945,
153946,
153947,
153948,
153949,
153950,
153951,
153952,
153953,
153954,
153955,
153956,
153957,
153958,
153959,
153960,
153961,
153962,
153963,
153964,
153965,
153966,
153967,
153968,
153969,
153970,
153971,
153972,
153973,
153974,
153975,
153976,
153977,
153978,
153979,
153980,
153981,
153982,
153983,
153984,
153985,
153986,
153987,
153988,
153989,
153990,
153991,
153992,
153993,
153994,
153995,
153996,
153997,
153998,
153999,
154000,
154001,
154002,
154003,
154004,
154005,
154006,
154007,
154008,
154009,
154010,
154011,
154012,
154013,
154014,
154015,
154016,
154017,
154018,
154019,
154020,
154021,
154022,
154023,
154024,
154025,
154026,
154027,
154028,
154029,
154030,
154031,
154032,
154033,
154034,
154035,
154036,
154037,
154038,
154039,
154040,
154041,
154042,
154043,
154044,
154045,
154046,
154047,
154048,
154049,
154050,
154051,
154052,
154053,
154054,
154055,
154056,
154057,
154058,
154059,
154060,
154061,
154062,
154063,
154064,
154065,
154066,
154067,
154068,
154069,
154070,
154071,
154072,
154073,
154074,
154075,
154076,
154077,
154078,
154079,
154080,
154081,
154082,
154083,
154084,
154085,
154086,
154087,
154088,
154089,
154090,
154091,
154092,
154093,
154094,
154095,
154096,
154097,
154098,
154099,
154100,
154101,
154102,
154103,
154104,
154105,
154106,
154107,
154108,
154109,
154110,
154111,
154112,
154113,
154114,
154115,
154116,
154117,
154118,
154119,
154120,
154121,
154122,
154123,
154124,
154125,
154126,
154127,
154128,
154129,
154130,
154131,
154132,
154133,
154134,
154135,
154136,
154137,
154138,
154139,
154140,
154141,
154142,
154143,
154144,
154145,
154146,
154147,
154148,
154149,
154150,
154151,
154152,
154153,
154154,
154155,
154156,
154157,
154158,
154159,
154160,
154161,
154162,
154163,
154164,
154165,
154166,
154167,
154168,
154169,
154170,
154171,
154172,
154173,
154174,
154175,
154176,
154177,
154178,
154179,
154180,
154181,
154182,
154183,
154184,
154185,
154186,
154187,
154188,
154189,
154190,
154191,
154192,
154193,
154194,
154195,
154196,
154197,
154198,
154199,
154200,
154201,
154202,
154203,
154204,
154205,
154206,
154207,
154208,
154209,
154210,
154211,
154212,
154213,
154214,
154215,
154216,
154217,
154218,
154219,
154220,
154221,
154222,
154223,
154224,
154225,
154226,
154227,
154228,
154229,
154230,
154231,
154232,
154233,
154234,
154235,
154236,
154237,
154238,
154239,
154240,
154241,
154242,
154243))
and AT.Id_Ativo_Status not in (9) and at.fl_desativado = 0
order by Nm_Consumidor asc

IF @pPakage = 'sp_Inventario_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Inventario'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grafrico
IF @pPakage = 'sp_Inventario_Grafico'
BEGIN
	SELECT * FROM #Temp_Export
END
GO
