USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Reconciliacao_I]    Script Date: 7/31/2025 10:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cn_T_Reconciliacao_I] (@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS



SELECT		AT.Nr_Ativo AS [Linha Inventário],
			ATP.Nm_Ativo_Tipo		AS Tipo,
			CO.Nm_Conglomerado		AS Conglomerado
			INTO #Temp_Export
	FROM	vw_Ativo AT	INNER JOIN vw_Conglomerado CO ON AT.Id_Conglomerado = CO.Id_Conglomerado
						INNER JOIN vw_Ativo_Tipo ATP ON ATP.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
						INNER JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo)
						LEFT JOIN Ativo_Status AST ON (AT.Id_Ativo_Status = AST.Id_Ativo_Status)
						LEFT JOIN vw_Ativo_Complemento AC ON (AC.Id_Ativo = AT.Id_Ativo)
						LEFT JOIN vw_Ativo_Modelo AM ON AM.Id_Ativo_Modelo = AT.ID_Ativo_Modelo
						LEFT JOIN vw_Ativo_Fabricante AF ON (AM.Id_Ativo_Fabricante = AF.Id_Ativo_Fabricante)
WHERE	(ATG.Nm_Ativo_Tipo_Grupo = 'Telefonia_Movel')
			AND NOT AT.Nr_Ativo LIKE '%(%' and AT.Id_Ativo_Status not in (9) and at.fl_desativado = 0
	ORDER BY Conglomerado

IF @pPakage = 'sp_Inventario_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Inventario'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grafrico
IF @pPakage = 'sp_Inventario_Grafico'
BEGIN
	SELECT	Tipo		AS X,
			COUNT(*)	AS Y 
	FROM	#Temp_Export
	GROUP BY Tipo 
END
GO
