USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[pa_Ativo_Replace]    Script Date: 7/31/2025 10:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Ativo_Replace] (	@pPakage				VARCHAR(200),
											@pId_Ativo_Tipo			INT			= NULL,
											@pId_Ativo_Complemento	INT			= NULL,
											@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Rl_Ativo_Tipo_Ativo_Complemento WHERE Id_Ativo_Tipo = @pId_Ativo_Tipo)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Rl_Ativo_Tipo_Ativo_Complemento 
			SET		Id_Ativo_Complemento = @pId_Ativo_Complemento
			WHERE	Id_Ativo_Tipo = @pId_Ativo_Tipo
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Rl_Ativo_Tipo_Ativo_Complemento (	Id_Ativo_Tipo,
															Id_Ativo_Complemento) 
			VALUES(	@pId_Ativo_Tipo,
					@pId_Ativo_Complemento)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		DELETE	Rl_Ativo_Tipo_Ativo_Complemento 
		WHERE	Id_Ativo_Tipo = @pId_Ativo_Tipo
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(DAC.Id_Ativo_Complemento,'') AS Id_Ativo_Complemento,
			ISNULL(AC.Nm_Ativo_Complemento,'') AS Nm_Ativo_Complemento
	FROM	Rl_Ativo_Tipo_Ativo_Complemento DAC INNER JOIN Ativo_Complemento AC
			ON (DAC.Id_Ativo_Complemento = AC.Id_Ativo_Complemento)
	WHERE	DAC.Id_Ativo_Tipo = @pId_Ativo_Tipo
END

-----consulta dados de complemto de ativo
IF @pPAKAGE = 'sp_SL_Complemento'
BEGIN
	SELECT	ISNULL(Id_Ativo_Complemento,'') AS Id_Ativo_Complemento,
			ISNULL(Nm_Ativo_Complemento,'') AS Nm_Ativo_Complemento
	FROM	Ativo_Complemento
	WHERE	Id_Ativo_Tipo = @pId_Ativo_Tipo
END





GO
