USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[pa_Consumidor]    Script Date: 7/31/2025 10:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Consumidor]
    (
    @pPakage     VARCHAR(200),
    @pId_Consumidor    INT   OUT,
    @pNm_Consumidor    VARCHAR(50) = NULL,
    @pId_Consumidor_Tipo  INT   = NULL,
    @pMatricula     VARCHAR(120)= NULL,
    @pEMail      VARCHAR(50) = NULL,
    @pEMail_Copia    VARCHAR(50) = NULL,
    @pFl_Nao_Envia_EMail  INT   = NULL,
    @pObservacao     VARCHAR(8000) = NULL,
    @pId_Empresa_Contratada  INT   = NULL,
    @pId_Cargo     INT   = NULL,
    @pId_Filial     INT   = NULL,
    @pId_Centro_Custo   INT   = NULL,
    @pId_Departamento   INT   = NULL,
    @pId_Setor     INT   = NULL,
    @pId_Secao     INT   = NULL,
    @pId_Consumidor_Status  INT   = NULL,
    @pMatricula_Chefia   VARCHAR(20) = NULL,
    @pId_Usuario_Permissao  INT   = NULL)
AS

----- ALTERACOES - INICIO -----

-- 21032025 - CHIPAK - Ajustado para selecionar tambem o ATG.Nm_Ativo_Tipo_Grupo

----- ALTERACOES - FIM -----


-----insere ou atualiza registro       
IF @pPAKAGE = 'sp_SM'       
BEGIN
    IF EXISTS (SELECT *
    FROM Consumidor
    WHERE Id_Consumidor = @pId_Consumidor)       
    BEGIN
        IF NOT EXISTS(SELECT *
        FROM Consumidor
        WHERE Matricula = @pMatricula AND NOT Id_Consumidor = @pId_Consumidor )       
        BEGIN
            UPDATE Consumidor        
            SET  Nm_Consumidor   = @pNm_Consumidor,       
            Id_Consumidor_Tipo  = @pId_Consumidor_Tipo,       
            Matricula    = @pMatricula,       
            EMail     = @pEMail,       
            EMail_Copia    = @pEMail_Copia,       
            Fl_Nao_Envia_EMail  = @pFl_Nao_Envia_EMail,   
            Observacao = '(Data Alteração - ' + FORMAT(GETDATE(), 'dd/MM/yyyy HH:mm') + ' - ' + @pObservacao +  ')  ' + ISNULL(Observacao,''),   
            Id_Empresa_Contratada = @pId_Empresa_Contratada,       
            Id_Cargo    = @pId_Cargo,       
            Id_Filial    = @pId_Filial,       
            Id_Centro_Custo   = @pId_Centro_Custo,       
            Id_Departamento   = @pId_Departamento,       
            Id_Setor    = @pId_Setor,       
            Id_Secao    = @pId_Secao,       
            Id_Consumidor_Status = @pId_Consumidor_Status,       
            Matricula_Chefia  = @pMatricula_Chefia,       
            Fl_Desativado   = 2       
            WHERE Id_Consumidor = @pId_Consumidor
        END
    END       
    ELSE       
    BEGIN
        IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2       
        BEGIN
            -----nao deixa cadastrar a mesma matricula       
            IF NOT EXISTS(SELECT *
            FROM Consumidor
            WHERE Matricula = @pMatricula)       
            BEGIN
                INSERT INTO Consumidor
                    (Nm_Consumidor,
                    Id_Consumidor_Tipo,
                    Matricula,
                    EMail,
                    EMail_Copia,
                    Fl_Nao_Envia_EMail,
                    Observacao,
                    Id_Empresa_Contratada,
                    Id_Cargo,
                    Id_Filial,
                    Id_Centro_Custo,
                    Id_Departamento,
                    Id_Setor,
                    Id_Secao,
                    Id_Consumidor_Status,
                    Matricula_Chefia,
                    Fl_Desativado)
                VALUES(@pNm_Consumidor,
                        @pId_Consumidor_Tipo,
                        @pMatricula,
                        @pEMail,
                        @pEMail_Copia,
                        @pFl_Nao_Envia_EMail,
                        '(Data Criação - ' + FORMAT(GETDATE(), 'dd/MM/yyyy HH:mm') + ' - ' + @pObservacao + ')  ',
                        @pId_Empresa_Contratada,
                        @pId_Cargo,
                        @pId_Filial,
                        @pId_Centro_Custo,
                        @pId_Departamento,
                        @pId_Setor,
                        @pId_Secao,
                        @pId_Consumidor_Status,
                        @pMatricula_Chefia,
                        2)
                -----retorna id        
                SELECT @pId_Consumidor = MAX(Id_Consumidor)
                FROM Consumidor
            END       
            ELSE       
            BEGIN
                SELECT @pId_Consumidor = 0
            END
        END       
        ELSE       
        BEGIN
            SELECT @pId_Consumidor = 0
        END
    END
END

-----desativa resgistro       
IF @pPAKAGE = 'sp_SE'       
BEGIN
    IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2       
 BEGIN

        UPDATE Consumidor SET Fl_Desativado = 1 WHERE Id_Consumidor = @pId_Consumidor
        UPDATE Usuario SET Fl_Desativado = 1        
  WHERE Id_Usuario IN (SELECT Id_Usuario
        FROM Usuario
        Where Id_Consumidor = @pId_Consumidor)
    END
END

-----consulta pelo ID do registro       
IF @pPAKAGE = 'sp_SL_ID'       
BEGIN
    SELECT DISTINCT ISNULL(CON.Id_Consumidor, '') AS Id_Consumidor,
        ISNULL(CON.Nm_Consumidor, '')   AS Nm_Consumidor,
        ISNULL(CON.Id_Consumidor_Tipo, '')  AS Id_Consumidor_Tipo,
        ISNULL(CON.Matricula, '')    AS Matricula,
        ISNULL(CON.EMail, '')     AS EMail,
        ISNULL(CON.EMail_Copia, '')    AS EMail_Copia,
        ISNULL(CON.Observacao,'')    AS Observacao,
        ISNULL(CON.Fl_Nao_Envia_EMail, 0)  AS Fl_Nao_Envia_EMail,
        ISNULL(CON.Id_Empresa_Contratada, '') AS Id_Empresa_Contratada,
        ISNULL(CON.Id_Cargo, '')    AS Id_Cargo,
        ISNULL(USU.Id_Usuario, '')    AS Id_Usuario,
        ISNULL(USU.Nm_Usuario, '')    AS Nm_Usuario,
        ISNULL(CON.Id_Filial, '')    AS Id_Filial,
        ISNULL(CON.Id_Centro_Custo, '')   AS Id_Centro_Custo,
        ISNULL(CON.Id_Departamento, '')   AS Id_Departamento,
        ISNULL(CON.Id_Setor, '')    AS Id_Setor,
        ISNULL(CON.Id_Secao, '')    AS Id_Secao,
        ISNULL(CON.Id_Consumidor_Status, '') AS Id_Consumidor_Status,
        ISNULL(Matricula_Chefia,'')    AS Matricula_Chefia,
        ISNULL(CON.Fl_Desativado, '')         AS Fl_Desativado
    FROM Consumidor CON LEFT JOIN Usuario USU ON(CON.Id_Consumidor = USU.Id_Consumidor)
    WHERE CON.Id_Consumidor = @pId_Consumidor
END

-----consulta ativo viculado ao consumidor
-- 21032025 - CHIPAK
IF @pPAKAGE = 'sp_SL_Ativo_Consumidor'       
BEGIN
	SELECT 
		ATV.Id_Ativo,
		ATV.Nr_Ativo,
		CG.Nm_Conglomerado,
		AT.Nm_Ativo_Tipo,
		ATG.Nm_Ativo_Tipo_Grupo
	FROM 
		Rl_Consumidor_Ativo RCA 
		INNER JOIN vw_ATIVO ATV ON RCA.Id_Ativo = ATV.Id_Ativo
		INNER JOIN Conglomerado CG ON ATV.Id_Conglomerado = CG.Id_Conglomerado
		INNER JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = ATV.Id_Ativo_Tipo
		LEFT JOIN Ativo_Tipo_Grupo ATG ON AT.Id_Ativo_Tipo_Grupo = ATG.Id_Ativo_Tipo_Grupo
	WHERE 
		RCA.Id_Consumidor = @pId_Consumidor
END

-----consulta lista telefonica para o APP       
IF @pPAKAGE = 'sp_SL_Lista_Telefonica'       
BEGIN
    SELECT DISTINCT CO.Nm_Consumidor,
        '0' + A.Nr_Ativo AS Nr_Ativo,
        At.Nm_Ativo_Tipo
    FROM vw_Consumidor CO INNER JOIN Rl_Consumidor_Ativo RCO ON CO.Id_Consumidor = RCO.Id_Consumidor
        INNER JOIN vw_Ativo A ON A.Id_Ativo = RCO.Id_Ativo
        INNER JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
        INNER JOIN Ativo_Tipo_Grupo ATG ON ATG.Id_Ativo_Tipo_Grupo = AT.Id_Ativo_Tipo_Grupo
    WHERE CO.Fl_Nao_Envia_EMail = 1
        AND ATG.Nm_Ativo_Tipo_Grupo IN ('Telefonia_Movel')
        --AND (CO.Nm_Consumidor LIKE '%'+@pNm_Consumidor+'%' OR @pNm_Consumidor IS NULL)       
        AND AT.Id_Ativo_Tipo IN (SELECT Id_Ativo_Tipo
        FROM Ativo_Tipo_Contato_Corporativo)
        AND NOT RCO.Id_Consumidor IN (SELECT Id_Consumidor
        FROM Estoque_Consumidor)
    ORDER BY CO.Nm_Consumidor
END

-----consulta lista telefonica para o sistema       
IF @pPAKAGE = 'sp_SL_Lista_Telefonica_Ativvus'       
BEGIN
    SELECT CO.Nm_Consumidor,
        A.Nr_Ativo,
        At.Nm_Ativo_Tipo,
        CG.Nm_Conglomerado
    FROM vw_Consumidor CO INNER JOIN Rl_Consumidor_Ativo RCO ON CO.Id_Consumidor = RCO.Id_Consumidor
        INNER JOIN vw_Ativo A ON A.Id_Ativo = RCO.Id_Ativo
        INNER JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
        INNER JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
        INNER JOIN Ativo_Tipo_Grupo ATG ON ATG.Id_Ativo_Tipo_Grupo = AT.Id_Ativo_Tipo_Grupo
    WHERE CO.Fl_Nao_Envia_EMail = 1
        AND ATG.Nm_Ativo_Tipo_Grupo IN ('Telefonia_Movel', 'Telefonia_Fixa')
        AND AT.Id_Ativo_Tipo IN (SELECT Id_Ativo_Tipo
        FROM Ativo_Tipo_Contato_Corporativo)
        AND CO.Nm_Consumidor LIKE '%'+@pNm_Consumidor+'%'
        AND NOT RCO.Id_Consumidor IN (SELECT Id_Consumidor
        FROM Estoque_Consumidor)
    ORDER BY CO.Nm_Consumidor
END
GO
