USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[pa_Contrato_Indice]    Script Date: 7/31/2025 10:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Contrato_Indice]  
(  
  @pPakage VARCHAR(200),  
  @pId_Contrato_Indice INT = NULL,  
  @pNm_Contrato_Indice VARCHAR(50) = NULL,  
  @pObs_Contrato_Indice VARCHAR(100) = NULL,  
  @pId_Usuario_Permissao INT = NULL  
)  
AS  
-----insere ou atualiza registro  
IF @pPAKAGE = 'sp_SM'  
BEGIN  
  IF EXISTS (SELECT *  
    FROM Contrato_Indice  
    WHERE Id_Contrato_Indice = @pId_Contrato_Indice)  
  BEGIN  
    IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2  
    BEGIN  
   IF @pNm_Contrato_Indice IS NOT NULL  
   BEGIN  
     UPDATE Contrato_Indice  
          SET Nm_Contrato_Indice = @pNm_Contrato_Indice  
          WHERE Id_Contrato_Indice = @pId_Contrato_Indice  
   END  
   IF @pObs_Contrato_Indice IS NOT NULL  
   BEGIN  
     UPDATE Contrato_Indice  
          SET Obs_Contrato_Indice = @pObs_Contrato_Indice  
          WHERE Id_Contrato_Indice = @pId_Contrato_Indice  
   END  
    END  
  END  
  ELSE  
  BEGIN  
    IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2  
    BEGIN  
      INSERT INTO Contrato_Indice(Nm_Contrato_Indice, Obs_Contrato_Indice, Fl_Desativado)  
      VALUES(@pNm_Contrato_Indice, @pObs_Contrato_Indice, 0)  
    END  
  END  
END  
  
-----desativa resgistro  
IF @pPAKAGE = 'sp_SE'  
BEGIN  
  IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2  
  BEGIN  
    UPDATE Contrato_Indice  
      SET  Fl_Desativado = 1  
      WHERE Id_Contrato_Indice = @pId_Contrato_Indice  
  END  
END  
  
-----consulta pelo ID do registro  
IF @pPAKAGE = 'sp_SL_ID'  
BEGIN  
  SELECT  
    ISNULL(Id_Contrato_Indice,'') AS Id_Contrato_Indice,  
    ISNULL(Nm_Contrato_Indice,'') AS Nm_Contrato_Indice,  
 ISNULL(Obs_Contrato_Indice,'') AS Obs_Contrato_Indice  
  FROM Contrato_Indice  
  WHERE Id_Contrato_Indice = @pId_Contrato_Indice  
END
GO
