USE [Vale]
GO
/****** Object:  Table [dbo].[Contrato_SLA_Operacao]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contrato_SLA_Operacao](
	[Id_Contrato_SLA_Operacao] [int] IDENTITY(1,1) NOT NULL,
	[Id_Contrato] [int] NOT NULL,
	[Descricao] [varchar](8000) NOT NULL,
	[Prazo_Dias] [int] NULL,
	[Vr_SLA_Operacao] [numeric](10, 2) NULL,
	[Fl_Desativado] [int] NOT NULL,
 CONSTRAINT [PK_Contrato_SLA_Operacao] PRIMARY KEY CLUSTERED 
(
	[Id_Contrato_SLA_Operacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contrato_SLA_Operacao]  WITH NOCHECK ADD  CONSTRAINT [FK_Contrato_SLA_Operacao_Contrato] FOREIGN KEY([Id_Contrato])
REFERENCES [dbo].[Contrato] ([Id_Contrato])
GO
ALTER TABLE [dbo].[Contrato_SLA_Operacao] CHECK CONSTRAINT [FK_Contrato_SLA_Operacao_Contrato]
GO
