USE [Vale]
GO
/****** Object:  Table [dbo].[Empresa_Contratada]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa_Contratada](
	[Id_Empresa_Contratada] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Empresa_Contratada] [varchar](50) NOT NULL,
	[CNPJ] [varchar](20) NOT NULL,
	[Contato] [varchar](50) NULL,
	[Telefone] [varchar](20) NULL,
	[Fl_Desativado] [int] NOT NULL,
 CONSTRAINT [PK_Empresa_Contratada] PRIMARY KEY CLUSTERED 
(
	[Id_Empresa_Contratada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
