USE [Vale]
GO
/****** Object:  View [dbo].[vw_Custo_Usuario]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Custo_Usuario] AS
SELECT	Id_Ativo,
		Id_Consumidor,
		Id_Filial,
		Id_Centro_Custo,
		Id_Usuario,
		Id_Lote,
		Dt_Lote,
		DC_Nr_Nota_Fiscal,
		Total_Sem_Auditoria,
		Total_Devolucao,
		Total_Final_Semana,
		0 QTD_Bilhete,
		Fora_Horario,
		Dentro_Horario,
		Total_Lote,
		CAST(Total_Consumo  / (SELECT CASE WHEN COUNT(*) = 0 THEN 1 ELSE  COUNT(*) END  
						FROM	dbo.vw_Custo
						WHERE	ID_LOTE = CU.ID_LOTE 
								AND TOTAL_CONSUMO > 0
								AND TOTAL_CONSUMO = (SELECT TOTAL FROM Lote WHERE Id_Lote = CU.ID_LOTE )) AS DECIMAL(10,2)) AS Total_Consumo
FROM	dbo.vw_Custo CU
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Lote"
            Begin Extent = 
               Top = 6
               Left = 273
               Bottom = 114
               Right = 459
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vw_Ativo"
            Begin Extent = 
               Top = 6
               Left = 724
               Bottom = 114
               Right = 932
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vw_Alocacao_Ativo_Consumidor"
            Begin Extent = 
               Top = 114
               Left = 294
               Bottom = 222
               Right = 475
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vw_Usuario"
            Begin Extent = 
               Top = 114
               Left = 38
               Bottom = 222
               Right = 256
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Rl_Perfil_Ativo_Usuario"
            Begin Extent = 
               Top = 6
               Left = 497
               Bottom = 114
               Right = 686
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "QTDATCO"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 84
               Right = 189
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 12
         Width = 284
         Width = ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Custo_Usuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Custo_Usuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Custo_Usuario'
GO
