USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[pa_Auditoria_Acompanhamento]    Script Date: 7/6/2025 1:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_Auditoria_Acompanhamento] (@pPakage							VARCHAR(200),
													@pId_Auditoria_Acompanhamento	INT				= NULL,
													@pId_Auditoria_Lote				INT				= NULL,
													@pId_Auditoria_Conta			INT				= NULL,
													@pId_Auditoria_Status			INT				= NULL,
													@pDescricao						VARCHAR(300)	= NULL,
													@pData_Prevista					DATETIME		= NULL,
													@pValor_Previsto				NUMERIC(10,2)	= NULL,
													@pFiltro_Auditoria				INT				= NULL,	
													@pId_Usuario_Permissao			INT				= NULL) AS

-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Auditoria_Acompanhamento WHERE Id_Auditoria_Acompanhamento = @pId_Auditoria_Acompanhamento)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Auditoria_Acompanhamento 
			SET		Id_Auditoria_Lote = @pId_Auditoria_Lote,
					Id_Auditoria_Conta = @pId_Auditoria_Conta,
					Id_Auditoria_Status = @pId_Auditoria_Status,
					Descricao = @pDescricao,
					Data_Prevista = @pData_Prevista,
					Valor_Previsto = @pValor_Previsto
			WHERE	Id_Auditoria_Acompanhamento = @pId_Auditoria_Acompanhamento
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Auditoria_Acompanhamento (	Id_Auditoria_Lote,
													Id_Auditoria_Conta,
													Id_Auditoria_Status,
													Descricao,
													Data_Prevista,
													Valor_Previsto) 
			VALUES(	@pId_Auditoria_Lote,
					@pId_Auditoria_Conta,
					@pId_Auditoria_Status,
					@pDescricao,
					@pData_Prevista,
					@pValor_Previsto)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		DELETE FROM Auditoria_Acompanhamento WHERE Id_Auditoria_Acompanhamento = @pId_Auditoria_Acompanhamento
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Auditoria_Acompanhamento,0)	AS Id_Auditoria_Acompanhamento,
			ISNULL(Id_Auditoria_Lote,0)				AS Id_Auditoria_Lote,
			ISNULL(Id_Auditoria_Conta,0)			AS Id_Auditoria_Conta,
			ISNULL(Id_Auditoria_Status,0)			AS Id_Auditoria_Status,
			ISNULL(Descricao,'')					AS Descricao,
			ISNULL(Data_Prevista, '1900/01/01')		AS Data_Prevista,
			ISNULL(Valor_Previsto,0)				AS Valor_Previsto
	FROM	Auditoria_Acompanhamento
	WHERE	Id_Auditoria_Acompanhamento = @pId_Auditoria_Acompanhamento
END

-----auditoria
IF @pPAKAGE = 'sp_Drop_Auditoria_Detalhe'
BEGIN
	SELECT	Id_Auditoria_Conta	AS ID,
			Conta				AS Descricao
	FROM	Auditoria_Conta
	WHERE	Id_Auditoria_Lote = @pId_Auditoria_Lote
	ORDER BY Conta
END

-----auditoria
IF @pPAKAGE = 'sp_Grava_Texto'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
	BEGIN
		INSERT INTO Auditoria_Texto(Id_Auditoria_lote,
									Descricao,
									Data,
									Dt_Resposta)
		VALUES(	@pId_Auditoria_Lote,
				@pDescricao,
				GETDATE(),
				@pData_Prevista)
	END
END
GO
