USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[pa_Bilhete]    Script Date: 7/6/2025 1:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Bilhete] (@pPakage			AS VARCHAR(200),
									@pId_Lote			AS FLOAT			= NULL,
									@pDB_Destino		AS VARCHAR(50)		= NULL,
									@pId_Usuario		AS INT				= NULL,
									@pId_Bilhete		AS FLOAT			= NULL,
									@pDt_Lote			AS VARCHAR(6)		= NULL,
									@pId_Bilhete_Split	AS VARCHAR(8000)	= NULL) AS
DECLARE @pTabela TABLE (T_Id INT)
DECLARE @Array VARCHAR(MAX)
DECLARE @S VARCHAR(10)

-----pega datas de ativacao e desativacao do ativo
IF NOT @pId_Usuario IS NULL
BEGIN
	DECLARE @v_Dt_Hr_Ativacao AS DATETIME
	DECLARE @v_Dt_Hr_Desativacao AS DATETIME

	SELECT	@v_Dt_Hr_Ativacao = Dt_Hr_Ativacao,
			@v_Dt_Hr_Desativacao = Dt_Hr_Desativacao 
	FROM	Rl_Perfil_Ativo_Usuario 
	WHERE	Id_Ativo = (SELECT Id_Ativo FROM Lote WHERE Id_Lote = @pId_Lote) 
			AND Id_Usuario = @pId_Usuario
END

IF @pPakage = 'sp_Marca_Desmarca_Bilhete'
BEGIN
	IF EXISTS (SELECT * FROM Bilhete WHERE DB_Destino = @pDB_Destino AND Id_Lote = @pId_Lote AND NOT Id_Usuario IS NULL AND Id_Bilhete = @pId_Bilhete)
	BEGIN
		IF @pId_Usuario = (SELECT TOP 1 Id_Usuario FROM Bilhete WHERE DB_Destino = @pDB_Destino AND Id_Lote = @pId_Lote AND NOT Id_Usuario IS NULL AND Id_Bilhete = @pId_Bilhete)
		BEGIN
			UPDATE	Bilhete
			SET		Id_Usuario = NULL
			WHERE	Id_Bilhete = @pId_Bilhete 
					AND Id_Usuario = @pId_Usuario
			
			-----atualiza data de alteracao de marcacao
			UPDATE	Lote_Marcacao
			SET		Dt_Ultima_Marcacao = GETDATE()
			WHERE	Id_Lote			= @pId_Lote
					AND	Id_Usuario	= @pId_Usuario
		END
	END
	ELSE
	BEGIN
		-----marca bilhete validando data de ativa e desativacao
		UPDATE	Bilhete
		SET		Id_Usuario	= @pId_Usuario
		WHERE	DB_Destino = @pDB_Destino
				AND Id_Lote = @pId_Lote
				AND DB_Data_Hora BETWEEN @v_Dt_Hr_Ativacao AND ISNULL(@v_Dt_Hr_Desativacao,GETDATE()) 
				AND DB_Custo > 0
				AND Id_Usuario IS NULL
				AND NOT DB_Tipo_Parametro IN (SELECT DB_Tipo_Parametro FROM dbo.Si_Desmarca_Bilhete )
				
		-----atualiza data de alteracao de marcacao
		UPDATE	Lote_Marcacao
		SET		Dt_Ultima_Marcacao = GETDATE()
		WHERE	Id_Lote			= @pId_Lote
				AND	Id_Usuario	= @pId_Usuario
	END 
END

IF @pPakage = 'sp_Marca_Todos_Bilhetes'
BEGIN
	IF NOT @pId_Bilhete_Split IS NULL
	BEGIN		
		SELECT @Array = @pId_Bilhete_Split
		IF LEN(@Array) > 0 SET @Array = @Array + ',' 
		WHILE LEN(@Array) > 0
		BEGIN
			SELECT @S = LTRIM(SUBSTRING(@Array, 1, CHARINDEX(',', @Array) - 1))
			INSERT INTO @pTabela VALUES (@S)
			SELECT @Array = SUBSTRING(@Array, CHARINDEX(',', @Array) + 1, LEN(@Array))
		END

		UPDATE	Bilhete
		SET		Id_Usuario = @pId_Usuario
		WHERE	Id_Lote = @pId_Lote
				AND DB_Data_Hora BETWEEN @v_Dt_Hr_Ativacao AND ISNULL(@v_Dt_Hr_Desativacao,GETDATE())
				AND DB_Custo > 0
				AND Id_Usuario IS NULL
				AND Id_Bilhete IN (SELECT * FROM @pTabela)
				AND NOT DB_Tipo_Parametro IN (SELECT DB_Tipo_Parametro FROM dbo.Si_Desmarca_Bilhete )
	END
	ELSE
	BEGIN
		UPDATE	Bilhete
		SET		Id_Usuario	= @pId_Usuario
		WHERE	Id_Lote		= @pId_Lote
				AND DB_Data_Hora BETWEEN @v_Dt_Hr_Ativacao AND ISNULL(@v_Dt_Hr_Desativacao,GETDATE())
				AND DB_Custo > 0
				AND Id_Usuario	IS NULL
				AND NOT DB_Tipo_Parametro IN (SELECT DB_Tipo_Parametro FROM dbo.Si_Desmarca_Bilhete )
	END
	-----atualiza data de alteracao de marcacao
	UPDATE	Lote_Marcacao
	SET		Dt_Ultima_Marcacao = GETDATE()
	WHERE	Id_Lote			= @pId_Lote
			AND	Id_Usuario	= @pId_Usuario
END

IF @pPakage = 'sp_Desmarca_Todos_Bilhetes'
BEGIN
	IF NOT @pId_Bilhete_Split IS NULL
	BEGIN
		SELECT @Array = @pId_Bilhete_Split
		IF LEN(@Array) > 0 SET @Array = @Array + ',' 
		WHILE LEN(@Array) > 0
		BEGIN
			SELECT @S = LTRIM(SUBSTRING(@Array, 1, CHARINDEX(',', @Array) - 1))
			INSERT INTO @pTabela VALUES (@S)
			SELECT @Array = SUBSTRING(@Array, CHARINDEX(',', @Array) + 1, LEN(@Array))
		END
		
		UPDATE	Bilhete
		SET		Id_Usuario	= NULL
		WHERE	Id_Lote			= @pId_Lote
				AND Id_Usuario	= @pId_Usuario
				AND DB_Data_Hora BETWEEN @v_Dt_Hr_Ativacao AND ISNULL(@v_Dt_Hr_Desativacao,GETDATE())
				AND Id_Bilhete IN (SELECT * FROM @pTabela)
				AND NOT DB_Tipo_Parametro IN (SELECT DB_Tipo_Parametro FROM dbo.Si_Desmarca_Bilhete )
	END
	ELSE
	BEGIN
		UPDATE	Bilhete
		SET		Id_Usuario	= NULL
		WHERE	Id_Lote			= @pId_Lote
				AND Id_Usuario	= @pId_Usuario
				AND DB_Data_Hora BETWEEN @v_Dt_Hr_Ativacao AND ISNULL(@v_Dt_Hr_Desativacao,GETDATE())
				AND NOT DB_Tipo_Parametro IN (SELECT DB_Tipo_Parametro FROM dbo.Si_Desmarca_Bilhete )
	END			

	-----atualiza data de alteracao de marcacao
	UPDATE	Lote_Marcacao
	SET		Dt_Ultima_Marcacao = GETDATE()
	WHERE	Id_Lote			= @pId_Lote
			AND	Id_Usuario	= @pId_Usuario
END

IF @pPakage = 'sp_Cria_Lote_Marcacao'
BEGIN
	IF NOT EXISTS(SELECT * FROM Lote_Marcacao WHERE Id_Lote = @pId_Lote AND Id_Usuario = @pId_Usuario)
	BEGIN
		INSERT INTO Lote_Marcacao (	Id_Lote_Marcacao,
									Id_Lote,
									Id_Usuario,
									Dt_Fechamento,
									Dt_Visita,
									Dt_Exportacao,
									Dt_Ultima_Marcacao,
									Total_Marcado,
									Flag_Automatico,
									Justificativa)
		SELECT	ISNULL(MAX(Id_Lote_Marcacao) + 1, 1),
				@pId_Lote,
				@pId_Usuario,
				NULL,
				GETDATE(),
				NULL,
				NULL,
				0,
				1, --desconto manual
				NULL
		FROM	Lote_Marcacao
	END				
END

IF @pPakage = 'sp_Fecha_Lote_Marcacao'
BEGIN
	UPDATE	Lote_Marcacao
	SET		Dt_Fechamento = GETDATE()
	WHERE	Id_Lote			= @pId_Lote
			AND Id_Usuario	= @pId_Usuario

	-----atualiza agenda particular
	UPDATE	Agenda_Marcacao_Particular
	SET		Tipo = 1
	FROM	Agenda_Marcacao_Particular AG INNER JOIN Bilhete B ON AG.Id_Usuario = B.Id_Usuario
																	AND AG.Nr_Destino = B.DB_Destino
					INNER JOIN Lote L ON L.Id_Lote = B.Id_lote
	WHERE	AG.Id_Usuario = @pId_Usuario
			AND L.Id_Lote = @pId_Lote
END

IF @pPakage = 'sp_Dados_Autorizacao_Desconto'
BEGIN
	SELECT	CO.Nm_Consumidor,CO.Matricula,FA.Nm_Filial,CC.Cd_Centro_Custo
	FROM	vw_Usuario US	INNER JOIN vw_Consumidor CO ON (US.Id_Consumidor = CO.Id_Consumidor)
							INNER JOIN vw_Filial FA ON (CO.Id_Filial = FA.Id_Filial)
							INNER JOIN vw_Centro_Custo CC ON (CO.Id_Centro_Custo = CC.Id_Centro_Custo)
	WHERE	Id_Usuario = @pId_Usuario
END 

IF @pPakage = 'sp_Refresh_Agenda_Marcacao_Particular'
BEGIN
	UPDATE	Bilhete
	SET		Id_Usuario = AP.Id_Usuario
	FROM	Bilhete BI	INNER JOIN Lote LT ON (BI.Id_Lote = LT.Id_Lote)
						INNER JOIN Rl_Perfil_Ativo_Usuario RAU ON (RAU.Id_Ativo = LT.Id_Ativo)
						INNER JOIN Agenda_Marcacao_Particular AP ON (BI.DB_Destino = AP.Nr_Destino
																		AND AP.Id_Usuario = RAU.Id_Usuario
																		AND AP.Tipo = 1) --1P/2C
	WHERE	AP.Id_Usuario = @pId_Usuario
			AND LT.Id_Lote = @pId_Lote
			AND DB_Data_Hora BETWEEN @v_Dt_Hr_Ativacao AND ISNULL(@v_Dt_Hr_Desativacao,GETDATE()) 
			AND DB_Custo > 0
			AND BI.Id_Usuario IS NULL
END

IF @pPakage = 'sp_Marca_Agenda_Marcacao_Particular'
BEGIN
	UPDATE	Bilhete
	SET		Id_Usuario = AP.Id_Usuario
	FROM	Bilhete BI	INNER JOIN Lote LT ON (BI.Id_Lote = LT.Id_Lote)
						INNER JOIN Rl_Perfil_Ativo_Usuario RAU ON (RAU.Id_Ativo = LT.Id_Ativo)
						INNER JOIN Agenda_Marcacao_Particular AP ON (BI.DB_Destino = AP.Nr_Destino
																		AND AP.Id_Usuario = RAU.Id_Usuario
																		AND AP.Tipo = 1) --1P/2C
	WHERE	AP.Id_Usuario = @pId_Usuario
			AND LT.Id_Lote = @pId_Lote
			AND DB_Data_Hora BETWEEN @v_Dt_Hr_Ativacao AND ISNULL(@v_Dt_Hr_Desativacao,GETDATE()) 
			AND DB_Custo > 0
			AND BI.Id_Usuario IS NULL
			AND 0 = (SELECT SUM(Total_Marcado) FROM Lote_Marcacao WHERE Id_Usuario = @pId_Usuario AND Id_Lote = @pId_Lote)
END

IF @pPakage = 'sp_E_Mail_Marcacao_Particular'
BEGIN

	DECLARE @vConsumidor AS VARCHAR(50)
	DECLARE @vEmail AS VARCHAR(50)
	DECLARE @vEmailCopia AS VARCHAR(50)
	
	DECLARE @vNr_Ativo AS VARCHAR(50)
	DECLARE @vDt_Lote AS VARCHAR(50)
	DECLARE @vValorDesconto AS VARCHAR(50)
	
	DECLARE @vTabela AS VARCHAR(8000)
	
	-----monta dados consumidor
	SELECT	TOP 1
			@vConsumidor = Nm_Consumidor,
			@vEmail = EMail,
			@vEmailCopia = EMail_Copia
	FROM Consumidor WHERE Id_Consumidor IN (SELECT Id_Consumidor FROM Usuario WHERE Id_Usuario = @pId_Usuario)
		
	-----monta dodos do ativo de valor do desconto
	SELECT	TOP 1
			@vNr_Ativo = A.Nr_Ativo,
			@vDt_Lote = SUBSTRING(CONVERT(VARCHAR,L.Dt_Lote,103),4,7),
			@vValorDesconto = LM.Total_Marcado 
	FROM	Lote L INNER JOIN Ativo A ON L.Id_Ativo = A.Id_Ativo
					INNER JOIN Lote_Marcacao LM ON L.Id_Lote = LM.Id_Lote AND LM.Id_Usuario = @pId_Usuario
	WHERE	L.Id_Lote = @pId_Lote
		
	SET @vTabela =	'<table border=1 cellspacing=0 cellpadding=2 bordercolor="000000">' +
					'<tr> <td  width=300> Ativo </td> <td align="right">' + @vNr_Ativo + '</td> </tr>' +
					'<tr> <td  width=300> Lote </td> <td align="right">' + @vDt_Lote + '</td> </tr>' +
					'<tr> <td  width=300> Valor do Desconto R$ </td> <td align="right">' + @vValorDesconto + '</td> </tr> </table>'

	-----monta caixa de saida
	INSERT INTO Mail_Caixa_Saida
	VALUES (4,
			@vEmail,
			@vEmailCopia,
			@vTabela,
			GETDATE(),
			NULL,
			0,
			0,
			0)
END

IF @pPakage = 'sp_Marca_Desmarca_Bilhete_APP'
BEGIN
	IF EXISTS (SELECT * FROM Bilhete WHERE DB_Destino = @pDB_Destino AND Id_Lote = @pId_Lote AND NOT Id_Usuario IS NULL AND Id_Bilhete = @pId_Bilhete)
	BEGIN
		IF @pId_Usuario = (SELECT TOP 1 Id_Usuario FROM Bilhete WHERE DB_Destino = @pDB_Destino AND Id_Lote = @pId_Lote AND NOT Id_Usuario IS NULL AND Id_Bilhete = @pId_Bilhete)
		BEGIN
			UPDATE	Bilhete
			SET		Id_Usuario = NULL
			WHERE	Id_Bilhete = @pId_Bilhete 
					AND Id_Usuario = @pId_Usuario
			
			-----atualiza data de alteracao de marcacao
			UPDATE	Lote_Marcacao
			SET		Dt_Ultima_Marcacao = GETDATE()
			WHERE	Id_Lote			= @pId_Lote
					AND	Id_Usuario	= @pId_Usuario
		END
	END
	ELSE
	BEGIN
		-----marca bilhete validando data de ativa e desativacao
		UPDATE	Bilhete
		SET		Id_Usuario	= @pId_Usuario
		WHERE	Id_Bilhete = @pId_Bilhete
				AND DB_Data_Hora BETWEEN @v_Dt_Hr_Ativacao AND ISNULL(@v_Dt_Hr_Desativacao,GETDATE()) 
				AND DB_Custo > 0
				AND Id_Usuario IS NULL
				AND NOT DB_Tipo_Parametro IN (SELECT DB_Tipo_Parametro FROM dbo.Si_Desmarca_Bilhete )
				
		-----atualiza data de alteracao de marcacao
		UPDATE	Lote_Marcacao
		SET		Dt_Ultima_Marcacao = GETDATE()
		WHERE	Id_Lote			= @pId_Lote
				AND	Id_Usuario	= @pId_Usuario
	END 
END
GO
