USE [Vale]
GO
/****** Object:  Table [dbo].[Rl_Rateio_Fatura]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rl_Rateio_Fatura](
	[Id_Rateio] [int] NOT NULL,
	[Id_Fatura] [int] NOT NULL,
 CONSTRAINT [PK_Rl_Rateio_Fatura] PRIMARY KEY CLUSTERED 
(
	[Id_Rateio] ASC,
	[Id_Fatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rl_Rateio_Fatura]  WITH NOCHECK ADD  CONSTRAINT [FK_Rl_Rateio_Fatura_Fatura] FOREIGN KEY([Id_Fatura])
REFERENCES [dbo].[Fatura] ([Id_Fatura])
GO
ALTER TABLE [dbo].[Rl_Rateio_Fatura] CHECK CONSTRAINT [FK_Rl_Rateio_Fatura_Fatura]
GO
ALTER TABLE [dbo].[Rl_Rateio_Fatura]  WITH NOCHECK ADD  CONSTRAINT [FK_Rl_Rateio_Fatura_Rateio] FOREIGN KEY([Id_Rateio])
REFERENCES [dbo].[Rateio] ([Id_Rateio])
GO
ALTER TABLE [dbo].[Rl_Rateio_Fatura] CHECK CONSTRAINT [FK_Rl_Rateio_Fatura_Rateio]
GO
