USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[pa_Ativo_Fr_Aquisicao]    Script Date: 7/6/2025 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Ativo_Fr_Aquisicao] (	@pPakage				VARCHAR(200),
												@pId_Ativo_Fr_Aquisicao	INT			= NULL,
												@pNm_Ativo_Fr_Aquisicao	VARCHAR(50)	= NULL,
												@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Ativo_Fr_Aquisicao WHERE Id_Ativo_Fr_Aquisicao = @pId_Ativo_Fr_Aquisicao)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			UPDATE	Ativo_Fr_Aquisicao 
			SET		Nm_Ativo_Fr_Aquisicao = @pNm_Ativo_Fr_Aquisicao
			WHERE	Id_Ativo_Fr_Aquisicao = @pId_Ativo_Fr_Aquisicao
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			INSERT INTO Ativo_Fr_Aquisicao (Nm_Ativo_Fr_Aquisicao,
											Fl_Desativado) 
			VALUES(	@pNm_Ativo_Fr_Aquisicao,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Ativo_Fr_Aquisicao 
		SET		Fl_Desativado = 1 
		WHERE	Id_Ativo_Fr_Aquisicao = @pId_Ativo_Fr_Aquisicao
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Ativo_Fr_Aquisicao,'') AS Id_Ativo_Fr_Aquisicao,
			ISNULL(Nm_Ativo_Fr_Aquisicao,'') AS Nm_Ativo_Fr_Aquisicao
	FROM	vw_Ativo_Fr_Aquisicao
	WHERE	Id_Ativo_Fr_Aquisicao = @pId_Ativo_Fr_Aquisicao
END


GO
