USE [Vale]
GO
/****** Object:  Table [dbo].[Auditoria_Conta]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria_Conta](
	[Id_Auditoria_Conta] [int] IDENTITY(1,1) NOT NULL,
	[Id_Auditoria_Lote] [int] NOT NULL,
	[Conta] [varchar](50) NOT NULL,
	[Valor] [numeric](13, 2) NOT NULL,
 CONSTRAINT [PK_Auditoria_Conta] PRIMARY KEY CLUSTERED 
(
	[Id_Auditoria_Conta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auditoria_Conta]  WITH NOCHECK ADD  CONSTRAINT [FK_Auditoria_Lote_Auditoria] FOREIGN KEY([Id_Auditoria_Lote])
REFERENCES [dbo].[Auditoria_Lote] ([Id_Auditoria_Lote])
GO
ALTER TABLE [dbo].[Auditoria_Conta] CHECK CONSTRAINT [FK_Auditoria_Lote_Auditoria]
GO
