USE [Vale]
GO
/****** Object:  View [dbo].[vw_Ativo_BI]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*
	VIEW CRIADO POR ALEXANDRE YAMAMOTO	
	09/09/2022 

	VIEW DE ATIVOS PARA O POWER BI
	*/
CREATE     VIEW [dbo].[vw_Ativo_BI]
AS
SELECT DISTINCT 
                         a.Id_Ativo,
						 A.Nr_Ativo AS NUMERO_ATIVO, 
						 ATS.Nm_Ativo_Status AS STATUS_ATIVO, 
						 ISNULL (CO.Tipo, At.Nm_Ativo_Tipo)AS TIPO_ATIVO,
						 --At.Nm_Ativo_Tipo AS TIPO_ATIVO, 
						 ATG.Nm_Ativo_Tipo_Grupo AS GRUPO_ATIVO, 
						 --CO.Nm_Conglomerado AS OPERADORA, 
						 ISNULL ( CO.Codigo_Operadora,CO.Nm_Conglomerado)  AS OPERADORA, 
                         C.Nm_Consumidor AS USUARIO, 
						 CC.Nm_Centro_Custo AS [Centro de Custo], 
						 (select top (1) Nm_Holding  from vw_Holding) as [Base Cliente]
FROM            dbo.Ativo AS A INNER JOIN
                         dbo.Ativo_Tipo AS At ON At.Id_Ativo_Tipo = A.Id_Ativo_Tipo INNER JOIN
                         dbo.Ativo_Status AS ATS ON ATS.Id_Ativo_Status = A.Id_Ativo_Status INNER JOIN
                         dbo.Ativo_Tipo_Grupo AS ATG ON ATG.Id_Ativo_Tipo_Grupo = At.Id_Ativo_Tipo_Grupo INNER JOIN
                         dbo.Conglomerado AS CO ON CO.Id_Conglomerado = A.Id_Conglomerado LEFT OUTER JOIN
                         dbo.Rl_Consumidor_Ativo AS RL ON RL.Id_Ativo = A.Id_Ativo INNER JOIN
                         dbo.Consumidor AS C ON C.Id_Consumidor = RL.Id_Consumidor INNER JOIN
                         dbo.Centro_Custo AS CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
GO
