USE [Vale]
GO
/****** Object:  Table [dbo].[Si_Usuario_Perfil_Acesso]    Script Date: 7/6/2025 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Si_Usuario_Perfil_Acesso](
	[Id_Usuario_Perfil_Acesso] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Usuario_Perfil_Acesso] [varchar](50) NOT NULL,
	[Id_Usuario_Perfil] [int] NOT NULL,
 CONSTRAINT [PK_Si_Usuario_Perfil_Acesso] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario_Perfil_Acesso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Si_Usuario_Perfil_Acesso]  WITH NOCHECK ADD  CONSTRAINT [FK_Si_Usuario_Perfil_Acesso_Si_Usuario_Perfil] FOREIGN KEY([Id_Usuario_Perfil])
REFERENCES [dbo].[Si_Usuario_Perfil] ([Id_Usuario_Perfil])
GO
ALTER TABLE [dbo].[Si_Usuario_Perfil_Acesso] CHECK CONSTRAINT [FK_Si_Usuario_Perfil_Acesso_Si_Usuario_Perfil]
GO
