USE [Vale]
GO
/****** Object:  View [dbo].[vw_estoque_consumidor_cargo_BI]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*
	VIEW CRIADO POR ALEXANDRE YAMAMOTO	
	09/09/2022 

	VIEW DE ATIVOS PARA O POWER BI
	*/


CREATE VIEW [dbo].[vw_estoque_consumidor_cargo_BI]
AS
SELECT        ea.Id_Aparelho, Nm_Consumidor AS CONSUMIDOR, cg.Nm_Cargo AS CARGO, M.Nm_Ativo_Modelo AS MODELO, f.Nm_Ativo_Fabricante AS FABRICANTE, (select top (1) Nm_Holding  from vw_Holding) as [Base Cliente]
FROM            dbo.Estoque_Aparelho AS EA FULL OUTER JOIN
                         dbo.Rl_Estoque_Aparelho_Ativo AS EAA ON EAA.Id_Aparelho = EA.Id_Aparelho LEFT OUTER JOIN
                         dbo.Rl_Perfil_Ativo_Usuario AS AU ON AU.Id_Ativo = EAA.Id_Ativo LEFT OUTER JOIN
                         dbo.Usuario AS U ON U.Id_Usuario = AU.Id_Usuario INNER JOIN
                         dbo.Consumidor AS C ON C.Id_Consumidor = U.Id_Consumidor INNER JOIN
                         dbo.Ativo_Modelo AS M ON M.Id_Ativo_Modelo = EA.Id_Ativo_Modelo INNER JOIN
                         dbo.Ativo_Fabricante AS f ON f.Id_Ativo_Fabricante = M.Id_Ativo_Fabricante INNER JOIN
                         dbo.Cargo AS cg ON cg.Id_Cargo = C.Id_Cargo
WHERE        (AU.Dt_Hr_Desativacao IS NULL) AND (AU.Dt_Hr_Ativacao IS NOT NULL)
GO
