USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Consumidor]    Script Date: 7/6/2025 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PRINT N'Refreshing Function [dbo].[fu_Consumo_Dados_App]...';

CREATE PROCEDURE [dbo].[cn_T_Consumidor] (@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS


SELECT Nm_Consumidor as [Nome],
Matricula as [Matricula],
Id_MDM as [VSC]
into #Temp_Export
from Consumidor 
--INNER JOIN Rl_Consumidor_Ativo RLCA on RLCA.Id_Consumidor = Consumidor.Id_Consumidor
--LEFT JOIN Ativo A on RLCA.Id_Ativo = A.Id_Ativo

-----exportacao
IF @pPakage = 'sp_Inventario_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Inventario'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grafrico
IF @pPakage = 'sp_Inventario_Grafico'
BEGIN
	SELECT * FROM #Temp_Export
END
GO
