USE [Vale]
GO
/****** Object:  Table [dbo].[Empresa_Staging]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa_Staging](
	[Nm_Empresa] [varchar](50) NOT NULL,
	[CNPJ] [varchar](50) NULL,
	[Fl_Desativado] [int] NULL,
	[Dt_Inclusao_Staging] [datetime] NULL,
	[Cd_Empresa] [varchar](50) NULL,
	[Id_Holding] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Empresa_Staging] ADD  DEFAULT (getdate()) FOR [Dt_Inclusao_Staging]
GO
