USE [Vale]
GO
/****** Object:  Table [dbo].[Bilhete_Data]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bilhete_Data](
	[Id_Lote] [float] NOT NULL,
	[Menor] [datetime] NOT NULL,
	[Maior] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bilhete_Data]  WITH NOCHECK ADD  CONSTRAINT [FK_Bilhete_Data_Lote] FOREIGN KEY([Id_Lote])
REFERENCES [dbo].[Lote] ([Id_Lote])
GO
ALTER TABLE [dbo].[Bilhete_Data] CHECK CONSTRAINT [FK_Bilhete_Data_Lote]
GO
