USE [Vale]
GO
/****** Object:  Table [dbo].[Rl_Estoque_Aparelho_Ativo]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rl_Estoque_Aparelho_Ativo](
	[Id_Aparelho] [int] NOT NULL,
	[Id_Ativo] [int] NOT NULL,
 CONSTRAINT [PK_Rl_Estoque_Aparelho_Ativo] PRIMARY KEY CLUSTERED 
(
	[Id_Aparelho] ASC,
	[Id_Ativo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rl_Estoque_Aparelho_Ativo]  WITH NOCHECK ADD  CONSTRAINT [FK_Rl_Estoque_Aparelho_Ativo_Ativo] FOREIGN KEY([Id_Ativo])
REFERENCES [dbo].[Ativo] ([Id_Ativo])
GO
ALTER TABLE [dbo].[Rl_Estoque_Aparelho_Ativo] CHECK CONSTRAINT [FK_Rl_Estoque_Aparelho_Ativo_Ativo]
GO
ALTER TABLE [dbo].[Rl_Estoque_Aparelho_Ativo]  WITH NOCHECK ADD  CONSTRAINT [FK_Rl_Estoque_Aparelho_Ativo_Estoque_Aparelho] FOREIGN KEY([Id_Aparelho])
REFERENCES [dbo].[Estoque_Aparelho] ([Id_Aparelho])
GO
ALTER TABLE [dbo].[Rl_Estoque_Aparelho_Ativo] CHECK CONSTRAINT [FK_Rl_Estoque_Aparelho_Ativo_Estoque_Aparelho]
GO
