USE [Vale]
GO
/****** Object:  Table [dbo].[Aceite_Termo_Responsabilidade]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aceite_Termo_Responsabilidade](
	[Id_Aceite] [int] IDENTITY(1,1) NOT NULL,
	[Id_Consumidor] [int] NOT NULL,
	[Id_Ativo] [int] NOT NULL,
	[Hash_Acesso] [varchar](200) NOT NULL,
	[Dt_Envio_Email] [datetime] NULL,
	[Email_EnviadoPara] [varchar](255) NULL,
	[Dt_Aceite] [datetime] NULL,
	[Flg_Aceite] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Aceite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aceite_Termo_Responsabilidade] ADD  DEFAULT ((0)) FOR [Flg_Aceite]
GO
ALTER TABLE [dbo].[Aceite_Termo_Responsabilidade]  WITH CHECK ADD  CONSTRAINT [FK_Aceite_Ativo] FOREIGN KEY([Id_Ativo])
REFERENCES [dbo].[Ativo] ([Id_Ativo])
GO
ALTER TABLE [dbo].[Aceite_Termo_Responsabilidade] CHECK CONSTRAINT [FK_Aceite_Ativo]
GO
ALTER TABLE [dbo].[Aceite_Termo_Responsabilidade]  WITH CHECK ADD  CONSTRAINT [FK_Aceite_Consumidor] FOREIGN KEY([Id_Consumidor])
REFERENCES [dbo].[Consumidor] ([Id_Consumidor])
GO
ALTER TABLE [dbo].[Aceite_Termo_Responsabilidade] CHECK CONSTRAINT [FK_Aceite_Consumidor]
GO
