USE [Vale]
GO
/****** Object:  Table [dbo].[Contrato]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contrato](
	[Id_Contrato] [int] IDENTITY(1,1) NOT NULL,
	[Nr_Contrato] [varchar](50) NOT NULL,
	[Descricao] [varchar](100) NOT NULL,
	[Id_Contrato_Status] [int] NOT NULL,
	[Id_Servico] [int] NOT NULL,
	[Dt_Inicio_Vigencia] [datetime] NOT NULL,
	[Dt_Fim_Vigencia] [datetime] NULL,
	[Id_Filial] [int] NULL,
	[Id_Empresa_Contratada] [int] NOT NULL,
	[Objeto] [varchar](8000) NOT NULL,
	[Fl_Desativado] [int] NOT NULL,
	[Id_Contrato_Indice] [int] NULL,
 CONSTRAINT [PK_Contrato] PRIMARY KEY CLUSTERED 
(
	[Id_Contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contrato]  WITH NOCHECK ADD  CONSTRAINT [FK_Contrato_Contrato_Indice] FOREIGN KEY([Id_Contrato_Indice])
REFERENCES [dbo].[Contrato_Indice] ([Id_Contrato_Indice])
GO
ALTER TABLE [dbo].[Contrato] CHECK CONSTRAINT [FK_Contrato_Contrato_Indice]
GO
ALTER TABLE [dbo].[Contrato]  WITH NOCHECK ADD  CONSTRAINT [FK_Contrato_Contrato_Status] FOREIGN KEY([Id_Contrato_Status])
REFERENCES [dbo].[Contrato_Status] ([Id_Contrato_Status])
GO
ALTER TABLE [dbo].[Contrato] CHECK CONSTRAINT [FK_Contrato_Contrato_Status]
GO
ALTER TABLE [dbo].[Contrato]  WITH NOCHECK ADD  CONSTRAINT [FK_Contrato_Empresa_Contratada] FOREIGN KEY([Id_Empresa_Contratada])
REFERENCES [dbo].[Empresa_Contratada] ([Id_Empresa_Contratada])
GO
ALTER TABLE [dbo].[Contrato] CHECK CONSTRAINT [FK_Contrato_Empresa_Contratada]
GO
ALTER TABLE [dbo].[Contrato]  WITH NOCHECK ADD  CONSTRAINT [FK_Contrato_Filial] FOREIGN KEY([Id_Filial])
REFERENCES [dbo].[Filial] ([Id_Filial])
GO
ALTER TABLE [dbo].[Contrato] CHECK CONSTRAINT [FK_Contrato_Filial]
GO
ALTER TABLE [dbo].[Contrato]  WITH NOCHECK ADD  CONSTRAINT [FK_Contrato_Servico] FOREIGN KEY([Id_Servico])
REFERENCES [dbo].[Servico] ([Id_Servico])
GO
ALTER TABLE [dbo].[Contrato] CHECK CONSTRAINT [FK_Contrato_Servico]
GO
