USE [Vale]
GO
/****** Object:  Table [dbo].[Rl_Usuario_Grupo_Si_Tela]    Script Date: 7/6/2025 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rl_Usuario_Grupo_Si_Tela](
	[Id_Usuario_Grupo] [int] NOT NULL,
	[Id_Tela] [int] NOT NULL,
 CONSTRAINT [PK_Rl_Usuario_Grupo_Si_Tela] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario_Grupo] ASC,
	[Id_Tela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rl_Usuario_Grupo_Si_Tela]  WITH NOCHECK ADD  CONSTRAINT [FK_Rl_Usuario_Grupo_Si_Tela_Si_Tela] FOREIGN KEY([Id_Tela])
REFERENCES [dbo].[Si_Tela] ([Id_Tela])
GO
ALTER TABLE [dbo].[Rl_Usuario_Grupo_Si_Tela] CHECK CONSTRAINT [FK_Rl_Usuario_Grupo_Si_Tela_Si_Tela]
GO
ALTER TABLE [dbo].[Rl_Usuario_Grupo_Si_Tela]  WITH NOCHECK ADD  CONSTRAINT [FK_Rl_Usuario_Grupo_Si_Tela_Usuario_Grupo] FOREIGN KEY([Id_Usuario_Grupo])
REFERENCES [dbo].[Usuario_Grupo] ([Id_Usuario_Grupo])
GO
ALTER TABLE [dbo].[Rl_Usuario_Grupo_Si_Tela] CHECK CONSTRAINT [FK_Rl_Usuario_Grupo_Si_Tela_Usuario_Grupo]
GO
