USE [Vale]
GO
/****** Object:  Table [dbo].[Consumidor_Unidade]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consumidor_Unidade](
	[Id_Consumidor_Unidade] [int] IDENTITY(1,1) NOT NULL,
	[Id_Consumidor] [int] NOT NULL,
	[Nm_Unidade] [varchar](100) NULL,
	[CNPJ] [varchar](20) NULL,
	[IE] [varchar](20) NULL,
	[Data_Ativacao] [datetime] NULL,
	[Observacao] [varchar](800) NULL,
	[Entrega_Contato] [varchar](100) NULL,
	[Entrega_Endereco] [varchar](600) NULL,
	[Entrega_Telefone] [varchar](50) NULL,
	[Faturamento_Contato] [varchar](100) NULL,
	[Faturamento_Endereco] [varchar](600) NULL,
	[Faturamento_CNPJ] [varchar](20) NULL,
	[Faturamento_IE] [varchar](20) NULL,
	[Faturamento_Email] [varchar](100) NULL,
	[Faturamento_Telefone] [varchar](50) NULL,
	[Matricula] [varchar](100) NULL,
	[Id_Conglomerado] [int] NULL,
 CONSTRAINT [PK_Consumidor_Unidade] PRIMARY KEY CLUSTERED 
(
	[Id_Consumidor_Unidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Consumidor_Unidade]  WITH NOCHECK ADD  CONSTRAINT [FK_Consumidor_Unidade_Conglomerado] FOREIGN KEY([Id_Conglomerado])
REFERENCES [dbo].[Conglomerado] ([Id_Conglomerado])
GO
ALTER TABLE [dbo].[Consumidor_Unidade] CHECK CONSTRAINT [FK_Consumidor_Unidade_Conglomerado]
GO
ALTER TABLE [dbo].[Consumidor_Unidade]  WITH NOCHECK ADD  CONSTRAINT [FK_Consumidor_Unidade_Consumidor] FOREIGN KEY([Id_Consumidor])
REFERENCES [dbo].[Consumidor] ([Id_Consumidor])
GO
ALTER TABLE [dbo].[Consumidor_Unidade] CHECK CONSTRAINT [FK_Consumidor_Unidade_Consumidor]
GO
