USE [Vale]
GO
/****** Object:  Table [dbo].[Auditoria_Texto]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria_Texto](
	[Id_Auditoria_Texto] [int] IDENTITY(1,1) NOT NULL,
	[Id_Auditoria_lote] [int] NOT NULL,
	[Descricao] [varchar](8000) NOT NULL,
	[Data] [datetime] NOT NULL,
	[Dt_Resposta] [datetime] NOT NULL,
 CONSTRAINT [PK_Auditoria_Texto] PRIMARY KEY CLUSTERED 
(
	[Id_Auditoria_Texto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auditoria_Texto]  WITH NOCHECK ADD  CONSTRAINT [FK_Auditoria_Texto_Auditoria_Lote] FOREIGN KEY([Id_Auditoria_lote])
REFERENCES [dbo].[Auditoria_Lote] ([Id_Auditoria_Lote])
GO
ALTER TABLE [dbo].[Auditoria_Texto] CHECK CONSTRAINT [FK_Auditoria_Texto_Auditoria_Lote]
GO
