USE [Vale]
GO
/****** Object:  Table [dbo].[Temp_Rateio]    Script Date: 7/6/2025 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_Rateio](
	[Id_Centro_Custo] [int] NOT NULL,
	[Nr_Ativo] [varchar](50) NOT NULL,
	[Porcentagem] [numeric](13, 8) NOT NULL,
	[Valor_Rateado] [numeric](13, 8) NOT NULL,
	[Valor_Base] [numeric](13, 2) NOT NULL,
	[Id_Rateio] [int] NOT NULL,
	[Valor_Bilhete] [numeric](38, 2) NOT NULL,
	[Diferenca] [numeric](20, 8) NOT NULL,
	[Total_Fatura] [numeric](13, 2) NOT NULL,
	[Total_Bilhete] [numeric](38, 2) NOT NULL,
	[Valor_Auditado] [numeric](38, 2) NOT NULL
) ON [PRIMARY]
GO
