USE [Vale]
GO
/****** Object:  Table [dbo].[Si_KPI]    Script Date: 7/6/2025 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Si_KPI](
	[Fl_Carga_Auditada] [int] NOT NULL,
	[Dia_Entrega_RH] [int] NOT NULL,
	[Dia_Entrega_Rateio] [int] NOT NULL,
	[Dia_Carga] [int] NOT NULL,
	[Nm_Filial] [varchar](50) NULL,
	[Nm_Centro_Custo] [varchar](50) NULL,
	[Nm_Departamento] [varchar](50) NULL,
	[Nm_Setor] [varchar](50) NULL,
	[Nm_Secao] [varchar](50) NULL
) ON [PRIMARY]
GO
