USE [Vale]
GO
/****** Object:  Table [dbo].[Filial]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filial](
	[Id_Filial] [int] IDENTITY(1,1) NOT NULL,
	[Cd_Filial] [varchar](20) NULL,
	[Nm_Filial] [varchar](50) NOT NULL,
	[CNPJ] [varchar](50) NULL,
	[Endereco] [varchar](300) NULL,
	[Id_Empresa] [int] NULL,
	[Hi_Departamento] [int] NULL,
	[Hi_Setor] [int] NULL,
	[Hi_Secao] [int] NULL,
	[Fl_Desativado] [int] NOT NULL,
 CONSTRAINT [PK_Filial] PRIMARY KEY CLUSTERED 
(
	[Id_Filial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Filial]  WITH NOCHECK ADD  CONSTRAINT [FK_Filial_Filial] FOREIGN KEY([Id_Empresa])
REFERENCES [dbo].[Empresa] ([Id_Empresa])
GO
ALTER TABLE [dbo].[Filial] CHECK CONSTRAINT [FK_Filial_Filial]
GO
