USE [Vale]
GO
/****** Object:  Table [dbo].[Rl_Usuario_Grupo_Si_Template]    Script Date: 7/6/2025 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rl_Usuario_Grupo_Si_Template](
	[Id_Usuario_Grupo] [int] NOT NULL,
	[Id_Template] [int] NOT NULL,
 CONSTRAINT [PK_Rl_Usuario_Grupo_Si_Template] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario_Grupo] ASC,
	[Id_Template] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rl_Usuario_Grupo_Si_Template]  WITH NOCHECK ADD  CONSTRAINT [FK_Rl_Usuario_Grupo_Si_Template_Si_Template] FOREIGN KEY([Id_Template])
REFERENCES [dbo].[Si_Template] ([Id_Template])
GO
ALTER TABLE [dbo].[Rl_Usuario_Grupo_Si_Template] CHECK CONSTRAINT [FK_Rl_Usuario_Grupo_Si_Template_Si_Template]
GO
ALTER TABLE [dbo].[Rl_Usuario_Grupo_Si_Template]  WITH NOCHECK ADD  CONSTRAINT [FK_Rl_Usuario_Grupo_Si_Template_Usuario_Grupo] FOREIGN KEY([Id_Usuario_Grupo])
REFERENCES [dbo].[Usuario_Grupo] ([Id_Usuario_Grupo])
GO
ALTER TABLE [dbo].[Rl_Usuario_Grupo_Si_Template] CHECK CONSTRAINT [FK_Rl_Usuario_Grupo_Si_Template_Usuario_Grupo]
GO
