USE [Vale]
GO
/****** Object:  Table [dbo].[Chamado_Tipo]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chamado_Tipo](
	[Id_Tipo_Solicitacao] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Tipo_Solicitacao] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Tipo_Solicitacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
