USE [Vale]
GO
/****** Object:  Table [dbo].[Rl_Perfil_Setor_Usuario]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rl_Perfil_Setor_Usuario](
	[Id_Setor] [int] NOT NULL,
	[Id_Usuario] [int] NOT NULL,
 CONSTRAINT [PK_Rl_Perfil_Setor_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id_Setor] ASC,
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rl_Perfil_Setor_Usuario]  WITH NOCHECK ADD  CONSTRAINT [FK_Rl_Perfil_Setor_Usuario_Rl_Perfil_Setor_Usuario] FOREIGN KEY([Id_Setor])
REFERENCES [dbo].[Setor] ([Id_Setor])
GO
ALTER TABLE [dbo].[Rl_Perfil_Setor_Usuario] CHECK CONSTRAINT [FK_Rl_Perfil_Setor_Usuario_Rl_Perfil_Setor_Usuario]
GO
ALTER TABLE [dbo].[Rl_Perfil_Setor_Usuario]  WITH NOCHECK ADD  CONSTRAINT [FK_Rl_Perfil_Setor_Usuario_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id_Usuario])
GO
ALTER TABLE [dbo].[Rl_Perfil_Setor_Usuario] CHECK CONSTRAINT [FK_Rl_Perfil_Setor_Usuario_Usuario]
GO
