USE [Vale]
GO
/****** Object:  Table [dbo].[Consumidor_Satus_Data]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consumidor_Satus_Data](
	[Id_Consumidor] [int] NOT NULL,
	[Dt_Admissao] [datetime] NOT NULL,
	[Dt_Demissao] [datetime] NULL,
 CONSTRAINT [PK_Consumidor_Satus_Data] PRIMARY KEY CLUSTERED 
(
	[Id_Consumidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Consumidor_Satus_Data]  WITH NOCHECK ADD  CONSTRAINT [FK_Consumidor_Satus_Data_Consumidor] FOREIGN KEY([Id_Consumidor])
REFERENCES [dbo].[Consumidor] ([Id_Consumidor])
GO
ALTER TABLE [dbo].[Consumidor_Satus_Data] CHECK CONSTRAINT [FK_Consumidor_Satus_Data_Consumidor]
GO
