USE [Vale]
GO
/****** Object:  Table [dbo].[Si_Aproveitamento]    Script Date: 7/6/2025 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Si_Aproveitamento](
	[DB_Tipo_Parametro_PCT] [varchar](50) NOT NULL,
	[Descricao_PCT] [varchar](50) NOT NULL,
	[DB_Tipo_Parametro_BLT] [varchar](50) NOT NULL,
	[Descricao_BLT] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Si_Aproveitamento] PRIMARY KEY CLUSTERED 
(
	[DB_Tipo_Parametro_PCT] ASC,
	[DB_Tipo_Parametro_BLT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
