USE [Vale]
GO
/****** Object:  Table [dbo].[Lote]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lote](
	[Id_Lote] [float] NOT NULL,
	[Id_Ativo] [int] NOT NULL,
	[Dt_Lote] [datetime] NOT NULL,
	[Dt_Liberacao_Lote] [datetime] NULL,
	[Total] [numeric](13, 2) NULL,
	[Total_Sem_Auditoria] [numeric](13, 2) NULL,
	[Total_Cobrado] [numeric](13, 2) NULL,
	[Total_Devolucao] [numeric](13, 2) NULL,
	[Total_Final_Semana] [numeric](13, 2) NULL,
	[Fora_Horario] [numeric](13, 2) NULL,
	[Dentro_Horario] [numeric](13, 2) NULL,
	[Trafego] [numeric](13, 2) NULL,
	[DC_Nr_Nota_Fiscal] [varchar](50) NULL,
 CONSTRAINT [PK_Lote] PRIMARY KEY CLUSTERED 
(
	[Id_Lote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Lote]  WITH NOCHECK ADD  CONSTRAINT [FK_Lote_Ativo] FOREIGN KEY([Id_Ativo])
REFERENCES [dbo].[Ativo] ([Id_Ativo])
GO
ALTER TABLE [dbo].[Lote] CHECK CONSTRAINT [FK_Lote_Ativo]
GO
