USE [Vale]
GO
/****** Object:  Table [dbo].[Auditoria_Acompanhamento]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria_Acompanhamento](
	[Id_Auditoria_Acompanhamento] [int] IDENTITY(1,1) NOT NULL,
	[Id_Auditoria_Lote] [int] NOT NULL,
	[Id_Auditoria_Conta] [int] NULL,
	[Id_Auditoria_Status] [int] NOT NULL,
	[Descricao] [varchar](800) NOT NULL,
	[Data_Prevista] [datetime] NOT NULL,
	[Valor_Previsto] [numeric](13, 2) NOT NULL,
 CONSTRAINT [PK_Auditoria_Acompanhamento] PRIMARY KEY CLUSTERED 
(
	[Id_Auditoria_Acompanhamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auditoria_Acompanhamento]  WITH NOCHECK ADD  CONSTRAINT [FK_Auditoria_Acompanhamento_Auditoria_Acompanhamento] FOREIGN KEY([Id_Auditoria_Lote])
REFERENCES [dbo].[Auditoria_Lote] ([Id_Auditoria_Lote])
GO
ALTER TABLE [dbo].[Auditoria_Acompanhamento] CHECK CONSTRAINT [FK_Auditoria_Acompanhamento_Auditoria_Acompanhamento]
GO
ALTER TABLE [dbo].[Auditoria_Acompanhamento]  WITH NOCHECK ADD  CONSTRAINT [FK_Auditoria_Acompanhamento_Auditoria_Detalhe] FOREIGN KEY([Id_Auditoria_Conta])
REFERENCES [dbo].[Auditoria_Conta] ([Id_Auditoria_Conta])
GO
ALTER TABLE [dbo].[Auditoria_Acompanhamento] CHECK CONSTRAINT [FK_Auditoria_Acompanhamento_Auditoria_Detalhe]
GO
ALTER TABLE [dbo].[Auditoria_Acompanhamento]  WITH NOCHECK ADD  CONSTRAINT [FK_Auditoria_Acompanhamento_Auditoria_Status] FOREIGN KEY([Id_Auditoria_Status])
REFERENCES [dbo].[Auditoria_Status] ([Id_Auditoria_Status])
GO
ALTER TABLE [dbo].[Auditoria_Acompanhamento] CHECK CONSTRAINT [FK_Auditoria_Acompanhamento_Auditoria_Status]
GO
