USE [Vale]
GO
/****** Object:  UserDefinedFunction [dbo].[fnSplitString]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnSplitString]
(
    @string NVARCHAR(MAX),
    @delimiter NVARCHAR(100)  -- Aumentei o tamanho do delimitador para suportar múltiplos caracteres
)
RETURNS @output TABLE
(
    [Item] NVARCHAR(MAX)
)
AS
BEGIN
    DECLARE @start INT, @end INT
    SET @start = 1
    SET @end = CHARINDEX(@delimiter, @string)

    WHILE @start <= LEN(@string)
    BEGIN
        IF @end = 0  
            SET @end = LEN(@string) + 1

        INSERT INTO @output ([Item])
        VALUES(SUBSTRING(@string, @start, @end - @start))

        -- Avança o início para após o delimitador
        SET @start = @end + LEN(@delimiter)
        -- Encontra o próximo delimitador
        SET @end = CHARINDEX(@delimiter, @string, @start)
    END

    RETURN
END
GO
