USE [Vale]
GO
/****** Object:  Table [dbo].[Contrato_Bilhete]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contrato_Bilhete](
	[DB_Tipo_Parametro] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Contrato_Bilhete] PRIMARY KEY CLUSTERED 
(
	[DB_Tipo_Parametro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
