USE [Vale]
GO
/****** Object:  Table [dbo].[Estoque_Aparelho]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estoque_Aparelho](
	[Id_Aparelho] [int] IDENTITY(1,1) NOT NULL,
	[Nr_Aparelho] [varchar](50) NOT NULL,
	[Nr_Linha_Solicitacao] [varchar](50) NULL,
	[Nr_Chamado] [varchar](50) NOT NULL,
	[Dt_Chamado] [datetime] NOT NULL,
	[Nr_Pedido] [varchar](50) NULL,
	[Dt_Pedido] [datetime] NULL,
	[Id_Estoque_Nota_Fiscal] [int] NOT NULL,
	[Id_Conglomerado] [int] NOT NULL,
	[Id_Aparelho_Tipo] [int] NOT NULL,
	[Id_Ativo_Tipo] [int] NOT NULL,
	[Id_Ativo_Modelo] [int] NULL,
	[Id_Estoque_Aparelho_Status] [int] NULL,
	[Observacao] [varchar](300) NULL,
	[Justificativa_Desativacao] [varchar](300) NULL,
	[Id_Estoque_Endereco_Entrega] [int] NULL,
	[Id_Consumidor] [int] NOT NULL,
	[Fl_Desativado] [int] NOT NULL,
	[Nr_Aparelho_2] [varchar](50) NULL,
	[Ck_Carregador] [int] NULL,
	[Ck_Cabousb] [int] NULL,
	[Ck_Fone] [int] NULL,
	[Ck_Pelicula] [int] NULL,
	[Ck_Capaprotecao] [int] NULL,
 CONSTRAINT [PK_Estoque_Aparelho] PRIMARY KEY CLUSTERED 
(
	[Id_Aparelho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Estoque_Aparelho]  WITH NOCHECK ADD  CONSTRAINT [FK_Estoque_Aparelho_Ativo_Modelo] FOREIGN KEY([Id_Ativo_Modelo])
REFERENCES [dbo].[Ativo_Modelo] ([Id_Ativo_Modelo])
GO
ALTER TABLE [dbo].[Estoque_Aparelho] CHECK CONSTRAINT [FK_Estoque_Aparelho_Ativo_Modelo]
GO
ALTER TABLE [dbo].[Estoque_Aparelho]  WITH NOCHECK ADD  CONSTRAINT [FK_Estoque_Aparelho_Ativo_Tipo] FOREIGN KEY([Id_Ativo_Tipo])
REFERENCES [dbo].[Ativo_Tipo] ([Id_Ativo_Tipo])
GO
ALTER TABLE [dbo].[Estoque_Aparelho] CHECK CONSTRAINT [FK_Estoque_Aparelho_Ativo_Tipo]
GO
ALTER TABLE [dbo].[Estoque_Aparelho]  WITH NOCHECK ADD  CONSTRAINT [FK_Estoque_Aparelho_Conglomerado] FOREIGN KEY([Id_Conglomerado])
REFERENCES [dbo].[Conglomerado] ([Id_Conglomerado])
GO
ALTER TABLE [dbo].[Estoque_Aparelho] CHECK CONSTRAINT [FK_Estoque_Aparelho_Conglomerado]
GO
ALTER TABLE [dbo].[Estoque_Aparelho]  WITH NOCHECK ADD  CONSTRAINT [FK_Estoque_Aparelho_Consumidor] FOREIGN KEY([Id_Consumidor])
REFERENCES [dbo].[Consumidor] ([Id_Consumidor])
GO
ALTER TABLE [dbo].[Estoque_Aparelho] CHECK CONSTRAINT [FK_Estoque_Aparelho_Consumidor]
GO
ALTER TABLE [dbo].[Estoque_Aparelho]  WITH NOCHECK ADD  CONSTRAINT [FK_Estoque_Aparelho_Estoque_Aparelho] FOREIGN KEY([Id_Estoque_Nota_Fiscal])
REFERENCES [dbo].[Estoque_Nota_Fiscal] ([Id_Estoque_Nota_Fiscal])
GO
ALTER TABLE [dbo].[Estoque_Aparelho] CHECK CONSTRAINT [FK_Estoque_Aparelho_Estoque_Aparelho]
GO
ALTER TABLE [dbo].[Estoque_Aparelho]  WITH NOCHECK ADD  CONSTRAINT [FK_Estoque_Aparelho_Estoque_Aparelho_Status] FOREIGN KEY([Id_Estoque_Aparelho_Status])
REFERENCES [dbo].[Estoque_Aparelho_Status] ([Id_Estoque_Aparelho_Status])
GO
ALTER TABLE [dbo].[Estoque_Aparelho] CHECK CONSTRAINT [FK_Estoque_Aparelho_Estoque_Aparelho_Status]
GO
ALTER TABLE [dbo].[Estoque_Aparelho]  WITH NOCHECK ADD  CONSTRAINT [FK_Estoque_Aparelho_Estoque_Endereco_Entrega] FOREIGN KEY([Id_Estoque_Endereco_Entrega])
REFERENCES [dbo].[Estoque_Endereco_Entrega] ([Id_Estoque_Endereco_Entrega])
GO
ALTER TABLE [dbo].[Estoque_Aparelho] CHECK CONSTRAINT [FK_Estoque_Aparelho_Estoque_Endereco_Entrega]
GO
ALTER TABLE [dbo].[Estoque_Aparelho]  WITH NOCHECK ADD  CONSTRAINT [FK_Estoque_Aparelho_Estoque_Nota_Fiscal] FOREIGN KEY([Id_Estoque_Nota_Fiscal])
REFERENCES [dbo].[Estoque_Nota_Fiscal] ([Id_Estoque_Nota_Fiscal])
GO
ALTER TABLE [dbo].[Estoque_Aparelho] CHECK CONSTRAINT [FK_Estoque_Aparelho_Estoque_Nota_Fiscal]
GO
