USE [Vale]
GO
/****** Object:  Table [dbo].[Usuario_Grupo]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Grupo](
	[Id_Usuario_Grupo] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Usuario_Grupo] [varchar](50) NULL,
 CONSTRAINT [PK_Usuario_Grupo] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario_Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
