USE [Vale]
GO
/****** Object:  View [dbo].[vw_parcelamento_BI]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*
	VIEW CRIADO POR ALEXANDRE YAMAMOTO	
	09/09/2022 

	VIEW DE ATIVOS PARA O POWER BI
	*/

	

CREATE   VIEW [dbo].[vw_parcelamento_BI]
AS
SELECT     	TOP (100) PERCENT 
			--C.Nm_Conglomerado AS Operadora, 
			ISNULL (C.Codigo_Operadora,  C.Nm_Conglomerado)AS OPERADORA,
			SUM(b.DB_Custo) AS [Custo Total], 
			SUBSTRING(CONVERT(VARCHAR(6), L.Dt_Lote, 112), 1, 6) AS LOTE,
			(select top (1) Nm_Holding  from vw_Holding) as [Base Cliente]
			
			
			
FROM            dbo.Bilhete AS b INNER JOIN
                         dbo.Bilhete_Tipo AS BT ON BT.Id_Bilhete_Tipo = b.Id_Bilhete_Tipo INNER JOIN
                         dbo.Lote AS L ON L.Id_Lote = b.Id_Lote INNER JOIN
                         dbo.Ativo AS a ON a.Id_Ativo = b.Id_Ativo INNER JOIN
                         dbo.Conglomerado AS C ON C.Id_Conglomerado = a.Id_Conglomerado
WHERE        (b.DB_Tipo_Parametro = 'PARC')
GROUP BY L.Dt_Lote, C.Nm_Conglomerado, C.Codigo_Operadora
ORDER BY L.Dt_Lote
GO
