USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[pa_Ativo_Tipo]    Script Date: 7/6/2025 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Ativo_Tipo] (	@pPakage					VARCHAR(200), 
										@pId_Ativo_Tipo				INT			= NULL, 
										@pNm_Ativo_Tipo				VARCHAR(50)	= NULL, 
										@pId_Ativo_Tipo_Grupo		INT			= NULL, 
										@pEstoque_Regulador			INT			= NULL, 
										@pImagem					VARCHAR(50)	= NULL, 
										@pPhoto						VARCHAR(50)	= NULL, 
										@pId_Ativo_Tipo_Sub_Grupo	INT			= NULL, 
										@pId_Ativo_Tipo_Grupo_Tipo	INT			= NULL, 
										@pId_Conglomerado			INT			= NULL, 
										@pId_Usuario_Permissao		INT			= NULL) AS 
-----insere ou atualiza registro (ativo Tipo) 
IF @pPAKAGE = 'sp_SM' 
BEGIN 
	IF EXISTS (SELECT * FROM Ativo_Tipo WHERE Id_Ativo_Tipo = @pId_Ativo_Tipo) 
	BEGIN 
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2 
		BEGIN 
			-----ativo tipo 
			UPDATE	Ativo_Tipo  
			SET		Nm_Ativo_Tipo = @pNm_Ativo_Tipo, 
					Id_Ativo_Tipo_Grupo = @pId_Ativo_Tipo_Grupo, 
					Estoque_Regulador = @pEstoque_Regulador, 
					Id_Ativo_Tipo_Sub_Grupo = @pId_Ativo_Tipo_Sub_Grupo, 
					Id_Ativo_Tipo_Grupo_Tipo = @pId_Ativo_Tipo_Grupo_Tipo, 
					@pId_Conglomerado = @pId_Conglomerado 
			WHERE	Id_Ativo_Tipo = @pId_Ativo_Tipo 
			-----ativo tipo imagem 
			UPDATE	Ativo_Tipo_Imagem  
			SET		Imagem = ISNULL(@pImagem,'S'), 
					Photo = ISNULL(@pPhoto,'SS') 
			WHERE	Id_Ativo_Tipo = @pId_Ativo_Tipo 
			 
		END 
	END 
	ELSE 
	BEGIN 
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2 
		BEGIN 
			-----ativo tipo 
			INSERT INTO Ativo_Tipo (Nm_Ativo_Tipo, 
									Id_Ativo_Tipo_Grupo, 
									Estoque_Regulador, 
									Id_Ativo_Tipo_Sub_Grupo, 
									Id_Ativo_Tipo_Grupo_Tipo, 
									Id_Conglomerado, 
									Fl_Desativado)  
			VALUES(	@pNm_Ativo_Tipo, 
					@pId_Ativo_Tipo_Grupo, 
					@pEstoque_Regulador, 
					@pId_Ativo_Tipo_Sub_Grupo, 
					@pId_Ativo_Tipo_Grupo_Tipo, 
					@pId_Conglomerado, 
					0) 
			-----ativo tipo imagem 
			INSERT INTO Ativo_Tipo_Imagem (	Id_Ativo_Tipo, 
											Imagem, 
											Photo)  
			VALUES(	(SELECT MAX(Id_Ativo_Tipo) FROM Ativo_Tipo), 
					ISNULL(@pImagem,''), 
					ISNULL(@pPhoto,''))					 
		END 
	END 
END 
 
-----desativa resgistro 
IF @pPAKAGE = 'sp_SE' 
BEGIN 
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2 
	BEGIN 
		UPDATE	Ativo_Tipo  
		SET		Fl_Desativado = 1  
		WHERE	Id_Ativo_Tipo = @pId_Ativo_Tipo 
	END 
END 
 
-----consulta pelo ID do registro 
IF @pPAKAGE = 'sp_SL_ID' 
BEGIN 
	SELECT	ISNULL(AT.Id_Ativo_Tipo,'') AS Id_Ativo_Tipo, 
			ISNULL(AT.Nm_Ativo_Tipo,'') AS Nm_Ativo_Tipo, 
			ISNULL(AT.Id_Ativo_Tipo_Grupo,'') AS Id_Grupo_Ativo_Tipo, 
			ISNULL(AT.Estoque_Regulador, 0) AS Estoque_Regulador, 
			ISNULL(ATI.Imagem, '') AS Imagem, 
			ISNULL(ATI.Photo, '') AS Photo, 
			ISNULL(Id_Ativo_Tipo_Sub_Grupo, 0) AS Id_Ativo_Tipo_Sub_Grupo, 
			ISNULL(Id_Ativo_Tipo_Grupo_Tipo, 0) AS Id_Ativo_Tipo_Grupo_Tipo, 
			ISNULL(Id_Conglomerado, 0) AS Id_Conglomerado 
	FROM	vw_Ativo_Tipo AT LEFT JOIN Ativo_Tipo_Imagem ATI ON AT.Id_Ativo_Tipo = ATI.Id_Ativo_Tipo 
	WHERE	AT.Id_Ativo_Tipo = @pId_Ativo_Tipo 
END

-----consulta Ativo_Tipo_Grupo
IF @pPAKAGE = 'sp_SL_Ativo_Tipo_Grupo' 
BEGIN 
	SELECT	Id_Ativo_Tipo_Grupo AS Id,
            Nm_Ativo_Tipo_Grupo
	FROM	Ativo_Tipo_Grupo
	WHERE	Visivel = 2 
END
GO
