USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Chamado]    Script Date: 7/6/2025 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cn_T_Chamado] (@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS


SELECT 
    Id_Chamado,
    RequestNumber,
    WorkOrderNumber,
    Estado,
    Comentarios,
    Data_Criacao,
    Data_Atualizacao,
    Nm_Consumidor,
    Nr_Ativo,
    Nm_Conglomerado,
    Nm_Tipo_Solicitacao,
    UltimaAcao,
    ErroSistema,
    LogErro INTO #temp_Export FROM Chamado C
	LEFT JOIN Consumidor CO on C.Id_Consumidor = CO.Id_Consumidor
	LEFT JOIN Ativo A on C.Id_Ativo = A.Id_Ativo
	LEFT JOIN Conglomerado CG on C.Id_Conglomerado = CG.Id_Conglomerado
	LEFT JOIN Chamado_Tipo CT on C.Id_Tipo_Solicitacao = CT.Id_Tipo_Solicitacao

IF @pPakage = 'sp_Inventario_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Inventario'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grafrico
IF @pPakage = 'sp_Inventario_Grafico'
BEGIN
	SELECT * FROM #temp_Export
END
GO
