USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[pa_Troca_Hierarquia]    Script Date: 7/6/2025 1:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Troca_Hierarquia] (@pPakage					VARCHAR(200),
											@pId_Filial					INT			= NULL,
											@pId_Centro_Custo			INT			= NULL,
											@pId_Departamento			INT			= NULL,
											@pId_Setor					INT			= NULL,
											@pId_Secao					INT			= NULL,
											@pId_Usuario_Permissao		INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
	BEGIN
		UPDATE	Consumidor
		SET		Id_Filial = @pId_Filial,
				Id_Centro_Custo = @pId_Centro_Custo,
				Id_Departamento = @pId_Departamento,
				Id_Setor = @pId_Setor,
				Id_Secao = @pId_Secao
		WHERE	Id_Centro_Custo = @pId_Centro_Custo				
	END
END
GO
