USE [Vale]
GO
/****** Object:  Table [dbo].[Ativo_App_Trafego]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ativo_App_Trafego](
	[Id_Ativo] [int] NOT NULL,
	[Pacote_MB] [int] NOT NULL,
	[Corte_De] [int] NOT NULL,
	[Corte_Ate] [int] NOT NULL,
	[Qtd_Mes] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ativo_App_Trafego]  WITH NOCHECK ADD  CONSTRAINT [FK_Ativo_App_Trafego_Ativo] FOREIGN KEY([Id_Ativo])
REFERENCES [dbo].[Ativo] ([Id_Ativo])
GO
ALTER TABLE [dbo].[Ativo_App_Trafego] CHECK CONSTRAINT [FK_Ativo_App_Trafego_Ativo]
GO
