USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[pa_Script_Exportacao]    Script Date: 7/6/2025 1:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Script_Exportacao] (	@pPakage				VARCHAR(200),
												@pScript				VARCHAR(200)= NULL,
												@pDt_Expotacao			DATETIME	= NULL,
												@pId_Usuario_Permissao	INT			= NULL) AS
-----exemplo
-----#0000000000matricula$0000000000valorFI0000000000000000000000000000000000000000FilialCC0000000000000000000000000000000000000000Centro_Custo
-----matricula;valor;filial;centro_custo

-----declara variavel
DECLARE @String VARCHAR(8000)
DECLARE @Caracter VARCHAR(50)
DECLARE @strCaracter VARCHAR(50)
DECLARE @vFlagExportacao INT

DECLARE @LENMatricula INT
DECLARE @LENValor INT
DECLARE @LENFilial INT
DECLARE @LENCentro_Custo INT
DECLARE @STRMatricula VARCHAR(50)
DECLARE @STRValor VARCHAR(50)
DECLARE @STRFilial VARCHAR(50)
DECLARE @STRCentro_Custo VARCHAR(50)

SELECT	@String = Script FROM Script_Exportacao	
--50 caracter
SET @Caracter = '00000000000000000000000000000000000000000000000000' 
SET @strCaracter = '                                                  '
SET @vFlagExportacao = 1

IF CHARINDEX(';', @String) = 0 
BEGIN
	SELECT	@LENMatricula = LEN(SUBSTRING(@String,CHARINDEX('#', @String)+1,(CHARINDEX('Matricula', @String) - (CHARINDEX('#', @String)+1)))),
			@STRMatricula = SUBSTRING(@String,CHARINDEX('#', @String),(CHARINDEX('Matricula', @String) - CHARINDEX('#', @String))),
			@LENValor = LEN(SUBSTRING(@String,CHARINDEX('$', @String)+1,(CHARINDEX('Valor', @String) - (CHARINDEX('$', @String)+1)))),
			@STRValor = SUBSTRING(@String,CHARINDEX('$', @String),(CHARINDEX('Valor', @String) - CHARINDEX('$', @String))),
			@LENFilial = CASE WHEN CHARINDEX('FI', @String) = 0 THEN 0 ELSE LEN(SUBSTRING(@String,CHARINDEX('FI', @String)+2,(CHARINDEX('Filial', @String) - (CHARINDEX('FI', @String)+2)))) END,
			@STRFilial = CASE WHEN CHARINDEX('FI', @String) = 0 THEN '0' ELSE SUBSTRING(@String,CHARINDEX('FI', @String),(CHARINDEX('Filial', @String) - CHARINDEX('FI', @String))) END,
			@LENCentro_Custo = CASE WHEN CHARINDEX('CC', @String) = 0 THEN 0 ELSE LEN(SUBSTRING(@String,CHARINDEX('CC', @String)+2,(CHARINDEX('Centro_Custo', @String) - (CHARINDEX('CC', @String)+2)))) END,
			@STRCentro_Custo = CASE WHEN CHARINDEX('CC', @String) = 0 THEN '0' ELSE SUBSTRING(@String,CHARINDEX('CC', @String),(CHARINDEX('Centro_Custo', @String) - CHARINDEX('CC', @String))) END
END

-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Script_Exportacao)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Script_Exportacao 
			SET		Script = @pScript
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Script_Exportacao (Script) 
			VALUES(@pScript)
		END
	END
END

-----consulta registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	TOP 1 ISNULL(Script,'') AS Script
	FROM	Script_Exportacao
END

-----consulta datas de exportacao
IF @pPakage = 'sp_Data_Export'
BEGIN
	SELECT  ROW_NUMBER () OVER (ORDER BY Dt_Exportacao) AS Codigo, 
			ISNULL(CONVERT(VARCHAR,Dt_Exportacao,120), '') AS Descricao 
	FROM	dbo.Lote_Marcacao
	WHERE	NOT Dt_Exportacao IS NULL
	GROUP BY Dt_Exportacao
	ORDER BY Dt_Exportacao
END

-----monta flag do tipo de exportacao 
IF @pPakage = 'sp_Arquivo_Wiew_Politica' OR @pPakage = 'sp_Arquivo_Exporta_Politica'
BEGIN
	SET @vFlagExportacao = 2
END
 
------------------------------------------------------------------------------------------------------------
-----monta lista de exportacao para view
IF @pPakage = 'sp_Arquivo_View' OR @pPakage = 'sp_Arquivo_Export' OR @pPakage = 'sp_Arquivo_Wiew_Politica' OR @pPakage = 'sp_Arquivo_Exporta_Politica'
BEGIN
	-----desmarca bilhete de pacote assinatura etc
	UPDATE	Bilhete
	SET		Id_Usuario = NULL
	FROM	Bilhete B	INNER JOIN Lote L ON L.Id_Lote = B.Id_Lote
						INNER JOIN Lote_Marcacao LM ON L.Id_Lote = LM.Id_Lote
	WHERE	LM.dt_Exportacao IS NULL
			AND (B.db_tipo_parametro IN (SELECT db_tipo_parametro FROM Si_Desmarca_Bilhete) 
				OR CONVERT(VARCHAR,GETDATE(),108) = '00:00:00')
			AND NOT B.Id_Usuario IS NULL
	
	-----monta base temporaria
	SELECT	* INTO #T_Base_Desc
	FROM	fu_Exporta_RH(@vFlagExportacao) MC
	WHERE	((@pDt_Expotacao IS NULL AND MC.Dt_Exportacao IS NULL) 
			OR CONVERT(VARCHAR(20), MC.Dt_Exportacao, 120)  = CONVERT(VARCHAR(20), @pDt_Expotacao, 120)) 
			AND MC.Total_Marcado > 0

	-----monta arquivo no formato do script
	IF CHARINDEX(';', @String) = 0 
	BEGIN
		SELECT	ROW_NUMBER () OVER (ORDER BY MC.Matricula,MC.Filial,MC.Centro_Custo) AS Codigo,
				CASE WHEN @LENFilial = 0 AND @LENCentro_Custo = 0 THEN
					REPLACE(
					REPLACE(@String
							,@STRMatricula+'Matricula', RIGHT(@Caracter,(@LENMatricula-LEN(MC.Matricula)))+MC.Matricula
							)
							,@STRValor+'Valor', RIGHT(@Caracter,(@LENValor-LEN(REPLACE(SUM(MC.Total_Marcado),'.',''))))+REPLACE(SUM(MC.Total_Marcado),'.','')
							)
				WHEN @LENFilial > 0 AND @LENCentro_Custo = 0 THEN
					REPLACE(
					REPLACE(
					REPLACE(@String
							,@STRMatricula+'Matricula', RIGHT(@Caracter,(@LENMatricula-LEN(MC.Matricula)))+MC.Matricula
							)
							,@STRValor+'Valor', RIGHT(@Caracter,(@LENValor-LEN(REPLACE(SUM(MC.Total_Marcado),'.',''))))+REPLACE(SUM(MC.Total_Marcado),'.','')
							)
							,@STRFilial+'Filial', MC.Filial+ RIGHT(@strCaracter,(@LENFilial-LEN(MC.Filial)))
							)
				WHEN @LENFilial = 0 AND @LENCentro_Custo > 0 THEN 
					REPLACE(
					REPLACE(
					REPLACE(@String
							,@STRMatricula+'Matricula', RIGHT(@Caracter,(@LENMatricula-LEN(MC.Matricula)))+MC.Matricula
							)
							,@STRValor+'Valor', RIGHT(@Caracter,(@LENValor-LEN(REPLACE(SUM(MC.Total_Marcado),'.',''))))+REPLACE(SUM(MC.Total_Marcado),'.','')
							)
							,@STRCentro_Custo+'Centro_Custo', MC.Centro_Custo + RIGHT(@strCaracter,(@LENCentro_Custo-LEN(MC.Centro_Custo)))
							)
				WHEN @LENFilial > 0 AND @LENCentro_Custo > 0 THEN 
					REPLACE(
					REPLACE(
					REPLACE(
					REPLACE(@String
							,@STRMatricula+'Matricula', RIGHT(@Caracter,(@LENMatricula-LEN(MC.Matricula)))+MC.Matricula
							)
							,@STRValor+'Valor', RIGHT(@Caracter,(@LENValor-LEN(REPLACE(SUM(MC.Total_Marcado),'.',''))))+REPLACE(SUM(MC.Total_Marcado),'.','')
							)
							,@STRFilial+'Filial', MC.Filial+ RIGHT(@strCaracter,(@LENFilial-LEN(MC.Filial)))
							)
							,@STRCentro_Custo+'Centro_Custo', MC.Centro_Custo + RIGHT(@strCaracter,(@LENCentro_Custo-LEN(MC.Centro_Custo)))
							)	
			END AS Descricao INTO #ArquivoTXT
		FROM	#T_Base_Desc MC
		GROUP BY MC.Matricula,MC.Filial,MC.Centro_Custo

		SELECT * FROM #ArquivoTXT WHERE NOT Descricao IS NULL AND NOT Descricao = ''
	END
	ELSE
	BEGIN
		SELECT	ROW_NUMBER () OVER (ORDER BY MC.Matricula,MC.Filial,MC.Centro_Custo) AS Codigo,
				REPLACE(
				REPLACE(
				REPLACE(
				REPLACE(@String
						,'Matricula',MC.Matricula
						)
						,'Valor', CAST(SUM(MC.Total_Marcado) AS DECIMAL(10,2))
						)
						,'Filial',MC.Filial
						)
						,'Centro_Custo',MC.Centro_Custo
						) AS Descricao INTO #ArquivoCSV
		FROM	#T_Base_Desc MC
		GROUP BY MC.Matricula,MC.Filial,MC.Centro_Custo

		SELECT * FROM #ArquivoCSV WHERE NOT Descricao IS NULL AND NOT Descricao = ''
	END
END

------------------------------------------------------------------------------------------------------------
-----monta lista de exportacao para arquivo de exportacao
IF @pPakage = 'sp_Arquivo_Export' 
BEGIN
	-----grava flag de lote exportado
	UPDATE	Lote_Marcacao
	SET		Dt_Exportacao = GETDATE()
	FROM	Lote_Marcacao LM
	WHERE	NOT LM.Dt_Fechamento IS NULL
			AND LM.Dt_Exportacao IS NULL
END

------------------------------------------------------------------------------------------------------------
-----monta lista de exportacao para arquivo de exportacao com politica e mais de 3 meses abertos
IF @pPakage = 'sp_Arquivo_Exporta_Politica' 
BEGIN
	SELECT	LT.Id_Lote AS LT_Id_Lote, 
			US.Id_Usuario AS US_Id_Usuario,
			LT.Trafego - PO.Valor_Politica AS Calc_Total_Marcado,
			LM.* INTO #Temp_Politica  
	FROM	Lote LT	INNER JOIN vw_Ativo AT ON AT.Id_Ativo = LT.Id_Ativo
					INNER JOIN vw_Alocacao_Ativo_Consumidor AC ON AC.Id_Ativo = AT.Id_Ativo
					INNER JOIN vw_Consumidor CO ON AC.Id_Consumidor = CO.Id_Consumidor
					INNER JOIN vw_Usuario US ON US.Id_Consumidor = CO.Id_Consumidor
					INNER JOIN vw_Custo_Usuario UC ON UC.Id_Lote = LT.Id_Lote AND US.Id_Usuario = UC.Id_Usuario
					INNER JOIN Politica_Consumidor PO ON PO.Id_Consumidor = AC.Id_Consumidor AND PO.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
					LEFT JOIN Lote_Marcacao LM ON LT.Id_Lote = LM.Id_Lote AND LM.Id_Usuario = US.Id_Usuario
					LEFT JOIN vw_Filial FI ON (FI.Id_Filial = CO.Id_Filial)
					LEFT JOIN vw_Centro_Custo CC ON (CC.Id_Centro_Custo = CO.Id_Centro_Custo)
	WHERE	LM.Dt_Fechamento IS NULL
			AND	(LT.Dt_Lote >= DATEADD ( MONTH ,-3, (SELECT MAX(Dt_Lote) FROM Lote)) AND LT.Dt_Lote  <= DATEADD ( MONTH ,-1, (SELECT MAX(Dt_Lote) FROM Lote)))
			AND (NOT PO.Valor_Politica IS NULL AND PO.Marca_Ligacao = 2)
			AND NOT US.Fl_Desativado = 3
			AND UC.Total_Consumo > 0

	-----atuliza marcacao por politica
	UPDATE	Bilhete
	SET		Id_Usuario = NULL
	FROM	#Temp_Politica T INNER JOIN Bilhete B ON T.Id_Lote = B.Id_Lote
	WHERE	NOT b.Id_Usuario IS NULL

	-----insere lote quando nao tiver
	INSERT INTO Lote_Marcacao (	Id_Lote_Marcacao,
								Id_Lote,
								Id_Usuario,
								Dt_Fechamento,
								Dt_Visita,
								Dt_Exportacao,
								Dt_Ultima_Marcacao,
								Total_Marcado,
								Flag_Automatico,
								Justificativa)
	SELECT	(SELECT MAX(Id_Lote_Marcacao) + 1 FROM Lote_Marcacao) + (ROW_NUMBER() OVER(ORDER BY LT_Id_Lote DESC)),
			LT_Id_Lote,
			US_Id_Usuario,
			GETDATE(),
			GETDATE(),
			GETDATE(),
			'2000/01/01',
			SUM(CASE WHEN Calc_Total_Marcado < 0  THEN 0 ELSE Calc_Total_Marcado END ),
			2, --desconto automatico
			NULL
	FROM	#Temp_Politica 
	WHERE	Id_Lote IS NULL
	GROUP BY LT_Id_Lote,US_Id_Usuario

	-----atualiza lote marcacao aberto
	UPDATE	Lote_Marcacao
	SET		Dt_Exportacao = GETDATE(),
			Dt_Fechamento = GETDATE(),
			Dt_Ultima_Marcacao = '2000/01/01',
			Total_Marcado = CASE WHEN T.Calc_Total_Marcado < 0 THEN 0 ELSE ISNULL(T.Calc_Total_Marcado,0) END ,
			Flag_Automatico = 2
	FROM	#Temp_Politica T INNER JOIN Lote_Marcacao LM ON T.Id_Lote = LM.Id_Lote AND T.Id_Usuario  = LM.Id_Usuario
	WHERE	NOT T.Id_Lote IS NULL
END
GO
