USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Aiging]    Script Date: 7/6/2025 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_Aiging] (	@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS
SELECT	-----ativo
		AT.Nr_Ativo					AS Ativo,
		CO.Nm_Conglomerado			AS Conglomerado,
		AST.Nm_Ativo_Status			AS [Status Ativo],
		ATP.Nm_Ativo_Tipo			AS Tipo,
		Descricao					AS Modelo,
		-----consumidor
		C.Nm_Consumidor				AS Consumidor,
		C.Matricula					AS Matricula,
		US.Nm_Usuario				AS Usuario,
		FI.Nm_Filial				AS Filial,
		CC.Cd_Centro_Custo			AS CDC,
		CG.Nm_Cargo					AS Cargo,
		-----franquia
		ISNULL(CONVERT(VARCHAR,AT.Dt_Ativacao,103), '')					AS [Entrega_Termo],
		ISNULL(AFA.Nm_Ativo_Fr_Aquisicao,'')							AS Aquisicao,
		ISNULL(CONVERT(VARCHAR(10),AP.Dt_Ini_Fr_Aquisicao,103), '')		AS [Data_Inicial],
		ISNULL(CONVERT(VARCHAR(10),DATEADD(MONTH, + ISNULL(AP.Qtd_Mes_Residuo_Fr_Aquisicao,0),  AP.Dt_Ini_Fr_Aquisicao),103), '') AS [Data_Final],
		ISNULL(DATEDIFF(MONTH, DATEADD(MONTH, + ISNULL(AP.Qtd_Mes_Residuo_Fr_Aquisicao,0),  AP.Dt_Ini_Fr_Aquisicao), GETDATE()),0) AS [Envelhecimento],
		ISNULL(AP.Vr_Fr_Aquisicao, 0) AS [Valor_NF],
		CASE WHEN ISNULL(DATEDIFF(MONTH, DATEADD(MONTH, + ISNULL(AP.Qtd_Mes_Residuo_Fr_Aquisicao,0),  AP.Dt_Ini_Fr_Aquisicao), GETDATE()),0) < 0
					AND ISNULL(AP.Vr_Fr_Aquisicao, 0) > 0
					AND ISNULL(AP.Qtd_Mes_Residuo_Fr_Aquisicao,0) > 0 THEN  
		CAST((ISNULL(AP.Vr_Fr_Aquisicao, 0) / ISNULL(AP.Qtd_Mes_Residuo_Fr_Aquisicao,0)) * (DATEDIFF(MONTH, DATEADD(MONTH, + ISNULL(AP.Qtd_Mes_Residuo_Fr_Aquisicao,0),  AP.Dt_Ini_Fr_Aquisicao), GETDATE()) * -1) AS DECIMAL(10,2))
		ELSE 0 END AS [Valor_Residual],
		ISNULL(AP.Qtd_Mes_Residuo_Fr_Aquisicao,0) AS [Fidelizacao]
		INTO #Temp_Export
FROM	vw_Ativo AT	INNER JOIN vw_Conglomerado CO ON AT.Id_Conglomerado = CO.Id_Conglomerado
					INNER JOIN vw_Ativo_Tipo ATP ON ATP.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
					INNER JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo)

					LEFT JOIN vw_Ativo_Modelo_Fabricante AM ON AM.Id_Ativo_Modelo = AT.ID_Ativo_Modelo
					LEFT JOIN Ativo_Status AST ON AT.Id_Ativo_Status = AST.Id_Ativo_Status
					LEFT JOIN Ativo_Parametro AP ON AP.Id_Ativo = AT.Id_Ativo
					LEFT JOIN Ativo_Fr_Aquisicao AFA ON AFA.Id_Ativo_Fr_Aquisicao = AP.Id_Ativo_Fr_Aquisicao 
					
					LEFT JOIN vw_Alocacao_Ativo_Consumidor CA ON AT.Id_Ativo = CA.Id_Ativo
					LEFT JOIN vw_Consumidor C ON C.Id_Consumidor = CA.Id_Consumidor
					LEFT JOIN vw_Usuario US ON US.Id_Consumidor = C.Id_Consumidor

					LEFT JOIN vw_Filial FI ON C.Id_Filial = FI.Id_Filial
					LEFT JOIN vw_Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
					LEFT JOIN vw_Cargo CG ON CG.Id_Cargo = C.Id_Cargo

WHERE	(ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)
		AND NOT AT.Nr_Ativo LIKE '%(%'
ORDER BY Conglomerado, Ativo


-----exportacao
IF @pPakage = 'sp_Aiging_Export'
BEGIN
	SELECT	*
	FROM	#Temp_Export
END

-----grid
IF @pPakage = 'sp_Aiging'
BEGIN
	SELECT	*
	FROM	#Temp_Export
END

-----grafrico
IF @pPakage = 'sp_Aiging_Grafico'
BEGIN
	SELECT	CONVERT(varchar(10),Envelhecimento)	AS X,
			COUNT(*)					AS Y 
	FROM	#Temp_Export
	GROUP BY Envelhecimento
	ORDER BY Envelhecimento
END
GO
