USE [Vale]
GO
/****** Object:  Table [dbo].[Arquivo_PDF_Acesso_Usuario]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arquivo_PDF_Acesso_Usuario](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nr_Documento] [varchar](250) NULL,
	[Id_Usuario] [int] NULL,
	[Nm_Botao] [varchar](250) NULL,
	[Data_Acesso] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
