USE [Vale]
GO
/****** Object:  Table [dbo].[Ativo_Fabricante]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ativo_Fabricante](
	[Id_Ativo_Fabricante] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Ativo_Fabricante] [varchar](50) NOT NULL,
	[Fl_Desativado] [int] NOT NULL,
 CONSTRAINT [PK_Ativo_Fabricante] PRIMARY KEY CLUSTERED 
(
	[Id_Ativo_Fabricante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
