USE [Vale]
GO
/****** Object:  Table [dbo].[Rl_Solicitacao_Fila_Atendimento_Usuario]    Script Date: 7/6/2025 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rl_Solicitacao_Fila_Atendimento_Usuario](
	[Id_Solicitacao_Fila_Atendimento] [int] NOT NULL,
	[Id_Usuario] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rl_Solicitacao_Fila_Atendimento_Usuario]  WITH NOCHECK ADD  CONSTRAINT [FK_Rl_Solicitacao_Fila_Atendimento_Usuario_Solicitacao_Fila_Atendimento] FOREIGN KEY([Id_Solicitacao_Fila_Atendimento])
REFERENCES [dbo].[Solicitacao_Fila_Atendimento] ([Id_Solicitacao_Fila_Atendimento])
GO
ALTER TABLE [dbo].[Rl_Solicitacao_Fila_Atendimento_Usuario] CHECK CONSTRAINT [FK_Rl_Solicitacao_Fila_Atendimento_Usuario_Solicitacao_Fila_Atendimento]
GO
ALTER TABLE [dbo].[Rl_Solicitacao_Fila_Atendimento_Usuario]  WITH NOCHECK ADD  CONSTRAINT [FK_Rl_Solicitacao_Fila_Atendimento_Usuario_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id_Usuario])
GO
ALTER TABLE [dbo].[Rl_Solicitacao_Fila_Atendimento_Usuario] CHECK CONSTRAINT [FK_Rl_Solicitacao_Fila_Atendimento_Usuario_Usuario]
GO
