USE [Vale]
GO
/****** Object:  Table [dbo].[Agenda_Marcacao_Particular]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agenda_Marcacao_Particular](
	[Id_Usuario] [int] NOT NULL,
	[Nr_Destino] [varchar](50) NOT NULL,
	[Nm_Destino] [varchar](50) NULL,
	[Tipo] [int] NOT NULL,
 CONSTRAINT [PK_Agenda_Marcacao_Particular] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC,
	[Nr_Destino] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agenda_Marcacao_Particular]  WITH NOCHECK ADD  CONSTRAINT [FK_Agenda_Marcacao_Particular_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id_Usuario])
GO
ALTER TABLE [dbo].[Agenda_Marcacao_Particular] CHECK CONSTRAINT [FK_Agenda_Marcacao_Particular_Usuario]
GO
