USE [Vale]
GO
/****** Object:  Table [dbo].[Si_Idioma]    Script Date: 7/6/2025 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Si_Idioma](
	[Id_Idioma] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Idioma] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Si_Idioma] PRIMARY KEY CLUSTERED 
(
	[Id_Idioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
