USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[pa_Solicitacao]    Script Date: 7/6/2025 1:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Solicitacao] (	@pPAKAGE					VARCHAR(200),
											@pId_Solicitacao			INT				OUT,
											@pNm_Solicitacao			VARCHAR(300)	= NULL,
											@pId_Usuario				INT				= NULL,
											@pNm_Usuario				VARCHAR(300)	= NULL,
											@pId_Ativo_Tipo				INT				= NULL,
											@pId_Solicitacao_Tipo		INT				= NULL,
											@pId_Solicitacao_Item		INT				= NULL,
											@pNm_Solicitacao_Item		VARCHAR(300)	= NULL,
											@pFl_Status					INT				= NULL,
											@pExcedente_SLA				VARCHAR(8000)	= NULL,
											@pDt_LoteDe					VARCHAR(6)		= NULL,
											@pDt_LoteAte				VARCHAR(6)		= NULL,
											@pId_Solicitacao_Solucao	INT				= NULL,
											@pId_Consumidor_Unidade		INT				= NULL,
											@pId_Usuario_Permissao		INT				= NULL) AS
IF @pPAKAGE = 'sp_Drop_Ativo_Tipo_Unidade'
BEGIN
	SELECT	DISTINCT
			AT.Id_Ativo_Tipo	AS ID,
			Nm_Ativo_Tipo	AS Descricao,
			dbo.Fu_Link_HTTP ('Ativo_Tipo.aspx',AT.Id_Ativo_Tipo,'Raiz') AS Link
	FROM	vw_Ativo_Tipo AT INNER JOIN Solicitacao_Tipo ST ON ST.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
	WHERE	AT.Id_Ativo_Tipo_Grupo_Tipo = @pId_Solicitacao_Tipo
			AND AT.Id_Ativo_Tipo_Sub_Grupo = @pId_Solicitacao_Item
			AND ST.Id_Solicitacao_Permissao = 2
			AND ST.Id_Solicitacao_Unidade_Processo = 1	--Matricula Coca Cola
			AND EXISTS (SELECT * FROM Consumidor_Unidade WHERE Id_Consumidor_Unidade = @pId_Consumidor_Unidade AND Matricula IS NULL)
	UNION ALL
	SELECT	DISTINCT
			AT.Id_Ativo_Tipo	AS ID,
			Nm_Ativo_Tipo	AS Descricao,
			dbo.Fu_Link_HTTP ('Ativo_Tipo.aspx',AT.Id_Ativo_Tipo,'Raiz') AS Link 
	FROM	vw_Ativo_Tipo AT INNER JOIN Solicitacao_Tipo ST ON ST.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
	WHERE	AT.Id_Ativo_Tipo_Grupo_Tipo = @pId_Solicitacao_Tipo
			AND AT.Id_Ativo_Tipo_Sub_Grupo = @pId_Solicitacao_Item
			AND ST.Id_Solicitacao_Permissao = 2
			AND (NOT ST.Id_Solicitacao_Unidade_Processo = 1 OR ST.Id_Solicitacao_Unidade_Processo IS NULL)  --Matricula Coca Cola
			AND (EXISTS(SELECT * FROM Consumidor_Unidade WHERE Id_Consumidor_Unidade = @pId_Consumidor_Unidade AND NOT Matricula IS NULL)
				OR NOT EXISTS(	SELECT	* 
								FROM	Solicitacao_Tipo 
								WHERE	Id_Solicitacao_Unidade_Processo = 1	--Matricula Coca Cola
										AND Id_Ativo_Tipo IN (SELECT	Id_Ativo_Tipo 
																FROM	Ativo_Tipo 
																WHERE	Id_Conglomerado =  AT.Id_Conglomerado)
								))
	ORDER BY Nm_Ativo_Tipo
END

-----email do chamado
IF @pPAKAGE = 'sd_Email_Chamado'
BEGIN
	IF EXISTS(SELECT * FROM Solicitacao_Item WHERE Id_Solicitacao = @pId_Solicitacao AND Fl_Publicado = 22)
	BEGIN
		IF @pId_Usuario = (	SELECT	US.Id_Usuario							
							FROM	Solicitacao S	INNER JOIN Usuario US ON S.Id_Usuario = US.Id_Usuario
							WHERE	Id_Solicitacao = @pId_Solicitacao)
		BEGIN
			------email para os administradores da fila de atendimento
			INSERT INTO Mail_Caixa_Saida (Id_Mail_Sender,E_Mail_Destino,E_Mail_Copia,Texto_Adicional,Dt_Programacao,Dt_Saida,Fl_Enviado,Id_Log_SQL,Fl_QTD_Tentativa_Envio)
			SELECT	6,CO.EMail, NULL, 
					'Número da Solicitação(' + ISNULL(CONVERT(VARCHAR(20),@pId_Solicitacao ),'') + ') ' +	ISNULL(
																											ISNULL((	SELECT	TOP 1 AT.Nm_Ativo_Tipo + ' - ' + ST.Nm_Solicitacao_Tipo  + ' - ' + SI.Nm_Solicitacao_Item
																														FROM	Solicitacao_Item SI INNER JOIN Solicitacao S ON S.Id_Solicitacao = SI.Id_Solicitacao
																																					INNER JOIN Solicitacao_Tipo ST ON ST.Id_Solicitacao_Tipo = S.Id_Solicitacao_Tipo
																																					INNER JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = ST.Id_Ativo_Tipo  
																														WHERE	SI.Fl_Publicado = 22
																																AND S.Id_Solicitacao = @pId_Solicitacao
																														ORDER BY SI.Id_Solicitacao_Item DESC),'') + ' Linha (' 
																														+
																														(SELECT	TOP 1 A.Nr_Ativo 
																														FROM	Usuario U INNER JOIN vw_Ativo_Consumidor AC ON U.Id_Consumidor = AC.Id_Consumidor
																																		INNER JOIN Ativo A ON A.Id_Ativo = AC.Id_Ativo
																																		INNER JOIN Solicitacao S ON S.Id_Usuario = U.Id_Usuario AND S.Id_Ativo_Tipo = A.Id_Ativo_Tipo 
																														WHERE	S.Id_Solicitacao = @pId_Solicitacao
																																AND A.Fl_Desativado = 0) + ')', ''),					
					GETDATE(),
					NULL,
					0,
					0,
					0
			FROM	Solicitacao S	INNER JOIN Solicitacao_Tipo ST ON S.Id_Solicitacao_Tipo = ST.Id_Solicitacao_Tipo 
									INNER JOIN Rl_Solicitacao_Fila_Atendimento_Usuario RSFA ON ST.Id_Solicitcao_Fila_Atendimento = RSFA.Id_Solicitacao_Fila_Atendimento 
									INNER JOIN Usuario US ON US.Id_Usuario = RSFA.Id_Usuario 
									INNER JOIN Consumidor CO ON CO.Id_Consumidor = US.Id_Consumidor
									INNER JOIN Filial FI ON FI.Id_Filial = CO.Id_Filial
									INNER JOIN Empresa EP ON EP.Id_Empresa = FI.Id_Empresa  
			WHERE	Id_Solicitacao = @pId_Solicitacao
			
			-----email para o usuario
			INSERT INTO Mail_Caixa_Saida (Id_Mail_Sender,E_Mail_Destino,E_Mail_Copia,Texto_Adicional,Dt_Programacao,Dt_Saida,Fl_Enviado,Id_Log_SQL,Fl_QTD_Tentativa_Envio)
			VALUES (6,
					ISNULL(	(	SELECT	CO.EMail
								FROM	Solicitacao S	INNER JOIN Usuario US ON S.Id_Usuario = US.Id_Usuario
														INNER JOIN Consumidor CO ON CO.Id_Consumidor = US.Id_Consumidor
								WHERE	Id_Solicitacao = @pId_Solicitacao),''),
					ISNULL(	(	SELECT	CO.Email_Copia
								FROM	Solicitacao S	INNER JOIN Usuario US ON S.Id_Usuario = US.Id_Usuario
														INNER JOIN Consumidor CO ON CO.Id_Consumidor = US.Id_Consumidor
								WHERE	Id_Solicitacao = @pId_Solicitacao),''),
					'Número da Solicitação(' + ISNULL(CONVERT(VARCHAR(20),@pId_Solicitacao ),'') + ') ' +	ISNULL(
																											ISNULL((	SELECT	TOP 1 AT.Nm_Ativo_Tipo + ' - ' + ST.Nm_Solicitacao_Tipo  + ' - ' + SI.Nm_Solicitacao_Item
																														FROM	Solicitacao_Item SI INNER JOIN Solicitacao S ON S.Id_Solicitacao = SI.Id_Solicitacao
																																					INNER JOIN Solicitacao_Tipo ST ON ST.Id_Solicitacao_Tipo = S.Id_Solicitacao_Tipo
																																					INNER JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = ST.Id_Ativo_Tipo  
																														WHERE	SI.Fl_Publicado = 22
																																AND S.Id_Solicitacao = @pId_Solicitacao
																														ORDER BY SI.Id_Solicitacao_Item DESC),'') + ' Linha (' 
																														+
																														(SELECT	TOP 1 A.Nr_Ativo 
																														FROM	Usuario U INNER JOIN vw_Ativo_Consumidor AC ON U.Id_Consumidor = AC.Id_Consumidor
																																		INNER JOIN Ativo A ON A.Id_Ativo = AC.Id_Ativo
																																		INNER JOIN Solicitacao S ON S.Id_Usuario = U.Id_Usuario AND S.Id_Ativo_Tipo = A.Id_Ativo_Tipo 
																														WHERE	S.Id_Solicitacao = @pId_Solicitacao
																																AND A.Fl_Desativado = 0) + ')', ''),
					GETDATE(),
					NULL,
					0,
					0,
					0)

			------programa email para operadora e para informar o cliente
			IF EXISTS(	SELECT	* 
						FROM	Solicitacao	S INNER JOIN Solicitacao_Tipo ST ON S.Id_Solicitacao_Tipo = ST.Id_Solicitacao_Tipo 
						WHERE	Id_Solicitacao = @pId_Solicitacao
								AND Id_Solicitacao_Permissao = 3)

			BEGIN
				-----agenda email para o usuario
				-------------------------------------------------------------------------------
				INSERT INTO Mail_Caixa_Saida (Id_Mail_Sender,E_Mail_Destino,E_Mail_Copia,Texto_Adicional,Dt_Programacao,Dt_Saida,Fl_Enviado,Id_Log_SQL,Fl_QTD_Tentativa_Envio)
				SELECT  10,
						ISNULL(	(	SELECT	CO.EMail
									FROM	Solicitacao S	INNER JOIN Usuario US ON S.Id_Usuario = US.Id_Usuario
															INNER JOIN Consumidor CO ON CO.Id_Consumidor = US.Id_Consumidor
									WHERE	Id_Solicitacao = @pId_Solicitacao),''),
						ISNULL(	(	SELECT	CO.Email_Copia
									FROM	Solicitacao S	INNER JOIN Usuario US ON S.Id_Usuario = US.Id_Usuario
															INNER JOIN Consumidor CO ON CO.Id_Consumidor = US.Id_Consumidor
									WHERE	Id_Solicitacao = @pId_Solicitacao),''),

						'Número da Solicitação(' + ISNULL(CONVERT(VARCHAR(20),@pId_Solicitacao ),'') + ') ' +	ISNULL(
																												ISNULL((	SELECT	TOP 1 AT.Nm_Ativo_Tipo + ' - ' + ST.Nm_Solicitacao_Tipo  + ' - ' + SI.Nm_Solicitacao_Item
																															FROM	Solicitacao_Item SI INNER JOIN Solicitacao S ON S.Id_Solicitacao = SI.Id_Solicitacao
																																						INNER JOIN Solicitacao_Tipo ST ON ST.Id_Solicitacao_Tipo = S.Id_Solicitacao_Tipo
																																						INNER JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = ST.Id_Ativo_Tipo  
																															WHERE	SI.Fl_Publicado = 22
																																	AND S.Id_Solicitacao = @pId_Solicitacao
																															ORDER BY SI.Id_Solicitacao_Item DESC),'') + ' Linha (' 
																															+
																															(SELECT	TOP 1 A.Nr_Ativo 
																															FROM	Usuario U INNER JOIN vw_Ativo_Consumidor AC ON U.Id_Consumidor = AC.Id_Consumidor
																																			INNER JOIN Ativo A ON A.Id_Ativo = AC.Id_Ativo
																																			INNER JOIN Solicitacao S ON S.Id_Usuario = U.Id_Usuario AND S.Id_Ativo_Tipo = A.Id_Ativo_Tipo 
																															WHERE	S.Id_Solicitacao = @pId_Solicitacao
																																	AND A.Fl_Desativado = 0) + ')', ''),
						(SELECT CASE WHEN (	SELECT	TOP 1 DATEADD(DAY, -3,CONVERT(DATETIME, SUBSTRING(Nm_Solicitacao_Item,7,4) + '/' + SUBSTRING(Nm_Solicitacao_Item,4,2) + '/' + SUBSTRING(Nm_Solicitacao_Item,1,2)))
									FROM 	Solicitacao_Item
									WHERE	Id_Solicitacao = @pId_Solicitacao
											AND ISDATE(SUBSTRING(Nm_Solicitacao_Item,7,4) + '/' + SUBSTRING(Nm_Solicitacao_Item,4,2) + '/' + SUBSTRING(Nm_Solicitacao_Item,1,2)) =1) IS NULL THEN GETDATE()
						ELSE	(	SELECT	TOP 1 DATEADD(DAY, -3,CONVERT(DATETIME, SUBSTRING(Nm_Solicitacao_Item,7,4) + '/' + SUBSTRING(Nm_Solicitacao_Item,4,2) + '/' + SUBSTRING(Nm_Solicitacao_Item,1,2)))
									FROM 	Solicitacao_Item
									WHERE	Id_Solicitacao = @pId_Solicitacao
											AND ISDATE(SUBSTRING(Nm_Solicitacao_Item,7,4) + '/' + SUBSTRING(Nm_Solicitacao_Item,4,2) + '/' + SUBSTRING(Nm_Solicitacao_Item,1,2)) =1) END),
						NULL,
						0,
						0,
						0

				------grava id do e-mail na solictacao de roaming internacional para o usuario
				UPDATE	Solicitacao
				SET		Id_Mail_Caixa_Saida_Usuario = (SELECT MAX(Id_Mail_Caixa_Siada) FROM Mail_Caixa_Saida)
				WHERE	Id_Solicitacao = @pId_Solicitacao

				-----agenda e-mail para operadora
				-------------------------------------------------------------------------------
				INSERT INTO Mail_Caixa_Saida (Id_Mail_Sender,E_Mail_Destino,E_Mail_Copia,Texto_Adicional,Dt_Programacao,Dt_Saida,Fl_Enviado,Id_Log_SQL,Fl_QTD_Tentativa_Envio)
				SELECT  11,
						'adriano.balista@ativvus.com', --operadora
						'adriano.balista@ativvus.com', --email copia
						ISNULL((	SELECT	TOP 1 AT.Nm_Ativo_Tipo + ' - ' + ST.Nm_Solicitacao_Tipo  + ' - ' + SI.Nm_Solicitacao_Item
									FROM	Solicitacao_Item SI INNER JOIN Solicitacao S ON S.Id_Solicitacao = SI.Id_Solicitacao
																INNER JOIN Solicitacao_Tipo ST ON ST.Id_Solicitacao_Tipo = S.Id_Solicitacao_Tipo
																INNER JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = ST.Id_Ativo_Tipo  
									WHERE	SI.Fl_Publicado = 22
											AND S.Id_Solicitacao = @pId_Solicitacao
									ORDER BY SI.Id_Solicitacao_Item DESC),'') + ' Linha (' 
									+
									(SELECT	TOP 1 A.Nr_Ativo 
									FROM	Usuario U INNER JOIN vw_Ativo_Consumidor AC ON U.Id_Consumidor = AC.Id_Consumidor
													INNER JOIN Ativo A ON A.Id_Ativo = AC.Id_Ativo
													INNER JOIN Solicitacao S ON S.Id_Usuario = U.Id_Usuario AND S.Id_Ativo_Tipo = A.Id_Ativo_Tipo 
									WHERE	S.Id_Solicitacao = @pId_Solicitacao
											AND A.Fl_Desativado = 0) + ')',
						(SELECT CASE WHEN (	SELECT	TOP 1 DATEADD(DAY, -3,CONVERT(DATETIME, SUBSTRING(Nm_Solicitacao_Item,7,4) + '/' + SUBSTRING(Nm_Solicitacao_Item,4,2) + '/' + SUBSTRING(Nm_Solicitacao_Item,1,2)))
									FROM 	Solicitacao_Item
									WHERE	Id_Solicitacao = @pId_Solicitacao
											AND ISDATE(SUBSTRING(Nm_Solicitacao_Item,7,4) + '/' + SUBSTRING(Nm_Solicitacao_Item,4,2) + '/' + SUBSTRING(Nm_Solicitacao_Item,1,2)) =1) IS NULL THEN GETDATE()
						ELSE	(	SELECT	TOP 1 DATEADD(DAY, -3,CONVERT(DATETIME, SUBSTRING(Nm_Solicitacao_Item,7,4) + '/' + SUBSTRING(Nm_Solicitacao_Item,4,2) + '/' + SUBSTRING(Nm_Solicitacao_Item,1,2)))
									FROM 	Solicitacao_Item
									WHERE	Id_Solicitacao = @pId_Solicitacao
											AND ISDATE(SUBSTRING(Nm_Solicitacao_Item,7,4) + '/' + SUBSTRING(Nm_Solicitacao_Item,4,2) + '/' + SUBSTRING(Nm_Solicitacao_Item,1,2)) =1) END),
						NULL,
						0,
						0,
						0

				------grava id do e-mail na solictacao de roaming internacional para o usuario
				UPDATE	Solicitacao
				SET		Id_Mail_Caixa_Saida_Operadora = (SELECT MAX(Id_Mail_Caixa_Siada) FROM Mail_Caixa_Saida)
				WHERE	Id_Solicitacao = @pId_Solicitacao
			END
		END 
		ELSE
		BEGIN
			-----grava envio de email
			INSERT INTO Mail_Caixa_Saida (Id_Mail_Sender,E_Mail_Destino,E_Mail_Copia,Texto_Adicional,Dt_Programacao,Dt_Saida,Fl_Enviado,Id_Log_SQL,Fl_QTD_Tentativa_Envio)
			VALUES (6,
					ISNULL(	(	SELECT	CO.EMail
								FROM	Solicitacao S	INNER JOIN Usuario US ON S.Id_Usuario = US.Id_Usuario
														INNER JOIN Consumidor CO ON CO.Id_Consumidor = US.Id_Consumidor
								WHERE	Id_Solicitacao = @pId_Solicitacao),''),
					ISNULL(	(	SELECT	CO.Email_Copia
								FROM	Solicitacao S	INNER JOIN Usuario US ON S.Id_Usuario = US.Id_Usuario
														INNER JOIN Consumidor CO ON CO.Id_Consumidor = US.Id_Consumidor
								WHERE	Id_Solicitacao = @pId_Solicitacao),''),
					'Número da Solicitação(' + ISNULL(CONVERT(VARCHAR(20),@pId_Solicitacao ),'') + ') ' +	ISNULL(
																											ISNULL((	SELECT	TOP 1 AT.Nm_Ativo_Tipo + ' - ' + ST.Nm_Solicitacao_Tipo  + ' - ' + SI.Nm_Solicitacao_Item
																														FROM	Solicitacao_Item SI INNER JOIN Solicitacao S ON S.Id_Solicitacao = SI.Id_Solicitacao
																																					INNER JOIN Solicitacao_Tipo ST ON ST.Id_Solicitacao_Tipo = S.Id_Solicitacao_Tipo
																																					INNER JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = ST.Id_Ativo_Tipo  
																														WHERE	SI.Fl_Publicado = 22
																																AND S.Id_Solicitacao = @pId_Solicitacao
																														ORDER BY SI.Id_Solicitacao_Item DESC),'') + ' Linha (' 
																														+
																														(SELECT	TOP 1 A.Nr_Ativo 
																														FROM	Usuario U INNER JOIN vw_Ativo_Consumidor AC ON U.Id_Consumidor = AC.Id_Consumidor
																																		INNER JOIN Ativo A ON A.Id_Ativo = AC.Id_Ativo
																																		INNER JOIN Solicitacao S ON S.Id_Usuario = U.Id_Usuario AND S.Id_Ativo_Tipo = A.Id_Ativo_Tipo 
																														WHERE	S.Id_Solicitacao = @pId_Solicitacao
																																AND A.Fl_Desativado = 0) + ')', ''),					
					GETDATE(),
					NULL,
					0,
					0,
					0)
		END
				
		-------muda status de envio no item da chamado					
		UPDATE	Solicitacao_Item 
		SET		Fl_Publicado = 2
		WHERE	Id_Solicitacao = @pId_Solicitacao 
				AND Fl_Publicado = 22
	END 
END

-----email de encerramento de chamado
IF @pPAKAGE = 'sd_Email_Encerramento_Chamado'
BEGIN
	IF NOT EXISTS(SELECT * FROM Solicitacao_Item WHERE Id_Solicitacao = @pId_Solicitacao AND Nm_Solicitacao_Item = '')
	BEGIN
		-----grava envio de email
		INSERT INTO Mail_Caixa_Saida (Id_Mail_Sender,E_Mail_Destino,E_Mail_Copia,Texto_Adicional,Dt_Programacao,Dt_Saida,Fl_Enviado,Id_Log_SQL,Fl_QTD_Tentativa_Envio)
		VALUES (14,
				ISNULL(	(	SELECT	CO.EMail
							FROM	Solicitacao S	INNER JOIN Usuario US ON S.Id_Usuario = US.Id_Usuario
													INNER JOIN Consumidor CO ON CO.Id_Consumidor = US.Id_Consumidor
							WHERE	Id_Solicitacao = @pId_Solicitacao),''),
				ISNULL(	(	SELECT	CO.Email_Copia
							FROM	Solicitacao S	INNER JOIN Usuario US ON S.Id_Usuario = US.Id_Usuario
													INNER JOIN Consumidor CO ON CO.Id_Consumidor = US.Id_Consumidor
							WHERE	Id_Solicitacao = @pId_Solicitacao),''),
				'Número da Solicitação(' +	ISNULL(CONVERT(VARCHAR(20),@pId_Solicitacao ),'') + ') ' ,
				GETDATE(),
				NULL,
				0,
				0,
				0)
	END 
END

-----email de encerramento de chamado
IF @pPAKAGE = 'sd_Email_Enc_Chamado_Roaming'
BEGIN
	IF NOT EXISTS(SELECT * FROM Solicitacao_Item WHERE Id_Solicitacao = @pId_Solicitacao AND Nm_Solicitacao_Item = '')
	BEGIN
		-----grava envio de email
		INSERT INTO Mail_Caixa_Saida (Id_Mail_Sender,E_Mail_Destino,E_Mail_Copia,Texto_Adicional,Dt_Programacao,Dt_Saida,Fl_Enviado,Id_Log_SQL,Fl_QTD_Tentativa_Envio)
		VALUES (10,
				ISNULL(	(	SELECT	CO.EMail
							FROM	Solicitacao S	INNER JOIN Usuario US ON S.Id_Usuario = US.Id_Usuario
													INNER JOIN Consumidor CO ON CO.Id_Consumidor = US.Id_Consumidor
							WHERE	Id_Solicitacao = @pId_Solicitacao),''),
				ISNULL(	(	SELECT	CO.Email_Copia
							FROM	Solicitacao S	INNER JOIN Usuario US ON S.Id_Usuario = US.Id_Usuario
													INNER JOIN Consumidor CO ON CO.Id_Consumidor = US.Id_Consumidor
							WHERE	Id_Solicitacao = @pId_Solicitacao),''),
				'Número da Solicitação(' +	ISNULL(CONVERT(VARCHAR(20),@pId_Solicitacao ),'') + ') ' +	ISNULL(
																										ISNULL((	SELECT	TOP 1 AT.Nm_Ativo_Tipo + ' - ' + ST.Nm_Solicitacao_Tipo  + ' - ' + SI.Nm_Solicitacao_Item
																													FROM	Solicitacao_Item SI INNER JOIN Solicitacao S ON S.Id_Solicitacao = SI.Id_Solicitacao
																																				INNER JOIN Solicitacao_Tipo ST ON ST.Id_Solicitacao_Tipo = S.Id_Solicitacao_Tipo
																																				INNER JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = ST.Id_Ativo_Tipo  
																													WHERE	SI.Fl_Publicado = 22
																															AND S.Id_Solicitacao = @pId_Solicitacao
																													ORDER BY SI.Id_Solicitacao_Item DESC),'') + ' Linha (' 
																													+
																													(SELECT	TOP 1 A.Nr_Ativo 
																													FROM	Usuario U INNER JOIN vw_Ativo_Consumidor AC ON U.Id_Consumidor = AC.Id_Consumidor
																																	INNER JOIN Ativo A ON A.Id_Ativo = AC.Id_Ativo
																																	INNER JOIN Solicitacao S ON S.Id_Usuario = U.Id_Usuario AND S.Id_Ativo_Tipo = A.Id_Ativo_Tipo 
																													WHERE	S.Id_Solicitacao = @pId_Solicitacao
																															AND A.Fl_Desativado = 0) + ')', ''),
				GETDATE(),
				NULL,
				0,
				0,
				0)
	END 
END

-----grava solicitacao
IF @pPAKAGE = 'sp_Grava_Solicitacao'
BEGIN
	-----verifica usuario que esta abrindo o chamado
	IF NOT EXISTS(SELECT * FROM Usuario WHERE Nm_Usuario = @pNm_Usuario)
	BEGIN
		SELECT @pId_Solicitacao = 999999
	END 
	ELSE
	BEGIN
		DECLARE @vId_Usuario INT
		SELECT @vId_Usuario = Id_Usuario  FROM Usuario WHERE Nm_Usuario = @pNm_Usuario
	
		INSERT INTO Solicitacao (	Nm_Solicitacao,
									Dt_Solicitacao,
									Id_Usuario,
									Id_Ativo_Tipo,
									Id_Solicitacao_Tipo,
									Id_Consumidor_Unidade,
									Excedente_SLA,
									Dt_Encerramento,
									Dt_Vencimento,
									Id_Solicitacao_Solucao,
									Fl_Status)
		VALUES (@pNm_Solicitacao,
				CASE WHEN DATEPART(DW,GETDATE()) = 7 THEN DATEADD(DAY,2, GETDATE()) 
					WHEN DATEPART(DW,GETDATE()) = 1 THEN DATEADD(DAY,1, GETDATE())
					ELSE GETDATE() END,
				@vId_Usuario,
				@pId_Ativo_Tipo,
				@pId_Solicitacao_Tipo,
				@pId_Consumidor_Unidade,
				NULL,
				NULL,
				(SELECT Data_Vencimento FROM dbo.fu_Prazo_Incidente(CASE	WHEN DATEPART(DW,GETDATE()) = 7 THEN DATEADD(DAY,2, GETDATE()) 
																			WHEN DATEPART(DW,GETDATE()) = 1 THEN DATEADD(DAY,1, GETDATE())
																			ELSE GETDATE() END,
																	(SELECT	SS.Horas 
																	FROM	Solicitacao_Tipo ST INNER JOIN Solicitacao_SLA SS ON ST.Id_Solicitacao_SLA = SS.Id_Solicitacao_SLA 
																	WHERE	ST.Id_Solicitacao_Tipo = @pId_Solicitacao_Tipo))),
				@pId_Solicitacao_Solucao,
				1)	
				
		-----retorna id 
		SELECT @pId_Solicitacao = MAX(Id_Solicitacao) FROM Solicitacao
	END
END
										
-----grava item da solicitacao
IF @pPAKAGE = 'sp_Grava_Item_Solicitacao'
BEGIN
	-----caso nao encontre registro para conglomerado deve ser criado um 
	IF NOT EXISTS(SELECT * FROM Solicitacao_Item WHERE Id_Solicitacao = @pId_Solicitacao AND Nm_Solicitacao_Item = '' AND Id_Usuario = @pId_Usuario)
	BEGIN
		INSERT INTO Solicitacao_Item (	Id_Solicitacao,
										Nm_Solicitacao_Item,
										Id_Usuario,
										Dt_Hr_Solicitacao_Item,
										Fl_Publicado)
		VALUES(	@pId_Solicitacao,
				CASE WHEN @pNm_Solicitacao_Item IS NULL THEN '' ELSE @pNm_Solicitacao_Item END,
				@pId_Usuario,
				GETDATE(),
				@pFl_Status)

		-----envia item da solicitacao
		SELECT @pId_Solicitacao = MAX(Id_Solicitacao_Item) FROM  Solicitacao_Item WHERE Id_Solicitacao = @pId_Solicitacao
	END
END

-----atualiza item da solicitacao
IF @pPAKAGE = 'sp_Atualiza_Item_Solicitacao'
BEGIN
	-----altera solicitacao 
	UPDATE	Solicitacao
	SET		Id_Solicitacao_Solucao = @pId_Solicitacao_Solucao
	WHERE	Id_Solicitacao = @pId_Solicitacao
	-----altera solicitacao solucao
	UPDATE	Solicitacao_Item
	SET		Nm_Solicitacao_Item = @pNm_Solicitacao_Item
	WHERE	Id_Solicitacao = @pId_Solicitacao
			AND Id_Solicitacao_Item = @pId_Solicitacao_Item
END

-----encerra solicitacao
IF @pPAKAGE = 'sp_Encerra_Solicitacao'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
	BEGIN
		UPDATE	Solicitacao
		SET		Fl_Status = 2,
				Dt_Encerramento = GETDATE(),
				Excedente_SLA = @pExcedente_SLA,
				Id_Solicitacao_Solucao = @pId_Solicitacao_Solucao
		WHERE	Id_Solicitacao = @pId_Solicitacao

		-----cancela email que sera enviado para operadora (quando for chamado de roaming)
		UPDATE	Mail_Caixa_Saida
		SET		Fl_Enviado = 1,
				Fl_QTD_Tentativa_Envio = 3
		FROM	Mail_Caixa_Saida 
		WHERE	Id_Mail_Caixa_Siada in (SELECT Id_Mail_Caixa_Saida_Operadora FROM Solicitacao WHERE Id_Solicitacao = @pId_Solicitacao)

		-----cancela email que sera enviado para usuario (quando for chamado de roaming)
		UPDATE	Mail_Caixa_Saida
		SET		Fl_Enviado = 1,
				Fl_QTD_Tentativa_Envio = 3
		FROM	Mail_Caixa_Saida 
		WHERE	Id_Mail_Caixa_Siada in (SELECT Id_Mail_Caixa_Saida_Usuario FROM Solicitacao WHERE Id_Solicitacao = @pId_Solicitacao)
	END
END

-----encerra solicitacao pelo usuario com ele inserindo o numero de serie da maquina
IF @pPAKAGE = 'sp_Encerra_Solicitacao_NS_Unidade'
BEGIN
	UPDATE	Solicitacao
	SET		Fl_Status = 2,
			Dt_Encerramento = GETDATE(),
			Excedente_SLA = @pExcedente_SLA,
			Id_Solicitacao_Solucao = @pId_Solicitacao_Solucao
	WHERE	Id_Solicitacao = @pId_Solicitacao

	-----cancela email que sera enviado para operadora (quando for chamado de roaming)
	UPDATE	Mail_Caixa_Saida
	SET		Fl_Enviado = 1,
			Fl_QTD_Tentativa_Envio = 3
	FROM	Mail_Caixa_Saida 
	WHERE	Id_Mail_Caixa_Siada in (SELECT Id_Mail_Caixa_Saida_Operadora FROM Solicitacao WHERE Id_Solicitacao = @pId_Solicitacao)

	-----cancela email que sera enviado para usuario (quando for chamado de roaming)
	UPDATE	Mail_Caixa_Saida
	SET		Fl_Enviado = 1,
			Fl_QTD_Tentativa_Envio = 3
	FROM	Mail_Caixa_Saida 
	WHERE	Id_Mail_Caixa_Siada in (SELECT Id_Mail_Caixa_Saida_Usuario FROM Solicitacao WHERE Id_Solicitacao = @pId_Solicitacao)
END

-----encerra solicitacao pelo proprio usuario
IF @pPAKAGE = 'sp_Encerra_Solicitacao_Pelo_Usuario'
BEGIN
	UPDATE	Solicitacao
	SET		Fl_Status = 2,
			Dt_Encerramento = GETDATE(),
			Excedente_SLA = 'Encerrado pelo próprio usuário'
	WHERE	Id_Solicitacao = @pId_Solicitacao
	
	-----cancela email que sera enviado para operadora (quando for chamado de roaming)
	UPDATE	Mail_Caixa_Saida
	SET		Fl_Enviado = 1,
			Fl_QTD_Tentativa_Envio = 3
	FROM	Mail_Caixa_Saida 
	WHERE	Id_Mail_Caixa_Siada in (SELECT Id_Mail_Caixa_Saida_Operadora FROM Solicitacao WHERE Id_Solicitacao = @pId_Solicitacao)

	-----cancela email que sera enviado para usuario (quando for chamado de roaming)
	UPDATE	Mail_Caixa_Saida
	SET		Fl_Enviado = 1,
			Fl_QTD_Tentativa_Envio = 3
	FROM	Mail_Caixa_Saida 
	WHERE	Id_Mail_Caixa_Siada in (SELECT Id_Mail_Caixa_Saida_Usuario FROM Solicitacao WHERE Id_Solicitacao = @pId_Solicitacao)
	
	-----envio de email do cancelamento da solictacao
	INSERT INTO Mail_Caixa_Saida (Id_Mail_Sender,E_Mail_Destino,E_Mail_Copia,Texto_Adicional,Dt_Programacao,Dt_Saida,Fl_Enviado,Id_Log_SQL,Fl_QTD_Tentativa_Envio)
	VALUES (9,
			ISNULL(	(	SELECT	CO.EMail
						FROM	Solicitacao S	INNER JOIN Usuario US ON S.Id_Usuario = US.Id_Usuario
												INNER JOIN Consumidor CO ON CO.Id_Consumidor = US.Id_Consumidor
						WHERE	Id_Solicitacao = @pId_Solicitacao),''),
			ISNULL(	(	SELECT	CO.Email_Copia
						FROM	Solicitacao S	INNER JOIN Usuario US ON S.Id_Usuario = US.Id_Usuario
												INNER JOIN Consumidor CO ON CO.Id_Consumidor = US.Id_Consumidor
						WHERE	Id_Solicitacao = @pId_Solicitacao),''),
			'Sua solicitação número(' + ISNULL(CONVERT(VARCHAR(20),@pId_Solicitacao ),'') + ') foi cancelada com sucesso.',
			GETDATE(),
			NULL,
			0,
			0,
			0)
END

-----consulta solicitacao
IF @pPAKAGE = 'sp_Consulta_Solicitacao'
BEGIN
	IF EXISTS(SELECT * FROM Usuario WHERE Id_Usuario = @pId_Usuario_Permissao AND Id_Usuario_Perfil = 1)
	BEGIN
		SELECT	S.Id_Solicitacao,
				dbo.Fu_Link_HTTP (CASE WHEN ST.Id_Solicitacao_Permissao = 1 THEN 'Solicitacao.aspx' 
										 WHEN ST.Id_Solicitacao_Permissao = 2 THEN 'Solicitacao_Unidade.aspx' 
										 WHEN ST.Id_Solicitacao_Permissao = 3 THEN 'Solicitacao_Roaming.aspx' END, S.Id_Solicitacao,'Raiz') AS LINK,
				Nm_Solicitacao AS Nm_Solicitacao,
				Nm_Ativo_Tipo + ' ' + ISNULL(ST.Nm_Solicitacao_Tipo, '') AS Nm_Solicitacao_Tipo,
				ISNULL(Excedente_SLA,'') AS Excedente_SLA,
				CONVERT(VARCHAR,Dt_Solicitacao, 120) AS Dt_Solicitacao,
				CONVERT(VARCHAR,Dt_Vencimento, 120) AS Dt_Vencimento,
				ISNULL(CONVERT(VARCHAR,Dt_Encerramento,120),'') AS Dt_Encerramento,
				CASE WHEN (CASE WHEN Fl_Status = 1 THEN GETDATE() ELSE S.Dt_Encerramento END) < DATEADD(DAY,((SELECT DATEDIFF(DAY,Dt_Solicitacao, Dt_Vencimento) FROM Solicitacao SUB_S WHERE Id_Solicitacao = S.Id_Solicitacao) / 2),S.Dt_Solicitacao) THEN 'True' ELSE 'False' END AS VD,
				CASE WHEN (CASE WHEN Fl_Status = 1 THEN GETDATE() ELSE S.Dt_Encerramento END) > DATEADD(DAY,((SELECT DATEDIFF(DAY,Dt_Solicitacao, Dt_Vencimento) FROM Solicitacao SUB_S WHERE Id_Solicitacao = S.Id_Solicitacao) / 2),S.Dt_Solicitacao) AND (CASE WHEN Fl_Status = 1 THEN GETDATE() ELSE S.Dt_Encerramento END) < S.Dt_Vencimento THEN 'True' ELSE 'False' END AS AM,
				CASE WHEN (CASE WHEN Fl_Status = 1 THEN GETDATE() ELSE S.Dt_Encerramento END) > S.Dt_Vencimento THEN 'True' ELSE 'False' END AS VM,
				CASE WHEN Fl_Status = 1 THEN 'Aberto' ELSE 'Encerrado' END AS Fl_Status,
				CASE WHEN (SELECT DATEDIFF(DAY,Dt_Solicitacao, Dt_Vencimento) FROM Solicitacao SUB_S WHERE Id_Solicitacao = S.Id_Solicitacao) > 0 THEN (SELECT CONVERT(VARCHAR,DATEDIFF(DAY,Dt_Solicitacao, Dt_Vencimento)) + 'dia(s)' FROM Solicitacao SUB_S WHERE Id_Solicitacao = S.Id_Solicitacao) ELSE '' END AS Vencimento,
				US.Nm_Usuario,
				CO.Nm_Consumidor,
				CNU.Matricula, 
				CASE WHEN SA.Avaliacao = 1 THEN '~/Img_Sistema/Menu/nota1.png' 
					WHEN SA.Avaliacao = 2 THEN '~/Img_Sistema/Menu/nota2.png'
					WHEN SA.Avaliacao = 3 THEN '~/Img_Sistema/Menu/nota3.png'
					WHEN SA.Avaliacao = 4 THEN '~/Img_Sistema/Menu/nota4.png'
					WHEN SA.Avaliacao = 5 THEN '~/Img_Sistema/Menu/nota5.png'
				ELSE '~/Img_Sistema/Menu/nota0.png' END AS Avaliacao,
				(SELECT TOP 1 SSI.Nm_Solicitacao_Item FROM Solicitacao_Item SSI WHERE Id_Solicitacao = S.Id_Solicitacao ORDER BY SSI.Id_Solicitacao) AS Descricao_Solicitacao
		FROM	Solicitacao S	INNER JOIN Solicitacao_Tipo ST ON S.Id_Solicitacao_Tipo = ST.Id_Solicitacao_Tipo
								INNER JOIN Solicitacao_SLA SS ON SS.Id_Solicitacao_SLA = ST.Id_Solicitacao_SLA
								INNER JOIN Usuario US ON US.Id_Usuario = S.Id_Usuario
								INNER JOIN Consumidor CO ON CO.Id_Consumidor = US.Id_Consumidor
								INNER JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = ST.Id_Ativo_Tipo
								LEFT JOIN Solicitacao_Avaliacao SA ON SA.Id_Solicitacao = S.Id_Solicitacao
								LEFT JOIN Consumidor_Unidade CNU ON CNU.Id_Consumidor_Unidade = S.Id_Consumidor_Unidade
		WHERE	S.Fl_Status = @pFl_Status
				AND (S.Nm_Solicitacao LIKE '%' + @pNm_Solicitacao + '%' OR CONVERT(VARCHAR(100),S.Id_Solicitacao) = @pNm_Solicitacao OR @pNm_Solicitacao IS NULL)
				AND (S.Id_Usuario IN (SELECT Id_Usuario FROM Usuario WHERE Nm_Usuario = @pNm_Usuario) 
					OR S.Id_Usuario IN (SELECT Id_Usuario FROM Usuario WHERE Id_Consumidor IN (SELECT Id_Consumidor FROM Consumidor WHERE Nm_Consumidor LIKE '%' + @pNm_Usuario + '%'))
					OR @pNm_Usuario IS NULL)

				AND ( EXISTS(SELECT * FROM Rl_Solicitacao_Fila_Atendimento_Usuario SRSFAU WHERE Id_Usuario = @pId_Usuario_Permissao AND SRSFAU.Id_Solicitacao_Fila_Atendimento = ST.Id_Solicitcao_Fila_Atendimento) 

					OR (EXISTS(SELECT * 
								FROM Consumidor_Unidade_Fornecedor SCUF INNER JOIN Usuario US ON US.Id_Consumidor = SCUF.Id_Consumidor_Fornecedor 
								WHERE US.Id_Usuario = @pId_Usuario_Permissao)
						AND S.Id_Consumidor_Unidade IN (SELECT Id_Consumidor_Unidade 
														FROM Consumidor_Unidade_Fornecedor SCUF INNER JOIN Usuario US ON US.Id_Consumidor = SCUF.Id_Consumidor_Fornecedor 
														WHERE US.Id_Usuario = @pId_Usuario_Permissao)
						AND EXISTS(SELECT * FROM Rl_Solicitacao_Fila_Atendimento_Usuario SRSFAU WHERE Id_Usuario = @pId_Usuario_Permissao AND SRSFAU.Id_Solicitacao_Fila_Atendimento = ST.Id_Solicitcao_Fila_Atendimento)
						)

					OR	(NOT EXISTS(SELECT * 
									FROM Consumidor_Unidade_Fornecedor SCUF INNER JOIN Usuario US ON US.Id_Consumidor = SCUF.Id_Consumidor_Fornecedor 
									WHERE US.Id_Usuario = @pId_Usuario_Permissao)
						AND ST.Id_Solicitcao_Fila_Atendimento IN (	SELECT	SFA.Id_Solicitacao_Fila_Atendimento 
																	FROM	Solicitacao_Fila_Atendimento SFA INNER JOIN Rl_Solicitacao_Fila_Atendimento_Usuario RSFA ON RSFA.Id_Solicitacao_Fila_Atendimento = SFA.Id_Solicitacao_Fila_Atendimento
																	WHERE	RSFA.Id_Usuario = @pId_Usuario_Permissao)
						AND EXISTS(SELECT * FROM Rl_Solicitacao_Fila_Atendimento_Usuario SRSFAU WHERE Id_Usuario = @pId_Usuario_Permissao AND SRSFAU.Id_Solicitacao_Fila_Atendimento = ST.Id_Solicitcao_Fila_Atendimento)											
						)
					)
		ORDER BY Id_Solicitacao
	END
	ELSE
	BEGIN
		SELECT	S.Id_Solicitacao,
				dbo.Fu_Link_HTTP (CASE WHEN ST.Id_Solicitacao_Permissao = 1 THEN 'Solicitacao.aspx' 
										 WHEN ST.Id_Solicitacao_Permissao = 2 THEN 'Solicitacao_Unidade.aspx' 
										 WHEN ST.Id_Solicitacao_Permissao = 3 THEN 'Solicitacao_Roaming.aspx' END, S.Id_Solicitacao,'Raiz') AS LINK,
				Nm_Solicitacao,
				Nm_Ativo_Tipo + ' ' + ISNULL(ST.Nm_Solicitacao_Tipo, '') AS Nm_Solicitacao_Tipo,
				ISNULL(Excedente_SLA,'') AS Excedente_SLA,
				CONVERT(VARCHAR(10),Dt_Solicitacao, 103) AS Dt_Solicitacao,
				CONVERT(VARCHAR(10),Dt_Vencimento, 103) AS Dt_Vencimento,
				ISNULL(Dt_Encerramento,'') AS Dt_Encerramento,
				CASE WHEN (CASE WHEN Fl_Status = 1 THEN GETDATE() ELSE S.Dt_Encerramento END) < DATEADD(DAY,((SELECT DATEDIFF(DAY,Dt_Solicitacao, Dt_Vencimento) FROM Solicitacao SUB_S WHERE Id_Solicitacao = S.Id_Solicitacao) / 2),S.Dt_Solicitacao) THEN 'True' ELSE 'False' END AS VD,
				CASE WHEN (CASE WHEN Fl_Status = 1 THEN GETDATE() ELSE S.Dt_Encerramento END) > DATEADD(DAY,((SELECT DATEDIFF(DAY,Dt_Solicitacao, Dt_Vencimento) FROM Solicitacao SUB_S WHERE Id_Solicitacao = S.Id_Solicitacao) / 2),S.Dt_Solicitacao) AND (CASE WHEN Fl_Status = 1 THEN GETDATE() ELSE S.Dt_Encerramento END) < S.Dt_Vencimento THEN 'True' ELSE 'False' END AS AM,
				CASE WHEN (CASE WHEN Fl_Status = 1 THEN GETDATE() ELSE S.Dt_Encerramento END) > S.Dt_Vencimento THEN 'True' ELSE 'False' END AS VM,
				CASE WHEN Fl_Status = 1 THEN 'Aberto' ELSE 'Encerrado' END AS Fl_Status,
				CASE WHEN (SELECT DATEDIFF(DAY,Dt_Solicitacao, Dt_Vencimento) FROM Solicitacao SUB_S WHERE Id_Solicitacao = S.Id_Solicitacao) > 0 THEN (SELECT CONVERT(VARCHAR,DATEDIFF(DAY,Dt_Solicitacao, Dt_Vencimento)) + 'dia(s)' FROM Solicitacao SUB_S WHERE Id_Solicitacao = S.Id_Solicitacao) ELSE '' END AS Vencimento,
				@pNm_Usuario AS Nm_Usuario,
				(SELECT TOP 1 Nm_Consumidor FROM Consumidor WHERE Id_Consumidor IN (SELECT Id_Consumidor FROM Usuario WHERE Id_Usuario = @pId_Usuario_Permissao)) AS Nm_Consumidor,
				CNU.Matricula,
				CASE WHEN SA.Avaliacao = 1 THEN '~/Img_Sistema/Menu/nota1.png' 
					WHEN SA.Avaliacao = 2 THEN '~/Img_Sistema/Menu/nota2.png'
					WHEN SA.Avaliacao = 3 THEN '~/Img_Sistema/Menu/nota3.png'
					WHEN SA.Avaliacao = 4 THEN '~/Img_Sistema/Menu/nota4.png'
					WHEN SA.Avaliacao = 5 THEN '~/Img_Sistema/Menu/nota5.png'
				ELSE '~/Img_Sistema/Menu/nota0.png' END AS Avaliacao,
				(SELECT TOP 1 SSI.Nm_Solicitacao_Item FROM Solicitacao_Item SSI WHERE Id_Solicitacao = S.Id_Solicitacao ORDER BY SSI.Id_Solicitacao) AS Descricao_Solicitacao
		FROM	Solicitacao S	INNER JOIN Solicitacao_Tipo ST ON S.Id_Solicitacao_Tipo = ST.Id_Solicitacao_Tipo
								INNER JOIN Solicitacao_SLA SS ON SS.Id_Solicitacao_SLA = ST.Id_Solicitacao_SLA
								INNER JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = ST.Id_Ativo_Tipo
								LEFT JOIN Solicitacao_Avaliacao SA ON SA.Id_Solicitacao = S.Id_Solicitacao
								LEFT JOIN Consumidor_Unidade CNU ON CNU.Id_Consumidor_Unidade = S.Id_Consumidor_Unidade
		WHERE	S.Fl_Status = @pFl_Status
				AND (S.Nm_Solicitacao LIKE '%' + @pNm_Solicitacao + '%' OR @pNm_Solicitacao IS NULL)
				AND (S.Id_Usuario IN (SELECT Id_Usuario FROM Usuario WHERE Nm_Usuario = @pNm_Usuario))
		ORDER BY Id_Solicitacao		
	END
END		

-----consulta solicitacao Item
IF @pPAKAGE = 'sp_Consulta_Solicitacao_Item'
BEGIN
	SELECT	Id_Solicitacao,
			Id_Solicitacao_Item,
			Nm_Solicitacao_Item,
			U.Id_Usuario,
			U.Nm_Usuario,
			SI.Dt_Hr_Solicitacao_Item,
			CASE WHEN SI.Nm_Solicitacao_Item = '' AND U.Id_Usuario = @pId_Usuario THEN 'True' ELSE 'False' END AS EditText,
			CASE WHEN SI.Fl_Publicado = 2 THEN 'Grid_Publicado.png' 
				WHEN SI.Fl_Publicado = 1 THEN 'Grid_Nao_Publicado.png' 
				ELSE 'Grid_Check.png' END Publicacao,
			CASE WHEN (SELECT Nm_Usuario_Perfil FROM Si_Usuario_Perfil WHERE Id_Usuario_Perfil IN (SELECT Id_Usuario_Perfil FROM USUARIO WHERE Id_Usuario = U.Id_Usuario)) = 'Administrador' THEN 'True' ELSE 'False' END AS Adm,
			CASE WHEN (SELECT Nm_Usuario_Perfil FROM Si_Usuario_Perfil WHERE Id_Usuario_Perfil IN (SELECT Id_Usuario_Perfil FROM USUARIO WHERE Id_Usuario = U.Id_Usuario)) <> 'Administrador' THEN 'True' ELSE 'False' END AS Us
	FROM	Solicitacao_Item SI INNER JOIN Usuario U ON SI.Id_Usuario = U.Id_Usuario
	WHERE	Id_Solicitacao = @pId_Solicitacao
			AND ((SELECT Id_Usuario_Grupo FROM Usuario WHERE Id_Usuario = @pId_Usuario) = 1 OR Fl_Publicado IN (2,22))
	ORDER BY SI.Dt_Hr_Solicitacao_Item DESC
END	

-----consulta solicitacao item
IF @pPAKAGE = 'sp_Retorno_Solicitacao'
BEGIN
	SELECT	S.Id_Solicitacao,
			S.Nm_Solicitacao,
			S.Id_Ativo_Tipo,
			S.Id_Solicitacao_Tipo,
			S.Id_Consumidor_Unidade,
			ISNULL(S.Id_Solicitacao_Solucao,0) AS Id_Solicitacao_Solucao,
			S.Id_Usuario,
			U.Nm_Usuario,
			Dt_Solicitacao,
			Dt_Vencimento,
			ISNULL(Dt_Encerramento,'') AS Dt_Encerramento,
			CASE WHEN (CASE WHEN Fl_Status = 1 THEN GETDATE() ELSE S.Dt_Encerramento END) < DATEADD(DAY,((SELECT DATEDIFF(DAY,Dt_Solicitacao, Dt_Vencimento) FROM Solicitacao SUB_S WHERE Id_Solicitacao = S.Id_Solicitacao) / 2),S.Dt_Solicitacao) THEN 'True' ELSE 'False' END AS VD,
			CASE WHEN (CASE WHEN Fl_Status = 1 THEN GETDATE() ELSE S.Dt_Encerramento END) > DATEADD(DAY,((SELECT DATEDIFF(DAY,Dt_Solicitacao, Dt_Vencimento) FROM Solicitacao SUB_S WHERE Id_Solicitacao = S.Id_Solicitacao) / 2),S.Dt_Solicitacao) AND (CASE WHEN Fl_Status = 1 THEN GETDATE() ELSE S.Dt_Encerramento END) < S.Dt_Vencimento THEN 'True' ELSE 'False' END AS AM,
			CASE WHEN (CASE WHEN Fl_Status = 1 THEN GETDATE() ELSE S.Dt_Encerramento END) > S.Dt_Vencimento THEN 'True' ELSE 'False' END AS VM,
			CASE WHEN Fl_Status = 1 THEN 'Aberto' ELSE 'Encerrado' END AS Fl_Status,
			ISNULL(SA.Id_Solicitacao_Avaliacao,0) AS Id_Solicitacao_Avaliacao,
			AT.Id_Ativo_Tipo_Grupo_Tipo,
			AT.Id_Ativo_Tipo_Sub_Grupo,
			ATI.Photo,
			ISNULL(ST.Id_Solicitacao_Unidade_Processo, '0') AS Id_Solicitacao_Unidade_Processo,
			AT.Nm_Ativo_Tipo,
			CUN.Nm_Unidade,
			ST.Nm_Solicitacao_Tipo,
			ATGT.Nm_Ativo_Tipo_Grupo_Tipo,
			ATSG.Nm_Ativo_Tipo_Sub_Grupo
	FROM	Solicitacao S	INNER JOIN Solicitacao_Tipo ST ON S.Id_Solicitacao_Tipo = ST.Id_Solicitacao_Tipo
							INNER JOIN Solicitacao_SLA SS ON SS.Id_Solicitacao_SLA = ST.Id_Solicitacao_SLA
							INNER JOIN Usuario U ON S.Id_Usuario = U.Id_Usuario
							INNER JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = S.Id_Ativo_Tipo
							-----
							INNER JOIN Ativo_Tipo_Grupo_Tipo ATGT ON ATGT.Id_Ativo_Tipo_Grupo_Tipo = AT.Id_Ativo_Tipo_Grupo_Tipo
							INNER JOIN Ativo_Tipo_Sub_Grupo ATSG ON ATSG.Id_Ativo_Tipo_Sub_Grupo = AT.Id_Ativo_Tipo_Sub_Grupo
							-----
							LEFT JOIN Consumidor_Unidade CUN ON CUN.Id_Consumidor_Unidade = S.Id_Consumidor_Unidade
							LEFT JOIN Solicitacao_Avaliacao SA ON SA.Id_Solicitacao = S.Id_Solicitacao
							LEFT JOIN Ativo_Tipo_Imagem ATI ON ATI.Id_Ativo_Tipo = AT.Id_Ativo_Tipo 
	WHERE S.Id_Solicitacao = @pId_Solicitacao
END

-----data do intervalo dos emails
IF @pPAKAGE = 'sp_Consulta_Solicitacao_Periodo'
BEGIN
	SELECT	DISTINCT SUBSTRING(CONVERT(VARCHAR,Dt_Solicitacao,112),1,6) AS Codigo,
			CASE WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Solicitacao,112),5,2) = '01' THEN 'Jan'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Solicitacao,112),5,2) = '02' THEN 'Fev'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Solicitacao,112),5,2) = '03' THEN 'Mar'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Solicitacao,112),5,2) = '04' THEN 'Abr'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Solicitacao,112),5,2) = '05' THEN 'Mai'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Solicitacao,112),5,2) = '06' THEN 'Jun'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Solicitacao,112),5,2) = '07' THEN 'Jul'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Solicitacao,112),5,2) = '08' THEN 'Ago'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Solicitacao,112),5,2) = '09' THEN 'Set'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Solicitacao,112),5,2) = '10' THEN 'Out'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Solicitacao,112),5,2) = '11' THEN 'Nov'
					WHEN SUBSTRING(CONVERT(VARCHAR,Dt_Solicitacao,112),5,2) = '12' THEN 'Dez' END + ' ' +
			RIGHT(CONVERT(VARCHAR,Dt_Solicitacao,106),4) AS Descricao
	FROM	Solicitacao
	ORDER BY Codigo
END

-----consulta statistica de solicitacao
IF @pPAKAGE = 'sp_Consulta_Solicitacao_Status'
BEGIN
	IF EXISTS(SELECT * FROM Usuario WHERE Id_Usuario = @pId_Usuario_Permissao AND Id_Usuario_Grupo = 1)
	BEGIN
		SELECT	COUNT(*) Incidente,
				-----aberto
				SUM(CASE WHEN S.Fl_Status = 1 THEN 1 ELSE 0 END) AS Aberto,								
				SUM(CASE WHEN S.Dt_Vencimento < GETDATE() AND S.Fl_Status = 1 THEN 1 ELSE 0 END) AS Aberto_DSLA, 	
				SUM(CASE WHEN S.Dt_Vencimento > GETDATE() AND S.Fl_Status = 1 THEN 1 ELSE 0 END) AS Aberto_FSLA,
				-----encerrado							
				SUM(CASE WHEN S.Fl_Status = 2 THEN 1 ELSE 0 END) AS Encerrado,
				SUM(CASE WHEN S.Dt_Vencimento < S.Dt_Encerramento AND Fl_Status = 2 THEN 1 ELSE 0 END) AS Encerrado_DSLA,
				SUM(CASE WHEN S.Dt_Vencimento > S.Dt_Encerramento AND Fl_Status = 2 THEN 1 ELSE 0 END) AS Encerrado_FSLA
		FROM	Solicitacao S	INNER JOIN Solicitacao_Tipo ST ON S.Id_Solicitacao_Tipo = ST.Id_Solicitacao_Tipo
								INNER JOIN Solicitacao_SLA SS ON SS.Id_Solicitacao_SLA = ST.Id_Solicitacao_SLA
		WHERE	ST.Id_Solicitcao_Fila_Atendimento IN (SELECT SFA.Id_Solicitacao_Fila_Atendimento FROM Solicitacao_Fila_Atendimento SFA INNER JOIN dbo.Rl_Solicitacao_Fila_Atendimento_Usuario RSFA ON RSFA.Id_Solicitacao_Fila_Atendimento = SFA.Id_Solicitacao_Fila_Atendimento
															WHERE RSFA.Id_Usuario = @pId_Usuario_Permissao)
				AND (SUBSTRING(CONVERT(VARCHAR,S.Dt_Solicitacao,112),1,6) >= @pDt_LoteDe AND SUBSTRING(CONVERT(VARCHAR,S.Dt_Solicitacao,112),1,6) <= @pDt_LoteAte)
	END
	ELSE
	BEGIN
		SELECT	COUNT(*) Incidente,
				-----aberto
				SUM(CASE WHEN S.Fl_Status = 1 THEN 1 ELSE 0 END) AS Aberto,								
				SUM(CASE WHEN S.Dt_Vencimento < GETDATE() AND S.Fl_Status = 1 THEN 1 ELSE 0 END) AS Aberto_DSLA, 	
				SUM(CASE WHEN S.Dt_Vencimento > GETDATE() AND S.Fl_Status = 1 THEN 1 ELSE 0 END) AS Aberto_FSLA,
				-----encerrado
				SUM(CASE WHEN S.Fl_Status = 2 THEN 1 ELSE 0 END) AS Encerrado,
				SUM(CASE WHEN S.Dt_Vencimento < S.Dt_Encerramento AND Fl_Status = 2 THEN 1 ELSE 0 END) AS Encerrado_DSLA,
				SUM(CASE WHEN S.Dt_Vencimento > S.Dt_Encerramento AND Fl_Status = 2 THEN 1 ELSE 0 END) AS Encerrado_FSLA
		FROM	Solicitacao S	INNER JOIN Solicitacao_Tipo ST ON S.Id_Solicitacao_Tipo = ST.Id_Solicitacao_Tipo
								INNER JOIN Solicitacao_SLA SS ON SS.Id_Solicitacao_SLA = ST.Id_Solicitacao_SLA
		WHERE	S.Id_Usuario IN (SELECT Id_Usuario FROM Usuario WHERE Nm_Usuario = @pId_Usuario_Permissao)
				AND (SUBSTRING(CONVERT(VARCHAR,S.Dt_Solicitacao,112),1,6) >= @pDt_LoteDe AND SUBSTRING(CONVERT(VARCHAR,S.Dt_Solicitacao,112),1,6) <= @pDt_LoteAte)		
	END
END

-----consulta permissao para abertura de chamado
IF @pPAKAGE = 'sp_Consulta_Permissao_Abertura'
BEGIN
	SELECT	Id_Solicitacao_Permissao
	FROM	Rl_Usuario_Solicitacao_Permissao
	WHERE	(1 = (SELECT Id_Usuario_Grupo FROM Usuario WHERE Id_Usuario = @pId_Usuario) OR Id_Usuario = @pId_Usuario)
END

-----consulta permissao para abertura de chamado
IF @pPAKAGE = 'sp_Config_Caixa_Texto'
BEGIN
	SELECT	ISNULL(Fl_Config_Caixa_Texto, '') AS Fl_Config_Caixa_Texto
	FROM	Solicitacao_Tipo
	WHERE	Id_Solicitacao_Tipo = @pId_Solicitacao_Tipo
END

-----lista ativo vinculado a solicitacao
IF @pPAKAGE = 'sp_Consulta_Solicitacao_Ativo'
BEGIN
	SELECT	AT.Nr_Ativo, 
			AT.Id_Ativo,  
			AT.Id_Ativo_Tipo, 
			AT.Id_Conglomerado, 
			AT.Observacao,
			CD.Id_Consumidor_Unidade 
	FROM	Ativo AT	LEFT JOIN Rl_Consumidor_Ativo RCA ON AT.Id_Ativo = RCA.Id_Ativo
						LEFT JOIN Consumidor_Unidade CD ON CD.Id_Consumidor = RCA.Id_Consumidor  
	WHERE	AT.Id_Ativo IN (SELECT Id_Ativo FROM Rl_Solicitacao_Ativo WHERE Id_Solicitacao = @pId_Solicitacao )
END 

-------insere bilhete para ativo criado na solicitacao unidade
IF @pPAKAGE = 'sp_Lote_Solicitacao_Unidade'
BEGIN
	IF NOT @pId_Ativo_Tipo IS NULL AND NOT @pId_Ativo_Tipo IS NULL
	BEGIN
		IF EXISTS (SELECT	TOP 1 Id_Bilhete_Tipo 
					FROM	Bilhete_Tipo 
					WHERE	Id_Conglomerado = @pId_Consumidor_Unidade  -----******** Id_Congomerado
					ORDER BY Id_Bilhete_Tipo)
		BEGIN
			DECLARE @vIdLote AS FLOAT
			DECLARE @vIdAtivo AS INT
			DECLARE @vIdBilhete AS FLOAT

			SELECT @vIdLote = ISNULL(MAX(Id_Lote),0) + 1 FROM Lote
			SELECT @vIdAtivo = Id_Ativo FROM vw_ATivo WHERE Id_Ativo = @pId_Ativo_Tipo -----******** Id_Ativo
			SELECT @vIdBilhete = ISNULL(MAX(Id_Bilhete),0) + 1 FROM Bilhete

			INSERT INTO Lote 
			VALUES(	@vIdLote,
					@vIdAtivo,
					CONVERT(DATETIME,SUBSTRING(CONVERT(VARCHAR, GETDATE(), 111),1,8) + '01'),
					GETDATE(),
					0,
					0,
					0,
					0,
					0,
					0,
					0,
					0,
					NULL)

			-----insere lote log
			INSERT INTO Lote_Log_Criacao
			SELECT	(SELECT ISNULL(MAX(Id_Lote_Log_Criacao),0) FROM Lote_Log_Criacao) + ROW_NUMBER() OVER(ORDER BY RAC.Id_Consumidor ASC),
					@vIdLote,
					RAC.Id_Consumidor,
					CO.Id_Filial,
					CO.Id_Centro_Custo,
					CO.Id_Departamento,
					CO.Id_Setor,
					CO.Id_Secao
			FROM	dbo.Rl_Consumidor_Ativo RAC INNER JOIN vw_Consumidor CO ON RAC.Id_Consumidor = CO.Id_Consumidor
			WHERE	Id_Ativo IN (SELECT Id_Ativo FROM vw_ATivo WHERE Id_Ativo = @pId_Ativo_Tipo) -----******** Id_Ativo
				
			-----insere bilhete
			INSERT INTO Bilhete
			VALUES (@vIdBilhete,
					@vIdAtivo,
					CONVERT(DATETIME,SUBSTRING(CONVERT(VARCHAR, GETDATE(), 111),1,8) + '01'),
					'909',
					'1',
					'1',
					(SELECT	TOP 1 Id_Bilhete_Tipo 
					FROM	Bilhete_Tipo 
					WHERE	Id_Conglomerado = @pId_Consumidor_Unidade  -----******** Id_Congomerado
					ORDER BY Id_Bilhete_Tipo),
					@vIdLote,
					NULL,
					'1',
					NULL,
					NULL,
					NULL,
					'EQP',
					0)

			-----carrega tabela para agrupar e filtrar data do bilhete
			INSERT INTO Bilhete_Data
			SELECT	L.Id_Lote,
					MIN(B.DB_Data_Hora) AS Menor,
					MAX(B.DB_Data_Hora) AS Maior
			FROM	Bilhete B INNER JOIN Lote L ON B.Id_Lote = L.Id_Lote
			WHERE	B.DB_Custo > 0
					AND NOT EXISTS(SELECT * FROM Bilhete_Data WHERE Id_Lote = L.Id_Lote)
			GROUP BY L.Id_Lote
		END
	END
END
GO
