USE [Vale]
GO
/****** Object:  Table [dbo].[Rateio]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rateio](
	[Id_Rateio] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Rateio] [varchar](80) NOT NULL,
	[Dt_Rateio] [datetime] NOT NULL,
	[Dt_Lote] [datetime] NOT NULL,
	[Vr_Fatura] [numeric](38, 18) NULL,
	[Vr_Tarifado] [numeric](38, 18) NULL,
	[Id_Fatura_Parametro] [int] NOT NULL,
	[Observacao] [varchar](8000) NULL,
 CONSTRAINT [PK_Rateio] PRIMARY KEY CLUSTERED 
(
	[Id_Rateio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rateio]  WITH NOCHECK ADD  CONSTRAINT [FK_Rateio_Rateio] FOREIGN KEY([Id_Fatura_Parametro])
REFERENCES [dbo].[Fatura_Parametro] ([Id_Fatura_Parametro])
GO
ALTER TABLE [dbo].[Rateio] CHECK CONSTRAINT [FK_Rateio_Rateio]
GO
