USE [Vale]
GO
/****** Object:  Table [dbo].[Rl_Hi_Setor_Secao]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rl_Hi_Setor_Secao](
	[Id_Setor] [int] NOT NULL,
	[Id_Secao] [int] NOT NULL,
 CONSTRAINT [PK_Rl_Hi_Setor_Secao] PRIMARY KEY CLUSTERED 
(
	[Id_Setor] ASC,
	[Id_Secao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rl_Hi_Setor_Secao]  WITH NOCHECK ADD  CONSTRAINT [FK_Rl_Hi_Setor_Secao_Secao] FOREIGN KEY([Id_Secao])
REFERENCES [dbo].[Secao] ([Id_Secao])
GO
ALTER TABLE [dbo].[Rl_Hi_Setor_Secao] CHECK CONSTRAINT [FK_Rl_Hi_Setor_Secao_Secao]
GO
ALTER TABLE [dbo].[Rl_Hi_Setor_Secao]  WITH NOCHECK ADD  CONSTRAINT [FK_Rl_Hi_Setor_Secao_Setor] FOREIGN KEY([Id_Setor])
REFERENCES [dbo].[Setor] ([Id_Setor])
GO
ALTER TABLE [dbo].[Rl_Hi_Setor_Secao] CHECK CONSTRAINT [FK_Rl_Hi_Setor_Secao_Setor]
GO
