USE [Vale]
GO
/****** Object:  Table [dbo].[Si_Tela_Campo]    Script Date: 7/6/2025 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Si_Tela_Campo](
	[Id_Campo] [int] NOT NULL,
	[Id_Tela] [int] NOT NULL,
	[Nm_Campo] [varchar](50) NOT NULL,
	[Propriedade] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Si_Tela_Campo] PRIMARY KEY CLUSTERED 
(
	[Id_Campo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Si_Tela_Campo]  WITH NOCHECK ADD  CONSTRAINT [FK_Si_Tela_Campo_Si_Tela] FOREIGN KEY([Id_Tela])
REFERENCES [dbo].[Si_Tela] ([Id_Tela])
GO
ALTER TABLE [dbo].[Si_Tela_Campo] CHECK CONSTRAINT [FK_Si_Tela_Campo_Si_Tela]
GO
