USE [Vale]
GO
/****** Object:  Table [dbo].[Arquivo_PDF_LOG_2]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arquivo_PDF_LOG_2](
	[Id_Arquivo_PDF] [int] NULL,
	[Nm_Arquivo_PDF] [varchar](100) NULL,
	[Tabela_Registro] [varchar](100) NULL,
	[Id_Registro_Tabela] [int] NULL,
	[Tamanho] [varchar](100) NULL,
	[acao] [varchar](50) NULL,
	[Data_modificacao] [datetime] NULL
) ON [PRIMARY]
GO
