USE [Vale]
GO
/****** Object:  Table [dbo].[Ativo_Modelo]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ativo_Modelo](
	[Id_Ativo_Modelo] [int] IDENTITY(1,1) NOT NULL,
	[Id_Ativo_Tipo] [int] NOT NULL,
	[Id_Ativo_Fabricante] [int] NOT NULL,
	[Nm_Ativo_Modelo] [varchar](50) NOT NULL,
	[Fl_Desativado] [int] NOT NULL,
 CONSTRAINT [PK_Ativo_Modelo] PRIMARY KEY CLUSTERED 
(
	[Id_Ativo_Modelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ativo_Modelo]  WITH NOCHECK ADD  CONSTRAINT [FK_Ativo_Modelo_Ativo_Fabricante] FOREIGN KEY([Id_Ativo_Fabricante])
REFERENCES [dbo].[Ativo_Fabricante] ([Id_Ativo_Fabricante])
GO
ALTER TABLE [dbo].[Ativo_Modelo] CHECK CONSTRAINT [FK_Ativo_Modelo_Ativo_Fabricante]
GO
ALTER TABLE [dbo].[Ativo_Modelo]  WITH NOCHECK ADD  CONSTRAINT [FK_Ativo_Modelo_Ativo_Tipo] FOREIGN KEY([Id_Ativo_Tipo])
REFERENCES [dbo].[Ativo_Tipo] ([Id_Ativo_Tipo])
GO
ALTER TABLE [dbo].[Ativo_Modelo] CHECK CONSTRAINT [FK_Ativo_Modelo_Ativo_Tipo]
GO
