USE [Vale]
GO
/****** Object:  Table [dbo].[Filial_Staging]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filial_Staging](
	[Cd_Filial] [varchar](20) NULL,
	[Nm_Filial] [varchar](50) NOT NULL,
	[CNPJ] [varchar](50) NULL,
	[Endereco] [varchar](300) NULL,
	[Hi_Departamento] [int] NULL,
	[Hi_Setor] [int] NULL,
	[Hi_Secao] [int] NULL,
	[Fl_Desativado] [int] NOT NULL,
	[Dt_Inclusao_Staging] [datetime] NULL,
	[Cd_Empresa] [varchar](50) NULL,
	[Id_Empresa] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Filial_Staging] ADD  DEFAULT (getdate()) FOR [Dt_Inclusao_Staging]
GO
