USE [Vale]
GO
/****** Object:  View [dbo].[vw_Pesquisa_Consumidor_Ativo]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE VIEW [dbo].[vw_Pesquisa_Consumidor_Ativo]
AS
-----Ativo (Numero Ativo)
SELECT	A.Nr_Ativo AS Pesquisa,
		ISNULL(C.Nm_Consumidor,' ') AS Nm_Consumidor,
		A.Nr_Ativo,
		'<strong>FORNECEDOR: </strong>' + ISNULL(CG.Nm_Conglomerado,'') + 
		' | <strong>TIPO DE ATIVO: </strong>' + ISNULL(AT.Nm_Ativo_Tipo,'') + 
		' | <strong>STATUS:</strong> ' + ISNULL(ATS.Nm_Ativo_Status,'') + 
		' | <strong>FILIAL:</strong> ' + ISNULL(FI.Nm_Filial,'') + 
		' | <strong>CENTRO DE CUSTO:</strong> ' + ISNULL(CC.Cd_Centro_Custo,'') + 
		'  <strong><br>DATA DE ATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Ativacao, 103),'Sem data') + 
		' | <strong>DATA DE DESATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Desativacao, 103), 'Sem data') + ' | <strong>MODELO DO ATIVO:</strong> ' + ISNULL(AM.Nm_Ativo_Modelo,'') + ' | <strong>NÚMERO DO IMEI:</strong> ' + ISNULL(EA.Nr_Aparelho,'') AS Tipo,
		'Última Conta - ' + ISNULL((SELECT RIGHT(CONVERT(VARCHAR,MAX(Dt_Lote),106),8) FROM Lote WHERE Id_Ativo = A.Id_Ativo), 'N/D') + ' | ' +
		'Total Carregado - ' + ISNULL((SELECT TOP 1 CONVERT(VARCHAR,CAST((Total) AS DECIMAL(13,2))) FROM Lote WHERE Id_Ativo = A.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = A.Id_Ativo)), '0') AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,
		CASE WHEN C.Id_Consumidor IS NULL THEN ' ' ELSE dbo.Fu_Link_HTTP ('Consumidor.aspx',C.Id_Consumidor,'') END AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'ativo' AS Campo		
FROM	vw_Ativo A	LEFT JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
					LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
					LEFT JOIN Rl_Consumidor_Ativo RA ON A.Id_Ativo = RA.Id_Ativo
					LEFT JOIN vw_Consumidor C ON RA.Id_Consumidor = C.Id_Consumidor
                    LEFT JOIN Usuario U1 on C.Id_consumidor = U1.Id_Consumidor
                    LEFT JOIN Rl_Perfil_Ativo_Usuario RLPAU on U1.Id_usuario = RLPAU.Id_usuario and A.Id_ativo = RlPAU.Id_Ativo
                    LEFT JOIN Ativo_Modelo AM on AM.Id_Ativo_modelo = A.Id_Ativo_modelo
                    LEFT JOIN RL_Estoque_Aparelho_Ativo RLEAA on RLEAA.Id_Ativo = A.Id_Ativo
                    LEFT JOIN EStoque_Aparelho EA on EA.ID_Aparelho = RLEAA.ID_Aparelho 
					LEFT JOIN vw_Ativo_Status ATS ON ATS.Id_Ativo_Status = A.Id_Ativo_Status
					LEFT JOIN Filial FI ON FI.Id_Filial = C.Id_Filial
					LEFT JOIN Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
UNION ALL
-----Ativo (controle interno)
SELECT	A.Finalidade AS Pesquisa, 
		ISNULL(C.Nm_Consumidor,' ') AS Nm_Consumidor,
		A.Nr_Ativo,
		'<strong>FORNECEDOR: </strong>' + ISNULL(CG.Nm_Conglomerado,'') + ' | <strong>TIPO DE ATIVO: </strong>' + ISNULL(AT.Nm_Ativo_Tipo,'') + ' | <strong>STATUS:</strong> ' + ISNULL(ATS.Nm_Ativo_Status,'') + ' | <strong>FILIAL:</strong> ' + ISNULL(FI.Nm_Filial,'') + ' | <strong>CENTRO DE CUSTO:</strong> ' + ISNULL(CC.Cd_Centro_Custo,'') + '  <strong><br>DATA DE ATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Ativacao, 103),'Sem data') + ' | <strong>DATA DE DESATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Desativacao, 103), 'Sem data') + ' | <strong>MODELO DO ATIVO:</strong> ' + ISNULL(AM.Nm_Ativo_Modelo,'') + ' | <strong>NÚMERO DO IMEI:</strong> ' + ISNULL(EA.Nr_Aparelho,'')AS Tipo,
		'Última Conta - ' + ISNULL((SELECT RIGHT(CONVERT(VARCHAR,MAX(Dt_Lote),106),8) FROM Lote WHERE Id_Ativo = A.Id_Ativo), 'N/D') + ' | ' +
		'Total Carregado - ' + ISNULL((SELECT TOP 1 CONVERT(VARCHAR,CAST((Total) AS DECIMAL(13,2))) FROM Lote WHERE Id_Ativo = A.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = A.Id_Ativo)), '0') AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,
		CASE WHEN C.Id_Consumidor IS NULL THEN ' ' ELSE dbo.Fu_Link_HTTP ('Consumidor.aspx',C.Id_Consumidor,'') END AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'controle interno' AS Campo		
FROM	vw_Ativo A	LEFT JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
					LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
					LEFT JOIN Rl_Consumidor_Ativo RA ON A.Id_Ativo = RA.Id_Ativo
					LEFT JOIN vw_Consumidor C ON RA.Id_Consumidor = C.Id_Consumidor
                    LEFT JOIN Usuario U1 on C.Id_consumidor = U1.Id_Consumidor
                    LEFT JOIN Rl_Perfil_Ativo_Usuario RLPAU on U1.Id_usuario = RLPAU.Id_usuario and A.Id_ativo = RlPAU.Id_Ativo
                    LEFT JOIN Ativo_Modelo AM on AM.Id_Ativo_modelo = A.Id_Ativo_modelo
                    LEFT JOIN RL_Estoque_Aparelho_Ativo RLEAA on RLEAA.Id_Ativo = A.Id_Ativo
                    LEFT JOIN EStoque_Aparelho EA on EA.ID_Aparelho = RLEAA.ID_Aparelho 
					LEFT JOIN vw_Ativo_Status ATS ON ATS.Id_Ativo_Status = A.Id_Ativo_Status
					LEFT JOIN Filial FI ON FI.Id_Filial = C.Id_Filial
					LEFT JOIN Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
WHERE	NOT Finalidade IS NULL OR LTRIM(RTRIM(Finalidade)) = ''
UNION ALL
-----Ativo (Observacao)
SELECT	A.Observacao AS Pesquisa,
		ISNULL(C.Nm_Consumidor,' ') AS Nm_Consumidor,
		A.Nr_Ativo,
        '<strong>FORNECEDOR: </strong>' + ISNULL(CG.Nm_Conglomerado,'') + ' | <strong>TIPO DE ATIVO: </strong>' + ISNULL(AT.Nm_Ativo_Tipo,'') + ' | <strong>STATUS:</strong> ' + ISNULL(ATS.Nm_Ativo_Status,'') + ' | <strong>FILIAL:</strong> ' + ISNULL(FI.Nm_Filial,'') + ' | <strong>CENTRO DE CUSTO:</strong> ' + ISNULL(CC.Cd_Centro_Custo,'') + '  <strong><br>DATA DE ATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Ativacao, 103),'Sem data') + ' | <strong>DATA DE DESATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Desativacao, 103), 'Sem data') + ' | <strong>MODELO DO ATIVO:</strong> ' + ISNULL(AM.Nm_Ativo_Modelo,'') + ' | <strong>NÚMERO DO IMEI:</strong> ' + ISNULL(EA.Nr_Aparelho,'') AS Tipo,
		'Última Conta - ' + ISNULL((SELECT RIGHT(CONVERT(VARCHAR,MAX(Dt_Lote),106),8) FROM Lote WHERE Id_Ativo = A.Id_Ativo), 'N/D') + ' | ' +
		'Total Carregado - ' + ISNULL((SELECT TOP 1 CONVERT(VARCHAR,CAST((Total) AS DECIMAL(13,2))) FROM Lote WHERE Id_Ativo = A.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = A.Id_Ativo)), '0') AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,
		CASE WHEN C.Id_Consumidor IS NULL THEN ' ' ELSE dbo.Fu_Link_HTTP ('Consumidor.aspx',C.Id_Consumidor,'') END AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'observacao' AS Campo
FROM	vw_Ativo A	LEFT JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
					LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
					LEFT JOIN Rl_Consumidor_Ativo RA ON A.Id_Ativo = RA.Id_Ativo
					LEFT JOIN vw_Consumidor C ON RA.Id_Consumidor = C.Id_Consumidor
                    LEFT JOIN Usuario U1 on C.Id_consumidor = U1.Id_Consumidor
                    LEFT JOIN Rl_Perfil_Ativo_Usuario RLPAU on U1.Id_usuario = RLPAU.Id_usuario and A.Id_ativo = RlPAU.Id_Ativo
                    LEFT JOIN Ativo_Modelo AM on AM.Id_Ativo_modelo = A.Id_Ativo_modelo
                    LEFT JOIN RL_Estoque_Aparelho_Ativo RLEAA on RLEAA.Id_Ativo = A.Id_Ativo
                    LEFT JOIN EStoque_Aparelho EA on EA.ID_Aparelho = RLEAA.ID_Aparelho 
			        LEFT JOIN vw_Ativo_Status ATS ON ATS.Id_Ativo_Status = A.Id_Ativo_Status
					LEFT JOIN Filial FI ON FI.Id_Filial = C.Id_Filial
				    LEFT JOIN Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
WHERE	NOT A.Observacao IS NULL OR LTRIM(RTRIM(A.Observacao)) = ''
UNION ALL
-----Ativo (Complemento)
SELECT	SUBSTRING(REPLACE(REPLACE(A.Ativo_Complemento,'§',' / '),'¶','-'),1,50) + '...' AS Pesquisa, 
		ISNULL(C.Nm_Consumidor,' ') AS Nm_Consumidor,
		A.Nr_Ativo,
        '<strong>FORNECEDOR: </strong>' + ISNULL(CG.Nm_Conglomerado,'') + ' | <strong>TIPO DE ATIVO: </strong>' + ISNULL(AT.Nm_Ativo_Tipo,'') + ' | <strong>STATUS:</strong> ' + ISNULL(ATS.Nm_Ativo_Status,'') + ' | <strong>FILIAL:</strong> ' + ISNULL(FI.Nm_Filial,'') + ' | <strong>CENTRO DE CUSTO:</strong> ' + ISNULL(CC.Cd_Centro_Custo,'') + '  <strong><br>DATA DE ATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Ativacao, 103),'Sem data') + ' | <strong>DATA DE DESATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Desativacao, 103), 'Sem data') + ' | <strong>MODELO DO ATIVO:</strong> ' + ISNULL(AM.Nm_Ativo_Modelo,'') + ' | <strong>NÚMERO DO IMEI:</strong> ' + ISNULL(EA.Nr_Aparelho,'') AS Tipo,
		'Última Conta - ' + ISNULL((SELECT RIGHT(CONVERT(VARCHAR,MAX(Dt_Lote),106),8) FROM Lote WHERE Id_Ativo = A.Id_Ativo), 'N/D') + ' | ' +
		'Total Carregado - ' + ISNULL((SELECT TOP 1 CONVERT(VARCHAR,CAST((Total) AS DECIMAL(13,2))) FROM Lote WHERE Id_Ativo = A.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = A.Id_Ativo)), '0') AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,
		CASE WHEN C.Id_Consumidor IS NULL THEN ' ' ELSE dbo.Fu_Link_HTTP ('Consumidor.aspx',C.Id_Consumidor,'') END AS Link_2,
		CASE WHEN A.Fl_Desativado IN (2, 0) THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'dados adicionais' AS Campo
FROM	Ativo A	LEFT JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
				LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
				LEFT JOIN Rl_Consumidor_Ativo RA ON A.Id_Ativo = RA.Id_Ativo
				LEFT JOIN vw_Consumidor C ON RA.Id_Consumidor = C.Id_Consumidor
                LEFT JOIN Usuario U1 on C.Id_consumidor = U1.Id_Consumidor
                LEFT JOIN Rl_Perfil_Ativo_Usuario RLPAU on U1.Id_usuario = RLPAU.Id_usuario and A.Id_ativo = RlPAU.Id_Ativo
                LEFT JOIN Ativo_Modelo AM on AM.Id_Ativo_modelo = A.Id_Ativo_modelo
                    LEFT JOIN RL_Estoque_Aparelho_Ativo RLEAA on RLEAA.Id_Ativo = A.Id_Ativo
                    LEFT JOIN EStoque_Aparelho EA on EA.ID_Aparelho = RLEAA.ID_Aparelho 
				LEFT JOIN vw_Ativo_Status ATS ON ATS.Id_Ativo_Status = A.Id_Ativo_Status
				LEFT JOIN Filial FI ON FI.Id_Filial = C.Id_Filial
				LEFT JOIN Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
WHERE	NOT Ativo_Complemento IS NULL OR NOT LTRIM(RTRIM(Ativo_Complemento)) = ''
UNION ALL
-----Ativo (Forma Aquisicao)
SELECT	AF.Nm_Ativo_Fr_Aquisicao AS Pesquisa, 
		ISNULL(C.Nm_Consumidor,' ') AS Nm_Consumidor,
		A.Nr_Ativo,
        '<strong>FORNECEDOR: </strong>' + ISNULL(CG.Nm_Conglomerado,'') + ' | <strong>TIPO DE ATIVO: </strong>' + ISNULL(AT.Nm_Ativo_Tipo,'') + ' | <strong>STATUS:</strong> ' + ISNULL(ATS.Nm_Ativo_Status,'') + ' | <strong>FILIAL:</strong> ' + ISNULL(FI.Nm_Filial,'') + ' | <strong>CENTRO DE CUSTO:</strong> ' + ISNULL(CC.Cd_Centro_Custo,'') + '  <strong><br>DATA DE ATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Ativacao, 103),'Sem data') + ' | <strong>DATA DE DESATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Desativacao, 103), 'Sem data') + ' | <strong>MODELO DO ATIVO:</strong> ' + ISNULL(AM.Nm_Ativo_Modelo,'') + ' | <strong>NÚMERO DO IMEI:</strong> ' + ISNULL(EA.Nr_Aparelho,'') AS Tipo,
		'Última Conta - ' + ISNULL((SELECT RIGHT(CONVERT(VARCHAR,MAX(Dt_Lote),106),8) FROM Lote WHERE Id_Ativo = A.Id_Ativo), 'N/D') + ' | ' +
		'Total Carregado - ' + ISNULL((SELECT TOP 1 CONVERT(VARCHAR,CAST((Total) AS DECIMAL(13,2))) FROM Lote WHERE Id_Ativo = A.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = A.Id_Ativo)), '0') AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,
		CASE WHEN C.Id_Consumidor IS NULL THEN ' ' ELSE dbo.Fu_Link_HTTP ('Consumidor.aspx',C.Id_Consumidor,'') END AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'forma aquisicao' AS Campo
FROM	vw_Ativo A	LEFT JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
					LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
					LEFT JOIN Rl_Consumidor_Ativo RA ON A.Id_Ativo = RA.Id_Ativo
					LEFT JOIN Ativo_Parametro AP ON AP.Id_Ativo = A.Id_Ativo
					LEFT JOIN Ativo_Fr_Aquisicao AF ON AF.Id_Ativo_Fr_Aquisicao = AP.Id_Ativo_Fr_Aquisicao
					LEFT JOIN vw_Consumidor C ON RA.Id_Consumidor = C.Id_Consumidor
                    LEFT JOIN Usuario U1 on C.Id_consumidor = U1.Id_Consumidor
                    LEFT JOIN Rl_Perfil_Ativo_Usuario RLPAU on U1.Id_usuario = RLPAU.Id_usuario and A.Id_ativo = RlPAU.Id_Ativo
                    LEFT JOIN Ativo_Modelo AM on AM.Id_Ativo_modelo = A.Id_Ativo_modelo
                    LEFT JOIN RL_Estoque_Aparelho_Ativo RLEAA on RLEAA.Id_Ativo = A.Id_Ativo
                    LEFT JOIN EStoque_Aparelho EA on EA.ID_Aparelho = RLEAA.ID_Aparelho 
				    LEFT JOIN vw_Ativo_Status ATS ON ATS.Id_Ativo_Status = A.Id_Ativo_Status
					LEFT JOIN Filial FI ON FI.Id_Filial = C.Id_Filial
					LEFT JOIN Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
UNION ALL
-----Consumidor (Nome)
SELECT	C.Nm_Consumidor AS Pesquisa, 
		ISNULL(C.Nm_Consumidor,' ') AS Nm_Consumidor,
		A.Nr_Ativo,
        '<strong>FORNECEDOR: </strong>' + ISNULL(CG.Nm_Conglomerado,'') + ' | <strong>TIPO DE ATIVO: </strong>' + ISNULL(AT.Nm_Ativo_Tipo,'') + ' | <strong>STATUS:</strong> ' + ISNULL(ATS.Nm_Ativo_Status,'') + ' | <strong>FILIAL:</strong> ' + ISNULL(FI.Nm_Filial,'') + ' | <strong>CENTRO DE CUSTO:</strong> ' + ISNULL(CC.Cd_Centro_Custo,'') + '  <strong><br>DATA DE ATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Ativacao, 103),'Sem data') + ' | <strong>DATA DE DESATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Desativacao, 103), 'Sem data') + ' | <strong>MODELO DO ATIVO:</strong> ' + ISNULL(AM.Nm_Ativo_Modelo,'') + ' | <strong>NÚMERO DO IMEI:</strong> ' + ISNULL(EA.Nr_Aparelho,'')AS Tipo,
		'Última Conta - ' + ISNULL((SELECT RIGHT(CONVERT(VARCHAR,MAX(Dt_Lote),106),8) FROM Lote WHERE Id_Ativo = A.Id_Ativo), 'N/D') + ' | ' +
		'Total Carregado - ' + ISNULL((SELECT TOP 1 CONVERT(VARCHAR,CAST((Total) AS DECIMAL(13,2))) FROM Lote WHERE Id_Ativo = A.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = A.Id_Ativo)), '0') AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,
		CASE WHEN C.Id_Consumidor IS NULL THEN ' ' ELSE dbo.Fu_Link_HTTP ('Consumidor.aspx',C.Id_Consumidor,'') END AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'consumidor' AS Campo
FROM	vw_Ativo A	LEFT JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
					LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
					LEFT JOIN Rl_Consumidor_Ativo RA ON A.Id_Ativo = RA.Id_Ativo
					LEFT JOIN vw_Consumidor C ON RA.Id_Consumidor = C.Id_Consumidor
                    LEFT JOIN Usuario U1 on C.Id_consumidor = U1.Id_Consumidor
                    LEFT JOIN Rl_Perfil_Ativo_Usuario RLPAU on U1.Id_usuario = RLPAU.Id_usuario and A.Id_ativo = RlPAU.Id_Ativo
                    LEFT JOIN Ativo_Modelo AM on AM.Id_Ativo_modelo = A.Id_Ativo_modelo
                    LEFT JOIN RL_Estoque_Aparelho_Ativo RLEAA on RLEAA.Id_Ativo = A.Id_Ativo
                    LEFT JOIN EStoque_Aparelho EA on EA.ID_Aparelho = RLEAA.ID_Aparelho 
					LEFT JOIN vw_Ativo_Status ATS ON ATS.Id_Ativo_Status = A.Id_Ativo_Status
					LEFT JOIN Filial FI ON FI.Id_Filial = C.Id_Filial
					LEFT JOIN Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
UNION ALL

-----Consumidor (Matricula)
SELECT	C.Matricula AS Pesquisa, 
		ISNULL(C.Nm_Consumidor,' ') AS Nm_Consumidor,
		A.Nr_Ativo,
		'<strong>FORNECEDOR: </strong>' + ISNULL(CG.Nm_Conglomerado,'') + ' | <strong>TIPO DE ATIVO: </strong>' + ISNULL(AT.Nm_Ativo_Tipo,'') + ' | <strong>STATUS:</strong> ' + ISNULL(ATS.Nm_Ativo_Status,'') + ' | <strong>FILIAL:</strong> ' + ISNULL(FI.Nm_Filial,'') + ' | <strong>CENTRO DE CUSTO:</strong> ' + ISNULL(CC.Cd_Centro_Custo,'') + '  <strong><br>DATA DE ATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Ativacao, 103),'Sem data') + ' | <strong>DATA DE DESATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Desativacao, 103), 'Sem data') + ' | <strong>MODELO DO ATIVO:</strong> ' + ISNULL(AM.Nm_Ativo_Modelo,'') + ' | <strong>NÚMERO DO IMEI:</strong> ' + ISNULL(EA.Nr_Aparelho,'') AS Tipo,
		'Última Conta - ' + ISNULL((SELECT RIGHT(CONVERT(VARCHAR,MAX(Dt_Lote),106),8) FROM Lote WHERE Id_Ativo = A.Id_Ativo), 'N/D') + ' | ' +
		'Total Carregado - ' + ISNULL((SELECT TOP 1 CONVERT(VARCHAR,CAST((Total) AS DECIMAL(13,2))) FROM Lote WHERE Id_Ativo = A.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = A.Id_Ativo)), '0') AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,
		CASE WHEN C.Id_Consumidor IS NULL THEN ' ' ELSE dbo.Fu_Link_HTTP ('Consumidor.aspx',C.Id_Consumidor,'') END AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'matricula' AS Campo
FROM	vw_Ativo A	LEFT JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
					LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
					LEFT JOIN Rl_Consumidor_Ativo RA ON A.Id_Ativo = RA.Id_Ativo
					LEFT JOIN vw_Consumidor C ON RA.Id_Consumidor = C.Id_Consumidor
                    LEFT JOIN Usuario U1 on C.Id_consumidor = U1.Id_Consumidor
                    LEFT JOIN Rl_Perfil_Ativo_Usuario RLPAU on U1.Id_usuario = RLPAU.Id_usuario and A.Id_ativo = RlPAU.Id_Ativo
                    LEFT JOIN Ativo_Modelo AM on AM.Id_Ativo_modelo = A.Id_Ativo_modelo
                    LEFT JOIN RL_Estoque_Aparelho_Ativo RLEAA on RLEAA.Id_Ativo = A.Id_Ativo
                    LEFT JOIN EStoque_Aparelho EA on EA.ID_Aparelho = RLEAA.ID_Aparelho 
					LEFT JOIN vw_Ativo_Status ATS ON ATS.Id_Ativo_Status = A.Id_Ativo_Status
					LEFT JOIN Filial FI ON FI.Id_Filial = C.Id_Filial
					LEFT JOIN Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
UNION ALL
-----Consumidor (Email)
SELECT	C.EMail AS Pesquisa, 
		ISNULL(C.Nm_Consumidor,' ') AS Nm_Consumidor,
		A.Nr_Ativo,
		'<strong>FORNECEDOR: </strong>' + ISNULL(CG.Nm_Conglomerado,'') + ' | <strong>TIPO DE ATIVO: </strong>' + ISNULL(AT.Nm_Ativo_Tipo,'') + ' | <strong>STATUS:</strong> ' + ISNULL(ATS.Nm_Ativo_Status,'') + ' | <strong>FILIAL:</strong> ' + ISNULL(FI.Nm_Filial,'') + ' | <strong>CENTRO DE CUSTO:</strong> ' + ISNULL(CC.Cd_Centro_Custo,'') + '  <strong><br>DATA DE ATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Ativacao, 103),'Sem data') + ' | <strong>DATA DE DESATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Desativacao, 103), 'Sem data') + ' | <strong>MODELO DO ATIVO:</strong> ' + ISNULL(AM.Nm_Ativo_Modelo,'') + ' | <strong>NÚMERO DO IMEI:</strong> ' + ISNULL(EA.Nr_Aparelho,'') AS Tipo,
		'Última Conta - ' + ISNULL((SELECT RIGHT(CONVERT(VARCHAR,MAX(Dt_Lote),106),8) FROM Lote WHERE Id_Ativo = A.Id_Ativo), 'N/D') + ' | ' +
		'Total Carregado - ' + ISNULL((SELECT TOP 1 CONVERT(VARCHAR,CAST((Total) AS DECIMAL(13,2))) FROM Lote WHERE Id_Ativo = A.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = A.Id_Ativo)), '0') AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,
		CASE WHEN C.Id_Consumidor IS NULL THEN ' ' ELSE dbo.Fu_Link_HTTP ('Consumidor.aspx',C.Id_Consumidor,'') END AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'email' AS Campo
FROM	vw_Ativo A	LEFT JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
					LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
					LEFT JOIN Rl_Consumidor_Ativo RA ON A.Id_Ativo = RA.Id_Ativo
					LEFT JOIN vw_Consumidor C ON RA.Id_Consumidor = C.Id_Consumidor
                    LEFT JOIN Usuario U1 on C.Id_consumidor = U1.Id_Consumidor
                    LEFT JOIN Rl_Perfil_Ativo_Usuario RLPAU on U1.Id_usuario = RLPAU.Id_usuario and A.Id_ativo = RlPAU.Id_Ativo
                    LEFT JOIN Ativo_Modelo AM on AM.Id_Ativo_modelo = A.Id_Ativo_modelo
                    LEFT JOIN RL_Estoque_Aparelho_Ativo RLEAA on RLEAA.Id_Ativo = A.Id_Ativo
                    LEFT JOIN EStoque_Aparelho EA on EA.ID_Aparelho = RLEAA.ID_Aparelho 
					LEFT JOIN vw_Ativo_Status ATS ON ATS.Id_Ativo_Status = A.Id_Ativo_Status
					LEFT JOIN Filial FI ON FI.Id_Filial = C.Id_Filial
					LEFT JOIN Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
UNION ALL
-----Consumidor (Cargo)
SELECT	CRG.Nm_Cargo AS Pesquisa, 
		ISNULL(C.Nm_Consumidor,' ') AS Nm_Consumidor,
		A.Nr_Ativo,
		'<strong>FORNECEDOR: </strong>' + ISNULL(CG.Nm_Conglomerado,'') + ' | <strong>TIPO DE ATIVO: </strong>' + ISNULL(AT.Nm_Ativo_Tipo,'') + ' | <strong>STATUS:</strong> ' + ISNULL(ATS.Nm_Ativo_Status,'') + ' | <strong>FILIAL:</strong> ' + ISNULL(FI.Nm_Filial,'') + ' | <strong>CENTRO DE CUSTO:</strong> ' + ISNULL(CC.Cd_Centro_Custo,'') + '  <strong><br>DATA DE ATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Ativacao, 103),'Sem data') + ' | <strong>DATA DE DESATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Desativacao, 103), 'Sem data') + ' | <strong>MODELO DO ATIVO:</strong> ' + ISNULL(AM.Nm_Ativo_Modelo,'') + ' | <strong>NÚMERO DO IMEI:</strong> ' + ISNULL(EA.Nr_Aparelho,'') AS Tipo,
		'Última Conta - ' + ISNULL((SELECT RIGHT(CONVERT(VARCHAR,MAX(Dt_Lote),106),8) FROM Lote WHERE Id_Ativo = A.Id_Ativo), 'N/D') + ' | ' +
		'Total Carregado - ' + ISNULL((SELECT TOP 1 CONVERT(VARCHAR,CAST((Total) AS DECIMAL(13,2))) FROM Lote WHERE Id_Ativo = A.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = A.Id_Ativo)), '0') AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,
		CASE WHEN C.Id_Consumidor IS NULL THEN ' ' ELSE dbo.Fu_Link_HTTP ('Consumidor.aspx',C.Id_Consumidor,'') END AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'cargo' AS Campo
FROM	vw_Ativo A	LEFT JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
					LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
					LEFT JOIN Rl_Consumidor_Ativo RA ON A.Id_Ativo = RA.Id_Ativo
					LEFT JOIN vw_Consumidor C ON RA.Id_Consumidor = C.Id_Consumidor
                    LEFT JOIN Usuario U1 on C.Id_consumidor = U1.Id_Consumidor
                    LEFT JOIN Rl_Perfil_Ativo_Usuario RLPAU on U1.Id_usuario = RLPAU.Id_usuario and A.Id_ativo = RlPAU.Id_Ativo
                    LEFT JOIN Ativo_Modelo AM on AM.Id_Ativo_modelo = A.Id_Ativo_modelo
                    LEFT JOIN RL_Estoque_Aparelho_Ativo RLEAA on RLEAA.Id_Ativo = A.Id_Ativo
                    LEFT JOIN EStoque_Aparelho EA on EA.ID_Aparelho = RLEAA.ID_Aparelho 
					LEFT JOIN Cargo CRG ON CRG.Id_Cargo = C.Id_Cargo
					LEFT JOIN vw_Ativo_Status ATS ON ATS.Id_Ativo_Status = A.Id_Ativo_Status
					LEFT JOIN Filial FI ON FI.Id_Filial = C.Id_Filial
					LEFT JOIN Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
UNION ALL
-----Consumidor (Tipo)
SELECT	CT.Nm_Consumidor_Tipo AS Pesquisa, 
		ISNULL(C.Nm_Consumidor,' ') AS Nm_Consumidor,
		A.Nr_Ativo,
		'<strong>FORNECEDOR: </strong>' + ISNULL(CG.Nm_Conglomerado,'') + ' | <strong>TIPO DE ATIVO: </strong>' + ISNULL(AT.Nm_Ativo_Tipo,'') + ' | <strong>STATUS:</strong> ' + ISNULL(ATS.Nm_Ativo_Status,'') + ' | <strong>FILIAL:</strong> ' + ISNULL(FI.Nm_Filial,'') + ' | <strong>CENTRO DE CUSTO:</strong> ' + ISNULL(CC.Cd_Centro_Custo,'') + '  <strong><br>DATA DE ATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Ativacao, 103),'Sem data') + ' | <strong>DATA DE DESATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Desativacao, 103), 'Sem data') + ' | <strong>MODELO DO ATIVO:</strong> ' + ISNULL(AM.Nm_Ativo_Modelo,'') + ' | <strong>NÚMERO DO IMEI:</strong> ' + ISNULL(EA.Nr_Aparelho,'') AS Tipo,
		'Última Conta - ' + ISNULL((SELECT RIGHT(CONVERT(VARCHAR,MAX(Dt_Lote),106),8) FROM Lote WHERE Id_Ativo = A.Id_Ativo), 'N/D') + ' | ' +
		'Total Carregado - ' + ISNULL((SELECT TOP 1 CONVERT(VARCHAR,CAST((Total) AS DECIMAL(13,2))) FROM Lote WHERE Id_Ativo = A.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = A.Id_Ativo)), '0') AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,
		CASE WHEN C.Id_Consumidor IS NULL THEN ' ' ELSE dbo.Fu_Link_HTTP ('Consumidor.aspx',C.Id_Consumidor,'') END AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'tipo consumidor' AS Campo
FROM	vw_Ativo A	LEFT JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
					LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
					LEFT JOIN Rl_Consumidor_Ativo RA ON A.Id_Ativo = RA.Id_Ativo
					LEFT JOIN vw_Consumidor C ON RA.Id_Consumidor = C.Id_Consumidor
                    LEFT JOIN Usuario U1 on C.Id_consumidor = U1.Id_Consumidor
                    LEFT JOIN Rl_Perfil_Ativo_Usuario RLPAU on U1.Id_usuario = RLPAU.Id_usuario and A.Id_ativo = RlPAU.Id_Ativo
                    LEFT JOIN Ativo_Modelo AM on AM.Id_Ativo_modelo = A.Id_Ativo_modelo
                    LEFT JOIN RL_Estoque_Aparelho_Ativo RLEAA on RLEAA.Id_Ativo = A.Id_Ativo
                    LEFT JOIN EStoque_Aparelho EA on EA.ID_Aparelho = RLEAA.ID_Aparelho 
					LEFT JOIN Consumidor_Tipo CT ON CT.Id_Consumidor_Tipo = C.Id_Consumidor_Tipo
					LEFT JOIN vw_Ativo_Status ATS ON ATS.Id_Ativo_Status = A.Id_Ativo_Status
					LEFT JOIN Filial FI ON FI.Id_Filial = C.Id_Filial
					LEFT JOIN Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
UNION ALL
-----Consumidor (Status)
SELECT	CS.Nm_Consumidor_Status AS Pesquisa, 
		ISNULL(C.Nm_Consumidor,' ') AS Nm_Consumidor,
		A.Nr_Ativo,
   	    '<strong>FORNECEDOR: </strong>' + ISNULL(CG.Nm_Conglomerado,'') + ' | <strong>TIPO DE ATIVO: </strong>' + ISNULL(AT.Nm_Ativo_Tipo,'') + ' | <strong>STATUS:</strong> ' + ISNULL(ATS.Nm_Ativo_Status,'') + ' | <strong>FILIAL:</strong> ' + ISNULL(FI.Nm_Filial,'') + ' | <strong>CENTRO DE CUSTO:</strong> ' + ISNULL(CC.Cd_Centro_Custo,'') + '  <strong><br>DATA DE ATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Ativacao, 103),'Sem data') + ' | <strong>DATA DE DESATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Desativacao, 103), 'Sem data') + ' | <strong>MODELO DO ATIVO:</strong> ' + ISNULL(AM.Nm_Ativo_Modelo,'') + ' | <strong>NÚMERO DO IMEI:</strong> ' + ISNULL(EA.Nr_Aparelho,'') AS Tipo,
		'Última Conta - ' + ISNULL((SELECT RIGHT(CONVERT(VARCHAR,MAX(Dt_Lote),106),8) FROM Lote WHERE Id_Ativo = A.Id_Ativo), 'N/D') + ' | ' +
		'Total Carregado - ' + ISNULL((SELECT TOP 1 CONVERT(VARCHAR,CAST((Total) AS DECIMAL(13,2))) FROM Lote WHERE Id_Ativo = A.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = A.Id_Ativo)), '0') AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,
		CASE WHEN C.Id_Consumidor IS NULL THEN ' ' ELSE dbo.Fu_Link_HTTP ('Consumidor.aspx',C.Id_Consumidor,'') END AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'status consumidor' AS Campo
FROM	vw_Ativo A	LEFT JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
					LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
					LEFT JOIN Rl_Consumidor_Ativo RA ON A.Id_Ativo = RA.Id_Ativo
					LEFT JOIN vw_Consumidor C ON RA.Id_Consumidor = C.Id_Consumidor
                    LEFT JOIN Usuario U1 on C.Id_consumidor = U1.Id_Consumidor
                    LEFT JOIN Rl_Perfil_Ativo_Usuario RLPAU on U1.Id_usuario = RLPAU.Id_usuario and A.Id_ativo = RlPAU.Id_Ativo
                    LEFT JOIN Ativo_Modelo AM on AM.Id_Ativo_modelo = A.Id_Ativo_modelo
                    LEFT JOIN RL_Estoque_Aparelho_Ativo RLEAA on RLEAA.Id_Ativo = A.Id_Ativo
                    LEFT JOIN EStoque_Aparelho EA on EA.ID_Aparelho = RLEAA.ID_Aparelho 
					LEFT JOIN Consumidor_Status CS ON CS.Id_Consumidor_Status = C.Id_Consumidor_Status
					LEFT JOIN vw_Ativo_Status ATS ON ATS.Id_Ativo_Status = A.Id_Ativo_Status
					LEFT JOIN Filial FI ON FI.Id_Filial = C.Id_Filial
					LEFT JOIN Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
UNION ALL
-----Consumidor (Empresa)
SELECT	EC.Nm_Empresa_Contratada AS Pesquisa, 
		ISNULL(C.Nm_Consumidor,' ') AS Nm_Consumidor,
		A.Nr_Ativo,
	    '<strong>FORNECEDOR: </strong>' + ISNULL(CG.Nm_Conglomerado,'') + ' | <strong>TIPO DE ATIVO: </strong>' + ISNULL(AT.Nm_Ativo_Tipo,'') + ' | <strong>STATUS:</strong> ' + ISNULL(ATS.Nm_Ativo_Status,'') + ' | <strong>FILIAL:</strong> ' + ISNULL(FI.Nm_Filial,'') + ' | <strong>CENTRO DE CUSTO:</strong> ' + ISNULL(CC.Cd_Centro_Custo,'') + '  <strong><br>DATA DE ATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Ativacao, 103),'Sem data') + ' | <strong>DATA DE DESATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Desativacao, 103), 'Sem data') + ' | <strong>MODELO DO ATIVO:</strong> ' + ISNULL(AM.Nm_Ativo_Modelo,'') + ' | <strong>NÚMERO DO IMEI:</strong> ' + ISNULL(EA.Nr_Aparelho,'') AS Tipo,
		'Última Conta - ' + ISNULL((SELECT RIGHT(CONVERT(VARCHAR,MAX(Dt_Lote),106),8) FROM Lote WHERE Id_Ativo = A.Id_Ativo), 'N/D') + ' | ' +
		'Total Carregado - ' + ISNULL((SELECT TOP 1 CONVERT(VARCHAR,CAST((Total) AS DECIMAL(13,2))) FROM Lote WHERE Id_Ativo = A.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = A.Id_Ativo)), '0') AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,
		CASE WHEN C.Id_Consumidor IS NULL THEN ' ' ELSE dbo.Fu_Link_HTTP ('Consumidor.aspx',C.Id_Consumidor,'') END AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'empresa contratada' AS Campo
FROM	vw_Ativo A	LEFT JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
					LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
					LEFT JOIN Rl_Consumidor_Ativo RA ON A.Id_Ativo = RA.Id_Ativo
					LEFT JOIN vw_Consumidor C ON RA.Id_Consumidor = C.Id_Consumidor
                    LEFT JOIN Usuario U1 on C.Id_consumidor = U1.Id_Consumidor
                    LEFT JOIN Rl_Perfil_Ativo_Usuario RLPAU on U1.Id_usuario = RLPAU.Id_usuario and A.Id_ativo = RlPAU.Id_Ativo
                    LEFT JOIN Ativo_Modelo AM on AM.Id_Ativo_modelo = A.Id_Ativo_modelo
                    LEFT JOIN RL_Estoque_Aparelho_Ativo RLEAA on RLEAA.Id_Ativo = A.Id_Ativo
                    LEFT JOIN EStoque_Aparelho EA on EA.ID_Aparelho = RLEAA.ID_Aparelho 
					LEFT JOIN Empresa_Contratada EC ON EC.Id_Empresa_Contratada = C.Id_Empresa_Contratada
					LEFT JOIN vw_Ativo_Status ATS ON ATS.Id_Ativo_Status = A.Id_Ativo_Status
					LEFT JOIN Filial FI ON FI.Id_Filial = C.Id_Filial
					LEFT JOIN Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
UNION ALL
-----Consumidor (Filial)
SELECT	ISNULL(FI.Nm_Filial,'') AS Pesquisa, 
		ISNULL(C.Nm_Consumidor,' ') AS Nm_Consumidor,
		A.Nr_Ativo,
		'<strong>FORNECEDOR: </strong>' + ISNULL(CG.Nm_Conglomerado,'') + ' | <strong>TIPO DE ATIVO: </strong>' + ISNULL(AT.Nm_Ativo_Tipo,'') + ' | <strong>STATUS:</strong> ' + ISNULL(ATS.Nm_Ativo_Status,'') + ' | <strong>FILIAL:</strong> ' + ISNULL(FI.Nm_Filial,'') + ' | <strong>CENTRO DE CUSTO:</strong> ' + ISNULL(CC.Cd_Centro_Custo,'') + '  <strong><br>DATA DE ATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Ativacao, 103),'Sem data') + ' | <strong>DATA DE DESATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Desativacao, 103), 'Sem data') + ' | <strong>MODELO DO ATIVO:</strong> ' + ISNULL(AM.Nm_Ativo_Modelo,'') + ' | <strong>NÚMERO DO IMEI:</strong> ' + ISNULL(EA.Nr_Aparelho,'') AS Tipo,
		'Última Conta - ' + ISNULL((SELECT RIGHT(CONVERT(VARCHAR,MAX(Dt_Lote),106),8) FROM Lote WHERE Id_Ativo = A.Id_Ativo), 'N/D') + ' | ' +
		'Total Carregado - ' + ISNULL((SELECT TOP 1 CONVERT(VARCHAR,CAST((Total) AS DECIMAL(13,2))) FROM Lote WHERE Id_Ativo = A.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = A.Id_Ativo)), '0') AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,
		CASE WHEN C.Id_Consumidor IS NULL THEN ' ' ELSE dbo.Fu_Link_HTTP ('Consumidor.aspx',C.Id_Consumidor,'') END AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'filial' AS Campo
FROM	vw_Ativo A	LEFT JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
					LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
					LEFT JOIN Rl_Consumidor_Ativo RA ON A.Id_Ativo = RA.Id_Ativo
					LEFT JOIN vw_Consumidor C ON RA.Id_Consumidor = C.Id_Consumidor
                    LEFT JOIN Usuario U1 on C.Id_consumidor = U1.Id_Consumidor
                    LEFT JOIN Rl_Perfil_Ativo_Usuario RLPAU on U1.Id_usuario = RLPAU.Id_usuario and A.Id_ativo = RlPAU.Id_Ativo
                    LEFT JOIN Ativo_Modelo AM on AM.Id_Ativo_modelo = A.Id_Ativo_modelo
                    LEFT JOIN RL_Estoque_Aparelho_Ativo RLEAA on RLEAA.Id_Ativo = A.Id_Ativo
                    LEFT JOIN EStoque_Aparelho EA on EA.ID_Aparelho = RLEAA.ID_Aparelho 
					LEFT JOIN Filial FI ON FI.Id_Filial = C.Id_Filial
					LEFT JOIN vw_Ativo_Status ATS ON ATS.Id_Ativo_Status = A.Id_Ativo_Status
					LEFT JOIN Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
UNION ALL
-----Consumidor (Centro Custo)
SELECT	ISNULL(CC.Cd_Centro_Custo,'') AS Pesquisa, 
		ISNULL(C.Nm_Consumidor,' ') AS Nm_Consumidor,
		A.Nr_Ativo,
		'<strong>FORNECEDOR: </strong>' + ISNULL(CG.Nm_Conglomerado,'') + ' | <strong>TIPO DE ATIVO: </strong>' + ISNULL(AT.Nm_Ativo_Tipo,'') + ' | <strong>STATUS:</strong> ' + ISNULL(ATS.Nm_Ativo_Status,'') + ' | <strong>FILIAL:</strong> ' + ISNULL(FI.Nm_Filial,'') + ' | <strong>CENTRO DE CUSTO:</strong> ' + ISNULL(CC.Cd_Centro_Custo,'') + '  <strong><br>DATA DE ATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Ativacao, 103),'Sem data') + ' | <strong>DATA DE DESATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Desativacao, 103), 'Sem data') + ' | <strong>MODELO DO ATIVO:</strong> ' + ISNULL(AM.Nm_Ativo_Modelo,'') + ' | <strong>NÚMERO DO IMEI:</strong> ' + ISNULL(EA.Nr_Aparelho,'') AS Tipo,
		'Última Conta - ' + ISNULL((SELECT RIGHT(CONVERT(VARCHAR,MAX(Dt_Lote),106),8) FROM Lote WHERE Id_Ativo = A.Id_Ativo), 'N/D') + ' | ' +
		'Total Carregado - ' + ISNULL((SELECT TOP 1 CONVERT(VARCHAR,CAST((Total) AS DECIMAL(13,2))) FROM Lote WHERE Id_Ativo = A.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = A.Id_Ativo)), '0') AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,
		CASE WHEN C.Id_Consumidor IS NULL THEN ' ' ELSE dbo.Fu_Link_HTTP ('Consumidor.aspx',C.Id_Consumidor,'') END AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'centro custo' AS Campo
FROM	vw_Ativo A	LEFT JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
					LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
					LEFT JOIN Rl_Consumidor_Ativo RA ON A.Id_Ativo = RA.Id_Ativo
					LEFT JOIN vw_Consumidor C ON RA.Id_Consumidor = C.Id_Consumidor
                    LEFT JOIN Usuario U1 on C.Id_consumidor = U1.Id_Consumidor
                    LEFT JOIN Rl_Perfil_Ativo_Usuario RLPAU on U1.Id_usuario = RLPAU.Id_usuario and A.Id_ativo = RlPAU.Id_Ativo
                    LEFT JOIN Ativo_Modelo AM on AM.Id_Ativo_modelo = A.Id_Ativo_modelo
                    LEFT JOIN RL_Estoque_Aparelho_Ativo RLEAA on RLEAA.Id_Ativo = A.Id_Ativo
                    LEFT JOIN EStoque_Aparelho EA on EA.ID_Aparelho = RLEAA.ID_Aparelho 
					LEFT JOIN Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
					LEFT JOIN vw_Ativo_Status ATS ON ATS.Id_Ativo_Status = A.Id_Ativo_Status
					LEFT JOIN Filial FI ON FI.Id_Filial = C.Id_Filial
UNION ALL
-----Consumidor (Departamento)
SELECT	DP.Nm_Departamento AS Pesquisa, 
		ISNULL(C.Nm_Consumidor,' ') AS Nm_Consumidor,
		A.Nr_Ativo,
		'<strong>FORNECEDOR: </strong>' + ISNULL(CG.Nm_Conglomerado,'') + ' | <strong>TIPO DE ATIVO: </strong>' + ISNULL(AT.Nm_Ativo_Tipo,'') + ' | <strong>STATUS:</strong> ' + ISNULL(ATS.Nm_Ativo_Status,'') + ' | <strong>FILIAL:</strong> ' + ISNULL(FI.Nm_Filial,'') + ' | <strong>CENTRO DE CUSTO:</strong> ' + ISNULL(CC.Cd_Centro_Custo,'') + '  <strong><br>DATA DE ATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Ativacao, 103),'Sem data') + ' | <strong>DATA DE DESATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Desativacao, 103), 'Sem data') + ' | <strong>MODELO DO ATIVO:</strong> ' + ISNULL(AM.Nm_Ativo_Modelo,'') + ' | <strong>NÚMERO DO IMEI:</strong> ' + ISNULL(EA.Nr_Aparelho,'') AS Tipo,
		'Última Conta - ' + ISNULL((SELECT RIGHT(CONVERT(VARCHAR,MAX(Dt_Lote),106),8) FROM Lote WHERE Id_Ativo = A.Id_Ativo), 'N/D') + ' | ' +
		'Total Carregado - ' + ISNULL((SELECT TOP 1 CONVERT(VARCHAR,CAST((Total) AS DECIMAL(13,2))) FROM Lote WHERE Id_Ativo = A.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = A.Id_Ativo)), '0') AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,
		CASE WHEN C.Id_Consumidor IS NULL THEN ' ' ELSE dbo.Fu_Link_HTTP ('Consumidor.aspx',C.Id_Consumidor,'') END AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'departamento' AS Campo
FROM	vw_Ativo A	LEFT JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
					LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
					LEFT JOIN Rl_Consumidor_Ativo RA ON A.Id_Ativo = RA.Id_Ativo
					LEFT JOIN vw_Consumidor C ON RA.Id_Consumidor = C.Id_Consumidor
                    LEFT JOIN Usuario U1 on C.Id_consumidor = U1.Id_Consumidor
                    LEFT JOIN Rl_Perfil_Ativo_Usuario RLPAU on U1.Id_usuario = RLPAU.Id_usuario and A.Id_ativo = RlPAU.Id_Ativo
                    LEFT JOIN Ativo_Modelo AM on AM.Id_Ativo_modelo = A.Id_Ativo_modelo
                    LEFT JOIN RL_Estoque_Aparelho_Ativo RLEAA on RLEAA.Id_Ativo = A.Id_Ativo
                    LEFT JOIN EStoque_Aparelho EA on EA.ID_Aparelho = RLEAA.ID_Aparelho 
					LEFT JOIN Departamento DP ON DP.Id_Departamento = C.Id_Departamento
					LEFT JOIN vw_Ativo_Status ATS ON ATS.Id_Ativo_Status = A.Id_Ativo_Status
					LEFT JOIN Filial FI ON FI.Id_Filial = C.Id_Filial
					LEFT JOIN Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
UNION ALL
-----Consumidor (Setor)
SELECT	ST.Nm_Setor AS Pesquisa, 
		ISNULL(C.Nm_Consumidor,' ') AS Nm_Consumidor,
		A.Nr_Ativo,
		'<strong>FORNECEDOR: </strong>' + ISNULL(CG.Nm_Conglomerado,'') + ' | <strong>TIPO DE ATIVO: </strong>' + ISNULL(AT.Nm_Ativo_Tipo,'') + ' | <strong>STATUS:</strong> ' + ISNULL(ATS.Nm_Ativo_Status,'') + ' | <strong>FILIAL:</strong> ' + ISNULL(FI.Nm_Filial,'') + ' | <strong>CENTRO DE CUSTO:</strong> ' + ISNULL(CC.Cd_Centro_Custo,'') + '  <strong><br>DATA DE ATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Ativacao, 103),'Sem data') + ' | <strong>DATA DE DESATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Desativacao, 103), 'Sem data') + ' | <strong>MODELO DO ATIVO:</strong> ' + ISNULL(AM.Nm_Ativo_Modelo,'') + ' | <strong>NÚMERO DO IMEI:</strong> ' + ISNULL(EA.Nr_Aparelho,'') AS Tipo,
		'Última Conta - ' + ISNULL((SELECT RIGHT(CONVERT(VARCHAR,MAX(Dt_Lote),106),8) FROM Lote WHERE Id_Ativo = A.Id_Ativo), 'N/D') + ' | ' +
		'Total Carregado - ' + ISNULL((SELECT TOP 1 CONVERT(VARCHAR,CAST((Total) AS DECIMAL(13,2))) FROM Lote WHERE Id_Ativo = A.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = A.Id_Ativo)), '0') AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,
		CASE WHEN C.Id_Consumidor IS NULL THEN ' ' ELSE dbo.Fu_Link_HTTP ('Consumidor.aspx',C.Id_Consumidor,'') END AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'setor' AS Campo
FROM	vw_Ativo A	LEFT JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
					LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
					LEFT JOIN Rl_Consumidor_Ativo RA ON A.Id_Ativo = RA.Id_Ativo
					LEFT JOIN vw_Consumidor C ON RA.Id_Consumidor = C.Id_Consumidor
                    LEFT JOIN Usuario U1 on C.Id_consumidor = U1.Id_Consumidor
                    LEFT JOIN Rl_Perfil_Ativo_Usuario RLPAU on U1.Id_usuario = RLPAU.Id_usuario and A.Id_ativo = RlPAU.Id_Ativo
                    LEFT JOIN Ativo_Modelo AM on AM.Id_Ativo_modelo = A.Id_Ativo_modelo
                    LEFT JOIN RL_Estoque_Aparelho_Ativo RLEAA on RLEAA.Id_Ativo = A.Id_Ativo
                    LEFT JOIN EStoque_Aparelho EA on EA.ID_Aparelho = RLEAA.ID_Aparelho 
					LEFT JOIN Setor ST ON ST.Id_Setor = C.Id_Setor
					LEFT JOIN vw_Ativo_Status ATS ON ATS.Id_Ativo_Status = A.Id_Ativo_Status
					LEFT JOIN Filial FI ON FI.Id_Filial = C.Id_Filial
					LEFT JOIN Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
UNION ALL
-----Consumidor (Secao)
SELECT	SC.Nm_Secao AS Pesquisa, 
		ISNULL(C.Nm_Consumidor,' ') AS Nm_Consumidor,
		A.Nr_Ativo,
		'<strong>FORNECEDOR: </strong>' + ISNULL(CG.Nm_Conglomerado,'') + ' | <strong>TIPO DE ATIVO: </strong>' + ISNULL(AT.Nm_Ativo_Tipo,'') + ' | <strong>STATUS:</strong> ' + ISNULL(ATS.Nm_Ativo_Status,'') + ' | <strong>FILIAL:</strong> ' + ISNULL(FI.Nm_Filial,'') + ' | <strong>CENTRO DE CUSTO:</strong> ' + ISNULL(CC.Cd_Centro_Custo,'') + '  <strong><br>DATA DE ATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Ativacao, 103),'Sem data') + ' | <strong>DATA DE DESATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Desativacao, 103), 'Sem data') + ' | <strong>MODELO DO ATIVO:</strong> ' + ISNULL(AM.Nm_Ativo_Modelo,'') + ' | <strong>NÚMERO DO IMEI:</strong> ' + ISNULL(EA.Nr_Aparelho,'') AS Tipo,
		'Última Conta - ' + ISNULL((SELECT RIGHT(CONVERT(VARCHAR,MAX(Dt_Lote),106),8) FROM Lote WHERE Id_Ativo = A.Id_Ativo), 'N/D') + ' | ' +
		'Total Carregado - ' + ISNULL((SELECT TOP 1 CONVERT(VARCHAR,CAST((Total) AS DECIMAL(13,2))) FROM Lote WHERE Id_Ativo = A.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = A.Id_Ativo)), '0') AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,
		CASE WHEN C.Id_Consumidor IS NULL THEN ' ' ELSE dbo.Fu_Link_HTTP ('Consumidor.aspx',C.Id_Consumidor,'') END AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'secao' AS Campo
FROM	vw_Ativo A	LEFT JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
					LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
					LEFT JOIN Rl_Consumidor_Ativo RA ON A.Id_Ativo = RA.Id_Ativo
					LEFT JOIN vw_Consumidor C ON RA.Id_Consumidor = C.Id_Consumidor
                    LEFT JOIN Usuario U1 on C.Id_consumidor = U1.Id_Consumidor
                    LEFT JOIN Rl_Perfil_Ativo_Usuario RLPAU on U1.Id_usuario = RLPAU.Id_usuario and A.Id_ativo = RlPAU.Id_Ativo
                    LEFT JOIN Ativo_Modelo AM on AM.Id_Ativo_modelo = A.Id_Ativo_modelo
                    LEFT JOIN RL_Estoque_Aparelho_Ativo RLEAA on RLEAA.Id_Ativo = A.Id_Ativo
                    LEFT JOIN EStoque_Aparelho EA on EA.ID_Aparelho = RLEAA.ID_Aparelho 
					LEFT JOIN Secao SC ON SC.Id_Secao = C.Id_Secao
					LEFT JOIN vw_Ativo_Status ATS ON ATS.Id_Ativo_Status = A.Id_Ativo_Status
					LEFT JOIN Filial FI ON FI.Id_Filial = C.Id_Filial
					LEFT JOIN Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
UNION ALL
-----ativo (Tipo)
SELECT	ISNULL(AT.Nm_Ativo_Tipo,'') AS Pesquisa, 
		ISNULL(C.Nm_Consumidor,' ') AS Nm_Consumidor,
		A.Nr_Ativo,
		'<strong>FORNECEDOR: </strong>' + ISNULL(CG.Nm_Conglomerado,'') + ' | <strong>TIPO DE ATIVO: </strong>' + ISNULL(AT.Nm_Ativo_Tipo,'') + ' | <strong>STATUS:</strong> ' + ISNULL(ATS.Nm_Ativo_Status,'') + ' | <strong>FILIAL:</strong> ' + ISNULL(FI.Nm_Filial,'') + ' | <strong>CENTRO DE CUSTO:</strong> ' + ISNULL(CC.Cd_Centro_Custo,'') + '  <strong><br>DATA DE ATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Ativacao, 103),'Sem data') + ' | <strong>DATA DE DESATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Desativacao, 103), 'Sem data') + ' | <strong>MODELO DO ATIVO:</strong> ' + ISNULL(AM.Nm_Ativo_Modelo,'') + ' | <strong>NÚMERO DO IMEI:</strong> ' + ISNULL(EA.Nr_Aparelho,'') AS Tipo,
		'Última Conta - ' + ISNULL((SELECT RIGHT(CONVERT(VARCHAR,MAX(Dt_Lote),106),8) FROM Lote WHERE Id_Ativo = A.Id_Ativo), 'N/D') + ' | ' +
		'Total Carregado - ' + ISNULL((SELECT TOP 1 CONVERT(VARCHAR,CAST((Total) AS DECIMAL(13,2))) FROM Lote WHERE Id_Ativo = A.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = A.Id_Ativo)), '0') AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,
		CASE WHEN C.Id_Consumidor IS NULL THEN ' ' ELSE dbo.Fu_Link_HTTP ('Consumidor.aspx',C.Id_Consumidor,'') END AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'tipo ativo' AS Campo
FROM	vw_Ativo A	LEFT JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
					LEFT JOIN Rl_Consumidor_Ativo RA ON A.Id_Ativo = RA.Id_Ativo
					LEFT JOIN vw_Consumidor C ON RA.Id_Consumidor = C.Id_Consumidor
                    LEFT JOIN Usuario U1 on C.Id_consumidor = U1.Id_Consumidor
                    LEFT JOIN Rl_Perfil_Ativo_Usuario RLPAU on U1.Id_usuario = RLPAU.Id_usuario and A.Id_ativo = RlPAU.Id_Ativo
                    LEFT JOIN Ativo_Modelo AM on AM.Id_Ativo_modelo = A.Id_Ativo_modelo
                    LEFT JOIN RL_Estoque_Aparelho_Ativo RLEAA on RLEAA.Id_Ativo = A.Id_Ativo
                    LEFT JOIN EStoque_Aparelho EA on EA.ID_Aparelho = RLEAA.ID_Aparelho 
					LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo  
					LEFT JOIN vw_Ativo_Status ATS ON ATS.Id_Ativo_Status = A.Id_Ativo_Status
					LEFT JOIN Filial FI ON FI.Id_Filial = C.Id_Filial
					LEFT JOIN Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
UNION ALL
-----Consumidor (Conglomerado)
SELECT	ISNULL(CG.Nm_Conglomerado,'') AS Pesquisa, 
		ISNULL(C.Nm_Consumidor,' ') AS Nm_Consumidor,
		A.Nr_Ativo,
		'<strong>FORNECEDOR: </strong>' + ISNULL(CG.Nm_Conglomerado,'') + ' | <strong>TIPO DE ATIVO: </strong>' + ISNULL(AT.Nm_Ativo_Tipo,'') + ' | <strong>STATUS:</strong> ' + ISNULL(ATS.Nm_Ativo_Status,'') + ' | <strong>FILIAL:</strong> ' + ISNULL(FI.Nm_Filial,'') + ' | <strong>CENTRO DE CUSTO:</strong> ' + ISNULL(CC.Cd_Centro_Custo,'') + '  <strong><br>DATA DE ATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Ativacao, 103),'Sem data') + ' | <strong>DATA DE DESATIVAÇÃO:</strong> ' + ISNULL(CONVERT(VARCHAR, RLPAU.Dt_hr_Desativacao, 103), 'Sem data') + ' | <strong>MODELO DO ATIVO:</strong> ' + ISNULL(AM.Nm_Ativo_Modelo,'') + ' | <strong>NÚMERO DO IMEI:</strong> ' + ISNULL(EA.Nr_Aparelho,'')  AS Tipo,
		'Última Conta - ' + ISNULL((SELECT RIGHT(CONVERT(VARCHAR,MAX(Dt_Lote),106),8) FROM Lote WHERE Id_Ativo = A.Id_Ativo), 'N/D') + ' | ' +
		'Total Carregado - ' + ISNULL((SELECT TOP 1 CONVERT(VARCHAR,CAST((Total) AS DECIMAL(13,2))) FROM Lote WHERE Id_Ativo = A.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = A.Id_Ativo)), '0') AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,
		CASE WHEN C.Id_Consumidor IS NULL THEN ' ' ELSE dbo.Fu_Link_HTTP ('Consumidor.aspx',C.Id_Consumidor,'') END AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'conglomerado' AS Campo
FROM	vw_Ativo A	LEFT JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo
					LEFT JOIN Rl_Consumidor_Ativo RA ON A.Id_Ativo = RA.Id_Ativo
					LEFT JOIN vw_Consumidor C ON RA.Id_Consumidor = C.Id_Consumidor
                    LEFT JOIN Usuario U1 on C.Id_consumidor = U1.Id_Consumidor
                    LEFT JOIN Rl_Perfil_Ativo_Usuario RLPAU on U1.Id_usuario = RLPAU.Id_usuario and A.Id_ativo = RlPAU.Id_Ativo
                    LEFT JOIN Ativo_Modelo AM on AM.Id_Ativo_modelo = A.Id_Ativo_modelo
                    LEFT JOIN RL_Estoque_Aparelho_Ativo RLEAA on RLEAA.Id_Ativo = A.Id_Ativo
                    LEFT JOIN EStoque_Aparelho EA on EA.ID_Aparelho = RLEAA.ID_Aparelho 
					LEFT JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
					LEFT JOIN vw_Ativo_Status ATS ON ATS.Id_Ativo_Status = A.Id_Ativo_Status
					LEFT JOIN Filial FI ON FI.Id_Filial = C.Id_Filial
					LEFT JOIN Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
GO
