USE [Vale]
GO
/****** Object:  Table [dbo].[Rl_Consumidor_Ativo]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rl_Consumidor_Ativo](
	[Id_Consumidor] [int] NOT NULL,
	[Id_Ativo] [int] NOT NULL,
 CONSTRAINT [PK_Rl_Consumidor_Ativo] PRIMARY KEY CLUSTERED 
(
	[Id_Consumidor] ASC,
	[Id_Ativo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rl_Consumidor_Ativo]  WITH NOCHECK ADD  CONSTRAINT [FK_Rl_Consumidor_Ativo_Ativo] FOREIGN KEY([Id_Ativo])
REFERENCES [dbo].[Ativo] ([Id_Ativo])
GO
ALTER TABLE [dbo].[Rl_Consumidor_Ativo] CHECK CONSTRAINT [FK_Rl_Consumidor_Ativo_Ativo]
GO
ALTER TABLE [dbo].[Rl_Consumidor_Ativo]  WITH NOCHECK ADD  CONSTRAINT [FK_Rl_Consumidor_Ativo_Consumidor] FOREIGN KEY([Id_Consumidor])
REFERENCES [dbo].[Consumidor] ([Id_Consumidor])
GO
ALTER TABLE [dbo].[Rl_Consumidor_Ativo] CHECK CONSTRAINT [FK_Rl_Consumidor_Ativo_Consumidor]
GO
