USE [Vale]
GO
/****** Object:  Table [dbo].[Estoque_Consumidor]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estoque_Consumidor](
	[Id_Consumidor] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Estoque_Consumidor]  WITH NOCHECK ADD  CONSTRAINT [FK_Estoque_Consumidor_Consumidor] FOREIGN KEY([Id_Consumidor])
REFERENCES [dbo].[Consumidor] ([Id_Consumidor])
GO
ALTER TABLE [dbo].[Estoque_Consumidor] CHECK CONSTRAINT [FK_Estoque_Consumidor_Consumidor]
GO
