USE [Vale]
GO
/****** Object:  Table [dbo].[Auditoria_Status]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria_Status](
	[Id_Auditoria_Status] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Auditoria_Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Auditoria_Acompanhamento_Status] PRIMARY KEY CLUSTERED 
(
	[Id_Auditoria_Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
