USE [Vale]
GO
/****** Object:  Table [dbo].[Solicitacao_Solucao]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitacao_Solucao](
	[Id_Solicitacao_Solucao] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Solicitacao_Solucao] [varchar](50) NOT NULL,
	[Id_Ativo_Tipo] [int] NOT NULL,
	[Fl_Desativado] [int] NOT NULL,
 CONSTRAINT [PK_Solicitacao_Solucao] PRIMARY KEY CLUSTERED 
(
	[Id_Solicitacao_Solucao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Solicitacao_Solucao]  WITH NOCHECK ADD  CONSTRAINT [FK_Solicitacao_Solucao_Ativo_Tipo] FOREIGN KEY([Id_Ativo_Tipo])
REFERENCES [dbo].[Ativo_Tipo] ([Id_Ativo_Tipo])
GO
ALTER TABLE [dbo].[Solicitacao_Solucao] CHECK CONSTRAINT [FK_Solicitacao_Solucao_Ativo_Tipo]
GO
