USE [Vale]
GO
/****** Object:  Table [dbo].[Solicitacao_SLA]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitacao_SLA](
	[Id_Solicitacao_SLA] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Solicitacao_SLA] [varchar](50) NOT NULL,
	[Horas] [int] NOT NULL,
	[Email_2_Nivel] [varchar](50) NOT NULL,
	[Fl_Desativado] [int] NOT NULL,
 CONSTRAINT [PK_Solicitacao_SLA] PRIMARY KEY CLUSTERED 
(
	[Id_Solicitacao_SLA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
