USE [Vale]
GO
/****** Object:  Table [dbo].[Cg_Tmp_Import]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cg_Tmp_Import](
	[Linha] [varchar](8000) NULL
) ON [PRIMARY]
GO
