USE [Vale]
GO
/****** Object:  View [dbo].[vw_Aparelho_Nota_Fiscal]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create VIEW [dbo].[vw_Aparelho_Nota_Fiscal] AS
SELECT	EA.Nr_Aparelho,
			ENF.Nr_Nota_Fiscal,
			ENF.Dt_Nota_Fiscal,
			ENF.Qtd_Mes_Residuo_Fr_Aquisicao,
			ENF.Vr_Fr_Aquisicao,
			AM.Nm_Ativo_Modelo
	FROM	Estoque_Aparelho EA LEFT JOIN Estoque_Nota_Fiscal ENF ON EA.Id_Estoque_Nota_Fiscal = ENF.Id_Estoque_Nota_Fiscal
								LEFT JOIN Ativo_Modelo AM ON AM.Id_Ativo_Modelo = EA.Id_Ativo_Modelo
GO
