USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Reconciliacao_V]    Script Date: 7/6/2025 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cn_T_Reconciliacao_V] (@pPakage					VARCHAR(200),
										@pPakage_Filtro				VARCHAR(200)	= NULL,
										@pId_Filtro_1				VARCHAR(MAX)	= NULL,
										@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
										@pId_Filtro_Usuario			INT				= NULL,
										@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
										@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
										@pDt_LoteDe					VARCHAR(6)		= NULL,
										@pDt_LoteAte				VARCHAR(6)		= NULL,
										@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS

SELECT
    (SELECT MAX(DC_Nr_Nota_Fiscal)
     FROM Lote
     WHERE Id_Ativo = AT.Id_Ativo 
     AND Dt_Lote = (SELECT MAX(Dt_Lote)
                    FROM Lote
                    WHERE Id_Ativo = AT.Id_Ativo)) AS Conta,
    (SELECT SUBSTRING(CONVERT(VARCHAR(10), MAX(Dt_Lote), 103), 4, 7)
     FROM Lote
     WHERE Id_Ativo = AT.Id_Ativo) AS [Ultima_Conta],
    AT.Nr_Ativo AS Ativo_Virtual,
    AT.Nr_Ativo_Tabela AS Ativo,
    Nm_Ativo_Fabricante AS Fabricante,
    Nm_Ativo_Modelo AS Modelo,
    AST.Nm_Ativo_Status AS [Status_Ativo],
    CO.Nm_Conglomerado AS Conglomerado,
    ATP.Nm_Ativo_Tipo AS Tipo,
    '''' + at.numero_Sim_card AS CHIP,
    at.Plano_Contrato AS PLANO,
    at.valor_contrato AS [Valor_contrato],
    (SELECT TOP 1 ENF.Nr_Nota_Fiscal
     FROM Rl_Estoque_Aparelho_Ativo SREA
     INNER JOIN Estoque_Aparelho SEA ON SREA.Id_Aparelho = SEA.Id_Aparelho
     INNER JOIN Estoque_Nota_Fiscal ENF ON ENF.Id_Estoque_Nota_Fiscal = SEA.Id_Estoque_Nota_Fiscal
     WHERE SREA.Id_Ativo = AT.Id_Ativo
     AND SEA.Id_Aparelho_Tipo = 1) AS Nota_Fiscal_Apa,
    (SELECT TOP 1 SEA.Nr_Aparelho
     FROM Rl_Estoque_Aparelho_Ativo SREA
     INNER JOIN Estoque_Aparelho SEA ON SREA.Id_Aparelho = SEA.Id_Aparelho
     WHERE SREA.Id_Ativo = AT.Id_Ativo
     AND SEA.Id_Aparelho_Tipo = 1) AS Aparelho,
    (SELECT TOP 1 c.Nm_Consumidor
     FROM Rl_Perfil_Ativo_Usuario RLAU
     INNER JOIN usuario U ON u.Id_Usuario = RLAU.Id_Usuario
     INNER JOIN Consumidor C ON c.Id_Consumidor = u.Id_Consumidor
     WHERE Dt_Hr_Desativacao IS NULL
     AND RLAU.Id_Ativo = AT.Id_Ativo
     AND C.Id_Consumidor_Status = 2
     ORDER BY Dt_Hr_Ativacao DESC) AS Consumidor,
    (SELECT TOP 1 c.Matricula
     FROM Rl_Perfil_Ativo_Usuario RLAU
     INNER JOIN usuario U ON u.Id_Usuario = RLAU.Id_Usuario
     INNER JOIN Consumidor C ON c.Id_Consumidor = u.Id_Consumidor
     WHERE Dt_Hr_Desativacao IS NULL
     AND RLAU.Id_Ativo = AT.Id_Ativo
     AND C.Id_Consumidor_Status = 2
     ORDER BY Dt_Hr_Ativacao DESC) AS Matricula,
    (SELECT TOP 1 u.Nm_Usuario
     FROM Rl_Perfil_Ativo_Usuario RLAU
     INNER JOIN usuario U ON u.Id_Usuario = RLAU.Id_Usuario
     INNER JOIN Consumidor C ON c.Id_Consumidor = u.Id_Consumidor
     WHERE Dt_Hr_Desativacao IS NULL
     AND RLAU.Id_Ativo = AT.Id_Ativo
     AND C.Id_Consumidor_Status = 2
     ORDER BY Dt_Hr_Ativacao DESC) AS Usuario,
    (SELECT TOP 1 c.EMail
     FROM Rl_Perfil_Ativo_Usuario RLAU
     INNER JOIN usuario U ON u.Id_Usuario = RLAU.Id_Usuario
     INNER JOIN Consumidor C ON c.Id_Consumidor = u.Id_Consumidor
     WHERE Dt_Hr_Desativacao IS NULL
     AND RLAU.Id_Ativo = AT.Id_Ativo
     AND C.Id_Consumidor_Status = 2
     ORDER BY Dt_Hr_Ativacao DESC) AS Email,
    (SELECT TOP 1 cc.Nm_Centro_Custo
     FROM Rl_Perfil_Ativo_Usuario RLAU
     INNER JOIN usuario U ON u.Id_Usuario = RLAU.Id_Usuario
     INNER JOIN Consumidor C ON c.Id_Consumidor = u.Id_Consumidor
     INNER JOIN Centro_Custo cc ON cc.Id_Centro_Custo = c.Id_Centro_Custo
     WHERE Dt_Hr_Desativacao IS NULL
     AND RLAU.Id_Ativo = AT.Id_Ativo
     AND C.Id_Consumidor_Status = 2
     ORDER BY Dt_Hr_Ativacao DESC) AS [CDC (Billing)],
    (SELECT TOP 1 setor.Nm_Setor
     FROM Rl_Perfil_Ativo_Usuario RLAU
     INNER JOIN usuario U ON u.Id_Usuario = RLAU.Id_Usuario
     INNER JOIN Consumidor C ON c.Id_Consumidor = u.Id_Consumidor
     INNER JOIN Setor setor ON setor.Id_Setor = c.Id_Setor
     WHERE Dt_Hr_Desativacao IS NULL
     AND RLAU.Id_Ativo = AT.Id_Ativo
     AND C.Id_Consumidor_Status = 2
     ORDER BY Dt_Hr_Ativacao DESC) AS [Área],
    AT.Localidade AS [Data_Suspensao],
    AT.Observacao AS Observacao
INTO #Temp_Export
FROM
    vw_Ativo AT
INNER JOIN vw_Conglomerado CO ON AT.Id_Conglomerado = CO.Id_Conglomerado
INNER JOIN vw_Ativo_Tipo ATP ON ATP.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
INNER JOIN Ativo_Tipo_Grupo ATG ON ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo
LEFT JOIN Ativo_Status AST ON AT.Id_Ativo_Status = AST.Id_Ativo_Status
LEFT JOIN vw_Ativo_Complemento AC ON AC.Id_Ativo = AT.Id_Ativo
LEFT JOIN vw_Ativo_Modelo AM ON AM.Id_Ativo_Modelo = AT.ID_Ativo_Modelo
LEFT JOIN vw_Ativo_Fabricante AF ON AM.Id_Ativo_Fabricante = AF.Id_Ativo_Fabricante
INNER JOIN Rl_Perfil_Ativo_Usuario RLAU ON RLAU.Id_Ativo = AT.Id_Ativo
INNER JOIN Usuario U ON U.Id_Usuario = RLAU.Id_Usuario
INNER JOIN Consumidor C ON C.Id_Consumidor = U.Id_Consumidor
WHERE
    (ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)
    AND NOT AT.Nr_Ativo LIKE '%(%'
    AND C.Id_Consumidor_Status IN (2, 3, 6)
    AND NOT EXISTS (SELECT 1
                    FROM Rl_Perfil_Ativo_Usuario subRLAU
                    INNER JOIN Usuario subU ON subU.Id_Usuario = subRLAU.Id_Usuario
                    INNER JOIN Consumidor subC ON subC.Id_Consumidor = subU.Id_Consumidor
                    WHERE subRLAU.Id_Ativo = AT.Id_Ativo
                    AND subRLAU.Dt_Hr_Desativacao IS NULL
                    AND subC.Id_Consumidor_Status = 1)
ORDER BY Conglomerado

-----exportacao
IF @pPakage = 'sp_Inventario_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Inventario'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grafrico
IF @pPakage = 'sp_Inventario_Grafico'
BEGIN
	SELECT	Tipo		AS X,
			COUNT(*)	AS Y 
	FROM	#Temp_Export
	GROUP BY Tipo 
END
GO
