USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[cn_Bilhete]    Script Date: 7/6/2025 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_Bilhete] (	@pPakage				AS VARCHAR(200),
										@pId_Lote				AS FLOAT	= NULL,
										@pId_Usuario			AS INT		= NULL,
										@pId_Bilhete_Tipo		AS INT		= NULL,
										@pId_Usuario_Marcacao	AS INT		= NULL --Usado para passar usuario dono do ativo pelo link na proc cn_Lote pakage sp_lote
										) AS
IF @pPakage = 'sp_Bilhete_Marcacao'
BEGIN
	-----bilhetes pra marcacao
	SELECT	BI.Id_Bilhete,
			
			CASE WHEN EXISTS(SELECT * FROM Rl_Perfil_Ativo_Usuario SRAU WHERE SRAU.Id_Ativo = BI.Id_Ativo AND SRAU.Id_Usuario = @pId_Usuario )
				THEN BI.DB_Destino
				ELSE CASE WHEN (SELECT Detalhamento_Contato FROM vw_Usuario WHERE Id_Usuario = @pId_Usuario) = 2 
							THEN BI.DB_Destino ELSE '**********' END							
				END	AS Destino,
			
			SUBSTRING(BI.DB_Localidade,1,27)		AS Tipo,
			CONVERT(VARCHAR,BI.DB_Data_Hora,120)	AS Data,
			ISNULL(BI.DB_Operadora_Sainte,'')		AS DB_Operadora_Sainte,
			(SELECT TOP 1 Codigo_Operadora FROM Conglomerado WHERE Id_Conglomerado IN (SELECT Id_Conglomerado FROM Ativo WHERE Id_Ativo = BI.id_Ativo)) AS OP_Correta,
			CASE WHEN DATEPART(dw,BI.DB_Data_Hora) = 1 THEN 'Dom'
				WHEN DATEPART(dw,BI.DB_Data_Hora) = 2 THEN 'Seg'
				WHEN DATEPART(dw,BI.DB_Data_Hora) = 3 THEN 'Ter'
				WHEN DATEPART(dw,BI.DB_Data_Hora) = 4 THEN 'Qua'
				WHEN DATEPART(dw,BI.DB_Data_Hora) = 5 THEN 'Qui'
				WHEN DATEPART(dw,BI.DB_Data_Hora) = 6 THEN 'Sex'
				WHEN DATEPART(dw,BI.DB_Data_Hora) = 7 THEN 'Sab' ELSE '' END AS Dia_Semana,
			BI.Consumo_Formatado						AS Consumo,
			BI.DB_Custo									AS Custo,
			SUBSTRING(ISNULL(BI.Nm_Usuario, ''),1,27)	AS Usuario,
			CASE WHEN BI.Id_Usuario IS NULL THEN 0 ELSE 1 END AS Marcar,
			ISNULL((SELECT CASE WHEN Marca_Ligacao = 1 THEN 'FALSE' ELSE 'TRUE' END 
					FROM Politica_Consumidor 
					WHERE Id_Consumidor IN (SELECT	Id_Consumidor 
											FROM	Usuario 
											WHERE	Id_Usuario = @pId_Usuario 
													AND Id_Ativo_Tipo IN (	SELECT Id_Ativo_Tipo 
																			FROM	vw_Ativo 
																			WHERE	Id_Ativo IN (	SELECT Id_Ativo 
																									FROM Lote 
																									WHERE Id_Lote = @pId_Lote)))), 'TRUE') AS Reload,
			BI.Id_Bilhete_Tipo,
			
			(	SELECT TOP 1 SUBSTRING(Nm_Destino,1,10) FROM Agenda_Marcacao_Particular 
				WHERE BI.DB_Destino = Nr_Destino AND Id_Usuario = @pId_Usuario
				ORDER BY Nm_Destino DESC
			) AS Agenda,
			
			(
				CASE WHEN EXISTS(SELECT	* FROM Ativo A WHERE A.Nr_Ativo = DB_Destino) THEN 1 ELSE 2 END
			) AS GRUPO,
			CASE WHEN EXISTS(SELECT * FROM dbo.Si_Desmarca_Bilhete WHERE DB_Tipo_Parametro = BI.DB_Tipo_Parametro) THEN 1 ELSE 2 END Desmarcar,
			Nm_Ativo_Tipo_Grupo
	FROM	dbo.fu_Bilhete(@pId_Usuario,@pId_Usuario,@pId_Lote) BI 
END

IF @pPakage = 'sp_Bilhete_Consulta'
BEGIN
	-----verifica se usuario tem permissao de detalhar conta
	IF 2 = (SELECT Detalhamento_Conta FROM vw_Usuario WHERE Id_Usuario = @pId_Usuario) OR
		EXISTS(SELECT * FROM Rl_Perfil_Ativo_Usuario SRAU WHERE SRAU.Id_Usuario = @pId_Usuario AND SRAU.Id_Ativo IN (SELECT Id_Ativo FROM Lote WHERE Id_Lote = @pId_Lote))
	BEGIN
		-----bilhete para visualizacao
		SELECT	BI.Id_Bilhete,
		
				CASE WHEN EXISTS(SELECT * FROM Rl_Perfil_Ativo_Usuario SRAU WHERE SRAU.Id_Ativo = BI.Id_Ativo AND SRAU.Id_Usuario = @pId_Usuario)
					THEN BI.DB_Destino
					ELSE CASE WHEN (SELECT Detalhamento_Contato FROM vw_Usuario WHERE Id_Usuario = @pId_Usuario) = 2 
								THEN BI.DB_Destino ELSE '**********' END							
					END	AS Destino,	
		
				SUBSTRING(BI.DB_Localidade,1,27)			AS Tipo,
				CONVERT(VARCHAR,BI.DB_Data_Hora,120)		AS Data,
				ISNULL(BI.DB_Operadora_Sainte,'')		AS DB_Operadora_Sainte,
				(SELECT TOP 1 Codigo_Operadora FROM Conglomerado WHERE Id_Conglomerado IN (SELECT Id_Conglomerado FROM Ativo WHERE Id_Ativo = BI.id_Ativo)) AS OP_Correta,
				CASE WHEN DATEPART(dw,BI.DB_Data_Hora) = 1 THEN 'Dom'
					WHEN DATEPART(dw,BI.DB_Data_Hora) = 2 THEN 'Seg'
					WHEN DATEPART(dw,BI.DB_Data_Hora) = 3 THEN 'Ter'
					WHEN DATEPART(dw,BI.DB_Data_Hora) = 4 THEN 'Qua'
					WHEN DATEPART(dw,BI.DB_Data_Hora) = 5 THEN 'Qui'
					WHEN DATEPART(dw,BI.DB_Data_Hora) = 6 THEN 'Sex'
					WHEN DATEPART(dw,BI.DB_Data_Hora) = 7 THEN 'Sab' ELSE ' ' END AS Dia_Semana,
				BI.Consumo_Formatado						AS Consumo,
				BI.DB_Custo									AS Custo,
				SUBSTRING(ISNULL(BI.Nm_Usuario, ''),1,27)	AS Usuario,
				CASE WHEN BI.Id_Usuario IS NULL THEN 0 ELSE 1 END AS Marcar,
				'FALSE'										AS Reload,
				BI.Id_Bilhete_Tipo,

				CASE WHEN EXISTS(SELECT * FROM Rl_Perfil_Ativo_Usuario SRAU WHERE SRAU.Id_Ativo = BI.Id_Ativo AND SRAU.Id_Usuario = @pId_Usuario )
					THEN (SELECT TOP 1 SUBSTRING(AP.Nm_Destino,1,10) FROM Agenda_Marcacao_Particular AP WHERE AP.Nr_Destino = BI.DB_Destino AND AP.Id_Usuario = @pId_Usuario ORDER BY AP.Nm_Destino DESC) 
				ELSE CASE WHEN (SELECT Detalhamento_Contato FROM vw_Usuario WHERE Id_Usuario = @pId_Usuario) = 2 THEN
						(SELECT TOP 1 SUBSTRING(AP.Nm_Destino,1,10) FROM Agenda_Marcacao_Particular AP WHERE AP.Nr_Destino = BI.DB_Destino AND AP.Id_Usuario = @pId_Usuario  ORDER BY AP.Nm_Destino DESC) 
					ELSE '**********' END 
				END AS Agenda,
				
				(
					CASE WHEN EXISTS(SELECT	* FROM Ativo A WHERE A.Nr_Ativo = DB_Destino) THEN 1 ELSE 2 END
				) AS GRUPO,
				CASE WHEN EXISTS(SELECT * FROM dbo.Si_Desmarca_Bilhete WHERE DB_Tipo_Parametro = BI.DB_Tipo_Parametro) THEN 1 ELSE 2 END Desmarcar,
				Nm_Ativo_Tipo_Grupo
		FROM	dbo.fu_Bilhete(@pId_Usuario,@pId_Usuario_Marcacao,@pId_Lote) BI
	END
	ELSE
	BEGIN
		SELECT 0 AS Id_Bilhete,	NULL AS Destino, NULL AS Tipo, NULL AS Data, NULL AS Dia_Semana, 0 AS Consumo, 0 AS Custo, NULL AS Usuario, 'FALSE' AS Marcar, 'FALSE' AS Reload, NULL AS Id_Bilhete_Tipo, NULL AS Agenda, NULL AS GRUPO, NULL AS Desmarcar
	END
END

IF @pPakage = 'sp_Retorna_Bilente_Tipo'
BEGIN
	SELECT	ISNULL(BT.Nm_Bilhete_Tipo, '') AS Nm_Bilhete_Tipo,
			ISNULL(BT.Nm_Bilhete_Descricao, '') AS Nm_Bilhete_Descricao
	FROM	Bilhete_Tipo BT
	WHERE	BT.Id_Bilhete_Tipo = @pId_Bilhete_Tipo
END

IF @pPakage = 'sp_Detalhamento_Bilhete'
BEGIN
	-----verifica se usuario tem permissao de detalhar conta
	IF 2 = (SELECT Detalhamento_Conta FROM vw_Usuario WHERE Id_Usuario = @pId_Usuario) OR
		EXISTS(SELECT * FROM Rl_Perfil_Ativo_Usuario SRAU WHERE SRAU.Id_Usuario = @pId_Usuario AND SRAU.Id_Ativo IN (SELECT Id_Ativo FROM Lote WHERE Id_Lote = @pId_Lote))
	BEGIN
		-----bilhete para visualizacao
		SELECT	BI.Id_Bilhete,
				
				CASE WHEN EXISTS(SELECT * FROM Rl_Perfil_Ativo_Usuario SRAU WHERE SRAU.Id_Ativo = BI.Id_Ativo AND SRAU.Id_Usuario = @pId_Usuario )
					THEN BI.DB_Destino
					ELSE CASE WHEN (SELECT Detalhamento_Contato FROM vw_Usuario WHERE Id_Usuario = @pId_Usuario) = 2 
								THEN BI.DB_Destino ELSE '**********' END							
					END	AS Destino,
					
				SUBSTRING(BI.DB_Localidade,1,27)			AS Tipo,
				CONVERT(VARCHAR,BI.DB_Data_Hora,120)		AS Data,
				BI.Consumo_Formatado						AS Consumo,
				BI.DB_Custo									AS Custo,
				(
					CASE WHEN EXISTS(SELECT	* FROM Ativo A WHERE A.Nr_Ativo = DB_Destino) THEN 1 ELSE 2 END
				) AS GRUPO,
				CASE WHEN (CONVERT(FLOAT,REPLACE(CONVERT(VARCHAR(5), DB_Data_Hora,108),':','')) < 600 OR CONVERT(FLOAT,REPLACE(CONVERT(VARCHAR(5), DB_Data_Hora,108),':','')) > 1800)
							AND NOT DB_Tipo_Parametro IN (SELECT DB_Tipo_Parametro FROM Si_Desmarca_Bilhete)
							AND NOT DATEPART(DW,DB_Data_Hora) IN (1,7) THEN 1 ELSE 2 END AS Fora_Horario,
				CASE WHEN (DATEPART(DW,DB_Data_Hora) IN (1,7) AND NOT DB_Tipo_Parametro IN (SELECT DB_Tipo_Parametro FROM Si_Desmarca_Bilhete)) THEN 1 ELSE 2 END Final_Semana
		FROM	dbo.fu_Bilhete(@pId_Usuario,@pId_Usuario_Marcacao,@pId_Lote) BI
		WHERE	BI.DB_Custo	 > 0 
	END
	ELSE
	BEGIN
		SELECT 0 AS Id_Bilhete,	NULL AS Destino, NULL AS Tipo, NULL AS Data, NULL AS Consumo, NULL AS Custo, NULL AS GRUPO, NULL AS Fora_Horario, NULL AS Final_Semana
	END	
END

IF @pPakage = 'sp_Mais_Discado'
BEGIN
	SELECT	
			CASE WHEN EXISTS(SELECT * FROM Rl_Perfil_Ativo_Usuario SRAU WHERE SRAU.Id_Ativo = (SELECT Id_Ativo FROM Lote WHERE Id_Lote = @pId_Lote)
							AND SRAU.Id_Usuario = @pId_Usuario )
				THEN B.DB_Destino
				ELSE CASE WHEN (SELECT Detalhamento_Contato FROM vw_Usuario WHERE Id_Usuario = @pId_Usuario) = 2 
							THEN B.DB_Destino ELSE '**********' END							
				END	AS DB_Destino,
			B.DB_Localidade AS Tipo, 
			COUNT(B.DB_Destino) AS QTD,
			SUM(DB_Custo) AS Valor,
			
			CASE WHEN EXISTS(SELECT * FROM Rl_Perfil_Ativo_Usuario SRAU WHERE SRAU.Id_Ativo = (SELECT Id_Ativo FROM Lote WHERE Id_Lote = @pId_Lote)
							AND SRAU.Id_Usuario = @pId_Usuario )
				THEN (SELECT TOP 1 AP.Nm_Destino FROM Agenda_Marcacao_Particular AP WHERE AP.Nr_Destino = B.DB_Destino ORDER BY AP.Nm_Destino DESC) 
				ELSE	CASE WHEN (SELECT Detalhamento_Contato FROM vw_Usuario WHERE Id_Usuario = @pId_Usuario) = 2 THEN
							(SELECT TOP 1 AP.Nm_Destino FROM Agenda_Marcacao_Particular AP WHERE AP.Nr_Destino = B.DB_Destino ORDER BY AP.Nm_Destino DESC) 
						ELSE '**********' END 
				END AS Agenda
							
 	FROM	dbo.fu_Bilhete(@pId_Usuario,@pId_Usuario_Marcacao,@pId_Lote) B INNER JOIN Bilhete_Tipo BT ON B.Id_Bilhete_Tipo = BT.Id_Bilhete_Tipo
	WHERE	Id_Lote = @pId_Lote
			AND	Consumo_Formatado LIKE '%:%'
	GROUP BY B.DB_Destino, B.DB_Localidade 
	ORDER BY QTD DESC
END

IF @pPakage = 'sp_Mais_Discado_Final_Semana'
BEGIN
	SELECT	
			CASE WHEN EXISTS(SELECT * FROM Rl_Perfil_Ativo_Usuario SRAU WHERE SRAU.Id_Ativo = (SELECT Id_Ativo FROM Lote WHERE Id_Lote = @pId_Lote)
							AND SRAU.Id_Usuario = @pId_Usuario )
				THEN B.DB_Destino
				ELSE CASE WHEN (SELECT Detalhamento_Contato FROM vw_Usuario WHERE Id_Usuario = @pId_Usuario) = 2 
							THEN B.DB_Destino ELSE '**********' END							
				END	AS DB_Destino,
			B.DB_Localidade AS Tipo, 
			COUNT(B.DB_Destino) AS QTD,
			SUM(DB_Custo) AS Valor,
			
			CASE WHEN EXISTS(SELECT * FROM Rl_Perfil_Ativo_Usuario SRAU WHERE SRAU.Id_Ativo = (SELECT Id_Ativo FROM Lote WHERE Id_Lote = @pId_Lote)
							AND SRAU.Id_Usuario = @pId_Usuario )
				THEN (SELECT TOP 1 AP.Nm_Destino FROM Agenda_Marcacao_Particular AP WHERE AP.Nr_Destino = B.DB_Destino ORDER BY AP.Nm_Destino DESC) 
				ELSE	CASE WHEN (SELECT Detalhamento_Contato FROM vw_Usuario WHERE Id_Usuario = @pId_Usuario) = 2 THEN
							(SELECT TOP 1 AP.Nm_Destino FROM Agenda_Marcacao_Particular AP WHERE AP.Nr_Destino = B.DB_Destino ORDER BY AP.Nm_Destino DESC) 
						ELSE '**********' END 
				END AS Agenda
			
 	FROM	dbo.fu_Bilhete(@pId_Usuario,@pId_Usuario_Marcacao,@pId_Lote) B INNER JOIN Bilhete_Tipo BT ON B.Id_Bilhete_Tipo = BT.Id_Bilhete_Tipo
	WHERE	Id_Lote = @pId_Lote
			AND	Consumo_Formatado LIKE '%:%'
			AND DATEPART(DW,DB_Data_Hora) IN (1,7) 
			AND NOT DB_Tipo_Parametro IN (SELECT DB_Tipo_Parametro FROM Si_Desmarca_Bilhete) 
	GROUP BY B.DB_Destino, B.DB_Localidade 
	ORDER BY QTD DESC
END

IF @pPakage = 'sp_Mais_Discado_Fora_Horario'
BEGIN
	SELECT	
			CASE WHEN EXISTS(SELECT * FROM Rl_Perfil_Ativo_Usuario SRAU WHERE SRAU.Id_Ativo = (SELECT Id_Ativo FROM Lote WHERE Id_Lote = @pId_Lote)
							AND SRAU.Id_Usuario = @pId_Usuario )
				THEN B.DB_Destino
				ELSE CASE WHEN (SELECT Detalhamento_Contato FROM vw_Usuario WHERE Id_Usuario = @pId_Usuario) = 2 
							THEN B.DB_Destino ELSE '**********' END							
				END	AS DB_Destino,
			B.DB_Localidade AS Tipo, 
			COUNT(B.DB_Destino) AS QTD,
			SUM(DB_Custo) AS Valor,
			
			CASE WHEN EXISTS(SELECT * FROM Rl_Perfil_Ativo_Usuario SRAU WHERE SRAU.Id_Ativo = (SELECT Id_Ativo FROM Lote WHERE Id_Lote = @pId_Lote)
							AND SRAU.Id_Usuario = @pId_Usuario )
				THEN (SELECT TOP 1 AP.Nm_Destino FROM Agenda_Marcacao_Particular AP WHERE AP.Nr_Destino = B.DB_Destino ORDER BY AP.Nm_Destino DESC) 
				ELSE	CASE WHEN (SELECT Detalhamento_Contato FROM vw_Usuario WHERE Id_Usuario = @pId_Usuario) = 2 THEN
							(SELECT TOP 1 AP.Nm_Destino FROM Agenda_Marcacao_Particular AP WHERE AP.Nr_Destino = B.DB_Destino ORDER BY AP.Nm_Destino DESC) 
						ELSE '**********' END 
				END AS Agenda
			
 	FROM	dbo.fu_Bilhete(@pId_Usuario,@pId_Usuario_Marcacao,@pId_Lote) B INNER JOIN Bilhete_Tipo BT ON B.Id_Bilhete_Tipo = BT.Id_Bilhete_Tipo
	WHERE	Id_Lote = @pId_Lote
			AND	Consumo_Formatado LIKE '%:%'
			AND CONVERT(FLOAT,REPLACE(CONVERT(VARCHAR(5), DB_Data_Hora,108),':','')) < 600 OR CONVERT(FLOAT,REPLACE(CONVERT(VARCHAR(5), DB_Data_Hora,108),':','')) > 1800
			AND NOT DB_Tipo_Parametro IN (SELECT DB_Tipo_Parametro FROM Si_Desmarca_Bilhete)
			AND NOT DATEPART(DW,DB_Data_Hora) IN (1,7)  
	GROUP BY B.DB_Destino, B.DB_Localidade 
	ORDER BY QTD DESC
END

IF @pPakage = 'sp_Volume'
BEGIN
	SELECT	BT.Nm_Bilhete_Tipo AS Tipo,
			CAST(SUM(DB_Consumo) AS DECIMAL(10,2)) AS Volume,
			SUM(B.DB_Custo) AS Valor
	FROM	dbo.fu_Bilhete(@pId_Usuario,@pId_Usuario_Marcacao,@pId_Lote) B INNER JOIN Bilhete_Tipo BT ON B.Id_Bilhete_Tipo = BT.Id_Bilhete_Tipo
	WHERE	Id_Lote = @pId_Lote
	GROUP BY BT.Nm_Bilhete_Tipo
	ORDER BY Valor DESC
END

IF @pPakage = 'sp_Volume_Final_Semana'
BEGIN
	SELECT	BT.Nm_Bilhete_Tipo AS Tipo,
			CAST(SUM(DB_Consumo) AS DECIMAL(10,2)) AS Volume,
			SUM(B.DB_Custo) AS Valor
 	FROM	dbo.fu_Bilhete(@pId_Usuario,@pId_Usuario_Marcacao,@pId_Lote) B INNER JOIN Bilhete_Tipo BT ON B.Id_Bilhete_Tipo = BT.Id_Bilhete_Tipo
	WHERE	Id_Lote = @pId_Lote
			AND DATEPART(DW,DB_Data_Hora) IN (1,7) 
			AND NOT DB_Tipo_Parametro IN (SELECT DB_Tipo_Parametro FROM Si_Desmarca_Bilhete) 
	GROUP BY BT.Nm_Bilhete_Tipo
	ORDER BY Valor DESC
END

IF @pPakage = 'sp_Volume_Fora_Horario'
BEGIN
	SELECT	BT.Nm_Bilhete_Tipo AS Tipo,
			CAST(SUM(DB_Consumo) AS DECIMAL(10,2)) AS Volume,
			SUM(B.DB_Custo) AS Valor
 	FROM	dbo.fu_Bilhete(@pId_Usuario,@pId_Usuario_Marcacao,@pId_Lote) B INNER JOIN Bilhete_Tipo BT ON B.Id_Bilhete_Tipo = BT.Id_Bilhete_Tipo
	WHERE	Id_Lote = @pId_Lote
			AND (CONVERT(FLOAT,REPLACE(CONVERT(VARCHAR(5), B.DB_Data_Hora,108),':','')) < 600 OR CONVERT(FLOAT,REPLACE(CONVERT(VARCHAR(5), B.DB_Data_Hora,108),':','')) > 1800)
			AND NOT DB_Tipo_Parametro IN (SELECT DB_Tipo_Parametro FROM Si_Desmarca_Bilhete)
			AND NOT DATEPART(DW,DB_Data_Hora) IN (1,7)  
	GROUP BY BT.Nm_Bilhete_Tipo
	ORDER BY Valor DESC
END

IF @pPakage = 'sp_Volume_Dados'
BEGIN
	SELECT	CAST(SUM(CASE WHEN DATEPART(DW,DB_Data_Hora) IN (1,7) THEN B.DB_Consumo END) AS DECIMAL(10,2)) AS Final_Semana,
			CAST(SUM(CASE WHEN NOT DATEPART(DW,DB_Data_Hora) IN (1,7) AND (CONVERT(FLOAT,REPLACE(SUBSTRING(DB_Data_Hora,12,5),':','')) < 600 OR CONVERT(FLOAT,REPLACE(SUBSTRING(DB_Data_Hora,12,5),':','')) > 1800) THEN B.DB_Consumo END) AS DECIMAL(10,2)) AS Fora_Horario,
			CAST(SUM(CASE WHEN NOT DATEPART(DW,DB_Data_Hora) IN (1,7) AND (CONVERT(FLOAT,REPLACE(SUBSTRING(DB_Data_Hora,12,5),':','')) >= 600 AND CONVERT(FLOAT,REPLACE(SUBSTRING(DB_Data_Hora,12,5),':','')) <= 1800) THEN B.DB_Consumo END) AS DECIMAL(10,2)) AS Dentro_Horario
			Into #V_Dados
	FROM	Lote L	INNER JOIN vw_Bilhete B ON L.Id_Lote = B.Id_Lote
					INNER JOIN Ativo A ON A.Id_Ativo = L.Id_Ativo
					INNER JOIN Ativo_Tipo AT ON A.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
					INNER JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = AT.Id_Ativo_Tipo_Grupo)
					INNER JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado 
	WHERE	(B.DB_Tipo_Parametro = 'DAT' OR B.DB_Tipo_Parametro = 'IDAT')
			AND	L.Id_Lote = @pId_Lote
	GROUP BY	A.Id_Ativo, 
				A.Nr_Ativo,
				AT.Nm_Ativo_Tipo,
				CG.Nm_Conglomerado
				
	SELECT 'Final de Semana' AS X, ISNULL(CAST(SUM(Final_Semana) AS DECIMAL(10,2)),0) AS Y FROM #V_Dados 
	UNION ALL
	SELECT 'Fora do Horário' AS X, ISNULL(CAST(SUM(Fora_Horario) AS DECIMAL(10,2)),0) AS Y FROM #V_Dados
	UNION ALL
	SELECT 'Dentro do Horário' AS X, ISNULL(CAST(SUM(Dentro_Horario) AS DECIMAL(10,2)),0) AS Y FROM #V_Dados				
END

IF @pPakage = 'sp_Volume_Ligacao'
BEGIN
	SELECT	(SELECT TOP 1 C.Nm_Consumidor FROM vw_Alocacao_Ativo_Consumidor AC INNER JOIN vw_Consumidor C ON AC.Id_Consumidor = C.Id_Consumidor WHERE AC.Id_Ativo = A.Id_Ativo) AS Consumidor,
			Nr_Ativo				AS Ativo,
			Nm_Ativo_Tipo			AS Tipo,
			CG.Nm_Conglomerado		AS Conglomerado,
			CAST(SUM(B.DB_Consumo) AS DECIMAL(10,2)) AS Total,
			CAST(SUM(CASE WHEN DATEPART(DW,DB_Data_Hora) IN (1,7) THEN B.DB_Consumo END) AS DECIMAL(10,2)) AS Final_Semana,
			CAST(SUM(CASE WHEN NOT DATEPART(DW,DB_Data_Hora) IN (1,7) AND (CONVERT(FLOAT,REPLACE(SUBSTRING(DB_Data_Hora,12,5),':','')) < 600 OR CONVERT(FLOAT,REPLACE(SUBSTRING(DB_Data_Hora,12,5),':','')) > 1800) THEN B.DB_Consumo END) AS DECIMAL(10,2)) AS Fora_Horario,
			CAST(SUM(CASE WHEN NOT DATEPART(DW,DB_Data_Hora) IN (1,7) AND (CONVERT(FLOAT,REPLACE(SUBSTRING(DB_Data_Hora,12,5),':','')) >= 600 AND CONVERT(FLOAT,REPLACE(SUBSTRING(DB_Data_Hora,12,5),':','')) <= 1800) THEN B.DB_Consumo END) AS DECIMAL(10,2)) AS Dentro_Horario
			INTO  #V_Ligacao
	FROM	Lote L	INNER JOIN vw_Bilhete B ON L.Id_Lote = B.Id_Lote
					INNER JOIN Ativo A ON A.Id_Ativo = L.Id_Ativo
					INNER JOIN Ativo_Tipo AT ON A.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
					INNER JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = AT.Id_Ativo_Tipo_Grupo)
					INNER JOIN Conglomerado CG ON CG.Id_Conglomerado = A.Id_Conglomerado
	WHERE	B.DB_Consumo_Formatado LIKE '%:%'
			AND	L.Id_Lote = @pId_Lote
	GROUP BY	A.Id_Ativo, 
				A.Nr_Ativo,
				AT.Nm_Ativo_Tipo,
				CG.Nm_Conglomerado

	SELECT 'Final de Semana' AS X, ISNULL(CAST(SUM(Final_Semana) AS DECIMAL(10,2)), 0) AS Y FROM #V_Ligacao 
	UNION ALL
	SELECT 'Fora do Horário' AS X, ISNULL(CAST(SUM(Fora_Horario) AS DECIMAL(10,2)),0) AS Y FROM #V_Ligacao
	UNION ALL
	SELECT 'Dentro do Horário' AS X, ISNULL(CAST(SUM(Dentro_Horario) AS DECIMAL(10,2)),0) AS Y FROM #V_Ligacao
END

IF @pPakage = 'sp_Volume_Impressao_Folha'
BEGIN
	SELECT 'A4' AS Descricao, Total_Sem_Auditoria AS Valor FROM Lote WHERE Id_Lote = @pId_Lote
	UNION ALL
	SELECT 'A3' AS Descricao, Total_Cobrado AS Valor FROM Lote WHERE Id_Lote = @pId_Lote
	UNION ALL
	SELECT 'Letter' AS Descricao, Total_Devolucao AS Valor FROM Lote WHERE Id_Lote = @pId_Lote
	UNION ALL
	SELECT 'Folio' AS Descricao, Total_Final_Semana AS Valor FROM Lote WHERE Id_Lote = @pId_Lote
	UNION ALL
	SELECT 'Outros' AS Descricao, Fora_Horario AS Valor FROM Lote WHERE Id_Lote = @pId_Lote
END

IF @pPakage = 'sp_Bilhete_Marcacao_APP'
BEGIN
	SELECT	BI.Id_Bilhete,
	
			CASE WHEN EXISTS(SELECT * FROM Rl_Perfil_Ativo_Usuario SRAU WHERE SRAU.Id_Ativo = BI.Id_Ativo AND SRAU.Id_Usuario = @pId_Usuario )
				THEN BI.DB_Destino
				ELSE CASE WHEN (SELECT Detalhamento_Contato FROM vw_Usuario WHERE Id_Usuario = @pId_Usuario) = 2 
							THEN BI.DB_Destino ELSE '**********' END							
				END	AS Destino,
			
			SUBSTRING(BI.DB_Localidade,1,27)		AS Tipo,

			SUBSTRING(CONVERT(VARCHAR,BI.DB_Data_Hora,103),1,5) + ' - ' +   SUBSTRING(CONVERT(VARCHAR,BI.DB_Data_Hora,114),1,5) AS Data,
				
			BI.Consumo_Formatado						AS Consumo,
			BI.DB_Custo									AS Custo,
			SUBSTRING(ISNULL(BI.Nm_Usuario, ''),1,27)	AS Usuario,
			CASE WHEN BI.Id_Usuario IS NULL THEN 'tick_box' ELSE 'tick_box_checked' END AS Marcar,
			
			ISNULL((SELECT CASE WHEN Marca_Ligacao = 1 THEN 'false' ELSE 'true' END 
					FROM Politica_Consumidor 
					WHERE Id_Consumidor IN (SELECT	Id_Consumidor 
											FROM	Usuario 
											WHERE	Id_Usuario = @pId_Usuario 
													AND Id_Ativo_Tipo IN (	SELECT Id_Ativo_Tipo 
																			FROM	vw_Ativo 
																			WHERE	Id_Ativo IN (	SELECT Id_Ativo 
																									FROM Lote 
																									WHERE Id_Lote = @pId_Lote)))), 'TRUE') AS Reload,
			
			ISNULL((SELECT Valor_Politica 
					FROM Politica_Consumidor 
					WHERE Id_Consumidor IN (SELECT	Id_Consumidor 
											FROM	Usuario 
											WHERE	Id_Usuario = @pId_Usuario 
													AND Id_Ativo_Tipo IN (	SELECT Id_Ativo_Tipo 
																			FROM	vw_Ativo 
																			WHERE	Id_Ativo IN (	SELECT Id_Ativo 
																									FROM Lote 
																									WHERE Id_Lote = @pId_Lote)))), 0) AS Cota,
			
			CASE WHEN EXISTS(SELECT * FROM dbo.Si_Desmarca_Bilhete WHERE DB_Tipo_Parametro = BI.DB_Tipo_Parametro) THEN 1 ELSE 2 END Desmarcar
			INTO #Temp_Bilhete
	FROM	dbo.fu_Bilhete(@pId_Usuario,@pId_Usuario,@pId_Lote) BI
	WHERE	BI.DB_Custo <> 0
	
	SELECT	*,
			CAST(ISNULL((SELECT SUM(Custo) FROM #Temp_Bilhete),0) AS DECIMAL(10,2)) AS Total,
			CAST(ISNULL((SELECT SUM(Custo) FROM #Temp_Bilhete WHERE Marcar = 'tick_box'),0) AS DECIMAL(10,2)) AS Servico,
			CAST(ISNULL((SELECT SUM(Custo) FROM #Temp_Bilhete WHERE Marcar = 'tick_box_checked'),0) AS DECIMAL(10,2)) AS Particular
	FROM	#Temp_Bilhete
END
GO
