USE [Vale]
GO
/****** Object:  Table [dbo].[Cg_RH_Arquivo_Temp]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cg_RH_Arquivo_Temp](
	[Nome_Colaborador] [varchar](100) NULL,
	[Tipo_Colaborador] [varchar](100) NULL,
	[Matricula_Colaborador] [varchar](100) NULL,
	[E_Mail_Colaborador] [varchar](100) NULL,
	[Empresa_Contratada] [varchar](100) NULL,
	[Codigo_Cargo] [varchar](100) NULL,
	[Cargo] [varchar](100) NULL,
	[Codigo_Empresa] [varchar](100) NULL,
	[Empresa] [varchar](100) NULL,
	[Codigo_Filial] [varchar](100) NULL,
	[Filial] [varchar](100) NULL,
	[Codigo_Centro_Custo] [varchar](100) NULL,
	[Centro_Custo] [varchar](100) NULL,
	[Codigo_Departamento] [varchar](100) NULL,
	[Departamento] [varchar](100) NULL,
	[Codigo_Setor] [varchar](100) NULL,
	[Setor] [varchar](100) NULL,
	[Codigo_Secao] [varchar](100) NULL,
	[Secao] [varchar](100) NULL,
	[Status_Colaborador] [varchar](100) NULL,
	[Login_Colaborador] [varchar](100) NULL,
	[Matricula_Chefia_Imediata] [varchar](100) NULL,
	[Login_Filial] [varchar](100) NULL,
	[Login_Centro_Custo] [varchar](100) NULL,
	[Login_Departamento] [varchar](100) NULL,
	[Login_Setor] [varchar](100) NULL,
	[Login_Secao] [varchar](100) NULL
) ON [PRIMARY]
GO
