USE [Vale]
GO
/****** Object:  View [dbo].[vw_Ativo_Consumidor]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Ativo_Consumidor]
AS
SELECT	dbo.Ativo.Id_Ativo,
			dbo.vw_Consumidor.Id_Consumidor, 
			dbo.vw_Consumidor.Nm_Consumidor,
			dbo.Ativo.Nr_Ativo 
	FROM    dbo.Ativo INNER JOIN dbo.Rl_Consumidor_Ativo ON dbo.Ativo.Id_Ativo = dbo.Rl_Consumidor_Ativo.Id_Ativo 
					INNER JOIN dbo.vw_Consumidor ON dbo.Rl_Consumidor_Ativo.Id_Consumidor = dbo.vw_Consumidor.Id_Consumidor
GO
