USE [Vale]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[Id_Empresa] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Empresa] [varchar](50) NOT NULL,
	[Id_Holding] [int] NOT NULL,
	[CNPJ] [varchar](50) NULL,
	[Fl_Desativado] [int] NULL,
	[cd_Empresa] [varchar](20) NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[Id_Empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Empresa]  WITH NOCHECK ADD  CONSTRAINT [FK_Empresa_Holding] FOREIGN KEY([Id_Holding])
REFERENCES [dbo].[Holding] ([Id_Holding])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_Empresa_Holding]
GO
