USE [Vale]
GO
/****** Object:  Table [dbo].[Bilhete_Tipo]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bilhete_Tipo](
	[Id_Bilhete_Tipo] [int] IDENTITY(1,1) NOT NULL,
	[Id_Conglomerado] [int] NOT NULL,
	[Nm_Bilhete_Tipo] [varchar](50) NULL,
	[Nm_Bilhete_Descricao] [varchar](50) NULL,
	[Unidade] [int] NOT NULL,
	[Tipo_Descricao] [int] NOT NULL,
	[Fl_Desativado] [int] NOT NULL,
 CONSTRAINT [PK_Bilhete_Tipo] PRIMARY KEY CLUSTERED 
(
	[Id_Bilhete_Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bilhete_Tipo]  WITH NOCHECK ADD  CONSTRAINT [FK_Bilhete_Tipo_Conglomerado] FOREIGN KEY([Id_Conglomerado])
REFERENCES [dbo].[Conglomerado] ([Id_Conglomerado])
GO
ALTER TABLE [dbo].[Bilhete_Tipo] CHECK CONSTRAINT [FK_Bilhete_Tipo_Conglomerado]
GO
