USE [Vale]
GO
/****** Object:  Table [dbo].[Si_Volumetria]    Script Date: 7/6/2025 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Si_Volumetria](
	[DB_Tipo_Parametro] [varchar](50) NOT NULL,
	[Descricao] [varchar](20) NOT NULL,
	[Grupo] [varchar](20) NOT NULL,
	[Nm_Ativo_Tipo_Grupo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Si_Volumetria] PRIMARY KEY CLUSTERED 
(
	[DB_Tipo_Parametro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
