USE [Vale]
GO
/****** Object:  Table [dbo].[Ativo_Tipo]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ativo_Tipo](
	[Id_Ativo_Tipo] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Ativo_Tipo] [varchar](50) NOT NULL,
	[Id_Ativo_Tipo_Grupo] [int] NOT NULL,
	[Estoque_Regulador] [int] NOT NULL,
	[Id_Ativo_Tipo_Sub_Grupo] [int] NULL,
	[Id_Ativo_Tipo_Grupo_Tipo] [int] NULL,
	[Id_Conglomerado] [int] NULL,
	[Fl_Desativado] [int] NOT NULL,
 CONSTRAINT [PK_Ativo_Tipo] PRIMARY KEY CLUSTERED 
(
	[Id_Ativo_Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ativo_Tipo]  WITH NOCHECK ADD  CONSTRAINT [FK_Ativo_Tipo_Ativo_Tipo_Grupo] FOREIGN KEY([Id_Ativo_Tipo_Grupo])
REFERENCES [dbo].[Ativo_Tipo_Grupo] ([Id_Ativo_Tipo_Grupo])
GO
ALTER TABLE [dbo].[Ativo_Tipo] CHECK CONSTRAINT [FK_Ativo_Tipo_Ativo_Tipo_Grupo]
GO
ALTER TABLE [dbo].[Ativo_Tipo]  WITH NOCHECK ADD  CONSTRAINT [FK_Ativo_Tipo_Ativo_Tipo_Grupo_Tipo] FOREIGN KEY([Id_Ativo_Tipo_Grupo_Tipo])
REFERENCES [dbo].[Ativo_Tipo_Grupo_Tipo] ([Id_Ativo_Tipo_Grupo_Tipo])
GO
ALTER TABLE [dbo].[Ativo_Tipo] CHECK CONSTRAINT [FK_Ativo_Tipo_Ativo_Tipo_Grupo_Tipo]
GO
ALTER TABLE [dbo].[Ativo_Tipo]  WITH NOCHECK ADD  CONSTRAINT [FK_Ativo_Tipo_Ativo_Tipo_Sub_Grupo] FOREIGN KEY([Id_Ativo_Tipo_Sub_Grupo])
REFERENCES [dbo].[Ativo_Tipo_Sub_Grupo] ([Id_Ativo_Tipo_Sub_Grupo])
GO
ALTER TABLE [dbo].[Ativo_Tipo] CHECK CONSTRAINT [FK_Ativo_Tipo_Ativo_Tipo_Sub_Grupo]
GO
ALTER TABLE [dbo].[Ativo_Tipo]  WITH NOCHECK ADD  CONSTRAINT [FK_Ativo_Tipo_Conglomerado] FOREIGN KEY([Id_Conglomerado])
REFERENCES [dbo].[Conglomerado] ([Id_Conglomerado])
GO
ALTER TABLE [dbo].[Ativo_Tipo] CHECK CONSTRAINT [FK_Ativo_Tipo_Conglomerado]
GO
