USE [Vale]
GO
/****** Object:  Table [dbo].[Ativo_Tipo_Grupo]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ativo_Tipo_Grupo](
	[Id_Ativo_Tipo_Grupo] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Ativo_Tipo_Grupo] [varchar](50) NOT NULL,
	[Visivel] [int] NULL,
	[Pakage] [varchar](50) NULL,
	[Termo_Ativacao] [varchar](300) NULL,
	[Termo_Desativacao] [varchar](300) NULL,
 CONSTRAINT [PK_Ativo_Tipo_Grupo] PRIMARY KEY CLUSTERED 
(
	[Id_Ativo_Tipo_Grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
