USE [Vale]
GO
/****** Object:  View [dbo].[vw_Bilhete]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Bilhete]
AS
SELECT	dbo.Bilhete.Id_Bilhete, 
		dbo.Bilhete.Id_Ativo, 
		CONVERT(VARCHAR, dbo.Bilhete.DB_Data_Hora, 120) AS DB_Data_Hora, 
		dbo.Bilhete.DB_Destino, 
		dbo.Bilhete.DC_Nr_Nota_Fiscal, 
		dbo.Bilhete.Id_Tronco, 
		dbo.Bilhete.Id_Usuario, 
		dbo.Bilhete.Id_Lote, 
		dbo.Bilhete.Id_Bilhete_Tipo,
		dbo.Bilhete.DB_Custo,
		CASE WHEN dbo.Bilhete_Tipo.Unidade = 1 THEN CONVERT(VARCHAR, CONVERT(DATETIME, (dbo.Bilhete.DB_Consumo / 1439.980)), 108) 
				ELSE
					CASE WHEN dbo.Bilhete.DB_Consumo = '1' THEN '1' ELSE CONVERT(VARCHAR, dbo.Bilhete.DB_Consumo) END
				END AS DB_Consumo_Formatado, 
		CASE WHEN dbo.Bilhete_Tipo.Tipo_Descricao = 1 THEN ISNULL(dbo.Bilhete_Tipo.Nm_Bilhete_Tipo, '') 
				WHEN dbo.Bilhete_Tipo.Tipo_Descricao = 2 THEN ISNULL(dbo.Bilhete_Tipo.Nm_Bilhete_Descricao, '') END AS DB_Localidade, 
		dbo.Bilhete_Tipo.Nm_Bilhete_Tipo,
		dbo.Bilhete_Tipo.Nm_Bilhete_Descricao,
		dbo.Bilhete.DB_Consumo,
		dbo.Bilhete.DB_Tipo_Parametro,
		dbo.Bilhete.DB_Valor_Devolucao,
		dbo.Bilhete.DB_Custo_Cobrado, 
		dbo.Bilhete.DB_Operadora_Sainte
FROM	dbo.Bilhete INNER JOIN dbo.Bilhete_Tipo ON dbo.Bilhete.Id_Bilhete_Tipo = dbo.Bilhete_Tipo.Id_Bilhete_Tipo
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Bilhete"
            Begin Extent = 
               Top = 43
               Left = 34
               Bottom = 151
               Right = 206
            End
            DisplayFlags = 280
            TopColumn = 10
         End
         Begin Table = "Bilhete_Tipo"
            Begin Extent = 
               Top = 6
               Left = 244
               Bottom = 114
               Right = 439
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 16
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Bilhete'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_Bilhete'
GO
