USE [Vale]
GO
/****** Object:  Table [dbo].[Departamento_Staging]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento_Staging](
	[Cd_Departamento] [varchar](20) NULL,
	[Nm_Departamento] [varchar](80) NOT NULL,
	[Fl_Desativado] [int] NOT NULL,
	[Dt_Inclusao_Staging] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Departamento_Staging] ADD  DEFAULT (getdate()) FOR [Dt_Inclusao_Staging]
GO
