USE [Vale]
GO
/****** Object:  Table [dbo].[Lote_Marcacao]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lote_Marcacao](
	[Id_Lote_Marcacao] [float] NOT NULL,
	[Id_Lote] [float] NOT NULL,
	[Id_Usuario] [int] NOT NULL,
	[Dt_Fechamento] [datetime] NULL,
	[Dt_Visita] [datetime] NULL,
	[Dt_Exportacao] [datetime] NULL,
	[Dt_Ultima_Marcacao] [datetime] NULL,
	[Total_Marcado] [numeric](13, 2) NULL,
	[Flag_Automatico] [int] NULL,
	[Justificativa] [varchar](8000) NULL,
 CONSTRAINT [PK_Lote_Marcacao] PRIMARY KEY CLUSTERED 
(
	[Id_Lote_Marcacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Lote_Marcacao]  WITH NOCHECK ADD  CONSTRAINT [FK_Lote_Marcacao_Consumidor] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id_Usuario])
GO
ALTER TABLE [dbo].[Lote_Marcacao] CHECK CONSTRAINT [FK_Lote_Marcacao_Consumidor]
GO
ALTER TABLE [dbo].[Lote_Marcacao]  WITH NOCHECK ADD  CONSTRAINT [FK_Lote_Marcacao_Lote] FOREIGN KEY([Id_Lote])
REFERENCES [dbo].[Lote] ([Id_Lote])
GO
ALTER TABLE [dbo].[Lote_Marcacao] CHECK CONSTRAINT [FK_Lote_Marcacao_Lote]
GO
