USE [Vale]
GO
/****** Object:  View [dbo].[vw_Solicitacao_Fila_Atendimento]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Solicitacao_Fila_Atendimento]
AS
SELECT  Id_Solicitacao_Fila_Atendimento,
		Nm_Solicitacao_Fila_Atendimento
FROM    dbo.Solicitacao_Fila_Atendimento
WHERE   (Fl_Desativado = 0)
GO
