USE [Vale]
GO
/****** Object:  Table [dbo].[Contrato_Indice]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contrato_Indice](
	[Id_Contrato_Indice] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Contrato_Indice] [varchar](50) NOT NULL,
	[Obs_Contrato_Indice] [varchar](100) NULL,
	[Fl_Desativado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Contrato_Indice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
