USE [Vale]
GO
/****** Object:  Table [dbo].[Rl_Consumidor_Ativo_log]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rl_Consumidor_Ativo_log](
	[Id_Consumidor] [int] NULL,
	[Id_Ativo] [int] NULL,
	[acao] [varchar](50) NULL,
	[Data_modificacao] [datetime] NULL
) ON [PRIMARY]
GO
