USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Reconciliacao_VI]    Script Date: 7/6/2025 1:49:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cn_T_Reconciliacao_VI] 
    @pPakage VARCHAR(200),
    @pPakage_Filtro VARCHAR(200) = NULL,
    @pId_Filtro_1 VARCHAR(MAX) = NULL,
    @pId_Filtro_Filial VARCHAR(MAX) = NULL,
    @pId_Filtro_Usuario INT = NULL,
    @p_Id_Filtro_Centro_Custo VARCHAR(MAX) = NULL,
    @p_Id_Filtro_Departamento VARCHAR(MAX) = NULL,
    @p_Id_Filtro_Setor VARCHAR(MAX) = NULL,
    @pDt_LoteDe VARCHAR(6) = NULL,
    @pDt_LoteAte VARCHAR(6) = NULL,
    @pAtivo_Tipo_Grupo VARCHAR(50) = NULL
AS
BEGIN
    -- Create temporary table with base data
    SELECT
        SUBSTRING(CONVERT(VARCHAR, L.Dt_Lote, 112), 1, 6) AS Lote,
        A.Nr_Ativo AS Ativo,
        ATP.Nm_Ativo_Tipo AS Tipo,
        (
            SELECT TOP 1 Nm_Consumidor 
            FROM Rl_Consumidor_Ativo SR 
            INNER JOIN Consumidor SC ON SR.Id_Consumidor = SC.Id_Consumidor
            WHERE Id_Ativo = A.Id_Ativo
        ) AS Consumidor,
        (
            SELECT TOP 1 Matricula 
            FROM Rl_Consumidor_Ativo SR 
            INNER JOIN Consumidor SC ON SR.Id_Consumidor = SC.Id_Consumidor
            WHERE Id_Ativo = A.Id_Ativo
        ) AS Matricula,
        (
            SELECT TOP 1 Cd_Centro_Custo 
            FROM Rl_Consumidor_Ativo SR 
            INNER JOIN Consumidor SC ON SR.Id_Consumidor = SC.Id_Consumidor
            INNER JOIN Centro_Custo SCC ON SCC.Id_Centro_Custo = SC.Id_Centro_Custo
            WHERE Id_Ativo = A.Id_Ativo
        ) AS CDC,
        CO.Nm_Conglomerado AS Operadora,
        B.DB_Consumo AS Consumo
    INTO #temp_Export
    FROM
        Ativo A
        INNER JOIN Ativo_Tipo ATP ON A.Id_Ativo_Tipo = ATP.Id_Ativo_Tipo
        INNER JOIN Ativo_Tipo_Grupo ATG ON ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo
        INNER JOIN Conglomerado CO ON A.Id_Conglomerado = CO.Id_Conglomerado
        INNER JOIN Lote L ON A.Id_Ativo = L.Id_Ativo
        INNER JOIN Bilhete B ON B.Id_Lote = L.Id_Lote
        LEFT JOIN Tronco T ON T.Id_Tronco = B.Id_Tronco
    WHERE
        SUBSTRING(CONVERT(VARCHAR(6), L.Dt_Lote, 112), 1, 6) >= @pDt_LoteDe
        AND SUBSTRING(CONVERT(VARCHAR(6), L.Dt_Lote, 112), 1, 6) <= @pDt_LoteAte
        AND ATG.Nm_Ativo_Tipo_Grupo = 'Telefonia_Movel'
        AND B.DB_Consumo = 0
    ORDER BY
        Lote, Ativo, Tipo;

    -- Export based on package
    IF @pPakage = 'sp_Inventario_Export'
    BEGIN
        SELECT DISTINCT
    Lote,
    Ativo,
    Tipo,
    Consumidor,
    Matricula,
    CDC,
    Operadora,
    Consumo
FROM #temp_Export;
    END

    -- Grid view
    IF @pPakage = 'sp_Inventario'
    BEGIN
        SELECT DISTINCT
    Lote,
    Ativo,
    Tipo,
    Consumidor,
    Matricula,
    CDC,
    Operadora,
    Consumo
FROM #temp_Export;
    END

    -- Graphical output with aggregation
    IF @pPakage = 'sp_Inventario_Grafico'
    BEGIN
        SELECT 
            Tipo AS X,
            COUNT(*) AS Y 
        FROM #temp_Export
        GROUP BY Tipo;
    END

END;
GO
