USE [Vale]
GO
/****** Object:  Table [dbo].[Centro_Custo_Map]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Centro_Custo_Map](
	[Id_Centro_Custo] [int] NOT NULL,
	[Cd_Centro_Custo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Centro_Custo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
