USE [Vale]
GO
/****** Object:  Table [dbo].[Log_Rastreio_Estoque_Aparelho]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_Rastreio_Estoque_Aparelho](
	[Operacao] [varchar](50) NULL,
	[Data] [datetime] NULL,
	[Id_Ativo] [int] NULL,
	[Id_Aparelho] [int] NULL,
	[Id_Consumidor] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Log_Rastreio_Estoque_Aparelho]  WITH NOCHECK ADD  CONSTRAINT [FK_Log_Rastreio_Estoque_Aparelho_Ativo] FOREIGN KEY([Id_Ativo])
REFERENCES [dbo].[Ativo] ([Id_Ativo])
GO
ALTER TABLE [dbo].[Log_Rastreio_Estoque_Aparelho] CHECK CONSTRAINT [FK_Log_Rastreio_Estoque_Aparelho_Ativo]
GO
ALTER TABLE [dbo].[Log_Rastreio_Estoque_Aparelho]  WITH NOCHECK ADD  CONSTRAINT [FK_Log_Rastreio_Estoque_Aparelho_Consumidor] FOREIGN KEY([Id_Consumidor])
REFERENCES [dbo].[Consumidor] ([Id_Consumidor])
GO
ALTER TABLE [dbo].[Log_Rastreio_Estoque_Aparelho] CHECK CONSTRAINT [FK_Log_Rastreio_Estoque_Aparelho_Consumidor]
GO
ALTER TABLE [dbo].[Log_Rastreio_Estoque_Aparelho]  WITH NOCHECK ADD  CONSTRAINT [FK_Log_Rastreio_Estoque_Aparelho_Estoque_Aparelho] FOREIGN KEY([Id_Aparelho])
REFERENCES [dbo].[Estoque_Aparelho] ([Id_Aparelho])
GO
ALTER TABLE [dbo].[Log_Rastreio_Estoque_Aparelho] CHECK CONSTRAINT [FK_Log_Rastreio_Estoque_Aparelho_Estoque_Aparelho]
GO
