USE [Vale]
GO
/****** Object:  Table [dbo].[Auditoria_Resumo]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria_Resumo](
	[Id_Auditoria_Resumo] [int] IDENTITY(1,1) NOT NULL,
	[Id_Conglomerado] [int] NOT NULL,
	[Dt_Lote] [varchar](6) NOT NULL,
	[Fatura] [varchar](30) NOT NULL,
	[Valor_Cobrado] [varchar](30) NOT NULL,
	[Valor_Correto] [varchar](30) NOT NULL,
	[Valor_Cobrado_A_Mais] [varchar](30) NOT NULL,
	[Porcentagem] [varchar](30) NULL,
 CONSTRAINT [PK_Auditoria_resumo] PRIMARY KEY CLUSTERED 
(
	[Id_Auditoria_Resumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
