USE [Vale]
GO
/****** Object:  Table [dbo].[Solicitacao_Tipo]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitacao_Tipo](
	[Id_Solicitacao_Tipo] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Solicitacao_Tipo] [varchar](50) NOT NULL,
	[Id_Ativo_Tipo] [int] NOT NULL,
	[Id_Solicitacao_SLA] [int] NOT NULL,
	[Id_Solicitcao_Fila_Atendimento] [int] NOT NULL,
	[Id_Solicitacao_Permissao] [int] NOT NULL,
	[Fl_Config_Caixa_Texto] [varchar](300) NULL,
	[Id_Solicitacao_Unidade_Processo] [int] NULL,
	[Fl_Desativado] [int] NOT NULL,
 CONSTRAINT [PK_Solicitacao_Tipo] PRIMARY KEY CLUSTERED 
(
	[Id_Solicitacao_Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Solicitacao_Tipo]  WITH NOCHECK ADD  CONSTRAINT [FK_Solicitacao_Tipo_Ativo_Tipo] FOREIGN KEY([Id_Ativo_Tipo])
REFERENCES [dbo].[Ativo_Tipo] ([Id_Ativo_Tipo])
GO
ALTER TABLE [dbo].[Solicitacao_Tipo] CHECK CONSTRAINT [FK_Solicitacao_Tipo_Ativo_Tipo]
GO
ALTER TABLE [dbo].[Solicitacao_Tipo]  WITH NOCHECK ADD  CONSTRAINT [FK_Solicitacao_Tipo_Solicitacao_Fila_Atendimento] FOREIGN KEY([Id_Solicitcao_Fila_Atendimento])
REFERENCES [dbo].[Solicitacao_Fila_Atendimento] ([Id_Solicitacao_Fila_Atendimento])
GO
ALTER TABLE [dbo].[Solicitacao_Tipo] CHECK CONSTRAINT [FK_Solicitacao_Tipo_Solicitacao_Fila_Atendimento]
GO
ALTER TABLE [dbo].[Solicitacao_Tipo]  WITH NOCHECK ADD  CONSTRAINT [FK_Solicitacao_Tipo_Solicitacao_Permissao] FOREIGN KEY([Id_Solicitacao_Permissao])
REFERENCES [dbo].[Solicitacao_Permissao] ([Id_Solicitacao_Permissao])
GO
ALTER TABLE [dbo].[Solicitacao_Tipo] CHECK CONSTRAINT [FK_Solicitacao_Tipo_Solicitacao_Permissao]
GO
ALTER TABLE [dbo].[Solicitacao_Tipo]  WITH NOCHECK ADD  CONSTRAINT [FK_Solicitacao_Tipo_Solicitacao_SLA] FOREIGN KEY([Id_Solicitacao_SLA])
REFERENCES [dbo].[Solicitacao_SLA] ([Id_Solicitacao_SLA])
GO
ALTER TABLE [dbo].[Solicitacao_Tipo] CHECK CONSTRAINT [FK_Solicitacao_Tipo_Solicitacao_SLA]
GO
ALTER TABLE [dbo].[Solicitacao_Tipo]  WITH NOCHECK ADD  CONSTRAINT [FK_Solicitacao_Tipo_Solicitacao_Unidade_Processo] FOREIGN KEY([Id_Solicitacao_Unidade_Processo])
REFERENCES [dbo].[Solicitacao_Unidade_Processo] ([Id_Processo_Unidade_Solicitacao])
GO
ALTER TABLE [dbo].[Solicitacao_Tipo] CHECK CONSTRAINT [FK_Solicitacao_Tipo_Solicitacao_Unidade_Processo]
GO
