USE [Vale]
GO
/****** Object:  Table [dbo].[Auditoria_Lote]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria_Lote](
	[Id_Auditoria_Lote] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](50) NOT NULL,
	[Dt_Lote] [varchar](6) NOT NULL,
	[Id_Conglomerado] [int] NOT NULL,
	[Valor] [numeric](13, 2) NOT NULL,
 CONSTRAINT [PK_Auditoria_Lote] PRIMARY KEY CLUSTERED 
(
	[Id_Auditoria_Lote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auditoria_Lote]  WITH NOCHECK ADD  CONSTRAINT [FK_Auditoria_Conglomerado] FOREIGN KEY([Id_Conglomerado])
REFERENCES [dbo].[Conglomerado] ([Id_Conglomerado])
GO
ALTER TABLE [dbo].[Auditoria_Lote] CHECK CONSTRAINT [FK_Auditoria_Conglomerado]
GO
