USE [Vale]
GO
/****** Object:  Table [dbo].[Ativo_Tipo_Contato_Corporativo]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ativo_Tipo_Contato_Corporativo](
	[Id_Ativo_Tipo] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ativo_Tipo_Contato_Corporativo]  WITH NOCHECK ADD  CONSTRAINT [FK_Ativo_Tipo_Contato_Corporativo_Ativo_Tipo] FOREIGN KEY([Id_Ativo_Tipo])
REFERENCES [dbo].[Ativo_Tipo] ([Id_Ativo_Tipo])
GO
ALTER TABLE [dbo].[Ativo_Tipo_Contato_Corporativo] CHECK CONSTRAINT [FK_Ativo_Tipo_Contato_Corporativo_Ativo_Tipo]
GO
