USE [Vale]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Usuario] [varchar](50) NOT NULL,
	[Senha] [varchar](50) NULL,
	[Id_Consumidor] [int] NOT NULL,
	[Id_Idioma] [int] NOT NULL,
	[Id_Usuario_Grupo] [int] NOT NULL,
	[Id_Usuario_Perfil] [int] NOT NULL,
	[Id_Usuario_Perfil_Acesso] [int] NOT NULL,
	[Incluir] [int] NOT NULL,
	[Alterar] [int] NOT NULL,
	[Excluir] [int] NOT NULL,
	[Detalhamento_Conta] [int] NOT NULL,
	[Detalhamento_Contato] [int] NOT NULL,
	[Fl_Desativado] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario]  WITH NOCHECK ADD  CONSTRAINT [FK_Usuario_Consumidor] FOREIGN KEY([Id_Consumidor])
REFERENCES [dbo].[Consumidor] ([Id_Consumidor])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Consumidor]
GO
ALTER TABLE [dbo].[Usuario]  WITH NOCHECK ADD  CONSTRAINT [FK_Usuario_Si_Idioma] FOREIGN KEY([Id_Idioma])
REFERENCES [dbo].[Si_Idioma] ([Id_Idioma])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Si_Idioma]
GO
ALTER TABLE [dbo].[Usuario]  WITH NOCHECK ADD  CONSTRAINT [FK_Usuario_Si_Usuario_Perfil] FOREIGN KEY([Id_Usuario_Perfil])
REFERENCES [dbo].[Si_Usuario_Perfil] ([Id_Usuario_Perfil])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Si_Usuario_Perfil]
GO
ALTER TABLE [dbo].[Usuario]  WITH NOCHECK ADD  CONSTRAINT [FK_Usuario_Si_Usuario_Perfil_Acesso] FOREIGN KEY([Id_Usuario_Perfil_Acesso])
REFERENCES [dbo].[Si_Usuario_Perfil_Acesso] ([Id_Usuario_Perfil_Acesso])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Si_Usuario_Perfil_Acesso]
GO
ALTER TABLE [dbo].[Usuario]  WITH NOCHECK ADD  CONSTRAINT [FK_Usuario_Usuario_Grupo] FOREIGN KEY([Id_Usuario_Grupo])
REFERENCES [dbo].[Usuario_Grupo] ([Id_Usuario_Grupo])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Usuario_Grupo]
GO
