USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[pa_Termo_Aceite]    Script Date: 7/6/2025 1:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
* HISTÓRICO DE MODIFICAÇÕES
* [ICTRL-NF-202506-026 | 2025-07-01 | Parceiro IControlIT]
*/
-- [INÍCIO - ICTRL-NF-202506-026]
CREATE PROCEDURE [dbo].[pa_Termo_Aceite]
    @pAcao VARCHAR(50),
    @pId_Consumidor INT = NULL,
    @pId_Ativo INT = NULL,
    @pHash_Acesso VARCHAR(200) = NULL,
    @pEmail_EnviadoPara VARCHAR(255) = NULL,
    @pAssuntoEmail VARCHAR(200) = NULL,
    @pTextoAdicional VARCHAR(8000) = NULL,
    @pNmUsuarioAtual VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @pAcao = 'agendar_aceite_e_email'
    BEGIN
        BEGIN TRY
            BEGIN TRANSACTION;

            -- 1. Insere o registro de solicitação de aceite
            INSERT INTO dbo.Aceite_Termo_Responsabilidade (Id_Consumidor, Id_Ativo, Hash_Acesso, Dt_Envio_Email, Email_EnviadoPara, Flg_Aceite)
            VALUES (@pId_Consumidor, @pId_Ativo, @pHash_Acesso, GETDATE(), @pEmail_EnviadoPara, 0);

            DECLARE @Id_Aceite_Gerado INT = SCOPE_IDENTITY();

            -- 2. Lógica de agendamento de e-mail com remetente dinâmico
            DECLARE @Id_Mail_Sender INT;
            
            -- Busca ou cria o remetente para o assunto específico
            SELECT @Id_Mail_Sender = Id_Mail_Sender FROM Mail_Sender WHERE Assunto = @pAssuntoEmail;
            IF @Id_Mail_Sender IS NULL
            BEGIN
                -- Busca o e-mail do usuário que está logado e disparou a ação
                DECLARE @EmailRemetente VARCHAR(255);
                SELECT @EmailRemetente = C.EMail
                FROM dbo.Usuario AS U
                INNER JOIN dbo.Consumidor AS C ON U.Id_Consumidor = C.Id_Consumidor
                WHERE U.Nm_Usuario = @pNmUsuarioAtual;

                -- Define um e-mail padrão do sistema caso o usuário não tenha um e-mail cadastrado
                DECLARE @EmailPadraoSistema VARCHAR(255) = 'sistema@icontrolit.com.br';

                DECLARE @novoIdMailSender INT;
                SELECT @novoIdMailSender = ISNULL(MAX(Id_Mail_Sender), 0) + 1 FROM Mail_Sender;

                -- Insere usando o e-mail do usuário ou o e-mail padrão do sistema
                INSERT INTO Mail_Sender (Id_Mail_Sender, Profile_Name, Assunto, Status_Mail)
                VALUES (@novoIdMailSender, ISNULL(@EmailRemetente, @EmailPadraoSistema), @pAssuntoEmail, 1);
                
                SET @Id_Mail_Sender = @novoIdMailSender;
            END

            -- Insere o e-mail na fila de envio (Mail_Caixa_Saida)
            INSERT INTO Mail_Caixa_Saida (Id_Mail_Sender, E_Mail_Destino, E_Mail_Copia, Texto_Adicional, Dt_Programacao, Fl_Enviado, Fl_QTD_Tentativa_Envio, Id_Chamado)
            VALUES (@Id_Mail_Sender, @pEmail_EnviadoPara, NULL, @pTextoAdicional, GETDATE(), 0, 0, NULL);

            COMMIT TRANSACTION;

            -- Retorna o ID do aceite criado
            SELECT @Id_Aceite_Gerado AS Id_Aceite;
        END TRY
        BEGIN CATCH
            IF @@TRANCOUNT > 0
                ROLLBACK TRANSACTION;
            
            DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
            RAISERROR(@ErrorMessage, 16, 1);
        END CATCH
    END

    ELSE IF @pAcao = 'validar_hash'
    BEGIN
        SELECT Id_Aceite, Id_Consumidor, Id_Ativo, Flg_Aceite, Dt_Aceite
        FROM dbo.Aceite_Termo_Responsabilidade
        WHERE Hash_Acesso = @pHash_Acesso;
    END

    ELSE IF @pAcao = 'confirmar_aceite'
    BEGIN
        UPDATE dbo.Aceite_Termo_Responsabilidade
        SET Flg_Aceite = 1, Dt_Aceite = GETDATE()
        WHERE Hash_Acesso = @pHash_Acesso AND Flg_Aceite = 0;
        SELECT @@ROWCOUNT AS RowsAffected;
    END

    ELSE IF @pAcao = 'verificar_aceite'
    BEGIN
        SELECT Dt_Aceite, Hash_Acesso
        FROM dbo.Aceite_Termo_Responsabilidade
        WHERE Id_Ativo = @pId_Ativo
          AND Id_Consumidor = @pId_Consumidor
          AND Flg_Aceite = 1;
    END
END
-- [FIM - ICTRL-NF-202506-026]
GO
