USE [Vale]
GO
/****** Object:  Table [dbo].[Centro_Custo_Complemento]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Centro_Custo_Complemento](
	[Id_Centro_Custo_Complemento] [int] NULL,
	[Id_Centro_Custo] [int] NULL,
	[Atividade] [varchar](70) NULL,
	[Classificacao] [varchar](70) NULL,
	[Area] [varchar](70) NULL,
	[validador] [varchar](70) NULL,
	[contabil] [varchar](70) NULL
) ON [PRIMARY]
GO
