USE [Vale]
GO
/****** Object:  Table [dbo].[Holding]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holding](
	[Id_Holding] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Holding] [varchar](50) NOT NULL,
	[Logo] [varchar](50) NOT NULL,
	[Fl_Desativado] [int] NOT NULL,
 CONSTRAINT [PK_Holding] PRIMARY KEY CLUSTERED 
(
	[Id_Holding] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
