USE [Vale]
GO
/****** Object:  Table [dbo].[Ativo_Auxilia]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ativo_Auxilia](
	[Id_Ativo_auxilia] [int] NULL,
	[id_ativo] [int] NULL,
	[Leg] [varchar](100) NULL,
	[Req] [varchar](100) NULL,
	[OC] [varchar](100) NULL,
	[VI/CG] [varchar](100) NULL,
	[Desc] [varchar](100) NULL
) ON [PRIMARY]
GO
