USE [Vale]
GO
/****** Object:  View [dbo].[vw_Pesquisa_Descricao_Cadastro]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Pesquisa_Descricao_Cadastro]
AS
-----auditoria acompanhamento
SELECT	Descricao	AS Pesquisa,
		'Cadastro de Acompanhamento de Auditoria' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Acompanhamento de Auditoria' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Auditoria_Acompanhamento.aspx',Id_Auditoria_Acompanhamento,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Auditoria_Acompanhamento.aspx',Id_Auditoria_Acompanhamento,'') AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'acompanhamento auditoria' AS Campo
FROM	Auditoria_Acompanhamento
UNION ALL

-----usuario
SELECT	Nm_Usuario	AS Pesquisa,
		'Cadastro de Usuário' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Login do Usuário' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Usuario.aspx',Id_Usuario,'') AS Link_1,	
		dbo.Fu_Link_HTTP ('Usuario.aspx',Id_Usuario,'') AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'usuario' AS Campo
FROM	vw_Usuario
UNION ALL

-----custo fixo
SELECT	Nm_Custo_Fixo AS Pesquisa,
		'Cadastro de Custo Fixo' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Custo Fixo' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Custo_Fixo.aspx',Id_Custo_Fixo,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Custo_Fixo.aspx',Id_Custo_Fixo,'') AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'custo fixo' AS Campo
FROM	Custo_Fixo
UNION ALL

-----custo fixo item
SELECT	Nm_Custo_Fixo + ' - ' + AT.Nm_Ativo_Tipo + ' - ' + C.Nm_Conglomerado AS Pesquisa,
		'Cadastro de Item de Custo Fixo' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Item do Custo Fixo' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Custo_Fixo_Item.aspx',Id_Custo_Fixo_Item,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Custo_Fixo_Item.aspx',Id_Custo_Fixo_Item,'') AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'item custo fixo' AS Campo
FROM	Custo_Fixo_Item CFI INNER JOIN Custo_Fixo CF ON CFI.Id_Custo_Fixo =  CF.Id_Custo_Fixo
							INNER JOIN Ativo_Tipo AT ON AT.Id_Ativo_Tipo = CFI.Id_Ativo_Tipo
							INNER JOIN Conglomerado C ON C.Id_Conglomerado = CFI.Id_Conglomerado
UNION ALL

-----rateio
SELECT	Nm_Rateio			AS Pesquisa,
		'Contabilização' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Rateio' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Rateio.aspx',Id_Rateio,'') AS Link_1,		
		dbo.Fu_Link_HTTP ('Rateio.aspx',Id_Rateio,'') AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'rateio' AS Campo
FROM	Rateio
UNION ALL

-----fatura
SELECT	Nm_Fatura	AS Pesquisa,
		'Fatura' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição da Fatura' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Fatura.aspx',Id_Fatura,'') AS Link_1,		
		dbo.Fu_Link_HTTP ('Fatura.aspx',Id_Fatura,'') AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'fatura' AS Campo
FROM	Fatura
UNION ALL

-----fatura_parametro
SELECT	Nm_Fatura_Parametro			AS Pesquisa,
		'Configuração de Fatura' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Tipo de Fatura' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Fatura_Parametro.aspx',Id_Fatura_Parametro,'') AS Link_1,		
		dbo.Fu_Link_HTTP ('Fatura_Parametro.aspx',Id_Fatura_Parametro,'') AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'parametro fatura' AS Campo
FROM	Fatura_Parametro
UNION ALL

-----fatura_parametro_campo
SELECT	SUBSTRING(F.Nm_Fatura_Parametro + ' - ' + FC.Nm_Fatura_Parametro_Campo,1,50) + '...' AS Pesquisa,
		'Cadastro de Novo Campo de Fatura' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Novo Campo de Fatura' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Fatura_Parametro_Campo.aspx',Id_Fatura_Parametro_Campo,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Fatura_Parametro_Campo.aspx',Id_Fatura_Parametro_Campo,'') AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'dados adicionais fatura' AS Campo
FROM	Fatura_Parametro_Campo FC INNER JOIN Fatura_Parametro F ON F.Id_Fatura_Parametro = FC.Id_Fatura_Parametro
UNION ALL

-----usuario_grupo
SELECT	Nm_Usuario_Grupo AS Pesquisa,
		'Cadastro de Grupo de Usuário' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Grupo de Usuário' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Usuario_Grupo.aspx',Id_Usuario_Grupo,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Usuario_Grupo.aspx',Id_Usuario_Grupo,'') AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'grupo usuario' AS Campo
FROM	Usuario_Grupo
UNION ALL

-----auditoria status
SELECT	Nm_Auditoria_Status	AS Pesquisa,
		'Cadastro de Satus de Auditoria' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Status de Auditoria' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Auditoria_Status.aspx',Id_Auditoria_Status,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Auditoria_Status.aspx',Id_Auditoria_Status,'') AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'status auditoria' AS Campo
FROM	Auditoria_Status
UNION ALL

-----ativo_complemento
SELECT	Nm_Ativo_Complemento AS Pesquisa,
		'Cadastro de Novo Campo de Ativo' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Novo Campo de Ativo' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Ativo_Complemento.aspx',Id_Ativo_Complemento,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Ativo_Complemento.aspx',Id_Ativo_Complemento,'') AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		0 AS ID,
		'null' AS Tabela,
		'dados adinionais' AS Campo
FROM	Ativo_Complemento
UNION ALL


---------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------


-----ativo
SELECT	Nr_Ativo			AS Pesquisa,
		'Cadastro de Ativo' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Número do Ativo' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',Id_Ativo,'') AS Link_1,		
		dbo.Fu_Link_HTTP ('Ativo.aspx',Id_Ativo,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Ativo AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Ativo' END AS Tabela,
		'ativo' AS Campo
FROM	Ativo
UNION ALL

-----consumidor
SELECT	Nm_Consumidor	AS Pesquisa,
		'Cadastro de Consumidor' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Nome do Consumidor' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Consumidor.aspx',Id_Consumidor,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Consumidor.aspx',Id_Consumidor,'') AS Link_2,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Consumidor AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Consumidor' END AS Tabela,		
		'consumidor' AS Campo
FROM	Consumidor
UNION ALL

-----estoque
SELECT	Nr_Aparelho				AS Pesquisa,
		'Cadastro de Estoque'	AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Número do Aparelho' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Aparelho.aspx',Id_Aparelho,'') AS Link_1,		
		dbo.Fu_Link_HTTP ('Aparelho.aspx',Id_Aparelho,'') AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		Id_Aparelho AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Estoque_Aparelho' END AS Tabela,		
		'aparelho' AS Campo		
FROM	Estoque_Aparelho
UNION ALL

-----estoque numero chamado
SELECT	Nr_Chamado				AS Pesquisa,
		'Cadastro de Estoque'	AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Número do Solicitação de Estoque' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Aparelho.aspx',Id_Aparelho,'') AS Link_1,		
		dbo.Fu_Link_HTTP ('Aparelho.aspx',Id_Aparelho,'') AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		Id_Aparelho AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Estoque_Aparelho' END AS Tabela,		
		'aparelho' AS Campo		
FROM	Estoque_Aparelho
UNION ALL

-----estoque trazendo a linha atrelado ao equipamento
SELECT	Nr_Aparelho						AS Pesquisa,
		'Linha atrelada ao equipamento' AS Nm_Consumidor ,
		' ' AS Nr_Ativo, Nr_Ativo AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,		
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		A.Id_Ativo AS ID,
		CASE WHEN EA.Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Ativo' END AS Tabela,
		'ativo' AS Campo		
FROM	Estoque_Aparelho EA INNER JOIN Rl_Estoque_Aparelho_Ativo REA ON EA.Id_Aparelho = REA.Id_Aparelho 
							INNER JOIN vw_Ativo A ON REA.id_Ativo = A.Id_Ativo 
UNION ALL

-----nota fisca de aparelho
SELECT	DISTINCT ENF.Nr_Nota_Fiscal AS Pesquisa,
		'Nota Fiscal' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Nota Fiscal de equipamento' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Nota_Fiscal.aspx',ENF.Id_Estoque_Nota_Fiscal,'') AS Link_1,		
		dbo.Fu_Link_HTTP ('Nota_Fiscal.aspx',ENF.Id_Estoque_Nota_Fiscal,'') AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		ENF.Id_Estoque_Nota_Fiscal AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Ativo' END AS Tabela,
		'nota_fiscal' AS Campo
FROM	Estoque_Nota_Fiscal ENF
UNION ALL

-----tronco
SELECT	Nm_Tronco + '-' + CO.Nm_Conglomerado AS Pesquisa,
		'Cadastro de Tronco' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Tronco' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Tronco.aspx',Id_Tronco,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Tronco.aspx',Id_Tronco,'') AS Link_2,
		CASE WHEN TR.Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		TR.Id_Tronco AS ID,
		CASE WHEN TR.Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Tronco' END AS Tabela,
		'tronco' AS Campo		
FROM	Tronco TR INNER JOIN vw_Conglomerado CO ON (TR.Id_Conglomerado = CO.Id_Conglomerado)
UNION ALL

-----tronco_grupo
SELECT	Nm_Tronco_Grupo	AS Pesquisa,
		'Cadastro de Grupo de Tronco' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Grupo de Tronco' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Tronco_Grupo.aspx',Id_Tronco_Grupo,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Tronco_Grupo.aspx',Id_Tronco_Grupo,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Tronco_Grupo AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Tronco_Grupo' END AS Tabela,
		'grupo tronco' AS Campo		
FROM	Tronco_Grupo
UNION ALL

-----consumidor_tipo
SELECT	Nm_Consumidor_Tipo	AS Pesquisa,
		'Cadastro de Tipo de Consumidor' AS Nr_Ativo,
		' ' AS Nm_Consumidor,'Descrição do Tipo de Consumidor' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Consumidor_Tipo.aspx',Id_Consumidor_Tipo,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Consumidor_Tipo.aspx',Id_Consumidor_Tipo,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Consumidor_Tipo AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Consumidor_Tipo' END AS Tabela,		
		'tipo consumidor' AS Campo
FROM	Consumidor_Tipo
UNION ALL

-----consumidor_status
SELECT	Nm_Consumidor_Status AS Pesquisa,
		'Cadastro de Cituação de Consumidor' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Status do Consumidor' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Consumidor_Status.aspx',Id_Consumidor_Status,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Consumidor_Status.aspx',Id_Consumidor_Status,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Consumidor_Status AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Consumidor_Status' END AS Tabela,		
		'status consumidor' AS Campo		
FROM	Consumidor_Status
UNION ALL

-----ativo_status
SELECT	Nm_Ativo_Status	AS Pesquisa,
		'Cadastro de Cituação de Ativo' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Status do Ativo' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Ativo_Status.aspx',Id_Ativo_Status,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Ativo_Status.aspx',Id_Ativo_Status,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Ativo_Status AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Ativo_Status' END AS Tabela,
		'status ativo' AS Campo		
FROM	Ativo_Status
UNION ALL

-----contrato_status
SELECT	Nm_Contrato_Status	AS Pesquisa,
		'Cadastro de Status de Contrato' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Status do Contrato' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Contrato_Status.aspx',Id_Contrato_Status,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Contrato_Status.aspx',Id_Contrato_Status,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Contrato_Status AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Contrato_Status' END AS Tabela,
		'status contrato' AS Campo		
FROM	Contrato_Status
UNION ALL

-----contrato_aditivo
SELECT	C.Descricao + ' - ' + A.Descricao AS Pesquisa,
		'Cadastro de Aditivo de Contrato' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Aditivo do Contrato' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Contrato_Aditivo.aspx',Id_Contrato_Aditivo,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Contrato_Aditivo.aspx',Id_Contrato_Aditivo,'') AS Link_2,
		CASE WHEN A.Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Contrato_Aditivo AS ID,
		CASE WHEN A.Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Contrato_Aditivo' END AS Tabela,		
		'aditivo' AS Campo
FROM	Contrato_Aditivo A INNER JOIN vw_Contrato C ON C.Id_Contrato = A.Id_Contrato
UNION ALL

-----contrato_sla_operacao
SELECT	C.Descricao + ' - ' + CO.Descricao AS Pesquisa,
		'Cadastro de Produto de Contrato' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Produto do Contrato' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Contrato_SLA_Operacao.aspx',Id_Contrato_SLA_Operacao,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Contrato_SLA_Operacao.aspx',Id_Contrato_SLA_Operacao,'') AS Link_2,
		CASE WHEN CO.Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Contrato_SLA_Operacao AS ID,
		CASE WHEN CO.Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Contrato_SLA_Operacao' END AS Tabela,		
		'sla' AS Campo		
FROM	Contrato_SLA_Operacao CO INNER JOIN vw_Contrato C ON C.Id_Contrato = CO.Id_Contrato
UNION ALL

-----contrato_sla_servico
SELECT	C.Descricao + ' - ' + CS.Descricao AS Pesquisa,
		'Cadastro de SLA de Contrato' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição da SLA do Contrato' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Contrato_SLA_Servico.aspx',Id_Contrato_SLA_Servico,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Contrato_SLA_Servico.aspx',Id_Contrato_SLA_Servico,'') AS Link_2,
		CASE WHEN CS.Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Contrato_SLA_Servico AS ID,
		CASE WHEN CS.Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Contrato_SLA_Servico' END AS Tabela,		
		'produto' AS Campo		
FROM	Contrato_SLA_Servico CS INNER JOIN vw_Contrato C ON C.Id_Contrato = CS.Id_Contrato
UNION ALL

-----cargo
SELECT	Nm_Cargo AS Pesquisa,
		'Cadastro de Cargo' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Cargo' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Cargo.aspx',Id_Cargo,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Cargo.aspx',Id_Cargo,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Cargo AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Cargo' END AS Tabela,		
		'cargo' AS Campo		
FROM	Cargo
UNION ALL

-----ativo fabricante
SELECT	Nm_Ativo_Fabricante	AS Pesquisa,
		'Cadastro de Fabricante de Ativo' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Fabricante do Ativo' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Ativo_Fabricante.aspx',Id_Ativo_Fabricante,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Ativo_Fabricante.aspx',Id_Ativo_Fabricante,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Ativo_Fabricante AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Ativo_Fabricante' END AS Tabela,		
		'fabricante' AS Campo
FROM	Ativo_Fabricante
UNION ALL

-----ativo Modelo
SELECT	Nm_Ativo_Fabricante + Nm_Ativo_Modelo AS Pesquisa,
		'Cadastro de Modelo de Ativo' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição Modelo do Ativo' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Ativo_Modelo.aspx',Id_Ativo_Modelo,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Ativo_Modelo.aspx',Id_Ativo_Modelo,'') AS Link_2,
		CASE WHEN AM.Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		AM.Id_Ativo_Fabricante  AS ID,
		CASE WHEN AM.Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Ativo_Modelo' END AS Tabela,		
		'modelo' AS Campo		
FROM	Ativo_Modelo AM INNER JOIN vw_Ativo_Fabricante AF ON (AM.Id_Ativo_Fabricante = AF.Id_Ativo_Fabricante)
UNION ALL

-----ativo tipo
SELECT	Nm_Ativo_Tipo AS Pesquisa,
		'Cadastro de Tipo de Ativo' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição Tipo do Ativo' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Ativo_Tipo.aspx',Id_Ativo_Tipo,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Ativo_Tipo.aspx',Id_Ativo_Tipo,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Ativo_Tipo AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Ativo_Tipo' END AS Tabela,
		'tipo ativo' AS Campo		
FROM	Ativo_Tipo
UNION ALL

-----estoque endereco de entrega
SELECT	Nm_Estoque_Endereco_Entrega AS Pesquisa,
		'Cadastro de Endereço de Entrega' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Tipo de Aparelho' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Endereco_Entrega.aspx',Id_Estoque_Endereco_Entrega,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Endereco_Entrega.aspx',Id_Estoque_Endereco_Entrega,'') AS Link_2,
		'Grid_Check_Pesquisa.png' AS Lixeira,
		Id_Estoque_Endereco_Entrega AS ID,
		'null' AS Tabela, --'Estoque_Endereco_Entrega'
		'endereco entrega' AS Campo		
FROM	Estoque_Endereco_Entrega
UNION ALL

-----holding
SELECT	Nm_Holding	AS Pesquisa,
		'Cadastro de Holding' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição da Holding' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Holding.aspx',Id_Holding,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Holding.aspx',Id_Holding,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Holding AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Holding' END AS Tabela,
		'holding' AS Campo
FROM	Holding
UNION ALL

-----Conglomerado
SELECT	Nm_Conglomerado	AS Pesquisa,
		'Cadastro de Conglomerado' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Conglomerado' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Conglomerado.aspx',Id_Conglomerado,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Conglomerado.aspx',Id_Conglomerado,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Conglomerado AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Conglomerado' END AS Tabela,
		'conglomerado' AS Campo		
FROM	Conglomerado
UNION ALL

-----empresa
SELECT	Nm_Empresa_Contratada	AS Pesquisa,
		'Cadastro de Fornecedor' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Fornecedor' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Empresa_Contratada.aspx',Id_Empresa_Contratada,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Empresa_Contratada.aspx',Id_Empresa_Contratada,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Empresa_Contratada AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Empresa_Contratada' END AS Tabela,
		'empresa contratada' AS Campo		
FROM	Empresa_Contratada
UNION ALL

-----empresa
SELECT	Nm_Empresa	AS Pesquisa,
		'Cadastro de Empresa' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição da Empresa' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Empresa.aspx',Id_Empresa,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Empresa.aspx',Id_Empresa,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Empresa AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Empresa' END AS Tabela,
		'empresa' AS Campo
FROM	Empresa
UNION ALL

-----filial
SELECT	Nm_Filial	AS Pesquisa,
		'Cadastro de Unidade' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição da Unidade' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Filial.aspx',Id_Filial,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Filial.aspx',Id_Filial,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Filial AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Empresa' END AS Tabela,
		'filial' AS Campo
FROM	Filial
UNION ALL

-----bilhete_tipo
SELECT	CASE WHEN LTRIM(RTRIM(Nm_Bilhete_Tipo)) = '' THEN Nm_Bilhete_Descricao ELSE Nm_Bilhete_Tipo END AS Pesquisa,
		'Cadastro de Tipo de Bilhete' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Tipo de Bilhete' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Bilhete_Tipo.aspx',Id_Bilhete_Tipo,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Bilhete_Tipo.aspx',Id_Bilhete_Tipo,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Bilhete_Tipo AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Bilhete_Tipo' END AS Tabela,		
		'tipo bilhete' AS Campo		
FROM	Bilhete_Tipo
UNION ALL

-----centro_custo
SELECT	Cd_Centro_Custo	AS Pesquisa,
		'Cadastro de Centro de Custo' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Código de Centro de Custo' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Centro_Custo.aspx',Id_Centro_Custo,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Centro_Custo.aspx',Id_Centro_Custo,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Centro_Custo AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Centro_Custo' END AS Tabela,		
		'centro custo' AS Campo		
FROM	Centro_Custo
UNION ALL

-----departamento
SELECT	Nm_Departamento	AS Pesquisa,
		'Cadastro de Departamento' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Departamento' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Departamento.aspx',Id_Departamento,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Departamento.aspx',Id_Departamento,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Departamento AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Departamento' END AS Tabela,
		'departamento' AS Campo		
FROM	Departamento
UNION ALL

-----setor
SELECT	Nm_Setor AS Pesquisa,
		'Cadastro de Setor' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Setor' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Setor.aspx',Id_Setor,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Setor.aspx',Id_Setor,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Setor AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Setor' END AS Tabela,		
		'setor' AS Campo
FROM	Setor
UNION ALL

-----secao
SELECT	Nm_Secao AS Pesquisa,
		'Cadastro de Seção' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição da Seção' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Secao.aspx',Id_Secao,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Secao.aspx',Id_Secao,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Secao AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Secao' END AS Tabela,
		'secao' AS Campo
FROM	Secao
UNION ALL

-----ativo_fr_aquisicao
SELECT	Nm_Ativo_Fr_Aquisicao AS Pesquisa,
		'Cadastro de Forma de Aquisição de Ativo' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição da Forma de Aquisição de Ativo' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Ativo_Fr_Aquisicao.aspx',Id_Ativo_Fr_Aquisicao,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Ativo_Fr_Aquisicao.aspx',Id_Ativo_Fr_Aquisicao,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Ativo_Fr_Aquisicao AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Ativo_Fr_Aquisicao' END AS Tabela,
		'forma aquisicao' AS Campo		
FROM	Ativo_Fr_Aquisicao
UNION ALL

-----contrato
SELECT	Nr_Contrato + ' - ' + Descricao	AS Pesquisa,
		'Cadastro de Contrato' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Descrição do Contrato' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Contrato.aspx',Id_Contrato,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Contrato.aspx',Id_Contrato,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Contrato AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Contrato' END AS Tabela,
		'contrato' AS Campo		
FROM	Contrato
UNION ALL

-----servico
SELECT	Nm_Servico	AS Pesquisa,
		'Cadastro de Serviço Contratado' AS Nr_Ativo,
		' ' AS Nm_Consumidor,'Descrição do Serviço do Contrato' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Servico.aspx',Id_Servico,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Servico.aspx',Id_Servico,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Servico AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Servico' END AS Tabela,
		'servico' AS Campo	
FROM	Servico
UNION ALL

-----estoque aparelho status
SELECT	Nm_Estoque_Aparelho_Status	AS Pesquisa,
		'Cadastro de Status de Aparelho' AS Nr_Ativo,
		' ' AS Nm_Consumidor,'Descrição do de Status de Aparelho' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Estoque_Aparelho_Status.aspx',Id_Estoque_Aparelho_Status,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Estoque_Aparelho_Status.aspx',Id_Estoque_Aparelho_Status,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Estoque_Aparelho_Status AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Estoque_Aparelho_Status' END AS Tabela,
		'status aparelho' AS Campo	
FROM	Estoque_Aparelho_Status
UNION ALL

-----ativo cadastrado para fatura
SELECT	DISTINCT DC_Nr_Nota_Fiscal + ' - ' +  Nr_Ativo	AS Pesquisa,
		'Cadastro de Ativo' AS Nm_Consumidor ,
		' ' AS Nr_Ativo,'Número do Ativo cadastro para fatura' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_1,		
		dbo.Fu_Link_HTTP ('Ativo.aspx',A.Id_Ativo,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		A.Id_Ativo AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Ativo' END AS Tabela,
		'ativo' AS Campo
FROM	Ativo A INNER JOIN Lote L ON A.Id_Ativo = L.Id_Ativo
UNION ALL

-----casdastro de tipo de grupo de tipo de ativo
SELECT	Nm_Ativo_Tipo_Grupo_Tipo	AS Pesquisa,
		'Cadastro de Tipo de Grupo' AS Nr_Ativo,
		' ' AS Nm_Consumidor,'Descrição do tipo de grupo' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Ativo_Tipo_Grupo_Tipo.aspx',Id_Ativo_Tipo_Grupo_Tipo,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Ativo_Tipo_Grupo_Tipo.aspx',Id_Ativo_Tipo_Grupo_Tipo,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Ativo_Tipo_Grupo_Tipo AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Tipo Grupo' END AS Tabela,
		'Tipo Grupo' AS Campo	
FROM	Ativo_Tipo_Grupo_Tipo

UNION ALL

-----casdastro de tipo de grupo de tipo de ativo
SELECT	Nm_Ativo_Tipo_sub_Grupo	AS Pesquisa,
		'Cadastro de sub de Grupo' AS Nr_Ativo,
		' ' AS Nm_Consumidor,'Descrição ds sub de grupo' AS Tipo,' ' AS Lote,
		dbo.Fu_Link_HTTP ('Ativo_Tipo_Sub_Grupo.aspx',Id_Ativo_Tipo_Sub_Grupo,'') AS Link_1,
		dbo.Fu_Link_HTTP ('Ativo_Tipo_Sub_Grupo.aspx',Id_Ativo_Tipo_Sub_Grupo,'') AS Link_2,
		CASE WHEN Fl_Desativado = 0 THEN 'Grid_Check_Pesquisa.png' ELSE 'Grid_Add_Pesquisa.png' END AS Lixeira,
		Id_Ativo_Tipo_Sub_Grupo AS ID,
		CASE WHEN Fl_Desativado IN (2, 0) THEN 'null' ELSE 'Sub Grupo' END AS Tabela,
		'Sub Grupo' AS Campo	
FROM	Ativo_Tipo_Sub_Grupo
GO
