USE [Vale]
GO
/****** Object:  Table [dbo].[Arquivo_PDF]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arquivo_PDF](
	[Id_Arquivo_PDF] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Arquivo_PDF] [varchar](250) NULL,
	[Tabela_Registro] [varchar](50) NULL,
	[Id_Registro_Tabela] [int] NOT NULL,
	[Arquivo] [image] NOT NULL,
	[Tamanho] [float] NOT NULL,
	[Download] [bit] NOT NULL,
	[Dt_Criacao] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Arquivo_PDF] ADD  DEFAULT ((0)) FOR [Download]
GO
ALTER TABLE [dbo].[Arquivo_PDF] ADD  DEFAULT (getdate()) FOR [Dt_Criacao]
GO
