USE [Vale]
GO
/****** Object:  Table [dbo].[Fatura_Tipo_Rateio]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fatura_Tipo_Rateio](
	[Id_Fatura_Tipo_Rateio] [varchar](50) NOT NULL,
	[Nm_Fatura_Tipo_Rateio] [varchar](50) NULL,
 CONSTRAINT [PK_Fatura_Tipo_Rateio] PRIMARY KEY CLUSTERED 
(
	[Id_Fatura_Tipo_Rateio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
