USE [Vale]
GO
/****** Object:  Table [dbo].[Cg_INV_Arquivo_Temp]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cg_INV_Arquivo_Temp](
	[Linha] [varchar](100) NULL,
	[Tipo] [varchar](100) NULL,
	[Conglomerado] [varchar](100) NULL,
	[Chip] [varchar](100) NULL,
	[Matricula] [varchar](100) NULL,
	[Data_Suspensao] [varchar](100) NULL,
	[Observacao] [varchar](8000) NULL,
	[Status_Ativo] [varchar](100) NULL,
	[Modelo] [varchar](100) NULL
) ON [PRIMARY]
GO
