USE [Vale]
GO
/****** Object:  Table [dbo].[cg_Bi_Arquivo_Campo_Importacao]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cg_Bi_Arquivo_Campo_Importacao](
	[Id_Campo] [int] NOT NULL,
	[Importacao] [varchar](50) NOT NULL,
	[Campo] [varchar](50) NOT NULL,
	[Vazio] [varchar](50) NOT NULL,
	[Tamanho] [varchar](50) NOT NULL,
	[Descricao] [varchar](300) NOT NULL,
	[Campo_Arquivo] [varchar](50) NULL,
	[Coluna_Fixo] [varchar](50) NULL,
 CONSTRAINT [PK_cg_Bi_Arquivo_Campo_Importacao] PRIMARY KEY CLUSTERED 
(
	[Id_Campo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
