USE [Vale]
GO
/****** Object:  Table [dbo].[Ativo_Tipo_Grupo_Tipo]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ativo_Tipo_Grupo_Tipo](
	[Id_Ativo_Tipo_Grupo_Tipo] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Ativo_Tipo_Grupo_Tipo] [varchar](50) NOT NULL,
	[Fl_Desativado] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Ativo_Tipo_Grupo_Tipo] PRIMARY KEY CLUSTERED 
(
	[Id_Ativo_Tipo_Grupo_Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
