USE [Vale]
GO
/****** Object:  StoredProcedure [dbo].[pa_Estoque_Nota_Fiscal]    Script Date: 7/6/2025 1:49:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Estoque_Nota_Fiscal] (@pPakage						VARCHAR(200),
												@pId_Estoque_Nota_Fiscal		INT				OUT,
												@pNr_Nota_Fiscal				VARCHAR(50)		= NULL,
												@pDt_Nota_Fiscal				DATETIME		= NULL,
												@pId_Ativo_Fr_Aquisicao			INT				= NULL,
												@pVr_Fr_Aquisicao				NUMERIC(13,2)	= NULL,
												@pDt_Inicio_Fr_Aquisicao		DATETIME		= NULL,
												@pQtd_Mes_Residuo_Fr_Aquisicao	INT				= NULL,
												@pObservacao					VARCHAR(300)	= NULL,
												@pFl_Desativado					INT				= NULL,
												@pId_Usuario_Permissao			INT				= NUll) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM dbo.Estoque_Nota_Fiscal WHERE Id_Estoque_Nota_Fiscal = @pId_Estoque_Nota_Fiscal)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Estoque_Nota_Fiscal 
			SET		Nr_Nota_Fiscal					= @pNr_Nota_Fiscal,
					Dt_Nota_Fiscal					= @pDt_Nota_Fiscal,
					Id_Ativo_Fr_Aquisicao			= @pId_Ativo_Fr_Aquisicao,
					Vr_Fr_Aquisicao					= @pVr_Fr_Aquisicao,
					Dt_Inicio_Fr_Aquisicao			= @pDt_Inicio_Fr_Aquisicao,
					Qtd_Mes_Residuo_Fr_Aquisicao	= @pQtd_Mes_Residuo_Fr_Aquisicao,
					Observacao						= @pObservacao,
					Fl_Desativado					= 0
			WHERE	Id_Estoque_Nota_Fiscal = @pId_Estoque_Nota_Fiscal
		END		
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2 
		BEGIN
			-----verifica se nf ja existe 
			IF NOT EXISTS(SELECT * FROM Estoque_Nota_Fiscal WHERE Nr_Nota_Fiscal = @pNr_Nota_Fiscal)
			BEGIN
				INSERT INTO Estoque_Nota_Fiscal (	Nr_Nota_Fiscal,
													Dt_Nota_Fiscal,
													Id_Ativo_Fr_Aquisicao,
													Vr_Fr_Aquisicao,
													Dt_Inicio_Fr_Aquisicao,
													Qtd_Mes_Residuo_Fr_Aquisicao,
													Observacao,
													Fl_Desativado)
				VALUES(	@pNr_Nota_Fiscal,
						@pDt_Nota_Fiscal,
						@pId_Ativo_Fr_Aquisicao,
						@pVr_Fr_Aquisicao,
						@pDt_Inicio_Fr_Aquisicao,
						@pQtd_Mes_Residuo_Fr_Aquisicao,
						@pObservacao,
						0)
				-----retorna id 
				SELECT @pId_Estoque_Nota_Fiscal = MAX(Id_Estoque_Nota_Fiscal) FROM Estoque_Nota_Fiscal
			END
			ELSE
			BEGIN
				SELECT @pId_Estoque_Nota_Fiscal = 0
			END
		END
		ELSE
		BEGIN
			SELECT @pId_Estoque_Nota_Fiscal = 0
		END
	END
END

-----ativa / desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Estoque_Nota_Fiscal 
		SET		Fl_Desativado = 0,
				Observacao = @pObservacao
		WHERE	Id_Estoque_Nota_Fiscal = @pId_Estoque_Nota_Fiscal
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Estoque_Nota_Fiscal,0)			AS Id_Estoque_Nota_Fiscal,
			ISNULL(Nr_Nota_Fiscal,0)					AS Nr_Nota_Fiscal,
			ISNULL(Dt_Nota_Fiscal,'01/01/1900')			AS Dt_Nota_Fiscal,
			ISNULL(Id_Ativo_Fr_Aquisicao,0)				AS Id_Ativo_Fr_Aquisicao,
			ISNULL(Vr_Fr_Aquisicao,0)					AS Vr_Fr_Aquisicao,
			ISNULL(Dt_Inicio_Fr_Aquisicao,'01/01/1900')	AS Dt_Inicio_Fr_Aquisicao,
			ISNULL(Qtd_Mes_Residuo_Fr_Aquisicao,0)		AS Qtd_Mes_Residuo_Fr_Aquisicao,
			ISNULL(Observacao,0)						AS Observacao
	FROM	vw_Estoque_Nota_Fiscal 	
	WHERE	Id_Estoque_Nota_Fiscal = @pId_Estoque_Nota_Fiscal
END
GO
