USE [Vale]
GO
/****** Object:  View [dbo].[vw_Solicitacao_Solucao]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Solicitacao_Solucao]
AS
SELECT     Id_Solicitacao_Solucao, Nm_Solicitacao_Solucao, Fl_Desativado, Id_Ativo_Tipo
FROM         dbo.Solicitacao_Solucao
WHERE     (Fl_Desativado = 0)
GO
