USE [Vale]
GO
/****** Object:  Table [dbo].[Justificativa_Excedente]    Script Date: 7/6/2025 1:49:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Justificativa_Excedente](
	[Id_Mail_Caixa_Siada] [int] NULL,
	[Id_Ativo] [int] NOT NULL,
	[Id_Consumidor] [int] NOT NULL,
	[Id_Usuario] [int] NOT NULL,
	[Id_Lote] [int] NOT NULL,
	[Justificativa] [varchar](8000) NOT NULL,
	[Total_Conta] [decimal](10, 2) NOT NULL,
	[Trafego] [decimal](10, 2) NOT NULL,
	[Particular] [decimal](10, 2) NOT NULL,
	[Servico] [decimal](10, 2) NOT NULL,
	[Cota] [decimal](10, 2) NOT NULL,
	[Excedente] [decimal](10, 2) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Justificativa_Excedente]  WITH NOCHECK ADD  CONSTRAINT [FK_Justificativa_Excedente_Ativo] FOREIGN KEY([Id_Ativo])
REFERENCES [dbo].[Ativo] ([Id_Ativo])
GO
ALTER TABLE [dbo].[Justificativa_Excedente] CHECK CONSTRAINT [FK_Justificativa_Excedente_Ativo]
GO
ALTER TABLE [dbo].[Justificativa_Excedente]  WITH NOCHECK ADD  CONSTRAINT [FK_Justificativa_Excedente_Consumidor] FOREIGN KEY([Id_Consumidor])
REFERENCES [dbo].[Consumidor] ([Id_Consumidor])
GO
ALTER TABLE [dbo].[Justificativa_Excedente] CHECK CONSTRAINT [FK_Justificativa_Excedente_Consumidor]
GO
ALTER TABLE [dbo].[Justificativa_Excedente]  WITH NOCHECK ADD  CONSTRAINT [FK_Justificativa_Excedente_Mail_Caixa_Saida] FOREIGN KEY([Id_Mail_Caixa_Siada])
REFERENCES [dbo].[Mail_Caixa_Saida] ([Id_Mail_Caixa_Siada])
GO
ALTER TABLE [dbo].[Justificativa_Excedente] CHECK CONSTRAINT [FK_Justificativa_Excedente_Mail_Caixa_Saida]
GO
ALTER TABLE [dbo].[Justificativa_Excedente]  WITH NOCHECK ADD  CONSTRAINT [FK_Justificativa_Excedente_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id_Usuario])
GO
ALTER TABLE [dbo].[Justificativa_Excedente] CHECK CONSTRAINT [FK_Justificativa_Excedente_Usuario]
GO
