USE [Alpargatas]
GO
/****** Object:  UserDefinedFunction [dbo].[Fu_Formata_Texto]    Script Date: 7/31/2025 10:43:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fu_Formata_Texto] (@pTexto VARCHAR(MAX)) 
RETURNS VARCHAR(50)
AS
BEGIN
	-----formata os campos tipo e descricao do bilhete 
	DECLARE @pTexto_Retorno AS VARCHAR(50)
	
	SET @pTexto_Retorno = REPLACE(@pTexto,'1','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'2','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'3','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'4','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'5','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'6','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'7','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'8','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'9','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'0','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'/','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'-','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,':','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,';','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'.','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,',','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'_','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'+','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'=','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'|','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'\','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'{','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'}','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'<','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'>','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'?','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'[','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,']','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'(','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,')','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'!','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'@','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'#','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'$','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'%','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'&','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,'*','')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,' a ',' ')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,' e ',' ')
	SET @pTexto_Retorno = REPLACE(@pTexto_Retorno,' o ',' ')

	RETURN SUBSTRING(@pTexto_Retorno,1,50)
END











GO
