USE [Papaiz]
GO
/****** Object:  UserDefinedFunction [dbo].[Fu_Permissao]    Script Date: 7/31/2025 10:55:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fu_Permissao] (@pId_Usuario	AS INT,
									 @pTipo			AS VARCHAR(10)) 
RETURNS VARCHAR(8000)
AS
BEGIN
	DECLARE @pValidacao AS INT
	SET @pValidacao = 1
	SELECT	@pValidacao = CASE	WHEN @pTipo = 'Incluir' THEN Incluir
								WHEN @pTipo = 'Alterar' THEN Alterar
								WHEN @pTipo = 'Excluir' THEN Excluir END	
	FROM	Usuario
	WHERE	Id_Usuario	= @pId_Usuario

	RETURN @pValidacao
END




GO
