USE [Fortlev]
GO
/****** Object:  UserDefinedFunction [dbo].[Fu_Criptografa]    Script Date: 7/31/2025 10:50:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fu_Criptografa] (@pString	VARCHAR(8000)) RETURNS VARCHAR(8000) AS  
BEGIN 

DECLARE @pSenha VARCHAR(10)
SELECT @pSenha = 'GUA@123'

DECLARE @chavecript varchar(8000),
        @chavecriptcompleta varchar(8000),
        @i INT, @X INT, @Y INT, @Z INT, @W INT

SELECT @chavecript = UPPER(@pSenha) + UPPER( @pString )

--Buscar os Codigos Asc de cada Caracter
SELECT @chavecriptcompleta = '',
       @i = 1 

WHILE @i <= len(@chavecript) 
BEGIN
    SELECT @chavecriptcompleta = @chavecriptcompleta + convert( varchar, ( ASCII( SUBSTRING( @chavecript, @i, 1) ))),
		   @i = @i + 1 
END

SELECT	@chavecript = @chavecriptcompleta,
		@i = 1

--Gera um CRC com 5 posicoes
WHILE @i <= 5
BEGIN
    SELECT @Z = Len(@chavecript) + 2,
           @W = 0,
           @Y = 1

    WHILE @Y <= Len(@chavecript)
    BEGIN
        SELECT @W = @W + (ASCII(SUBSTRING( @chavecript, @Y,1)) * @Z),
               @Z = @Z - 1,
               @Y = @Y + 1
	END 
    SELECT @W =  convert(int, round( @W / 9.0,0) )  % 9

    SELECT @chavecript =  convert( varchar,@W) + @chavecript,
           @i = @i + 1
END 

SELECT @X = 1,
	   @chavecriptcompleta = ''

--Encripta o valor Real
WHILE @X <= Len(@chavecript) 
BEGIN
    --Randomize
    SELECT @chavecriptcompleta = @chavecriptcompleta +
	CASE SUBSTRING( @chavecript, @X, 1) 
    WHEN '0' THEN CASE WHEN (( @X % 2)- 0.01 < 0.5) THEN 'A' ELSE 'B' END
	WHEN '1' THEN CASE WHEN (( @X % 2)- 0.01 < 0.5) THEN 'C' ELSE 'D' END
	WHEN '2' THEN CASE WHEN (( @X % 2)- 0.01 < 0.5) THEN 'E' ELSE 'F' END
    WHEN '3' THEN CASE WHEN (( @X % 2)- 0.01 < 0.5) THEN 'G' ELSE 'H' END
	WHEN '4' THEN CASE WHEN (( @X % 2)- 0.01 < 0.5) THEN 'I' ELSE 'J' END
	WHEN '5' THEN CASE WHEN (( @X % 2)- 0.01 < 0.5) THEN 'K' ELSE 'L' END
	WHEN '6' THEN CASE WHEN (( @X % 2)- 0.01 < 0.5) THEN 'M' ELSE 'N' END
	WHEN '7' THEN CASE WHEN (( @X % 2)- 0.01 < 0.5) THEN 'O' ELSE 'P' END
	WHEN '8' THEN CASE WHEN (( @X % 2)- 0.01 < 0.5) THEN 'Q' ELSE 'R' END
	WHEN '9' THEN CASE WHEN (( @X % 2)- 0.01 < 0.5) THEN 'S' ELSE 'T' END
	END,
    @X = @X + 1  
END
    RETURN @chavecriptcompleta
END


GO
