USE [Prudential]
GO
/****** Object:  StoredProcedure [dbo].[pa_Consumidor_Tipo]    Script Date: 7/31/2025 10:41:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Consumidor_Tipo] (@pPakage				VARCHAR(200),
											@pId_Consumidor_Tipo				INT			= NULL,
											@pNm_Consumidor_Tipo				VARCHAR(50)	= NULL,
											@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Consumidor_Tipo WHERE Id_Consumidor_Tipo = @pId_Consumidor_Tipo)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Consumidor_Tipo 
			SET		Nm_Consumidor_Tipo = @pNm_Consumidor_Tipo
			WHERE	Id_Consumidor_Tipo = @pId_Consumidor_Tipo
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Consumidor_Tipo (Nm_Consumidor_Tipo,
										Fl_Desativado) 
			VALUES(	@pNm_Consumidor_Tipo,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Consumidor_Tipo 
		SET		Fl_Desativado = 1 
		WHERE	Id_Consumidor_Tipo = @pId_Consumidor_Tipo
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Consumidor_Tipo,'') AS Id_Consumidor_Tipo,
			ISNULL(Nm_Consumidor_Tipo,'') AS Nm_Consumidor_Tipo
	FROM	vw_Consumidor_Tipo
	WHERE	Id_Consumidor_Tipo = @pId_Consumidor_Tipo
END



GO
