USE [Prudential]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_MAPA_FATURAS]    Script Date: 7/31/2025 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_MAPA_FATURAS]

								(	@pPakage					VARCHAR(200),
									@pPakage_Filtro				VARCHAR(200)	= NULL,
									@pId_Filtro_1				VARCHAR(MAX)	= NULL,
									@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
									@pId_Filtro_Usuario			INT				= NULL,
									@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
									@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
									@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
									@pDt_LoteDe					VARCHAR(6)		= NULL,
									@pDt_LoteAte				VARCHAR(6)		= NULL,
									@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS

	SELECT	Nr_Fatura as [FATURA], 
			CG.Nm_Conglomerado AS [OPERADORA],
			Dt_Lote as [MES LOTE], 
			CONVERT(VARCHAR,Dt_Emissao, 103) AS [DATA EMISSAO],
			CONVERT(VARCHAR,Dt_Vencimento, 103) AS [DATA VENCIMENTO],
			'R$ ' + REPLACE(CAST(CAST(Vr_Fatura AS DECIMAL(10,2)) AS VARCHAR), '.', ',') AS [VALOR],

			ISNULL((SELECT DISTINCT tab.col.value('./REQS[1]','FLOAT') 
			FROM Fatura SF	CROSS APPLY Nm_Campo.nodes('/dados') AS tab(col) 
							INNER JOIN Fatura_Parametro_Campo SFPC on SFPC.Id_Fatura_Parametro = SF.Id_Fatura_Parametro 
			WHERE SF.Id_Fatura = F.Id_Fatura), 0)  AS REQS,

			ISNULL((SELECT DISTINCT tab.col.value('./RITMS[1]','FLOAT') 
			FROM Fatura SF	CROSS APPLY Nm_Campo.nodes('/dados') AS tab(col) 
							INNER JOIN Fatura_Parametro_Campo SFPC on SFPC.Id_Fatura_Parametro = SF.Id_Fatura_Parametro 
			WHERE SF.Id_Fatura = F.Id_Fatura), 0)  AS RITMS 
			
			INTO #TBTMP
	FROM	Fatura F	INNER JOIN Rl_Ra_Fatura_Parametro_Conglomerado RPC ON RPC.Id_Fatura_Parametro = F.Id_Fatura_Parametro
						INNER JOIN Conglomerado CG ON CG.Id_Conglomerado = RPC.Id_Conglomerado
	
	
	WHERE	SUBSTRING(CONVERT(VARCHAR(6),Dt_Vencimento,112),1,6) = @pDt_LoteDe 
			--AND SUBSTRING(CONVERT(VARCHAR(6),Dt_Vencimento,112),1,6) <= @pDt_LoteAte
			
-----exportacao
IF @pPakage = 'sp_Mapa_Export'
BEGIN
	SELECT * FROM #TBTMP
END

-----grid
IF @pPakage = 'sp_Mapa_Mes'
BEGIN
	SELECT * FROM #TBTMP
END

-----grafrico
IF @pPakage = 'sp_Mapa_Grafico'
BEGIN
	SELECT * FROM #TBTMP
END
GO
