USE [Prudential]
GO
/****** Object:  StoredProcedure [dbo].[pa_Ativo_Complemento]    Script Date: 7/31/2025 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Ativo_Complemento] (	@pPakage				VARCHAR(200),
												@pId_Ativo_Complemento	INT			= NULL,
												@pNm_Ativo_Complemento	VARCHAR(50)	= NULL,
												@pId_Ativo_Tipo			INT			= NULL,
												@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Ativo_Complemento WHERE Id_Ativo_Complemento = @pId_Ativo_Complemento)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			IF NOT EXISTS(SELECT * FROM Ativo_Complemento WHERE Nm_Ativo_Complemento = @pNm_Ativo_Complemento AND Id_Ativo_Tipo = @pId_Ativo_Tipo AND Id_Ativo_Complemento <> @pId_Ativo_Complemento)
			BEGIN
				UPDATE	Ativo_Complemento 
				SET		Nm_Ativo_Complemento	= @pNm_Ativo_Complemento,
						Id_Ativo_Tipo			= @pId_Ativo_Tipo
				WHERE	Id_Ativo_Complemento = @pId_Ativo_Complemento
			END 
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			IF NOT EXISTS(SELECT * FROM Ativo_Complemento WHERE Nm_Ativo_Complemento = @pNm_Ativo_Complemento AND Id_Ativo_Tipo = @pId_Ativo_Tipo)
			BEGIN
				INSERT INTO Ativo_Complemento (	Nm_Ativo_Complemento,
												Id_Ativo_Tipo) 
				VALUES(	@pNm_Ativo_Complemento,
						@pId_Ativo_Tipo)
				
			END
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		DELETE	Ativo_Complemento  
		WHERE	Id_Ativo_Complemento = @pId_Ativo_Complemento
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Ativo_Complemento,'') AS Id_Ativo_Complemento,
			ISNULL(Nm_Ativo_Complemento,'') AS Nm_Ativo_Complemento,
			ISNULL(Id_Ativo_Tipo,'')		AS Id_Ativo_Tipo
	FROM	Ativo_Complemento
	WHERE	Id_Ativo_Complemento = @pId_Ativo_Complemento
END
GO
