USE [Prudential]
GO
/****** Object:  StoredProcedure [dbo].[pa_Auditoria_Contestacao]    Script Date: 7/31/2025 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Auditoria_Contestacao]
    (
    @pPAKAGE                        VARCHAR(200),
    @pDescricao                     VARCHAR(50) = NULL,
    @pId_Contrato_SLA_Servico       INT = NULL,
    @pDt_Lote                       VARCHAR(6) = NULL,
    @pId_Fatura                     INT = NULL,
    @pId_Fatura_Parametro           INT = NULL,
    @pId_Auditoria_Contestacao      INT = NULL
)
AS 
 
DECLARE @pSunBilhete NUMERIC(10,4) = 0 
DECLARE @pVrAuditado NUMERIC(10,4) = 0 
DECLARE @pTotalDiferenca NUMERIC(10,4) = 0 
DECLARE @pTotalDiferencaPositiva NUMERIC(10,4) = 0 
DECLARE @pTotalDiferencaNegativa NUMERIC(10,4) = 0 
DECLARE @pErro NUMERIC(10,4) = 0 
DECLARE @pErroPositivo NUMERIC(10,4) = 0 
DECLARE @pErroNegativo NUMERIC(10,4) = 0 
DECLARE @pNr_Fatura VARCHAR(50) = NULL 
DECLARE @pSunFatura NUMERIC(10,4) = 0 
 
-----faturas para auditoria               
IF @pPAKAGE = 'sp_Retorna_Fatura'       
BEGIN
    SELECT
        ISNULL(Id_Fatura ,'')	AS Id_Fatura,
        ISNULL(Nm_Fatura,'')	AS Nm_Fatura
    FROM Fatura
    WHERE Id_Fatura_Parametro = @pId_Fatura_Parametro
        AND Nr_Fatura NOT IN (SELECT Fatura
        FROM Auditoria_Item)
        AND Dt_Lote = @pDt_Lote
END 
 
------ busca por ID   
IF @pPAKAGE = 'sp_Auditoria_Contestacao_Detalhe'   
BEGIN
    SELECT
        Vr_Total_Cobrado AS Total_Cobrado,
        Vr_Total_Auditado AS Total_Auditado,
        Vr_Total_Diferenca AS Total_Diferenca,
        Vr_Total_Diferenca_Positiva AS Total_Diferenca_Positiva,
        Vr_Total_Diferenca_Negativa AS Total_Diferenca_Negativa,
        Erro AS Erro,
        Erro_Positivo AS Erro_Positivo,
        Erro_Negativo AS Erro_Negativo
    FROM Auditoria_Contestacao
    WHERE Id_Auditoria_Contestacao = @pId_Auditoria_Contestacao
END 
 
------ dados para exportação   
IF @pPAKAGE = 'sp_Auditoria_Contestacao_Exporta'   
BEGIN
    SELECT *
    FROM Auditoria_Item
    WHERE Dt_Lote = @pDt_Lote
        AND Fatura LIKE (SELECT Nr_Fatura
        FROM Fatura
        WHERE Id_Fatura = @pId_Fatura OR @pId_Fatura = NULL)
    ORDER BY Id_Bilhete
END 
 
IF @pPAKAGE = 'sp_Auditoria_Contestacao'       
BEGIN
    SELECT
        @pNr_Fatura = Nr_Fatura,
        @pSunFatura = Vr_Fatura
    FROM Fatura
    WHERE Id_Fatura = @pId_Fatura

    SELECT
        @pSunBilhete = SUM(DB_Custo_Cobrado)
    FROM Bilhete
    WHERE DC_Nr_Nota_Fiscal = @pNr_Fatura

    SET @pVrAuditado = @pSunBilhete - @pSunFatura
    SET @pTotalDiferenca = ABS(@pVrAuditado)

    IF @pVrAuditado <> 0       
	BEGIN
        SET @pErro = ABS(((100 * @pSunBilhete) / @pSunFatura) - 100)
    END

    IF @pVrAuditado < 0       
    BEGIN
        SET @pErroNegativo = @pErro
        SET @pTotalDiferencaNegativa = @pTotalDiferenca
    END

    IF @pVrAuditado > 0       
    BEGIN
        SET @pErroPositivo = @pErro
        SET @pTotalDiferencaPositiva = @pTotalDiferenca
    END

    INSERT INTO Auditoria_Contestacao
    VALUES(
            @pId_Fatura,
            @pSunFatura,
            @pSunBilhete,
            @pTotalDiferenca,
            @pTotalDiferencaPositiva,
            @pTotalDiferencaNegativa,
            @pErro,
            @pErroPositivo,
            @pErroNegativo,
            GETDATE()     
	)

    SELECT
        @pSunBilhete AS Total_Cobrado,
        @pSunFatura AS Total_Auditado,
        @pTotalDiferenca AS Total_Diferenca,
        @pTotalDiferencaPositiva AS Total_Diferenca_Positiva,
        @pTotalDiferencaNegativa AS Total_Diferenca_Negativa,
        @pErro AS Erro,
        @pErroPositivo AS Erro_Positivo,
        @pErroNegativo AS Erro_Negativo
END 
 
IF @pPAKAGE = 'sp_Auditoria_Contestacao_V2'
BEGIN
    IF EXISTS (SELECT 1
    FROM tempdb..SYSOBJECTS (NOLOCK)
    WHERE xtype = 'U' AND name LIKE '%#auditoria%')
    BEGIN
        select 1
        DROP TABLE #auditoria
    END

    SELECT DISTINCT
        B.Id_Bilhete AS [Numero_ID_Bilhete],
       -- B.Id_Bilhete_Tipo AS [Id_Bilhete_Tipo],
     --   B.Id_Ativo AS [Id_Ativo],
	    --A.Nr_Ativo as [Numero_Ativo],
      --  FPC.Id_Contrato AS [Id_Contrato], 
	    A.Nr_Ativo AS [Linha],
        BT.Nm_Bilhete_Descricao AS [Descricao_Servico],
        CO.Id_Conglomerado AS [Id_Conglomerado],
        CO.Nm_Conglomerado AS [Operadora],
        BT.Unidade AS [Unidade],
        SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) AS [Dt_Lote],
        B.DB_Consumo AS [QTD_Consumo],
        B.DB_Custo AS [Valor_Cobrado],
        CSS.Vr_SLA_Servico AS [Valor_Contrato],
        CSS.Vr_SLA_Servico * B.DB_Consumo AS [Valor_Correto],
        B.DB_Custo - (CSS.Vr_SLA_Servico * B.DB_Consumo) AS [Valor_Cobrado_A_Mais],
        L.Total_Cobrado AS [Total_Fatura],
        L.DC_Nr_Nota_Fiscal AS [Fatura]
    INTO #auditoria
    FROM Bilhete AS B
        INNER JOIN Bilhete_Tipo AS BT ON BT.Id_Bilhete_Tipo = B.Id_Bilhete_Tipo
        INNER JOIN Lote AS L ON L.Id_Lote = B.Id_Lote
        INNER JOIN Conglomerado AS CO ON CO.Id_Conglomerado = BT.Id_Conglomerado
        INNER JOIN Ativo AS A ON A.Id_Ativo  = B.Id_Ativo
        LEFT JOIN Fatura_Plano_Conta AS FPC ON FPC.Nr_Plano_Conta = B.DC_Nr_Nota_Fiscal
        LEFT JOIN Contrato_SLA_Servico AS CSS ON CSS.Id_Contrato = FPC.Id_Contrato
            AND CSS.Id_Contrato = FPC.Id_Contrato
            AND Tipo_Servico LIKE BT.Nm_Bilhete_Tipo
    WHERE SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) = @pDt_Lote
        AND L.DC_Nr_Nota_Fiscal LIKE (SELECT Nr_Fatura
        FROM Fatura
        WHERE Id_Fatura = @pId_Fatura)
    ORDER BY Id_Bilhete

    INSERT INTO Auditoria_Resumo
    SELECT DISTINCT
        Id_Conglomerado AS [Id_Conglomerado],
        Dt_Lote AS [Dt_Lote],
        Fatura AS [Fatura],
        REPLACE(SUM(Valor_Cobrado),'.',',') AS [Valor_Cobrado],
        ISNULL(SUM(Valor_Correto), '') AS [Valor_Correto],
        ISNULL(SUM(Valor_Cobrado) - SUM(Valor_Correto), '') AS [Valor_Cobrado_A_Mais],
        (SUM(Valor_Cobrado) - SUM(Valor_Correto)) / (SUM(Valor_Cobrado)) AS [Porcentagem]
    FROM #auditoria
    GROUP BY Id_Conglomerado, DT_lote, Fatura

    INSERT INTO Auditoria_Item
    SELECT
        AR.Id_Auditoria_Resumo AS Id_Auditoria_Resumo,
        Id_Bilhete,
        Id_Bilhete_Tipo,
        Id_Ativo,
        ISNULL(Id_Contrato, 0) AS [Id_Contrato],
        AUD.Id_Conglomerado,
        Unidade,
        AUD.Dt_Lote,
        QTD_Consumo,
        AUD.Valor_Cobrado,
        Valor_Contrato,
        AUD.Valor_Correto,
        AUD.Valor_Cobrado_A_Mais,
        Total_Fatura,
        AUD.Fatura
    FROM #auditoria AS AUD
        INNER JOIN Auditoria_Resumo AR ON AR.Fatura = AUD.Fatura AND AR.Dt_Lote = AUD.Dt_Lote

    SELECT
        @pSunBilhete = SUM(Valor_Cobrado),
        @pSunFatura = SUM(Total_Fatura),
        @pTotalDiferenca = SUM(Valor_Cobrado_A_Mais),
        @pErro = (SUM(Valor_Cobrado) - SUM(Valor_Correto)) / (SUM(Valor_Cobrado))
    FROM #auditoria

    SELECT
        @pSunBilhete AS Total_Cobrado,
        @pSunFatura AS Total_Auditado,
        @pTotalDiferenca AS Total_Diferenca,
        @pErro AS Erro

    IF EXISTS (SELECT 1
    FROM tempdb..SYSOBJECTS (NOLOCK)
    WHERE xtype = 'U' AND name LIKE '%#auditoria%')
    BEGIN
        DROP TABLE #auditoria
    END
END
GO
