USE [Prudential]
GO
/****** Object:  StoredProcedure [dbo].[cg_bi_Importa]    Script Date: 7/31/2025 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cg_bi_Importa] (	@p_Nome_Arquivo VARCHAR(8000),
										@p_Id_Arquivo INT) AS
-----declare varivel
DECLARE @v_SQL VARCHAR(8000)
DECLARE @v_SQL_Criar_Tabela VARCHAR(MAX)
DECLARE @v_SQL_Posicao_Campo VARCHAR(MAX)
DECLARE @v_SQL_Campo VARCHAR(MAX)
DECLARE @v_SQL_Transferencia VARCHAR(MAX)

-----inicia variavel
SELECT @v_SQL = ''
SELECT @v_SQL_Criar_Tabela = ''
SELECT @v_SQL_Posicao_Campo = ''
SELECT @v_SQL_Campo = ''
SELECT @v_SQL_Transferencia = ''

-----limpa tabela de recepca de dados
TRUNCATE TABLE Cg_Bi_Si_Recepcao_Arquivo

--*********************************************************************************
-----monta tabela que recebera os dados ja em suas colunas
--*********************************************************************************
------verifica se tabela existe e a exclui
IF EXISTS (	SELECT name 
			FROM sysobjects 
			WHERE name = 'Cg_Bi_Si_Arquivo_Formatado' AND type = 'U')
DROP TABLE Cg_Bi_Si_Arquivo_Formatado

SELECT	@v_SQL_Criar_Tabela = 'CREATE TABLE Cg_Bi_Si_Arquivo_Formatado ('

-----captura campo da tabela
SELECT	-----campos para criacao da tabela
		@v_SQL_Criar_Tabela = @v_SQL_Criar_Tabela + Nm_Campo + ' Varchar(200),',
		-----script select pela posicao
		@v_SQL_Posicao_Campo = @v_SQL_Posicao_Campo + 'LTRIM(RTRIM(SUBSTRING(Linha,' + CONVERT(VARCHAR(10),Posicao) + ',' + CONVERT(VARCHAR(10),Tamanho) + '))) AS ' + Nm_Campo + ',',
		-----campos para insert na tabela criada
		@v_SQL_Campo = @v_SQL_Campo + Nm_Campo + ','
FROM	Cg_Bi_Arquivo_Campo CA INNER JOIN Cg_Bi_Arquivo AR ON (CA.Id_Arquivo = AR.Id_Arquivo)
WHERE	AR.Id_Arquivo = @p_Id_Arquivo
ORDER BY Id_Arquivo_Campo

-----repara script
SELECT	@v_SQL_Criar_Tabela = SUBSTRING(@v_SQL_Criar_Tabela, 1, (LEN(@v_SQL_Criar_Tabela)-1)) + ')'
SELECT	@v_SQL_Posicao_Campo = SUBSTRING(@v_SQL_Posicao_Campo, 1, (LEN(@v_SQL_Posicao_Campo)-1)) + ''
SELECT	@v_SQL_Campo = SUBSTRING(@v_SQL_Campo, 1, (LEN(@v_SQL_Campo)-1)) + ''

-----cria tabela
PRINT (@v_SQL_Criar_Tabela)
EXEC (@v_SQL_Criar_Tabela)

--*********************************************************************************
-----carrega dados na tabela separado por coluna
--*********************************************************************************
-----verifica o separador dos dados do arquivo
IF 0 = (SELECT SUM(Posicao + Tamanho) FROM Cg_Bi_Arquivo_Campo WHERE Id_Arquivo = @p_Id_Arquivo)
BEGIN

	SELECT	@v_SQL = 'BULK INSERT Cg_Bi_Si_Arquivo_Formatado' +
					 ' FROM ' + '''' + Path_Arquivo + '\' + @p_Nome_Arquivo + ''''+
					 ' WITH (FIRSTROW = 1,' + 
							'FIELDTERMINATOR = ''' + ';' + '''' + ',' +
							'ROWTERMINATOR = ''' + '\n' + '''' + ',' +
							'DATAFILETYPE = ''' + 'widechar' + '''' + ',' +
							'CODEPAGE = '''+ 'ACP' +''''+')'	FROM	Cg_Bi_Arquivo
	WHERE	Id_Arquivo = @p_Id_Arquivo
	PRINT(@v_SQL)

	PRINT(@v_SQL)
	EXEC(@v_SQL)
END
ELSE
BEGIN
	-----importa linha pra uma tabela temporaria
	SELECT	@v_SQL = 'BULK INSERT Cg_Bi_Si_Recepcao_Arquivo' +
					 ' FROM ' + '''' + Path_Arquivo + '\' + @p_Nome_Arquivo + ''''+
					 ' WITH (FIRSTROW = 1,' + 
							'ROWTERMINATOR = ''' + '\n' + '''' + ',' +
							'DATAFILETYPE = ''' + 'widechar' + '''' + ',' +
							'CODEPAGE = '''+ 'ACP' +''''+')'
	FROM	Cg_Bi_Arquivo
	WHERE	Id_Arquivo = @p_Id_Arquivo
	
	PRINT(@v_SQL)
	EXEC(@v_SQL)

	-----quebra arquivo por posicao
	SELECT @v_SQL_Transferencia = 'INSERT INTO Cg_Bi_Si_Arquivo_Formatado(' + @v_SQL_Campo + ')' + 
									'SELECT ' + @v_SQL_Posicao_Campo + ' FROM Cg_Bi_Si_Recepcao_Arquivo' 

	PRINT(@v_SQL_Transferencia)
	EXEC(@v_SQL_Transferencia)
END
GO
