USE [Prudential]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_MAPA_FATURAS_BI]    Script Date: 7/31/2025 10:41:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE    PROCEDURE [dbo].[cn_T_MAPA_FATURAS_BI]

								--(	@pPakage					VARCHAR(200),
								--	@pPakage_Filtro				VARCHAR(200)	= NULL,
								--	@pId_Filtro_1				VARCHAR(MAX)	= NULL,
								--	@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
								--	@pId_Filtro_Usuario			INT				= NULL,
								--	@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
								--	@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
								--	@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
								--	@pDt_LoteDe					VARCHAR(6)		= NULL,
								--	@pDt_LoteAte				VARCHAR(6)		= NULL,
								--	@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS

	
	as
-------------------------------ARQUIVO PDF-----------------------------------------------------------------
--DROP TABLE FATURA_Mapa_bi
select 

Id_Arquivo_PDF,
Nm_Arquivo_PDF,
Tabela_Registro,
Id_Registro_Tabela

into #pdf

from Arquivo_PDF

where Tabela_Registro = 'Fatura'

	
-------------------------------FATURA-----------------------------------------------------------------


	
SELECT * 

INTO #FATURA

FROM FATURA 

--where Dt_Lote = @pDt_LoteDe
--where Dt_Lote = '202209'

-----------------------------LOTE-------------------------------------------------------------------
------ Parte 1   -----------------------------------------------------------------
select * into #lotep1 from Lote
--where SUBSTRING(CONVERT(VARCHAR(6),Dt_Lote,112),1,6) >= /*'202209'-- */@pDt_LoteDe


------ Parte 2   -----------------------------------------------------------------


SELECT id_lote,DC_Nr_Nota_Fiscal,Dt_Liberacao_Lote
into #lote
FROM (
    SELECT id_lote,
            DC_Nr_Nota_Fiscal,
            Dt_Liberacao_Lote,
            ROW_NUMBER() OVER( PARTITION BY DC_Nr_Nota_Fiscal ORDER BY Dt_Liberacao_Lote DESC ) AS rank
    
	FROM #lotep1 cat
) AS categoria_ranqueada 
WHERE categoria_ranqueada.rank = 1 --, dt_lote = '2022-10-01'
ORDER BY Dt_Liberacao_Lote, id_lote



--drop table #lote2

--select 
--distinct
----Dt_Liberacao_Lote, 

--(select top (1) Dt_Liberacao_Lote from lote ) as Dt_Liberacao_Lote,

--DC_Nr_Nota_Fiscal 
--INTO #lote
----into #lote1 

--from lote 

--where SUBSTRING(CONVERT(VARCHAR(6),Dt_Lote,112),1,6) >= /*'202209'-- */@pDt_LoteDe

--group by Dt_Liberacao_Lote, DC_Nr_Nota_Fiscal

-----------------------------------------------------------------------------------------------------

------ Rateio  ------

select 

r.Id_Rateio,
r.Vr_Fatura,
r.Vr_Tarifado,
rf.Id_Fatura


INTO #rat
from rateio r
inner join Rl_Rateio_Fatura as RF on RF.Id_Rateio = r.Id_Rateio
--where SUBSTRING(CONVERT(VARCHAR(6),Dt_Lote,112),1,6) >= /*'202209'-- */@pDt_LoteDe


-----------------------------------------------------------------------------------------------------
--select * into #lote from #fatura F
--full outer join #lote2 as L on L.DC_Nr_Nota_Fiscal = f.Nr_Fatura

-----------------------------------------------------------

/*
select 
DC_Nr_Nota_Fiscal,
Dt_Liberacao_Lote,
SUBSTRING(CONVERT(VARCHAR(6),Dt_Liberacao_Lote,112),1,6) as Dt_Liberacao_Lote2
INTO #lote
from Lote l
inner join #Fatura as F on f.Nr_Fatura = l.DC_Nr_Nota_Fiscal


where SUBSTRING(CONVERT(VARCHAR(6),l.Dt_Lote,112),1,6) >= @pDt_LoteDe
group by Dt_Liberacao_Lote, DC_Nr_Nota_Fiscal
*/
---------------------------------------------------------------------------------------------

Insert INTO Power_BI_iControlIT.dbo.FATURA_Mapa_bi

SELECT --DISTINCT
			FPC.Nr_Plano_Conta AS [FATURA_CADASTRADA],
			fpc.Dia_Vencimento as [DIA_DO_VENCIMENTO],
			f.Nr_Fatura as [FATURA_CARREGADA], 
			SUBSTRING(CONVERT(VARCHAR(10),l.dt_liberacao_lote,112),7,2) + '/' + SUBSTRING(CONVERT(VARCHAR(10),l.dt_liberacao_lote,112),5,2)  + '/' + SUBSTRING(CONVERT(VARCHAR(6),l.dt_liberacao_lote,112),1,4) as [DATA_CARGA],
			--l.Dt_Liberacao_Lote as [DATA CARGA1],
			ISNULL (C.Codigo_Operadora, C.Nm_Conglomerado)AS OPERADORA,
			--C.Nm_Conglomerado AS [OPERADORA],
			c.Tipo as [TIPO],
			f.Dt_Lote as [MES LOTE],
			--isnull(f.Dt_Lote,@pDt_LoteDe)  as [MES LOTE], 
			isnull(CONVERT(VARCHAR,f.Dt_Emissao, 103),'00/00/0000') AS [DATA_EMISSAO],
			isnull(CONVERT(VARCHAR,f.Dt_Vencimento, 103), '00/00/0000') AS [DATA_VENCIMENTO],
			datediff(day, f.Dt_Vencimento, l.dt_liberacao_lote) as [ Envio dias antes do vencimento],
			FPC.LOTE_CANCELAMENTO AS [FATURA CANCELADA DT],
			F.Nota_Fiscal as [NOTA_FISCAL],
			
			F.Ref AS [REF],
			F.Req AS [REQ],
			F.Pedido AS [PEDIDO],
			isnull(CAST(f.Vr_Fatura AS DECIMAL(10,2)), 0) AS [VALOR],
			RAT.Vr_Tarifado as [RATEIO],
			NULL AS [ARQUIVO_PDF],
			--PDF.Nm_Arquivo_PDF AS [ARQUIVO_PDF],
			(select top (1) Nm_Holding  from vw_Holding) as [Base Cliente]


			--INTO Power_BI_iControlIT.dbo.FATURA_Mapa_bi
from Fatura_Plano_Conta as FPC
FULL OUTER JOIN #FATURA AS F ON F.Nr_Fatura = FPC.Nr_Plano_Conta
full outer JOIN Rl_Ra_Fatura_Parametro_Conglomerado RPC ON RPC.Id_Fatura_Parametro = F.Id_Fatura_Parametro
INNER JOIN CONGLOMERADO AS C ON C.Id_Conglomerado = FPC.Id_Conglomerado
left join #lote as  L on l.DC_Nr_Nota_Fiscal  = f.Nr_Fatura
left join #rat as RAT on RAT.Id_Fatura = f.Id_Fatura
left join #pdf as PDF on pdf.Id_Registro_Tabela = f.Id_Fatura
--INNER  JOIN Conglomerado CG ON CG.Id_Conglomerado = RPC.Id_Conglomerado
--SELECT * FROM #FATURA

--WHERE FPC.LOTE_CANCELAMENTO IS NULL

ORDER BY C.Nm_Conglomerado , F.Vr_Fatura DESC

/*			
-----exportacao
IF @pPakage = 'sp_Mapa_Export'
BEGIN
	SELECT * FROM #TBTMP
END

-----grid
IF @pPakage = 'sp_Mapa_Mes'
BEGIN
	SELECT * FROM #TBTMP
END

-----grafrico
IF @pPakage = 'sp_Mapa_Grafico'
BEGIN
	SELECT * FROM #TBTMP*/
--END
GO
