USE [MDS_Group]
GO
/****** Object:  UserDefinedFunction [dbo].[Fu_Descriptografa]    Script Date: 7/31/2025 10:54:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fu_Descriptografa] (	@pString	VARCHAR(8000), 
											@pSenha		VARCHAR(10)) RETURNS VARCHAR(8000) AS  
BEGIN 

DECLARE @chavecript varchar(8000),
        @chavecript_crc varchar(8000),
        @chavecript_key varchar(8000),
        @chavecriptcompleta varchar(8000),
        @I INT, @X INT, @Y INT, @Z INT, @W INT, @Validade INT

SELECT	@X = 1, 
		@chavecript = ''

WHILE @X <= Len(@pString)
BEGIN
	SELECT	@chavecript = @chavecript + 
			Case SUBSTRING ( @pString, @X, 1 ) 
			WHEN 'A' THEN '0'
			WHEN 'B' THEN '0'
			WHEN 'C' THEN '1'
			WHEN 'D' THEN '1'
			WHEN 'E' THEN '2'
			WHEN 'F' THEN '2'
			WHEN 'G' THEN '3'
			WHEN 'H' THEN '3'
			WHEN 'I' THEN '4'
			WHEN 'J' THEN '4'
			WHEN 'K' THEN '5'
			WHEN 'L' THEN '5'
			WHEN 'M' THEN '6'
			WHEN 'N' THEN '6'
			WHEN 'O' THEN '7'
			WHEN 'P' THEN '7'
			WHEN 'Q' THEN '8'
			WHEN 'R' THEN '8'
			WHEN 'S' THEN '9'
			WHEN 'T' THEN '9'
			END,
			@X =  @X + 1
END

SELECT	@chavecript_crc = SUBSTRING(@chavecript, 1, 5),
		@chavecript_key = SUBSTRING(@chavecript, 6, Len(@chavecript)),
		@X = 1 ,
		@pString = Null

WHILE @X <= 5 
BEGIN
    SELECT	@Z = Len(@chavecript_key) + 2,
			@W = 0,
			@Y = 1

    WHILE @Y <= Len(@chavecript_key) 
    BEGIN
        SELECT	@W = @W + (ASCII(SUBSTRING( @chavecript_key, @Y, 1)) * @Z),
				@Z = @Z - 1,
				@Y = @Y + 1 END;

		SELECT @W = convert(int, round( @W / 9.0,0) )  % 9 
		SELECT @chavecript_key = convert( varchar, @W) + @chavecript_key,
			   @X = @X + 1
	END;

	If ( @chavecript_crc <> substring(@chavecript_key,1, 5))
        RETURN -1

    --Buscar os Caracteresc de cada Codigo Asc
    SELECT @chavecript_key = substring(@chavecript_key, 6, len(@chavecript_key)),
           @chavecriptcompleta = '',
           @X = 1

    WHILE @X <= Len(@chavecript_key) 
    BEGIN
          IF ( @X % 2 ) = 0 
          BEGIN
               SELECT @chavecriptcompleta = @chavecriptcompleta +  char( convert( int, substring( @chavecript_key, @X-1,1)  +  substring( @chavecript_key, @X,1) ) ) 
          END
          SELECT @X = @X + 1
    END;

	SELECT	@I = 1,
			@Validade = -1

	WHILE @I <= 10 
    BEGIN
		IF @pSenha = substring(@chavecriptcompleta, 1, @I) 
		BEGIN
			SELECT @Validade = @I + 1 
		END
		SELECT @I = @I + 1
    END;
	
	IF @Validade = -1 
		RETURN NULL

    SELECT @chavecriptcompleta = substring(@chavecriptcompleta, @Validade, len(@chavecriptcompleta))

	RETURN @chavecriptcompleta
END
GO
