USE [Kora_Saude]
GO
/****** Object:  StoredProcedure [dbo].[pa_Contrato_Status]    Script Date: 7/31/2025 10:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Contrato_Status] (@pPakage				VARCHAR(200),
											@pId_Contrato_Status	INT			= NULL,
											@pNm_Contrato_Status	VARCHAR(50)	= NULL,
											@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN	
	IF EXISTS (SELECT * FROM Contrato_Status WHERE Id_Contrato_Status = @pId_Contrato_Status)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Contrato_Status 
			SET		Nm_Contrato_Status = @pNm_Contrato_Status
			WHERE	Id_Contrato_Status = @pId_Contrato_Status
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Contrato_Status (	Nm_Contrato_Status,
											Fl_Desativado) 
			VALUES(	@pNm_Contrato_Status,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Contrato_Status 
		SET		Fl_Desativado = 1 
		WHERE	Id_Contrato_Status = @pId_Contrato_Status
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Contrato_Status,'') AS Id_Contrato_Status,
			ISNULL(Nm_Contrato_Status,'') AS Nm_Contrato_Status
	FROM	vw_Contrato_Status
	WHERE	Id_Contrato_Status = @pId_Contrato_Status
END
GO
