USE [Kora_Saude]
GO
/****** Object:  StoredProcedure [dbo].[pa_Tronco]    Script Date: 7/31/2025 10:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Tronco] (	@pPAKAGE				VARCHAR(200),
									@pId_Tronco				INT			= NULL,
									@pNm_Tronco				VARCHAR(50)	= NULL,
									@pId_Conglomerado		INT			= NULL,
									@pId_Tronco_Grupo		INT			= NULL,
									@pId_Usuario_Permissao	int			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Tronco WHERE Id_Tronco = @pId_Tronco)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Tronco 
			SET		Nm_Tronco		= @pNm_Tronco,
					Id_Conglomerado	= @pId_Conglomerado,
					Id_Tronco_Grupo	= @pId_Tronco_Grupo
			WHERE	Id_Tronco = @pId_Tronco
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Tronco 
			VALUES(	@pNm_Tronco,
					@pId_Conglomerado,
					@pId_Tronco_Grupo,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Tronco 
		SET		Fl_Desativado = 1 
		WHERE	Id_Tronco = @pId_Tronco
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Tronco,'')		AS Id_Tronco,
			ISNULL(Nm_Tronco,'')		AS Nm_Tronco,
			ISNULL(Id_Conglomerado,'')	AS Id_Conglomerado,
			ISNULL(Id_Tronco_Grupo,'')	AS Id_Tronco_Grupo
	FROM	vw_Tronco
	WHERE	Id_Tronco = @pId_Tronco
END



GO
