USE [Kora_Saude]
GO
/****** Object:  StoredProcedure [dbo].[pa_Holding]    Script Date: 7/31/2025 10:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Holding] (@pPakage				VARCHAR(200),
									@pId_Holding			INT			= NULL,
									@pNm_Holding			VARCHAR(50)	= NULL,
									@pLogo					VARCHAR(50)	= NULL,
									@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Holding WHERE Id_Holding = @pId_Holding)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Holding 
			SET		Nm_Holding = @pNm_Holding,
					Logo = @pLogo
			WHERE	Id_Holding = @pId_Holding
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Holding (	Nm_Holding,
									Logo,
									Fl_Desativado) 
			VALUES(	@pNm_Holding,
					@pLogo,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Holding 
		SET Fl_Desativado = 1 
		WHERE Id_Holding = @pId_Holding
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Holding,'')	AS Id_Holding,
			ISNULL(Nm_Holding,'')	AS Nm_Holding,
			ISNULL(Logo, '')		AS Logo
	FROM	vw_Holding
	WHERE	Id_Holding = @pId_Holding
END
GO
