USE [Kora_Saude]
GO
/****** Object:  StoredProcedure [dbo].[pa_Solicitacao_Avaliacao]    Script Date: 7/31/2025 10:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Solicitacao_Avaliacao] (	@pPakage					VARCHAR(200),
													@pId_Solicitacao			INT			= NULL,
													@pId_Solicitacao_Avaliacao	INT			= NULL,
													@pDt_Avaliacao				DATETIME	= NULL,
													@pAvaliacao					INT			= NULL,
													@pDescricao					VARCHAR(50)	= NULL,
													@pId_Usuario_Permissao		INT			= NUll) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	INSERT INTO Solicitacao_Avaliacao (	Id_Solicitacao,
										Dt_Avaliacao,
										Avaliacao,
										Descricao) 
	VALUES(	@pId_Solicitacao,
			GETDATE(),
			@pAvaliacao,
			@pDescricao)
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Solicitacao,'')			AS Id_Solicitacao,
			ISNULL(Id_Solicitacao_Avaliacao,'')	AS Id_Solicitacao_Avaliacao,
			ISNULL(Dt_Avaliacao,'')				AS Dt_Avaliacao,
			ISNULL(Avaliacao,'')				AS Avaliacao,
			ISNULL(Descricao,'')				AS Descricao
	FROM	Solicitacao_Avaliacao
	WHERE	Id_Solicitacao_Avaliacao = @pId_Solicitacao_Avaliacao
END
GO
