USE [Kora_Saude]
GO
/****** Object:  StoredProcedure [dbo].[pa_Custo_Fixo]    Script Date: 7/31/2025 10:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Custo_Fixo] (	@pPAKAGE				VARCHAR(200),
										@pId_Custo_Fixo			INT			= NULL,
										@pNm_Custo_Fixo			VARCHAR(50)	= NULL,
										@pId_Usuario_Permissao	int			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Custo_Fixo WHERE Id_Custo_Fixo = @pId_Custo_Fixo)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Custo_Fixo 
			SET		Nm_Custo_Fixo	= @pNm_Custo_Fixo
			WHERE	Id_Custo_Fixo = @pId_Custo_Fixo
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Custo_Fixo  
			VALUES(	@pNm_Custo_Fixo)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		DELETE FROM Custo_Fixo_Item WHERE Id_Custo_Fixo = @pId_Custo_Fixo
		DELETE FROM Custo_Fixo WHERE Id_Custo_Fixo = @pId_Custo_Fixo
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Custo_Fixo,'')		AS Id_Custo_Fixo,
			ISNULL(Nm_Custo_Fixo,'')		AS Nm_Custo_Fixo
	FROM	Custo_Fixo
	WHERE	Id_Custo_Fixo = @pId_Custo_Fixo
END


GO
