USE [Kora_Saude]
GO
/****** Object:  StoredProcedure [dbo].[pa_Empresa_Contratada]    Script Date: 7/31/2025 10:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Empresa_Contratada] (	@pPakage				VARCHAR(200),
												@pId_Empresa_Contratada	INT			= NULL,
												@pNm_Empresa_Contratada	VARCHAR(50)	= NULL,
												@pCNPJ					VARCHAR(50)	= NULL,
												@pContato				VARCHAR(50)	= NULL,
												@pTelefone				VARCHAR(20)	= NULL,
												@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Empresa_Contratada WHERE Id_Empresa_Contratada = @pId_Empresa_Contratada)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Empresa_Contratada 
			SET		Nm_Empresa_Contratada	= @pNm_Empresa_Contratada,
					CNPJ				= @pCNPJ,
					Contato				= @pContato,
					Telefone			= @pTelefone
			WHERE	Id_Empresa_Contratada = @pId_Empresa_Contratada
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Empresa_Contratada (Nm_Empresa_Contratada,
										CNPJ,
										Contato,
										Telefone,
										Fl_Desativado) 
			VALUES(	@pNm_Empresa_Contratada,
					@pCNPJ,
					@pContato,
					@pTelefone,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE Empresa_Contratada 
		SET Fl_Desativado = 1 
		WHERE Id_Empresa_Contratada = @pId_Empresa_Contratada
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Empresa_Contratada,'')	AS Id_Empresa_Contratada,
			ISNULL(Nm_Empresa_Contratada,'')	AS Nm_Empresa_Contratada,
			ISNULL(CNPJ,'')					AS CNPJ,
			ISNULL(Contato,'')				AS Contato,
			ISNULL(Telefone,'')				AS Telefone
	FROM	vw_Empresa_Contratada
	WHERE	Id_Empresa_Contratada = @pId_Empresa_Contratada
END




GO
