USE [Kora_Saude]
GO
/****** Object:  StoredProcedure [dbo].[pa_Cargo]    Script Date: 7/31/2025 10:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Cargo] (	@pPakage				VARCHAR(200),
									@pId_Cargo				INT			= NULL,
									@pNm_Cargo				VARCHAR(50)	= NULL,
									@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Cargo WHERE Id_Cargo = @pId_Cargo)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Cargo 
			SET		Nm_Cargo = @pNm_Cargo
			WHERE	Id_Cargo = @pId_Cargo
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Cargo (	Nm_Cargo,
								Fl_Desativado) 
			VALUES(	@pNm_Cargo,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Cargo 
		SET		Fl_Desativado = 1 
		WHERE	Id_Cargo = @pId_Cargo
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Cargo,'') AS Id_Cargo,
			ISNULL(Nm_Cargo,'') AS Nm_Cargo
	FROM	vw_Cargo
	WHERE	Id_Cargo = @pId_Cargo
END



GO
