USE [Kora_Saude]
GO
/****** Object:  StoredProcedure [dbo].[pa_Excedente_Cota]    Script Date: 7/31/2025 10:38:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Excedente_Cota] (	@pPakage			AS VARCHAR(200),
											@pId_Lote			AS FLOAT			= NULL,
											@pId_Usuario		AS INT				= NULL,
											@pJustificativa		AS VARCHAR(1000)	= NULL) AS
------valida se usuario execdeu a cota
IF @pPakage = 'sp_Valida_Excedente' 
BEGIN
	SELECT ISNULL((SELECT	CASE WHEN (LT.Trafego  - LM.total_Marcado - PO.Valor_Politica) > 0 THEN 1 ELSE 2 END 
					FROM	Lote LT		INNER JOIN Lote_Marcacao LM ON LT.Id_Lote = LM.Id_Lote
										INNER JOIN Usuario US ON US.Id_Usuario = LM.Id_Usuario
										INNER JOIN vw_Consumidor CO ON US.Id_Consumidor = CO.Id_Consumidor
										INNER JOIN vw_Ativo AT ON AT.Id_Ativo = LT.Id_Ativo
										LEFT JOIN Politica_Consumidor PO ON PO.Id_Ativo_Tipo = AT.Id_Ativo_Tipo AND PO.Id_Consumidor = CO.Id_Consumidor
										INNER JOIN vw_Filial FI ON (FI.Id_Filial = CO.Id_Filial)
					WHERE	LT.Id_lote = @pId_Lote --23357
							AND US.Id_Usuario = @pId_Usuario --11721)
					), 2) AS Validacao
END 

IF @pPakage = 'sp_Lista_Excedente' 
BEGIN
	SELECT	LT.Total,
			LM.Total_Marcado AS Particular,
			PO.Valor_Politica,
			LT.Total - LM.Total_Marcado AS Servico,
			LT.Trafego AS Trafego,
			(LT.Trafego - LM.total_Marcado - PO.Valor_Politica) AS Excedente
	FROM	Lote LT		INNER JOIN Lote_Marcacao LM ON LT.Id_Lote = LM.Id_Lote
						INNER JOIN Usuario US ON US.Id_Usuario = LM.Id_Usuario
						INNER JOIN vw_Consumidor CO ON US.Id_Consumidor = CO.Id_Consumidor
						INNER JOIN vw_Ativo AT ON AT.Id_Ativo = LT.Id_Ativo
						INNER JOIN Politica_Consumidor PO ON PO.Id_Ativo_Tipo = AT.Id_Ativo_Tipo AND PO.Id_Consumidor = CO.Id_Consumidor
						INNER JOIN vw_Filial FI ON (FI.Id_Filial = CO.Id_Filial)
	WHERE	LT.Id_lote = @pId_Lote --23357
			AND US.Id_Usuario = @pId_Usuario --11721
END

IF @pPakage = 'sp_Grava_Justificativa' 
BEGIN
	DECLARE	@vEmail AS  VARCHAR(50)
	DECLARE	@vCopia AS  VARCHAR(50)
	DECLARE	@vColaborador AS  VARCHAR(50)
	DECLARE	@vJustificativa AS  VARCHAR(300)

	IF RTRIM(LTRIM(ISNULL(@pJustificativa,' '))) = ''
	BEGIN
		SET @vJustificativa	= '<font style="background-color: yellow">Colaborador não preencheu sua justificativa.</font>'
	END 
	ELSE
	BEGIN
		SET @vJustificativa	= '<font style="background-color: yellow">' + @pJustificativa + ' </font>'
	END

	UPDATE	Lote_Marcacao
	SET		Justificativa = @vJustificativa
	WHERE	Id_lote = @pId_Lote --23357
			AND Id_Usuario = @pId_Usuario --11721

	-----busca email
	SELECT	@vEmail = Email
	FROM	vw_Consumidor 
	WHERE	Matricula IN (	SELECT	Matricula_Chefia
							FROM	vw_Consumidor C INNER JOIN vw_Usuario U ON C.Id_Consumidor = U.Id_Consumidor
							WHERE	U.Id_Usuario = @pId_Usuario)

	-----busca copia
	SELECT	@vCopia = Email,
			@vColaborador = Nm_Consumidor
	FROM	vw_Consumidor C INNER JOIN vw_Usuario U ON C.Id_Consumidor = U.Id_Consumidor
	WHERE	U.Id_Usuario = @pId_Usuario

	-----monta calculo
	DECLARE @vTCalculo AS VARCHAR(8000)
	DECLARE @vAtivo AS VARCHAR(50)

	SELECT	@vAtivo = AT.Nr_Ativo,
			@vTCalculo = '<table border=1 cellspacing=0 cellpadding=2 bordercolor="000000">' +
			'<tr> <td  width=300> Total Conta </td> <td align="right">' + CONVERT(VARCHAR,CAST(LT.Total AS DECIMAL(10,2))) + '</td> </tr>' +
			'<tr> <td  width=300> A-Consumo Utilizado (tráfego) </td> <td align="right">' + CONVERT(VARCHAR,CAST(LT.Trafego AS DECIMAL(10,2)))+ '</td> </tr>' +
			'<tr> <td  width=300> B-Identificado como particular </td> <td align="right">'  + CONVERT(VARCHAR,CAST(LM.Total_Marcado AS DECIMAL(10,2)))+ '</td> </tr>' +
			'<tr> <td  width=300> C-Identificado como serviço </td> <td align="right">' + CONVERT(VARCHAR,CAST((LT.Total - LM.Total_Marcado) AS DECIMAL(10,2)))+ '</td> </tr>' +
			'<tr> <td  width=300> D-Orçamento/Cota </td> <td align="right">' + CONVERT(VARCHAR,CAST(PO.Valor_Politica AS DECIMAL(10,2)))+ '</td> </tr>' +
			'<tr> <td  width=300> E-Excedente (E=A-B-D) </td> <td align="right">' + CONVERT(VARCHAR,CAST((LT.Trafego - LM.total_Marcado - PO.Valor_Politica) AS DECIMAL(10,2)))+ '</td> </tr> </table>'
	FROM	Lote LT		INNER JOIN Lote_Marcacao LM ON LT.Id_Lote = LM.Id_Lote
						INNER JOIN Usuario US ON US.Id_Usuario = LM.Id_Usuario
						INNER JOIN vw_Consumidor CO ON US.Id_Consumidor = CO.Id_Consumidor
						INNER JOIN vw_Ativo AT ON AT.Id_Ativo = LT.Id_Ativo
						INNER JOIN Politica_Consumidor PO ON PO.Id_Ativo_Tipo = AT.Id_Ativo_Tipo AND PO.Id_Consumidor = CO.Id_Consumidor
						INNER JOIN vw_Filial FI ON (FI.Id_Filial = CO.Id_Filial)
	WHERE	LT.Id_lote = @pId_Lote --23357
			AND US.Id_Usuario = @pId_Usuario --11721

	-----monta caixa de saida
	INSERT INTO Mail_Caixa_Saida
	VALUES (2,
			@vEmail,
			@vCopia,
				'<p> <b> Colaborador: </b> ' + @vColaborador + '</p>' +
				'<p> <b> Justificativa: </b> ' + @vJustificativa + '</p>' +
				'<p> <b> Ativo: </b> ' + @vAtivo + '</p>' +
				'<p> <b> Detalhamento do Cálculo: </b> </p>' +
				@vTCalculo +
				'<p><font color="#ff0000"> <b> Atenção: </b> </font> Informamos que esse lote já foi encerrado pelo ' +
					'colaborador, não havendo a possibilidade de reabertura do mesmo. Qualquer renegocição de valor deve ser' +
					'tratada diretamente entre gestor e colaborador, utilizando o processo interno de reembolso (GDV).' + '</p>',
			GETDATE(),
			NULL,
			0,
			0,
			0)
	
	-----busca email da justificativa
	DECLARE @vId_Mail_Caixa_Siada INT
	SELECT @vId_Mail_Caixa_Siada = MAX(Id_Mail_Caixa_Siada) FROM Mail_Caixa_Saida

	-----grava justifivativa
	INSERT INTO dbo.Justificativa_Excedente
	SELECT	@vId_Mail_Caixa_Siada,
			AT.Id_Ativo,
			CO.Id_Consumidor,
			US.Id_Usuario,
			LT.Id_lote,
			@pJustificativa,
			CONVERT(VARCHAR,CAST(LT.Total AS DECIMAL(10,2))) AS Total_Ligado,
			CONVERT(VARCHAR,CAST(LT.Trafego AS DECIMAL(10,2))) AS Trafego,
			CONVERT(VARCHAR,CAST(LM.Total_Marcado AS DECIMAL(10,2))) AS Particular,
			CONVERT(VARCHAR,CAST((LT.Total - LM.Total_Marcado) AS DECIMAL(10,2))) AS Servico,
			CONVERT(VARCHAR,CAST(PO.Valor_Politica AS DECIMAL(10,2))) as Cota,
			CONVERT(VARCHAR,CAST((LT.Trafego - LM.total_Marcado - PO.Valor_Politica) AS DECIMAL(10,2))) as Excedente
	FROM	Lote LT		INNER JOIN Lote_Marcacao LM ON LT.Id_Lote = LM.Id_Lote
						INNER JOIN Usuario US ON US.Id_Usuario = LM.Id_Usuario
						INNER JOIN vw_Consumidor CO ON US.Id_Consumidor = CO.Id_Consumidor
						INNER JOIN vw_Ativo AT ON AT.Id_Ativo = LT.Id_Ativo
						INNER JOIN Politica_Consumidor PO ON PO.Id_Ativo_Tipo = AT.Id_Ativo_Tipo AND PO.Id_Consumidor = CO.Id_Consumidor
						INNER JOIN vw_Filial FI ON (FI.Id_Filial = CO.Id_Filial)
	WHERE	LT.Id_lote = @pId_Lote --23357
			AND US.Id_Usuario = @pId_Usuario --11721
END
GO
