USE [FVO_Alimentos]
GO
/****** Object:  StoredProcedure [dbo].[cn_Rateio]    Script Date: 7/31/2025 10:35:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[cn_Rateio] (	@pPakage	VARCHAR(200),
									@pId_Rateio	INT			= NULL,
									@pDt_Lote	VARCHAR(6)  = NULL) AS
-----consulta ativo critica
IF @pPAKAGE = 'sp_Ativo_Critica'
BEGIN
	SELECT	ISNULL(SUM(Total), 0) AS Total
	FROM	Rateio_Ativo_Critica
	WHERE	Id_Rateio = @pId_Rateio
			AND Total > 0 
END

-----consulta fatura rateio
IF @pPAKAGE = 'sp_Fatura_Rateio'
BEGIN
	SELECT	Id_Fatura
	FROM	dbo.Rl_Rateio_Fatura
	WHERE	Id_Rateio = @pId_Rateio
END

-----consulta rateio
IF @pPAKAGE = 'sp_Rateio'
BEGIN
	SELECT	ISNULL(Nm_Rateio, '') AS Nm_Rateio,
			ISNULL(SUBSTRING(CONVERT(VARCHAR(6),Dt_Lote,112),1,6), '') AS Dt_Lote,
			ISNULL(Observacao, '') AS Observacao,
			ISNULL(Id_Fatura_Parametro, 0) AS Id_Fatura_Parametro
	FROM	Rateio
	WHERE	Id_Rateio = @pId_Rateio
END

-----consulta rateio para exportacao
IF @pPAKAGE = 'sp_Rateio_Export'
BEGIN
	SELECT  A.Nr_Ativo AS Virtual,
			A.Nr_Ativo_Tabela AS Ativo,
			CO.Nm_Conglomerado AS Conglomerado,
			AT.Nm_Ativo_Tipo AS Tipo,
			US.Nm_Usuario AS GID,
			C.Nm_Consumidor AS Usuario,
			C.Matricula AS Matricula,
			F.Nm_Filial AS Filial,
			CC.Cd_Centro_Custo AS CDC,
			RI.Valor_Fatura AS Sistema,
			RI.Valor_Rateado AS Rateado,
			FA.Nr_Fatura AS Fatura,
			FA.Vr_Fatura AS Total_Fatura,
			(SELECT SUM(Valor_Rateado) FROM Rateio_Item WHERE Id_Rateio = RI.Id_Rateio) AS Total_Rateado
	FROM	Rateio_Item RI	INNER JOIN vw_Ativo A ON (RI.Id_Ativo = A.Id_Ativo)
							INNER JOIN Conglomerado CO ON (CO.Id_Conglomerado = A.Id_Conglomerado)
							INNER JOIN Ativo_Tipo AT ON (AT.Id_Ativo_Tipo = A.Id_Ativo_Tipo)
							LEFT JOIN vw_Consumidor C ON (RI.Id_Consumidor = C.Id_Consumidor)
							LEFT JOIN vw_Filial F ON (F.Id_Filial = RI.Id_Filial)
							LEFT JOIN vw_Usuario US ON C.Id_Consumidor = US.Id_Consumidor
							INNER JOIN vw_Centro_Custo CC ON (RI.Id_Centro_Custo = CC.Id_Centro_Custo)
							INNER JOIN Rl_Rateio_Fatura RF ON (RF.Id_Rateio = RI.Id_Rateio)
							INNER JOIN Fatura FA ON (RF.Id_Fatura = FA.Id_Fatura)
	WHERE   FA.Dt_Lote = @pDt_Lote
			AND FA.Id_Fatura_Parametro IN (SELECT Id_Fatura_Parametro FROM Fatura 
											WHERE Id_Fatura IN (SELECT Id_Fatura FROM Rl_Rateio_Fatura 
																	WHERE Id_Rateio = @pId_Rateio))
	ORDER BY FA.Nr_Fatura
END

-----consulta rateio item
IF @pPAKAGE = 'sp_Rateio_Item'
BEGIN
	DECLARE @vVerifica_Nota INT

	SELECT TOP 1 @vVerifica_Nota = Rateio_Nota 
	FROM Fatura F INNER JOIN Fatura_Parametro FP ON F.Id_Fatura_parametro = FP.Id_Fatura_parametro
	WHERE F.Id_Fatura IN (SELECT Id_Fatura FROM Rl_Rateio_Fatura WHERE Id_Rateio = @pId_Rateio)

	-----limpa tabela
	DELETE FROM Temp_Rateio

	-----insere registro na tabela
	INSERT INTO Temp_Rateio
	SELECT	ISNULL(RI.Id_Centro_Custo,'')	AS Id_Centro_Custo,
			ISNULL(AT.Nr_Ativo, '')			AS Nr_Ativo,
			ISNULL(RI.Porcentagem,0)		AS Porcentagem,
			ISNULL(RI.Valor_Rateado,0)		AS Valor_Rateado,
			ISNULL(RI.Valor_Fatura,0)		AS Valor_Base,
			ISNULL(RI.Id_Rateio,0)			AS Id_Rateio,

			(SELECT SUM(Total_Sem_Auditoria) 
			FROM Lote LT
			WHERE SUBSTRING(CONVERT(VARCHAR(6),LT.Dt_Lote,112),1,6) = @pDt_Lote
				AND LT.Id_Ativo = RI.ID_Ativo ) AS Valor_Bilhete,

			(ISNULL(RI.Valor_Rateado,0) - ISNULL(RI.Valor_Fatura,0)) AS Diferenca,

			ISNULL((SELECT Vr_Fatura FROM Fatura 
				WHERE Id_Fatura IN (SELECT Id_Fatura FROM Rl_Rateio_Fatura WHERE Id_Rateio = @pId_Rateio)),0) AS Total_Fatura,

			CASE WHEN @vVerifica_Nota = 1 THEN
				(SELECT SUM(Total) FROM Lote LT
				WHERE SUBSTRING(CONVERT(VARCHAR(6),LT.Dt_Lote,112),1,6) = @pDt_Lote
					AND LT.Id_Ativo IN (SELECT Id_Ativo FROM Rateio_Item WHERE Id_Rateio = @pId_Rateio))
			ELSE
				(SELECT SUM(Total) 
				FROM	Lote LT
				WHERE	SUBSTRING(CONVERT(VARCHAR(6),LT.Dt_Lote,112),1,6) = @pDt_Lote
						AND LT.DC_Nr_Nota_Fiscal IN (FT.Nr_Fatura)
						AND LT.Id_Ativo IN (SELECT Id_Ativo FROM Rateio_Item WHERE Id_Rateio = @pId_Rateio))
			END AS Total_Bilhete,

			ISNULL((SELECT SUM(AC.Valor)
			FROM Auditoria_Conta AC INNER JOIN Auditoria_Lote AL ON AC.Id_Auditoria_Lote = AL.Id_Auditoria_Lote
			WHERE AL.Dt_Lote = @pDt_Lote
					AND (@vVerifica_Nota = 1 OR
						(@vVerifica_Nota = 2 AND 
						AC.Conta IN (SELECT Nr_Fatura FROM Fatura 
									WHERE Id_Fatura IN (SELECT Id_Fatura FROM Rl_Rateio_Fatura WHERE Id_Rateio = @pId_Rateio))))),0)
			AS Valor_Auditado
						
	FROM	Rateio_Item RI	INNER JOIN Ativo AT ON (RI.Id_Ativo = AT.Id_Ativo)
							INNER JOIN Rl_Rateio_Fatura RF ON (RF.Id_Rateio = RI.Id_Rateio)
							INNER JOIN Fatura FT ON (FT.Id_Fatura = RF.Id_Fatura)
							
	WHERE	RI.Id_Rateio = @pId_Rateio

	SELECT	Cd_Centro_Custo,
			Nr_Ativo,
			Porcentagem,
			Valor_Rateado,
			Valor_Base,
			Id_Rateio,
			Valor_Bilhete,
			Diferenca,
			Total_Fatura,
			Total_Bilhete,
			Valor_Auditado,
			CAST((SELECT SUM(Valor_Rateado) FROM Temp_Rateio) AS DECIMAL(10,2)) AS Total_Rateado
	FROM	Temp_Rateio TRI INNER JOIN Centro_Custo CC ON (TRI.Id_Centro_Custo = CC.Id_Centro_Custo)
	ORDER BY Diferenca
END
GO
