USE [FVO_Alimentos]
GO
/****** Object:  StoredProcedure [dbo].[cg_Pasta_Upload]    Script Date: 7/31/2025 10:35:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[cg_Pasta_Upload] (@pPakage	VARCHAR(200),
									@pPasta		VARCHAR(200))AS
DECLARE @vCMD AS VARCHAR(8000)
DECLARE  @TArquivo TABLE (Nm_Arquivo VARCHAR(8000)) 

    SET @pPasta = 'Convert_Bilhete\' + @pPasta

IF @pPakage = 'sp_Qtde_Arquivo'
BEGIN
	DELETE @TArquivo
	SET @vCMD = 'DIR /B C:\' + @pPasta + '\*.*'
	INSERT INTO @TArquivo
	EXEC master..xp_cmdshell @vCMD

	SELECT Nm_Arquivo FROM @TArquivo WHERE Nm_Arquivo LIKE '%mdb%' or Nm_Arquivo LIKE '%GUA%'
END

IF @pPakage = 'sp_Lista_Pasta'
BEGIN
	-----lista arquivo
	DELETE @TArquivo
	SET @vCMD = 'DIR /B C:\' + @pPasta + '\*.*'
	INSERT INTO @TArquivo
	EXEC master..xp_cmdshell @vCMD

	SELECT Nm_Arquivo AS ID, Nm_Arquivo AS Descricao FROM @TArquivo WHERE NOT Nm_Arquivo IS NULL
END

IF @pPakage = 'sp_Limpar_Pasta'
BEGIN
	-----move arquivo para pasta de deletados
	SET @vCMD = 'MOVE C:\' + @pPasta + '\*.* C:\' + @pPasta + '\Temp'
	EXEC master..xp_cmdshell @vCMD
	-----renomeia arquivo
	SET @vCMD = 'REN C:\' + @pPasta + '\Temp\*.* ' + ' *.*' + SUBSTRING(CONVERT(VARCHAR,GETDATE(),121),21,3)
	EXEC master..xp_cmdshell @vCMD
END

IF @pPakage = 'sp_Descompacta_Arquivo'
BEGIN
	-----lista arquivo
	DELETE @TArquivo
	SET @vCMD = 'DIR /B C:\' + @pPasta + '\*.*'
	INSERT INTO @TArquivo
	EXEC master..xp_cmdshell @vCMD

	IF EXISTS(SELECT * FROM @TArquivo WHERE Nm_Arquivo LIKE '%zip%')
	BEGIN
		-----descompacta arquivo
		SET @vCMD = 'DIR /B C:\' + @pPasta + '\*.*'
		INSERT INTO @TArquivo
		EXEC master..xp_cmdshell @vCMD
		
		SELECT @vCMD = 'cd\ & cd\winrar & winrar x C:\' + @pPasta + '\' +  Nm_Arquivo + ' C:\' + + @pPasta
		FROM @TArquivo WHERE Nm_Arquivo LIKE '%ZIP%'
		EXEC master..xp_cmdshell @vCMD

		-----deleta todos os arquivo zip
		SELECT @vCMD = 'DEL C:\' + @pPasta + '\*.zip' 
		EXEC master..xp_cmdshell @vCMD
	END
END
GO
