USE [FVO_Alimentos]
GO
/****** Object:  StoredProcedure [dbo].[pa_Hierarquia]    Script Date: 7/31/2025 10:35:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Hierarquia] (	@pPAKAGE		VARCHAR(200),
										@pChave			VARCHAR(8000)	= NULL,
										@pId_Usuario	VARCHAR(8000)	= NULL) AS
-----declara variavel
DECLARE @SQL VARCHAR(MAX)
DECLARE @vChave	VARCHAR(8000)
DECLARE @vId_Usuario VARCHAR(8000)
DECLARE @vId_Usuario_Permissao_Acesso VARCHAR(8000)

-----captura permissao de acesso do usuario
SELECT @vId_Usuario_Permissao_Acesso = Id_Usuario_Perfil_Acesso 
FROM Usuario WHERE Id_Usuario = CONVERT(INT,@pId_Usuario)

-----trata valor nulo
SELECT @vChave = CASE WHEN @pChave IS NULL THEN 'NULL' ELSE @pChave END
--SELECT @vId_Usuario_Permissao_Acesso = CASE WHEN @vId_Usuario_Permissao_Acesso IS NULL THEN '-999' ELSE @vId_Usuario_Permissao_Acesso END
--SELECT @vId_Usuario = CASE WHEN @pId_Usuario IS NULL THEN '-999' ELSE @pId_Usuario END

SELECT @vId_Usuario =  @pId_Usuario 

-----FILIAL
-----motra filial liberadas para usuario
-----mostra todas as filiais que o usuario pode ver 
IF @pPAKAGE = 'sp_SL_RL_Filial'
BEGIN
	SELECT	DISTINCT FIL.Id_Filial	AS ID,
			FIL.Nm_Filial	AS Descricao
	FROM	vw_Filial FIL INNER JOIN Rl_Perfil_Filial_Usuario RFU ON (FIL.Id_Filial = RFU.Id_Filial)
	WHERE	RFU.Id_Usuario = @vId_Usuario
	ORDER BY FIL.Nm_Filial
END


---------------------------------------------------------------------------------------------------------------
-----CENTRO DE CUSTO
---------------------------------------------------------------------------------------------------------------
-----mostrar hierarquia de centro de custo por filial
-----com nivel de gestor de filial pra cima 
IF @pPAKAGE = 'sd_SL_RL_Centro_Custo_Filial'
BEGIN
	SET @SQL = 
	'SELECT	DISTINCT CC.Id_Centro_Custo, ' +
	'		ISNULL(CC.Cd_Centro_Custo,' + '''' + '''' + ') AS Cd_Centro_Custo ' +
	'FROM	vw_Centro_Custo CC INNER JOIN Rl_Hi_Filial_Centro_Custo RFC ' +
	'						ON (CC.Id_Centro_Custo = RFC.Id_Centro_Custo) ' +
	'WHERE	RFC.Id_Filial IN (' + @vChave + ') ' +
	'OR ' + @vId_Usuario_Permissao_Acesso + ' = 1 ' +
	'ORDER BY Cd_Centro_Custo'
	EXEC(@SQL)
END
-----mostrar hierarquia de centro de custo por filial com nivel de gestor de filial 
IF @pPAKAGE = 'sd_SL_RL_G_Centro_Custo_Filial'
BEGIN
	SET @SQL = 
	'SELECT	DISTINCT CC.Id_Centro_Custo, ' +
	'		ISNULL(CC.Cd_Centro_Custo,' + '''' + '''' + ') AS Cd_Centro_Custo ' +
	'FROM	vw_Centro_Custo CC INNER JOIN Rl_Hi_Filial_Centro_Custo RFC ' +
	'						ON (CC.Id_Centro_Custo = RFC.Id_Centro_Custo) ' +
	'WHERE	RFC.Id_Filial IN (' + @vChave + ') ' +
	'AND (RFC.Id_Centro_Custo IN ( SELECT Id_Centro_Custo FROM Rl_Perfil_Centro_Custo_Usuario WHERE Id_Usuario = ' +  @vId_Usuario + ')' +
	'OR ' + @vId_Usuario_Permissao_Acesso + ' = 1 )' +
	'ORDER BY Cd_Centro_Custo'
	EXEC(@SQL)
END

---------------------------------------------------------------------------------------------------------------
-----DEPARTAMENTO
---------------------------------------------------------------------------------------------------------------
-----mostrar hierarquia de departamento por centro de custo
-----com nivel de gestor de centro de custo pra cima 
IF @pPAKAGE = 'sd_SL_RL_Departamento_Centro_Custo'
BEGIN
	SET @SQL =
	'SELECT	DISTINCT DP.Id_Departamento, ' + 
	'		ISNULL(DP.Nm_Departamento, ' + '''' + '''' + ') AS Nm_Departamento ' +
	'FROM	vw_Departamento DP INNER JOIN Rl_Hi_Centro_Custo_Departamento RCD ' +
	'						ON (DP.Id_Departamento = RCD.Id_Departamento) ' +
	'WHERE	RCD.Id_Centro_Custo IN (' + @vChave + ') ' +
	'OR ' + @vId_Usuario_Permissao_Acesso + ' = 1 ' +
	'ORDER BY Nm_Departamento'
	EXEC(@SQL)
END
-----mostrar hierarquia de departamento por centro de custo com nivel de gestor de departamento 
IF @pPAKAGE = 'sd_SL_RL_G_Departamento_Centro_Custo'
BEGIN
	SET @SQL =
	'SELECT	DISTINCT DP.Id_Departamento, ' + 
	'		ISNULL(DP.Nm_Departamento, ' + '''' + '''' + ') AS Nm_Departamento ' +
	'FROM	Rl_Hi_Filial_Centro_Custo RFC INNER JOIN Rl_Hi_Centro_Custo_Departamento RCD ON (RFC.Id_Centro_Custo = RCD.Id_Centro_Custo) ' +
	'		INNER JOIN vw_Departamento DP ON (DP.Id_Departamento = RCD.Id_Departamento) ' +
	'WHERE	RFC.Id_Filial IN (' + @vChave + ') ' +
	'AND (RCD.Id_Departamento IN ( SELECT Id_Departamento FROM Rl_Perfil_Departamento_Usuario WHERE Id_Usuario = ' +  @vId_Usuario + ')' +
	'OR ' + @vId_Usuario_Permissao_Acesso + ' = 1 )' +
	'ORDER BY Nm_Departamento'
	EXEC(@SQL)
END

---------------------------------------------------------------------------------------------------------------
-----SETOR
---------------------------------------------------------------------------------------------------------------
-----mostrar hierarquia de setor por departamento
-----com nivel de gestor de setor pra cima 
IF @pPAKAGE = 'sd_SL_RL_Setor_Departamento'
BEGIN
	SET @SQL =
	'SELECT	DISTINCT ST.Id_Setor, ' +
	'		ISNULL(ST.Nm_Setor, ' + '''' + '''' + ') AS Nm_Setor ' +
	'FROM	vw_Setor ST INNER JOIN Rl_Hi_Departamento_Setor RDS ' + 
	' 						ON (ST.Id_Setor = RDS.Id_Setor) ' +
	'WHERE	RDS.Id_Departamento IN (' + @vChave + ')' +
	'OR ' + @vId_Usuario_Permissao_Acesso + ' = 1 ' +
	'ORDER BY Nm_Setor'
	EXEC(@SQL)
END
-----mostrar hierarquia de setor por departamento com nivel de gestor de setor 
IF @pPAKAGE = 'sd_SL_RL_G_Setor_Departamento'
BEGIN
	SET @SQL =
	'SELECT	DISTINCT ST.Id_Setor, ' +
	'		ISNULL(ST.Nm_Setor, ' + '''' + '''' + ') AS Nm_Setor ' +
	'FROM	Rl_Hi_Filial_Centro_Custo RFC INNER JOIN Rl_Hi_Centro_Custo_Departamento RCD ON (RFC.Id_Centro_Custo = RCD.Id_Centro_Custo) ' +
	'		INNER JOIN Rl_Hi_Departamento_Setor RDS ON (RCD.Id_Departamento = RDS.Id_Departamento)' +
	'		INNER JOIN vw_Setor ST ON (ST.Id_Setor = RDS.Id_Setor)' +
	'WHERE	RFC.Id_Filial IN (' + @vChave + ') ' +
	'AND (RDS.Id_Setor IN ( SELECT Id_Setor FROM Rl_Perfil_Setor_Usuario WHERE Id_Usuario = ' +  @vId_Usuario + ')' +
	'OR ' + @vId_Usuario_Permissao_Acesso + ' = 1 )' +
	'ORDER BY Nm_Setor'
	EXEC(@SQL)
END

---------------------------------------------------------------------------------------------------------------
-----SECAO
---------------------------------------------------------------------------------------------------------------
-----mostrar hierarquia de secao por setor
-----com nivel de gestor de secao pra cima 
IF @pPAKAGE = 'sd_SL_RL_Secao_Setor'
BEGIN
	SET @SQL =
	'SELECT	DISTINCT SC.Id_Secao, ' +
	'		ISNULL(SC.Nm_Secao,' + '''' + '''' + ') AS Nm_Secao ' +
	'FROM	vw_Secao SC INNER JOIN Rl_Hi_Setor_Secao RSS ' + 
	'					ON (SC.Id_Secao = RSS.Id_Secao) ' +
	'WHERE	RSS.Id_Setor IN (' + @vChave + ')' +
	'OR ' + @vId_Usuario_Permissao_Acesso + ' = 1 ' +
	'ORDER BY Nm_Secao'
	EXEC(@SQL)
END
-----mostrar hierarquia de secao por setor com nivel de gestor de secao 
IF @pPAKAGE = 'sd_SL_RL_G_Secao_Setor'
BEGIN
	SET @SQL =
	'SELECT	DISTINCT SC.Id_Secao, ' +
	'		ISNULL(SC.Nm_Secao,' + '''' + '''' + ') AS Nm_Secao ' +
	'FROM	Rl_Hi_Filial_Centro_Custo RFC INNER JOIN Rl_Hi_Centro_Custo_Departamento RCD ON (RFC.Id_Centro_Custo = RCD.Id_Centro_Custo) ' +
	'		INNER JOIN Rl_Hi_Departamento_Setor RDS ON (RCD.Id_Departamento = RDS.Id_Departamento)' +
	'		INNER JOIN Rl_Hi_Setor_Secao RSS ON (RSS.Id_Setor = RDS.Id_Setor)' +
	'		INNER JOIN vw_Secao SC ON (SC.Id_Secao = RSS.Id_Secao)' +
	'WHERE	RFC.Id_Filial IN (' + @vChave + ') ' +
	'AND	(RSS.Id_Secao IN ( SELECT Id_Secao FROM Rl_Perfil_Secao_Usuario WHERE Id_Usuario = ' +  @vId_Usuario + ')' +
	'OR ' + @vId_Usuario_Permissao_Acesso + ' = 1 )' +
	'ORDER BY Nm_Secao'
	EXEC(@SQL)
END 

---------------------------------------------------------------------------------------------------------------
-----valida niveis de hierarquia
IF @pPAKAGE = 'sd_Valida_Nivel_Hierarquia'
BEGIN
	SET @SQL =
	'SELECT	CASE WHEN SUM(ISNULL(Hi_Departamento,0)) >= 1 THEN 1 ELSE 0 END AS Hi_Departamento, ' +
	'		CASE WHEN SUM(ISNULL(Hi_Setor,0)) >= 1 THEN 1 ELSE 0 END AS Hi_Setor, ' +
	'		CASE WHEN SUM(ISNULL(Hi_Secao,0)) >= 1 THEN 1 ELSE 0 END AS Hi_Secao ' +
	'FROM	vw_Filial ' +
	'WHERE	Id_Filial IN (' + @pChave + ')'

	EXEC(@SQL)
END

---------------------------------------------------------------------------------------------------------------
-----monta grid com dados de consumidor quando nao houver a selecao por parte do usuario
IF @pPAKAGE = 'sd_SL_RL_Select'
BEGIN
	SET @SQL =
	'SELECT	DISTINCT C.Id_Consumidor, ' +
	'		ISNULL(C.Nm_Consumidor,' + '''' + '''' + ') AS Nm_Consumidor ' +
	'FROM	Rl_Perfil_Consumidor_Usuario RFC INNER JOIN vw_Consumidor C ON (RFC.Id_Consumidor = C.Id_Consumidor) ' +
	'WHERE	(RFC.Id_Consumidor IN ( SELECT Id_Consumidor FROM Rl_Perfil_Consumidor_Usuario WHERE Id_Usuario = ' +  @vId_Usuario + ')' +
	'OR ' + @vId_Usuario_Permissao_Acesso + ' = 1 )' +
	'ORDER BY Nm_Consumidor'
	EXEC(@SQL)
END
GO
