USE [FVO_Alimentos]
GO
/****** Object:  StoredProcedure [dbo].[pa_Auditoria]    Script Date: 7/31/2025 10:35:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pa_Auditoria] (	@pPAKAGE				VARCHAR(200),
									@pId_Auditoria_Lote		INT			= NULL,
									@pId_Auditoria_Conta	INT			= NULL,
									@pDt_Lote				VARCHAR(6)	= NULL,
									@pId_Conglomerado		INT			= NULL,
									@pId_Usuario_Permissao	INT			= NULL)AS
-----Importa dados do bilhete montando a auditoria
IF @pPAKAGE = 'sp_Imp_Auditoria_Bilhete'
BEGIN
	IF NOT EXISTS(SELECT * FROM Auditoria_Lote WHERE SUBSTRING(CONVERT(VARCHAR(6),Dt_Lote,112),1,6) = @pDt_Lote AND Id_Conglomerado = @pId_Conglomerado)
	BEGIN
		-----monta tabela temporaria com auditoria
		SELECT	L.DC_Nr_Nota_Fiscal,
				B.DB_Tipo_Parametro,
				SUM(DB_Valor_Devolucao) AS DB_Valor_Devolucao INTO #T_Auditoria
		FROM	Bilhete	B	INNER JOIN Lote L ON (B.Id_Lote = L.Id_Lote)
							INNER JOIN Ativo A ON (A.Id_Ativo = l.Id_Ativo)
							INNER JOIN Conglomerado C ON (A.Id_Conglomerado = C.Id_Conglomerado)
		WHERE	A.Id_Conglomerado = @pId_Conglomerado
				AND SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) = @pDt_Lote
				AND NOT L.DC_Nr_Nota_Fiscal IS NULL  
		GROUP BY L.DC_Nr_Nota_Fiscal,B.DB_Tipo_Parametro
		
		IF (SELECT COUNT(*) FROM #T_Auditoria) > 0
		BEGIN
			-----insere auditoria lote
			INSERT INTO Auditoria_Lote
			SELECT (Nm_Conglomerado + ' ' + @pDt_Lote),
					@pDt_Lote,
					@pId_Conglomerado,
					(SELECT SUM(DB_Valor_Devolucao) FROM #T_Auditoria)		
			FROM	vw_Conglomerado 
			WHERE	Id_Conglomerado = @pId_Conglomerado

			-----insere auditoria conta
			DECLARE @v_Id_Auditoria_Lote INT
			SELECT @v_Id_Auditoria_Lote = MAX(Id_Auditoria_Lote) FROM Auditoria_Lote

			INSERT INTO Auditoria_Conta
			SELECT	@v_Id_Auditoria_Lote,
					DC_Nr_Nota_Fiscal,
					SUM(DB_Valor_Devolucao)
			FROM	#T_Auditoria
			GROUP BY DC_Nr_Nota_Fiscal
			
			-----insere auditoria tipo
			INSERT INTO Auditoria_Tipo
			SELECT	AC.Id_Auditoria_Conta,
					DB_Tipo_Parametro,
					DB_Valor_Devolucao
			FROM	#T_Auditoria TA INNER JOIN Auditoria_Conta AC ON (AC.Conta = TA.DC_Nr_Nota_Fiscal)
		END
	END
	-----lista consulta
	SELECT	AC.Conta,
			AT.DB_Tipo_Parametro,
			AT.Valor
	FROM	Auditoria_Lote AL INNER JOIN Auditoria_Conta AC ON (AL.Id_Auditoria_Lote = AC.Id_Auditoria_Lote)
								INNER JOIN Auditoria_Tipo AT ON (AC.Id_Auditoria_Conta = AT.Id_Auditoria_Conta)
	WHERE	SUBSTRING(CONVERT(VARCHAR(6),AL.Dt_Lote,112),1,6) = @pDt_Lote 
			AND AL.Id_Conglomerado = @pId_Conglomerado
	ORDER BY AC.Conta, AT.DB_Tipo_Parametro
END

-----lista auditoria lote
IF @pPAKAGE = 'sp_Auditoria_Lote'
BEGIN
	SELECT	AL.Id_Auditoria_Lote,
			AL.Descricao,
			SUBSTRING(AL.Dt_Lote,1,4) + '/' + SUBSTRING(AL.Dt_Lote,5,2) AS Dt_Lote,
			AL.Valor,
			'../Img_Sistema/Botao/Grid/Grid_View.png' AS Acompanhamento,
			ISNULL((SELECT	TOP 1 Id_Auditoria_Status
			FROM	Auditoria_Status
			WHERE	Id_Auditoria_Status > ISNULL((	SELECT	MAX(AA.Id_Auditoria_Status) 
													FROM	Auditoria_Acompanhamento AA
													WHERE	AA.Id_Auditoria_Lote = AL.Id_Auditoria_Lote), 0)),'') AS Id_Auditoria_Status,
			ISNULL((SELECT	TOP 1 Nm_Auditoria_Status
			FROM	Auditoria_Status
			WHERE	Id_Auditoria_Status > ISNULL((	SELECT	MAX(AA.Id_Auditoria_Status) 
													FROM	Auditoria_Acompanhamento AA
													WHERE	AA.Id_Auditoria_Lote = AL.Id_Auditoria_Lote), 0)),'') AS Nm_Auditoria_Status
	FROM	Auditoria_Lote AL 
	WHERE	AL.Id_Conglomerado = @pId_Conglomerado
	ORDER BY Dt_Lote
END

-----lista auditoria texto
IF @pPAKAGE = 'sp_Auditoria_Texto'
BEGIN
	SELECT	Descricao,
			CONVERT(VARCHAR(10),Data,103) AS Data,
			CONVERT(VARCHAR(10),Dt_Resposta,103) AS Dt_Resposta
	FROM	Auditoria_Texto
	WHERE	Id_Auditoria_Lote = @pId_Auditoria_Lote
END

-----lista auditoria acompanhamento
IF @pPAKAGE = 'sp_Auditoria_Acompanhamento'
BEGIN
	SELECT	ACT.Id_Auditoria_Acompanhamento,
			CONVERT(VARCHAR(10),ACT.Data_Prevista, 103) AS Data_Prevista,
			ACT.Valor_Previsto,
			AC.Conta,
			ACT.Descricao,
			AST.Nm_Auditoria_Status,
			'../Img_Sistema/Botao/Grid/Grid_View.png' AS Acompanhamento
	FROM	Auditoria_Acompanhamento ACT LEFT JOIN Auditoria_Conta AC ON (ACT.Id_Auditoria_Conta = AC.Id_Auditoria_Conta)
										INNER JOIN Auditoria_Status AST ON (AST.Id_Auditoria_Status = ACT.Id_Auditoria_Status)
	WHERE	ACT.Id_Auditoria_Lote = @pId_Auditoria_Lote
	ORDER BY ACT.Id_Auditoria_Lote, ACT.Id_Auditoria_Status
END

-----lista auditoria acompanhamento por conta
IF @pPAKAGE = 'sp_Auditoria_Acompanhamento_Conta'
BEGIN
	SELECT	ACT.Id_Auditoria_Acompanhamento,
			ACT.Data_Prevista,
			ACT.Valor_Previsto,
			AC.Conta,
			ACT.Descricao,
			AST.Nm_Auditoria_Status,
			'Grid_Check.png' AS Acompanhamento
	FROM	Auditoria_Acompanhamento ACT LEFT JOIN Auditoria_Conta AC ON (ACT.Id_Auditoria_Conta = AC.Id_Auditoria_Conta)
										INNER JOIN Auditoria_Status AST ON (AST.Id_Auditoria_Status = ACT.Id_Auditoria_Status)
	WHERE	AC.Id_Auditoria_Conta = @pId_Auditoria_Conta
	ORDER BY ACT.Id_Auditoria_Lote, ACT.Id_Auditoria_Status
END

-----consulta auditoria
IF @pPAKAGE = 'sp_Auditoria_Consulta'
BEGIN
	-----monta dados
	SELECT	AL.Id_Auditoria_Lote,
			AL.Descricao AS Vencimento,
			AL.Valor AS Auditado,
			
			(SELECT SUM(Total_Cobrado) FROM Lote L 
			WHERE SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) = AL.Dt_Lote
					AND L.Id_Ativo IN (SELECT Id_Ativo FROM Ativo WHERE Id_Conglomerado = @pId_Conglomerado)) AS Faturado,
			
			CONVERT(VARCHAR(100), CAST(((AL.Valor /
			(SELECT SUM(Total_Cobrado) * -1 FROM Lote L
			WHERE SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) = AL.Dt_Lote
					AND L.Id_Ativo IN (SELECT Id_Ativo FROM Ativo WHERE Id_Conglomerado = @pId_Conglomerado))) * 100) AS DECIMAL(10,2))) + '%' AS Erro,
			
			AST.Nm_Auditoria_Status,
			AC.Valor_Previsto INTO #Temp_Auditoria
	FROM	Auditoria_Lote AL LEFT JOIN Auditoria_Acompanhamento AC ON (AL.Id_Auditoria_Lote = AC.Id_Auditoria_Lote AND AC.Id_Auditoria_Conta IS NULL)
							LEFT JOIN dbo.Auditoria_Status AST ON (AC.Id_Auditoria_Status = AST.Id_Auditoria_Status)
	WHERE	AL.Id_Conglomerado = @pId_Conglomerado

	IF EXISTS(SELECT* FROM #Temp_Auditoria)
	BEGIN
		-----monta pivot
		DECLARE @SQL AS VARCHAR(8000)
		DECLARE @Filtro_Pivot VARCHAR(8000)
		SELECT @Filtro_Pivot = '', @SQL = ''
		SELECT @Filtro_Pivot = @Filtro_Pivot + '[' + Nm_Auditoria_Status + '],' FROM Auditoria_Status ORDER BY Id_Auditoria_Status
		SET @Filtro_Pivot = SUBSTRING(@Filtro_Pivot,1,(LEN(@Filtro_Pivot) - 1))
		SET @SQL = 	'SELECT *
					FROM #Temp_Auditoria
					PIVOT (SUM(Valor_Previsto) FOR Nm_Auditoria_Status IN (' + @Filtro_Pivot +
					')) Retorno'
		EXEC(@SQL)
	END
END

-----monta coluna
IF @pPAKAGE = 'sp_Coluna_Consulta'
BEGIN
	SELECT 1 AS ID, 'Id_Auditoria_Lote' AS Descricao UNION
	SELECT 2 AS ID, 'Vencimento' AS Descricao UNION
	SELECT 3 AS ID, 'Faturado' AS Descricao UNION
	SELECT 4 AS ID, 'Auditado' AS Descricao UNION
	SELECT 5 AS ID, 'Erro' AS Descricao UNION
	SELECT	Id_Auditoria_Status + 5 AS ID,
			Nm_Auditoria_Status AS Descricao
	FROM	Auditoria_Status
	ORDER BY ID
END

-----grafico dos maiores ofencores por conglomerado
IF @pPAKAGE = 'sp_Auditoria_Grafico_Conglomerado'
BEGIN
	SELECT	TOP 10 AT.DB_Tipo_Parametro AS Descricao, CASE WHEN SUM(AT.Valor) < 0 THEN SUM(AT.Valor) * - 1 ELSE SUM(AT.Valor) END AS Valor
	FROM	Auditoria_Tipo AT INNER JOIN Auditoria_Conta AC ON (AT.Id_Auditoria_Conta = AC.Id_Auditoria_Conta)
							INNER JOIN Auditoria_Lote AL ON (AL.Id_Auditoria_Lote = AC.Id_Auditoria_Lote)
	WHERE	AL.Id_Conglomerado = @pId_Conglomerado
	GROUP BY DB_Tipo_Parametro
	ORDER BY Valor DESC
END

-----retorna status de acompanhamento 
IF @pPAKAGE = 'sp_Acompanhamento_Status'
BEGIN
	SELECT	Descricao,
			CONVERT(VARCHAR,Data_Prevista,103) As Data,
			CAST(Valor_Previsto AS DECIMAL(10,2)) AS Valor
	FROM	dbo.Auditoria_Acompanhamento
	WHERE	Id_Auditoria_Lote = @pId_Auditoria_Lote
END

-----retorna arquivo de contestacao 
IF @pPAKAGE = 'sp_Arquivo_Constestacao'
BEGIN
	SELECT	L.DC_Nr_Nota_Fiscal							AS Conta,
			A.Nr_Ativo									AS Ativo,
			C.Nm_Conglomerado							AS Conglomerado,
			AT.Nm_Ativo_Tipo							AS Tipo,
			B.Nm_Bilhete_Descricao						AS Descricao,
			B.Nm_Bilhete_Tipo							AS Tipo,
			B.DB_Data_Hora								AS Data_Hora,
			B.DB_Destino								AS Destino,
			B.DB_Consumo_Formatado						AS Consumo,
			CAST(B.DB_Custo AS DECIMAL(10,2))			AS Valor,
			CAST(B.DB_Custo_Cobrado AS DECIMAL(10,2))	AS Valor_Cobrado,
			B.DB_Valor_Devolucao						AS Devolucao,
			ISNULL((SELECT TOP 1 SC.Nm_Consumidor FROM vw_Alocacao_Ativo_Consumidor SAAC INNER JOIN vw_Consumidor SC ON SAAC.Id_Consumidor = SC.Id_Consumidor WHERE SAAC.Id_Ativo = A.Id_Ativo),'') AS Consumidor,
			ISNULL((SELECT TOP 1 SC.Matricula FROM vw_Alocacao_Ativo_Consumidor SAAC INNER JOIN vw_Consumidor SC ON SAAC.Id_Consumidor = SC.Id_Consumidor WHERE SAAC.Id_Ativo = A.Id_Ativo),'') AS Matricula
	FROM	vw_Bilhete B	INNER JOIN Lote L ON L.Id_Lote = B.Id_Lote
							INNER JOIN Ativo A ON A.Id_Ativo = L.Id_Ativo
							INNER JOIN Conglomerado C ON A.Id_Conglomerado = C.Id_Conglomerado
							INNER JOIN Ativo_Tipo AT ON A.Id_Ativo_Tipo = AT.Id_Ativo_Tipo  
	WHERE	SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) = @pDt_Lote
			AND A.Id_Conglomerado = @pId_Conglomerado 
			AND B.DB_Valor_Devolucao < 0
END
GO
