USE [FVO_Alimentos]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Log_Estoque]    Script Date: 7/31/2025 10:35:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_Log_Estoque] (@pPakage					VARCHAR(200),
											@pPakage_Filtro				VARCHAR(200)	= NULL,
											@pId_Filtro_1				VARCHAR(MAX)	= NULL,
											@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
											@pId_Filtro_Usuario			INT				= NULL,
											@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
											@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
											@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
											@pDt_LoteDe					VARCHAR(6)		= NULL,
											@pDt_LoteAte				VARCHAR(6)		= NULL,
											@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS

	SELECT	ISNULL(AT.Nr_Ativo, '') AS Ativo,
			ISNULL(ATP.Nm_Ativo_Tipo , '') AS Tipo,
			ISNULL(EA.Nr_Aparelho, '') AS Aparelho,
			ISNULL(AM.Nm_Ativo_Modelo , '') AS Modelo,
			ISNULL(CO.Nm_Consumidor, '') AS Consumidor,
			ISNULL(CO.Matricula, '') AS Matricula,
			LR.Data,
			CASE WHEN LR.Operacao = 'Insert_Rl_Consumidor_Ativo' THEN 'Insere Ativo'
				WHEN LR.Operacao = 'Delete_Rl_Consumidor_Ativo' THEN 'Retira Ativo'
				WHEN LR.Operacao = 'Insert_Rl_Estoque_Aparelho_Ativo' THEN 'Retira Equipamento'
				WHEN LR.Operacao = 'Delete_Rl_Estoque_Aparelho_Ativo' THEN 'Retira Equipamento'
				ELSE 'N/A' END AS Operacao
		    INTO  #Temp_Export
	FROM	Log_Rastreio_Estoque_Aparelho LR	LEFT JOIN Consumidor CO ON LR.Id_Consumidor = CO.Id_Consumidor 
												LEFT JOIN Ativo AT ON AT.Id_Ativo = LR.Id_Ativo
												LEFT JOIN Estoque_Aparelho EA ON EA.Id_Aparelho = LR.Id_Aparelho
												LEFT JOIN Ativo_Tipo ATP ON ATP.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
												LEFT JOIN Ativo_Modelo AM ON AM.Id_Ativo_Modelo = AT.Id_Ativo_Modelo 
	ORDER BY Ativo, Data
	
-----exportacao
IF @pPakage = 'sp_Estoque_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Estoque'
BEGIN
	SELECT * FROM #Temp_Export
END
GO
