USE [FVO_Alimentos]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Apontamento]    Script Date: 7/31/2025 10:35:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_Apontamento]	(	@pPakage					VARCHAR(200),
												@pPakage_Filtro				VARCHAR(200)	= NULL,
												@pId_Filtro_1				VARCHAR(MAX)	= NULL,
												@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
												@pId_Filtro_Usuario			INT				= NULL,
												@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
												@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
												@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
												@pDt_LoteDe					VARCHAR(6)		= NULL,
												@pDt_LoteAte				VARCHAR(6)		= NULL,
												@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS
SELECT	C.Nm_Consumidor			AS Consumidor,
			c.EMail					AS E_Mail,		
			UP.Nm_Usuario_Perfil	AS Perfil,
			C.Matricula				AS Matricula,
			F.Nm_Filial				AS Filial, 
			CC.Cd_Centro_Custo		AS CDC,
			DP.Nm_Departamento		AS Departamento,
			ST.Nm_Setor				AS Setor,
			SC.Nm_Secao				AS Seção,
			Nr_Ativo				AS Ativo,
			Nm_Ativo_Tipo			AS Tipo,
			CL.Nm_Conglomerado		AS Conglomerado,    
			U.Nm_Usuario			AS Usuario,
			CONVERT(VARCHAR(10),L.Dt_Lote,103) AS Lote,
			(SELECT CONVERT(VARCHAR(10),Dt_Visita,103) FROM LOTE_MARCACAO WHERE ID_LOTE = L.ID_LOTE AND ID_USUARIO = U.ID_USUARIO) AS Visitado,
			(SELECT CONVERT(VARCHAR(10),Dt_Fechamento,103) FROM LOTE_MARCACAO WHERE ID_LOTE = L.ID_LOTE AND ID_USUARIO = U.ID_USUARIO) AS Fechado,
			(SELECT CONVERT(VARCHAR(10),Dt_Exportacao,103) FROM LOTE_MARCACAO WHERE ID_LOTE = L.ID_LOTE AND ID_USUARIO = U.ID_USUARIO) AS Exportado,
			(SELECT Total_Marcado FROM Lote_Marcacao LM WHERE LM.Id_Lote = L.Id_Lote AND LM.Id_Usuario = U.Id_Usuario) AS Marcado,
			(SELECT CAST(SUM(Total_Consumo) AS DECIMAL(10,2)) FROM vw_Custo_Usuario WHERE ID_LOTE = L.ID_LOTE AND ID_USUARIO = U.ID_USUARIO) AS Total 
			INTO #Temp_Export
	FROM	vw_ATIVO A	INNER JOIN Ativo_Tipo AT ON A.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
						INNER JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = AT.Id_Ativo_Tipo_Grupo)
						INNER JOIN Lote L ON A.Id_Ativo = L.Id_Ativo
						INNER JOIN vw_Alocacao_Ativo_Consumidor AC ON AC.Id_Ativo = A.Id_Ativo
						INNER JOIN Consumidor C ON AC.Id_Consumidor = C.Id_Consumidor
						INNER JOIN vw_Conglomerado CL ON A.Id_Conglomerado = CL.Id_Conglomerado
						INNER JOIN Usuario U ON U.Id_Consumidor = C.Id_Consumidor
						INNER JOIN Si_Usuario_Perfil UP ON UP.Id_Usuario_Perfil = U.Id_Usuario_Perfil
						INNER JOIN Centro_Custo CC ON CC.Id_Centro_Custo = C.Id_Centro_Custo
						INNER JOIN Filial F ON F.Id_Filial = C.Id_Filial 
						LEFT JOIN Departamento DP ON DP.Id_Departamento = C.ID_Departamento
						LEFT JOIN Setor ST ON ST.Id_Setor = C.Id_Setor
						LEFT JOIN Secao SC ON SC.Id_Secao = C.Id_Secao
	WHERE	(ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)
			AND	SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) >= @pDt_LoteDe
			AND SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) <= @pDt_LoteAte
			AND NOT C.Id_Consumidor IN (SELECT Id_Consumidor FROM Estoque_Consumidor)
	ORDER BY C.NM_CONSUMIDOR,C.MATRICULA

-----exportacao
IF @pPakage = 'sp_Apontamento_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----marcacao
IF @pPakage = 'sp_Apontamento'
BEGIN
	SELECT * FROM #Temp_Export 
END

-----grafrico
IF @pPakage = 'sp_Apontamento_Grafico'
BEGIN
	SELECT	Tipo		AS X,
			SUM(Valor)	AS Y
	FROM	(SELECT 	CASE WHEN NOT Fechado IS NULL THEN 'Fechado' ELSE 'Aberto' END AS Tipo,
						1 AS Valor 
			FROM	#Temp_Export) S_T
	GROUP BY Tipo
END
GO
