USE [MDS_Group]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Lote_Hierarquia_Agrupo_CDC_FIXO]    Script Date: 7/31/2025 10:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_Lote_Hierarquia_Agrupo_CDC_FIXO] (	@pPakage					VARCHAR(200),
												@pPakage_Filtro				VARCHAR(200)	= NULL,
												@pId_Filtro_1				VARCHAR(MAX)	= NULL,
												@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
												@pId_Filtro_Usuario			INT				= NULL,
												@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
												@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
												@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
												@pDt_LoteDe					VARCHAR(6)		= NULL,
												@pDt_LoteAte				VARCHAR(6)		= NULL,
												@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS
	DECLARE @SQL AS VARCHAR(8000)
	DECLARE @CALC_DATA AS INT 
	DECLARE @ATE AS INT
	DECLARE @Filtro_Pivot AS VARCHAR(8000)

	

	  select 
  Cd_Centro_Custo AS [Centro de Custo],
 CAST(sum (total) AS DECIMAL(10,2)) AS Total
 
    
	INTO #Temp_Export
	from [Amil].[dbo].[Lote] as C
  inner join Ativo as F on  c.Id_Ativo = f.Id_Ativo
  inner join Ativo_tipo as D on f.Id_Ativo_Tipo = d.Id_Ativo_Tipo
  inner join Ativo_Tipo_Grupo as E on d.Id_Ativo_Tipo_Grupo = e.Id_Ativo_Tipo_Grupo
  inner join Rl_Consumidor_Ativo as G on f.Id_Ativo = g.Id_Ativo
  inner join Consumidor as H on g.Id_Consumidor = h.Id_Consumidor
  inner join Centro_Custo as I on h.Id_Centro_Custo = I.Id_Centro_Custo

   WHERE   SUBSTRING(CONVERT(VARCHAR(6),c.Dt_Lote,112),1,6) >= @pDt_LoteDe and Nm_Ativo_Tipo_Grupo = 'Telefonia_Fixa' 

  group by Cd_Centro_Custo
  order by [Centro de Custo]


  IF @pPakage = 'sp_Lote_Mes_Export'
BEGIN
	SELECT * FROM #Temp_Export
END

-----grid
IF @pPakage = 'sp_Lote_Mes'
BEGIN
	SELECT * FROM #Temp_Export
END
GO
