USE [MDS_Group]
GO
/****** Object:  StoredProcedure [dbo].[pa_Solicitacao_Data_Parada]    Script Date: 7/31/2025 10:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Solicitacao_Data_Parada] (	@pPakage				VARCHAR(200),
														@pId_Data_Parada		INT			= NULL,
														@pData					DATETIME	= NULL,
														@pDescricao				VARCHAR(50)	= NULL,
														@pId_Usuario_Permissao	INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Solicitacao_Data_Parada WHERE Data = @pData)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Solicitacao_Data_Parada
			SET		Data = @pData,
					Descricao = @pDescricao
			WHERE	Id_Data_Parada = @pId_Data_Parada
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Solicitacao_Data_Parada (	Data,
													Descricao) 
			VALUES(	@pData,
					@pDescricao)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		DELETE	Solicitacao_Data_Parada 
		WHERE	Id_Data_Parada = @pId_Data_Parada
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Data_Parada,'') AS Id_Data_Parada,
			ISNULL(Data,'01/01/1900') AS Data,
			ISNULL(Descricao,'') AS Descricao
	FROM	Solicitacao_Data_Parada
	WHERE	Id_Data_Parada = @pId_Data_Parada
END

-----recalcula data de venciemnto de chamados em aberto
IF @pPAKAGE = 'sp_Recalcula'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
	BEGIN
		UPDATE	Solicitacao
		SET		Dt_Vencimento = (SELECT Data_Vencimento 
								FROM dbo.fu_Prazo_Incidente(S.Dt_Solicitacao,
															(SELECT	sub_SS.Horas 
															FROM	Solicitacao_Tipo sub_ST INNER JOIN Solicitacao_SLA sub_SS ON sub_ST.Id_Solicitacao_SLA = sub_SS.Id_Solicitacao_SLA 
															WHERE	sub_ST.Id_Solicitacao_Tipo = S.Id_Solicitacao_Tipo)))
		FROM	Solicitacao S
		WHERE Fl_Status = 1
	END		
END
GO
