USE [MDS_Group]
GO
/****** Object:  StoredProcedure [dbo].[pa_si_Contrato_a_Vencer]    Script Date: 7/31/2025 10:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  procedure  [dbo].[pa_si_Contrato_a_Vencer] 

AS

Begin 

INSERT into [dbo].[Mail_Caixa_Saida] 

SELECT 
	'12',
	(select email  from Consumidor where Nm_Consumidor = 'K2A'),
	NULL,
	--'Contrato a vencer ' + Nr_Contrato + ' Data encerramento ' + convert (varchar, Dt_Fim_Vigencia,101  ) ,
	'Contrato a vencer em ' +convert(varchar(max),( DATEDIFF (day  , GETDATE(),[Dt_Fim_Vigencia])  ) ) + ' dias - Contrato: ' +Nr_Contrato,
	GETDATE()-1,
	null,
	'0',
	'0',
	'0'
	
	from Contrato
	
	where Dt_Fim_Vigencia <= CONVERT (date, GETDATE()+90) and Dt_Fim_Vigencia > CONVERT (date, GETDATE())and Id_Contrato_Status >= 3

end
GO
