USE [MDS_Group]
GO
/****** Object:  StoredProcedure [dbo].[pa_Contrato_Aditivo]    Script Date: 7/31/2025 10:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Contrato_Aditivo] (	@pPakage					VARCHAR(200)	= NULL,
												@pId_Contrato_Aditivo		INT				= NULL,
												@pId_Contrato				INT				= NULL,
												@pDt_Vigencia				DATETIME		= NULL,
												@pDescricao					VARCHAR(8000)	= NULL,	
												@pId_Usuario_Permissao		INT				= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Contrato_Aditivo WHERE Id_Contrato_Aditivo = @pId_Contrato_Aditivo)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Contrato_Aditivo 
			SET		Id_Contrato			= @pId_Contrato,
					Dt_Vigencia			= @pDt_Vigencia,
					Descricao			= @pDescricao
			WHERE	Id_Contrato_Aditivo = @pId_Contrato_Aditivo
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Contrato_Aditivo (	Id_Contrato,
											Dt_Vigencia,
											Descricao,
											Fl_Desativado) 
			VALUES(	@pId_Contrato,
					@pDt_Vigencia,
					@pDescricao,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Contrato_Aditivo 
		SET		Fl_Desativado = 1 
		WHERE	Id_Contrato_Aditivo = @pId_Contrato_Aditivo
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Contrato_Aditivo, '')		AS Id_Contrato_Aditivo,
			ISNULL(Id_Contrato,'')				AS Id_Contrato,
			ISNULL(Dt_Vigencia,'1900-01-01')	As Dt_Vigencia,
			ISNULL(Descricao,'')				AS Descricao
	FROM	vw_Contrato_Aditivo	
	WHERE	Id_Contrato_Aditivo = @pId_Contrato_Aditivo
END












GO
