USE [MDS_Group]
GO
/****** Object:  StoredProcedure [dbo].[pa_Agenda_Marcacao_Particular]    Script Date: 7/31/2025 10:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Agenda_Marcacao_Particular] (	@pPakage			VARCHAR(200),
														@pId_Usuario		INT			= NULL,
														@pNr_Destino		VARCHAR(50)	= NULL,
														@pNm_Destino		VARCHAR(50)	= NULL,
														@pTipo				INT			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF NOT EXISTS (SELECT * FROM Agenda_Marcacao_Particular WHERE Id_Usuario = @pId_Usuario AND Nr_Destino = @pNr_Destino)
	BEGIN	
		INSERT INTO Agenda_Marcacao_Particular (Id_Usuario,
												Nr_Destino,
												Nm_Destino,
												Tipo)
		VALUES(	@pId_Usuario,
				@pNr_Destino,
				@pNm_Destino,
				@pTipo)
	END
	ELSE
	BEGIN
		UPDATE	Agenda_Marcacao_Particular
		SET		Nm_Destino = @pNm_Destino,
				Tipo = @pTipo
		WHERE	Id_Usuario = @pId_Usuario 
				AND Nr_Destino = @pNr_Destino
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID_Discado'
BEGIN
	SELECT	ISNULL(Nr_Destino,'') AS Nr_Destino,
			ISNULL(Nm_Destino,'') AS Nm_Destino,
			CASE WHEN Tipo = 1 THEN 'True' ELSE 'False' END AS Tipo
	FROM	Agenda_Marcacao_Particular
	WHERE	Id_Usuario = @pId_Usuario
			AND NOT LEN(Nr_Destino) = 0
			AND (Nm_Destino LIKE '%' + REPLACE(@pNm_Destino, ' ', '%') + '%' OR Nr_Destino LIKE '%' + REPLACE(@pNm_Destino, ' ', '%') + '%' OR @pNm_Destino IS NULL)
	ORDER BY Nr_Destino ASC
END

-----consulta para montar o page load
IF @pPAKAGE = 'sp_SL_ID_Discado_Page_Load'
BEGIN
	SELECT	ISNULL(Nr_Destino,'') AS Nr_Destino,
			ISNULL(Nm_Destino,'') AS Nm_Destino,
			CASE WHEN Tipo = 1 THEN 'True' ELSE 'False' END AS Tipo
	FROM	Agenda_Marcacao_Particular
	WHERE	Id_Usuario = @pId_Usuario
			AND NOT LEN(Nm_Destino) = 0
			AND NOT Nm_Destino IS NULL
	ORDER BY Nm_Destino 
END


-----cria agenda das marcacoes particulares
IF @pPAKAGE = 'sp_Cria_Agenda'
BEGIN
	-----limpa numero do grupo para atualização
	DELETE	FROM Agenda_Marcacao_Particular 
	WHERE	Id_Usuario = @pId_Usuario
			AND Nr_Destino IN (SELECT Nr_Ativo FROM Ativo)

	-----insere numeros na agenda
	SELECT	DISTINCT @pId_Usuario AS Id_Usuario,
			DB_Destino,
			ISNULL((SELECT	TOP 1 AC.Nm_Consumidor 
					FROM	vw_Ativo_Consumidor AC
					WHERE	AC.Nr_Ativo = B.DB_Destino)
			,'') AS Nm_Destino,
			2 AS Tipo INTO #Temp_Agenda_Particular
	FROM	Bilhete B	INNER JOIN Lote_Marcacao LM ON (B.Id_Lote = LM.Id_Lote)
						INNER JOIN Ativo AT ON (AT.Id_Ativo = B.Id_Ativo)
						INNER JOIN Ativo_Tipo ATP ON (ATP.Id_Ativo_Tipo = AT.Id_Ativo_Tipo)
						INNER JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo) 
	WHERE	LM.Id_Usuario = @pId_Usuario
			AND NOT EXISTS(SELECT * FROM Si_Desmarca_Bilhete SDB WHERE SDB.DB_Tipo_Parametro = B.DB_Tipo_Parametro)
			AND NOT EXISTS(	SELECT * FROM Agenda_Marcacao_Particular
							WHERE	Id_Usuario = @pId_Usuario 
									AND Nr_Destino = B.DB_Destino)
			AND ATG.Nm_Ativo_Tipo_Grupo IN ('Telefonia_Movel','Telefonia_Fixa')			

	-----insere
	INSERT INTO Agenda_Marcacao_Particular
	SELECT * FROM #Temp_Agenda_Particular
END
GO
