USE [MDS_Group]
GO
/****** Object:  StoredProcedure [dbo].[cn_T_Pacote_Linha]    Script Date: 7/31/2025 10:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cn_T_Pacote_Linha] (	@pPakage					VARCHAR(200),
											@pPakage_Filtro				VARCHAR(200)	= NULL,
											@pId_Filtro_1				VARCHAR(MAX)	= NULL,
											@pId_Filtro_Filial			VARCHAR(MAX)	= NULL,
											@pId_Filtro_Usuario			INT				= NULL,
											@p_Id_Filtro_Centro_Custo	VARCHAR(MAX)	= NULL,
											@p_Id_Filtro_Departamento	VARCHAR(MAX)	= NULL,
											@p_Id_Filtro_Setor			VARCHAR(MAX)	= NULL,
											@pDt_LoteDe					VARCHAR(6)		= NULL,
											@pDt_LoteAte				VARCHAR(6)		= NULL,
											@pAtivo_Tipo_Grupo			VARCHAR(50)		= NULL) AS
DECLARE @Filtro_Pivot AS VARCHAR(8000)
	DECLARE @SQL AS VARCHAR(8000)

	SET @Filtro_Pivot = ''
	SELECT @Filtro_Pivot = @Filtro_Pivot + '['+DB_Tipo_Parametro+'],' FROM Si_Desmarca_Bilhete
	SET @Filtro_Pivot = SUBSTRING(@Filtro_Pivot, 1, LEN(@Filtro_Pivot) - 1)


	-----filtra dados
	SELECT	(SELECT MAX(DC_Nr_Nota_Fiscal) FROM Lote WHERE Id_Ativo = AT.Id_Ativo AND Dt_Lote = (SELECT MAX(Dt_Lote) FROM Lote WHERE Id_Ativo = AT.Id_Ativo)) AS Conta,
			(SELECT SUBSTRING(CONVERT(VARCHAR(10), MAX(Dt_Lote),103),4,7) FROM Lote WHERE Id_Ativo = AT.Id_Ativo) AS [Ultima_Conta],
			AT.Nr_Ativo,
			CG.Nm_Conglomerado		AS Conglomerado,
			ATP.Nm_Ativo_Tipo		AS Tipo,
			ATS.Nm_Ativo_Status		AS [Status_Ativo],
			CASE WHEN AT.Fl_Desativado = 1 THEN 'Desativado' ELSE 'Ativo' END AS [Situacao_Cadastral],
			C.Nm_Consumidor			AS Consumidor,
			U.Nm_Usuario			AS Usuario,
			F.Nm_Filial				AS Filial,
			CC.Cd_Centro_Custo		AS CDC,
			DP.Nm_Departamento		AS Departamento,
			B.DB_Tipo_Parametro,
			SUM(B.DB_Custo) + SUM(DB_Valor_Devolucao)  AS Total
			INTO #Temp_Export
	FROM	Ativo AT	INNER JOIN Lote L ON AT.Id_Ativo = L.Id_Ativo
						INNER JOIN vw_Bilhete B ON B.Id_Lote = L.Id_Lote
						INNER JOIN Conglomerado CG ON CG.Id_Conglomerado = AT.Id_Conglomerado
						INNER JOIN Ativo_Tipo ATP ON ATP.Id_Ativo_Tipo = AT.Id_Ativo_Tipo
						INNER JOIN Ativo_Tipo_Grupo ATG ON (ATG.Id_Ativo_Tipo_Grupo = ATP.Id_Ativo_Tipo_Grupo)
						LEFT JOIN Ativo_Status ATS ON AT.Id_Ativo_Status = ATS.Id_Ativo_Status
						LEFT JOIN Rl_Consumidor_Ativo RCA ON RCA.Id_Ativo = AT.Id_Ativo
						LEFT JOIN Consumidor C ON RCA.Id_Consumidor = C.Id_Consumidor
						LEFT JOIN Usuario U ON C.Id_Consumidor = U.Id_Consumidor 
						LEFT JOIN Filial F ON F.Id_Filial = C.Id_Filial
						LEFT JOIN Centro_Custo CC ON CC.Id_Centro_Custo = c.Id_Centro_Custo 
						LEFT JOIN Departamento DP ON DP.Id_Departamento = C.Id_Consumidor_Tipo
	WHERE	DB_Tipo_Parametro IN (SELECT DB_Tipo_Parametro FROM Si_Desmarca_Bilhete)
			AND SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) >= @pDt_LoteDe
			AND SUBSTRING(CONVERT(VARCHAR(6),L.Dt_Lote,112),1,6) <= @pDt_LoteAte
			AND (ATG.Nm_Ativo_Tipo_Grupo = @pAtivo_Tipo_Grupo OR @pAtivo_Tipo_Grupo IS NULL)
	GROUP BY	AT.Id_Ativo,
				AT.Nr_Ativo,
				AT.Fl_Desativado, 
				B.DB_Tipo_Parametro,
				CG.Nm_Conglomerado,
				ATP.Nm_Ativo_Tipo,
				ATS.Nm_Ativo_Status,
				C.Nm_Consumidor,
				U.Nm_Usuario,
				F.Nm_Filial,
				CC.Cd_Centro_Custo,
				DP.Nm_Departamento
	ORDER BY AT.Nr_Ativo

-----exportacao
IF @pPakage = 'sp_Pacote_Linha_Export'
BEGIN
	-----monta consulta
	SET @SQL = 	'SELECT	*	
				FROM #Temp_Export
				PIVOT (SUM(Total) FOR DB_Tipo_Parametro IN (' + @Filtro_Pivot +
				')) Retorno'

	EXEC (@SQL)
END

-----grid
IF @pPakage = 'sp_Pacote_Linha'
BEGIN
	-----monta consulta
	SET @SQL = 	'SELECT	*	
				FROM #Temp_Export
				PIVOT (SUM(Total) FOR DB_Tipo_Parametro IN (' + @Filtro_Pivot +
				')) Retorno'

	EXEC (@SQL)
END

-----grafrico
IF @pPakage = 'sp_Pacote_Linha_Grafico'
BEGIN
	-----filtra dados
	SELECT	DB_Tipo_Parametro AS X, 
			SUM(Total) AS Y
	FROM	#Temp_Export
	WHERE	Total > 0 
	GROUP BY DB_Tipo_Parametro
END
GO
