USE [MDS_Group]
GO
/****** Object:  StoredProcedure [dbo].[pa_Ativo_Modelo]    Script Date: 7/31/2025 10:39:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_Ativo_Modelo] (	@pPAKAGE				VARCHAR(200),
											@pId_Ativo_Modelo		INT			= NULL,
											@pNm_Ativo_Modelo		VARCHAR(50)	= NULL,
											@pId_Ativo_Tipo			INT			= NULL,
											@pId_Ativo_Fabricante	INT			= NULL,
											@pId_Usuario_Permissao	int			= NULL) AS
-----insere ou atualiza registro
IF @pPAKAGE = 'sp_SM'
BEGIN
	IF EXISTS (SELECT * FROM Ativo_Modelo WHERE Id_Ativo_Modelo = @pId_Ativo_Modelo)
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Alterar') = 2
		BEGIN
			UPDATE	Ativo_Modelo 
			SET		Id_Ativo_Tipo		= @pId_Ativo_Tipo,
					Id_Ativo_Fabricante	= @pId_Ativo_Fabricante,
					Nm_Ativo_Modelo		= @pNm_Ativo_Modelo
			WHERE	Id_Ativo_Modelo = @pId_Ativo_Modelo
		END
	END
	ELSE
	BEGIN
		IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Incluir') = 2
		BEGIN
			INSERT INTO Ativo_Modelo (	Id_Ativo_Tipo,
										Id_Ativo_Fabricante,
										Nm_Ativo_Modelo,
										Fl_Desativado) 
			VALUES(	@pId_Ativo_Tipo,
					@pId_Ativo_Fabricante,
					@pNm_Ativo_Modelo,
					0)
		END
	END
END

-----desativa resgistro
IF @pPAKAGE = 'sp_SE'
BEGIN
	IF dbo.Fu_Permissao(@pId_Usuario_Permissao,'Excluir') = 2
	BEGIN
		UPDATE	Ativo_Modelo 
		SET		Fl_Desativado = 1 
		WHERE	Id_Ativo_Modelo = @pId_Ativo_Modelo
	END
END

-----consulta pelo ID do registro
IF @pPAKAGE = 'sp_SL_ID'
BEGIN
	SELECT	ISNULL(Id_Ativo_Modelo,'')		AS Id_Ativo_Modelo,
			ISNULL(Id_Ativo_Tipo,'')		AS Id_Ativo_Tipo,
			ISNULL(Id_Ativo_Fabricante,'')	AS Id_Ativo_Fabricante,
			ISNULL(Nm_Ativo_Modelo,'')		AS Nm_Ativo_Modelo
	FROM	vw_Ativo_Modelo
	WHERE	Id_Ativo_Modelo = @pId_Ativo_Modelo
END


GO
